Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-12, with the labels that each got.

#19809 typo: Double word "the"
  articles/azure-functions/durable/durable-functions-create-portal.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#19808 typo: Double word "that"
  articles/role-based-access-control/overview.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#19810 typo: Double word "Azure"
  articles/active-directory/develop/active-directory-v2-protocols.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#19121 typo: successfull -> successful
  articles/active-directory/saas-apps/foreseecxsuite-tutorial.md
  articles/active-directory/saas-apps/iwellnessnow-tutorial.md
  articles/active-directory/saas-apps/sansan-tutorial.md
  articles/virtual-network/virtual-networks-sample-app.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#19127 typo: occurence -> occurrence
  articles/backup/backup-azure-log-analytics-data-model.md
  articles/backup/backup-azure-reports-data-model.md
  articles/data-factory/concepts-pipeline-execution-triggers.md
  articles/data-factory/how-to-create-schedule-trigger.md
  articles/machine-learning/team-data-science-process/hive-walkthrough.md
  articles/monitoring-and-diagnostics/monitoring-alerts-managing-smart-groups.md
  articles/time-series-insights/time-series-insights-environment-mitigate-latency.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#19358 typo: grou -> group
  articles/automation/troubleshoot/onboarding.md
  articles/site-recovery/site-recovery-create-recovery-plans.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#19813 chore: Cleanup app-service-mobile-net-upgrading-from-mobile-services
  articles/app-service-mobile/app-service-mobile-net-upgrading-from-mobile-services.md
Labels: Change sent to author, app-service-mobile/svc, ready-to-merge

#19186 Fixed a syntax error on functions-bindings-service-bus.md
  articles/azure-functions/functions-bindings-service-bus.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#19856 Fix spelling error.
  articles/virtual-machines/linux/tutorial-monitoring.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#19689 old vm name for BGPNAT01
  articles/azure-stack/asdk/asdk-deploy-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#19838 Rename old service name
  articles/migrate/toc.yml
Labels: Change sent to author, do-not-merge

#19837 Rename old service name
  articles/service-fabric/service-fabric-tutorial-deploy-container-app-with-cicd-vsts.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#18046 Fix example of complex variable
  articles/site-recovery/site-recovery-runbook-automation.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#19835 Rename old service name
  articles/azure-stack/user/azure-stack-solution-geo-distributed.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#19768 Minor update in code example
  articles/container-instances/container-instances-tutorial-deploy-app.md
Labels: Change sent to author, container-instances/svc, ready-to-merge

#19883 Update connect-logon.md
  articles/virtual-machines/windows/connect-logon.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#19802 Adding sampling setting for v2.x
  articles/azure-functions/functions-monitoring.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#19895 Update tutorial-manage-data-disk.md
  articles/virtual-machines/windows/tutorial-manage-data-disk.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#19890 Update how-to-build-deploy-onnx.md
  articles/machine-learning/service/how-to-build-deploy-onnx.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#15431 Corrected EventHub Creation script
  articles/event-hubs/event-hubs-quickstart-powershell.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#19130 'AD' may be Andorra
  articles/frontdoor/front-door-geo-filtering.md
Labels: Change sent to author, frontdoor/svc, ready-to-merge

#19898 Update hybrid-azuread-join-plan.md
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#19157 Fixing wrong email address
  articles/cognitive-services/Speech-Service/how-to-customize-voice-font.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#19908 IKE Phase 2 - SA Lifetime parameter measurement
  articles/azure-stack/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#19913 Rename old service name
  articles/lab-services/devtest-lab-guidance-get-started.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#19914 Rename old service name
  articles/lab-services/devtest-lab-guidance-governance-cost-ownership.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#19915 Rename old service name
  articles/lab-services/devtest-lab-guidance-governance-policy-compliance.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#19916 Rename old service name
  articles/lab-services/devtest-lab-guidance-orchestrate-implementation.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#19917 Rename old service name
  articles/lab-services/devtest-lab-integrate-ci-cd-vsts.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#19959 Update python-ingest-data
  articles/data-explorer/python-ingest-data.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#19951 Minor update
  articles/backup/backup-mabs-release-notes-v3.md
Labels: Change sent to author, backup/svc, ready-to-merge

#19857 CC84493: Adding more detail to the example
  articles/azure-functions/functions-bindings-timer.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#19931 Docs: Update for certs
  includes/azure-cloud-services-limits.md
  includes/azure-subscription-limits.md
Labels: Change sent to author, billing/svc, ready-to-merge

#19963 Update python-query-data
  articles/data-explorer/python-query-data.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#19757 Updates for Azure Stack App Service - config deployment sources
  articles/azure-stack/azure-stack-app-service-configure-deployment-sources.md
  articles/azure-stack/media/azure-stack-app-service-configure-deployment-sources/App-service-provider-admin-source-control-configuration.png
  articles/azure-stack/media/azure-stack-app-service-configure-deployment-sources/App-service-provider-admin.png
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#19989 Improved Tomcat JDBC instructions
  articles/app-service/containers/app-service-linux-java.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#19639 New CLI command to list resource types
  articles/azure-resource-manager/move-support-resources.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#19988 Updated obsolete links re PHP
  articles/sql-database/sql-database-libraries.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#20015 typo: Double word "use"
  articles/sql-database/sql-database-geo-replication-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#20016 typo: disastor -> disaster
  articles/sql-database/sql-database-geo-replication-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#20017 typo: Double word "data"
  articles/log-analytics/log-analytics-usage.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#20024 Updating the template Uri to Raw Github Link
  articles/service-fabric-mesh/service-fabric-mesh-howto-deploy-app-sfreliable-disk-volume.md
Labels: Change sent to author, do-not-merge, service-fabric-mesh/svc

#20018 typo: Double word "see"
  articles/dns/dns-getstarted-cli.md
  articles/dns/dns-getstarted-portal.md
Labels: Change sent to author, dns/svc, ready-to-merge

#20031 Updated the table output
  articles/aks/supported-kubernetes-versions.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#20052 Fixed Typo
  articles/traffic-manager/traffic-manager-FAQs.md
Labels: Change sent to author, do-not-merge, traffic-manager/svc

#19818 Update storage-dotnet-how-to-use-queues.md
  articles/storage/queues/storage-dotnet-how-to-use-queues.md
Labels: Change sent to author, ready-to-merge, storage/svc

#19582 Add Azure CLI samples
  articles/storage/common/storage-service-encryption-customer-managed-keys.md
Labels: Change sent to author, do-not-merge, storage/svc

#19751 minor changes
  articles/storage/common/storage-metrics-in-azure-monitor.md
Labels: Change sent to author, do-not-merge, storage/svc

#18584 Update tense for log data change
  articles/monitoring-and-diagnostics/monitoring-overview-activity-logs.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#19028 Not clear enough
  articles/billing/billing-partner-admin-link-started.md
Labels: Change sent to author, billing/svc, do-not-merge

#19459 Update app-service-web-tutorial-java-mysql.md
  articles/app-service/app-service-web-tutorial-java-mysql.md
Labels: Change sent to author, app-service-web/svc, do-not-merge

#19841 subscription or a topic -> subscription on a topic
  articles/service-bus-messaging/service-bus-amqp-protocol-guide.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#19858 Fixing syntax error in Azure AD token sample
  articles/sql-database/sql-database-aad-authentication-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#20067 Update sql-database-designing-cloud-solutions-for-disaster-recovery.md
  articles/sql-database/sql-database-designing-cloud-solutions-for-disaster-recovery.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#19998 Update the links to the Smooth and RTMP specs
  articles/media-services/latest/live-streaming-overview.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#20084 Added UK West and South India to the list
  articles/aks/container-service-quotas.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#20092 Link for Azure Devops Services is broken
  includes/virtual-machines-common-infrastructure-automation.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#20115 Update static-ip.md
  articles/aks/static-ip.md
Labels: Change sent to author, container-service/svc, do-not-merge

#20116 remove reference to exports/action groups
  articles/cost-management/cost-mgt-best-practices.md
Labels: Change sent to author, cost-management/svc, ready-to-merge

#18564 Removed monitor at stonith-sdb as its not needed.
  articles/virtual-machines/workloads/sap/ha-setup-with-stonith.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#20087 minor fixes
  articles/data-explorer/node-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#19877 Adding a note about FIRE_TRIGGERS on Bulk Insert
  articles/sql-database/sql-database-sync-data.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#19786 Please update the infinitecmapus-tutorial.md
  articles/active-directory/saas-apps/infinitecampus-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#19919 Updated Step 3: Grant access to other applications
  articles/active-directory/manage-apps/application-proxy-configure-native-client-application.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#20133 Update to give correct information about Status Monitor
  articles/application-insights/app-insights-monitor-performance-live-website-now.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#20152 typo: Double word "Azure"
  articles/active-directory/fundamentals/active-directory-architecture.md
  articles/azure-cache-for-redis/scripts/cache-keys-ports.md
  articles/azure-cache-for-redis/scripts/create-cache.md
  articles/azure-cache-for-redis/scripts/create-premium-cache-cluster.md
  articles/azure-cache-for-redis/scripts/delete-cache.md
  articles/azure-cache-for-redis/scripts/show-cache.md
  includes/cache-deploy-parameters.md
  includes/redis-cache-access-keys.md
  includes/redis-cache-access-keys_cli.md
  includes/redis-cache-browse.md
  includes/redis-cache-configure-stackexchange-redis-nuget.md
  includes/redis-cache-create.md
  includes/redis-cache-premium-create.md
  includes/redis-cache-service-limits.md
  includes/redis-cli-script-clean-up.md
Labels: Change sent to author, ready-to-merge, redis-cache/svc

#20141 Rename old service name
  articles/logic-apps/logic-apps-create-deploy-template.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#19741 Adding more troubleshooting info
  articles/dev-spaces/troubleshooting.md
Labels: Change sent to author, azure-dev-spaces/svc, ready-to-merge

#19585 Adding --recursive to git clone
  articles/iot-dps/quick-create-simulated-device-tpm-node.md
Labels: Change sent to author, iot-dps/svc, ready-to-merge

#19425 Description doesn't fit to the json snippet.
  articles/azure-functions/functions-bindings-service-bus.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#20161 Fix the style of "Example 6"
  articles/sql-database/elastic-jobs-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#20160 Update hdinsight-apps-install-applications.md
  articles/hdinsight/hdinsight-apps-install-applications.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#20139 Fix dead link
  articles/lab-services/devtest-lab-integrate-ci-cd-vsts.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#20157 Managed Disk quota issue
  articles/azure-stack/azure-stack-update-1808.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#20158 add back managed disk issue
  articles/azure-stack/azure-stack-update-1809.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#19275 Update load-balancer-outbound-rules-overview.md
  articles/load-balancer/load-balancer-outbound-rules-overview.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#19922 azure pipelines branding fix
  articles/service-fabric/service-fabric-tutorial-deploy-app-with-cicd-vsts.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#20195 Update databricks-extract-load-sql-data-warehouse.md
  articles/azure-databricks/databricks-extract-load-sql-data-warehouse.md
Labels: Change sent to author, azure-databricks/svc, do-not-merge

#17521 Clarify meaning of 'Common scenarios' table
  articles/data-lake-store/data-lake-store-access-control.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#20185 Update template-uri for the linux version
  articles/service-fabric-mesh/service-fabric-mesh-quickstart-deploy-container.md
Labels: Change sent to author, ready-to-merge, service-fabric-mesh/svc

#20122 Fixed logging error on sqlFunction.cs
  articles/iot-edge/tutorial-store-data-sql-server.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#20201 Update stream-analytics-with-azure-functions.md
  articles/stream-analytics/stream-analytics-with-azure-functions.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#20209 changed link to microservices page
  articles/iot-accelerators/iot-accelerators-microservices-example.md
Labels: Change sent to author, iot-accelerators/svc, ready-to-merge

#20234 Fix typo
  articles/sql-database/saas-tenancy-video-index-wingtip-brk3120-20171011.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#20241 Fix typo
  articles/cognitive-services/Labs/Conversation-Learner/quickstart.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20246 Fix typo
  articles/iot-hub/quickstart-send-telemetry-android.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#20256 Fix typo
  articles/cognitive-services/LUIS/luis-find-region-csharp.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20257 Fix typo
  articles/cognitive-services/LUIS/luis-find-region-nodejs.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20258 Fix typo
  articles/cognitive-services/LUIS/luis-get-started-node-get-intent.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20267 Fix typo
  articles/cognitive-services/QnAMaker/Quickstarts/publish-kb-csharp.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20268 Fix typo
  articles/cognitive-services/QnAMaker/Quickstarts/publish-kb-nodejs.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20269 Fix typo
  articles/cognitive-services/QnAMaker/Quickstarts/publish-kb-python.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#20250 Added link to microservices page
  articles/application-insights/distributed-tracing.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#20212 Fix typo
  articles/app-service/app-service-managed-service-identity.md
Labels: Change sent to author, app-service/svc, do-not-merge

#20207 Fix typo
  articles/cosmos-db/sql-api-dotnet-samples.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20221 typo: articles/migrate/migrate-best-practices-costs.md
  articles/migrate/migrate-best-practices-costs.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#20224 typo: Double word "the"
  articles/expressroute/expressroute-erdirect-about.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#20233 Fix typo
  articles/cosmos-db/sql-api-sdk-node.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20235 Fix typo
  articles/data-lake-store/data-lake-store-data-operations-net-sdk.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#20232 Fix typo
  articles/notebooks/create-clone-jupyter-notebooks.md
Labels: Change sent to author, do-not-merge, notebooks/svc

#20240 Fix typo
  articles/event-hubs/event-hubs-node-get-started-send.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#20242 Fix typo
  articles/postgresql/concepts-aks.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#20243 Fix typo
  articles/batch/tutorial-r-doazureparallel.md
Labels: Change sent to author, batch/svc, do-not-merge

#20244 Fix typo
  articles/cosmos-db/create-mongodb-flask.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20262 Fix typo
  articles/cognitive-services/Labs/Anomaly-Finder/tutorials/csharp-tutorial.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#20210 fix typo
  articles/event-hubs/index.yml
Labels: Change sent to author, do-not-merge

#20238 updated table for automl
  articles/machine-learning/service/how-to-set-up-training-targets.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge

#20263 Fix typo
  articles/storage/queues/storage-python-how-to-use-queue-storage.md
Labels: Change sent to author, ready-to-merge, storage/svc

#20315 Added link to integration page
  articles/service-bus-messaging/service-bus-messaging-overview.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#20247 Fix typo
  articles/mysql/concepts-aks.md
Labels: Change sent to author, do-not-merge, mysql/svc

#20248 Fix typo
  articles/service-fabric/service-fabric-common-questions.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#20251 Fix typo
  articles/cognitive-services/Bing-Image-Search/image-sdk-python-quickstart.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#20332 Fixed anaconda install link
  articles/hdinsight/spark/apache-spark-jupyter-notebook-install-locally.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#20245 Fix typo
  articles/active-directory/develop/quickstart-v1-android.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20252 Fix typo
  articles/cognitive-services/Bing-Web-Search/quickstarts/python.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#20253 Fix typo
  articles/iot-central/howto-build-iotc-device-bridge.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#20254 Fix typo
  articles/cognitive-services/Emotion/Tutorials/CSharpTutorial.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#20265 Fix typo
  articles/cosmos-db/create-table-nodejs.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20266 Fix typo
  articles/cosmos-db/create-table-python.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20270 Fix typo
  includes/active-directory-develop-guidedsetup-javascriptspa-use.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20310 Fix typo & delete unnecessary space
  articles/api-management/api-management-policy-expressions.md
Labels: Change sent to author, api-management/svc, do-not-merge

#20271 Fix typo
  articles/storage/files/storage-python-how-to-use-file-storage.md
Labels: Change sent to author, do-not-merge, storage/svc

#20272 Fix typo
  articles/virtual-machines/linux/create-upload-openbsd.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#20273 Fix typo
  articles/event-hubs/event-hubs-role-based-access-control.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#20274 Fix typo
  articles/cosmos-db/create-mongodb-java.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20275 Fix typo
  articles/cosmos-db/create-sql-api-nodejs.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#20279 suggest to fix a list
  articles/cognitive-services/Translator/custom-translator/how-to-train-model.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#20302 Fix typo
  articles/active-directory-b2c/active-directory-b2c-setup-github-app.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20306 Fix typo
  articles/active-directory/hybrid/tutorial-password-hash-sync.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20280 PowerShell prefix removed
  articles/active-directory/users-groups-roles/groups-settings-cmdlets.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20305 Fix typo
  articles/active-directory/hybrid/tutorial-passthrough-authentication.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20300 Fix the wrong single quotes in code snippets
  articles/sql-database/elastic-jobs-tsql.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#20309 Fix typo
  articles/aks/virtual-kubelet.md
Labels: Change sent to author, container-service/svc, do-not-merge

#20249 Fix typo
  articles/batch/batch-nodejs-get-started.md
Labels: Change sent to author, batch/svc, do-not-merge

#20308 Fix typo
  articles/active-directory/saas-apps/github-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20303 Fix typo
  articles/active-directory/b2b/what-is-b2b.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20304 Fix typo
  articles/active-directory/hybrid/tutorial-federation.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#20285 Streaming not .NET logs to blob storage
  articles/app-service/web-sites-enable-diagnostic-log.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#20367 #20364 Fixing Typo
  articles/blockchain/workbench/data-sql-management-studio.md
Labels: Change sent to author, azure-blockchain/svc, do-not-merge

#20368 Fix typo
  articles/app-service/app-service-hybrid-connections.md
Labels: Change sent to author, app-service/svc, do-not-merge

#20369 Fix typo
  articles/application-insights/micrometer-java.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#20370 Fix typo
  articles/azure-cache-for-redis/cache-redis-samples.md
Labels: Change sent to author, cache/svc, do-not-merge

#20371 Fix typo
  articles/azure-databricks/quickstart-create-databricks-workspace-portal.md
Labels: Change sent to author, azure-databricks/svc, do-not-merge

#20373 Fix typo
  articles/azure-databricks/quickstart-create-databricks-workspace-resource-manager-template.md
Labels: Change sent to author, azure-databricks/svc, do-not-merge

#20374 Fix typo & delete unnecessary space
  articles/azure-signalr/signalr-authenticate-oauth.md
Labels: Change sent to author, do-not-merge, signalr/svc

#20375 Fix typo
  articles/azure-signalr/signalr-quickstart-dotnet-core.md
Labels: Change sent to author, do-not-merge, signalr/svc

#20376 Fix typo
  articles/azure-stack/azure-stack-integrate-identity.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#20377 Fix typo
  articles/backup/backup-azure-arm-vms-prepare.md
Labels: Change sent to author, backup/svc, do-not-merge

#20380 Fix typo
  articles/cognitive-services/Bing-Image-Search/tutorial-bing-image-search-single-page-app.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#20352 Update sql-database-high-availability.md
  articles/sql-database/sql-database-high-availability.md
Labels: Change sent to author, ready-to-merge, sql-database/svc
