Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-10, with the labels that each got.

#11895 Minor grammar/spelling corrections
  articles/key-vault/key-vault-overview.md
Labels: Change sent to author, do-not-merge, key-vault/svc

#10801 Fix escaping for note about escaping
  articles/monitoring/monitoring-solutions-resources-searches-alerts.md
Labels: Change sent to author, do-not-merge, monitoring/svc

#15608 #AppGW correct fixed capacity mode cmd
  articles/application-gateway/tutorial-autoscale-ps.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#15804 Clarify NSG considerations
  articles/application-gateway/application-gateway-probe-overview.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#15837 "two-step verification" -> "password reset"
  articles/active-directory/user-help/security-info-setup-email.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#15856 Remove plural 's' from technical word
  articles/active-directory/develop/v2-protocols-oidc.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#15903 Update v3-0-transliterate.md
  articles/cognitive-services/Translator/reference/v3-0-transliterate.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#15917 Update stream-analytics-managed-identities-adls.md
  articles/stream-analytics/stream-analytics-managed-identities-adls.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#15484 modules.{moduleId}.status is required
  articles/iot-edge/module-edgeagent-edgehub.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#15904 Update media-services-portal-manage-streaming-endpoints.md
  articles/media-services/previous/media-services-portal-manage-streaming-endpoints.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#15497 Typo
  articles/governance/management-groups/create.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#15700 Update hdinsight-extend-hadoop-virtual-network.md
  articles/hdinsight/hdinsight-extend-hadoop-virtual-network.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#15844 Aschhab fix jms
  articles/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#15892 Use full parameter names in all examples
  articles/azure-stack/azure-stack-powershell-install.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#15853 Fix the anchor link
  articles/cosmos-db/multi-master-conflict-resolution.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#15877 Link suggestions
  articles/machine-learning/data-science-virtual-machine/linux-dsvm-walkthrough.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#15908 Removed duplicate content
  articles/active-directory/authentication/concept-mfa-howitworks.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#15934 fixed anchor link
  articles/site-recovery/azure-to-azure-how-to-enable-replication-ade-vms.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#15936 Remove extra whitespace
  articles/automation/automation-connections.md
Labels: do-not-merge

#15946 update blade name
  articles/service-fabric/service-fabric-diagnostics-oms-agent.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#15968 typo: Double word "the"
  articles/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-azure-ad-graph.md
  articles/app-service/containers/quickstart-java.md
  articles/log-analytics/log-analytics-azure-sql.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#15986 Fix spelling mistake in Summarize link
  articles/governance/resource-graph/concepts/query-language.md
Labels: Change sent to author, ready-to-merge, resource-graph/svc

#16010 Provide more information on domain takeover
  articles/active-directory/fundamentals/add-custom-domain.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#15997 Update language-support.md
  articles/cognitive-services/Speech-Service/language-support.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#16030 Typo fixed.
  articles/managed-applications/overview.md
Labels: Change sent to author, managed-applications/svc, ready-to-merge

#15967 typo: Double word "to"
  articles/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-azure-ad-graph.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#15966 Proposed a change of word to avoid confusion
  includes/virtual-machines-common-premium-storage.md
Labels: Change sent to author, do-not-merge, storage/svc

#16028 Fixed typo in PFSGroup for 384-bit ECP
  includes/vpn-gateway-faq-ipsecikepolicy-include.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#16031 Updating the container URL
  articles/iot-edge/tutorial-store-data-sql-server.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#15969 typo: Double word "be"
  articles/azure-stack/azure-stack-mysql-resource-provider-hosting-servers.md
  articles/azure-stack/azure-stack-sql-resource-provider-hosting-servers.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#15974 Correcting spacing
  articles/migrate/resources-faq.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#16038 Updated the js code
  articles/azure-functions/durable-functions-external-events.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#15988 Updated js code
  articles/azure-functions/durable-functions-overview.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#15989 Corrected js code
  articles/azure-functions/durable-functions-bindings.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#15990 Updated the js code
  articles/azure-functions/durable-functions-checkpointing-and-replay.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#15992 Completed the durable function code
  articles/azure-functions/durable-functions-instance-management.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#15994 Added the raise event for orchestration client
  articles/azure-functions/durable-functions-external-events.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#16039 Updated js code
  articles/azure-functions/durable-functions-timers.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#16040 Updated the js code
  articles/azure-functions/durable-functions-timers.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#16042 Added more info
  articles/azure-functions/durable-functions-instance-management.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#15945 Update concept-extracting-text-ocr.md
  articles/cognitive-services/Computer-vision/concept-extracting-text-ocr.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#16016 Update sql-database-hyperscale.md
  articles/sql-database/sql-database-hyperscale.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#11446 Updated PowerShell sample to fix timestamp
  articles/log-analytics/log-analytics-data-collector-api.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#12887 Update azure service type
  articles/traffic-manager/traffic-manager-endpoint-types.md
Labels: Change sent to author, ready-to-merge, traffic-manager/svc

#12483 Update 9-log-dialogs.md
  articles/cognitive-services/Labs/Conversation-Learner/tutorials/9-log-dialogs.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#12434 Update 4-expected-entity.md
  articles/cognitive-services/Labs/Conversation-Learner/tutorials/4-expected-entity.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#12433 Update 4-expected-entity.md
  articles/cognitive-services/Labs/Conversation-Learner/tutorials/4-expected-entity.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#16050 Change environment variable Fabric_ServiceName to fabric uri
  articles/service-fabric/service-fabric-environment-variables-reference.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#16077 Fixed typo for operation ID of Set Session State
  articles/service-bus-messaging/service-bus-amqp-request-response.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#16088 Fixed error in ISO-8601 date-time-format string
  articles/logic-apps/workflow-definition-language-functions-reference.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#16103 Fixed typo in Manage Azure Analysis Services
  articles/analysis-services/analysis-services-manage.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#16105 Fixed typo in What is Azure Analysis Services
  articles/analysis-services/analysis-services-overview.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#16106 Fixed typo in Configure a firewall for an Analysis Services
  articles/analysis-services/analysis-services-qs-firewall.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#16110 Fix typo in Implement disaster recovery using backup and restore in Azure API Management
  articles/api-management/api-management-howto-disaster-recovery-backup-restore.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#16119 fix typo from "os" to "of"
  articles/log-analytics/query-language/get-started-queries.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#16060 Fixed some of the troubleshooting steps
  articles/active-directory/devices/troubleshoot-hybrid-join-windows-legacy.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16070 typo: Double word "in"
  articles/active-directory/identity-protection/howto-sign-in-risk-policy.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16099 Removed duplicate "the" from documentation.
  articles/active-directory-b2c/technical-profiles-overview.md
  articles/cosmos-db/spark-connector.md
  articles/service-fabric/service-fabric-cluster-upgrade.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge, service-fabric/svc

#16075 fixing a slight grammatical error
  articles/machine-learning/service/quickstart-get-started.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#16092 CC72864: Text wrongly marked as code
  articles/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#16102 Fixed typo in HTTP application routing
  articles/aks/http-application-routing.md
Labels: Change sent to author, container-service/svc, do-not-merge

#16108 Make PowerShell casing consistent
  articles/api-management/scripts/powershell-add-user-and-get-subscription-key.md
  articles/api-management/scripts/powershell-backup-restore-apim-service.md
  articles/api-management/scripts/powershell-create-apim-service.md
  articles/api-management/scripts/powershell-import-api-and-add-to-product.md
  articles/api-management/scripts/powershell-scale-and-addregion-apim-service.md
  articles/api-management/scripts/powershell-secure-backend-with-mutual-certificate-authentication.md
  articles/api-management/scripts/powershell-setup-custom-domain.md
  articles/api-management/scripts/powershell-setup-rate-limit-policy.md
Labels: Change sent to author, api-management/svc, do-not-merge

#16109 Fixed typos in Azure API Management caching policies
  articles/api-management/api-management-caching-policies.md
Labels: do-not-merge

#16114 Fixed typo in User profile templates in Azure API Management
  articles/api-management/api-management-user-profile-templates.md
Labels: Change sent to author, api-management/svc, do-not-merge

#16068 Update azure-portal-dashboards-structure.md
  articles/azure-portal/azure-portal-dashboards-structure.md
Labels: Change sent to author, azure-portal/svc, do-not-merge

#16121 Corrects spelling of 'GitHub'.
  articles/azure-signalr/signalr-authenticate-oauth.md
Labels: Change sent to author, do-not-merge, signalr/svc

#16122 Corrects typo 'perferred'.
  articles/azure-signalr/signalr-overview-scale-aspnet-core.md
Labels: Change sent to author, do-not-merge, signalr/svc

#16087 Document response code when quota-by-key policy triggers
  articles/api-management/api-management-access-restriction-policies.md
Labels: Change sent to author, api-management/svc, do-not-merge

#16129 Corrects spelling of 'file share'
  articles/azure-stack/azure-stack-app-service-deploy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#16149 Update policyDefinition schema link
  articles/governance/policy/concepts/definition-structure.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#15718 Add France region pairs
  articles/best-practices-availability-paired-regions.md
Labels: Change sent to author, do-not-merge, multiple/svc

#15021 Remove "Time zone" option
  articles/azure-stack/asdk/asdk-prepare-host.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#14031 Powershell fix for System.Security.Cryptography.CryptographicException: Invalid provider type specified.
  articles/key-vault/key-vault-use-from-web-application.md
Labels: Change sent to author, do-not-merge, key-vault/svc

#13351 Update azure-stack-acs-differences.md
  articles/azure-stack/user/azure-stack-acs-differences.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#10941 Updated PaaS to IaaS to reflect graphic
  articles/best-practices-availability-paired-regions.md
Labels: Change sent to author, do-not-merge, multiple/svc

#14849 Clarify what is considered a 3rd-party dependency for Java Function Packaging
  articles/azure-functions/functions-reference-java.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#16160 Update howto-configure-ssl.md
  articles/mysql/howto-configure-ssl.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#16193 Strip AzureADPreview PowerShell module uri version
  articles/active-directory/authentication/howto-authentication-phone-sign-in.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16197 Updated PowerShell code samples to new AzureAD module
  articles/active-directory/authentication/concept-sspr-policy.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16210 Issue #16202 Solved
  articles/search/cognitive-search-skill-image-analysis.md
Labels: Change sent to author, ready-to-merge, search/svc

#16221 Update sql-database-hyperscale.md
  articles/sql-database/sql-database-hyperscale.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#16196 Make the table readable
  articles/hdinsight/hdinsight-hadoop-port-settings-for-services.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#16223 Updated with more troubleshooting points.
  articles/active-directory/devices/troubleshoot-hybrid-join-windows-legacy.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#15835 Updated bolding
  articles/active-directory/authentication/howto-mfa-getstarted.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#13840 We need to add outbound access to the CRL
  articles/azure-stack/azure-stack-integrate-endpoints.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#16113 corrected case for better readability
  articles/active-directory/users-groups-roles/groups-dynamic-membership.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16227 Corrected typo
  articles/active-directory/authentication/active-directory-certificate-based-authentication-get-started.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16056 Update How To MFA User States
  articles/active-directory/authentication/howto-mfa-userstates.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16236 fix broken parameter in mysql migration tutorial
  articles/dms/tutorial-mysql-azure-mysql-online.md
Labels: Change sent to author, dms/svc, ready-to-merge

#15232 Update command to delete a vault by force
  articles/backup/backup-azure-delete-vault.md
Labels: Change sent to author, backup/svc, do-not-merge

#16225 Fix Anomaly Detection API Parameter Capitalization
  articles/machine-learning/team-data-science-process/apps-anomaly-detection-api.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#16239 adding workaround for process id issue
  articles/iot-edge/troubleshoot.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#16240 added warning about reducing node count below reliability tier
  articles/service-fabric/service-fabric-cluster-scaling.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#16256 Fixed creating the load balancer rule description
  articles/load-balancer/load-balancer-get-started-ilb-arm-cli.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#14044 Support for ASGs on VMSS
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-networking.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc

#16195 Updated code example to use -PerSiteScaling #15783
  articles/app-service/app-service-high-density-hosting.md
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#15843 Added "Click Save"
  articles/app-service/app-service-mobile-how-to-configure-microsoft-authentication.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#16313 Update hybrid-azuread-join-federated-domains.md
  articles/active-directory/devices/hybrid-azuread-join-federated-domains.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16314 Update hybrid-azuread-join-managed-domains.md
  articles/active-directory/devices/hybrid-azuread-join-managed-domains.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16285 Fixed a typo in virtual-network-manage-peering.md
  articles/virtual-network/virtual-network-manage-peering.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#16209 Update autoscaler.md
  articles/aks/autoscaler.md
Labels: Change sent to author, container-service/svc, do-not-merge

#16310 Corrects a typo: sever -> server
  articles/biztalk-services/biztalk-migrating-to-edi-guide.md
  articles/machine-learning/desktop-workbench/data-prep-appendix2-supported-data-sources.md
  articles/security/azure-database-security-checklist.md
  articles/sql-database/sql-database-security-tutorial.md
  articles/storage/files/storage-sync-files-troubleshoot.md
  includes/site-recovery-vmware-register-process-server.md
Labels: Change sent to author, do-not-merge, storage/svc

#16324 Clarify Mongoose 5 connection
  articles/cosmos-db/mongodb-mongoose.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#15965 Fixed incorrect sudo command
  articles/virtual-machines/linux/add-disk.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#16333 fix broken link
  articles/azure-stack/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#16385 Cleanup and harmonize markdown with focus on code
  articles/application-insights/app-insights-api-custom-events-metrics.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#16413 Correct misspell in service fabric content roadmap
  articles/service-fabric/service-fabric-content-roadmap.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#16301 Removed "preview" mention for Standard SSD
  includes/storage-about-vhds-and-disks-windows-and-linux.md
Labels: Change sent to author, do-not-merge, storage/svc

#16378 typo: Double word "be"
  articles/marketplace/cloud-partner-portal-orig/cloud-partner-portal-lead-management-instructions-dynamics.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#16406 Correct link text misspell
  articles/service-fabric/service-fabric-quickstart-java-spring-boot.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#16377 typo: Double word "shares"
  includes/storage-files-scale-targets.md
Labels: Change sent to author, do-not-merge

#16351 Fix broken enterprise cloud adoption link
  articles/governance/index.yml
Labels: Change sent to author, do-not-merge

#16356 fix the link text
  articles/azure-signalr/index.yml
Labels: Change sent to author, do-not-merge

#16345 File pipeline parameters expression
  articles/data-factory/how-to-create-event-trigger.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#16347 Fix code formatting
  articles/log-analytics/log-analytics-cross-workspace-search.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#16365 Fix casing for $HOME
  articles/cloud-shell/overview.md
Labels: Change sent to author, azure/svc, do-not-merge

#16366 Fix casing for $HOME
  articles/cloud-shell/features.md
Labels: Change sent to author, azure/svc, ready-to-merge

#16355 included a "/" before the Dataset: argument
  articles/storage/common/storage-import-export-tool-preparing-hard-drives-import.md
Labels: Change sent to author, do-not-merge, storage/svc

#14873 added missing sudo
  articles/storage/common/storage-use-azcopy-linux.md
Labels: Change sent to author, do-not-merge, storage/svc

#15876 Grammar and sentence structure suggestions
  articles/machine-learning/data-science-virtual-machine/overview.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#16254 fix mismatch date typo closes #16251
  articles/data-factory/how-to-create-tumbling-window-trigger.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#16300 remove reference to unrestricted viewer role
  articles/data-explorer/delete-data.md
  articles/data-explorer/manage-database-permissions.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#16178 Update tutorial-incremental-copy-multiple-tables-powershell.md
  articles/data-factory/tutorial-incremental-copy-multiple-tables-powershell.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#16171 Proposed combination of Python Azure SDK links
  articles/storage/common/storage-auth-aad.md
Labels: Change sent to author, ready-to-merge, storage/svc

#16322 Table with scopes
  articles/cost-management/quick-acm-cost-analysis.md
Labels: Change sent to author, cost-management/svc, ready-to-merge

#16343 Fix typo s/PowerShel/PowerShell/
  articles/expressroute/expressroute-howto-circuit-classic.md
  articles/virtual-machines/windows/tutorial-manage-data-disk.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#15944 Update home.md
  articles/cognitive-services/Computer-vision/Home.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#16362 Docker Container page on App Service is now called Container Settings
  articles/app-service/containers/app-service-linux-ci-cd.md
  articles/app-service/containers/media/app-service-webapp-service-linux-ci-cd/step2.png
  articles/app-service/containers/media/app-service-webapp-service-linux-ci-cd/step3-3.png
Labels: Change sent to author, app-service/svc, ready-to-merge

#16379 typo: Double word "one"
  articles/cosmos-db/powerbi-visualize.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#16424 Update how-to-data-prep.md
  articles/machine-learning/service/how-to-data-prep.md
Labels: ready-to-merge

#16425 added sku property to outputs
  articles/managed-applications/microsoft-network-publicipaddresscombo.md
Labels: Change sent to author, managed-applications/svc, ready-to-merge

#16327 Updating CQL Shell command line
  articles/cosmos-db/cassandra-spark-generic.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#16363 Fix typo : VMWare -> VMware on various pages
  articles/azure-government/documentation-government-services-monitoringandmanagement.md
  articles/azure-monitor/toc.yml
  articles/backup/backup-azure-dpm-introduction.md
  articles/migrate/contoso-migration-rehost-linux-vm-mysql.md
  articles/virtual-machines/linux/create-upload-centos.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#16364 Fixed typo in troubleshoot docs
  articles/azure-functions/functions-recover-storage-account.md
Labels: Change sent to author, do-not-merge, functions/svc

#16335 Suggest removing an entry from TOC
  articles/service-bus-messaging/TOC.yml
Labels: Change sent to author, do-not-merge

#14989 Current quickstart-create-databricks-account documentation doesn't work out of the box
  articles/storage/data-lake-storage/quickstart-create-databricks-account.md
Labels: Change sent to author, do-not-merge, storage/svc

#16476 typo : Double Use words
  articles/active-directory/conditional-access/require-tou.md
  articles/active-directory/privileged-identity-management/pim-resource-roles-enable-subscription-management.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#16458 Update sql-database-service-tiers-vcore.md
  articles/sql-database/sql-database-service-tiers-vcore.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#16445 deployment mode typo fix
  articles/azure-resource-manager/resource-group-linked-templates.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#16029 Fixed typo in AD FS deployment script
  articles/azure-stack/azure-stack-integrate-identity.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#15952 Update container-instances-vnet.md
  articles/container-instances/container-instances-vnet.md
Labels: Change sent to author, container-instances/svc, ready-to-merge

#16011 Azure App Service Deployment Credentials Link Fix
  articles/app-service/app-service-deploy-ftp.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#16290 version info in powershell comment
  articles/azure-stack/asdk/asdk-post-deploy.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#16463 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
  README.md
Labels: Change sent to author, do-not-merge

#16449 Typo: Page Title
  articles/sql-database/sql-database-security-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#16448 typo: widows -> windows
  articles/storage/data-lake-storage/introduction-abfs-uri.md
Labels: Change sent to author, do-not-merge, storage/svc

#16344 Fixed broken link for an overview of MS AML
  articles/machine-learning/studio/studio-overview-diagram.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#16044 Update functions-monitoring.md
  articles/azure-functions/functions-monitoring.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#16243 Remove reference to functions v2 being in preview from linux documentation
  articles/azure-functions/functions-create-first-azure-function-azure-cli-linux.md
  articles/azure-functions/functions-create-function-linux-custom-image.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#16517 Update functions-create-first-azure-function.md
  articles/azure-functions/functions-create-first-azure-function.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge
