Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-09, with the labels that each got.

#14496 Update automation-child-runbooks.md
  articles/automation/automation-child-runbooks.md
Labels: Change sent to author, automation/svc, ready-to-merge

#14499 Update concept-password-ban-bad-on-premises.md
  articles/active-directory/authentication/concept-password-ban-bad-on-premises.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#13572 fix menuchoice
  articles/storage/blobs/storage-manage-access-to-resources.md
Labels: Change sent to author, ready-to-merge, storage/svc

#14077 Explictly added permissions needed in AKV
  articles/storage/common/storage-service-encryption-customer-managed-keys.md
Labels: Change sent to author, do-not-merge, storage/svc

#14021 Fixed typo
  articles/storage/data-lake-storage/use-hdi-cluster.md
Labels: Change sent to author, do-not-merge, storage/svc

#13814 Removed "preview" from File Sync
  articles/storage/files/storage-files-planning.md
Labels: Change sent to author, do-not-merge, storage/svc

#14489 Updating Extension support
  articles/virtual-machines/extensions/network-watcher-linux.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#14104 added missing negation in create directory command
  articles/storage/files/storage-how-to-use-files-linux.md
Labels: Change sent to author, ready-to-merge, storage/svc

#14492 Password is wrong compared to samples
  articles/iot-hub/iot-hub-security-x509-get-started.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#14532 Fix small typos
  articles/load-balancer/load-balancer-outbound-connections.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#14519 Corrected link to available VM sizes
  articles/virtual-machines/windows/sizes.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#14518 Add information for data collection table
  articles/sql-database/elastic-jobs-tsql.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#12135 typo: Double word "at"
  articles/azure-functions/functions-create-maven-intellij.md
Labels: Change sent to author, functions/svc, ready-to-merge

#14556 Enabling detailed logging
  articles/dev-spaces/troubleshooting.md
Labels: Change sent to author, azure-dev-spaces/svc, ready-to-merge

#14370 ESR document updates for RS5
  articles/active-directory/active-directory-windows-enterprise-state-roaming-enable.md
  articles/active-directory/active-directory-windows-enterprise-state-roaming-faqs.md
  articles/active-directory/active-directory-windows-enterprise-state-roaming-group-policy-settings.md
  articles/active-directory/active-directory-windows-enterprise-state-roaming-overview.md
  articles/active-directory/active-directory-windows-enterprise-state-roaming-troubleshooting.md
  articles/active-directory/active-directory-windows-enterprise-state-roaming-windows-settings-reference.md
  articles/active-directory/media/active-directory-enterprise-state-roaming/active-directory-enterprise-state-roaming-edge.png
  articles/active-directory/media/active-directory-windows-enterprise-state-roaming-enable/device-settings.png
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14544 Adding notice for previously rotated systems
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#14542 Including new rotation parameters
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#14524 Using connection to Emulator for SAS token
  articles/storage/common/storage-use-emulator.md
Labels: Change sent to author, ready-to-merge, storage/svc

#10486 Guidance on DR scenarios for AADDS
  articles/active-directory-domain-services/active-directory-ds-faqs.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#10539 SDK URL should be case sensitive
  articles/storage/blobs/storage-quickstart-blobs-go.md
Labels: Change sent to author, do-not-merge, storage/svc

#12997 Fix JSON syntax
  articles/iot-hub/iot-hub-devguide-device-twins.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#14092 typo: Double word "do"
  articles/iot-hub/iot-hub-devguide-query-language.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#12439 Fix incorrect ARM portal URL
  articles/app-service/environment/forced-tunnel-support.md
Labels: Change sent to author, app-service/svc, do-not-merge

#14562 Minor update to add TLS version
  articles/data-lake-store/data-lake-store-security-overview.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#10247 ConfigBuilder details is updated in config
  articles/key-vault/vs-key-vault-aspnet-what-happened.md
Labels: Change sent to author, ready-to-merge, visual-studio-dev15/prod

#12890 fix small typo and extra spaces
  articles/log-analytics/log-analytics-solution-alert-management.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#14112 Changed COPY instruction.
  articles/app-service/containers/app-service-linux-ssh-support.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#14225 Fix a header
  articles/virtual-machines/scripts/virtual-machines-linux-powershell-sample-create-vm-oms.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#13303 Corrected spelling mistake in header
  articles/application-gateway/url-route-overview.md
Labels: ready-to-merge

#14390 fixed typos
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#12140 typo: Double word "minutes"
  articles/app-service/environment/app-service-app-service-environment-create-ilb-ase-resourcemanager.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#11040 Alligned tenant property with Data Lake Store Gen1
  articles/data-factory/transform-data-using-data-lake-analytics.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#14485 Update outdated link
  articles/iot-hub/iot-hub-devguide-messages-read-builtin.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#14469 Update azure-security-encryption-atrest.md
  articles/security/azure-security-encryption-atrest.md
Labels: Change sent to author, ready-to-merge, security/svc

#11610 Metric name was incorrect
  articles/data-factory/monitor-using-azure-monitor.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#11626 Emphasizing the location of the certificate
  articles/app-service/app-service-web-ssl-cert-load.md
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#11635 fix Add-AzureRmLogProfile parameter names
  articles/monitoring-and-diagnostics/monitoring-archive-activity-log.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#12550 Add `mvn compile`
  articles/redis-cache/cache-java-get-started.md
Labels: Change sent to author, cache/svc, ready-to-merge

#12204 Fix json and image output
  articles/cognitive-services/Computer-vision/QuickStarts/python-analyze.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#12805 Update sql-database-vcore-resource-limits-single-databases.md
  articles/sql-database/sql-database-vcore-resource-limits-single-databases.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#14613 Update overview
  articles/active-directory/authentication/concept-mfa-howitworks.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14572 Fix in parallel processing code snippet
  articles/application-insights/application-insights-custom-operations-tracking.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#14525 Updating for PFX Encryption guidance
  articles/azure-stack/azure-stack-remediate-certs.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#13283 Documentation for configuration option `redisSerializerType`
  articles/redis-cache/cache-aspnet-session-state-provider.md
Labels: Change sent to author, cache/svc, ready-to-merge

#13262 Add documentation on Security parameters
  articles/service-fabric/service-fabric-cluster-fabric-settings.md
Labels: ready-to-merge

#10803 Update sql-database-vnet-service-endpoint-rule-overview.md
  articles/sql-database/sql-database-vnet-service-endpoint-rule-overview.md
Labels: Change sent to author, do-not-merge, sql-database

#12739 fix a emphasis
  articles/sql-database/sql-database-managed-instance-restore-from-backup-tutorial.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#9031 Update and fixed typo in vm-usage.md
  articles/virtual-machines/linux/vm-usage.md
Labels: Change sent to author, do-not-merge

#12882 Too old to believe in magic
  articles/service-bus-messaging/service-bus-end-to-end-tracing.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#13594 Update Virtual Network type table
  articles/api-management/api-management-using-with-vnet.md
Labels: Change sent to author, api-management/svc, do-not-merge

#14527 out of preview
  articles/mysql/howto-migrate-online.md
Labels: Change sent to author, do-not-merge, mysql/svc

#14615 adding new limits for ADF
  includes/azure-data-factory-limits.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#14272 Remove a subscription from a management group > change remove with move
  articles/azure-resource-manager/management-groups-manage.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#10521 Clarified MPN action
  articles/marketplace/promote-your-business-with-microsoft.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#9115 Update ansible-overview.md
  articles/ansible/ansible-overview.md
Labels: Change sent to author, ansible/svc, do-not-merge

#11799 Updated Azure Service Fabric to Service Fabric
  articles/service-fabric/service-fabric-deploy-anywhere.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#13024 Update resource-manager-governance-tags.md
  includes/resource-manager-governance-tags.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#13664 ServiceBus: Add note around lock tokens
  articles/service-bus-messaging/service-bus-amqp-request-response.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#14563 Fix typo
  articles/data-factory/connector-salesforce.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#14636 change section name
  articles/azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#14656 Update change-availability-set.md
  articles/virtual-machines/windows/change-availability-set.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#14657 Update service-fabric-content-roadmap.md
  articles/service-fabric/service-fabric-content-roadmap.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#14664 Update service-fabric-get-started-mac.md
  articles/service-fabric/service-fabric-get-started-mac.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#14648 Update vpn-gatewat-add-gateway-subnet-portal-include.md - Image Fix
  includes/vpn-gateway-add-gateway-subnet-portal-include.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#14430 Update sql-database-long-term-backup-retention-configure.md
  articles/sql-database/sql-database-long-term-backup-retention-configure.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#14406 Fix typo
  articles/sql-database/sql-database-geo-replication-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#12125 typo: Double word "while"
  articles/data-lake-store/data-lake-store-security-overview.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#11329 Updating with different clean up script for .bacpac export
  articles/sql-database/sql-database-get-started-sql-data-sync.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#10043 microsoft/mmlspark:plus-gpu version correction.
  articles/machine-learning/desktop-workbench/how-to-use-gpu.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#14677 Update overview.md
  articles/active-directory/managed-identities-azure-resources/overview.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14680 Updated "Enterprise Integration" category to "Integration"
  articles/analysis-services/analysis-services-gateway-install.md
  articles/analysis-services/media/analysis-services-gateway-install/aas-gateway-new-azure-resource.png
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#9310 Fixing Host WireServer IP address
  articles/virtual-machines/extensions/features-windows.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#9102 Added remark about the workspaceId
  articles/virtual-machines/extensions/oms-windows.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#11378 case-sensitive String.Equals
  articles/azure-functions/functions-create-generic-webhook-triggered-function.md
Labels: Change sent to author, functions/svc, ready-to-merge

#13869 Update functions-compare-logic-apps-ms-flow-webjobs.md
  articles/azure-functions/functions-compare-logic-apps-ms-flow-webjobs.md
Labels: Change sent to author, functions/svc, ready-to-merge

#14523 Fixes to code snippets
  articles/network-watcher/network-watcher-packet-capture-manage-powershell.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#14653 adding list of supported distros
  articles/virtual-machines/extensions/diagnostics-linux.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#14709 Fix a typo
  articles/container-registry/container-registry-get-started-azure-cli.md
Labels: Change sent to author, container-registry/svc, ready-to-merge

#14745 Table format is wrong
  articles/azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#12251 Update directory-assign-admin-roles.md
  articles/active-directory/users-groups-roles/directory-assign-admin-roles.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11113 Capitalized words / Added clarity
  articles/log-analytics/log-analytics-service-providers.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#9134 Typo: ActvityTriggerAttribute
  articles/azure-functions/durable-functions-bindings.md
Labels: Change sent to author, do-not-merge, functions/svc

#11147 Updated Cloud Services reference in table
  articles/azure-government/documentation-government-compute.md
Labels: Change sent to author, azure-government/svc, do-not-merge

#11284 Clarify what the keys are for
  articles/security-center/security-center-onboarding.md
Labels: Change sent to author, do-not-merge, security-center/svc

#11288 Reorder description after instructions
  articles/security-center/security-center-customize-os-security-config.md
Labels: Change sent to author, do-not-merge, security-center/svc

#11356 Minor Mispelling
  articles/security/governance-in-azure.md
Labels: Change sent to author, do-not-merge, security/svc

#11569 Update log-analytics-service-providers.md
  articles/log-analytics/log-analytics-service-providers.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#11772 Fixed Link that 404ed
  articles/virtual-machines/extensions/custom-script-windows.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#14714 Update ML Server to ML service
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#14597 Update overview.md
  articles/active-directory/identity-protection/overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#14742 Changed name inline with image and rest of article
  articles/load-balancer/quickstart-create-basic-load-balancer-portal.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#14738 Fixed grammatical errors.
  articles/load-balancer/tutorial-load-balancer-standard-manage-portal.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#14628 clarify definition of hybrid Azure AD join
  articles/active-directory/devices/overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#14724 Update azure-devops-project-aspnet-core.md
  articles/devops-project/azure-devops-project-aspnet-core.md
Labels: Change sent to author, devops/prod, do-not-merge

#11885 Updated storageType references
  articles/backup/backup-azure-vms-automation.md
Labels: Change sent to author, backup/svc, do-not-merge

#11867 typo corrected
  articles/azure-stack/azure-stack-app-service-deploy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9227 Update scheduler-limits-defaults-errors.md
  articles/scheduler/scheduler-limits-defaults-errors.md
Labels: Change sent to author, do-not-merge, scheduler/svc

#14652 Edit for clarity
  articles/network-watcher/network-watcher-security-group-view-overview.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#14623 howto-mfa-mfasettings.md
  articles/active-directory/authentication/howto-mfa-mfasettings.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14774 Fix alerts dimension operator in sample
  articles/monitoring-and-diagnostics/monitoring-create-metric-alerts-with-templates.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#14790 Fixed images being in wrong order
  articles/vpn-gateway/create-routebased-vpn-gateway-portal.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#14775 Need to add a step for the gem installation.
  articles/app-service/containers/quickstart-ruby.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#14810 added word to sentence for readability
  articles/networking/disaster-recovery-dns-traffic-manager.md
Labels: Change sent to author, dns/svc, ready-to-merge

#13623 Remove obsolete comma
  articles/virtual-machines/extensions/custom-script-linux.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#13624 Int is expected. Currently specified as a string.
  articles/virtual-machines/extensions/custom-script-linux.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#14813 Updated Next Hop return types
  articles/network-watcher/network-watcher-next-hop-overview.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#14814 Nested groups are not supported
  articles/active-directory/saas-apps/aws-multi-accounts-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12061 App Grant Permission
  articles/api-management/api-management-howto-aad.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#11619 Update location with "[resourceGroup().location]"
  articles/load-balancer/load-balancer-standard-availability-zones.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#14090 typo: Double word "add"
  articles/key-vault/quick-create-node.md
Labels: Change sent to author, do-not-merge, key-vault/svc

#9156 Also needs 'ShowPeoplePickerSuggestionsForGuestUsers' enabled
  articles/active-directory/b2b/o365-external-user.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#11521 Remove unnecessary .ToList()
  articles/service-bus-messaging/message-transfers-locks-settlement.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#14543 Adding Notice to use -Rerun Parameter
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9441 Update functions-bindings-microsoft-graph.md
  articles/azure-functions/functions-bindings-microsoft-graph.md
Labels: Change sent to author, functions/svc, ready-to-merge

#11831 Fixed invalid parameter syntax of example command
  articles/service-fabric-mesh/service-fabric-mesh-quickstart-deploy-container.md
Labels: Change sent to author, do-not-merge, service-fabric-mesh/svc

#11862 Update create-vm-accelerated-networking-cli.md
  articles/virtual-network/create-vm-accelerated-networking-cli.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#12217 Properly align local secrets file XML
  articles/key-vault/vs-secure-secret-appsettings.md
Labels: Change sent to author, do-not-merge

#12417 Update backup-azure-vms-first-look-arm.md
  articles/backup/backup-azure-vms-first-look-arm.md
Labels: Change sent to author, backup/svc, do-not-merge

#14668 Fix name for nuget packages
  articles/service-fabric/service-fabric-reliable-services-communication-aspnetcore.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#14246 fixing wrong link
  articles/service-fabric/service-fabric-choose-framework.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#14614 Known issue where some resources do not load in the portal is obsolete since 1802
  articles/azure-stack/azure-stack-update-1808.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#9509 Added FAQ for changing RSV storage option
  articles/backup/backup-azure-backup-faq.md
Labels: Change sent to author, backup/svc, ready-to-merge

#13309 orchestration step 5
  articles/active-directory-b2c/active-directory-b2c-rest-api-validation-custom.md
Labels: ready-to-merge

#14111 Updated service tags note
  articles/backup/backup-azure-arm-vms-prepare.md
Labels: Change sent to author, backup/svc, ready-to-merge

#14344 Update active-directory-b2c-tutorials-spa-webapi.md
  articles/active-directory-b2c/active-directory-b2c-tutorials-spa-webapi.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14346 Update active-directory-b2c-tutorials-desktop-app-webapi.md
  articles/active-directory-b2c/active-directory-b2c-tutorials-desktop-app-webapi.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14418 Updated active-directory-b2c-tutorials-spa-webapi.md
  articles/active-directory-b2c/active-directory-b2c-tutorials-spa-webapi.md
  articles/active-directory-b2c/media/active-directory-b2c-tutorials-spa-webapi/web-api-registration.png
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14911 Fix typo
  articles/active-directory-b2c/validation-technical-profile.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14335 Update active-directory-b2c-tutorials-spa.md
  articles/active-directory-b2c/active-directory-b2c-tutorials-spa.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12111 typo: Double word "more"
  articles/container-service/kubernetes/container-service-kubernetes-coscale.md
  articles/service-bus-relay/relay-hybrid-connections-protocol.md
Labels: Change sent to author, do-not-merge, service-bus-relay/svc

#14819 Typo
  articles/active-directory-b2c/date-transformations.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#12339 Update backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout.md
  articles/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout.md
Labels: Change sent to author, backup/svc, ready-to-merge

#14940 Import-*HostingServiceCert examples have two typos
  articles/azure-stack/azure-stack-extension-host-prepare.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#14936 Updated the search queries
  articles/aks/view-master-logs.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#14674 Added recommendation about using SHA1 thumbprint.
  articles/service-fabric/service-fabric-cluster-security.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#14902 Disclose SDK temporary storage
  articles/application-insights/app-insights-data-retention-privacy.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#14547 Updated article
  articles/active-directory/devices/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#14913 JSON Syntax - Array Input
  articles/azure-resource-manager/resource-group-authoring-templates.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#13618 Update nodejs-use-node-modules-azure-apps.md
  articles/nodejs-use-node-modules-azure-apps.md
Labels: Change sent to author, do-not-merge, multiple/svc

#14533 Fix supported SharePoint version
  articles/backup/backup-mabs-sharepoint-azure-stack.md
Labels: Change sent to author, backup/svc, ready-to-merge

#14294 fixing typo (you vs your)
  articles/monitoring-and-diagnostics/monitor-quick-resource-metric-alert-portal.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#14672 Reference "thumbprint" as "SHA1 thumbprint"
  articles/service-fabric/service-fabric-tutorial-create-vnet-and-windows-cluster.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#14673 Reference "thumbprint" as "SHA1 thumbprint"
  articles/service-fabric/service-fabric-tutorial-create-vnet-and-linux-cluster.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#14921 Added link for Python simulated device quickstart
  includes/iot-hub-get-started-device-selector.md
Labels: Change sent to author, do-not-merge

#14975 Fix Azure SDKs link
  articles/iot-hub/iot-hub-configuration-best-practices.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#15043 Clarify warm-up configuration setting
  articles/app-service/web-sites-staged-publishing.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#15050 Fix various typos
  articles/terraform/terraform-backend.md
Labels: Change sent to author, ready-to-merge, terraform/svc

#15098 Note you can't mount azure file share snapshots on linux
  articles/storage/files/storage-snapshots-files.md
Labels: Change sent to author, ready-to-merge, storage/svc

#15106 ResourceName has been changed to Name property
  articles/lab-services/devtest-lab-faq.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#15121 Update media-services-scale-media-processing-overview.md
  articles/media-services/previous/media-services-scale-media-processing-overview.md
Labels: Change sent to author, media-services/svc, ready-to-merge
