Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-04, with the labels that each got.

#6181 Spelling mistake correction
  articles/service-fabric/service-fabric-tutorial-create-vnet-and-linux-cluster.md
Labels: Change sent to author, Typo, ready-to-merge, service-fabric

#6245 Fixed an invalid filename reference in the App Insights for ASP.NET Core document
  articles/application-insights/app-insights-asp-net-core.md
Labels: Change sent to author, application-insights, do-not-merge

#5315 fix typo in cshtml bootstrap razor
  articles/application-insights/app-insights-api-custom-events-metrics.md
Labels: Change sent to author, Typo, do-not-merge

#5510 Removed extraneous back quote
  articles/virtual-machines/windows/extensions-oms.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows

#5978 added specifics on delete capability for passwords
  articles/active-directory/active-directory-appssoaccess-whatis.md
Labels: Change sent to author, active-directory, do-not-merge

#5986 Correct spelling mistake on AAD Group expiration
  articles/active-directory/active-directory-groups-lifecycle-azure-portal.md
Labels: Change sent to author, Typo, active-directory, do-not-merge

#6615 Update datestamp
  articles/virtual-machines/linux/update-infrastructure-redhat.md
Labels: ready-to-merge

#6283 List Java as supported language. Add runtimes.
  articles/app-service/containers/app-service-linux-intro.md
Labels: Change sent to author, app-service, do-not-merge

#6203 Update obsolute parameter IdentityType
  articles/active-directory/managed-service-identity/qs-configure-powershell-windows-vm.md
Labels: Change sent to author, active-directory, ready-to-merge

#6172 Change first link of more tutorials to not point to same page
  articles/cognitive-services/Custom-Speech-Service/CustomSpeech-How-to-Topics/cognitive-services-custom-speech-create-endpoint.md
Labels: Change sent to author, cognitive-services, ready-to-merge

#6551 Update active-directory-saas-workplacebyfacebook-provisioning-tutoria…
  articles/active-directory/active-directory-saas-workplacebyfacebook-provisioning-tutorial.md
Labels: Change sent to author, active-directory, ready-to-merge

#6650 Prepare PKI certificates link was broken
  articles/azure-stack/azure-stack-get-pki-certs.md
Labels: Change sent to author, azure-stack, do-not-merge

#6652 Fixed preparation instructions link
  articles/azure-stack/azure-stack-validate-pki-certs.md
Labels: Change sent to author, azure-stack

#4690 Update active-directory-b2c-reference-custom-policies-understanding-c…
  articles/active-directory-b2c/active-directory-b2c-reference-custom-policies-understanding-contents.md
Labels: Change sent to author, active-directory-b2c, do-not-merge

#4689 Update active-directory-b2c-reference-customize-ui-custom.md
  articles/active-directory-b2c/active-directory-b2c-reference-customize-ui-custom.md
Labels: Change sent to author, active-directory-b2c, do-not-merge, merge-conflict

#6091 Updated preview note
  articles/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom.md
Labels: Change sent to author, active-directory-b2c, ready-to-merge

#6255 Update active-directory-b2c-reference-policies.md
  articles/active-directory-b2c/active-directory-b2c-reference-policies.md
Labels: Change sent to author, active-directory-b2c, ready-to-merge

#6262 Update active-directory-b2c-overview-custom.md
  articles/active-directory-b2c/active-directory-b2c-overview-custom.md
Labels: Change sent to author, Typo, active-directory-b2c, ready-to-merge

#6668 added information about legacy auth
  articles/active-directory/active-directory-tenant-restrictions.md
Labels: Change sent to author, active-directory, ready-to-merge

#6669 changed updated date
  articles/active-directory/active-directory-tenant-restrictions.md
Labels: Change sent to author, active-directory, ready-to-merge

#5163 Update active-directory-b2c-reference-oauth-code.md
  articles/active-directory-b2c/active-directory-b2c-reference-oauth-code.md
Labels: Change sent to author, active-directory-b2c, do-not-merge

#6505 Update iot-hub-limits.md
  includes/iot-hub-limits.md
Labels: Change sent to author, do-not-merge

#6692 UseSampling description typo in DataSourceSettings
  articles/machine-learning/preview/experimentation-service-configuration-reference.md
Labels: Change sent to author, machine-learning, ready-to-merge

#6291 Update ansible-matrix.md
  articles/ansible/ansible-matrix.md
Labels: Change sent to author, ansible, ready-to-merge

#6712 Fixed the link for the 5.7.20 documentation
  articles/mysql/concepts-supported-versions.md
Labels: Change sent to author, mysql-database, ready-to-merge

#6734 Update azure-stack-update-1803.md
  articles/azure-stack/azure-stack-update-1803.md
Labels: Change sent to author, azure-stack, ready-to-merge

#4830 Update active-directory-b2c-ui-customization-custom.md
  articles/active-directory-b2c/active-directory-b2c-ui-customization-custom.md
Labels: Change sent to author, active-directory-b2c, do-not-merge

#4964 Updated XML Samples
  articles/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom.md
Labels: Change sent to author, active-directory-b2c, do-not-merge

#5035 Update active-directory-b2c-reference-usage-reporting-api.md
  articles/active-directory-b2c/active-directory-b2c-reference-usage-reporting-api.md
Labels: Change sent to author, active-directory-b2c, do-not-merge

#5272 Fix empty sidadm variable
  articles/virtual-machines/workloads/sap/hana-overview-infrastructure-connectivity.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux

#6743 remove (Preview) on Azure DB
  articles/app-service/web-sites-restore.md
Labels: Change sent to author, app-service, ready-to-merge

#6732 Remove misleading comment
  articles/cognitive-services/Face/Tutorials/FaceAPIinPythonTutorial.md
Labels: Change sent to author, cognitive-services, do-not-merge

#6408 Add instructions for Spring Boot applications.
  articles/application-insights/app-insights-java-get-started.md
Labels: Change sent to author, do-not-merge

#6486 Updated CLI commands to use version 2.0.
  articles/monitoring-and-diagnostics/monitoring-archive-activity-log.md
  articles/monitoring-and-diagnostics/monitoring-stream-activity-logs-event-hubs.md
Labels: Change sent to author, monitoring-and-diagnostics, ready-to-merge

#6781 mobile app changes for 8.0
  articles/multi-factor-authentication/multi-factor-authentication-get-started-server-webservice.md
Labels: Change sent to author, multi-factor-authentication, ready-to-merge

#6785 Update policy strongtype list
  articles/azure-policy/policy-definition.md
Labels: Change sent to author, azure-policy, ready-to-merge

#6704 In the module.json, the registry and repo-name must be added
  articles/iot-edge/tutorial-deploy-function.md
Labels: Change sent to author, iot-edge, ready-to-merge

#6798 Clarify default value for 'mode'
  articles/azure-policy/policy-definition.md
Labels: Change sent to author, azure-policy, ready-to-merge

#6843 moved one step
  articles/multi-factor-authentication/multi-factor-authentication-get-started-server-webservice.md
Labels: Change sent to author, multi-factor-authentication, ready-to-merge

#6827 Fixed incorrect link
  includes/active-directory-b2c-advanced-audience-warning.md
Labels: Change sent to author, do-not-merge

#6853 Update service-fabric-diagnostics-event-generation-perf.md
  articles/service-fabric/service-fabric-diagnostics-event-generation-perf.md
Labels: Change sent to author, ready-to-merge, service-fabric

#6814 Update azure-stack-sql-resource-provider-deploy.md
  articles/azure-stack/azure-stack-sql-resource-provider-deploy.md
Labels: Change sent to author, azure-stack, do-not-merge

#6611 Fixed Typo: "a Azure" > "an Azure"
  articles/cosmos-db/partition-data.md
Labels: Change sent to author, cosmos-db, do-not-merge

#6627 Updated the "Configure autoscale rules" PowerShell script for Simplicity
  articles/virtual-machines/windows/tutorial-create-vmss.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets

#6773 Added a missing step: Click the Add button
  articles/billing/billing-add-change-azure-subscription-administrator.md
Labels: Change sent to author, billing, ready-to-merge

#6916 Update table-storage-how-to-use-nodejs.md
  articles/cosmos-db/table-storage-how-to-use-nodejs.md
Labels: Change sent to author, cosmos-db, ready-to-merge

#6923 outdated content about web sites/webjobs
  articles/cloud-services/cloud-services-dotnet-get-started.md
Labels: Change sent to author, cloud-services, ready-to-merge

#6942 Indent to Model data collector instantiation
  articles/machine-learning/preview/model-data-collection-api-reference.md
Labels: Change sent to author, do-not-merge, machine-learning

#6898 Update to Include Helm CLI install
  articles/aks/ingress.md
Labels: Change sent to author, container-service, ready-to-merge

#6817 Fixed iostat manpage link
  includes/virtual-machines-common-premium-storage-performance.md
Labels: Change sent to author, do-not-merge

#6875 Added two new tips
  articles/time-series-insights/time-series-insights-environment-planning.md
Labels: Change sent to author, ready-to-merge, time-series-insights

#6891 Add ops dashboard to resoure group deploy
  articles/azure-resource-manager/media/vs-azure-tools-resource-groups-deployment-projects-create-deploy/Ops-DemoSiteGroup-dashboard.png
  articles/azure-resource-manager/media/vs-azure-tools-resource-groups-deployment-projects-create-deploy/view-custom-dashboards.png
  articles/azure-resource-manager/vs-azure-tools-resource-groups-deployment-projects-create-deploy.md
Labels: Change sent to author, azure-resource-manager, do-not-merge

#6948 Update LIS link to 4.2
  articles/virtual-machines/linux/endorsed-distros.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux

#6320 Update xamarin-notification-hubs-push-notifications-android-gcm.md
  articles/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm.md
Labels: Change sent to author, notification-hubs, ready-to-merge

#5280 Missing text
  articles/notification-hubs/notification-hubs-push-notification-registration-management.md
Labels: Change sent to author, do-not-merge, merge-conflict, notification-hubs

#6834 Corrected spelling
  articles/storage/common/storage-import-export-service.md
Labels: Change sent to author, do-not-merge, storage

#6964 Fix syntax error of PowerShell
  articles/cognitive-services/Speech/GetStarted/GetStartedREST.md
Labels: Change sent to author, cognitive-services, ready-to-merge

#6895 Add F# support in Preview in v2 of Azure Functions
  includes/functions-supported-languages.md
Labels: Change sent to author, do-not-merge

#6924 Update azure-subscription-limits-azure-resource-manager.md
  includes/azure-subscription-limits-azure-resource-manager.md
Labels: Change sent to author, do-not-merge

#6755 Updating syntax
  articles/virtual-machines/linux/update-agent.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux

#6290 Update create-upload-openbsd.md
  articles/virtual-machines/linux/create-upload-openbsd.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux

#6523 Making Filesystem Operations Connection Consistent
  articles/data-lake-store/data-lake-store-service-to-service-authenticate-python.md
Labels: Change sent to author, data-lake-store, ready-to-merge

#6375 Fixing Typo
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, Typo, do-not-merge, hdinsight

#6813 Update scheduled-events.md
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows

#7000 fix bad link
  articles/application-insights/app-insights-analytics-tour.md
Labels: Change sent to author, application-insights, ready-to-merge

#7036 Update hdinsight-storage-sharedaccesssignature-permissions.md
  articles/hdinsight/hdinsight-storage-sharedaccesssignature-permissions.md
Labels: Change sent to author, hdinsight, ready-to-merge

#7037 Update hdinsight-multiple-clusters-data-lake-store.md
  articles/hdinsight/hdinsight-multiple-clusters-data-lake-store.md
Labels: Change sent to author, hdinsight, ready-to-merge

#7047 Fix typo
  articles/data-lake-store/data-lake-store-end-user-authenticate-net-sdk.md
Labels: Change sent to author, data-lake-store, ready-to-merge

#7050 Update databricks-stream-from-eventhubs.md
  articles/azure-databricks/databricks-stream-from-eventhubs.md
Labels: Change sent to author, azure-databricks, ready-to-merge

#7034 Update sql-database-managed-instance.md
  articles/sql-database/sql-database-managed-instance.md
Labels: Change sent to author, do-not-merge, sql-database

#7027 Update sql-database-read-scale-out.md
  articles/sql-database/sql-database-read-scale-out.md
Labels: Change sent to author, do-not-merge, sql-database

#7063 From private repo
  .openpublishing.redirection.json
  articles/active-directory/active-directory-conditional-access-technical-reference.md
  articles/active-directory/active-directory-passwords-best-practices.md
  articles/analysis-services/analysis-services-connect-excel.md
  articles/azure-resource-manager/resource-group-move-resources.md
  articles/azure-resource-manager/resource-manager-keyvault-parameter.md
  articles/azure-stack/TOC.yml
  articles/azure-stack/azure-stack-get-pki-certs.md
  articles/azure-stack/azure-stack-pki-certs.md
  articles/azure-stack/azure-stack-validate-pki-certs.md
  articles/backup/backup-azure-backup-faq.md
  articles/data-factory/continuous-integration-deployment.md
  articles/data-factory/media/continuous-integration-deployment/continuous-integration-image12.png
  articles/hdinsight/hdinsight-extend-hadoop-virtual-network.md
  articles/iot-edge/sql-storage.md
  articles/machine-learning/preview/overview-more-machine-learning.md
  articles/marketplace/consulting-services.md
  articles/marketplace/marketplace-publishers-guide.md
  articles/service-fabric/service-fabric-create-your-first-linux-application-with-csharp.md
  articles/service-fabric/service-fabric-quickstart-containers-linux.md
  articles/storage/files/storage-how-to-use-files-cli.md
  articles/storage/files/storage-how-to-use-files-portal.md
  articles/storage/files/storage-how-to-use-files-powershell.md
  articles/storage/files/storage-how-to-use-files-storage-explorer.md
  articles/stream-analytics/TOC.md
  articles/stream-analytics/media/stream-analytics-manage-job/configure-input.png
  articles/stream-analytics/media/stream-analytics-manage-job/configure-output.png
  articles/stream-analytics/media/stream-analytics-manage-job/create-a-job.png
  articles/stream-analytics/media/stream-analytics-manage-job/create-eh.png
  articles/stream-analytics/media/stream-analytics-manage-job/create-ehns.png
  articles/stream-analytics/media/stream-analytics-manage-job/create-ehpolicy.png
  articles/stream-analytics/media/stream-analytics-manage-job/create-tiles.png
  articles/stream-analytics/media/stream-analytics-manage-job/define-query.png
  articles/stream-analytics/media/stream-analytics-manage-job/find-eh.png
  articles/stream-analytics/media/stream-analytics-manage-job/power-bi-results.png
  articles/stream-analytics/media/stream-analytics-manage-job/sample-input-data.png
  articles/stream-analytics/media/stream-analytics-manage-job/test-output.png
  articles/stream-analytics/stream-analytics-data-lake-output.md
  articles/stream-analytics/stream-analytics-define-outputs.md
  articles/stream-analytics/stream-analytics-javascript-user-defined-functions.md
  articles/stream-analytics/stream-analytics-manage-job.md
  articles/stream-analytics/stream-analytics-power-bi-dashboard.md
  articles/stream-analytics/stream-analytics-sample-data-input.md
  articles/stream-analytics/stream-analytics-set-up-alerts.md
  articles/stream-analytics/stream-analytics-test-query.md
  articles/stream-analytics/stream-analytics-with-azure-functions.md
  includes/cloud-shell-try-it.md
  includes/storage-files-clean-up-portal.md
  includes/storage-files-create-storage-account-portal.md
  includes/virtual-machines-common-sizes-general.md
Labels: do-not-merge

#6578 Storage Queues now support infinite message TTL
  articles/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging

#4672 Add EnvironmentOverrides opening tag
  articles/service-fabric/service-fabric-get-started-containers.md
Labels: Change sent to author, do-not-merge, service-fabric

#7056 Fix link
  articles/sql-data-warehouse/sql-data-warehouse-migrate-data.md
Labels: Change sent to author, do-not-merge, sql-data-warehouse

#4673 Add ServiceManifestImport tag
  articles/service-fabric/service-fabric-get-started-containers.md
Labels: Change sent to author, do-not-merge, merge-conflict, service-fabric

#7072 Update azure-stack-manage-storage-accounts.md
  articles/azure-stack/azure-stack-manage-storage-accounts.md
Labels: Change sent to author, azure-stack, ready-to-merge

#7116 add west europe to ACI regions
  articles/container-instances/container-instances-quotas.md
Labels: Change sent to author, container-instances, ready-to-merge

#6466 Update incorrect wording on acitivity name
  articles/data-factory/tutorial-incremental-copy-portal.md
Labels: Change sent to author, data-factory, do-not-merge

#6629 Remove mention of GoDaddy
  articles/app-service/app-service-web-tutorial-content-delivery-network.md
Labels: Change sent to author, app-service-web, do-not-merge

#6920 Update transform-data-using-machine-learning.md
  articles/data-factory/transform-data-using-machine-learning.md
Labels: Change sent to author, data-factory, do-not-merge

#5815 Fix code blocks incorrectly marked as JSON
  articles/storage/blobs/storage-blob-event-overview.md
Labels: Change sent to author, do-not-merge, storage

#5861 Update logic-apps-monitor-your-logic-apps.md
  articles/logic-apps/logic-apps-monitor-your-logic-apps.md
Labels: Change sent to author, do-not-merge, logic-apps

#5895 Fixed urls to point directly to downloads
  articles/security/azure-security.md
Labels: Change sent to author, do-not-merge, security

#6153 Update documentation
  articles/logic-apps/logic-apps-securing-a-logic-app.md
Labels: Change sent to author, do-not-merge, logic-apps

#4852 Minor text changes for readability and clarity
  articles/service-bus-relay/relay-hybrid-connections-protocol.md
Labels: Change sent to author, Typo, do-not-merge, service-bus-relay

#6972 Update data-catalog-adopting-data-catalog.md
  articles/data-catalog/data-catalog-adopting-data-catalog.md
Labels: Change sent to author, data-catalog, do-not-merge

#7113 Update msi-tutorial-linux-vm-access-storage.md
  articles/active-directory/pp/msi-tutorial-linux-vm-access-storage.md
Labels: Change sent to author, active-directory, ready-to-merge

#7089 SVM training is step 4
  articles/machine-learning/preview/scenario-image-classification-using-cntk.md
Labels: Change sent to author, do-not-merge, machine-learning

#6309 Update monitoring-rest-api-walkthrough.md
  articles/monitoring-and-diagnostics/monitoring-rest-api-walkthrough.md
Labels: Change sent to author, monitoring-and-diagnostics, ready-to-merge

#7012 Reference body not data in the Python requests.post call
  articles/machine-learning/preview/model-management-consumption.md
Labels: Change sent to author, machine-learning, ready-to-merge

#6959 Update model-management-custom-container.md
  articles/machine-learning/preview/model-management-custom-container.md
Labels: Change sent to author, do-not-merge, machine-learning

#4529 Use a consistent example date
  articles/marketplace-publishing/marketplace-publishing-vm-image-creation.md
Labels: Change sent to author, Typo, do-not-merge, marketplace

#6601 Correct typo.
  articles/power-bi-embedded/get-started.md
Labels: Change sent to author, Typo, do-not-merge, power-bi-embedded

#7164 Updated primary key names
  articles/data-lake-store/data-lake-store-data-transfer-sql-sqoop.md
Labels: Change sent to author, data-lake-store, ready-to-merge

#7158 Fixed code in elevate-access-global-admin.md
  articles/role-based-access-control/elevate-access-global-admin.md
Labels: Change sent to author, active-directory, ready-to-merge

#7179 Deindent to Make Image 8 Appear
  articles/data-factory/continuous-integration-deployment.md
Labels: Change sent to author, data-factory, ready-to-merge

#7156 Typo
  articles/sql-database/sql-database-managed-instance-transact-sql-information.md
Labels: Change sent to author, do-not-merge

#7102 Update active-directory-aadconnect.md
  articles/active-directory/connect/active-directory-aadconnect.md
Labels: Change sent to author, active-directory, do-not-merge

#7073 Simple mistyping
  articles/monitoring-and-diagnostics/monitoring-overview-of-diagnostic-logs.md
Labels: Change sent to author, do-not-merge, monitoring-and-diagnostics

#6864 Update active-directory-tou.md
  articles/active-directory/active-directory-tou.md
Labels: Change sent to author, active-directory, do-not-merge

#4219 Added cross-subscription Traffic Manager endpoints
  articles/traffic-manager/traffic-manager-powershell-arm.md
Labels: Change sent to author, do-not-merge, traffic-manager

#4454 Fixed false documentation
  articles/billing/billing-enterprise-api.md
Labels: Change sent to author, billing, do-not-merge

#4827 Key vault get started authorize using the azure portal
  articles/key-vault/key-vault-get-started.md
Labels: Change sent to author, do-not-merge, key-vault

#7216 Updated Helm CLI links to correct LINKS
  articles/aks/ingress.md
Labels: Change sent to author, container-service, ready-to-merge

#7088 Add Example of Special Characters to Custom properties and measurements
  articles/application-insights/app-insights-analytics-tour.md
Labels: Change sent to author, application-insights, ready-to-merge

#7061 Updated code sample
  articles/active-directory-b2c/active-directory-b2c-devquickstarts-web-dotnet-susi.md
Labels: Change sent to author, active-directory-b2c, ready-to-merge

#6199 Added an advisory in the Things to Remember content to not include <f…
  articles/active-directory-b2c/active-directory-b2c-reference-ui-customization.md
Labels: Change sent to author, active-directory-b2c, ready-to-merge

#6845 Added subscription set command
  articles/aks/kubernetes-walkthrough-portal.md
Labels: Change sent to author, container-service, do-not-merge

#6659 Include *.sso.appservice.REGION.FQDN namespace
  articles/azure-stack/azure-stack-get-pki-certs.md
Labels: Change sent to author, azure-stack, do-not-merge

#6747 Update azure-stack-rotate-secrets.md
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack, do-not-merge

#7149 Update durable-functions-http-api.md
  articles/azure-functions/durable-functions-http-api.md
Labels: Change sent to author, do-not-merge, functions

#7107 added DNS faq
  includes/container-service-faq.md
Labels: Change sent to author, do-not-merge

#6235 Updating IoT Hub directions to reflect Device Explorer changing to Io…
  articles/iot-hub/media/iot-hub-create-hub-and-device/6_add-device-in-azure-iot-hub-device-explorer-portal.png
  articles/iot-hub/media/iot-hub-create-hub-and-device/6_add-device-in-azure-iot-hub-iot-devices-portal.png
  articles/iot-hub/media/iot-hub-create-hub-and-device/7_device-list-in-iot-devices-portal.png
  articles/iot-hub/media/iot-hub-create-hub-and-device/7_get-device-connection-string-in-device-explorer-portal.png
  articles/iot-hub/media/iot-hub-create-hub-and-device/8_get-device-connection-string-in-iot-devices-portal.png
  includes/iot-hub-get-started-create-hub-and-device.md
Labels: Change sent to author, do-not-merge, iot-hub

#7313 Update apache-domain-joined-configure-using-azure-adds.md
  articles/hdinsight/domain-joined/apache-domain-joined-configure-using-azure-adds.md
Labels: Change sent to author, do-not-merge, hdinsight

#7138 Update sql-database-elastic-pool.md
  articles/sql-database/sql-database-elastic-pool.md
Labels: Change sent to author, ready-to-merge, sql-database

#7301 Change title 'Create a trial registration? to something like 'Registe…
  articles/cost-management/quick-register-ea.md
Labels: Change sent to author, cost-management, ready-to-merge

#7309 Reflect https requirement in link:// endpoint
  articles/analysis-services/analysis-services-server-alias.md
Labels: Change sent to author, analysis-services, ready-to-merge

#7291 Clarify nomenclature of App Service offerings
  portal-articles/WebsitesExtension/WebApps/Overview.md
Labels: Change sent to author, app-service, do-not-merge

#7293 Removed unnecessary '=' for CLI commands
  articles/aks/tutorial-kubernetes-deploy-cluster.md
Labels: do-not-merge

#7300 Add section explaining how to bulk assign tags.
  includes/resource-manager-tag-resources.md
Labels: Change sent to author, do-not-merge

#7299 Update sql-database-managed-instance-create-tutorial-portal.md
  articles/sql-database/sql-database-managed-instance-create-tutorial-portal.md
Labels: Change sent to author, do-not-merge, sql-database

#7296 Update sql-database-high-availability.md
  articles/sql-database/sql-database-high-availability.md
Labels: Change sent to author, do-not-merge, sql-database

#7330 [Minor Fix] nl-NL id spacing
  articles/location-based-services/supported-languages.md
Labels: Change sent to author, location-based-services, ready-to-merge

#7090 Update sql-database-vnet-service-endpoint-rule-overview.md
  articles/sql-database/sql-database-vnet-service-endpoint-rule-overview.md
Labels: Change sent to author, do-not-merge, sql-database

#7303 Fixed spelling mistake
  articles/api-management/import-and-publish.md
Labels: Change sent to author, api-management, ready-to-merge

#7337 Addresses question on public cert use case
  articles/app-service/app-service-web-tutorial-custom-ssl.md
Labels: Change sent to author, app-service-web, ready-to-merge

#7384 Fixed link to Twitter Application MAnagement
  articles/azure-databricks/databricks-stream-from-eventhubs.md
Labels: Change sent to author, azure-databricks, ready-to-merge

#7383 Updated SA Lifetime value in seconds
  articles/azure-stack/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack, ready-to-merge

#7382 made version 8 note important
  articles/multi-factor-authentication/multi-factor-authentication-get-started-server-webservice.md
Labels: Change sent to author, multi-factor-authentication, ready-to-merge

#7367 Update network-watcher-nsg-flow-logging-powershell.md
  articles/network-watcher/network-watcher-nsg-flow-logging-powershell.md
Labels: Change sent to author, network-watcher, ready-to-merge

#7371 Update active-directory-saas-learnupon-tutorial.md
  articles/active-directory/active-directory-saas-learnupon-tutorial.md
Labels: Change sent to author, active-directory, ready-to-merge

#7401 Typo fix
  articles/automation/automation-runbook-gallery.md
Labels: Change sent to author, automation, ready-to-merge

#7361 Removed the reference of Xamarin Studio
  articles/app-service-mobile/app-service-mobile-xamarin-ios-get-started-users.md
Labels: Change sent to author, app-service-mobile, ready-to-merge

#7039 Update virtual-machines-common-sizes-general.md
  includes/virtual-machines-common-sizes-general.md
Labels: Change sent to author, do-not-merge, virtual-machines

#7432 RE: Sev 3: Id 54668536: F series VM's having inconsistent CPU's "Xeon…
  includes/virtual-machines-common-sizes-memory.md
Labels: Change sent to author, do-not-merge, virtual-machines

#7286 add link to custom policies page
  articles/active-directory-b2c/active-directory-b2c-overview.md
Labels: Change sent to author, active-directory-b2c, ready-to-merge

#7391 adding temp steps to address hostname registration
  articles/virtual-machines/linux/cloudinit-prepare-custom-image.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux

#7421 Update features-powershell.md
  articles/cloud-shell/features-powershell.md
Labels: Change sent to author, azure, ready-to-merge

#6751 Added Standard tier as supported for B2C
  articles/api-management/api-management-howto-aad-b2c.md
Labels: Change sent to author, api-management, do-not-merge, ready-to-merge

#7318 add new config: ApplicationIdProvider
  articles/application-insights/app-insights-configuration-with-applicationinsights-config.md
Labels: Change sent to author, do-not-merge

#7422 Update app-insights-platforms.md
  articles/application-insights/app-insights-platforms.md
Labels: Change sent to author, application-insights, do-not-merge

#3925 Fix openshift-ansible path in post-deployment.md
  articles/virtual-machines/linux/openshift-post-deployment.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux

#7277 Update create-sql-api-dotnet.md
  articles/cosmos-db/create-sql-api-dotnet.md
Labels: Change sent to author, cosmos-db, ready-to-merge

#7244 Adding disabled BGP text
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network

#7464 Updated Throughput table
  articles/azure-stack/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, azure-stack, ready-to-merge

#7470 Just put a consistent name in the publicIpAddress
  articles/virtual-machines/windows/quick-create-cli.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows

#7450 Changing description to "EA Agreement Number"
  articles/azure-stack/azure-stack-registration.md
Labels: do-not-merge

#7196 Update MSI-enabled resource types
  articles/active-directory/managed-service-identity/overview.md
Labels: Change sent to author, active-directory, ready-to-merge

#7397 Update video-indexer-overview.md
  articles/cognitive-services/video-indexer/video-indexer-overview.md
Labels: Change sent to author, cognitive-services, do-not-merge, ready-to-merge
