Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-11, with the labels that each got.

#16305 Added explicit instructions for module name
  articles/iot-edge/tutorial-deploy-function.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#17375 Updating exclusion limit for policy assignments
  includes/azure-policy-limits.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#18025 typo: Double word "group"
  articles/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout.md
Labels: Change sent to author, backup/svc, ready-to-merge

#18020 Fixed a broken markdown table.
  articles/azure-government/documentation-government-services-dataandanalytics.md
Labels: Change sent to author, azure-government/svc, do-not-merge

#18023 propose adding link to GitHub repo
  articles/active-directory-b2c/active-directory-b2c-tutorials-desktop-app.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#17785 Incorrect unit
  articles/virtual-machines/windows/about-disks-and-vhds.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#18034 CC78286: Adding line
  articles/cognitive-services/translator-speech/quickstarts/csharp.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#18013 Fixing Kafka version in HDI 4.0
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18073 Update navigation steps
  articles/cost-management/tutorial-export-acm-data.md
Labels: Change sent to author, cost-management/svc, ready-to-merge

#18107 Fixed various grammar errors and typos
  articles/marketplace/marketplace-virtual-machines.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#18106 Fixed spelling stream (was steam)
  articles/sql-data-warehouse/sql-data-warehouse-integrate-azure-stream-analytics.md
Labels: Change sent to author, do-not-merge, sql-data-warehouse/svc

#18104 Update azure-to-azure-support-matrix.md
  articles/site-recovery/azure-to-azure-support-matrix.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#18088 Updating Packet Capture Limits Documentation
  includes/network-watcher-limits.md
Labels: Change sent to author, do-not-merge

#17506 clarify behaviour for id fields
  articles/stream-analytics/stream-analytics-documentdb-output.md
Labels: Change sent to author, do-not-merge, stream-analytics/svc

#18094 fixing typo
  articles/dms/tutorial-sql-server-managed-instance-online.md
Labels: Change sent to author, dms/svc, do-not-merge

#18129 Fix syntax issues in service-fabric-assign-policy-to-endpoint.md
  articles/service-fabric/service-fabric-assign-policy-to-endpoint.md
Labels: do-not-merge

#18132 Adding newly available regions
  articles/dev-spaces/index.yml
Labels: do-not-merge

#18133 Adding newly available regions
  articles/dev-spaces/quickstart-java.md
Labels: do-not-merge

#18136 Adding newly available regions
  articles/dev-spaces/quickstart-netcore-visualstudio.md
Labels: do-not-merge

#18134 Adding newly available regions
  articles/dev-spaces/quickstart-netcore.md
Labels: do-not-merge

#18137 Adding newly available regions
  articles/dev-spaces/quickstart-nodejs.md
Labels: do-not-merge

#18138 Adding newly available regions
  articles/dev-spaces/get-started-java.md
Labels: do-not-merge

#18139 Adding newly supported regions
  articles/dev-spaces/get-started-netcore.md
Labels: do-not-merge

#18141 Adding newly supported regions
  articles/dev-spaces/get-started-netcore-visualstudio.md
Labels: do-not-merge

#18142 Adding newly supported regions
  articles/dev-spaces/get-started-nodejs.md
Labels: do-not-merge

#18095 Fix deprecated usage: how-to-deploy-modules-cli.md
  articles/iot-edge/how-to-deploy-modules-cli.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#18103 CRL (Outbound) doesn't use HTTPs
  articles/azure-stack/azure-stack-integrate-endpoints.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#18100 Fix nonunified
  articles/lab-services/devtest-lab-guidance-governance-application-migration-integration.md
Labels: Change sent to author, do-not-merge, lab-services/svc

#18176 typo: occurance -> occurrence
  articles/machine-learning/service/how-to-configure-auto-train.md
  articles/monitoring-and-diagnostics/monitoring-overview-alerts-classic.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#18177 typo: occuring -> occurring
  articles/service-bus-messaging/service-bus-amqp-protocol-guide.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#18011 Match workspace name
  articles/log-analytics/log-analytics-cross-workspace-search.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#18235 Fix grammar -- it's -> its
  articles/storage/files/storage-files-introduction.md
  articles/storage/files/storage-sync-files-deployment-guide.md
  articles/storage/files/storage-sync-files-troubleshoot.md
Labels: Change sent to author, do-not-merge, storage/svc

#18193 jras-MSFT-update-massively-parallel-processing-mpp
  articles/sql-data-warehouse/massively-parallel-processing-mpp-architecture.md
Labels: Change sent to author, do-not-merge, sql-data-warehouse/svc

#18165 Fixed type in next steps button
  articles/storage/blobs/storage-blob-scalable-app-upload-files.md
Labels: Change sent to author, do-not-merge, storage/svc

#18238 Update manage-certificates-for-federated-single-sign-on.md
  articles/active-directory/manage-apps/manage-certificates-for-federated-single-sign-on.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18161 chore: Fix `author` metadata for `cawaMS`
  articles/key-vault/vs-secure-secret-appsettings.md
  articles/vs-azure-tools-storage-explorer-blobs.md
  articles/vs-azure-tools-storage-explorer-relnotes.md
  articles/vs-azure-tools-storage-manage-with-storage-explorer.md
Labels: Change sent to author, do-not-merge, storage/svc

#18175 chore: Remove locale from docs.microsoft.com links
  articles/active-directory/devices/overview.md
  articles/app-service/containers/app-service-linux-java.md
  articles/application-insights/application-insights-correlation.md
  articles/azure-resource-manager/resource-manager-tutorial-deploy-sql-extensions-bacpac.md
  articles/azure-stack/user/azure-stack-solution-hybrid-identity.md
  articles/cognitive-services/Translator/quickstart-nodejs-dictionary.md
  articles/cognitive-services/Translator/quickstart-nodejs-transliterate.md
  articles/cognitive-services/Translator/translator-info-overview.md
  articles/cosmos-db/tutorial-setup-ci-cd.md
  articles/data-factory/create-azure-ssis-integration-runtime.md
  articles/data-factory/how-to-configure-azure-ssis-ir-custom-setup.md
  articles/event-grid/how-to-event-domains.md
  articles/hdinsight/domain-joined/apache-domain-joined-run-kafka.md
  articles/machine-learning/data-science-virtual-machine/linux-dsvm-walkthrough.md
  articles/monitoring-and-diagnostics/alert-log-troubleshoot.md
  articles/monitoring-and-diagnostics/metrics-store-custom-guestos-resource-manager-vmss.md
  articles/sql-database/toc.yml
  articles/storage/blobs/storage-quickstart-blobs-go.md
  articles/virtual-machines/linux/openshift-azure-stack.md
  articles/virtual-machines/linux/openshift-post-deployment.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#18247 Fixing LA function reference datetime strings
  articles/logic-apps/workflow-definition-language-functions-reference.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#18249 included application admin role
  articles/active-directory/manage-apps/application-proxy-connector-installation-problem.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18256 updated tls requirements
  articles/active-directory/manage-apps/application-proxy-enable.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18087 Minor wording changes for clarity
  includes/virtual-machines-common-shared-image-galleries.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#17354 Listening for SE gives a time window before maintenance
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#18131 Added another error to the table
  articles/active-directory/authentication/howto-mfa-nps-extension-errors.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18254 Multiple small changing from update to typo
  articles/stream-analytics/stream-analytics-manage-job.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#18156 Updating incorrect IP
  articles/virtual-machines/extensions/features-linux.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#18257 updated tls requirements
  articles/active-directory/manage-apps/application-proxy-connectors.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18261 Update vmware-azure-manage-configuration-server.md
  articles/site-recovery/vmware-azure-manage-configuration-server.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#18281 Update example for listAccountSas function
  articles/azure-resource-manager/resource-group-template-functions-resource.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#18275 typo: Double word "to"
  articles/service-fabric-mesh/service-fabric-mesh-faq.md
Labels: Change sent to author, do-not-merge, service-fabric-mesh/svc

#18298 New line fix
  articles/application-insights/app-insights-monitor-web-app-availability.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#15381 Fixed outdated docs for CLI in article.
  articles/marketplace-publishing/marketplace-publishing-vm-image-creation.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#18112 minor updates
  articles/service-fabric/service-fabric-cluster-resource-manager-autoscaling.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#18301 Minor grammar changes
  articles/hdinsight/hdinsight-apps-use-edge-node.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18302 Update link to point to new repo
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18306 Update hdinsight-high-availability-linux.md
  articles/hdinsight/hdinsight-high-availability-linux.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18307 Update hdinsight-administer-use-management-portal.md
  articles/hdinsight/hdinsight-administer-use-management-portal.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18308 updated the update date
  articles/hdinsight/hdinsight-hadoop-linux-use-ssh-unix.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18240 Update how-to-connect-pta-current-limitations.md
  articles/active-directory/hybrid/how-to-connect-pta-current-limitations.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#17956 Updated XML code formatting of SettingsOverridesType
  articles/service-fabric/service-fabric-service-model-schema-complex-types.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#18314 Update hdinsight-hadoop-customize-cluster-linux.md
  articles/hdinsight/hdinsight-hadoop-customize-cluster-linux.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18310 updated the update date
  articles/hdinsight/hadoop/apache-hadoop-linux-create-cluster-get-started-portal.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18317 Update hdinsight-hadoop-manage-ambari.md
  articles/hdinsight/hdinsight-hadoop-manage-ambari.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18319 Update hdinsight-hadoop-port-settings-for-services.md
  articles/hdinsight/hdinsight-hadoop-port-settings-for-services.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18316 Update hdinsight-hadoop-use-data-lake-store.md
  articles/hdinsight/hdinsight-hadoop-use-data-lake-store.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18323 Update hdinsight-hadoop-oms-log-analytics-tutorial.md
  articles/hdinsight/hdinsight-hadoop-oms-log-analytics-tutorial.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18324 Update hdinsight-hadoop-create-linux-clusters-arm-templates.md
  articles/hdinsight/hdinsight-hadoop-create-linux-clusters-arm-templates.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18329 Update hdinsight-hadoop-access-yarn-app-logs-linux.md
  articles/hdinsight/hdinsight-hadoop-access-yarn-app-logs-linux.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18331 Update hdinsight-hadoop-oms-log-analytics-use-queries.md
  articles/hdinsight/hdinsight-hadoop-oms-log-analytics-use-queries.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18321 Update hdinsight-hadoop-architecture.md
  articles/hdinsight/hdinsight-hadoop-architecture.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#18334 Update hdinsight-using-spark-query-hbase.md
  articles/hdinsight/hdinsight-using-spark-query-hbase.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#18335 Update hdinsight-connect-hive-zeppelin.md
  articles/hdinsight/hdinsight-connect-hive-zeppelin.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#18336 Fixed typo in DSVM blurb
  articles/machine-learning/index.yml
Labels: Change sent to author, do-not-merge

#18325 update some concepts so that it more clear
  includes/virtual-machines-disks-ultra-ssd.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#18337 Update hdinsight-hadoop-create-linux-clusters-portal.md
  articles/hdinsight/hdinsight-hadoop-create-linux-clusters-portal.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18338 Fix typo in service-bus-end-to-end-tracing.md
  articles/service-bus-messaging/service-bus-end-to-end-tracing.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#18357 typo: behand -> behind
  articles/media-services/previous/media-services-build-smooth-streaming-apps.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#18349 Update iaas-antimalware-windows.md
  articles/virtual-machines/extensions/iaas-antimalware-windows.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#18353 typo: Double word "the"
  includes/storage-copy-account-key-portal.md
Labels: Change sent to author, do-not-merge, storage/svc

#18354 chore: Remove en-us from technet.microsoft.com url
  articles/active-directory/hybrid/how-to-connect-health-data-freshness.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#18355 chore: Fix author metadate for zhiweiwangmsft
  articles/active-directory/hybrid/how-to-connect-health-adds.md
  articles/active-directory/hybrid/how-to-connect-health-adfs.md
  articles/active-directory/hybrid/how-to-connect-health-agent-install.md
  articles/active-directory/hybrid/how-to-connect-health-data-freshness.md
  articles/active-directory/hybrid/how-to-connect-health-diagnose-sync-errors.md
  articles/active-directory/hybrid/how-to-connect-health-operations.md
  articles/active-directory/hybrid/how-to-connect-health-sync.md
  articles/active-directory/hybrid/reference-connect-health-version-history.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#18356 chore: Update ms.date format
  articles/media-services/previous/media-services-crop-video.md
Labels: Change sent to author, do-not-merge, media-services/svc

#18358 typo: everytime -> every time
  articles/hdinsight/spark/apache-spark-connect-to-sql-database.md
  articles/machine-learning/studio/excel-add-in-for-web-services.md
  articles/media-services/previous/media-services-build-smooth-streaming-apps.md
  articles/monitoring/monitoring-runbook-datacollect.md
Labels: Change sent to author, do-not-merge, monitoring/svc

#18372 Fix broken link in Application Insights Correlation docs
  articles/application-insights/application-insights-correlation.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#18378 typo: frist -> first
  articles/media-services/previous/media-services-build-smooth-streaming-apps.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#17618 Update azure-stack-servicing-policy.md
  articles/azure-stack/azure-stack-servicing-policy.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#17808 Update azure-stack-version-profiles-azurecli2.md
  articles/azure-stack/user/azure-stack-version-profiles-azurecli2.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#18311 Correct system key URL for v2 runtime
  articles/azure-functions/functions-bindings-event-grid.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#18431 chore: Replace graph.microsoft.io with developer.microsoft.com links
  articles/active-directory/b2b/customize-invitation-api.md
  articles/active-directory/develop/active-directory-graph-api.md
  articles/active-directory/develop/azure-ad-endpoint-comparison.md
  articles/active-directory/develop/consent-framework.md
  articles/active-directory/develop/developer-glossary.md
  articles/active-directory/develop/howto-convert-app-to-be-multi-tenant.md
  articles/active-directory/develop/quickstart-v1-android.md
  articles/active-directory/develop/v2-oauth2-client-creds-grant-flow.md
  articles/active-directory/develop/v2-oauth2-implicit-grant-flow.md
  articles/active-directory/develop/v2-overview.md
  articles/active-directory/hybrid/how-to-connect-sync-feature-directory-extensions.md
  articles/active-directory/identity-protection/graph-get-started.md
  articles/active-directory/saas-apps/openidoauth-tutorial.md
  articles/azure-functions/functions-bindings-microsoft-graph.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#18439 Update log-analytics-oms-portal-transition.md
  articles/log-analytics/log-analytics-oms-portal-transition.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#18416 Update module-development.md
  articles/iot-edge/module-development.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#18420 Adding --generate-ssh-keys flag
  articles/dev-spaces/get-started-java.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#18423 Update virtual-machines-n-series-windows-support.md
  includes/virtual-machines-n-series-windows-support.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#18429 typo: Double word "you"
  articles/event-hubs/event-hubs-kafka-spark-tutorial.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#18458 Update azure-stack-registration.md
  articles/azure-stack/azure-stack-registration.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#18430 typo: Double word "to"
  articles/sql-database/sql-database-connect-query-r.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#18465 Updated private key requirements to include LMKAnyTrustedRoot
  articles/azure-stack/azure-stack-pki-certs.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#18455 Fix broken link
  articles/azure-stack/azure-stack-vpn-gateway-about-vpn-gateways.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#18433 typo: outnput -> output
  articles/azure-functions/functions-bindings-microsoft-graph.md
Labels: Change sent to author, azure-functions/svc, do-not-merge, ready-to-merge

#18457 Update time-series-analysis.md
  articles/data-explorer/time-series-analysis.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#18450 Niallermoran patch docs
  articles/azure-resource-manager/resource-group-overview.md
  articles/governance/index.yml
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#18432 typo: permision -> permission
  articles/active-directory/develop/howto-convert-app-to-be-multi-tenant.md
  articles/cloud-services/cloud-services-configure-ssl-certificate-portal.md
Labels: Change sent to author, cloud-services/svc, do-not-merge

#18491 Fix typos
  articles/azure-stack/azure-stack-privileged-endpoint.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#18495 Outbound endpoints cannot be to ANY
  articles/azure-stack/azure-stack-integrate-endpoints.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#18422 Updating document to reflect data retention policy
  articles/network-watcher/view-relative-latencies.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#18524 Fix formatting
  articles/service-fabric/service-fabric-containers-volume-logging-drivers.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#18528 typo: creats -> creates
  articles/migrate/contoso-migration-rehost-linux-vm-mysql.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#18529 typo: heirarchy -> hierarchy
  articles/data-lake-store/data-lake-store-archive-eventhub-capture.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#18530 typo: reqest -> request
  articles/application-insights/micrometer-java.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#18533 Updated author and removed GATK3.3 reference
  articles/genomics/version-release-history-genomics.md
Labels: Change sent to author, do-not-merge, genomics/svc

#18541 fix missing curly bracket in css
  articles/cognitive-services/Bing-Autosuggest/tutorials/autosuggest-source.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#18418 Adding --generate-ssh-keys flag
  articles/dev-spaces/get-started-nodejs.md
Labels: Change sent to author, azure-dev-spaces/svc, ready-to-merge

#18419 Adding --generate-ssh-keys flag
  articles/dev-spaces/get-started-netcore.md
Labels: Change sent to author, azure-dev-spaces/svc, ready-to-merge

#18563 Removed duplicate note about Helm version.
  articles/aks/ingress-static-ip.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#18567 Adding ExpressRoute Restriction Note
  articles/sql-database/sql-database-managed-instance-connect-app.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#18562 Corrected "etworks" to "networks"
  articles/sql-database/sql-database-managed-instance-connect-app.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#18522 Organized FAQ under topics
  articles/active-directory/devices/faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18572 Updated based on customer feedback about disabling devices.
  articles/active-directory/devices/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#18618 typo: overwirte -> overwrite
  articles/hdinsight/hdinsight-analyze-flight-delay-data.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#18622 typo: Functionla -> Functional
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18624 typo: teannt -> tenant
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18625 typo: reelase -> release
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18626 typo: opreation -> operation
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18627 typo: Dictory -> Directory
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18629 typo: supplimented -> supplemented
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18630 typo: insghts -> insights
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18631 typo: associeted -> associated
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18645 typo: BlobRequestionOptions -> BlobRequestOptions
  articles/storage/blobs/storage-blob-scalable-app-download-files.md
  articles/storage/blobs/storage-blob-scalable-app-upload-files.md
Labels: Change sent to author, ready-to-merge, storage/svc

#18659 typo: avaible -> available
  articles/active-directory-b2c/technicalprofiles.md
  articles/active-directory-b2c/validation-technical-profile.md
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#18593 typo: hierachy -> hierarchy
  articles/network-watcher/network-watcher-deep-packet-inspection.md
Labels: Change sent to author, do-not-merge, network-watcher/svc

#18662 typo: coexsiting -> coexisting
  articles/expressroute/expressroute-howto-coexist-classic.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#18615 typo: examle -> example
  articles/active-directory-b2c/userjourneys.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#18701 fix url of azure portal.
  articles/azure-stack/user/azure-stack-solution-machine-learning.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#18616 typo: conditionaly -> conditionally
  articles/active-directory-b2c/userjourneys.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#18681 Spelling
  articles/active-directory-b2c/validation-technical-profile.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#18672 typo: faciliate -> facilitate
  articles/machine-learning/data-science-virtual-machine/dsvm-tools-explore-and-visualize.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#18678 Fix typo
  articles/azure-databricks/quickstart-create-databricks-workspace-portal.md
Labels: Change sent to author, azure-databricks/svc, do-not-merge

#18611 typo: independant -> independent
  articles/service-fabric/service-fabric-assign-policy-to-endpoint.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#18617 typo: ecxetuted -> executed
  articles/active-directory-b2c/userjourneys.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#18619 typo: inforamation -> information
  articles/storsimple/storsimple-8000-security.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#18620 typo: follwing -> following
  articles/active-directory-b2c/claimsschema.md
  articles/active-directory-b2c/userjourneys.md
  articles/active-directory/saas-apps/kantegassoforbamboo-tutorial.md
  articles/cognitive-services/Content-Moderator/video-transcript-moderation-review-tutorial-dotnet.md
  articles/cosmos-db/create-mongodb-xamarin.md
  articles/hdinsight/hdinsight-analyze-flight-delay-data.md
  articles/machine-learning/studio/manage-web-service-endpoints-using-api-management.md
  articles/storsimple/storsimple-8000-security.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#18621 typo: Double word "the"
  articles/mysql/howto-read-replicas-cli.md
Labels: Change sent to author, do-not-merge, mysql/svc

#18632 typo: resourec -> resource
  articles/site-recovery/azure-to-azure-powershell.md
Labels: do-not-merge

#18634 typo: additnal -> additional
  articles/virtual-machines/troubleshooting/troubleshoot-vm-boot-configure-update.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#18644 typo: initialy -> initially
  articles/storage/blobs/storage-blob-scalable-app-download-files.md
Labels: Change sent to author, do-not-merge, storage/svc

#18670 typo: atleast -> at least
  articles/application-insights/app-insights-usage-cohorts.md
  articles/databox/data-box-disk-deploy-ordered.md
  articles/databox/data-box-faq.md
  articles/hdinsight/hadoop/apache-hadoop-debug-jobs.md
  articles/service-fabric/service-fabric-cluster-security-update-certs-azure.md
  articles/site-recovery/migrate-tutorial-windows-server-2008.md
  articles/storsimple/storsimple-8000-restore-from-backup-set-u2.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#18646 typo: funtions -> functions
  articles/cosmos-db/change-feed.md
Labels: do-not-merge

#18668 typo: Candana -> Canada
  articles/databox/data-box-disk-deploy-ordered.md
Labels: do-not-merge

#18687 typo: REGISER -> REGISTER
  articles/machine-learning/team-data-science-process/spark-advanced-data-exploration-modeling.md
  articles/machine-learning/team-data-science-process/spark-data-exploration-modeling.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#18650 small typos found by GPM
  articles/security/azure-security.md
Labels: Change sent to author, do-not-merge, security/svc

#18647 typo: processs -> process
  articles/cosmos-db/change-feed.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge
