Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-08, with the labels that each got.

#12661 Fix a typo in index.yml
  articles/ansible/index.yml
Labels: Change sent to author, do-not-merge

#12619 More specific navigation to locate Azure AD tenant
  articles/active-directory/develop/active-directory-devquickstarts-webapi-dotnet.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12577 Added information about X-Original-Host header
  articles/application-gateway/application-gateway-faq.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#12698 Updated broken links to get and set cmdlets
  articles/automation/automation-runbook-settings.md
Labels: Change sent to author, automation/svc, ready-to-merge

#12699 Update active-directory-conditional-access-conditions.md
  articles/active-directory/active-directory-conditional-access-conditions.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12723 Updating documentation to use the latest jar file
  articles/hdinsight/kafka/apache-kafka-producer-consumer-api.md
  articles/hdinsight/kafka/apache-kafka-streams-api.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#12738 fix a emphasis
  articles/media-services/previous/media-services-dotnet-get-started.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#12655 Updated AV interop section to include Defender
  articles/storage/files/storage-sync-files-planning.md
Labels: Change sent to author, do-not-merge, storage/svc

#12778 Update active-directory-aadconnect-version-history.md
  articles/active-directory/connect/active-directory-aadconnect-version-history.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12807 Update sql-database-vcore-resource-limits-elastic-pools.md
  articles/sql-database/sql-database-vcore-resource-limits-elastic-pools.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#12855 Update billing-getting-started.md
  articles/billing/billing-getting-started.md
Labels: Change sent to author, billing/svc, do-not-merge

#12872 adding info on supported operating systems
  articles/dev-spaces/quickstart-netcore.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12873 adding info on supported operating systems
  articles/dev-spaces/quickstart-nodejs.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12875 adding info on supported operating systems
  articles/dev-spaces/get-started-nodejs.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12874 adding info on supported operating systems
  articles/dev-spaces/get-started-netcore.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#11305 Fix incorrect cli 2.0 command to register
  articles/storage/common/storage-lifecycle-managment-concepts.md
Labels: Change sent to author, do-not-merge, storage/svc

#11665 Fix azure cli sample for hierarchical namespace
  articles/storage/data-lake-storage/quickstart-create-account.md
Labels: Change sent to author, do-not-merge, storage/svc

#11736 Replace http with https in url
  articles/storage/queues/storage-queues-introduction.md
Labels: Change sent to author, ready-to-merge, storage/svc

#12848 Corrected App Gateway App Gateway Script
  articles/application-gateway/create-web-app.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#12913 Updated powershell script to list aliases
  articles/azure-policy/policy-definition.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#11998 Service Bus - Add warning about idle entities resulting in metric value '0'
  articles/service-bus-messaging/service-bus-metrics-azure-monitor.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#12795 Spelling mistake
  articles/active-directory/managed-service-identity/qs-configure-template-windows-vm.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12868 Fix to the code snippet pertaining to modules
  articles/iot-edge/iot-edge-modules.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#12883 Link added to Nuget package for Graphs
  articles/cosmos-db/faq.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#12923 Added subscription_id
  articles/app-service/containers/app-service-linux-ssh-support.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#12954 Small clarifications/corrections.
  articles/application-insights/app-insights-analytics-tour.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#12871 Update set-throughput.md
  articles/cosmos-db/set-throughput.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#12945 Updating the modbus URL to MCR URL
  articles/iot-edge/deploy-modbus-gateway.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#12794 Corrected Name param for Get-AzureRmVM/Stop-AzureRmVM
  articles/virtual-machines/windows/convert-disk-storage.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#12736 fix emphases, fix a list
  articles/hdinsight/hdinsight-administer-use-management-portal.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#12959 fix typo
  articles/virtual-machines/windows/key-vault-setup.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#12932 Corrected description. Update virtual-network-troubleshoot-nva.md
  articles/virtual-network/virtual-network-troubleshoot-nva.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#12963 Missing method, missing readkey and typo fixed
  articles/iot-hub/iot-hub-portal-csharp-module-twin-getstarted.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#13002 wrong name for file causing error
  articles/cosmos-db/sql-api-nodejs-application.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#12962 Updated the "Control deployment" section with an important note
  articles/active-directory/devices/hybrid-azuread-join-manual-steps.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12964 Updated to include an important step to control newly domain joining …
  articles/active-directory/devices/hybrid-azuread-join-control.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12961 Javascript syntax highlighting
  articles/cosmos-db/programming.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#12995 replacing thumbnailUrl with thumbnailId
  articles/cognitive-services/video-indexer/video-indexer-output-json-v2.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#13020 Spelling error
  articles/event-grid/concepts.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#10532 change to "%ComputeEmulatorRunning%"=="true"
  articles/cloud-services/cloud-services-dotnet-install-dotnet.md
Labels: Change sent to author, cloud-services/svc, ready-to-merge

#10533 Change %RoleRoot% to %PathToApp1Install%
  articles/cloud-services/cloud-services-startup-tasks-common.md
Labels: Change sent to author, cloud-services/svc, ready-to-merge

#12478 Module selection step is missing
  articles/iot-edge/how-to-deploy-modules-portal.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#12968 Cloud Shell getting started: $Home should be $HOME
  articles/cloud-shell/troubleshooting.md
Labels: ready-to-merge

#12121 typo: Double word "IoT"
  articles/iot-dps/quick-setup-auto-provision-cli.md
Labels: Change sent to author, iot-dps/svc, ready-to-merge

#12549 Update apache-interactive-query-get-started.md
  articles/hdinsight/interactive-query/apache-interactive-query-get-started.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#12755 Updated for brevity and link to precompiled samples
  articles/azure-functions/durable-functions-overview.md
Labels: Change sent to author, do-not-merge, functions/svc

#12909 Toc Updates
  articles/key-vault/toc.yml
Labels: Change sent to author

#13032 Update toc.yml
  articles/sql-database/toc.yml
Labels: Change sent to author, do-not-merge

#13072 Fixed Azure Disk Encryption prerequisites link.
  articles/security/azure-security-disk-encryption-windows.md
Labels: Change sent to author, ready-to-merge, security/svc

#12800 New rendering software
  articles/batch/batch-rendering-service.md
Labels: Change sent to author, batch/svc, ready-to-merge

#12928 Fix type and a missing comma in JSON code snippet
  articles/search/search-howto-index-json-blobs.md
Labels: Change sent to author, ready-to-merge, search/svc

#12719 Removed mentions of verbose from event levels
  articles/monitoring-and-diagnostics/monitoring-activity-log-schema.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#13166 Update vpn-gateway-highlyavailable.md
  articles/vpn-gateway/vpn-gateway-highlyavailable.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#13124 Fix typo
  articles/service-fabric-mesh/service-fabric-mesh-tutorial-create-dotnetcore.md
Labels: Change sent to author, ready-to-merge, service-fabric-mesh/svc

#4020 Updating for Service Health preview changes
  articles/service-health/resource-health-faq.md
Labels: Change sent to author, do-not-merge, service-health/svc

#12608 azurestack 1.4.0 release updates
  articles/azure-stack/asdk/asdk-post-deploy.md
  articles/azure-stack/azure-stack-create-offer.md
  articles/azure-stack/azure-stack-mysql-resource-provider-deploy.md
  articles/azure-stack/azure-stack-node-actions.md
  articles/azure-stack/azure-stack-powershell-install.md
  articles/azure-stack/azure-stack-sql-resource-provider-deploy.md
  articles/azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#4086 updated retention time for activity logs
  articles/security/azure-log-audit.md
Labels: Change sent to author, do-not-merge, security/svc

#13100 Fix PowerShell version in features.md
  articles/cloud-shell/features.md
Labels: Change sent to author, azure/svc, ready-to-merge

#12126 typo: Double word "file"
  articles/cosmos-db/tutorial-develop-mongodb-nodejs-part5.md
  articles/logic-apps/logic-apps-enterprise-integration-flatfile.md
Labels: Change sent to author, do-not-merge, logic-apps/svc

#13164 Fix Typo
  articles/dns/dns-web-sites-custom-domain.md
Labels: Change sent to author, dns/svc, ready-to-merge

#13171 Adding info on restarting nginx controller
  articles/dev-spaces/troubleshooting.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#13191 Update quickstart-sql-vm-create-powershell.md
  articles/virtual-machines/windows/sql/quickstart-sql-vm-create-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-machines-sql/svc

#13238 better query to detect sampling
  articles/application-insights/app-insights-sampling.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#4608 Update iot-hub-mqtt-support.md
  articles/iot-hub/iot-hub-mqtt-support.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#13181 include batchcount property
  articles/data-factory/control-flow-for-each-activity.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#12138 typo: Double word "through"
  articles/automation/automation-onboard-solutions.md
Labels: Change sent to author, automation/svc, do-not-merge

#12199 Update arm elements
  articles/automation/automation-deploy-template-runbook.md
Labels: Change sent to author, automation/svc, ready-to-merge

#13109 Fix typos for IoT Edge Node.js development
  articles/iot-edge/how-to-develop-node-module.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#13110 Fix typo on IoT Edge C# module development
  articles/iot-edge/how-to-develop-csharp-module.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#13250 Update azure-stack-update-1807.md (Typos)
  articles/azure-stack/azure-stack-update-1807.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#13251 Update Envoy imagery
  articles/active-directory/saas-apps/envoy-tutorial.md
  articles/active-directory/saas-apps/media/envoy-tutorial/ic776785.png
  articles/active-directory/saas-apps/media/envoy-tutorial/tutorial_envoy_url.png
Labels: Change sent to author, active-directory/svc, ready-to-merge

#12942 Updating RBAC instructions
  articles/aks/virtual-kubelet.md
Labels: ready-to-merge

#13298 Correct typo in hdinsight-hadoop-linux-use-ssh-unix.md
  articles/hdinsight/hdinsight-hadoop-linux-use-ssh-unix.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#13331 Update tutorial-power-bi-key-phrases.md
  articles/cognitive-services/text-analytics/tutorials/tutorial-power-bi-key-phrases.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#13341 Update stream-analytics-test-query.md
  articles/stream-analytics/stream-analytics-test-query.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#13150 Fix typo
  articles/service-fabric-mesh/service-fabric-mesh-quickstart-deploy-container.md
Labels: Change sent to author, ready-to-merge, service-fabric-mesh/svc

#13213 Typo fix
  includes/azure-virtual-network-limits.md
Labels: Change sent to author, networking/svc, ready-to-merge

#13337 Updated value for PFS
  articles/azure-stack/azure-stack-vpn-gateway-settings.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#13270 Making EventGrid a top level item
  articles/cognitive-services/video-indexer/connect-to-azure.md
Labels: ready-to-merge

#13365 fixed a typo
  articles/virtual-network/ddos-protection-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#13346 Update changefeed-ecommerce-solution.md
  articles/cosmos-db/changefeed-ecommerce-solution.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#13330 Update dbms_guide_oracle.md
  articles/virtual-machines/workloads/sap/dbms_guide_oracle.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#13339 Update logic-apps-enterprise-integration-overview.md
  articles/logic-apps/logic-apps-enterprise-integration-overview.md
Labels: Change sent to author, do-not-merge, logic-apps/svc

#6069 Change route query documentation to be less missleading regarding available function
  articles/iot-hub/iot-hub-devguide-query-language.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#13409 Small nits, nothing substantive
  articles/sql-database/sql-database-manage-logins.md
Labels: ready-to-merge

#12112 typo: Double word "using"
  articles/application-gateway/tutorial-manage-web-traffic-powershell.md
  articles/hdinsight/spark/apache-spark-jupyter-spark-sql-use-portal.md
  articles/security/azure-security-threat-modeling-tool-input-validation.md
  articles/sql-data-warehouse/how-to-use-elastic-query-with-sql-data-warehouse.md
Labels: Change sent to author, do-not-merge, sql-data-warehouse/svc

#12023 Call signature changed
  articles/data-factory/quickstart-create-data-factory-dot-net.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#13387 Fix grammar/match href page title
  articles/api-management/TOC.yml
Labels: Change sent to author, do-not-merge

#12018 Update required Kubernetes version
  articles/dev-spaces/quickstart-netcore.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12020 Update minimum Kubernetes version
  articles/dev-spaces/includes/portal-aks-cluster.md
Labels: "azure-dev-spaces"/svc, Change sent to author, do-not-merge

#12019 Update minimum Kubernetes version
  articles/dev-spaces/quickstart-nodejs.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12017 Update required Kubernetes version
  articles/dev-spaces/quickstart-netcore-visualstudio.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#11583 Typo
  articles/data-factory/monitor-using-azure-monitor.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#13403 Fix typo: Databricks instead of DataBricks
  articles/storage/data-lake-storage/TOC.yml
Labels: Change sent to author, do-not-merge

#11452 Remove extra 'l' in helps in "Next steps" section
  articles/dev-spaces/quickstart-netcore.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#10982 Clarified NSG requirements
  articles/data-factory/join-azure-ssis-integration-runtime-virtual-network.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#9596 fix a table
  articles/sql-data-warehouse/sql-data-warehouse-tables-statistics.md
Labels: Change sent to author, do-not-merge, sql-data-warehouse/svc

#8736 Fix language and gender information of two voices
  articles/cognitive-services/Speech/API-Reference-REST/BingVoiceOutput.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#13410 Update api-management-howto-aad.md
  articles/api-management/api-management-howto-aad.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#7997 Remove irrelevant sentence from the topic
  articles/cognitive-services/Translator/character-counts.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#13402 Update changefeed-ecommerce-solution.md
  articles/cosmos-db/changefeed-ecommerce-solution.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#13332 Fix temperature threshold typo
  articles/iot-edge/tutorial-node-module.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#12880 Use Command section "Display Name" replaced
  articles/iot-central/tutorial-define-device-type.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#13392 Adding command to remove external dns pod
  articles/dev-spaces/troubleshooting.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12851 Change "Cleanup Script" to "Pre-copy Script"
  articles/data-factory/tutorial-bulk-copy-portal.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#11723 Add section for missing .net core debugger in VSCode
  articles/dev-spaces/troubleshooting.md
Labels: Change sent to author, azure-dev-spaces/svc, do-not-merge

#12286 Update sql-database-develop-overview.md
  articles/sql-database/sql-database-develop-overview.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#12806 Update sql-database-dtu-resource-limits-single-databases.md
  articles/sql-database/sql-database-dtu-resource-limits-single-databases.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#12808 Update sql-database-dtu-resource-limits-elastic-pools.md
  articles/sql-database/sql-database-dtu-resource-limits-elastic-pools.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#13322 Update sql-data-warehouse-partner-business-intelligence.md
  articles/sql-data-warehouse/sql-data-warehouse-partner-business-intelligence.md
Labels: Change sent to author, ready-to-merge, sql-data-warehouse/svc

#13328 Update sql-data-warehouse-partner-data-integration.md
  articles/sql-data-warehouse/sql-data-warehouse-partner-data-integration.md
Labels: Change sent to author, ready-to-merge, sql-data-warehouse/svc

#13249 Updating asdk-release-notes.md (Typos)
  articles/azure-stack/asdk/asdk-release-notes.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#13343 Update virtual-machines-common-infrastructure-automation.md
  includes/virtual-machines-common-infrastructure-automation.md
Labels: Change sent to author, do-not-merge

#7811 Removed references to Azure Migrate being in preview
  articles/migrate/how-to-scale-assessment.md
Labels: Change sent to author, azure-migrate/svc, ready-to-merge

#12663 Update how-to-scale-assessment.md
  articles/migrate/how-to-scale-assessment.md
Labels: Change sent to author, azure-migrate/svc, ready-to-merge

#13421 Minor typo (Linuz -> Linux)
  articles/hdinsight/hdinsight-os-patching.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#13107 Fixing typos
  includes/virtual-machines-common-b-series-burstable.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#13390 link fix pr1
  articles/storage/common/storage-powershell-independent-clouds.md
Labels: Change sent to author, do-not-merge, storage/svc

#13495 Updated with a reference to acu
  articles/virtual-machines/windows/nested-virtualization.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#13494 Update to hyperthreaded and nesting enabled
  includes/virtual-machines-common-acu.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#12670 Update service-bus-fundamentals-hybrid-solutions.md
  articles/service-bus-messaging/service-bus-fundamentals-hybrid-solutions.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#12787 Updated "primary connection string" label
  includes/service-bus-create-namespace-portal.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#13535 Update device-management-azure-portal.md
  articles/active-directory/devices/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9580 Little fixes in Machine Learning docs.
  articles/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro.md
  articles/machine-learning/desktop-workbench/tutorial-classifying-iris-part-2.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#13489 Making bullet points more explicit
  articles/service-bus-messaging/service-bus-end-to-end-tracing.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#13552 Update tutorial-jenkins-github-docker-cicd.md
  articles/virtual-machines/linux/tutorial-jenkins-github-docker-cicd.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#12798 Add missing word "service" in Creating Linked Services section.
  articles/data-factory/tutorial-bulk-copy-portal.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#12804 fix typo Funcstions -> Functions
  articles/data-factory/tutorial-bulk-copy-portal.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#13580 Missing parenthesis
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#12098 typo: Double word "same"
  articles/service-fabric/service-fabric-service-model-schema-complex-types.md
  articles/service-fabric/service-fabric-service-model-schema-elements.md
  articles/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-snapshot-to-same-or-different-subscription.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#13513 Update vpn-gateway-howto-point-to-site-resource-manager-portal.md
  articles/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#12124 typo: Double word "be"
  articles/expressroute/expressroute-howto-add-gateway-classic.md
Labels: Change sent to author, expressroute/svc, ready-to-merge

#12131 typo: Double word "search"
  articles/cognitive-services/Bing-Web-Search/csharp-ranking-tutorial.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#13573 Fixed link to key-vault get-started in service fabric documentation
  articles/service-fabric/service-fabric-cluster-security.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#11809 Nuget name was incorrect
  articles/service-fabric/service-fabric-tutorial-monitoring-aspnet.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#12865 Fixed indentation and extra spaces
  articles/service-fabric/service-fabric-get-started-containers-linux.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#12866 Fixed indentation in JSON samples
  articles/service-fabric/service-fabric-get-started-containers.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#13584 Delete branch that does not work
  articles/active-directory/develop/quickstart-v1-openid-connect-code.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#13610 Added missing word
  articles/cosmos-db/sql-api-sql-query-reference.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#13635 Removed gap from the query
  articles/monitoring-and-diagnostics/monitor-alerts-unified-log.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#13668 Update "Clean up resources" container runtime
  articles/iot-edge/quickstart-linux.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#12703 Update resource-manager-quickstart-create-templates-use-visual-studio…
  articles/azure-resource-manager/resource-manager-quickstart-create-templates-use-visual-studio-code.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#13630 Fixed typos
  includes/app-service-mobile-android-run-app.md
Labels: Change sent to author, do-not-merge

#13695 Adding Kafka 1.1 to list of supported components
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#13700 fix awkward wording
  articles/sql-database/sql-database-managed-instance-vnet-configuration.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#13708 Match UI
  articles/active-directory/authentication/howto-mfa-nps-extension-rdg.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#13652 Delete branch that does not work
  articles/active-directory/develop/quickstart-v1-openid-connect-code.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#13709 corrected Remove-azsgalleryitem command
  articles/azure-stack/azure-stack-create-and-publish-marketplace-item.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#13747 Removed incorrect reference to Azure Storage Disks
  articles/sql-database/sql-database-high-availability.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#13751 minor grammatical change
  articles/service-fabric/service-fabric-get-started-mac.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc
