Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-07, with the labels that each got.

#10701 Update automation-create-runas-account.md
  articles/automation/automation-create-runas-account.md
Labels: Change sent to author, automation/svc, ready-to-merge

#9599 fix: Remove .md extension for external /sql link
  articles/analysis-services/analysis-services-create-sample-model.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#10892 Updated instructions for Edge as a gateway on Windows
  articles/iot-edge/how-to-create-transparent-gateway-windows.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#10895 Updated Windows instructions for cert installation
  articles/iot-edge/how-to-create-transparent-gateway-linux.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#10913 Use local filesystem in AWS service fabric
  articles/service-fabric/service-fabric-tutorial-standalone-create-service-fabric-cluster.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#8469 Fix spelling
  articles/virtual-machines/workloads/sap/get-started.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#10929 Fixed category names
  articles/sql-database/sql-database-metrics-diag-logging.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#10999 Update region for ACR build
  includes/container-registry-build-preview-note.md
Labels: Change sent to author, container-registry/svc, ready-to-merge

#11005 Update network-watcher-troubleshoot-manage-rest.md
  articles/network-watcher/network-watcher-troubleshoot-manage-rest.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#11007 Update network-watcher-nsg-flow-logging-overview.md
  articles/network-watcher/network-watcher-nsg-flow-logging-overview.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#11009 Typo, character missing
  articles/iot-edge/quickstart.experimental.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11059 (ForumsTeam) corrected link name
  articles/virtual-network/tutorial-create-route-table-portal.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#11013 Update create-sql-api-dotnet.md
  articles/cosmos-db/create-sql-api-dotnet.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#11023 Update stream-analytics introduction
  articles/stream-analytics/stream-analytics-introduction.md
Labels: Change sent to author, do-not-merge, stream-analytics/svc

#10456 Updating the new name of the capability
  articles/log-analytics/log-analytics-network-performance-monitor-service-endpoint.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#9136 Update network-watcher-limits.md
  includes/network-watcher-limits.md
Labels: Change sent to author, do-not-merge

#9598 fix: aas-adventure-works-tutorial.md is relative link
  articles/analysis-services/analysis-services-samples.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#11015 Update service-fabric-reliable-services-communication-remoting.md
  articles/service-fabric/service-fabric-reliable-services-communication-remoting.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#9218 Remove backslash escapes within code spans
  articles/postgresql/concepts-server-logs.md
Labels: Change sent to author, postgresql-database/svc, ready-to-merge

#10497 Update azure-stack-app-service-before-you-get-started.md
  articles/azure-stack/azure-stack-app-service-before-you-get-started.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#7609 Update monitoring-archive-activity-log.md
  articles/monitoring-and-diagnostics/monitoring-archive-activity-log.md
Labels: Change sent to author, monitoring-and-diagnostics/svc, ready-to-merge

#7491 Removed statement indicating activity and diagnostic logs require gen…
  articles/monitoring-and-diagnostics/monitoring-archive-activity-log.md
  articles/monitoring-and-diagnostics/monitoring-archive-diagnostic-logs.md
Labels: Change sent to author, monitoring-and-diagnostics/svc, ready-to-merge

#7608 Update azure-stack-vm-sizes.md
  articles/azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#11087 Update hdinsight-hadoop-use-data-lake-store.md
  articles/hdinsight/hdinsight-hadoop-use-data-lake-store.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#8771 Fixing configuration which resulted in wrong diagnostic settings name…
  articles/monitoring-and-diagnostics/monitoring-enable-diagnostic-logs-using-template.md
Labels: Change sent to author, monitoring-and-diagnostics/svc, ready-to-merge

#10986 Corrected PowerShell variable name
  articles/monitoring-and-diagnostics/monitoring-stream-activity-logs-event-hubs.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#10257 Update api-management-key-concepts.md
  articles/api-management/api-management-key-concepts.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#10353 Removing word "bash", restructuring sentence
  articles/api-management/powershell-samples.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#10889 Updated Metrics and Health Monitoring endpoints
  articles/api-management/api-management-using-with-vnet.md
Labels: Change sent to author, api-management/svc, do-not-merge

#8089 API Management Proposal - Rename 'Properties' to 'Named Values' to reflect new branding
  articles/api-management/api-management-howto-properties.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#6353 Update api-management-using-with-vnet.md
  articles/api-management/api-management-using-with-vnet.md
Labels: Change sent to author, api-management/svc, do-not-merge

#3307 Service health alerts does not send resource health events
  articles/monitoring-and-diagnostics/monitoring-activity-log-alerts-on-service-notifications.md
Labels: Change sent to author, monitoring-and-diagnostics/svc, ready-to-merge

#10478 fixed typo's in twin query samples
  articles/iot-hub/iot-hub-devguide-query-language.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#7341 Updated TrustedHosts commands
  articles/site-recovery/hyper-v-deployment-planner-run.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#7345 Updated TrustedHosts commands
  articles/site-recovery/hyper-v-deployment-planner-run.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#11001 Updated audit log to Activity Log
  articles/azure-policy/policy-effects.md
Labels: Change sent to author, azure-policy/svc, do-not-merge

#10924 Switch argument should be used via ':$SwitchArg'
  articles/active-directory/managed-service-identity/qs-configure-powershell-windows-vm.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11004 Formatted "Access control and permissions" section
  articles/iot-hub/iot-hub-devguide-security.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#11109 Add critical info
  articles/service-fabric/service-fabric-cluster-creation-via-arm.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#11118 Clarified language around size of files and disks
  articles/sql-database/sql-database-managed-instance-transact-sql-information.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#11127 Double $vmName
  articles/virtual-machines/scripts/virtual-machines-windows-powershell-upload-generalized-script.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#5441 Update networking-virtual-datacenter.md
  articles/networking/networking-virtual-datacenter.md
Labels: Change sent to author, merge-conflict, ready-to-merge, virtual-network/svc

#10721 Update how-to-customize-voice-font.md
  articles/cognitive-services/Speech-Service/how-to-customize-voice-font.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10722 Update how-to-text-to-speech.md
  articles/cognitive-services/Speech-Service/how-to-text-to-speech.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10723 Update how-to-customize-voice-font.md
  articles/cognitive-services/Speech-Service/how-to-customize-voice-font.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10724 Update how-to-customize-voice-font.md
  articles/cognitive-services/Speech-Service/how-to-customize-voice-font.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10776 Update overview.md
  articles/cognitive-services/Speech-Service/overview.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10777 Update text-to-speech.md
  articles/cognitive-services/Speech-Service/text-to-speech.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#6152 Fix alert JSON schema so it reflects reality
  articles/monitoring-and-diagnostics/insights-webhooks-alerts.md
Labels: Change sent to author, do-not-merge, monitoring-and-diagnostics/svc

#6897 Mention F# as supported for Durable Functions
  articles/azure-functions/durable-functions-overview.md
Labels: Change sent to author, do-not-merge, functions/svc

#11170 Minor updates to content and formatting
  articles/logic-apps/logic-apps-architectures-enterprise-integration-with-queues-events.md
  articles/logic-apps/logic-apps-architectures-simple-enterprise-integration.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#9361 Azure Data Factory - Add missing transformation activities
  articles/data-factory/concepts-pipelines-activities.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#10181 fix some incorrect examples
  articles/data-factory/control-flow-expression-language-functions.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#10182 missing content if activity
  articles/data-factory/control-flow-if-condition-activity.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#10609 Update device-management-hybrid-azuread-joined-devices-setup.md
  articles/active-directory/device-management-hybrid-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#10746 Update device-management-hybrid-azuread-joined-devices-setup.md
  articles/active-directory/device-management-hybrid-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#10885 Update device-management-hybrid-azuread-joined-devices-setup.md
  articles/active-directory/device-management-hybrid-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11272 [logicapps] fix broken link
  articles/logic-apps/logic-apps-architectures-enterprise-integration-with-queues-events.md
Labels: Change sent to author, do-not-merge, logic-apps/svc

#11201 Fixed an errronous link
  articles/virtual-machines/extensions/dsc-template.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#11174 Update maintenance-notifications.md
  articles/virtual-machines/linux/maintenance-notifications.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#11103 Added note about Company internal URL redirection
  articles/active-directory/active-directory-saas-access-panel-introduction.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#10911 Add note regarding SP access requirements
  articles/aks/azure-disk-volume.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#11246 Corrected 'registrating' to 'registering'
  articles/storage/files/storage-sync-files-deployment-guide.md
Labels: Change sent to author, ready-to-merge, storage/svc

#10749 Jostle updates
  articles/active-directory/saas-apps/jostle-tutorial.md
  articles/active-directory/saas-apps/media/jostle-tutorial/add_01.png
  articles/active-directory/saas-apps/media/jostle-tutorial/add_02.png
  articles/active-directory/saas-apps/media/jostle-tutorial/url_01.png
  articles/active-directory/saas-apps/media/jostle-tutorial/url_02.png
  articles/active-directory/saas-apps/media/jostle-tutorial/url_03.png
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11286 updating image classification notebooks with correct paths and removing ng storage context
  articles/machine-learning/service/how-to-build-deploy-image-classification-models.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#11252 Corrected Selma, Georgia Example
  articles/cognitive-services/LUIS/luis-concept-feature.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#7007 Update functions-triggers-bindings.md
  articles/azure-functions/functions-triggers-bindings.md
Labels: Change sent to author, do-not-merge, functions/svc

#11220 Update api-management-howto-log-event-hubs.md
  articles/api-management/api-management-howto-log-event-hubs.md
Labels: Change sent to author, api-management/svc, do-not-merge

#9325 Removing duplicated additional resource
  articles/sql-database/sql-database-operate-query-store.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#11304 Add steps for Java SE of App Service Linux
  articles/app-service/containers/quickstart-java.md
Labels: Change sent to author, app-service-web/svc, do-not-merge

#11344 Fix typo in echo command for K8S file volumes
  articles/aks/azure-files-volume.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#11341 Grammar changes to one of the notes
  articles/active-directory/authentication/howto-password-ban-bad-on-premises.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11307 Fix domain value in Databricks linked service
  articles/data-factory/compute-linked-services.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#9225 Update automation-dsc-compile.md
  articles/automation/automation-dsc-compile.md
Labels: Change sent to author, automation/svc, ready-to-merge

#10507 Azure Blob storage - Python example code bugs
  articles/machine-learning/desktop-workbench/how-to-read-write-files.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge

#11211 Update automation-update-azure-modules.md
  articles/automation/automation-update-azure-modules.md
Labels: Change sent to author, automation/svc, ready-to-merge

#11236 Updating pricing point with example
  articles/network-watcher/traffic-analytics-faq.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#11278 Update device-management-faq.md
  articles/active-directory/device-management-faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11279 Fixed wrong CLI commands
  articles/load-balancer/load-balancer-ipv6-internet-cli.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#11294 fix links to 'Scenario 1' and '2'
  articles/automation/automation-solution-vm-management.md
Labels: Change sent to author, automation/svc, ready-to-merge

#11296 Update azure-stack-vm-considerations.md
  articles/azure-stack/user/azure-stack-vm-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#8185 Clarifying impact to tenant workloads
  articles/azure-stack/azure-stack-start-and-stop.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#8319 Clarifying Individual vs multiple cert requirement
  articles/azure-stack/azure-stack-pki-certs.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#11357 Update automation-update-azure-modules.md
  articles/automation/automation-update-azure-modules.md
Labels: Change sent to author, automation/svc, ready-to-merge

#11373 Update vpn-gateway-resetgw-classic.md
  articles/vpn-gateway/vpn-gateway-resetgw-classic.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#11395 Incorrect value of Standard_F1 max data disk IOPS
  articles/azure-stack/user/azure-stack-vm-sizes.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#11375 MongoDB Support clarification
  articles/cosmos-db/mongodb-feature-support.md
  articles/cosmos-db/mongodb-introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#10249 Clarified Keras entry.
  articles/machine-learning/data-science-virtual-machine/dsvm-deep-learning-ai-frameworks.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge

#10923 Update virtual-machines-common-sizes-memory.md
  includes/virtual-machines-common-sizes-memory.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#10975 Updated network config to include link to OMS Gateway setup
  articles/automation/automation-hybrid-runbook-worker.md
Labels: Change sent to author, automation/svc, ready-to-merge

#11479 Updating name of the Service Connectivity Monitor capability
  articles/log-analytics/log-analytics-network-performance-monitor.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#11480 Correcting name of the ExpressRoute Monitor capability
  articles/log-analytics/log-analytics-network-performance-monitor-expressroute.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#11504 Microsoft strongly recommends not to synchronize users with admin rol…
  articles/active-directory/connect/active-directory-aadconnect.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11139 Fixes to notification hub for Xamarin iOS and Android
  articles/notification-hubs/media/partner-xamarin-notification-hubs-ios-get-started/notification-hub-entitlements-settings.png
  articles/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started.md
  articles/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm.md
  includes/media/notification-hubs-portal-create-new-hub/notification-hubs-azure-portal-create.png
  includes/notification-hubs-portal-create-new-hub.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#11351 Add /var/lib/docker/containers mount path
  articles/log-analytics/log-analytics-containers.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#11460 Australia in Outbound IP ranges to Australia Southeast
  articles/logic-apps/logic-apps-limits-and-config.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#11503 Correcting the description of the PdM solution template
  articles/machine-learning/team-data-science-process/cortana-analytics-playbook-predictive-maintenance.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge

#11508 Update active-directory-aadconnect-existing-tenant.md
  articles/active-directory/connect/active-directory-aadconnect-existing-tenant.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11510 Update tutorial-sspr-windows.md
  articles/active-directory/authentication/tutorial-sspr-windows.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11512 Updating the documentation file for minor changes
  articles/hdinsight/domain-joined/hdinsight-use-oozie-domain-joined-clusters.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#9444 Updating styling conventions.
  articles/machine-learning/desktop-workbench/model-management-consumption.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#11366 1805 updates for infra backup best practices
  articles/azure-stack/azure-stack-backup-best-practices.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#11364 1805 update for enable backup via PowerShell
  articles/azure-stack/azure-stack-backup-enable-backup-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9169 overview.md
  articles/machine-learning/team-data-science-process/overview.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge

#11365 1805 Update to Start Backup via PowerShell
  articles/azure-stack/azure-stack-backup-back-up-azure-stack.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#11499 Updating ExpressRoute Next Steps Links from Classic to ARM
  articles/expressroute/expressroute-prerequisites.md
Labels: Change sent to author, expressroute/svc, ready-to-merge

#11535 Add statistics documentation do video element
  articles/cognitive-services/video-indexer/video-indexer-output-json-v2.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#11537 . should be deleted in the code.
  articles/key-vault/service-to-service-authentication.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#11545 add note for ServiceBus package inclusion
  articles/azure-functions/functions-bindings-event-hubs.md
Labels: Change sent to author, functions/svc, ready-to-merge

#11563 Add warning for stateful scale down
  articles/service-fabric/service-fabric-cluster-resource-manager-autoscaling.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#11422 Updated Configure the IoT Edge runtime
  articles/iot-edge/quickstart.experimental.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11425 Remove improper Docker references
  articles/iot-edge/how-to-install-iot-edge-linux-arm.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11559 Adding argument identifiers
  articles/virtual-machines/linux/maintenance-notifications.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#11388 Fix typo: rest -> reset
  articles/azure-resource-manager/vs-azure-tools-resource-groups-deployment-projects-create-deploy.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#11394 Fix curly bracket mismatch in sample JSON snippet
  articles/azure-resource-manager/vs-azure-tools-resource-groups-deployment-projects-create-deploy.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#11457 Update quickstart.experimental.md
  articles/iot-edge/quickstart.experimental.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11465 Add link of Azure IoT Toolkit to view data
  articles/iot-edge/deploy-modbus-gateway.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11514 link module composition was missing
  articles/iot-edge/how-to-create-transparent-gateway-linux.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11579 Update resource-group-authoring-templates.md
  articles/azure-resource-manager/resource-group-authoring-templates.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#11582 ACI Liveness Probe Page: Fix typo in 'Next steps'
  articles/container-instances/container-instances-liveness-probe.md
Labels: Change sent to author, container-instances/svc, ready-to-merge

#11585 fixed Typo
  articles/iot-edge/how-to-develop-csharp-module.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#11578 Update troubleshoot.md
  articles/iot-edge/troubleshoot.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11586 Update integrate with azure change
  articles/aks/integrate-azure.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#11595 Update resource-group-authoring-templates.md
  articles/azure-resource-manager/resource-group-authoring-templates.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#11642 Update azure-stack-change-subscription-owner.md
  articles/azure-stack/azure-stack-change-subscription-owner.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#11639 Added a new FAQ about iOS and Android device registration limitation
  articles/active-directory/device-management-faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11617 Update kubernetes-walkthrough.md
  articles/aks/kubernetes-walkthrough.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#11615 Update kubernetes-service-principal.md
  articles/aks/kubernetes-service-principal.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#11600 Update quickstart-linux.md
  articles/iot-edge/quickstart-linux.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11591 Update active-directory-aadconnect-faq.md
  articles/active-directory/connect/active-directory-aadconnect-faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11590 fixed metadata date
  articles/load-balancer/load-balancer-ha-ports-overview.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#11180 minor misspelling fix
  articles/iot-edge/tutorial-csharp-module.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#9669 Added a note for HAADJ Windows 10 devices search by device ID (instea…
  articles/active-directory/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#11647 Add context parameter to sample definition for Image Analysis Skill
  articles/search/cognitive-search-skill-image-analysis.md
Labels: Change sent to author, do-not-merge, search/svc

#11292 fix a link to 'Step 1'
  articles/virtual-machines/windows/hpcpack-cluster-submit-jobs.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#11627 Remove improper Docker references (x64)
  articles/iot-edge/how-to-install-iot-edge-linux.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#11644 Minor wording changes for clarity
  articles/monitoring/monitoring-data-sources.md
Labels: Change sent to author, monitoring/svc, ready-to-merge

#11656 Note on how to work with Service Endpoints
  articles/sql-database/sql-database-connectivity-architecture.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#11645 Update azure-stack-apply-updates.md
  articles/azure-stack/azure-stack-apply-updates.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#11660 Updates to include isntruction on upgrading from powershell v4
  articles/azure-stack/azure-stack-powershell-install.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#11630 Update virtual-machines-managed-disks-overview.md
  includes/virtual-machines-managed-disks-overview.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#10660 Content was correct but didn't have the old content removed
  articles/azure-supportability/resource-manager-core-quotas-request.md
Labels: Change sent to author, do-not-merge, microsoft-docs/svc

#11241 Update log-analytics-cross-workspace-search.md
  articles/log-analytics/log-analytics-cross-workspace-search.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#11358 Update log-analytics-tutorial-response.md
  articles/log-analytics/log-analytics-tutorial-response.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#11666 Update network-watcher-read-nsg-flow-logs.md
  articles/network-watcher/network-watcher-read-nsg-flow-logs.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#11682 fixing typo of connectionStringSettingStringSetting
  articles/azure-functions/functions-bindings-cosmosdb-v2.md
Labels: Change sent to author, functions; cosmos-db/svc, ready-to-merge

#11689 Update to fix bullet referring to incorrect ETW collector package id
  articles/application-insights/app-insights-asp-net-trace-logs.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#11703 Make important side note on paragraph of RunAsync
  articles/service-fabric/service-fabric-reliable-services-lifecycle.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#11709 updated traffic analytics screen shot
  articles/security/compliance/media/tic-traffic-analytics-1.png
Labels: Change sent to author, do-not-merge

#11719 changes C# to javascript label for the js example
  articles/azure-functions/functions-bindings-cosmosdb.md
Labels: Change sent to author, functions; cosmos-db/svc, ready-to-merge
