Repository MicrosoftDocs/azure-docs, pull requests merged in 2018-06, with the labels that each got.

#9307 Clarifying Parameter for Blob Content Action
  articles/connectors/connectors-create-api-azureblobstorage.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#9499 Update mongodb-migrate.md
  articles/cosmos-db/mongodb-migrate.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9503 Suggested Text Improvements
  articles/cosmos-db/multi-region-writers.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9513 Update policy-effects.md
  articles/azure-policy/policy-effects.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#9494 Update backup-azure-restore-files-from-vm.md
  articles/backup/backup-azure-restore-files-from-vm.md
Labels: Change sent to author, backup/svc, do-not-merge

#9567 Update key-vault-access-behind-firewall.md
  articles/key-vault/key-vault-access-behind-firewall.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#9578 Fix a header
  articles/storage/files/storage-how-to-use-files-powershell.md
Labels: Change sent to author, ready-to-merge, storage/svc

#9582 Update device-management-azuread-joined-devices-frx.md
  articles/active-directory/device-management-azuread-joined-devices-frx.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9583 Fix casing
  articles/cloud-shell/features.md
Labels: Change sent to author, azure/svc, ready-to-merge

#9591 fix: security-center-alerts-type.md relative link
  articles/security-center/security-center-os-coverage.md
Labels: Change sent to author, ready-to-merge, security-center/svc

#9595 fix links
  articles/vpn-gateway/scripts/vpn-gateway-sample-vnet-vnet-powershell.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#9604 fix: absolute /active-directory/ link
  articles/key-vault/key-vault-developers-guide.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#9609 fix: link to azure-stack-updates.md is relative
  articles/azure-stack/azure-stack-update-1802.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#9611 Remove extra "contains" in url
  articles/security/blueprints/uk-official-three-tier-applications-overview.md
Labels: Change sent to author, ready-to-merge, security/svc

#9616 Fix architecture link bugs
  articles/iot-accelerators/iot-accelerators-remote-monitoring-sample-walkthrough.md
Labels: Change sent to author, iot-accelerators/svc, ready-to-merge

#9630 Steps update to reflect code
  articles/cognitive-services/text-analytics/quickstarts/csharp.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#9637 Change Default Value for deleteUnattachedVHDs
  articles/virtual-machines/windows/find-unattached-disks.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#9675 Update sql-database-troubleshoot-data-sync.md
  articles/sql-database/sql-database-troubleshoot-data-sync.md
Labels: "sql-database"/svc, Change sent to author, do-not-merge, sql-database/svc

#9558 Discrepancy in default cache setting for Data Disk
  includes/virtual-machines-common-premium-storage-performance.md
Labels: Change sent to author, do-not-merge

#9610 azure-stack-billing-and-chargeback.md is relative
  articles/azure-stack/azure-stack-add-manage-billing-as-a-csp.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9633 Fix typo
  articles/lab-services/scripts/create-verify-virtual-machine-in-lab-cli.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#9634 Fix typo
  articles/lab-services/scripts/start-connect-virtual-machine-in-lab-cli.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#9635 Fix typo
  articles/lab-services/scripts/stop-delete-virtual-machine-in-lab-cli.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#9590 Update azure-disks-dynamic-pv.md
  articles/aks/azure-disks-dynamic-pv.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#9717 Typo in title
  articles/logic-apps/quickstart-create-logic-apps-with-visual-studio.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#9668 Removing Ubuntu 12.04 as supported OS due to its end of life - Update automation-update-management.md
  articles/automation/automation-update-management.md
Labels: ready-to-merge

#9605 fix: Remove http protocol to relative file
  articles/azure-stack/azure-stack-backup-infrastructure-backup.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9606 typo: poartal -> portal
  articles/azure-stack/user/azure-stack-solution-template-kubernetes-deploy.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9607 azure-stack-billing-and-chargeback.md is relative
  articles/azure-stack/azure-stack-csp-ref-infrastructure.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9667 Update azure-stack-create-service-principals.md
  articles/azure-stack/azure-stack-create-service-principals.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#9653 Typo fix
  articles/cosmos-db/table-storage-design-guide.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9741 Fixing link
  articles/site-recovery/vmware-physical-azure-support-matrix.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#9740 Fix broken link due to typo
  articles/load-balancer/load-balancer-outbound-connections.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#9603 fix: update links to azure-docs-pr to relative
  articles/cosmos-db/tutorial-functions-http-trigger.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9601 fix: /visualstudio/ links with .md extensions
  articles/cosmos-db/sql-api-python-application.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9600 fix: azure-documentdb-node docs moved to MSDocs
  articles/cosmos-db/sql-api-nodejs-get-started.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9674 Adding notes about the requirement of the vfat driver
  articles/virtual-machines/linux/encrypt-disks.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#9721 Corrected Windows VMs link URI
  includes/virtual-machines-common-regions-and-availability.md
Labels: do-not-merge

#9775 Update sign-in-experience-updates.md
  articles/multi-factor-authentication/end-user/sign-in-experience-updates.md
Labels: Change sent to author, multi-factor-authentication/svc, ready-to-merge

#9762 Updated link to Java SDK
  articles/event-grid/sdk-overview.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#9710 Update web-sites-traffic-manager.md
  articles/app-service/web-sites-traffic-manager.md
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#9677 Update security-center-disk-encryption.md
  articles/security-center/security-center-disk-encryption.md
Labels: Change sent to author, ready-to-merge, security/svc

#9781 Update luis-concept-patterns.md
  articles/cognitive-services/LUIS/luis-concept-patterns.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#9568 Add .net requirements for WS 2008 R2 SP1
  articles/automation/automation-update-management.md
Labels: Change sent to author, automation/svc, ready-to-merge

#9766 Updated to referencing latest version of EventGrid dataplane SDK
  articles/event-grid/receive-events.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#9765 Clarifying restrictions on `FunctionName` attribute
  articles/azure-functions/functions-dotnet-class-library.md
Labels: Change sent to author, functions/svc, ready-to-merge

#9763 Fixes syntax error in link.
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-deploy-app.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc

#9816 Clarified version VPN Policy Settings change
  articles/azure-stack/azure-stack-update-1803.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#9876 Update active-directory-aadconnect-faq.md
  articles/active-directory/connect/active-directory-aadconnect-faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9687 Update active-directory-aadconnect-faq.md
  articles/active-directory/connect/active-directory-aadconnect-faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9643 Update device-management-introduction.md
  articles/active-directory/device-management-introduction.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9047 Update functions-dotnet-class-library.md
  articles/azure-functions/functions-dotnet-class-library.md
Labels: Change sent to author, functions/svc, ready-to-merge

#8871 Update active-directory-assign-admin-roles-azure-portal.md
  articles/active-directory/active-directory-assign-admin-roles-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#8385 URL use example.com
  articles/active-directory/active-directory-accessmanagement-groups-settings-cmdlets.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#8313 Update active-directory-privileged-identity-management-how-to-give-ac…
  articles/active-directory/active-directory-privileged-identity-management-how-to-give-access-to-pim.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#7321 Update active-directory-authentication-scenarios.md
  articles/active-directory/develop/active-directory-authentication-scenarios.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#8735 Update active-directory-aadconnectsync-attributes-synchronized.md
  articles/active-directory/connect/active-directory-aadconnectsync-attributes-synchronized.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#8777 Syntax issue: active-directory-groups-dynamic-membership-azure-portal.md
  articles/active-directory/active-directory-groups-dynamic-membership-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9012 Update active-directory-aadconnect-version-history.md
  articles/active-directory/connect/active-directory-aadconnect-version-history.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9342 Renamed 'SkyDrive Pro' to 'OneDrive for Business'
  articles/active-directory/active-directory-hybrid-identity-design-considerations-identity-adoption-strategy.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9453 Removed whitespace around properties in Policy
  articles/active-directory/active-directory-claims-mapping.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9801 Updated misspelling -Serve
  articles/vpn-gateway/point-to-site-how-to-radius-ps.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#9834 Comtain -> Contain
  articles/azure-functions/functions-dotnet-class-library.md
Labels: Change sent to author, functions/svc, ready-to-merge

#6540 changed defaultValue for cacheSKUCapacity comment
  includes/cache-deploy-parameters.md
Labels: Change sent to author, cache/svc, do-not-merge, redis-cache/svc

#8498 The menu item changed from Azure AD to AAD
  articles/active-directory/active-directory-windows-enterprise-state-roaming-troubleshooting.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#8597 Update device-management-hybrid-azuread-joined-devices-setup.md
  articles/active-directory/device-management-hybrid-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9024 Updated to indicate that down-level device registration is not supported for PTA
  articles/active-directory/device-management-hybrid-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9217 Fixed incorrect example
  articles/managed-applications/microsoft-common-optionsgroup.md
Labels: Change sent to author, managed-applications/svc, ready-to-merge

#9572 Update device-management-azuread-joined-devices-setup.md
  articles/active-directory/device-management-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9757 Fixed small spelling/grammar mistakes
  articles/dms/tutorial-sql-server-to-managed-instance.md
Labels: Change sent to author, dms/svc, ready-to-merge

#9858 Update azure-stack-datacenter-integration.md
  articles/azure-stack/azure-stack-datacenter-integration.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#9934 Fixed incorrect links
  articles/storage/common/storage-use-azcopy-migrate-on-premises-data.md
Labels: Change sent to author, ready-to-merge, storage/svc

#9943 Update partition-data.md
  articles/cosmos-db/partition-data.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#9417 Update active-directory-saas-workday-inbound-tutorial.md (typo)
  articles/active-directory/active-directory-saas-workday-inbound-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9952 Version dep notice
  articles/virtual-machines/windows/reset-rdp.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#10033 Update sql-database-sync-data.md
  articles/sql-database/sql-database-sync-data.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#10014 Update video-indexer-use-apis.md
  articles/cognitive-services/video-indexer/video-indexer-use-apis.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10013 Update migrate-from-v1-to-v2.md
  articles/cognitive-services/video-indexer/migrate-from-v1-to-v2.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#9911 Fix Startup File value for .NET Core
  articles/app-service/containers/app-service-linux-faq.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#9968 Fixed incorrect folder names
  articles/azure-stack/user/azure-stack-validate-templates.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#9838 Fix sample for creating collection with ExcludedPaths
  articles/cosmos-db/indexing-policies.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#10039 Update cpp-linux.md
  articles/cognitive-services/Speech-Service/cpp-linux.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#9896 Update tutorial-deploy-ssis-packages-azure-powershell.md
  articles/data-factory/tutorial-deploy-ssis-packages-azure-powershell.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#9954 Update device-management-azure-portal.md
  articles/active-directory/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9956 Update device-management-faq.md
  articles/active-directory/device-management-faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#9955 Update sql-database-automated-backups.md
  articles/sql-database/sql-database-automated-backups.md
Labels: Change sent to author, ready-to-merge, sql-database/svc

#9868 Corrected small typo
  articles/site-recovery/vmware-azure-troubleshoot-replication.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#8433 Better discoverability for Python application error troubleshooting
  articles/app-service/app-service-web-open-source-technologies-faq.md
  articles/app-service/web-sites-python-configure.md
  includes/web-sites-python-troubleshooting-wsgi-error-log.md
Labels: Change sent to author, app-service/svc, do-not-merge

#9874 Added note about APIPA BGP Peer IPs
  includes/vpn-gateway-faq-bgp-include.md
Labels: do-not-merge

#10019 Update create-azure-ssis-integration-runtime.md
  articles/data-factory/create-azure-ssis-integration-runtime.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#9790 Update application-gateway-web-app-powershell.md
  articles/application-gateway/application-gateway-web-app-powershell.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#10070 Fix Azure CLI 2.0 command to stream log files
  articles/azure-functions/functions-monitoring.md
Labels: Change sent to author, functions/svc, ready-to-merge

#10075 Samll correction on pipeline CI/CD pipeline tutorial
  articles/azure-stack/user/azure-stack-solution-pipeline.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#9770 Update web-sites-python-configure.md
  articles/app-service/web-sites-python-configure.md
Labels: Change sent to author, app-service/svc, do-not-merge

#9267 Edit variable name in PowerShell code
  articles/storage/blobs/storage-upload-process-images.md
Labels: Change sent to author, ready-to-merge, storage/svc

#5668 update core to vCPU
  includes/azure-subscription-limits.md
Labels: Change sent to author, do-not-merge

#9589 Fix indentation in sendgrid-sign-up.md
  includes/sendgrid-sign-up.md
Labels: Change sent to author, do-not-merge

#10095 fix typo in storage-quickstart-blobs-portal
  articles/storage/blobs/storage-quickstart-blobs-portal.md
Labels: Change sent to author, ready-to-merge, storage/svc

#10020 Hints for starting certmgr in current user scope
  includes/vpn-gateway-certificates-export-public-key-include.md
Labels: do-not-merge

#10119 Update resize-vm.md
  articles/virtual-machines/windows/resize-vm.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#9873 Add some clarifications to the Azure Files documentation
  articles/aks/azure-files-dynamic-pv.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#9623 Beta runtime not supported note
  articles/azure-functions/functions-api-definition.md
Labels: Change sent to author, functions/svc, ready-to-merge

#8234 Securing download link to AzCopy
  articles/storage/common/storage-use-azcopy.md
Labels: Change sent to author, do-not-merge, storage/svc

#8576 Update broken links in storage-samples-java.md
  articles/storage/common/storage-samples-java.md
Labels: Change sent to author, ready-to-merge, storage/svc

#10131 adding automatic language detection
  articles/cognitive-services/video-indexer/video-indexer-overview.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10168 Update `sqlFilter` & `sqlExpression` syntax
  articles/service-bus-messaging/service-bus-resource-manager-namespace-topic-with-rule.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#10171 Update actions of Automation Operator
  articles/automation/automation-child-runbooks.md
  articles/automation/automation-role-based-access-control.md
Labels: Change sent to author, automation/svc, ready-to-merge

#10074 Update multi-region-writers.md
  articles/cosmos-db/multi-region-writers.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#10187 iot-acclerators-options.md
  articles/iot-accelerators/iot-accelerators-options.md
Labels: Change sent to author, iot-accelerators/svc, ready-to-merge

#10143 Update log-analytics-manage-access.md - phase 1 RBAC update
  articles/log-analytics/log-analytics-manage-access.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#10221 Changing link the helm documentation
  articles/aks/kubernetes-helm.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#10225 Adding short reference to "auto-predict" and how to use it.
  articles/machine-learning/studio/excel-add-in-for-web-services.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge

#9089 Update service-fabric-services-inside-containers.md
  articles/service-fabric/service-fabric-services-inside-containers.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#10213 Get feedback on all apps list
  articles/active-directory/manage-apps/view-applications-portal.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#10239 Example variable typo fix
  articles/app-service/app-service-web-tutorial-connect-msi.md
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#10241 Correct a couple of typos of 'varialbe'
  articles/azure-resource-manager/resource-group-create-multiple.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#10269 Added --generate-ssh-keys
  articles/aks/aad-integration.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#10270 Add "are" to the first line of Step 3: Enable Windows downl-level dev…
  articles/active-directory/device-management-hybrid-azuread-joined-devices-setup.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#10285 Documentation to include new config transform for OutputCache Provider
  articles/redis-cache/cache-aspnet-output-cache-provider.md
Labels: Change sent to author, cache/svc, ready-to-merge

#8226 Update storage-sync-files-troubleshoot.md
  articles/storage/files/storage-sync-files-troubleshoot.md
Labels: Change sent to author, do-not-merge, storage/svc

#9212 Update sql-database-managed-instance-transact-sql-information.md
  articles/sql-database/sql-database-managed-instance-transact-sql-information.md
Labels: Change sent to author, do-not-merge

#8474 Remove preview instructions
  articles/azure-functions/durable-functions-install.md
Labels: Change sent to author, do-not-merge, functions/svc

#8088 Adding ability to get backup status via PowerShell and login
  articles/azure-stack/azure-stack-backup-back-up-azure-stack.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#8066 Fix broken link to languages API
  articles/cognitive-services/Translator/languages.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10312 Update faq.md
  articles/aks/faq.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#10360 Spelling mistake - added "p" to "ages"
  articles/cdn/cdn-dynamic-site-acceleration.md
Labels: Change sent to author, cdn/svc, ready-to-merge

#10334 Fixed spelling error
  articles/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local.md
Labels: Change sent to author, iot-accelerators/svc, ready-to-merge

#10318 RBAC changes phase 2
  articles/log-analytics/log-analytics-manage-access.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#10293 There's an extra dash
  articles/iot-hub/tutorial-device-twins.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#10289 Update service-fabric-cluster-scale-up-down.md
  articles/service-fabric/service-fabric-cluster-scale-up-down.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#10232 Adding underscore to StorageType variable
  articles/virtual-machines/windows/convert-disk-storage.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#9588 fix: RedHat -> Red Hat except for Publisher ID
  articles/active-directory-domain-services/TOC.md
  articles/active-directory-domain-services/active-directory-ds-compatible-software.md
  articles/active-directory/managed-service-identity/known-issues.md
  articles/backup/backup-during-vm-creation.md
  articles/cosmos-db/performance-tips-async-java.md
  articles/security/azure-security-disk-encryption.md
  articles/service-fabric/service-fabric-cli.md
  articles/site-recovery/migrate-tutorial-aws-azure.md
  articles/storage/blobs/storage-how-to-mount-container-linux.md
  articles/virtual-machines/extensions/network-watcher-linux.md
  articles/virtual-machines/extensions/stackify-retrace-linux.md
  articles/virtual-machines/extensions/update-linux-agent.md
  articles/virtual-machines/extensions/vmaccess.md
  articles/virtual-machines/linux/cloudinit-configure-swapfile.md
  articles/virtual-machines/linux/cloudinit-prepare-custom-image.md
  articles/virtual-machines/linux/login-using-aad.md
  articles/virtual-machines/linux/mysql-install.md
  articles/virtual-machines/linux/optimization.md
  articles/virtual-machines/linux/overview.md
  articles/virtual-machines/linux/serial-console.md
  articles/virtual-machines/linux/using-cloud-init-nodejs.md
  articles/virtual-machines/workloads/sap/hana-installation.md
  includes/virtual-network-multiple-ip-addresses-os-config.md
Labels: do-not-merge

#10311 Update service-fabric-application-upgrade.md
  articles/service-fabric/service-fabric-application-upgrade.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#10314 Corrected a typo in a resource name.
  articles/virtual-machines/linux/terraform-create-complete-vm.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#10370 Update IoTHubClient_LL_DoWork frequency recommended value
  articles/iot-hub/iot-hub-device-sdk-c-iothubclient.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#10310 Update log-analytics-network-performance-monitor-service-endpoint.md
  articles/log-analytics/log-analytics-network-performance-monitor-service-endpoint.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#10153 Feature/azure stack quick create vm linux powershell.md
  articles/azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#10152 Fix/azure stack quick create vm linux powershell.md
  articles/azure-stack/user/azure-stack-quick-create-vm-linux-powershell.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#10397 Typo
  articles/aks/aad-integration.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#10398 Update cognitive-services-custom-speech-create-language-model.md
  articles/cognitive-services/Custom-Speech-Service/CustomSpeech-How-to-Topics/cognitive-services-custom-speech-create-language-model.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#10383 Update azure-security-disk-encryption-faq.md
  articles/security/azure-security-disk-encryption-faq.md
Labels: Change sent to author, ready-to-merge, security/svc

#10390 Fix the double dash
  articles/monitoring/monitoring-container-health.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#10373 Update service-fabric-networking-modes.md
  articles/service-fabric/service-fabric-networking-modes.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc

#10407 Same prerequisite twice. Remove one
  articles/iot-edge/sql-storage.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#10437 Update kubernetes-walkthrough-portal.md
  articles/aks/kubernetes-walkthrough-portal.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#10384 Update azure-stack-add-vm-image.md
  articles/azure-stack/azure-stack-add-vm-image.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#10440 Update azure-stack-powershell-download.md
  articles/azure-stack/user/azure-stack-powershell-download.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#10446 Update howto-password-ban-bad-on-premises-troubleshoot.md
  articles/active-directory/authentication/howto-password-ban-bad-on-premises-troubleshoot.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ready-to-merge

#10148 Update expressroute-routing.md
  articles/expressroute/expressroute-routing.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#9887 Add missing ',' in Article "Custom Script Extension for Linux"
  articles/virtual-machines/extensions/custom-script-linux.md
Labels: do-not-merge
