Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-10, with the labels that each got.

#39823 Correct the referenced package
  articles/azure-app-configuration/quickstart-dotnet-core-app.md
Labels: Change sent to author, azure-app-configuration/svc, ready-to-merge

#39846 Fix link
  articles/active-directory/develop/msal-net-token-cache-serialization.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#39836 Remove duplicate lines
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#39703 Adding simple queries to view prometheus data
  articles/azure-monitor/insights/container-insights-agent-config.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), do-not-merge

#39853 Added link for how to change hardware gen
  articles/sql-database/sql-database-managed-instance-faq.md
Labels: Change sent to author, assessing_(C&L), managed-instance/subsvc, ready-to-merge, sql-database/svc

#39876 Fixed small spelling mistake
  articles/storage/common/storage-redundancy-gzrs.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#39849 Update methods-for-assigning-users-and-groups.md
  articles/active-directory/manage-apps/methods-for-assigning-users-and-groups.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, assessing_(C&L), do-not-merge

#33976 add documentation for bidirectional vnet peering in the Portal
  articles/virtual-network/media/tutorial-connect-virtual-networks-portal/peering-settings-bidirectional.png
  articles/virtual-network/media/tutorial-connect-virtual-networks-portal/peering-status-connected.PNG
  articles/virtual-network/tutorial-connect-virtual-networks-portal.md
Labels: assessing_(C&L), ready-to-merge

#39761 Fix variable name
  articles/azure-functions/durable/durable-functions-entities.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#39881 Update on GDPR and Profiling
  articles/cognitive-services/personalizer/ethics-responsible-use.md
Labels: Change sent to author, cognitive-services/svc, personalizer/subsvc, ready-to-merge

#39915 ignore warning Tip added
  articles/cosmos-db/create-graph-gremlin-console.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-graph/subsvc, ready-to-merge

#39914 further emphasizing Gremlin URI usage
  articles/cosmos-db/create-graph-gremlin-console.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-graph/subsvc, ready-to-merge

#39943 Fix 'Example configuration script', it is missing 'configurationArguments'
  articles/virtual-machines/extensions/dsc-template.md
Labels: assessing_(C&L), do-not-merge, review-team-triage

#39912 Add note for collectd default collection interval
  articles/azure-monitor/platform/data-sources-collectd.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#39903 Update cache-how-to-vnet to explain port requirements for georeplication
  articles/azure-cache-for-redis/cache-how-to-premium-vnet.md
Labels: Change sent to author, assessing_(C&L), cache/svc, ready-to-merge

#39552 [ACR] Adding StatusZero error docs for listing repos or tags
  articles/container-registry/container-registry-faq.md
Labels: Change sent to author, assessing_(C&L), container-registry/svc, do-not-merge

#39969 Fixed spelling error
  articles/sql-database/sql-database-vnet-service-endpoint-rule-overview.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-database/svc

#39554 Update how-to-connect-sync-feature-prevent-accidental-deletes.md
  articles/active-directory/hybrid/how-to-connect-sync-feature-prevent-accidental-deletes.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#39741 Fix issues 25683
  articles/virtual-machines/linux/tutorial-build-deploy-jenkins.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-linux/svc

#39924 Remove preview word
  articles/container-registry/container-registry-auth-aks.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#39953 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#40028 Missing step for enabling Password Reset
  articles/active-directory-b2c/active-directory-b2c-reference-sspr.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#40018 Comment on ingestion start time
  articles/data-explorer/ingest-data-event-hub.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#40005 Update stream-analytics-define-outputs.md
  articles/stream-analytics/stream-analytics-define-outputs.md
  articles/stream-analytics/stream-analytics-use-reference-data.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#39998 Fixes #39919 Apply suggestions from @tfitzmac
  articles/azure-resource-manager/resource-group-template-functions-string.md
Labels: Change sent to author, assessing_(C&L), azure-resource-manager/svc, ready-to-merge

#39993 Fix PowerShell error removing the certificate hash for RDP
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-windows/svc

#39967 Update javascript.md
  articles/azure-monitor/app/javascript.md
Labels: Change sent to author, application-insights/svc, assessing_(C&L), ready-to-merge

#39961 Improved formatting consistency
  articles/active-directory/develop/scenario-web-api-call-api-app-configuration.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#39828 Fix typo
  articles/active-directory-b2c/string-transformations.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#39827 Fix typo
  articles/active-directory-b2c/date-transformations.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#39704 Mention trial immutability
  articles/marketplace/partner-center-portal/create-new-saas-offer.md
Labels: Change sent to author, assessing_(C&L), marketplace/svc, ready-to-merge

#39560 Update deprecated argument resource-id
  articles/media-services/latest/job-state-events-cli-how-to.md
Labels: Change sent to author, assessing_(C&L), media-services/svc, ready-to-merge

#39512 Update ingest-data-iot-hub.md
  articles/data-explorer/ingest-data-iot-hub.md
Labels: Change sent to author, assessing_(C&L), data-explorer/svc, ready-to-merge

#39486 Update active-directory-saml-claims-customization.md
  articles/active-directory/develop/active-directory-saml-claims-customization.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#40035 Fix invalid link to "Azure AD consent framework"
  articles/active-directory/develop/registration-config-multi-tenant-application-add-to-gallery-how-to.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#40019 Comment on ingestion start time
  articles/data-explorer/ingest-data-iot-hub.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#40017 Fix spaces
  articles/postgresql/concepts-backup.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#39641 Update virtual-machines-managed-disks-types-overview.md
  includes/virtual-machines-managed-disks-types-overview.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines/svc

#39997 Add simple query to work with common counter metrics
  articles/azure-monitor/insights/container-insights-log-search.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), do-not-merge

#37597 Update virtual-machines-managed-disks-overview.md
  includes/virtual-machines-managed-disks-overview.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines/svc

#39991 Normalize case of PowerShell parameters in prepare-for-upload-vhd-image.md
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-windows/svc

#39996 Document idempotency requirements
  articles/role-based-access-control/role-assignments-template.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, role-based-access-control/svc

#40057 Update create.md
  articles/governance/management-groups/create.md
Labels: Change sent to author, governance/svc, ready-to-merge

#39907 Update key-vault-subscription-move-fix.md
  articles/key-vault/key-vault-subscription-move-fix.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, key-vault/svc

#40090 typo: CLoud -> Cloud
  includes/functions-cloud-shell-note.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#40101 Update export-template-portal.md
  articles/azure-resource-manager/export-template-portal.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#40099 Grammatical changes
  articles/azure-monitor/platform/manage-cost-storage.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#40079 Update hybrid-azuread-join-plan.md
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge

#40064 Information about SQL Error 33134
  articles/sql-database/sql-database-aad-authentication-configure.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security/subsvc, sql-database/svc

#35597 Confluence and JIRA SSO plugin tutorials updated
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
  articles/active-directory/saas-apps/media/confluencemicrosoft-tutorial/addon15.png
  articles/active-directory/saas-apps/media/confluencemicrosoft-tutorial/addon54.png
  articles/active-directory/saas-apps/media/jiramicrosoft-tutorial/addon14.png
  articles/active-directory/saas-apps/media/jiramicrosoft-tutorial/addon54.png
Labels: assessing_(C&L), ready-to-merge

#37598 Update virtual-machines-faq-for-disks.md
  includes/virtual-machines-faq-for-disks.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines/svc

#39377 Fix broken links
  includes/azure-monitor-limits-app-insights.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge

#40137 Update ip-addresses
  articles/azure-monitor/app/ip-addresses.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#39931 add SNAT limitation
  includes/firewall-limits.md
Labels: Change sent to author, assessing_(C&L), firewall/svc, ready-to-merge

#40144 Corrected Logging Category Descriptions
  articles/virtual-network/virtual-network-nsg-manage-log.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#39680 Clarify default timeout on SQL sink
  articles/data-factory/connector-sql-server.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, do-not-merge

#39792 Update sql-database-service-tiers-dtu.md
  articles/sql-database/sql-database-service-tiers-dtu.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, service/subsvc, sql-database/svc

#40158 Update README.md
  README.md
Labels: do-not-merge, review-team-triage

#40168 Minor Wording Changes
  articles/azure-resource-manager/template-tutorial-add-parameters.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#40169 Sentence clarification
  articles/azure-resource-manager/template-tutorial-add-variables.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#40170 Minor word clarification
  articles/azure-resource-manager/template-tutorial-add-outputs.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#40174 Minor wording modifications
  articles/azure-resource-manager/template-tutorial-quickstart-template.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#40160 Making packages required for ContentModerator clearer
  articles/cognitive-services/Content-Moderator/text-moderation-quickstart-dotnet.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, content-moderator/subsvc, ready-to-merge

#40190 Fixed typo: avialable > available
  articles/expressroute/expressroute-routing.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#40194 Fix broken link
  articles/stream-analytics/stream-analytics-manage-job.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, stream-analytics/svc

#40195 Fix broken link
  articles/stream-analytics/stream-analytics-use-reference-data.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, stream-analytics/svc

#40203 Fixing Python whitespace issues
  articles/cosmos-db/create-notebook-visualize-data.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, do-not-merge

#40245 Add SAP IAS Provisioning link
  articles/active-directory/saas-apps/tutorial-list.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#39350 BGP community values for AAD/CRM online
  articles/expressroute/expressroute-routing.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, expressroute/svc

#40166 Variable missing the $ symbol
  articles/azure-resource-manager/template-tutorial-create-first-template.md
Labels: Change sent to author, assessing_(C&L), azure-resource-manager/svc, ready-to-merge

#40246 Typo "**@trigger().outputs.windowStartTime**"→"**\@trigger().outputs.…
  articles/data-factory/solution-template-copy-new-files-lastmodifieddate.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#40241 Fix broken link
  articles/azure-functions/functions-bindings-event-grid.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#40252 fix broken link
  articles/managed-applications/test-createuidefinition.md
Labels: Change sent to author, assessing_(C&L), managed-applications/svc, ready-to-merge

#40157 Fix code snippet
  articles/iot-hub/iot-hub-python-twin-getstarted.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, iot-hub/svc

#40263 Update data-flow-expression-functions.md
  articles/data-factory/data-flow-expression-functions.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#40239 add a note on pending Windows Updates #40237
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-windows/svc

#40294 Fix typo
  articles/iot-hub/iot-hub-message-enrichments-overview.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#40306 Typo "commmand" > "command"
  articles/virtual-machines/windows/sqlclassic/virtual-machines-windows-classic-sql-onprem-availability.md
Labels: Change sent to author, do-not-merge, virtual-machines-sql/svc

#40305 Typos "commmand" > "command"; "autogenerated" > "auto-generated"
  articles/key-vault/key-vault-ovw-storage-keys.md
Labels: Change sent to author, do-not-merge, key-vault/svc

#39850 Add a tip about user with multiple tenants
  articles/app-service/app-service-web-tutorial-connect-msi.md
Labels: Change sent to author, app-service-web/svc, assessing_(C&L), do-not-merge

#40295 Fix URL
  articles/search/search-get-started-postman.md
Labels: Change sent to author, do-not-merge, search/svc

#40176 Minor wording clarification
  articles/azure-resource-manager/template-tutorial-add-tags.md
Labels: Change sent to author, assessing_(C&L), azure-resource-manager/svc, do-not-merge

#40242 Fix broken link
  articles/azure-functions/functions-bindings-microsoft-graph.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, do-not-merge

#40224 Fix code that does not compile
  articles/azure-monitor/app/worker-service.md
Labels: Change sent to author, application-insights/svc, assessing_(C&L), do-not-merge

#40273 Update tutorial-1st-experiment-sdk-train.md
  articles/machine-learning/service/tutorial-1st-experiment-sdk-train.md
Labels: Change sent to author, assessing_(C&L), core/subsvc, do-not-merge, machine-learning/svc

#39244 service-to-service-authentication.md: Add `--resource` argument to `az account get-access-key`
  articles/key-vault/service-to-service-authentication.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, key-vault/svc

#40348 Fixed link
  articles/billing/billing-mca-check-azure-credits-balance.md
Labels: Change sent to author, billing/svc, do-not-merge

#40342 Update durable-functions-eternal-orchestrations.md
  articles/azure-functions/durable/durable-functions-eternal-orchestrations.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#40344 Update concepts-device.md
  articles/iot-dps/concepts-device.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, iot-dps/svc

#40367 Changed "Starting" to "As of" because after 9/14
  articles/billing/billing-open-banking-strong-customer-authentication.md
Labels: Change sent to author, billing/svc, do-not-merge

#40369 Minor typo and grammar fixes for webjobs-create article
  articles/app-service/webjobs-create.md
Labels: do-not-merge, review-team-triage

#39712 Updated to mention 'project-rename'
  articles/azure-monitor/log-query/splunk-cheatsheet.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, log-analytics/svc

#39588 WAG + NSG for restricted incoming IP ranges
  articles/application-gateway/configuration-overview.md
Labels: Change sent to author, application-gateway/svc, assessing_(C&L), do-not-merge

#39642 Update front-door-limits.md
  includes/front-door-limits.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, frontdoor/svc

#40389 Typo "**@dataset().SinkTableName**"→"**\@dataset().SinkTableName**"
  articles/data-factory/tutorial-incremental-copy-multiple-tables-portal.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#40388 Update quick-create-pnp-device-pnp.md
  articles/iot-central/quick-create-pnp-device-pnp.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#40393 Fixed typo
  articles/site-recovery/azure-to-azure-network-mapping.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#40395 Update connect-go.md
  articles/postgresql/connect-go.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#40128 Update sql-database-managed-instance-custom-dns.md
  articles/sql-database/sql-database-managed-instance-custom-dns.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, managed-instance/subsvc, sql-database/svc

#40397 Correcting title & description
  articles/sentinel/connect-aws.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, do-not-merge

#40334 Wrong time on maintenance window
  articles/automation/automation-update-management.md
Labels: Change sent to author, assessing_(C&L), automation/svc, do-not-merge, update-management/subsvc

#39150 Whitelist ranges - Clarifications
  articles/aks/api-server-authorized-ip-ranges.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#39691 Fix VMSS command line parameter
  articles/aks/windows-container-cli.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#40347 text between <> not rendered in markdown
  articles/aks/cluster-container-registry-integration.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#38971 Fix broken link
  articles/partner-twilio-python-how-to-use-voice-sms.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, multiple/svc

#40297 Fix extension name format
  articles/active-directory/users-groups-roles/groups-dynamic-membership.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, users-groups-roles/subsvc

#40329 Added steps to check feature registration state
  articles/governance/policy/concepts/rego-for-aks.md
Labels: Change sent to author, assessing_(C&L), azure-policy/svc, do-not-merge

#40165 change typo 'function' to 'attribute' for context
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, do-not-merge

#39949 Updated note for Linux
  articles/app-service/app-service-key-vault-references.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), do-not-merge

#38874 Adding precisions on WinGA support for proxy
  articles/virtual-machines/extensions/features-windows.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-windows/svc

#40108 Public note on CollectGuestLogs.exe
  articles/virtual-machines/extensions/agent-windows.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-windows/svc

#40153 Update virtual-machine-scale-sets-automatic-upgrade.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machine-scale-sets/svc

#39811 Update features-windows.md
  articles/virtual-machines/extensions/features-windows.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-windows/svc

#39224 "true" to true
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-networking.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machine-scale-sets/svc

#40181 delete wrong sentence
  articles/security-center/security-center-alerts-data-services.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security-center/svc

#40312 Use AzCopy in a script -> linux script single line syntax error
  articles/storage/common/storage-use-azcopy-v10.md
Labels: Change sent to author, assessing_(C&L), common/subsvc, do-not-merge, storage/svc

#40061 Typo in default log path for Windows
  articles/storage/common/storage-use-azcopy-configure.md
Labels: Change sent to author, assessing_(C&L), common/subsvc, do-not-merge, storage/svc

#40313 Fix Header sample in API Management
  articles/api-management/api-management-policy-expressions.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), do-not-merge

#40442 Update App Center quickstart
  articles/azure-monitor/learn/mobile-center-quickstart.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#40439 Update note to mention App Center
  articles/notification-hubs/notification-hubs-app-service.md
Labels: Change sent to author, do-not-merge, notification-hubs/svc

#39999 fixed HDI domain for SSH
  articles/machine-learning/service/how-to-set-up-training-targets.md
Labels: Change sent to author, assessing_(C&L), core/subsvc, do-not-merge, machine-learning/svc

#40448 Wrong redirection
  articles/databox-online/data-box-edge-limits.md
Labels: Change sent to author, assessing_(C&L), databox/svc, do-not-merge, edge/subsvc

#40445 Update howto-use-azure-monitor-workbooks.md
  articles/active-directory/reports-monitoring/howto-use-azure-monitor-workbooks.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, report-monitor/subsvc

#40444 Update howto-analyze-activity-logs-log-analytics.md
  articles/active-directory/reports-monitoring/howto-analyze-activity-logs-log-analytics.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, report-monitor/subsvc

#40496 Looks like a classic copy and paste error
  articles/private-link/create-private-endpoint-portal.md
Labels: assessing_(C&L), ready-to-merge, review-team-triage

#40490 Add missing slash to devices sender link in iot-hub-amqp-support.md
  articles/iot-hub/iot-hub-amqp-support.md
Labels: Change sent to author, assessing_(C&L), iot-hub/svc, ready-to-merge

#40521 Update azure-web-apps.md
  articles/azure-monitor/app/azure-web-apps.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#40522 Update azure-web-apps.md
  articles/azure-monitor/app/azure-web-apps.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#40464 [ACR] Added check-health suggestion
  articles/container-registry/container-registry-faq.md
Labels: Change sent to author, assessing_(C&L), container-registry/svc, do-not-merge

#40325 Only set service startup type if not the default to avoid Access Denied errors
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-windows/svc

#40474 Update signalr-concept-messages-and-connections.md
  articles/azure-signalr/signalr-concept-messages-and-connections.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, signalr/svc

#40469 Update tutorial-create-cluster.md
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#40524 Update consulting-services.md
  articles/marketplace/consulting-services.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#40109 Update cluster-container-registry-integration.md
  articles/aks/cluster-container-registry-integration.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#40581 Removed duplicate paragraph
  articles/azure-monitor/app/status-monitor-v2-overview.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#40576 Fixed typo (Serach)
  articles/data-factory/connector-azure-search.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#40560 Update Cosmos DB public emulator release notes
  articles/cosmos-db/local-emulator-release-notes.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, ready-to-merge

#40562 Fix QueueTriggerAttribute github source url
  articles/azure-functions/functions-bindings-storage-queue.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#40558 Fixed "24 days" to be "24 hours"
  articles/azure-functions/functions-bindings-timer.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#40582 Update Linux VM backup consistency information
  includes/virtual-machines-common-backup-and-disaster-recovery-for-azure-iaas-disks.md
Labels: assessing_(C&L), ready-to-merge, review-team-triage

#40617 Update documentations for body tracking SDK 0.9.4
  articles/kinect-dk/body-sdk-download.md
  articles/kinect-dk/body-sdk-setup.md
Labels: Change sent to author, do-not-merge, kinect-dk/prod

#40616 Description update
  articles/azure-maps/supported-languages.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#40499 Update create-host-pools-user-profile.md
  articles/virtual-desktop/create-host-pools-user-profile.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-desktop/svc

#40692 Databricks Runtime Version 5.2 no longer available
  articles/azure-databricks/quickstart-create-databricks-workspace-portal.md
Labels: Change sent to author, azure-databricks/svc, ready-to-merge

#40690 Option to 'pin to dashboard' not available
  articles/azure-databricks/quickstart-create-databricks-workspace-portal.md
Labels: Change sent to author, azure-databricks/svc, ready-to-merge

#40635 Fixed wrong syntax in Code example
  articles/azure-functions/durable/durable-functions-entities.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#40563 Update backup-azure-arm-restore-vms.md
  articles/backup/backup-azure-arm-restore-vms.md
Labels: Change sent to author, assessing_(C&L), backup/svc, ready-to-merge

#40712 Fixed typo for performance counter
  articles/virtual-desktop/deploy-diagnostics.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#40628 Update kubernetes-walkthrough-portal.md
  articles/aks/kubernetes-walkthrough-portal.md
Labels: Change sent to author, container-service/svc, do-not-merge

#40678 Use response code in example
  articles/event-grid/security-authentication.md
Labels: Change sent to author, assessing_(C&L), event-grid/svc, ready-to-merge
