Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-05, with the labels that each got.

#30580 Update snapshot-debugger.md
  articles/azure-monitor/app/snapshot-debugger.md
Labels: Change sent to author, application-insights/svc, ready-to-merge, triaged

#30579 Update data-retention-privacy.md
  articles/azure-monitor/app/data-retention-privacy.md
Labels: Change sent to author, application-insights/svc, ready-to-merge, triaged

#30547 Change wording
  articles/azure-monitor/log-query/get-started-queries.md
Labels: Change sent to author, do-not-merge, log-analytics/svc, triaged

#30543 Fixed broken links
  articles/cosmos-db/tutorial-develop-table-dotnet.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge, triaged

#30537 fixed broken links
  articles/storage/blobs/storage-quickstart-blobs-dotnet.md
Labels: Change sent to author, do-not-merge, storage/svc, triaged

#30526 Typo changer user to use
  articles/active-directory/develop/howto-v1-enable-sso-ios.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge, triaged

#30519 Updated Public IP DNS settings
  articles/virtual-network/virtual-network-ip-addresses-overview-arm.md
Labels: Change sent to author, ready-to-merge, triaged, virtual-network/svc

#30515 fixing typo
  articles/dev-spaces/index.yml
Labels: Change sent to author, do-not-merge, triaged

#30502 Updating orchestration step
  articles/active-directory-b2c/active-directory-b2c-custom-setup-li-idp.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge, triaged

#30497 Updates to document
  articles/virtual-desktop/set-up-scaling-script.md
Labels: Change sent to author, ready-to-merge, triaged, virtual-desktop/svc

#30024 (AzureCXP) fixes (#28573)
  articles/cognitive-services/Speech-Service/batch-transcription.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc, triaged

#30495 Fix a typo in the Next Steps section
  articles/event-hubs/event-hubs-about.md
Labels: Change sent to author, do-not-merge, event-hubs/svc, triaged

#30489 Key Vault - Align headings for service limitations
  includes/key-vault-limits.md
Labels: Change sent to author, billing/svc, ready-to-merge, triaged

#30465 Changing verbiage on what the note is applicable
  articles/application-gateway/application-gateway-end-to-end-ssl-powershell.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, triaged

#30436 Update howto-conditional-access-session-lifetime.md
  articles/active-directory/conditional-access/howto-conditional-access-session-lifetime.md
Labels: Change sent to author, active-directory/svc, conditional-access/subsvc, ready-to-merge, triaged

#30455 Update data-flow-expression-functions.md
  articles/data-factory/data-flow-expression-functions.md
Labels: Change sent to author, data-factory/svc, ready-to-merge, triaged

#30273 Extend Hub retirement
  articles/cognitive-services/Translator/customization.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, translator-text/subsvc, triaged

#30299 Update hybrid-azuread-join-managed-domains.md
  articles/active-directory/devices/hybrid-azuread-join-managed-domains.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, ready-to-merge, triaged

#30406 Update machine-learning-clustering.md
  articles/data-explorer/machine-learning-clustering.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged

#30300 Update hybrid-azuread-join-plan.md
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, ready-to-merge, triaged

#30317 Json Heading change
  articles/event-grid/event-filtering.md
Labels: Change sent to author, event-grid/svc, ready-to-merge, triaged

#30358 Update http links
  articles/governance/policy/samples/guest-configuration-applications-installed-linux.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge, triaged

#30397 Adding the missing newline char
  articles/active-directory/identity-protection/risk-events-reference.md
Labels: Change sent to author, active-directory/svc, identity-protection/subsvc, ready-to-merge, triaged

#30307 Update reference-azure-machine-learning-cli.md
  articles/machine-learning/service/reference-azure-machine-learning-cli.md
Labels: Change sent to author, core/subsvc, machine-learning/svc, ready-to-merge, triaged

#30389 Update languages for all entity types
  articles/cognitive-services/text-analytics/how-tos/text-analytics-how-to-entity-linking.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, text-analytics/subsvc, triaged

#30309 Update public documentation to reflect new changes
  articles/hdinsight/hdinsight-os-patching.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge, triaged

#30388 Use one StringBuilder in GetCanonicalizedHeaders()
  articles/storage/common/storage-rest-api-auth.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc, triaged

#30316 Corrected Line 84 with extra space
  articles/dms/howto-sql-server-to-azure-sql-mi-powershell.md
Labels: Change sent to author, dms/svc, ready-to-merge, triaged

#30310 Grammatical error
  articles/storage/files/storage-files-active-directory-overview.md
Labels: Change sent to author, do-not-merge, storage/svc, triaged

#30318 fix: MD039/no-space-in-links
  articles/active-directory/saas-apps/real-links-tutorial.md
  articles/active-directory/saas-apps/rightscale-tutorial.md
  articles/active-directory/saas-apps/voyance-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc, triaged

#30320 typo: Double word "for"
  articles/azure-monitor/app/sampling.md
  articles/backup/backup-azure-monitoring-use-azuremonitor.md
  articles/data-factory/connector-amazon-simple-storage-service.md
  articles/data-factory/connector-azure-blob-storage.md
  articles/data-factory/connector-azure-data-lake-storage.md
  articles/data-factory/connector-azure-data-lake-store.md
  articles/data-factory/connector-azure-file-storage.md
  articles/data-factory/connector-file-system.md
  articles/data-factory/connector-ftp.md
  articles/data-factory/connector-google-cloud-storage.md
  articles/data-factory/connector-hdfs.md
  articles/data-factory/connector-http.md
  articles/data-factory/connector-sftp.md
  articles/notification-hubs/configure-notification-hub-portal-pns-settings.md
  articles/virtual-machines/troubleshooting/serial-console-nmi-sysrq.md
Labels: Change sent to author, do-not-merge, triaged, virtual-machines-linux/svc

#30319 fix: Remove link locale
  articles/azure-monitor/app/monitor-web-app-availability.md
Labels: Change sent to author, application-insights/svc, ready-to-merge, triaged

#30382 Update create-vm-accelerated-networking-powershell.md
  articles/virtual-network/create-vm-accelerated-networking-powershell.md
Labels: Change sent to author, ready-to-merge, triaged, virtual-network/svc

#30356 Added that exact file name match is required
  articles/sql-database/sql-database-xevent-code-event-file.md
Labels: Change sent to author, monitor/subsvc, ready-to-merge, sql-database/svc, triaged

#30321 typo: Double word "Azure"
  articles/automation/automation-manage-send-joblogs-log-analytics.md
  articles/azure-monitor/insights/surface-hubs.md
  articles/azure-monitor/platform/create-pipeline-datacollector-api.md
  articles/azure-monitor/platform/oms-portal-transition.md
  articles/hdinsight/hdinsight-hadoop-oms-log-analytics-tutorial.md
Labels: Change sent to author, hdinsight/svc, process-automation/subsvc, ready-to-merge, triaged

#30350 No self nomination available any longer
  articles/security/azure-security-mvp.md
Labels: Change sent to author, ready-to-merge, security/svc, triaged

#30322 typo: Double word "the"
  articles/azure-functions/functions-debug-powershell-local.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge, triaged

#30324 Slightly corrected english
  articles/azure-monitor/app/ilogger.md
Labels: Change sent to author, application-insights/svc, ready-to-merge, triaged

#30391 Add a line about encryption
  articles/active-directory/manage-apps/user-provisioning.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge

#30405 Update anomaly-detection.md
  articles/data-explorer/anomaly-detection.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#30599 Update http links
  articles/sql-database/sql-database-xevent-db-diff-from-svr.md
Labels: Change sent to author, monitor/subsvc, ready-to-merge, sql-database/svc

#30623 Update ip-addresses.md
  articles/azure-monitor/app/ip-addresses.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#30627 Update storage-import-export-data-from-blobs.md
  articles/storage/common/storage-import-export-data-from-blobs.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#30647 Update web-sites-purchase-ssl-web-site.md
  articles/app-service/web-sites-purchase-ssl-web-site.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#30648 Update time-series-insights-overview.md
  articles/time-series-insights/time-series-insights-overview.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#30631 Update hdinsight-troubleshoot-failed-cluster.md
  articles/hdinsight/hdinsight-troubleshoot-failed-cluster.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#30616 Update http-links
  articles/storsimple/storsimple-8000-configure-web-proxy.md
Labels: Change sent to author, ready-to-merge, storsimple/svc

#29663 Remove special characters from YAML
  articles/aks/operator-best-practices-cluster-security.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#30568 Update error condition for unauthorized error
  articles/aks/azure-ad-integration.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#30640 Update set-up-customize-master-image.md
  articles/virtual-desktop/set-up-customize-master-image.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#30615 Update http-links
  articles/storage/blobs/storage-create-geo-redundant-storage.md
  articles/storage/common/storage-analytics-logging.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#30617 Update http-links
  articles/virtual-machines/linux/use-remote-desktop.md
  articles/virtual-machines/workloads/mainframe-rehosting/concepts/mainframe-compute-azure.md
  articles/virtual-machines/workloads/mainframe-rehosting/concepts/mainframe-storage-azure.md
  articles/virtual-machines/workloads/mainframe-rehosting/tmaxsoft/install-openframe-azure.md
  articles/virtual-machines/workloads/sap/high-availability-guide.md
  articles/virtual-machines/workloads/sap/sap-high-availability-guide-wsfc-shared-disk.md
  articles/virtual-machines/workloads/sap/sap-high-availability-guide.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#30698 azure-ad-secure-steps update to correct banned password link
  articles/security/azure-ad-secure-steps.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#30704 Update runbook code
  articles/automation/automation-create-alert-triggered-runbook.md
Labels: Change sent to author, automation/svc, process-automation/subsvc, ready-to-merge

#30709 typo: Double word "is"
  articles/active-directory/develop/scenario-web-api-call-api-acquire-token.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#30711 typo: Double word "the"
  articles/machine-learning/service/how-to-explore-prepare-data.md
Labels: Change sent to author, core/subsvc, machine-learning/svc, ready-to-merge

#30763 Update update-infrastructure-redhat.md
  articles/virtual-machines/linux/update-infrastructure-redhat.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#29749 Update notification-hubs-ios-apple-push-notification-apns-get-started.md
  articles/notification-hubs/notification-hubs-ios-apple-push-notification-apns-get-started.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#30602 PowerShell is now enabled by default as of 0.17.0
  articles/azure-functions/functions-create-first-function-powershell.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#30713 typo: Double word "which"
  includes/virtual-machines-image-builder-overview.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#30712 typo: Double word "to"
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, openshift/svc, ready-to-merge

#30699 Fixing errant punctuation that broke a link
  articles/cosmos-db/create-sql-api-python.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, ready-to-merge

#30708 typo: Double word "can"
  articles/active-directory/develop/msal-net-web-browsers.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#30668 fixed routing example description
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#30685 Update resource-files.md
  articles/batch/resource-files.md
Labels: Change sent to author, batch/svc, do-not-merge

#30682 TextEdit- howto-migrate-vm-extension.md
  articles/active-directory/managed-identities-azure-resources/howto-migrate-vm-extension.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#30714 Updated upgrade-and-scale.md
  articles/api-management/upgrade-and-scale.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#30710 typo: Double word "an"
  articles/active-directory/develop/v2-supported-account-types.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#30752 Timer trigger caution text typo
  articles/azure-functions/typo
Labels: Change sent to author, do-not-merge

#30748 add a missing ">"
  articles/azure-monitor/platform/activity-log-alerts-webhook.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, do-not-merge

#30773 Update spark-connector.md
  articles/data-explorer/spark-connector.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#30793 Add links to MSAL Python and MSAL Java
  articles/active-directory/develop/reference-v2-libraries.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#30801 typo: Double word "the"
  articles/time-series-insights/time-series-insights-update-explorer.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#30788 Added note for storage firewalls and Flow Logs
  articles/network-watcher/network-watcher-nsg-flow-logging-portal.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#28334 delete forehead space for .DS_Store in .gitignore file
  .gitignore
Labels: Change sent to author, do-not-merge

#30866 Update overview-what-is-azure-ml.md
  articles/machine-learning/service/overview-what-is-azure-ml.md
Labels: Change sent to author, core/subsvc, machine-learning/svc, ready-to-merge

#30606 Update howto-connect-windowsiotcore.md
  articles/iot-central/howto-connect-windowsiotcore.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#30909 fixed typo (proejct -> project)
  includes/notification-hubs-enable-firebase-cloud-messaging.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#30893 typo: Double word "and"
  articles/cognitive-services/Speech-Service/quickstart-translate-speech-dotnetframework-windows.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#30879 Minor spelling correction
  articles/azure-monitor/app/app-map.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#30843 Update analysis-services-datasource.md
  articles/analysis-services/analysis-services-datasource.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#30894 typo: Double word "an"
  articles/cognitive-services/Speech-Service/scenario-availability.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#30569 Added PHP PDO sample code
  articles/mysql/howto-configure-ssl.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#30504 Update expand-disks.md
  articles/virtual-machines/linux/expand-disks.md
Labels: Change sent to author, disks/subsvc, ready-to-merge, virtual-machines-linux/svc

#26007 Update nested-virtualization.md
  articles/virtual-machines/windows/nested-virtualization.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#30282 Update how-to-connect-device-writeback.md
  articles/active-directory/hybrid/how-to-connect-device-writeback.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#30176 Missing some Container initialization
  articles/cosmos-db/how-to-use-stored-procedures-triggers-udfs.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#29588 Update virtual-nodes-cli.md - Remove Virtual Node
  articles/aks/virtual-nodes-cli.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#29348 Fix error in example code
  articles/cognitive-services/Bing-Image-Search/image-search-sdk-node-quickstart.md
Labels: Change sent to author, bing-image-search/subsvc, cognitive-services/svc, ready-to-merge

#28998 Add FQDN to TM endpoint options
  articles/traffic-manager/traffic-manager-endpoint-types.md
Labels: Change sent to author, ready-to-merge, traffic-manager/svc

#28207 Switch words to make sense.
  articles/virtual-network/virtual-network-network-interface-addresses.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#30930 [UpdateMgmt] Fixing typo
  articles/automation/automation-update-management.md
Labels: Change sent to author, automation/svc, do-not-merge, update-management/subsvc

#30895 chore: Cleanup Microsoft links
  articles/active-directory/develop/scenario-web-api-call-api-app-configuration.md
  articles/active-directory/develop/v2-oauth2-client-creds-grant-flow.md
  articles/active-directory/fundamentals/active-directory-accessmanagement-managing-group-owners.md
  articles/active-directory/fundamentals/users-default-permissions.md
  articles/application-gateway/application-gateway-autoscaling-zone-redundant.md
  articles/azure-monitor/insights/network-performance-monitor-service-connectivity.md
  articles/cognitive-services/Speech-Service/how-to-custom-speech.md
  articles/cognitive-services/Speech-Service/how-to-voice-tuning.md
  articles/cognitive-services/Speech-Service/overview.md
  articles/machine-learning/service/how-to-configure-auto-train.md
  articles/machine-learning/service/how-to-deploy-and-where.md
  articles/service-bus-messaging/service-bus-java-how-to-use-queues.md
  articles/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions.md
  articles/storage/queues/storage-powershell-how-to-use-queues.md
  articles/virtual-machines/linux/image-builder-gallery.md
  articles/virtual-machines/linux/image-builder-user-assigned-identity.md
  articles/virtual-machines/linux/scheduled-events.md
  articles/virtual-machines/windows/scheduled-events.md
  articles/vs-azure-tools-storage-explorer-relnotes.md
Labels: Change sent to author, do-not-merge, queues/subsvc, storage/svc

#29890 Fix proposed test url for java quickstart
  articles/app-service/containers/quickstart-java.md
Labels: Change sent to author, app-service-web/svc, do-not-merge

#29604 Reduce usage of magic strings in logger.md
  articles/azure-monitor/app/ilogger.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#27067 Update dsc-overview.md
  articles/virtual-machines/extensions/dsc-overview.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#29447 Corrected step-by-step instructions
  articles/site-recovery/azure-to-azure-quickstart.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#29837 fix: Trailing space in frontmatter lines
  articles/data-factory/data-flow-alter-row.md
  includes/cognitive-services-bing-autosuggest-signup-requirements.md
  includes/cognitive-services-bing-spell-check-signup-requirements.md
  includes/cognitive-services-containers-run-multiple-same-host.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#30106 Added extra info to show default interval when not specified
  articles/azure-app-configuration/enable-dynamic-configuration-aspnet-core.md
Labels: Change sent to author, azure-app-configuration/svc, ready-to-merge

#30247 Correct discovery appliance recommendation
  articles/migrate/how-to-scale-assessment.md
Labels: Change sent to author, azure-migrate/svc, ready-to-merge

#30518 Reorder Prepare the Infrastructure Steps
  articles/site-recovery/migrate-tutorial-aws-azure.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#30889 fixing operation name
  articles/azure-functions/durable/durable-functions-preview.md
Labels: Change sent to author, functions/svc, ready-to-merge

#30933 Change "General" to "Group"
  articles/virtual-desktop/set-up-customize-master-image.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#27469 Update virtual-network-manage-peering.md
  articles/virtual-network/virtual-network-manage-peering.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#30952 Update hdinsight-hadoop-use-data-lake-store.md
  articles/hdinsight/hdinsight-hadoop-use-data-lake-store.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#29542 Update storage-network-security.md
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#30463 Updated storage-security-guide.md
  articles/frontdoor/front-door-custom-domain-https.md
  articles/storage/common/storage-security-guide.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#28890 Change to not translate unique names
  articles/storage/blobs/storage-lifecycle-management-concepts.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#30961 updated note about storage firewalls
  articles/network-watcher/network-watcher-nsg-flow-logging-portal.md
Labels: Change sent to author, network-watcher/svc, ready-to-merge

#30953 Adding Microsoft Bookings
  articles/active-directory/conditional-access/technical-reference.md
Labels: Change sent to author, active-directory/svc, conditional-access/subsvc, ready-to-merge

#27677 Updated step 2 of Steps to enable a backup
  includes/virtual-machines-common-backup-and-disaster-recovery-for-azure-iaas-disks.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#30947 added missing words
  articles/site-recovery/azure-to-azure-network-mapping.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#30689 Add Service fabric cluster endpoint mapping
  articles/azure-government/documentation-government-developer-guide.md
Labels: Change sent to author, azure-government/svc, ready-to-merge

#29955 Add missing description
  articles/azure-functions/functions-host-json.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#30996 fix typos
  articles/sql-database/sql-database-auto-failover-group.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, sql-database/svc

#31002 Update hdinsight-version-release.md
  articles/hdinsight/hdinsight-version-release.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#30672 Group Creation request amended to not contain the id of the group as …
  articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge

#29371 Updated the Customize an alert instructions
  articles/asc-for-iot/quickstart-create-custom-alerts.md
Labels: Change sent to author, asc-for-iot/svc, ready-to-merge

#29448 Improved clarity of documentation
  articles/site-recovery/azure-to-azure-tutorial-enable-replication.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#30806 Clarified where the actual response is sent to
  articles/active-directory/develop/v1-protocols-openid-connect-code.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#31036 fixes small typo
  articles/active-directory/devices/index.yml
Labels: Change sent to author, do-not-merge

#31038 typo: Double word "the"
  articles/active-directory/saas-apps/samlssojira-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#29370 standard tier or higher - text fix
  articles/asc-for-iot/quickstart-onboard-iot-hub.md
Labels: Change sent to author, asc-for-iot/svc, do-not-merge

#31057 Update node-ingest-data.md
  articles/data-explorer/node-ingest-data.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#31069 Suggest to fix emphasis
  articles/blockchain/service/send-transaction.md
Labels: Change sent to author, azure-blockchain/svc, do-not-merge

#31087 Update signalr-service-limits.md
  includes/signalr-service-limits.md
Labels: Change sent to author, ready-to-merge, signalr/svc

#31043 Added missing semicolon
  articles/azure-monitor/app/app-map.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#31106 Minor inconsistencies fixed
  articles/active-directory-b2c/active-directory-b2c-configure-signup-self-asserted-custom.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#30950 Grammar fixes
  articles/active-directory-b2c/trustframeworkpolicy.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#30946 Update active-directory-b2c-setup-aad-custom.md
  articles/active-directory-b2c/active-directory-b2c-setup-aad-custom.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#31032 Update app-service-linux-intro.md
  articles/app-service/containers/app-service-linux-intro.md
Labels: Change sent to author, app-service/svc, do-not-merge

#31109 Remove link references
  articles/search/search-faceted-navigation.md
Labels: Change sent to author, do-not-merge, search/svc

#31008 fixed entities endpoint example
  articles/cognitive-services/text-analytics/quickstarts/python.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#30398 Fix incorrect variable name in sample
  articles/cognitive-services/Bing-News-Search/go.md
Labels: Change sent to author, bing-visual-search/subsvc, cognitive-services/svc, do-not-merge

#30589 Changed first bullet of before you start
  articles/backup/backup-azure-backup-server-vmware.md
Labels: Change sent to author, backup/svc, ready-to-merge

#31015 Add --resource-group to aks-engine deploy
  articles/cosmos-db/bootstrap-kubernetes-cluster.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#31083 Support Application Gateway for Japan East
  articles/availability-zones/az-overview.md
Labels: Change sent to author, azure/svc, ready-to-merge

#31070 Suggest to fix typo
  articles/cognitive-services/Speech-Service/how-to-custom-speech-test-data.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#31113 Translator limits
  articles/cognitive-services/Translator/reference/v3-0-break-sentence.md
  articles/cognitive-services/Translator/reference/v3-0-detect.md
  articles/cognitive-services/Translator/reference/v3-0-reference.md
  articles/cognitive-services/Translator/reference/v3-0-translate.md
  articles/cognitive-services/Translator/reference/v3-0-transliterate.md
  articles/cognitive-services/Translator/request-limits.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, translator-text/subsvc

#31116 Update ip-addresses.md
  articles/azure-monitor/app/ip-addresses.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#31129 fixed typo
  articles/dns/dns-overview.md
Labels: Change sent to author, dns/svc, do-not-merge

#30636 Update active-directory-b2c-custom-setup-adfs2016-idp.md
  articles/active-directory-b2c/active-directory-b2c-custom-setup-adfs2016-idp.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#30873 Fixed webhook response
  articles/marketplace/cloud-partner-portal/saas-app/cpp-saas-fulfillment-api-v2.md
Labels: Change sent to author, marketplace/svc, ready-to-merge

#31120 Add missing href property to root node
  articles/azure-functions/durable/TOC.yml
Labels: Change sent to author, do-not-merge

#31153 Correcting a very tiny typo
  articles/data-factory/tutorial-copy-data-dot-net.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#31139 Added a comment to webhook
  articles/marketplace/cloud-partner-portal/saas-app/cpp-saas-fulfillment-api-v2.md
Labels: Change sent to author, marketplace/svc, ready-to-merge

#29021 Update ADAL Android link
  articles/active-directory/develop/active-directory-authentication-libraries.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#31163 Update reference-connect-sync-attributes-synchronized.md
  articles/active-directory/hybrid/reference-connect-sync-attributes-synchronized.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#31177 Fixed daemon.json folder reference
  articles/iot-edge/troubleshoot.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#31205 Update hdinsight-component-versioning.md
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge
