Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-09, with the labels that each got.

#37507 Adding direct link to Deploy location of Github
  articles/virtual-desktop/deploy-diagnostics.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#37718 Minor technical clarity
  articles/virtual-desktop/create-fslogix-profile-container.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#38091 Update hdinsight-component-versioning.md
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, assessing_(C&L), hdinsight/svc, ready-to-merge

#38092 Update K4ABT documentation for K4ABT 0.9.2 SDK release
  articles/kinect-dk/body-joints.md
  articles/kinect-dk/body-sdk-download.md
  articles/kinect-dk/build-first-body-app.md
  articles/kinect-dk/get-body-tracking-results.md
Labels: Change sent to author, assessing_(C&L), kinect-dk/prod, ready-to-merge

#38128 include public endpoint in connectivity section
  articles/sql-database/sql-database-managed-instance-aad-security-tutorial.md
Labels: Change sent to author, ready-to-merge, security/subsvc, sql-database/svc

#38114 Fix the connection string configuration command
  articles/app-service/app-service-web-tutorial-dotnetcore-sqldb.md
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#38039 Update vminsights-health.md
  articles/azure-monitor/insights/vminsights-health.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), ready-to-merge

#38166 Typo: "destoroying" -> "destroying"
  articles/kinect-dk/body-sdk-download.md
Labels: Change sent to author, do-not-merge, kinect-dk/prod

#38095 Correcting duration_s explanation and samples
  articles/cosmos-db/logging.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#38144 Update hybrid-azuread-join-plan.md
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge

#38074 192.168.5.4/24 > 192.168.5.0/24 in create-custom-waf-rules.md
  articles/application-gateway/create-custom-waf-rules.md
Labels: Change sent to author, application-gateway/svc, assessing_(C&L), ready-to-merge

#38113 Fix dead link
  articles/azure-signalr/signalr-concept-performance.md
Labels: Change sent to author, do-not-merge, signalr/svc

#38104 fixed quote and br
  articles/virtual-machines/troubleshooting/troubleshoot-rdp-nic-disabled.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#38191 Update http links
  articles/hdinsight/hdinsight-hadoop-r-scaler-sparkr.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, hdinsight/svc

#38190 Update http links
  articles/billing/billing-troubleshoot-azure-sign-up.md
Labels: Change sent to author, billing/svc, do-not-merge

#38142 Update concept-authentication-passwordless.md
  articles/active-directory/authentication/concept-authentication-passwordless.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#38194 Update ingest-data-overview.md
  articles/data-explorer/ingest-data-overview.md
Labels: Change sent to author, assessing_(C&L), data-explorer/svc, ready-to-merge

#38208 It was previously unclear that OrchestrationClient couldn't be used f…
  articles/azure-functions/durable/durable-functions-checkpointing-and-replay.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#37916 Fix CLI syntax for local deploy
  articles/machine-learning/service/how-to-deploy-and-where.md
Labels: Change sent to author, assessing_(C&L), core/subsvc, do-not-merge, machine-learning/svc

#38204 Update documentation for container 1.2.0
  articles/cognitive-services/Speech-Service/speech-container-howto.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, speech-service/subsvc

#38175 Link to Body Tracking SDK was wrong (was pointing to the Sensor SDK)
  articles/kinect-dk/access-data-body-frame.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, kinect-dk/prod

#38198 change processed_data1 to output_data1
  articles/machine-learning/service/how-to-create-your-first-pipeline.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#37453 Update Blog Link
  articles/service-fabric/service-fabric-versions.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, service-fabric/svc

#38214 use TrackDependency instead of Track
  articles/azure-monitor/app/custom-operations-tracking.md
Labels: Change sent to author, application-insights/svc, assessing_(C&L), ready-to-merge

#38139 Add missing hyphen
  articles/aks/coredns-custom.md
Labels: Change sent to author, container-service/svc, do-not-merge

#38140 Link correction
  includes/storage-common-redundancy-zrs.md
Labels: Change sent to author, do-not-merge, storage/svc

#38121 Fixed the indentation for the F#
  articles/notebooks/install-packages-jupyter-notebook.md
Labels: Change sent to author, azure-notebooks/svc, do-not-merge

#37882 Update documentation-government-services-securityandidentity.md
  articles/azure-government/documentation-government-services-securityandidentity.md
Labels: Change sent to author, assessing_(C&L), azure-government/svc, ready-to-merge

#38221 Update plan-connect-topologies.md
  articles/active-directory/hybrid/plan-connect-topologies.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#38247 Fix typo
  articles/marketplace/marketplace-commercial-transaction-capabilities-and-considerations.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#38265 Improved grammar
  articles/sql-database/sql-database-technical-overview.md
Labels: Change sent to author, do-not-merge, service/subsvc, sql-database/svc

#38270 updating documentation with expiration time for OTP
  articles/active-directory/authentication/active-directory-passwords-faq.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#38273 Fixed grammar and punctuation
  articles/sql-database/sql-database-technical-overview.md
Labels: Change sent to author, do-not-merge, service/subsvc, sql-database/svc

#38277 Added the word do
  articles/sql-database/sql-database-paas-vs-sql-server-iaas.md
Labels: Change sent to author, do-not-merge, service/subsvc, sql-database/svc

#38073 Fixed query in VPNGW Diagnostics
  articles/vpn-gateway/vpn-gateway-howto-setup-alerts-virtual-network-gateway-log.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, vpn-gateway/svc

#37004 Make it clear to the reader that it is Azure PowerShell
  articles/sql-data-warehouse/quickstart-scale-compute-powershell.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, implement/subsvc, sql-data-warehouse/svc

#37218 Update persisting-shell-storage.md
  articles/cloud-shell/persisting-shell-storage.md
Labels: Change sent to author, assessing_(C&L), azure/svc, ready-to-merge

#37973 In "List of offer types" indicate that solution templates are also known as Azure applications.
  articles/marketplace/publisher-guide-by-offer-type.md
Labels: Change sent to author, assessing_(C&L), marketplace/svc, ready-to-merge

#35913 Fixing JS SDK Version in doc
  articles/cognitive-services/Speech-Service/quickstart-js-browser.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, speech-service/subsvc

#37105 Update azure-services-in-fedramp-auditscope.md
  articles/security/compliance/azure-services-in-fedramp-auditscope.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security/svc

#38231 Update api-management-using-with-vnet.md
  articles/api-management/api-management-using-with-vnet.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), do-not-merge

#38299 Update docs per new implementation
  articles/aks/cluster-container-registry-integration.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#37979 Add 2 new ports requirement
  articles/active-directory/hybrid/reference-connect-ports.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#37986 Update reference-connect-ports.md
  articles/active-directory/hybrid/reference-connect-ports.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#38289 Added a tip about datetime filters in partitioned tables
  articles/data-explorer/data-lake-query-data.md
Labels: Change sent to author, assessing_(C&L), data-explorer/svc, ready-to-merge

#37966 Added setsas to Set-AzKeyVaultAccessPolicy
  articles/key-vault/key-vault-overview-storage-keys-powershell.md
Labels: Change sent to author, assessing_(C&L), key-vault/svc, ready-to-merge

#37837 Update site-recovery-failover.md
  articles/site-recovery/site-recovery-failover.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, site-recovery/svc

#37235 Session Lifetime
  articles/active-directory/reports-monitoring/reference-sign-ins-error-codes.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge, report-monitor/subsvc

#36989 Made changes to reflect latest product behavior
  articles/site-recovery/azure-to-azure-tutorial-failback.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, site-recovery/svc

#34462 Dazfuller/adf selfhosted ir java
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, ready-to-merge

#38327 Update alerts-activity-log-service-notifications.md
  articles/service-health/alerts-activity-log-service-notifications.md
Labels: Change sent to author, do-not-merge, service-health/svc

#34279 Adding a few pre-requisites
  articles/virtual-machines/extensions/agent-windows.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-windows/svc

#36958 Add notes about using regular bindings in Activity functions
  articles/azure-functions/durable/durable-functions-bindings.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, do-not-merge

#38318 Fixed Grammar Errors in virtual-networks-faq.md
  articles/virtual-network/virtual-networks-faq.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#38281 Added the new v3 languages (zh and ja)
  articles/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#38161 Fixing Powershell code based on feedback
  articles/virtual-desktop/create-fslogix-profile-container.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#38324 Update logic-apps-using-sap-connector.md
  articles/logic-apps/logic-apps-using-sap-connector.md
Labels: Change sent to author, assessing_(C&L), logic-apps/svc, ready-to-merge

#38374 Added GDC video link with thumbnail + text edits
  articles/cognitive-services/Acoustics/what-is-acoustics.md
Labels: Change sent to author, acoustics/subsvc, assessing_(C&L), cognitive-services/svc, ready-to-merge

#38390 Correcting WAN Optimization Marketplace Link
  articles/virtual-network/virtual-networks-faq.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#37809 Update known-issues-azure-postgresql-online.md
  articles/dms/known-issues-azure-postgresql-online.md
Labels: Change sent to author, assessing_(C&L), dms/svc, ready-to-merge

#38409 Updating IP address of Breeze in Brazil South
  articles/azure-monitor/app/ip-addresses.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#38412 Added missing 'point' to normalisation examples
  articles/cognitive-services/Speech-Service/how-to-custom-speech-human-labeled-transcriptions.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#38449 Fixed typo (Micorsoft and Micosoft)
  articles/virtual-machines/windows/sql/virtual-machines-windows-sql-register-with-resource-provider.md
Labels: Change sent to author, virtual-machines-sql/svc

#38453 Fixed typo (atachments)
  articles/sql-database/sql-database-managed-instance-transact-sql-information.md
Labels: Change sent to author, do-not-merge, managed-instance/subsvc, sql-database/svc

#38454 Update howto-sspr-deployment.md
  articles/active-directory/authentication/howto-sspr-deployment.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, do-not-merge

#28936 Change to not translate unique names
  articles/azure-monitor/insights/solutions-resources-searches-alerts.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#34073 Fix typo
  articles/azure-monitor/insights/solutions-resources-searches-alerts.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), do-not-merge

#38408 Remove statement about SSO as a pre-req and SCIM requests not being taken
  articles/active-directory/develop/howto-app-gallery-listing.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#38505 Correct and clarify first sentence describing previous "sign-in" code
  articles/active-directory/develop/scenario-web-app-sign-user-sign-in.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#38502 Update template-best-practices.md
  articles/azure-resource-manager/template-best-practices.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#38491 Fix service name 'sentiment' -> 'keyphrase'
  articles/cognitive-services/text-analytics/includes/key-phrase-extraction-kubernetes-config-deploy.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#38351 Update a reference regarding lowercase letters
  articles/active-directory-b2c/active-directory-b2c-setup-twitter-app.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#38189 Update http links
  articles/active-directory-b2c/active-directory-b2c-setup-qq-app.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#38009 Added Explanation for Service Principal ID and Service Principal Key
  articles/data-factory/tutorial-transform-data-spark-portal.md
  articles/data-factory/tutorial-transform-data-spark-powershell.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, ready-to-merge

#37797 Update tutorial-c-module.md
  articles/iot-edge/tutorial-c-module-windows.md
  articles/iot-edge/tutorial-c-module.md
  articles/iot-hub/iot-hub-c-c-module-twin-getstarted.md
  articles/iot-hub/iot-hub-device-sdk-c-intro.md
Labels: Change sent to author, assessing_(C&L), iot-edge/svc, iot-hub/svc, ready-to-merge

#35389 Clarified RDS Role Assignment Instructions
  articles/virtual-desktop/create-service-principal-role-powershell.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#37981 Added B2CLogin.com information
  articles/active-directory-b2c/active-directory-b2c-faqs.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#38546 Tiny fix (storage-access-blobs-queues-portal.md)
  articles/storage/common/storage-access-blobs-queues-portal.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#38429 Update licensing-ps-examples.md
  articles/active-directory/users-groups-roles/licensing-ps-examples.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, users-groups-roles/subsvc

#38484 fix typo
  articles/sql-database/sql-database-technical-overview.md
Labels: Change sent to author, do-not-merge, service/subsvc, sql-database/svc

#38554 Typo in table describing template parameters
  articles/logic-apps/logic-apps-securing-a-logic-app.md
Labels: Change sent to author, assessing_(C&L), logic-apps/svc, ready-to-merge

#38564 Update active-directory-configurable-token-lifetimes.md
  articles/active-directory/develop/active-directory-configurable-token-lifetimes.md
Labels: do-not-merge

#37471 Update ADLA Java SDK documentation to latest version
  articles/data-lake-analytics/data-lake-analytics-manage-use-java-sdk.md
Labels: Change sent to author, assessing_(C&L), data-lake-analytics/svc, do-not-merge

#38574 Updating region list
  articles/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#38576 typo
  articles/site-recovery/migrate-tutorial-on-premises-azure.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, site-recovery/svc

#38575 Update alerts-metric-create-templates.md
  articles/azure-monitor/platform/alerts-metric-create-templates.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, assessing_(C&L), ready-to-merge

#38514 Setup Azure Network
  articles/site-recovery/migrate-tutorial-aws-azure.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, site-recovery/svc

#38571 Delete unexpected else
  articles/container-registry/container-registry-delete.md
Labels: Change sent to author, assessing_(C&L), container-registry/svc, ready-to-merge

#38322 Update workplacebyfacebook-provisioning-tutorial.md
  articles/active-directory/saas-apps/workplacebyfacebook-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge, saas-app-tutorial/subsvc

#38640 Custom operation tracking doc updates
  articles/azure-monitor/app/custom-operations-tracking.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#38598 update sample pom.xml
  articles/app-service/containers/quickstart-java.md
Labels: Change sent to author, app-service-web/svc, assessing_(C&L), do-not-merge

#38658 Fix typo in Azure Key Vault .NET Quickstart Guide
  articles/key-vault/quick-create-net.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, key-vault/svc

#38656 Irish customization available
  articles/cognitive-services/Translator/language-support.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, translator-text/subsvc

#35638 Fix JSON parse error
  articles/data-factory/concepts-pipelines-activities.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, do-not-merge

#38355 Fix typos in SPA Authentication guide
  articles/active-directory/develop/tutorial-v2-javascript-spa.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, do-not-merge

#38669 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#38668 Update Prepare the Infrastructure section
  articles/site-recovery/migrate-tutorial-aws-azure.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#38663 Corrected type
  articles/iot-edge/how-to-register-device-portal.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#38642 Updating Partitioning Schema for Azure Functions
  articles/stream-analytics/stream-analytics-define-outputs.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, stream-analytics/svc

#38620 $myTenantName Variable isn't specified
  articles/virtual-desktop/create-service-principal-role-powershell.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#38716 Two small fixes (storage-how-to-use-files-portal.md)
  articles/storage/files/storage-how-to-use-files-portal.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#38508 fix typo "aad" to "twitter"
  articles/app-service/configure-authentication-provider-twitter.md
Labels: Change sent to author, app-service-mobile/svc, assessing_(C&L), ready-to-merge

#38376 Additional clarification on IncludeSourceWebAppSlots parameter
  articles/app-service/app-service-web-app-cloning.md
Labels: Change sent to author, app-service-web/svc, assessing_(C&L), ready-to-merge

#38724 Updated VM Creation Steps
  articles/virtual-network/tutorial-filter-network-traffic.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#38718 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#38726 Removed legacy text
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, assessing_(C&L), hdinsight/svc, ready-to-merge

#38635 Added 'Azure Data Explorer' to table
  articles/security/fundamentals/encryption-atrest.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security-fundamentals/subsvc, security/svc

#37278 Added a defined instance id to JS subOrchestration
  articles/azure-functions/durable/durable-functions-sub-orchestrations.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#38831 update toc to be OS general
  articles/automation/TOC.yml
Labels: do-not-merge, review-team-triage

#38841 Update backup-azure-arm-restore-vms.md
  articles/backup/backup-azure-arm-restore-vms.md
Labels: Change sent to author, backup/svc, do-not-merge

#38845 Update backup-support-matrix-iaas.md
  articles/backup/backup-support-matrix-iaas.md
Labels: Change sent to author, backup/svc, do-not-merge

#38857 Corrected link to "use the cluster autoscaler..."
  articles/aks/cluster-autoscaler.md
Labels: Change sent to author, container-service/svc, do-not-merge

#38844 Added persistent storage text
  articles/app-service/containers/how-to-serve-content-from-azure-storage.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), do-not-merge

#29212 Update coredns-custom.md
  articles/aks/coredns-custom.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#38606 Code snippet refactoring
  articles/cognitive-services/Bing-Web-Search/web-search-sdk-quickstart.md
Labels: Change sent to author, assessing_(C&L), bing-web-search/subsvc, cognitive-services/svc, ready-to-merge

#38734 Update data-flow-expression-functions.md
  articles/data-factory/data-flow-expression-functions.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, do-not-merge

#38818 Update public emulator release notes
  articles/cosmos-db/local-emulator-release-notes.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, ready-to-merge

#38875 New languages and regions
  articles/cognitive-services/text-analytics/whats-new.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#38879 Update key-vault-overview-vnet-service-endpoints.md
  articles/key-vault/key-vault-overview-vnet-service-endpoints.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#38920 Update http links
  articles/kinect-dk/sensor-sdk-download.md
Labels: Change sent to author, do-not-merge, kinect-dk/prod

#38936 Fix broken links
  articles/azure-monitor/app/custom-operations-tracking.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#38736 Updates note on not expiring invite requests
  articles/active-directory/b2b/add-users-administrator.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#38839 Updating login.microsoftonline.com info
  articles/hdinsight/hdinsight-restrict-outbound-traffic.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, hdinsight/svc

#38970 Update http links
  articles/vmware-cloudsimple/azure-manage-vm.md
  articles/vmware-cloudsimple/create-cloudsimple-service.md
  articles/vmware-cloudsimple/disaster-recovery-zerto.md
Labels: Change sent to author, azure-vmware-cloudsimple/svc, do-not-merge

#38328 Correcting a typo in a sync rule name
  articles/active-directory/hybrid/how-to-connect-sync-feature-preferreddatalocation.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#38416 Update api-management-sample-flexible-throttling.md
  articles/api-management/api-management-sample-flexible-throttling.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), ready-to-merge

#38954 CRI 142287225 - disks must be of same size
  articles/virtual-machines/windows/os-disk-swap.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-windows/svc

#38915 Update rbac-and-directory-admin-roles.md
  articles/role-based-access-control/rbac-and-directory-admin-roles.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, role-based-access-control/svc

#38981 Add FAQ About lack of asp.net core support
  articles/azure-monitor/app/status-monitor-v2-overview.md
Labels: Change sent to author, application-insights/svc, do-not-merge

#39006 Update what-is-ip-address-168-63-129-16.md
  articles/virtual-network/what-is-ip-address-168-63-129-16.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#39042 Reverse order of columns in the benefits table
  articles/marketplace/comparing-appsource-azure-marketplace.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#39052 Fix typo in _Durable Entity Function_ example.
  articles/azure-functions/durable/durable-functions-overview.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#39034 Small fix (groups-self-service-management.md)
  articles/active-directory/users-groups-roles/groups-self-service-management.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge, users-groups-roles/subsvc

#38997 Updated latest 3.6.x version
  articles/azure-functions/tutorial-vs-code-serverless-python.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#38991 Cleaned up sentences
  articles/aks/cluster-autoscaler.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#38882 Add quotes and index to bash command
  articles/aks/configure-azure-cni.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#39130 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#39071 Update whats-new.md
  articles/cognitive-services/text-analytics/whats-new.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#39054 Readability fix on line 289
  articles/service-health/resource-health-alert-arm-template-guide.md
Labels: Change sent to author, do-not-merge, service-health/svc

#39074 Update language-support.md
  articles/cognitive-services/text-analytics/language-support.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#39094 Incorrect indentation in Markdown
  articles/storage/files/storage-sync-cloud-tiering.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#36081 Remove "AzureGateway-*GUID*.cloudapp.net"
  articles/vpn-gateway/vpn-gateway-troubleshoot-vpn-point-to-site-connection-problems.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, vpn-gateway/svc

#38829 Update groups-dynamic-tutorial.md instructions
  articles/active-directory/users-groups-roles/groups-dynamic-tutorial.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, users-groups-roles/subsvc

#38665 Update index.md
  articles/governance/management-groups/index.md
Labels: Change sent to author, assessing_(C&L), governance/svc, ready-to-merge

#39089 fix missing dot symbol
  articles/api-management/api-management-configuration-repository-git.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), ready-to-merge

#39148 Update saas-metered-billing.md
  articles/marketplace/partner-center-portal/saas-metered-billing.md
Labels: Change sent to author, marketplace/svc, ready-to-merge

#38913 Message class implements Dispose method
  articles/iot-edge/tutorial-csharp-module.md
Labels: Change sent to author, assessing_(C&L), iot-edge/svc, ready-to-merge

#39186 Fixed typo (widows)
  articles/storage/blobs/data-lake-storage-upgrade.md
Labels: Change sent to author, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#39168 Update language-support.md
  articles/cognitive-services/text-analytics/language-support.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#39166 Update ascentis-tutorial.md
  articles/active-directory/saas-apps/ascentis-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc
