Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-11, with the labels that each got.

#41965 Grammar fixes, and capitalisation fixes
  articles/logic-apps/quickstart-create-first-logic-app-workflow.md
Labels: Change sent to author, assessing_(C&L), logic-apps/svc, ready-to-merge, triaged

#41943 Fixed query error in Azure CLI sample script
  articles/azure-resource-manager/deployment-quota-exceeded.md
Labels: Change sent to author, assessing_(C&L), azure-resource-manager/svc, ready-to-merge, triaged

#41928 Update SignalR create via CLI doc
  articles/azure-signalr/scripts/signalr-cli-create-service.md
  articles/azure-signalr/scripts/signalr-cli-create-with-app-service-github-oauth.md
  articles/azure-signalr/scripts/signalr-cli-create-with-app-service.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, signalr/svc, triaged

#41883 Update virtual-machines-common-manage-availability.md
  includes/virtual-machines-common-manage-availability.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, triaged, virtual-machines/svc

#41877 updated hardware-specification.md
  articles/kinect-dk/hardware-specification.md
Labels: assessing_(C&L), ready-to-merge, review-team-triage, triaged

#41857 Fix the link to the ASC Github Repo
  articles/asc-for-iot/resources-frequently-asked-questions.md
Labels: Change sent to author, asc-for-iot/subsvc, asc-for-iot/svc, assessing_(C&L), ready-to-merge, triaged

#41831 (AzureCXPCommunity) Updating the broken link of HubConnectionContext MicrosoftDocs/azure-docs#41754
  articles/azure-signalr/signalr-resource-faq.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, signalr/svc, triaged

#41815 macau sar to macao sar
  articles/azure-maps/mobility-coverage.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge, triaged

#41789 Update how-to-provision-database-throughput.md
  articles/cosmos-db/how-to-provision-database-throughput.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, do-not-merge, triaged

#41788 Adding alter command + correcting the example
  articles/cosmos-db/how-to-provision-container-throughput.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, ready-to-merge, triaged

#41619 update edge job features
  articles/stream-analytics/feature-comparison.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, stream-analytics/svc, triaged

#41543 Explicitly state the maximum MFA Bypass Trusted IP range count
  articles/active-directory/authentication/howto-mfa-mfasettings.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), authentication/subsvc, ready-to-merge, triaged

#41487 Update sql-database-service-tier-hyperscale.md
  articles/sql-database/sql-database-service-tier-hyperscale.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, service/subsvc, sql-database/svc, triaged

#41436 Add reasons of change (behavior and PS script)
  articles/active-directory/authentication/howto-mfa-userstates.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), authentication/subsvc, ready-to-merge, triaged

#41353 Use template literal for popup HTML
  articles/azure-maps/tutorial-search-location.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge, triaged

#41031 Update load-balancer-custom-probe-overview.md
  articles/load-balancer/load-balancer-custom-probe-overview.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, load-balancer/svc, triaged

#40964 backslah missing
  articles/load-balancer/configure-load-balancer-outbound-cli.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, load-balancer/svc, ready-to-merge, triaged

#42042 Update resource-provider-operations.md
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#42030 Fix typo in resource group deploy template docs
  articles/azure-resource-manager/resource-group-template-deploy-portal.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge

#41573 Fix typo
  articles/machine-learning/service/how-to-enable-data-collection.md
Labels: Change sent to author, assessing_(C&L), core/subsvc, do-not-merge, machine-learning/svc

#42010 Update concept-ml-pipelines.md
  articles/machine-learning/service/concept-ml-pipelines.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#41920 Update container-instances-limits.md
  includes/container-instances-limits.md
Labels: Change sent to author, assessing_(C&L), container-instances/svc, do-not-merge

#41978 Document RoleName tag that was introduced in Application Insights Java SDK 2.5.0
  articles/azure-monitor/app/app-map.md
  articles/azure-monitor/app/correlation.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, assessing_(C&L), do-not-merge

#42009 Updated code snippet to use `IAsyncCollector`
  articles/azure-functions/functions-bindings-service-bus.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#41814 update for vm-repair commands
  articles/virtual-machines/troubleshooting/troubleshoot-recovery-disks-windows.md
Labels: assessing_(C&L), ready-to-merge, review-team-triage

#38193 Update how-to-connect-sso-quick-start.md to include Microsoft Edge Ch…
  articles/active-directory/hybrid/how-to-connect-sso-quick-start.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, hybrid/subsvc

#41887 Fixing reference doc link name
  articles/cosmos-db/sql-api-sdk-bulk-executor-java.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#40453 Fix the name of a command
  articles/virtual-machines/troubleshooting/troubleshoot-recovery-disks-linux.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-linux/svc

#42132 improve code formatting
  articles/azure-monitor/app/powershell.md
Labels: do-not-merge

#42130 Update location-partners.md
  articles/peering-service/location-partners.md
Labels: assessing_(C&L), do-not-merge

#42129 Update documentation to have v2 adminconsent endpoint
  articles/active-directory/develop/v2-permissions-and-consent.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#42151 Adding more details to validation handshake section
  articles/event-grid/security-authentication.md
Labels: Change sent to author, assessing_(C&L), event-grid/svc, ready-to-merge

#42100 Update quickstart-create-pnp-device.md
  articles/iot-pnp/quickstart-create-pnp-device.md
Labels: Change sent to author, assessing_(C&L), iot-pnp/svc, ready-to-merge

#41946 Update vpn-gateway-about-point-to-site-routing.md
  articles/vpn-gateway/vpn-gateway-about-point-to-site-routing.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, vpn-gateway/svc

#41910 application insights release annotation for azure devops
  articles/azure-monitor/app/annotations.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, assessing_(C&L), ready-to-merge

#41974 update snippet
  articles/azure-monitor/app/javascript.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, assessing_(C&L), ready-to-merge

#42166 Fix typo re: endpoint availability
  articles/azure-signalr/signalr-howto-scale-multi-instances.md
Labels: Change sent to author, ready-to-merge, signalr/svc

#42171 Update javascript.md
  articles/azure-monitor/app/javascript.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#42180 update the one line for adding more prerequisite
  articles/cognitive-services/Speech-Service/quickstarts/text-to-speech/async-synthesis-long-form-audio.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#42193 Update export-power-bi.md
  articles/azure-monitor/app/export-power-bi.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#42163 Minor documentation fixes for authentication-scenarios
  articles/active-directory/develop/authentication-scenarios.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#41908 adding text to disable SP for implicit flow
  articles/active-directory/manage-apps/disable-user-sign-in-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, assessing_(C&L), ready-to-merge

#42249 Update AAD auth instructions
  includes/cognitive-services-azure-active-directory-authentication.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge

#42318 Added Email type to general domain
  articles/cognitive-services/text-analytics/includes/entity-types/general-entities.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#42317 Removed Person and Organization types from PII
  articles/cognitive-services/text-analytics/includes/entity-types/personal-information-entities.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#42290 Fixing link to Cosmos DB create docs page
  articles/search/tutorial-multiple-data-sources.md
Labels: Change sent to author, cognitive-search/svc, ready-to-merge

#42161 Add a bit more information on how ADR works
  articles/sql-database/sql-database-accelerated-database-recovery.md
Labels: Change sent to author, assessing_(C&L), high-availability/subsvc, ready-to-merge, sql-database/svc

#42038 Update JavaScript quickstart instructions for ready to run code sample
  articles/active-directory/develop/quickstart-v2-javascript.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, do-not-merge

#41599 Update azure-marketplace-images.md
  articles/security/fundamentals/azure-marketplace-images.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security-fundamentals/subsvc, security/svc

#42341 Fix a small typo
  articles/postgresql/howto-migrate-using-dump-and-restore.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#42364 Revert "Update JavaScript quickstart instructions for ready to run code sample"
  articles/active-directory/develop/quickstart-v2-javascript.md
Labels: do-not-merge

#42359 Removing "Preview" tag from built-in role definition name
  articles/event-grid/security-authentication.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#42358 Keyboard layouts FAQ
  includes/bastion-faq-include.md
Labels: Change sent to author, bastion/svc, ready-to-merge

#42295 Update azure-subscription-service-limits.md
  articles/azure-subscription-service-limits.md
Labels: Change sent to author, assessing_(C&L), billing/svc, ready-to-merge

#42321 Add character restriction in LUIS naming
  articles/cognitive-services/LUIS/luis-boundaries.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, language-understanding/subsvc

#41295 |50181|OTP related failure during sign-in
  articles/active-directory/reports-monitoring/reference-sign-ins-error-codes.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, report-monitor/subsvc

#42356 Fix missing word
  articles/storage/blobs/storage-blob-storage-tiers.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#41173 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#40959 Correction - SCP is optional and removing it.
  articles/active-directory/hybrid/plan-migrate-adfs-password-hash-sync.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#41784 Update how-to-connect-staged-rollout.md
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#41675 Description is only synced for Groups
  articles/active-directory/hybrid/reference-connect-sync-attributes-synchronized.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#42059 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#42389 Fix whitespace in event hubs getting started
  articles/event-hubs/event-hubs-dotnet-standard-getstarted-send.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#42395 Fixed typo
  articles/aks/azure-disks-dynamic-pv.md
Labels: Change sent to author, container-service/svc, do-not-merge

#42172 Update api-filtering-sampling.md
  articles/azure-monitor/app/api-filtering-sampling.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, assessing_(C&L), ready-to-merge

#41735 Fix typos
  articles/app-service/overview-managed-identity.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), do-not-merge

#41437 Add reasons of change (behavior and PS script)
  articles/active-directory/authentication/howto-mfa-getstarted.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), authentication/subsvc, do-not-merge

#42145 remove the confusing four text
  articles/azure-monitor/platform/gateway.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), do-not-merge, logs/subsvc

#41411 Update groups-dynamic-membership.md
  articles/active-directory/users-groups-roles/groups-dynamic-membership.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, users-groups-roles/subsvc

#42436 Update search-howto-complex-data-types.md
  articles/search/search-howto-complex-data-types.md
Labels: Change sent to author, cognitive-search/svc, do-not-merge

#41730 Added references to Azure functions samples
  articles/active-directory/develop/scenario-protected-web-api-app-configuration.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, do-not-merge

#41034 Fix for #41032
  articles/sql-database/sql-database-spark-connector.md
Labels: Change sent to author, assessing_(C&L), development/subsvc, do-not-merge, sql-database/svc

#42458 Updated to include 1.4.32.0 release
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#42384 Output event hub partitionKey column
  articles/stream-analytics/stream-analytics-parallelization.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, stream-analytics/svc

#42376 Update misworded table headers in MSAL.NET Client app guide
  articles/active-directory/develop/msal-net-initializing-client-applications.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#42469 Update entitlement-management-overview.md
  articles/active-directory/governance/entitlement-management-overview.md
Labels: Change sent to author, active-directory/svc, compliance/subsvc, do-not-merge

#42471 typo
  articles/cognitive-services/Speech-Service/includes/quickstarts/quickstart-list.md
Labels: do-not-merge, review-team-triage

#42480 Fix NOTE tag
  articles/aks/kubernetes-walkthrough.md
Labels: Change sent to author, container-service/svc, do-not-merge

#42354 The sentence explains the RU distribution is still misleading
  articles/cosmos-db/set-throughput.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, ready-to-merge

#42504 Change linkerd reference to Consul
  articles/aks/servicemesh-consul-about.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#42498 Fix 404 for samples
  articles/storage/blobs/storage-quickstart-blobs-nodejs.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#41638 Old ER references
  articles/site-recovery/hyper-v-azure-common-questions.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, site-recovery/svc

#42483 add an important notification
  articles/cognitive-services/Speech-Service/long-audio-api.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, speech-service/subsvc

#42541 fix typo
  articles/app-service/networking-features.md
Labels: Change sent to author, app-service-web/svc, do-not-merge

#42538 Fix URL
  articles/sentinel/connect-cloud-app-security.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, do-not-merge

#42463 Updating Link Text + Destination
  articles/storage/blobs/TOC.yml
  articles/storage/queues/TOC.yml
Labels: assessing_(C&L), do-not-merge, review-team-triage

#42254 Fixing the table styling
  articles/active-directory/develop/v2-permissions-and-consent.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#41734 Added some words around functions.
  articles/active-directory/develop/v2-app-types.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#41733 Added references to Azure functions examples
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#41305 Changed header to Authorization from Authenticate
  articles/active-directory/develop/authentication-scenarios.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#42158 Update troubleshooting.md
  articles/cloud-shell/troubleshooting.md
Labels: Change sent to author, assessing_(C&L), azure/svc, ready-to-merge

#40281 Update configure-single-sign-on-non-gallery-applications.md
  articles/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, assessing_(C&L), ready-to-merge

#41731 Added reference to on behalf of for NodeJS
  articles/active-directory/develop/scenario-web-api-call-api-app-configuration.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#42601 Fix typo
  articles/active-directory/develop/tutorial-v2-ios.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#42623 Update Custom Script Extension "more information" lead in
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-deploy-app.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc

#42624 Correct minor typo in note
  articles/availability-zones/az-overview.md
Labels: Change sent to author, azure/svc, do-not-merge

#42626 Update autoscale-custom-metric.md
  articles/azure-monitor/platform/autoscale-custom-metric.md
Labels: Azure-Monitor/svc, Change sent to author, autoscale/subsvc, do-not-merge

#42639 Update app-service-web-tutorial-auth-aad.md
  articles/app-service/app-service-web-tutorial-auth-aad.md
Labels: Change sent to author, app-service-web/svc, do-not-merge

#41335 Country/region fixes
  articles/azure-maps/traffic-coverage.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge

#42155 Link updates: Matrix Routing and get key
  articles/azure-maps/tutorial-ev-routing.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge

#39598 APIM- Transformation Policies - deleting header with set-header example
  articles/api-management/api-management-transformation-policies.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), do-not-merge

#37086 Updated line 21 with "recognition"
  articles/security/fundamentals/ad-passwordless.md
Labels: assessing_(C&L), do-not-merge

#32141 set a hard limit on cluster name.
  articles/aks/troubleshooting.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#42650 added default regex and message
  articles/managed-applications/microsoft-common-passwordbox.md
Labels: Change sent to author, managed-applications/svc, ready-to-merge

#42592 Fix broken SIF definition site link.
  articles/container-registry/container-registry-image-formats.md
Labels: Change sent to author, assessing_(C&L), container-registry/svc, ready-to-merge

#42648 Update pricing.md
  articles/azure-monitor/app/pricing.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, do-not-merge

#42621 Threshold example reverse inequality fix
  articles/azure-monitor/platform/autoscale-best-practices.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), autoscale/subsvc, do-not-merge

#41540 Add Windows domain qualified name to NameID format
  articles/active-directory/develop/active-directory-saml-claims-customization.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#42674 Update application insights IP addresses
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#42722 Fix typo with extra single quote in syntax
  articles/storage/common/storage-use-azcopy-blobs.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#42675 Update worker-service.md
  articles/azure-monitor/app/worker-service.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, do-not-merge

#42177 Update storage-lifecycle-management-concepts.md
  articles/storage/blobs/storage-lifecycle-management-concepts.md
Labels: Change sent to author, assessing_(C&L), common/subsvc, do-not-merge, storage/svc

#42728 Fix typo
  articles/hdinsight/hdinsight-high-availability-components.md
Labels: Change sent to author, assessing_(C&L), hdinsight/svc, ready-to-merge

#42762 Improve formatting of numbered steps in final rendering of document
  articles/api-management/api-management-howto-provision-self-hosted-gateway.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), ready-to-merge

#42768 Update transform-data.md
  articles/data-factory/transform-data.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, do-not-merge

#42763 Changing scaling up limit from 20 to 30
  articles/app-service/manage-scale-up.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#42765 Update ASE management addresses
  articles/app-service/environment/management-addresses.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#42789 Update data-box-disk-deploy-picked-up.md
  articles/databox/data-box-disk-deploy-picked-up.md
Labels: Change sent to author, databox/svc, disk/subsvc, ready-to-merge

#41146 Fix line break in Powershell code
  articles/vpn-gateway/vpn-gateway-bgp-resource-manager-ps.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, vpn-gateway/svc

#42759 sentence error change
  articles/azure-monitor/insights/vminsights-enable-at-scale-powershell.md
Labels: Azure-Monitor/svc, Change sent to author, assessing_(C&L), do-not-merge

#42774 corrected spelling
  articles/machine-learning/service/how-to-deploy-azure-kubernetes-service.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#42775 Removed duplicate content
  articles/machine-learning/service/how-to-deploy-and-where.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#42778 Fix wrong package manager
  articles/storage/files/storage-how-to-use-files-linux.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#42807 Update links
  articles/migrate/tutorial-prepare-physical.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#42698 Change .UseFeatureFlags for 3.x code
  articles/azure-app-configuration/quickstart-feature-flag-aspnet-core.md
Labels: Change sent to author, assessing_(C&L), azure-app-configuration/svc, ready-to-merge

#42854 Update virtual-network-public-ip-address.md
  articles/virtual-network/virtual-network-public-ip-address.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#42864 Fix typos in Cognitive Speech SDK intent recognition quickstarts
  articles/cognitive-services/Speech-Service/includes/quickstarts/intent-recognition/cpp/windows.md
  articles/cognitive-services/Speech-Service/includes/quickstarts/intent-recognition/csharp/dotnet.md
  articles/cognitive-services/Speech-Service/includes/quickstarts/intent-recognition/header.md
  articles/cognitive-services/Speech-Service/includes/quickstarts/intent-recognition/java/jre.md
  articles/cognitive-services/Speech-Service/includes/quickstarts/intent-recognition/python/python.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, speech-service/subsvc

#42784 Update hdinsight-component-versioning.md
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, assessing_(C&L), hdinsight/svc, ready-to-merge

#42877 Update control-flow-webhook-activity.md
  articles/data-factory/control-flow-webhook-activity.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#42915 Spelling corrections
  articles/data-factory/source-control.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#40783 fixed typo
  articles/sql-data-warehouse/sql-data-warehouse-service-capacity-limits.md
Labels: Change sent to author, assessing_(C&L), design/subsvc, do-not-merge, sql-data-warehouse/svc

#42923 Updated section title 'Shared access signatures'
  articles/event-hubs/authorize-access-event-hubs.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#40113 Update terminology to remove the term "master"
  articles/aks/concepts-clusters-workloads.md
  articles/aks/media/concepts-clusters-workloads/cluster-master-and-nodes.png
  articles/aks/media/concepts-clusters-workloads/control-plane-and-nodes.png
Labels: assessing_(C&L), ready-to-merge

#42033 Update expressroute-howto-coexist-resource-manager.md
  articles/expressroute/expressroute-howto-coexist-resource-manager.md
Labels: Change sent to author, assessing_(C&L), expressroute/svc, ready-to-merge

#42644 Update app-service-undelete.md
  articles/app-service/app-service-undelete.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#42957 Update for JavaScript v2/v3 SDK
  articles/cosmos-db/tutorial-global-distribution-sql-api.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#43024 cdn standard rules: fix broken table
  articles/cdn/cdn-standard-rules-engine-match-conditions.md
Labels: Change sent to author, azure-cdn/svc, do-not-merge

#42725 Include Note about where to use Validation TPs
  articles/active-directory-b2c/validation-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#42724 Include App Secret on Get Token and Refresh Token
  articles/active-directory-b2c/active-directory-b2c-reference-oauth-code.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#43040 Updated LogicalDisk(\*)\\%Free Space
  articles/virtual-desktop/deploy-diagnostics.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#43006 Renaming Flow to Power Automate
  articles/event-grid/overview.md
Labels: Change sent to author, assessing_(C&L), event-grid/svc, ready-to-merge

#42879 Update concept-password-ban-bad.md
  articles/active-directory/authentication/concept-password-ban-bad.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), authentication/subsvc, ready-to-merge

#41427 Added clarification for dual state cleanup
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), devices/subsvc, ready-to-merge

#43064 Remove reference to linux in filenames for macOS
  articles/aks/includes/servicemesh/linkerd/install-client-binary-macos.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#43079 Fix typo
  articles/service-fabric/service-fabric-cluster-resource-manager-management-integration.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#43074 Update backup-support-matrix-mars-agent.md
  articles/backup/backup-support-matrix-mars-agent.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, review-team-triage

#43124 Update use-scim-to-provision-users-and-groups.md
  articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge

#42960 Update luis-container-howto.md
  articles/cognitive-services/LUIS/luis-container-howto.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, language-understanding/subsvc, ready-to-merge

#43083 Update migrate-azure-media-encoder.md
  articles/media-services/previous/migrate-azure-media-encoder.md
Labels: Change sent to author, do-not-merge, media-services/svc

#43129 Little typo
  articles/active-directory/devices/hybrid-azuread-join-federated-domains.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge
