Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-12, with the labels that each got.

#40594 Update idc-tutorial.md
  articles/active-directory/saas-apps/idc-tutorial.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, saas-app-tutorial/subsvc

#40606 Fix Powershell Cmdlet names.
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machine-scale-sets/svc

#40346 Update iot-hub-c-c-module-twin-getstarted.md
  articles/iot-hub/iot-hub-c-c-module-twin-getstarted.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, iot-hub/svc

#41176 corrected SAP note number
  articles/virtual-machines/workloads/sap/hana-vm-operations-storage.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-linux/svc

#43422 Update security-code-analysis-onboard.md
  articles/security/develop/security-code-analysis-onboard.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, security/svc

#41586 Update wrong link
  articles/cognitive-services/LUIS/index.yml
Labels: assessing_(C&L), do-not-merge, review-team-triage

#41509 improve developer intro based on UX research
  articles/cognitive-services/personalizer/what-is-personalizer.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, personalizer/subsvc

#43597 Update container-instances-container-groups.md
  articles/container-instances/container-instances-container-groups.md
Labels: assessing_(C&L), do-not-merge, review-team-triage

#43693 Fix link to video
  articles/sql-database/sql-database-import.md
Labels: Change sent to author, do-not-merge, migration/subsvc, sql-database/svc

#43609 Update hdinsight-scaling-best-practices.md
  articles/hdinsight/hdinsight-scaling-best-practices.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, hdinsight/svc

#43267 Update hdinsight-faq.md
  articles/hdinsight/hdinsight-faq.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, hdinsight/svc

#43410 Update apache-hive-migrate-workloads.md
  articles/hdinsight/interactive-query/apache-hive-migrate-workloads.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, hdinsight/svc

#43748 autopilot md: Fix typo
  articles/cosmos-db/provision-throughput-autopilot.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#43703 Update disable-guest-os-firewall-windows.md
  articles/virtual-machines/troubleshooting/disable-guest-os-firewall-windows.md
Labels: do-not-merge, review-team-triage

#43711 Fix a grammar issue
  articles/data-factory/data-flow-source.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#43738 change of support contacts
  articles/active-directory/saas-apps/hrworks-single-sign-on-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#43739 Update sql-database-managed-instance.md
  articles/sql-database/sql-database-managed-instance.md
Labels: Change sent to author, do-not-merge, managed-instance/subsvc, sql-database/svc

#43789 Fix URL
  articles/site-recovery/site-recovery-sharepoint.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#43796 Fixed link formatting in how-to-connect-peer-virtual-network.md
  articles/lab-services/classroom-labs/how-to-connect-peer-virtual-network.md
Labels: Change sent to author, do-not-merge, lab-services/svc

#43805 Fix #43797 to update stale link to Azure SDK for .NET's Batch FileConvention
  articles/batch/batch-task-output.md
Labels: Change sent to author, batch/svc, do-not-merge

#42302 Update sql-database-managed-instance-point-in-time-restore.md
  articles/sql-database/sql-database-managed-instance-point-in-time-restore.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, managed-instance/subsvc, sql-database/svc

#41269 Corrected use of Always On
  articles/sql-database/sql-database-managed-instance-transact-sql-information.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, managed-instance/subsvc, sql-database/svc

#43759 Typo
  articles/azure-app-configuration/quickstart-dotnet-app.md
Labels: Change sent to author, azure-app-configuration/svc, do-not-merge

#43658 Fix typo
  articles/sql-database/sql-database-connectivity-architecture.md
Labels: Change sent to author, assessing_(C&L), development/subsvc, do-not-merge, sql-database/svc

#43870 Fix broken URL
  articles/machine-learning/service/concept-automated-ml.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#39576 Update search-howto-index-cosmosdb.md
  articles/search/search-howto-index-cosmosdb.md
Labels: Change sent to author, assessing_(C&L), cognitive-search/svc, do-not-merge, search/svc

#41826 Added note
  articles/key-vault/key-vault-group-permissions-for-apps.md
Labels: assessing_(C&L), ready-to-merge, review-team-triage

#42691 Fix incorrect parameter name
  articles/key-vault/key-vault-overview-storage-keys-powershell.md
Labels: Change sent to author, assessing_(C&L), key-vault/svc, ready-to-merge

#42954 Update coarse-reloc.md to remove white list and replace with allow l…
  articles/spatial-anchors/concepts/coarse-reloc.md
Labels: Change sent to author, assessing_(C&L), azure-spatial-anchors/svc, do-not-merge

#43903 Updated move-support-resources.md
  articles/azure-resource-manager/move-support-resources.md
Labels: assessing_(C&L), do-not-merge, review-team-triage

#43913 Updated link to quick start template
  articles/bastion/bastion-nsg.md
Labels: Change sent to author, bastion/svc, do-not-merge

#43914 Added FAQ on UDR
  includes/bastion-faq-include.md
Labels: Change sent to author, bastion/svc, do-not-merge

#43922 Update for contribution
  articles/azure-government/compliance/secure-azure-computing-architecture.md
Labels: Change sent to author, azure-government/svc, do-not-merge

#42842 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#42580 Adding an example for importing PS module from PSGallery directly
  articles/automation/shared-resources/modules.md
Labels: Change sent to author, assessing_(C&L), automation/svc, ready-to-merge

#41924 Added docs reference link to `HighWaterChangeDeductionPolicy`
  articles/search/search-howto-index-cosmosdb.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, search/svc

#43931 Replace tool with site
  articles/azure-maps/how-to-use-feedback-tool.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#43932 Adding upper cases
  articles/azure-maps/weather-coverage.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#43942 fix typo
  articles/cosmos-db/tutorial-develop-table-dotnet.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge

#43977 Added the 2 DHE for backward compatibility
  articles/frontdoor/front-door-faq.md
Labels: Change sent to author, assessing_(C&L), frontdoor/svc, ready-to-merge

#43935 Update active-directory-certificate-based-authentication-get-started.md
  articles/active-directory/authentication/active-directory-certificate-based-authentication-get-started.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), authentication/subsvc, ready-to-merge

#43928 Cover Java agent logging threshold configuration
  articles/azure-monitor/app/java-trace-logs.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, assessing_(C&L), ready-to-merge

#43990 Removed redundant piece of text
  includes/virtual-wan-faq-include.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc

#41462 Update front-door-http-headers-protocol.md
  articles/frontdoor/front-door-http-headers-protocol.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, frontdoor/svc

#43979 Fixed improper use of bullets
  articles/marketplace/marketplace-commercial-transaction-capabilities-and-considerations.md
Labels: Change sent to author, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#43997 fix proxy example to work in real environments
  articles/azure-arc/servers/quickstart-onboard-powershell.md
Labels: Change sent to author, assessing_(C&L), azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#44004 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#43875 removed unnecessary semi-colon in C# example
  articles/cosmos-db/how-to-time-to-live.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, ready-to-merge

#44006 Update tutorial-single-forest.md
  articles/active-directory/cloud-provisioning/tutorial-single-forest.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#44007 Update tutorial-existing-forest.md
  articles/active-directory/cloud-provisioning/tutorial-existing-forest.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#44008 Update tutorial-pilot-aadc-aadccp.md
  articles/active-directory/cloud-provisioning/tutorial-pilot-aadc-aadccp.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#44011 Update how-to-custom-speech-test-data.md
  articles/cognitive-services/Speech-Service/how-to-custom-speech-test-data.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, speech-service/subsvc

#40708 new sql data warehouse form
  articles/sql-data-warehouse/create-data-warehouse-portal.md
Labels: Change sent to author, assessing_(C&L), development/subsvc, do-not-merge, sql-data-warehouse/svc

#42975 Fix a link
  articles/machine-learning/studio/deploy-a-machine-learning-web-service.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/svc, studio/subsvc

#44070 Update key-vault-overview.md
  articles/key-vault/key-vault-overview.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#42905 Update migrate-from-hub-spoke-topology.md
  articles/virtual-wan/migrate-from-hub-spoke-topology.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-wan/svc

#44077 Adding links for File System SDKs
  articles/storage/blobs/data-lake-storage-upgrade.md
Labels: Change sent to author, data-lake-storage-gen2/subsvc, do-not-merge, storage/svc

#43310 Remove duplicate line
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, role-based-access-control/svc

#44067 Added FAQ for File trasnfer
  includes/bastion-faq-include.md
Labels: Change sent to author, assessing_(C&L), bastion/svc, ready-to-merge

#44089 Update quickstart-onboard-powershell.md
  articles/azure-arc/servers/quickstart-onboard-powershell.md
Labels: Change sent to author, azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#44096 slight change by adding 'about' to README
  README.md
Labels: do-not-merge, review-team-triage

#44094 Update support.md
  articles/cognitive-services/Speech-Service/support.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#43907 Adding filters and selectors
  articles/search/search-more-like-this.md
Labels: Change sent to author, assessing_(C&L), cognitive-search/svc, do-not-merge

#40758 Added section on global vnet peering
  articles/aks/operator-best-practices-multi-region.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#44114 Update URL
  articles/managed-applications/update-managed-resources.md
Labels: Change sent to author, assessing_(C&L), managed-applications/svc, ready-to-merge

#42930 Bad code example - fix incorrect unicode dash
  articles/active-directory/hybrid/how-to-connect-pta-quick-start.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#42657 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#42398 Added missing links for Qubole ADLS Gen2 support
  articles/storage/blobs/data-lake-storage-upgrade.md
Labels: Change sent to author, assessing_(C&L), data-lake-storage-gen2/subsvc, ready-to-merge, review-team-triage, storage/svc

#43604 Update vpn-gateway-about-vpngateways.md
  articles/vpn-gateway/vpn-gateway-about-vpngateways.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, vpn-gateway/svc

#43972 Private Link Service Small Fixes
  articles/private-link/create-private-link-service-powershell.md
  articles/private-link/private-link-service-overview.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, private-link/svc

#44170 Update apache-hbase-migrate-new-version.md
  articles/hdinsight/hbase/apache-hbase-migrate-new-version.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#44167 Update apache-hbase-replication.md
  articles/hdinsight/hbase/apache-hbase-replication.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#44169 Update apache-hbase-replication.md
  articles/hdinsight/hbase/apache-hbase-replication.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#38775 Update ssh.md
  articles/aks/ssh.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#40875 azure-files-volume.md: Don't use legacy subshell notation
  articles/aks/azure-files-volume.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#40996 Update ingress-basic.md
  articles/aks/ingress-basic.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#41026 Get rid of warning on run ssh pod command
  articles/aks/ssh.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#41064 Update StorageClass - Az disk is deleted when PV is deleted
  articles/aks/concepts-storage.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#41947 docs: fix missing link for az-aks-update
  articles/aks/kubernetes-service-principal.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#42885 Update concepts-network.md
  articles/aks/concepts-network.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#43443 update kubectl run command
  articles/aks/virtual-nodes-cli.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#43486 Update use-pod-security-policies.md
  articles/aks/use-pod-security-policies.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#43617 Add --name parameter
  articles/aks/kubernetes-service-principal.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, ready-to-merge

#44166 Update documentation for Azure Kinect Body Tracking SDK 0.9.5
  articles/kinect-dk/body-sdk-download.md
Labels: Change sent to author, kinect-dk/prod, ready-to-merge

#44159 Update support.md
  articles/cognitive-services/Speech-Service/support.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, speech-service/subsvc

#44192 Update what-is-cloud-provisioning.md
  articles/active-directory/cloud-provisioning/what-is-cloud-provisioning.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#44203 Fix typo in command
  articles/storage/common/storage-use-azcopy-configure.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#43969 Fix errors and styling
  articles/cognitive-services/personalizer/csharp-quickstart-commandline-feedback-loop.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, personalizer/subsvc

#44171 update inference config schema; add reference to environment.
  includes/machine-learning-service-inference-config.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/svc

#44177 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#43487 Add link to blog post about idempotence
  articles/service-bus-messaging/duplicate-detection.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, service-bus-messaging/svc

#43391 Update groups-lifecycle.md
  articles/active-directory/users-groups-roles/groups-lifecycle.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, users-groups-roles/subsvc

#44224 AAD Connect: Update steps numbering
  articles/active-directory/hybrid/how-to-connect-sync-feature-preferreddatalocation.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, hybrid/subsvc

#44228 Update what-is-cloud-provisioning.md
  articles/active-directory/cloud-provisioning/what-is-cloud-provisioning.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#43261 Update vpn-gateway-connect-different-deployment-models-portal.md
  articles/vpn-gateway/vpn-gateway-connect-different-deployment-models-portal.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, vpn-gateway/svc

#43896 Cosmos DB - Add limits for TransactionalBatch API
  articles/cosmos-db/concepts-limits.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, do-not-merge

#44234 Removes repeated text
  articles/azure-monitor/insights/container-insights-agent-config.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#44140 Clarify an issue which confused a preview customer
  articles/azure-arc/servers/quickstart-onboard-powershell.md
Labels: Change sent to author, assessing_(C&L), azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#44240 Edit: a word
  articles/cloud-shell/limitations.md
Labels: Change sent to author, assessing_(C&L), azure/svc, do-not-merge

#44307 changed the borken link Velero on Azure with the right link
  articles/aks/operator-best-practices-multi-region.md
Labels: Change sent to author, container-service/svc, do-not-merge

#44241 added Secure Socket Layer SSL
  articles/cognitive-services/QnAMaker/How-To/business-continuity-plan.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, qna-maker/subsvc

#44318 Update feature.md updated language versions
  articles/cloud-shell/features.md
Labels: Change sent to author, azure/svc, ready-to-merge

#43719 Updated a missing option
  includes/active-directory-entitlement-management-request-policy.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge

#44107 Include SharePoint Online references in scenario
  articles/active-directory/conditional-access/app-protection-based-conditional-access.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), conditional-access/subsvc, ready-to-merge

#43787 Updating bits around application gateway's connection draining.
  articles/application-gateway/application-gateway-faq.md
  articles/application-gateway/configuration-overview.md
  articles/application-gateway/overview.md
Labels: Change sent to author, application-gateway/svc, assessing_(C&L), ready-to-merge

#44029 az group delete command no need `-l <location>` parameter
  articles/key-vault/quick-create-java.md
Labels: Change sent to author, assessing_(C&L), key-vault/svc, ready-to-merge

#44298 Update ingest-data-no-code.md
  articles/data-explorer/ingest-data-no-code.md
Labels: Change sent to author, assessing_(C&L), data-explorer/svc, ready-to-merge

#44326 Add Win10 IoT Enterprise
  articles/virtual-desktop/connect-windows-7-and-10.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#44337 added &
  articles/vpn-gateway/vpn-gateway-howto-openvpn-clients.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, vpn-gateway/svc

#44341 Update apache-hbase-replication.md
  articles/hdinsight/hbase/apache-hbase-replication.md
Labels: Change sent to author, assessing_(C&L), hdinsight/svc, ready-to-merge

#44346 Fix "Speech Service(s)" terminology
  articles/cognitive-services/Speech-Service/overview.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#44176 fix for partition key in sample code
  articles/cosmos-db/sql-api-nodejs-application.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#43784 Updated the article as the UI in AAD portal has changed
  articles/api-management/api-management-howto-protect-backend-with-aad.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), do-not-merge

#44415 Correct minor typo
  articles/storage/files/storage-sync-files-planning.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#44312 Update how-to-connect-install-prerequisites.md
  articles/active-directory/hybrid/how-to-connect-install-prerequisites.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#44229 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#44429 Update virtual-machines-common-sizes-general.md
  includes/virtual-machines-common-sizes-general.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#44456 The script to enable custom automation account fails with error " Microsoft.IdentityModel.Clients.ActiveDirectory.dll not found"
  articles/site-recovery/azure-to-azure-autoupdate.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#44419 Correct C# code blocks
  articles/active-directory-b2c/b2clogin.md
  articles/active-directory/develop/msal-net-client-assertions.md
  articles/active-directory/develop/msal-net-migration-ios-broker.md
  articles/active-directory/develop/msal-net-migration.md
  articles/active-directory/develop/msal-net-use-brokers-with-xamarin-apps.md
  articles/active-directory/develop/msal-net-xamarin-android-considerations.md
  articles/active-directory/develop/msal-net-xamarin-ios-considerations.md
  articles/active-directory/develop/scenario-daemon-acquire-token.md
  articles/active-directory/develop/scenario-daemon-app-configuration.md
  articles/active-directory/develop/scenario-desktop-acquire-token.md
  articles/active-directory/develop/scenario-desktop-app-configuration.md
  articles/active-directory/develop/scenario-desktop-call-api.md
  articles/active-directory/develop/scenario-desktop-production.md
  articles/active-directory/develop/scenario-mobile-acquire-token.md
  articles/active-directory/develop/scenario-mobile-app-configuration.md
  articles/active-directory/develop/scenario-mobile-call-api.md
  articles/active-directory/develop/scenario-protected-web-api-app-configuration.md
  articles/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles.md
  articles/active-directory/develop/scenario-web-api-call-api-acquire-token.md
  articles/active-directory/develop/scenario-web-api-call-api-app-configuration.md
  articles/active-directory/develop/scenario-web-api-call-api-call-api.md
  articles/active-directory/develop/scenario-web-app-call-api-acquire-token.md
  articles/active-directory/develop/scenario-web-app-call-api-app-configuration.md
  articles/active-directory/develop/scenario-web-app-call-api-call-api.md
  articles/active-directory/develop/scenario-web-app-call-api-sign-in.md
  articles/active-directory/develop/scenario-web-app-sign-user-app-configuration.md
  articles/active-directory/develop/scenario-web-app-sign-user-sign-in.md
  articles/cognitive-services/LUIS/luis-concept-data-alteration.md
  articles/cognitive-services/Speech-Service/includes/quickstarts/translate-sts/csharp/dotnet.md
  articles/iot-hub/iot-hub-security-x509-get-started.md
  articles/logic-apps/logic-apps-scenario-function-sb-trigger.md
  articles/logic-apps/tutorial-process-email-attachments-workflow.md
  articles/service-bus-messaging/service-bus-to-event-grid-integration-example.md
  articles/service-fabric/service-fabric-concepts-partitioning.md
  includes/active-directory-develop-scenarios-call-apis-dotnet.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge, speech-service/subsvc

#44492 Update relay-hybrid-connections-protocol.md
  articles/service-bus-relay/relay-hybrid-connections-protocol.md
Labels: Change sent to author, do-not-merge, service-bus-relay/svc

#44436 Update expressroute-monitoring-metrics-alerts.md
  articles/expressroute/expressroute-monitoring-metrics-alerts.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#43948 Add winauth doc for selfhosted IR proxy
  articles/data-factory/self-hosted-integration-runtime-proxy-ssis.md
Labels: Change sent to author, assessing_(C&L), data-factory/svc, ready-to-merge

#44392 Added Coalesce function and example
  articles/active-directory/manage-apps/functions-for-customizing-application-data.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, assessing_(C&L), ready-to-merge

#44533 Update vs-key-vault-add-connected-service.md
  articles/key-vault/vs-key-vault-add-connected-service.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#44537 Remove outdated info
  articles/azure-monitor/app/java-troubleshoot.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#44569 Update what-is-azure-databricks.md
  articles/azure-databricks/what-is-azure-databricks.md
Labels: Change sent to author, azure-databricks/svc, ready-to-merge

#44501 Adding Kazakhstan
  articles/azure-maps/routing-coverage.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge

#44523 Update high-availability-guide-suse-pacemaker.md
  articles/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-machines-windows/svc

#43616 Added note at top of page
  articles/storage/blobs/storage-quickstart-blobs-dotnet.md
  articles/storage/common/storage-samples-dotnet.md
Labels: Change sent to author, assessing_(C&L), common/subsvc, do-not-merge, storage/svc

#43449 Replaced synchronous method Run() with its async counterpart RunAsync() for v.3.*
  articles/app-service/webjobs-sdk-how-to.md
Labels: Change sent to author, app-service-web/svc, assessing_(C&L), ready-to-merge

#41337 Update disk-encryption-linux.md
  articles/virtual-machines/linux/disk-encryption-linux.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, security/svc

#44522 Update private-clusters.md
  articles/aks/private-clusters.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#44304 Fix PowerShell to create new directory settings
  articles/active-directory/users-groups-roles/groups-settings-cmdlets.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), do-not-merge, users-groups-roles/subsvc

#42401 Update virtual-networks-name-resolution-for-vms-and-role-instances.md
  articles/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-network/svc

#44610 Update signalr-concept-messages-and-connections.md
  articles/azure-signalr/signalr-concept-messages-and-connections.md
Labels: Change sent to author, ready-to-merge, signalr/svc

#43953 Update Skip and Take SQL translation
  articles/cosmos-db/sql-query-linq-to-sql.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, do-not-merge

#44598 Fixed formatting bug
  articles/storage/common/storage-ref-azcopy-sync.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#44643 Added exclude-path option for sync operation
  articles/storage/common/storage-ref-azcopy-sync.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#44486 Update data-lake-storage-use-power-bi.md
  articles/storage/blobs/data-lake-storage-use-power-bi.md
Labels: Change sent to author, assessing_(C&L), data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#44650 Updates to iOS broker md file
  articles/active-directory/develop/msal-net-use-brokers-with-xamarin-apps.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#44651 add msauthv3, required for iOS 13
  articles/active-directory/develop/msal-net-migration-ios-broker.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#44342 Update how-to-label-images.md
  articles/machine-learning/service/how-to-label-images.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, machine-learning/svc

#43025 Improving ApplicationInsights section.
  articles/azure-functions/functions-host-json.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#44655 Correct formatting item
  articles/migrate/tutorial-prepare-vmware.md
Labels: Change sent to author, assessing_(C&L), azure-migrate/svc, do-not-merge

#40656 Minor language changes
  articles/virtual-desktop/store-fslogix-profile.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, virtual-desktop/svc

#44335 [VM ext] Sovereign cloud support
  articles/azure-monitor/app/azure-vm-vmss-apps.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, assessing_(C&L), ready-to-merge

#44649 Update iOS info
  articles/active-directory/develop/msal-net-xamarin-ios-considerations.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, ready-to-merge

#44690 Update how-to-deploy-linux-cs.md
  articles/asc-for-iot/how-to-deploy-linux-cs.md
Labels: Change sent to author, asc-for-iot/subsvc, asc-for-iot/svc, ready-to-merge

#44701 Add UAE North IP
  articles/hdinsight/hdinsight-management-ip-addresses.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#44683 Fix heading
  articles/virtual-machines/troubleshooting/troubleshoot-rdp-internal-error.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc
