Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-02, with the labels that each got.

#23852 typo: articles/storage/queues/storage-c-plus-plus-how-to-use-queues.md
  articles/storage/queues/storage-c-plus-plus-how-to-use-queues.md
Labels: Change sent to author, do-not-merge, storage/svc

#23859 typo: articles/storage/common/storage-migration-to-premium-storage.md
  articles/storage/common/storage-migration-to-premium-storage.md
Labels: Change sent to author, do-not-merge, storage/svc

#23878 typo: Recoery -> Recovery
  articles/storsimple/storsimple-disaster-recovery-using-azure-site-recovery.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#23713 Fix indent
  articles/data-factory/connector-mongodb.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23717 Fix indent
  articles/data-factory/connector-netezza.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23626 Fix indent
  articles/data-factory/connector-greenplum.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23623 Fix indent
  articles/data-factory/connector-google-adwords.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23614 Fix indent
  articles/data-factory/connector-drill.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23603 Fix indent
  articles/data-factory/connector-concur.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23588 Fix indent
  articles/data-factory/connector-azure-database-for-postgresql.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23587 Fix indent
  articles/data-factory/connector-azure-database-for-mariadb.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23586 Fix indent
  articles/data-factory/connector-azure-database-for-mysql.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23956 typo: Absense -> Absence
  articles/stream-analytics/stream-analytics-get-started-with-azure-stream-analytics-to-process-data-from-iot-devices.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#23955 typo: medadata -> metadata
  articles/stream-analytics/stream-analytics-define-inputs.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#23950 Update output for bulk executor changes
  articles/stream-analytics/stream-analytics-documentdb-output.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#23958 typo: vesion -> version
  articles/terraform/terraform-overview.md
Labels: Change sent to author, do-not-merge, terraform/svc

#23959 typo: Kubernetese -> Kubernetes
  articles/terraform/terraform-create-k8s-cluster-with-tf-and-aks.md
Labels: Change sent to author, do-not-merge, terraform/svc

#23960 typo: extenstion -> extension
  articles/service-fabric/service-fabric-cluster-change-cert-thumbprint-to-cn.md
  articles/terraform/terraform-vscode-module-generator.md
Labels: Change sent to author, do-not-merge, terraform/svc

#23821 Update traffic-manager-how-it-works.md
  articles/traffic-manager/traffic-manager-how-it-works.md
Labels: Change sent to author, ready-to-merge, traffic-manager/svc

#22632 Changed eNVM to NVMe when referring to SSD for Gen 5
  articles/sql-database/sql-database-managed-instance-resource-limits.md
Labels: Change sent to author, do-not-merge, sql-database/svc

#23697 Update docs - Issue with terratest integration test passing due to typo
  articles/terraform/terratest-in-terraform-modules.md
Labels: Change sent to author, do-not-merge, terraform/svc

#23906 Update tutorial-multi-container-app.md
  articles/app-service/containers/tutorial-multi-container-app.md
Labels: Change sent to author, app-service/svc, do-not-merge

#24014 Typos
  articles/iot-hub/iot-hub-x509ca-concept.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#24011 Update groups-lifecycle.md
  articles/active-directory/users-groups-roles/groups-lifecycle.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#24024 Update azureadjoin-plan.md
  articles/active-directory/devices/azureadjoin-plan.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#24058 Update faq.md
  articles/active-directory/devices/faq.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#24126 Delete unnecessary spaces
  articles/azure-resource-manager/resource-group-overview.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#24150 typo: theyre -> they're
  includes/functions-host-json-durabletask.md
Labels: Change sent to author, functions/svc, ready-to-merge

#24151 typo: Latitiude -> Latitude
  includes/iot-accelerators-device-schema.md
Labels: Change sent to author, iot-accelerators/svc, ready-to-merge

#24163 Delete unnecessary spaces
  articles/application-gateway/add-http-header-rewrite-rule-powershell.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#24042 typo: Insighs -> Insights
  articles/time-series-insights/time-series-insights-how-to-scale-your-environment.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#24043 typo: availablility -> availability
  articles/time-series-insights/time-series-insights-query-data-csharp.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#24044 typo: Mutliple -> Multiple
  articles/traffic-manager/traffic-manager-monitoring.md
Labels: Change sent to author, do-not-merge, traffic-manager/svc

#24045 typo: addressible -> addressable
  articles/traffic-manager/traffic-manager-FAQs.md
Labels: Change sent to author, do-not-merge, traffic-manager/svc

#24046 typo: avaiable -> available
  articles/azure-stack/azure-stack-update-1809.md
  articles/virtual-machine-scale-sets/scripts/powershell-sample-create-complete-scale-set.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc

#24047 typo: MAchine -> Machine
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-groups.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc

#24048 typo: continuedly -> continually
  articles/virtual-machine-scale-sets/tutorial-autoscale-cli.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc

#24049 typo: referencerence -> reference
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc

#24050 typo: anre -> are and
  articles/virtual-machines/extensions/overview.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#24053 typo: uninterruptable -> uninterruptible
  articles/virtual-machines/linux/serial-console-nmi-sysrq.md
  articles/virtual-machines/troubleshooting/serial-console-nmi-sysrq.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#24054 typo: misks -> disks
  articles/virtual-machines/linux/using-managed-disks-template-deployments.md
  articles/virtual-machines/windows/using-managed-disks-template-deployments.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#24055 typo: Bame -> Name
  articles/virtual-machines/scripts/virtual-machines-windows-powershell-sample-create-vm-from-managed-os-disks.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#24071 typo: Applicances -> Appliances
  articles/virtual-network/virtual-network-for-azure-services.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24072 typo: Pubilc -> Public
  articles/virtual-network/virtual-network-troubleshoot-nva.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24073 typo: prefx -> prefix
  articles/virtual-network/manage-public-ip-address-prefix.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24074 typo: fowarding -> forwarding
  articles/load-balancer/index.yml
  articles/virtual-network/tutorial-create-route-table-powershell.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24075 typo: articles/virtual-network/virtual-network-multiple-ip-addresses-cli.md
  articles/virtual-network/virtual-network-multiple-ip-addresses-cli.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24076 typo: articles/virtual-network/virtual-network-multiple-ip-addresses-powershell.md
  articles/virtual-network/virtual-network-multiple-ip-addresses-powershell.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24077 typo: Doesnt -> Doesn't
  articles/active-directory/authentication/multi-factor-authentication-faq.md
  articles/hdinsight/hdinsight-hadoop-hive-out-of-memory-error-oom.md
  articles/virtual-network/virtual-networks-sample-app.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24082 update to "your on-premises"; remove space
  articles/site-recovery/vmware-azure-tutorial-prepare-on-premises.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#24088 typo: articles/virtual-wan/virtual-wan-expressroute-portal.md
  articles/virtual-wan/virtual-wan-expressroute-portal.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc

#24089 typo: redunant -> redundant
  articles/vpn-gateway/about-zone-redundant-vnet-gateways.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#24090 typo: Gatewway -> Gateway
  articles/vpn-gateway/scripts/vpn-gateway-sample-create-vpn-gateway-powershell.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#24091 typo: Cient -> Client
  articles/vpn-gateway/point-to-site-how-to-radius-ps.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#24092 typo: protposal -> proposal
  articles/vpn-gateway/vpn-gateway-3rdparty-device-config-cisco-asa.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#24093 typo: articles/vpn-gateway/point-to-site-vpn-client-configuration-radius.md
  articles/vpn-gateway/point-to-site-vpn-client-configuration-radius.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#24094 typo: porcessing -> processing
  articles/partner-twilio-cloud-services-dotnet-phone-call-web-role.md
Labels: Change sent to author, cloud-services/svc, do-not-merge

#24095 typo: specifiy -> specify
  articles/cosmos-db/sql-api-dotnet-core-get-started-preview.md
  articles/cosmos-db/sql-api-dotnet-get-started-preview.md
  articles/store-sendgrid-php-how-to-send-email.md
Labels: Change sent to author, do-not-merge, multiple/svc

#24152 typo: conucrrent -> concurrent
  includes/relay-hybrid-connections-dotnet-get-started-client.md
Labels: Change sent to author, do-not-merge, service-bus-relay/svc

#24155 typo: ddeploying -> deploying
  includes/storsimple-8000-configure-and-register-device-gov-u2.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#24156 typo: Virgina -> Virginia
  includes/storsimple-8000-create-new-service-gov.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#24157 typo: Devide -> Device
  includes/storsimple-8000-delete-cloud-appliance.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#24158 typo: manangement -> management
  includes/storsimple-8000-configure-remote-management-http-device.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#24160 typo: azue -> azure
  articles/active-directory-b2c/claim-resolver-overview.md
  articles/data-factory/v1/data-factory-copy-activity-tutorial-using-rest-api.md
  articles/virtual-machine-scale-sets/tutorial-autoscale-cli.md
  articles/virtual-machine-scale-sets/tutorial-autoscale-template.md
  includes/virtual-machines-common-cli-manage-nodejs.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#24162 typo: includes/virtual-machines-disks-ultra-ssd.md
  includes/virtual-machines-disks-ultra-ssd.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#24164 typo: Parner -> Partner
  includes/virtual-wan-faq-include.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc

#24165 typo: grouop -> group
  includes/virtual-machines-ag-listener-configure.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#24168 typo: Configurtion -> Configuration
  includes/virtual-machines-common-log-collector-extension.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#24187 fixed link under "before you begin"
  articles/iot-dps/how-to-connect-mxchip-iot-devkit.md
Labels: Change sent to author, do-not-merge, iot-dps/svc

#24051 typo: represenattion -> representation
  articles/virtual-machines/extensions/vmsnapshot-linux.md
  articles/virtual-machines/extensions/vmsnapshot-windows.md
Labels: do-not-merge

#24209 Typo in application-proxy.md
  articles/active-directory/manage-apps/application-proxy.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24070 typo: fronend -> frontend
  articles/virtual-network/tutorial-tap-virtual-network-cli.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#24127 Delete unnecessary spaces
  articles/cognitive-services/Labs/Answer-Search/fact-queries.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#24139 Delete unnecessary spaces
  articles/active-directory-b2c/javascript-samples.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24167 typo: nened -> needed
  includes/virtual-machines-common-log-collector-extension.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#24220 fixed a small typo: Sur name -> Surname
  articles/active-directory/saas-apps/statuspage-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24067 Update ingress-tls.md
  articles/aks/ingress-tls.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#23323 Fix documentation for Infinite Campus SAML SSO configuration regarding Service Provider metadata file.
  articles/active-directory/saas-apps/infinitecampus-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#24122 Updating windows version template example to 1.3.2
  articles/batch/tutorial-rendering-cli.md
Labels: Change sent to author, batch/svc, ready-to-merge

#24161 typo: rersion -> region
  includes/virtual-machines-common-shared-image-troubleshooting.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#24226 Update azure-stack-apply-updates.md
  articles/azure-stack/azure-stack-apply-updates.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#23363 Update azure-stack-validate-registration.md
  articles/azure-stack/azure-stack-validate-registration.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#23275 Update azure-stack-update-1811.md
  articles/azure-stack/azure-stack-update-1811.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#23221 Update azure-stack-version-profiles-go.md
  articles/azure-stack/user/azure-stack-version-profiles-go.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#24237 updated and() and or()
  articles/azure-resource-manager/resource-group-template-functions-logical.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#22702 Update signalr-authenticate-azure-functions.md
  articles/azure-signalr/signalr-authenticate-azure-functions.md
Labels: Change sent to author, do-not-merge, signalr/svc

#24238 File Share URL format fix.
  articles/storage/files/storage-files-planning.md
Labels: Change sent to author, ready-to-merge, storage/svc

#24240 Remove undefined on home page
  articles/advisor/index.yml
Labels: Change sent to author, do-not-merge

#21812 Format the indentation
  articles/data-factory/v1/data-factory-sftp-connector.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#23208 Update MSI overview link
  articles/data-factory/data-factory-service-identity.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#22013 Update analyzing-video-audio-files-concept.md
  articles/media-services/latest/analyzing-video-audio-files-concept.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#22015 Update analyzing-video-audio-files-concept.md
  articles/media-services/latest/analyzing-video-audio-files-concept.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#23851 Fix missing
  articles/data-factory/v1/data-factory-create-datasets.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#24244 Fix missing
  articles/data-lake-store/data-lake-store-best-practices.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#24248 Fix anchor tag text to Azure Just-in-Time page.
  articles/security/security-network-overview.md
Labels: Change sent to author, do-not-merge, security/svc

#24250 Delete unnecessary spaces
  articles/data-factory/v1/data-factory-onprem-teradata-connector.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#24207 Update ingest-data-event-grid.md
  articles/data-explorer/ingest-data-event-grid.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#24279 Fix typo
  articles/visual-studio/vs-storage-aspnet-getting-started-blobs.md
Labels: Change sent to author, do-not-merge, visual-studio-dev15/prod

#24068 typo: Suscription -> Subscription
  articles/hdinsight/hdinsight-hadoop-customize-cluster.md
  articles/virtual-machines/troubleshooting/reset-network-interface.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#24257 typo: Double word "the"
  articles/aks/concepts-network.md
  articles/virtual-machines/workloads/sap/sap-ascs-ha-multi-sid-wsfc-file-share.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#24258 typo: Double word "that"
  articles/virtual-machines/workloads/sap/sap-ha-availability-zones.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#24259 fix: Author metadata for msjuergent is swapped
  articles/virtual-machines/workloads/sap/business-one-azure.md
  articles/virtual-machines/workloads/sap/hana-vm-operations.md
  articles/virtual-machines/workloads/sap/sap-ha-availability-zones.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#24169 fix: includes/virtual-machines-common-premium-storage-performance.md
  includes/virtual-machines-common-premium-storage-performance.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#24297 Updated Service Settings Path
  articles/cognitive-services/QnAMaker/How-To/improve-knowledge-base.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#24304 Update cloud-services-guestos-msrc-releases.md
  articles/cloud-services/cloud-services-guestos-msrc-releases.md
Labels: Change sent to author, cloud-services/svc, ready-to-merge

#24305 Update cloud-services-guestos-update-matrix.md
  articles/cloud-services/cloud-services-guestos-update-matrix.md
Labels: Change sent to author, cloud-services/svc, ready-to-merge

#24309 fix: articles/virtual-machines/windows/capture-image-resource.md
  articles/virtual-machines/windows/capture-image-resource.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#23927 Add Win10 Dependency to Speech-Service Java howto
  articles/cognitive-services/Speech-Service/quickstart-java-jre.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#24329 typo: cofirm -> confirm
  articles/network-watcher/network-watcher-deep-packet-inspection.md
Labels: Change sent to author, do-not-merge, network-watcher/svc

#24371 Fixed typo
  articles/cognitive-services/Face/face-how-to-install-containers.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#24382 Fix grammar: is -> are
  articles/azure-functions/durable/durable-functions-overview.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#24383 Correct typo for Dedicated resource group
  articles/container-registry/container-registry-best-practices.md
Labels: Change sent to author, container-registry/svc, do-not-merge

#24022 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#24365 No templates provided during the guide
  articles/service-fabric/service-fabric-get-started-containers-linux.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#24399 Fix typo in componenet
  articles/active-directory/manage-apps/application-proxy-migration.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#23884 NS records are not yet supported with the Private DNS
  articles/dns/private-dns-overview.md
Labels: Change sent to author, dns/svc, ready-to-merge

#24414 Fix naming of target pool size properties
  articles/batch/batch-automatic-scaling.md
Labels: Change sent to author, batch/svc, do-not-merge

#24378 duplicated word
  articles/hdinsight/hadoop/apache-hadoop-on-premises-migration-best-practices-storage.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#24327 fix: articles/api-management/api-management-faq.md
  articles/api-management/api-management-faq.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#24328 fix: articles/api-management/api-management-howto-mutual-certificates-for-clients.md
  articles/api-management/api-management-howto-mutual-certificates-for-clients.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#24153 chore: Remove old HTML comment authore metadata
  includes/storsimple-8000-add-backup-policy-u2.md
  includes/storsimple-8000-add-modify-backup-schedule-u2.md
  includes/storsimple-8000-add-remove-volume-backup-policy-u2.md
  includes/storsimple-8000-cloud-appliance-security.md
  includes/storsimple-8000-complete-minimum-device-setup-u2.md
  includes/storsimple-8000-configure-and-register-device-gov-u2.md
  includes/storsimple-8000-configure-and-register-device-u2.md
  includes/storsimple-8000-configure-new-storage-account-u2.md
  includes/storsimple-8000-create-manual-backup.md
  includes/storsimple-8000-create-new-service-gov.md
  includes/storsimple-8000-create-new-service.md
  includes/storsimple-8000-create-volume-container.md
  includes/storsimple-8000-create-volume-u2.md
  includes/storsimple-8000-delete-backup-policy.md
  includes/storsimple-8000-get-service-registration-key.md
  includes/storsimple-8000-install-troubleshooting.md
  includes/storsimple-8000-install-update4-via-portal.md
  includes/storsimple-8000-install-update5-via-portal.md
  includes/storsimple-8000-modify-volume-container.md
  includes/storsimple-8000-mount-initialize-format-volume.md
  includes/storsimple-8000-take-backup.md
  includes/storsimple-cable-8100-for-power.md
  includes/storsimple-cable-8600-for-power.md
  includes/storsimple-enter-maintenance-mode.md
  includes/storsimple-exit-maintenance-mode.md
  includes/storsimple-get-iqn.md
  includes/storsimple-install-maintenance-mode-hotfixes.md
  includes/storsimple-install-maintenance-mode-updates.md
  includes/storsimple-install-regular-hotfixes.md
  includes/storsimple-install-regular-updates-powershell.md
  includes/storsimple-install-sharepoint-adapter.md
  includes/storsimple-install-troubleshooting.md
  includes/storsimple-install-update4-hotfix.md
  includes/storsimple-install-update5-hotfix.md
  includes/storsimple-install-updates-manually.md
  includes/storsimple-limits-table.md
  includes/storsimple-mount-initialize-format-volume.md
  includes/storsimple-preparing-for-updates.md
  includes/storsimple-sas-cable-8600.md
  includes/storsimple-sharepoint-adapter-configure-rbs.md
  includes/storsimple-sharepoint-adapter-garbage-collection.md
  includes/storsimple-upgrade-sharepoint-adapter.md
  includes/storsimple-use-putty.md
  includes/storsimple-virtual-array-install-update-via-portal-04.md
  includes/storsimple-virtual-array-install-update-via-portal-1.md
  includes/storsimple-virtual-array-install-update-via-portal.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#24425 Add "if"
  articles/active-directory-b2c/active-directory-b2c-reference-kmsi-custom.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24427 Fixed a typo
  articles/storage/blobs/storage-blobs-introduction.md
Labels: Change sent to author, do-not-merge, storage/svc

#24429 Fixes typo in fhir-faq.md
  articles/healthcare-apis/fhir-faq.md
Labels: do-not-merge

#24435 Fixes 404 to Persistence layer sourcecode
  articles/healthcare-apis/fhir-features-supported.md
Labels: Change sent to author, healthcare-apis/svc, ready-to-merge

#24432 adding more examples for char filters
  articles/search/search-analyzers.md
Labels: Change sent to author, do-not-merge, search/svc

#24445 typo: Double word "must"
  articles/machine-learning/service/how-to-deploy-and-where.md
Labels: Change sent to author, do-not-merge, machine-learning/svc

#24446 typo: Double word "account"
  articles/active-directory/hybrid/reference-connect-accounts-permissions.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24447 typo: articles/active-directory/saas-apps/google-apps-tutorial.md
  articles/active-directory/saas-apps/google-apps-tutorial.md
Labels: Change sent to author, azure-active-directory/svc, do-not-merge

#24450 fix: articles/app-service/app-service-best-practices.md
  articles/app-service/app-service-best-practices.md
Labels: Change sent to author, app-service/svc, do-not-merge

#24451 fix: articles/app-service/deploy-staging-slots.md
  articles/app-service/deploy-staging-slots.md
Labels: Change sent to author, app-service/svc, do-not-merge

#24367 Added link to plans for supported web app plans
  articles/traffic-manager/traffic-manager-endpoint-types.md
Labels: Change sent to author, ready-to-merge, traffic-manager/svc

#24455 fix: articles/app-service/containers/quickstart-ruby.md
  articles/app-service/containers/quickstart-ruby.md
Labels: Change sent to author, app-service/svc, do-not-merge

#24391 Updated the parameters data type with the latest SDK.
  articles/cognitive-services/Speech-Service/how-to-use-audio-input-streams.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#24467 Minor Typo fix
  articles/active-directory/authentication/howto-password-ban-bad-on-premises-deploy.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24479 Periods in list and plural for groups
  articles/active-directory/manage-apps/user-provisioning.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24483 Typo?: work instead of works
  articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24484 Typo: remove "do"
  articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24485 Typo included, remove space
  articles/active-directory/manage-apps/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#24442 Update azure-stack-linux.md
  articles/azure-stack/azure-stack-linux.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#24129 update links to referenced article
  articles/cdn/cdn-features.md
Labels: Change sent to author, cdn/svc, ready-to-merge

#24134 emphase the limitation of changing service options
  articles/expressroute/expressroute-howto-circuit-portal-resource-manager.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#24260 fix: includes/app-service-mobile-html-js-auth-library.md
  includes/app-service-mobile-html-js-auth-library.md
Labels: Change sent to author, app-service-mobile/svc, ready-to-merge

#24261 fix: includes/app-service-mobile-html-js-library.md
  includes/app-service-mobile-html-js-library.md
Labels: Change sent to author, app-service-mobile/svc, ready-to-merge

#21050 Fix node.js receiver example code
  articles/event-hubs/event-hubs-node-get-started-receive.md
Labels: Change sent to author, event-hubs/svc, ready-to-merge

#22766 fix: articles/data-lake-store/data-lake-store-service-to-service-authenticate-net-sdk.md
  articles/data-lake-store/data-lake-store-service-to-service-authenticate-net-sdk.md
Labels: Change sent to author, data-lake-store/svc, do-not-merge

#22733 Remove references to object_id
  articles/virtual-machines/windows/build-image-with-packer.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#23683 Update faq.md
  articles/media-services/video-indexer/faq.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#23703 Removed reference of UseExistingDatabase switch from install sql delegation
  articles/active-directory/hybrid/how-to-connect-install-existing-database.md
  articles/active-directory/hybrid/how-to-connect-install-sql-delegation.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#24052 typo: VMirtual -> Virtual
  articles/virtual-machines/linux/mysql-on-opensuse.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc
