Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-07, with the labels that each got.

#34014 Update enable-aad-authentication-azure-ssis-ir.md
  articles/data-factory/enable-aad-authentication-azure-ssis-ir.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#34250 Add space
  articles/governance/azure-management.md
Labels: Change sent to author, governance/svc, ready-to-merge

#34257 chore: Remove link locale
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, expressroute/svc, ready-to-merge

#34258 typo: Double word "find"
  articles/machine-learning/service/how-to-train-chainer.md
Labels: Change sent to author, core/subsvc, machine-learning/svc, ready-to-merge

#34259 fix: includes/virtual-machines-common-b-series-burstable.md
  includes/virtual-machines-common-b-series-burstable.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#34268 Update ingest-data-event-grid.md
  articles/data-explorer/ingest-data-event-grid.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#34296 Note about standard for caching
  articles/site-recovery/azure-to-azure-architecture.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#34248 Punctuation
  articles/load-balancer/load-balancer-standard-availability-zones.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#34231 Remove implication quota increases are possible
  articles/notification-hubs/notification-hubs-push-notification-faq.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge, tracking (C&L)

#34293 Added missing '\'
  articles/iot-hub/quickstart-control-device-dotnet.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#34083 fix: MD038/no-space-in-code
  articles/cognitive-services/QnAMaker/How-To/metadata-generateanswer-usage.md
  articles/kinect-dk/azure-kinect-recorder.md
  articles/kinect-dk/record-file-format.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, kinect-dk/prod, qna-maker/subsvc

#34270 Fix typo
  articles/azure-monitor/platform/autoscale-webhook-email.md
Labels: Azure-Monitor/svc, Change sent to author, autoscale/subsvc, do-not-merge

#34008 Query to help customers access a specific record with a generic URL for the same
  articles/network-watcher/traffic-analytics-schema.md
Labels: Change sent to author, do-not-merge, network-watcher/svc

#34311 New container release v1.1.3
  articles/cognitive-services/Speech-Service/speech-container-howto.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#34305 Removed comment typo in quick-encrypt-vm-powershell.md
  articles/security/quick-encrypt-vm-powershell.md
Labels: Change sent to author, ready-to-merge, security/svc, tracking (C&L)

#34309 Update to file customizer docs
  articles/virtual-machines/linux/image-builder-json.md
Labels: Change sent to author, ready-to-merge, tracking (C&L), virtual-machines-linux/svc

#34314 Capitalize a thing
  articles/azure-monitor/app/azure-web-apps.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#34328 Update forum link
  articles/cognitive-services/Acoustics/what-is-acoustics.md
Labels: Change sent to author, acoustics/subsvc, cognitive-services/svc, ready-to-merge

#34330 Update virtual-machines-image-builder-overview.md
  includes/virtual-machines-image-builder-overview.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#34336 Intune autopilot GA
  articles/active-directory/devices/howto-azure-managed-workstation.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, ready-to-merge

#34323 updating ISO support
  includes/virtual-machines-image-builder-overview.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#33992 Update release notes
  articles/cosmos-db/sql-api-sdk-async-java.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#34340 Small clarity improvements around tech config
  articles/marketplace/partner-center-portal/create-new-saas-offer.md
Labels: Change sent to author, marketplace/svc, ready-to-merge

#33493 Name change Insights to Workbooks
  articles/active-directory/reports-monitoring/howto-use-azure-monitor-workbooks.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, report-monitor/subsvc

#32275 Server Core and UI are both supported
  articles/site-recovery/azure-to-azure-support-matrix.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#32278 Machines can be referenced in multiple recovery plans
  articles/site-recovery/recovery-plan-overview.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#33478 Update site-recovery-vmware-register-process-server.md
  includes/site-recovery-vmware-register-process-server.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#34348 Update to deploy autopilot deploy
  articles/active-directory/devices/howto-azure-managed-workstation.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, ready-to-merge

#34369 Update links
  articles/service-bus-messaging/service-bus-quickstart-portal.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#34345 Update javascript qs to add sign-in audience to note in portal
  articles/active-directory/develop/quickstart-v2-javascript.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#34346 PipelineSucceededRun is missing a trailing "s"
  articles/data-factory/monitor-using-azure-monitor.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#34359 chore: Remove link locale
  articles/active-directory-domain-services/network-considerations.md
  articles/billing/billing-subscription-transfer.md
  articles/data-factory/connector-dynamics-crm-office-365.md
  articles/iot-hub/iot-hub-scaling.md
Labels: Change sent to author, do-not-merge, domain-services/subsvc, iot-hub/svc

#34371 Fix broken link
  articles/iot-hub/iot-hub-reliability-features-in-sdks.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge, tracking (C&L)

#34370 Fix code examples
  articles/iot-hub/iot-hub-reliability-features-in-sdks.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge, tracking (C&L)

#33907 [ACR] Update FAQ
  articles/container-registry/container-registry-faq.md
Labels: Change sent to author, container-instances/svc, ready-to-merge, tracking (C&L)

#33670 docs: rename load() to config()
  articles/storage/blobs/storage-quickstart-blobs-nodejs-v10.md
Labels: Change sent to author, blobs/subsvc, ready-to-merge, storage/svc, tracking (C&L)

#33685 docs: update the Azure Storage v10 SDK url
  articles/storage/blobs/storage-quickstart-blobs-nodejs-v10.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#34417 error
  articles/active-directory/devices/howto-azure-managed-workstation.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge

#34255 'Start Monitoring D2C Messages' renamed in VS code
  articles/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started.md
Labels: Change sent to author, do-not-merge, iot-hub/svc, tracking (C&L)

#27751 Fix actions related to SF Dictionary added event
  articles/service-fabric/service-fabric-reliable-services-notifications.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#29527 Renames a Azure Document DB to Azure Cosmos DB
  articles/service-fabric/service-fabric-cloud-services-migration-worker-role-stateless-service.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#29066 Fix chaos code example column limit
  articles/service-fabric/service-fabric-controlled-chaos.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#34444 Removed a sentence
  articles/backup/backup-azure-vm-backup-faq.md
Labels: Change sent to author, backup/svc, ready-to-merge

#34182 Update code example in manage-with-cli.md
  articles/cosmos-db/manage-with-cli.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge, tracking (C&L)

#34271 Fix Post-Trigger RequestOptions for .NET
  articles/cosmos-db/how-to-use-stored-procedures-triggers-udfs.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge, tracking (C&L)

#34297 Adding note about Standard storage for cache
  articles/site-recovery/azure-to-azure-how-to-enable-replication.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, tracking (C&L)

#34316 Adding reference to Az Vm Image Builder
  articles/virtual-machines/linux/capture-image.md
Labels: Change sent to author, ready-to-merge, tracking (C&L), virtual-machines-linux/svc

#34395 Update the document to format the JSON object properly.
  articles/active-directory/saas-apps/amazon-web-service-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc, tracking (C&L)

#34358 fix: MD038/no-space-in-code
  articles/search/knowledge-store-howto.md
Labels: Change sent to author, do-not-merge, search/svc, tracking (C&L)

#34438 fix: articles/jenkins/tutorial-jenkins-dev-spaces.md
  articles/jenkins/tutorial-jenkins-dev-spaces.md
Labels: Change sent to author, do-not-merge, jenkins/svc

#33831 fix: MD033/no-inline-html
  articles/active-directory/develop/msal-net-xamarin-android-considerations.md
  articles/active-directory/develop/tutorial-v2-android.md
  articles/active-directory/develop/tutorial-v2-ios.md
  articles/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications.md
  articles/active-directory/manage-apps/configure-single-sign-on-portal.md
  articles/active-directory/saas-apps/foreseecxsuite-tutorial.md
  articles/active-directory/saas-apps/newsignature-tutorial.md
  articles/app-service-mobile/app-service-mobile-windows-store-dotnet-get-started-offline-data.md
  articles/app-service/containers/app-service-linux-ssh-support.md
  articles/app-service/containers/configure-language-ruby.md
  articles/application-gateway/migrate-v1-v2.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, saas-app-tutorial/subsvc

#34465 Fixed Typo
  articles/traffic-manager/traffic-manager-monitoring.md
Labels: Change sent to author, do-not-merge, traffic-manager/svc

#34477 Typo: Update azure-ad-integration-cli.md
  articles/aks/azure-ad-integration-cli.md
Labels: Change sent to author, container-service/svc, do-not-merge

#33994 Removed (preview) label for Windows Server 2019
  articles/storage/files/storage-how-to-use-files-windows.md
Labels: Change sent to author, files/subsvc, ready-to-merge, review-team-triage, storage/svc

#34461 Update in setting the network host mode
  articles/iot-accelerators/howto-opc-twin-deploy-modules.md
Labels: Change sent to author, iot-industrialiot/svc, ready-to-merge, review-team-triage, tracking (C&L)

#34485 Minor fix to show audience note only in portal
  articles/active-directory/develop/quickstart-v2-netcore-daemon.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge, review-team-triage, tracking (C&L)

#34494 Update bastion-nsg.md
  articles/bastion/bastion-nsg.md
Labels: Change sent to author, bastion/svc, ready-to-merge, review-team-triage, tracking (C&L)

#34495 Updated Public IP SKU details
  articles/bastion/bastion-create-host-portal.md
Labels: Change sent to author, bastion/svc, ready-to-merge, review-team-triage, tracking (C&L)

#34501 Add another Q in FAQs
  includes/bastion-faq-include.md
Labels: Change sent to author, bastion/svc, ready-to-merge, review-team-triage

#34526 Update monitoring-classic-retirement.md
  articles/azure-monitor/platform/monitoring-classic-retirement.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, ready-to-merge, review-team-triage

#34518 Update add-sharepoint-datasources.md
  articles/cognitive-services/QnAMaker/How-To/add-sharepoint-datasources.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#34522 chore: Remove link locale
  articles/virtual-network/virtual-network-service-endpoints-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#34524 Link Cloud service FAQ to the related link
  articles/cloud-services/cloud-services-certs-create.md
Labels: Change sent to author, cloud-services/svc, do-not-merge

#34525 fix: MD039/no-space-in-links
  articles/active-directory/saas-apps/clever-nelly-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#34529 typo: Double word "work"
  articles/active-directory/develop/active-directory-optional-claims.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#34528 typo: Double word "the"
  articles/time-series-insights/tutorial-create-tsi-sample-spa.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#34578 files -> file
  articles/aks/tutorial-kubernetes-deploy-application.md
Labels: Change sent to author, container-service/svc, do-not-merge

#34590 Remove extra period from apt install command
  articles/kinect-dk/sensor-sdk-download.md
Labels: Change sent to author, do-not-merge, kinect-dk/prod

#34541 Fixed turbofanRulClassifier routes
  articles/iot-edge/tutorial-machine-learning-edge-06-custom-modules.md
Labels: Change sent to author, do-not-merge, iot-edge/svc, review-team-triage, tracking (C&L)

#32737 fix: Replace invalid characters in TOC
  articles/active-directory/saas-apps/toc.yml
Labels: Change sent to author, do-not-merge

#33511 Update set-up-scaling-script.md
  articles/virtual-desktop/set-up-scaling-script.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#34616 Update waf-front-door-custom-rules-powershell.md
  articles/frontdoor/waf-front-door-custom-rules-powershell.md
Labels: Change sent to author, frontdoor/svc, ready-to-merge, review-team-triage, tracking (C&L)

#33079 changed legacy VPN SKUs to current VPN SKUs
  articles/vpn-gateway/vpn-gateway-bgp-resource-manager-ps.md
Labels: Change sent to author, ready-to-merge, review-team-triage, tracking (C&L), vpn-gateway/svc

#34627 Update security-overview.md
  articles/virtual-network/security-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#34634 fix: MD038/no-space-in-code
  articles/security-center/security-center-alert-validation.md
Labels: Change sent to author, do-not-merge, security-center/svc

#34637 Update about-microsoft-identity-platform.md
  articles/active-directory/develop/about-microsoft-identity-platform.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#34639 typo: Double word "the"
  articles/security-center/security-center-alerts-data-services.md
  articles/storage/common/storage-use-azcopy-blobs.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#34641 Update v2-permissions-and-consent.md
  articles/active-directory/develop/v2-permissions-and-consent.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#34646 Fix typo
  articles/active-directory/develop/quickstart-v1-dotnet-webapi.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#34652 Update http links
  includes/vpn-gateway-add-gwsubnet-p2s-rm-portal-include.md
  includes/vpn-gateway-add-gwsubnet-rm-portal-include.md
  includes/vpn-gateway-basic-p2s-vnet-rm-portal-include.md
  includes/vpn-gateway-basic-vnet-rm-portal-include.md
  includes/vpn-gateway-create-virtual-network-portal-include.md
  includes/vpn-gateway-verify-connection-azureportal-classic-include.md
  includes/vpn-gateway-verify-connection-portal-include.md
  includes/vpn-gateway-verify-connection-portal-rm-include.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#34653 Update vpn-gateway-radiuis-mfa-nsp.md
  articles/vpn-gateway/vpn-gateway-radiuis-mfa-nsp.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#34656 Update overview-v2.md
  articles/active-directory/identity-protection/overview-v2.md
Labels: Change sent to author, active-directory/svc, do-not-merge, identity-protection/subsvc

#34668 Fix typo
  articles/hdinsight/domain-joined/apache-domain-joined-create-configure-enterprise-security-cluster.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#34674 remove typo at iot-hub-device-streams-overview.md
  articles/iot-hub/iot-hub-device-streams-overview.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#34696 Update http links
  includes/storage-blob-concepts-include.md
  includes/storage-import-export-ship-drives.md
  includes/storage-mobile-authentication-guidance.md
Labels: Change sent to author, do-not-merge, storage/svc

#34695 Update http links
  includes/virtual-machines-common-classic-resource-manager-migration-faq.md
  includes/virtual-machines-common-infrastructure-automation.md
  includes/virtual-machines-common-premium-storage-performance.md
  includes/virtual-machines-common-sizes-gpu.md
  includes/virtual-machines-common-sizes-previous-gen.md
  includes/virtual-machines-common-ubuntu-rdma.md
  includes/virtual-machines-managed-disks-benchmarking.md
  includes/virtual-machines-n-series-windows-support.md
  includes/virtual-machines-sql-server-akv-prepare.md
  includes/virtual-machines-windows-portal-sql-alwayson-ag-template.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#34442 Update role name
  articles/api-management/api-management-faq.md
Labels: Change sent to author, api-management/svc, do-not-merge, review-team-triage, tracking (C&L)

#33922 Update azure-to-azure-enable-replication-added-disk.md
  articles/site-recovery/azure-to-azure-enable-replication-added-disk.md
Labels: Change sent to author, do-not-merge, site-recovery/svc, tracking (C&L)

#29062 Update azure-to-azure-powershell.md
  articles/site-recovery/azure-to-azure-powershell.md
Labels: Change sent to author, do-not-merge, site-recovery/svc, tracking (C&L)

#34414 Update azureadjoin-plan.md
  articles/active-directory/devices/azureadjoin-plan.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, ready-to-merge, review-team-triage, tracking (C&L)

#32595 Fix typo
  articles/data-factory/v1/data-factory-pig-activity.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#34733 Remove status subscribed from webhook
  articles/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#34671 fix the link to the quickstart example on github
  articles/cognitive-services/immersive-reader/quickstart.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, immersive-reader/subsvc, tracking (C&L)

#34737 Fix typo
  articles/hdinsight/hdinsight-hadoop-customize-cluster-linux.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#34744 fix: MD039/no-space-in-links
  articles/media-services/latest/frequently-asked-questions.md
Labels: Change sent to author, do-not-merge, media-services/svc

#34747 Fix typo on Azure SQL database backup restore page (busniess => business)
  articles/sql-database/sql-database-recovery-using-backups.md
Labels: Change sent to author, backup-restore/subsvc, do-not-merge, sql-database/svc

#34759 Fix typo
  articles/sql-database/sql-database-recovery-using-backups.md
Labels: Change sent to author, backup-restore/subsvc, do-not-merge, sql-database/svc

#34767 update forum URL
  articles/cognitive-services/Acoustics/unreal-integration.md
Labels: Change sent to author, acoustics/subsvc, cognitive-services/svc, ready-to-merge, review-team-triage

#34743 chore: Remove link locale
  articles/virtual-machines/extensions/hpccompute-gpu-linux.md
  articles/virtual-machines/extensions/hpccompute-gpu-windows.md
  articles/virtual-network/security-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#34017 Update spotinst-tutorial.md
  articles/active-directory/saas-apps/spotinst-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#34773 No longer need to comment out DXSDK_DIR reference
  articles/cognitive-services/Acoustics/unreal-quickstart.md
Labels: Change sent to author, acoustics/subsvc, cognitive-services/svc, ready-to-merge, review-team-triage, tracking (C&L)

#32731 Fix typo
  articles/data-factory/v1/data-factory-json-scripting-reference.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#32485 Fix typo
  articles/data-factory/v1/data-factory-onprem-mysql-connector.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#32193 Fix typo
  articles/data-factory/v1/data-factory-http-connector.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#33313 Several grammatical and diagram referencing errors
  articles/azure-netapp-files/azure-netapp-files-network-topologies.md
Labels: Change sent to author, azure-netapp-files/svc, do-not-merge

#33627 Changed from Set-AzureKeyVaultSecret to Set-AzKeyVaultSecret
  articles/virtual-machines/windows/winrm.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#33875 Linking to the current docs for ABFS driver
  articles/storage/blobs/data-lake-storage-abfs-driver.md
Labels: Change sent to author, data-lake-storage-gen2/subsvc, do-not-merge, storage/svc, tracking (C&L)

#33482 Correct link for Article 10
  articles/migrate/contoso-migration-overview.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#33297 404 error fixed in 1.0.7
  articles/iot-edge/troubleshoot.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge, review-team-triage, tracking (C&L)

#34720 Fixed Add Pool in Batch Powershell Example
  articles/batch/batch-powershell-cmdlets-get-started.md
Labels: Change sent to author, batch/svc, ready-to-merge, review-team-triage, tracking (C&L)

#33972 Corrected SharePoint capitalization and image
  articles/cognitive-services/QnAMaker/How-To/add-sharepoint-datasources.md
Labels: Change sent to author, cognitive-services/svc, qna-maker/subsvc, ready-to-merge, review-team-triage, tracking (C&L)

#34700 Add restriction
  articles/app-service/app-service-web-app-cloning.md
Labels: Change sent to author, app-service-web/svc, do-not-merge, tracking (C&L)

#33310 update programmatic manipulation section
  articles/app-service/app-service-ip-restrictions.md
Labels: Change sent to author, app-service-web/svc, do-not-merge, review-team-triage

#34786 fixing typo
  articles/media-services/latest/upload-files-rest-how-to.md
Labels: Change sent to author, do-not-merge, media-services/svc

#33654 Update CORS section with Linux Support
  articles/app-service/containers/tutorial-auth-aad.md
Labels: Change sent to author, app-service-web/svc, do-not-merge, review-team-triage, tracking (C&L)

#34801 Corrected SharePoint capitalization
  articles/cognitive-services/QnAMaker/toc.yml
Labels: do-not-merge, review-team-triage

#34569 Question clarification
  articles/active-directory/b2b/direct-federation.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge, review-team-triage, tracking (C&L)

#34739 Update TelemetryConfiguration.Active usage
  articles/azure-monitor/app/api-filtering-sampling.md
  articles/azure-monitor/app/app-map.md
  articles/azure-monitor/app/asp-net-core.md
  articles/azure-monitor/app/console.md
  articles/azure-monitor/app/custom-operations-tracking.md
  articles/azure-monitor/app/how-do-i.md
  articles/azure-monitor/app/usage-overview.md
Labels: Change sent to author, application-insights/svc, do-not-merge, tracking (C&L)

#34847 Couldn't find documentation on difference between On (No default) vs …
  articles/cosmos-db/how-to-time-to-live.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge, review-team-triage

#34810 isSoftDeleted description added
  articles/active-directory/manage-apps/customize-application-attributes.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge, review-team-triage

#34808 provide guidance on rebuilding sound banks
  articles/cognitive-services/Acoustics/unreal-quickstart.md
Labels: Change sent to author, acoustics/subsvc, cognitive-services/svc, ready-to-merge, review-team-triage

#34818 Removing extra space after the backslash
  articles/virtual-network/virtual-network-ipv4-ipv6-dual-stack-cli.md
Labels: Change sent to author, do-not-merge, review-team-triage, virtual-network/svc

#34823 fix: MD038/no-space-in-code
  articles/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, review-team-triage, text-analytics/subsvc

#34835 Formatting for Next hop types across Azure tools
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#34820 chore: Remove link locale
  articles/active-directory/manage-apps/isv-sso-content.md
  articles/automation/automation-dsc-overview.md
  articles/search/search-get-started-portal.md
Labels: Change sent to author, do-not-merge, dsc/subsvc, search/svc

#34821 typo: Double word "the"
  articles/active-directory/manage-apps/isv-choose-multi-tenant-federation.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, do-not-merge

#34561 Added links to github notebooks for databricks and adla
  articles/machine-learning/service/how-to-create-your-first-pipeline.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc, tracking (C&L)

#34842 Update virtual-machines-windows-sql-server-agent-extension.md
  articles/virtual-machines/windows/sql/virtual-machines-windows-sql-server-agent-extension.md
Labels: Change sent to author, do-not-merge, review-team-triage, tracking (C&L), virtual-machines-sql/svc

#32602 Update sql-database-managed-instance-configure-p2s.md
  articles/sql-database/sql-database-managed-instance-configure-p2s.md
Labels: Change sent to author, managed-instance/subsvc, ready-to-merge, sql-database/svc

#34822 fix: MD039/no-space-in-links
  articles/active-directory/saas-apps/hype-tutorial.md
  articles/active-directory/saas-apps/wandera-tutorial.md
  articles/automation/manage-runas-account.md
  articles/cognitive-services/Translator/reference/v2-0-reference.md
  articles/sql-database/sql-database-managed-instance-faq.md
Labels: Change sent to author, do-not-merge, managed-instance/subsvc, sql-database/svc

#33022 Updated code sample
  articles/cognitive-services/Custom-Vision-Service/csharp-tutorial.md
Labels: Change sent to author, cognitive-services/svc, custom-vision/subsvc, do-not-merge

#34351 docs(cognitive-services): change custom vision library path
  articles/cognitive-services/Custom-Vision-Service/node-tutorial-object-detection.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, tracking (C&L)

#34352 docs(cognitive-services): change custom vision image classification l…
  articles/cognitive-services/Custom-Vision-Service/node-tutorial.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, tracking (C&L)

#34683 Change from Status to TrainingStatusType
  articles/cognitive-services/Face/Face-API-How-to-Topics/HowtoIdentifyFacesinImage.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, face-api/subsvc, tracking (C&L)

#34768 Update forum URL
  articles/cognitive-services/Acoustics/faq.md
Labels: Change sent to author, acoustics/subsvc, cognitive-services/svc, ready-to-merge, tracking (C&L)

#33888 Improved explanation for selecting multiple words
  articles/cognitive-services/LUIS/luis-how-to-add-example-utterances.md
Labels: Change sent to author, cognitive-services/svc, language-understanding/subsvc, ready-to-merge, tracking (C&L)

#34347 Adding Java instructions for MSI in functions
  articles/app-service/overview-managed-identity.md
Labels: Change sent to author, app-service/svc, do-not-merge, review-team-triage, tracking (C&L)

#31970 Fix typo
  articles/data-factory/v1/data-factory-build-your-first-pipeline-using-powershell.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#32066 Fix typo
  articles/data-factory/v1/data-factory-build-your-first-pipeline-using-rest-api.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#32194 Fix typo
  articles/data-factory/v1/data-factory-hive-activity.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#34877 Update certificate-based-authentication.md
  articles/cosmos-db/certificate-based-authentication.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, tracking (C&L)

#34895 chore: Remove link locale
  articles/azure-monitor/app/asp-net-core.md
  articles/storage/files/storage-files-planning.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#34898 fix: articles/active-directory/manage-apps/application-proxy-wildcard.md
  articles/active-directory/manage-apps/application-proxy-wildcard.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge, tracking (C&L)

#34945 Fix Typo in "Who Can Access the Data?" Section
  articles/active-directory/reports-monitoring/concept-audit-logs.md
Labels: Change sent to author, active-directory/svc, do-not-merge, report-monitor/subsvc

#34890 Remove delete SAL step
  articles/container-instances/container-instances-vnet.md
Labels: Change sent to author, container-instances/svc, ready-to-merge, tracking (C&L)

#34942 Dynamic dictionary
  articles/cognitive-services/Translator/dynamic-dictionary.md
  articles/cognitive-services/Translator/reference/v3-0-translate.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, tracking (C&L), translator-text/subsvc

#34960 fix: Markdown link format
  articles/cosmos-db/create-mongodb-java.md
  articles/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase.md
Labels: Change sent to author, do-not-merge, load-data/subsvc, sql-data-warehouse/svc

#34990 typo: Double word "the"
  articles/active-directory-b2c/active-directory-b2c-custom-rest-api-netfw.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#34500 Required to install Azure Private DNS Module
  articles/dns/private-dns-getstarted-powershell.md
Labels: Change sent to author, assessing (C&L), dns/svc, ready-to-merge

#34989 typo: Double word "a"
  articles/active-directory/develop/scenario-web-app-sign-user-app-configuration.md
  articles/migrate/tutorial-migrate-hyper-v.md
  articles/migrate/tutorial-migrate-physical-virtual-machines.md
  articles/migrate/tutorial-migrate-vmware-agent.md
Labels: Change sent to author, azure-migrate/svc, develop/subsvc, ready-to-merge
