Repository MicrosoftDocs/azure-docs, pull requests merged in 2019-04, with the labels that each got.

#28142 Update MSDN links, Part 4
  articles/api-management/api-management-configuration-repository-git.md
  articles/api-management/api-management-faq.md
  articles/api-management/api-management-howto-create-or-invite-developers.md
  articles/api-management/api-management-howto-disaster-recovery-backup-restore.md
  articles/api-management/api-management-howto-log-event-hubs.md
  articles/api-management/api-management-howto-policies.md
  articles/api-management/api-management-howto-properties.md
  articles/api-management/api-management-key-concepts.md
  articles/api-management/api-management-log-to-eventhub-sample.md
  articles/api-management/api-management-sample-cache-by-key.md
  articles/api-management/api-management-sample-flexible-throttling.md
  articles/api-management/api-management-sample-send-request.md
  articles/api-management/api-management-using-with-internal-vnet.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#28379 Add new endpoints for RHUI in USGov cloud
  articles/virtual-machines/linux/update-infrastructure-redhat.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#28417 Update create-and-manage.md
  articles/governance/policy/tutorials/create-and-manage.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#28413 Update apps-anomaly-detection-api.md
  articles/machine-learning/team-data-science-process/apps-anomaly-detection-api.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge, team-data-science-process/subsvc

#28428 Minor spelling error
  articles/application-gateway/rewrite-http-headers.md
Labels: Change sent to author, application-gateway/svc, do-not-merge

#28343 change the link to docs page from announcing post.
  articles/app-service/overview-compare.md
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#28431 Clarification of limitation on app-service-linux-intro
  articles/app-service/containers/app-service-linux-intro.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#28453 Add a note about deployment in VSCode
  articles/azure-functions/functions-create-first-java-maven.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#28450 (AzureCXP) fixes MicrosoftDocs/azure-docs#28001
  articles/active-directory/hybrid/how-to-connect-sso-faq.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#28390 Added @ to twitter handle, direct link
  articles/lab-services/devtest-lab-faq.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#28419 Updated copy VHD script links
  articles/lab-services/devtest-lab-faq.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#28377 Updated management API update
  articles/sql-data-warehouse/sql-data-warehouse-manage-compute-rest-api.md
Labels: Change sent to author, do-not-merge, implement/subsvc, sql-data-warehouse/svc

#28465 Minor code fixes to Backup Client Automation doc
  articles/backup/backup-client-automation.md
Labels: Change sent to author, backup/svc, ready-to-merge

#28466 change link path
  articles/azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28482 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#28481 Replace occurrences of "on-premise" with "on-premises"
  articles/active-directory/authentication/concept-password-ban-bad.md
  articles/active-directory/develop/active-directory-acs-migration.md
  articles/active-directory/hybrid/how-to-connect-health-data-freshness.md
  articles/active-directory/hybrid/tshoot-connect-install-issues.md
  articles/active-directory/reports-monitoring/howto-troubleshoot-sign-in-errors.md
  articles/active-directory/saas-apps/sharepoint-on-premises-tutorial.md
  articles/active-directory/saas-apps/slack-tutorial.md
  articles/advisor/advisor-high-availability-recommendations.md
  articles/api-management/api-management-using-with-vnet.md
  articles/azure-monitor/app/snapshot-debugger-vm.md
  articles/azure-netapp-files/azure-netapp-files-create-volumes.md
  articles/azure-netapp-files/azure-netapp-files-manage-snapshots.md
  articles/backup/backup-azure-backup-faq.md
  articles/connectors/connectors-create-api-db2.md
  articles/connectors/connectors-create-api-sharepoint.md
  articles/cosmos-db/optimize-cost-throughput.md
  articles/cosmos-db/partners-migration-cosmosdb.md
  articles/cosmos-db/table-import.md
  articles/cosmos-db/total-cost-ownership.md
  articles/cosmos-db/understand-your-bill.md
  articles/data-factory/delete-activity.md
  articles/dedicated-hsm/networking.md
  articles/dms/tutorial-mysql-azure-mysql-online.md
  articles/frontdoor/front-door-backend-pool.md
  articles/frontdoor/front-door-lb-with-azure-app-delivery-suite.md
  articles/hdinsight/hdinsight-extend-hadoop-virtual-network.md
  articles/iot-hub/iot-hub-ha-dr.md
  articles/marketplace/cloud-partner-portal-orig/lcs-subscription.md
  articles/marketplace/cloud-partner-portal/virtual-machine/cpp-create-vhd.md
  articles/media-services/latest/dynamic-packaging-overview.md
  articles/media-services/latest/live-streaming-overview.md
  articles/network-watcher/traffic-analytics-schema.md
  articles/security-center/security-center-sql-service-recommendations.md
  articles/security/blueprints/azure-health.md
  articles/service-fabric/service-fabric-service-model-schema-complex-types.md
  articles/service-fabric/service-fabric-service-model-schema-elements.md
  articles/site-recovery/azure-to-azure-troubleshoot-errors.md
  articles/site-recovery/migrate-tutorial-windows-server-2008.md
  articles/sql-database/sql-database-managed-instance-aad-security-tutorial.md
  articles/sql-database/sql-database-managed-instance.md
  articles/virtual-machines/workloads/sap/dbms_guide_sqlserver.md
  articles/virtual-machines/workloads/sap/hana-onboarding-requirements.md
  articles/virtual-machines/workloads/sap/hana-vm-operations.md
  articles/virtual-machines/workloads/sap/planning-guide.md
  articles/virtual-machines/workloads/sap/sap-deployment-checklist.md
  articles/virtual-network/virtual-network-peering-overview.md
  includes/firewall-faq-include.md
  includes/firewall-limits.md
  includes/virtual-wan-faq-include.md
Labels: Change sent to author, cosmosdb-table/subsvc, do-not-merge, media-services/svc

#28490 typo: Double word "the"
  articles/cognitive-services/Content-Moderator/try-review-api-review.md
Labels: Change sent to author, cognitive-services/svc, content-moderator/subsvc, do-not-merge

#28476 Update faq.md to fix exponent display
  articles/cosmos-db/faq.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#28454 Add link to "Banned passwords" definition documentation
  articles/active-directory/authentication/active-directory-passwords-troubleshoot.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#28510 Update documentation to include min req
  articles/azure-monitor/app/profiler-settings.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#28424 Remove preview note
  articles/azure-functions/functions-create-maven-eclipse.md
  articles/azure-functions/functions-create-maven-intellij.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#28526 markdown error fix table-import.md
  articles/cosmos-db/table-import.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge

#28224 Change label: "diagnostic logs" to "diagnostic settings"
  articles/firewall/tutorial-diagnostics.md
Labels: Change sent to author, firewall/svc, ready-to-merge

#27018 remove a step from virtual-network-manage-peering.md
  articles/virtual-network/virtual-network-manage-peering.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#28529 Update security-overview.md
  articles/virtual-network/security-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#28254 Updated azure-stack-redhat-create-upload-vhd.md
  articles/azure-stack/azure-stack-redhat-create-upload-vhd.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#26060 Update virtual-machines-n-series-linux-support.md
  includes/virtual-machines-n-series-linux-support.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#26195 Update quickstart.md
  articles/cloud-shell/quickstart.md
Labels: Change sent to author, azure/svc, ready-to-merge

#27437 Add required instrumentation keys
  articles/azure-monitor/app/java-trace-logs.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#27492 Update tutorial-net-windows-virtual-machine.md
  articles/key-vault/tutorial-net-windows-virtual-machine.md
Labels: Change sent to author, key-vault/svc, ready-to-merge

#27594 update screenshots to latest, change description to "Access Restrictions" from "IP Restrictions" and add deployment access restriction screenshot
  articles/app-service/app-service-ip-restrictions.md
  articles/app-service/media/app-service-ip-restrictions/ip-restrictions-browse.png
  articles/app-service/media/app-service-ip-restrictions/ip-restrictions-delete.png
  articles/app-service/media/app-service-ip-restrictions/ip-restrictions-scm-browse.png
  articles/app-service/media/app-service-ip-restrictions/ip-restrictions.png
Labels: Change sent to author, app-service-web/svc, ready-to-merge

#27641 Fix typo
  articles/virtual-machines/windows/sa-upload-generalized.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#27798 Update point-to-site-about.md
  articles/vpn-gateway/point-to-site-about.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc

#27832 Calls per second and minute limits
  articles/cognitive-services/text-analytics/overview.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#27983 Update service-bus-java-how-to-use-jms-api-amqp.md
  articles/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp.md
Labels: Change sent to author, do-not-merge, ready-to-merge, service-bus-messaging/svc

#28047 Update link
  articles/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#28200 Change to not translate unique names
  articles/api-management/api-management-user-profile-templates.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#28380 Update rate limit
  articles/cognitive-services/text-analytics/overview.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#28452 Updated the code example of "How to run Durable functions as WebJobs", for WebJobs SDK 3.x
  articles/azure-functions/durable/durable-functions-webjobs-sdk.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#28497 fixed azcopy link for windows
  articles/azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28502 Update site-recovery-test-failover-to-azure.md
  articles/site-recovery/site-recovery-test-failover-to-azure.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#28515 change path again because my PR inclues path description fault
  articles/azure-stack/user/azure-stack-storage-transfer.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28522 Fix Python SDK, broken with 0.3.0 package release
  articles/cognitive-services/Computer-vision/quickstarts-sdk/python-sdk.md
Labels: Change sent to author, cognitive-services/svc, computer-vision/subsvc, ready-to-merge

#28488 As per the comment in the article
  articles/application-gateway/how-application-gateway-works.md
Labels: Change sent to author, application-gateway/svc, do-not-merge

#28592 Some additional information for this feature.
  articles/azure-monitor/insights/container-insights-live-logs.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#28208 Fix typo
  articles/storage/files/storage-sync-files-deployment-guide.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#28129 Update Glossary.md to fix confusing duplicate
  articles/cognitive-services/Face/Glossary.md
Labels: Change sent to author, cognitive-services/svc, face-api/subsvc, ready-to-merge

#27930 Update pre-reqs
  articles/iot-dps/how-to-connect-mxchip-iot-devkit.md
Labels: Change sent to author, iot-dps/svc, ready-to-merge

#28480 Fix typo
  articles/azure-monitor/platform/collect-activity-logs.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#28534 Adding aka.ms links to ASP.NET Core Web API tuto
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#28621 Fix typo
  articles/azure-monitor/insights/containers.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#28629 Fix typo
  articles/databox/data-box-portal-ui-admin.md
Labels: Change sent to author, databox/svc, disk/subsvc, ready-to-merge

#28630 Fix typo
  articles/lab-services/devtest-lab-mandatory-artifacts.md
Labels: Change sent to author, devtest-lab/svc, ready-to-merge

#28636 Fix typo
  articles/virtual-machines/linux/openshift-post-deployment.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#28609 typo: Double word "of"
  articles/virtual-network/virtual-network-tcpip-performance-tuning.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#28633 Fix typo
  articles/site-recovery/recovery-plan-overview.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#28624 Fixed small typo
  articles/hdinsight/hdinsight-hadoop-oms-log-analytics-tutorial.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#28638 azure-storage-blob sdk changes
  articles/machine-learning/team-data-science-process/explore-data-blob.md
Labels: Change sent to author, do-not-merge, machine-learning/svc, team-data-science-process/subsvc

#28206 typos and style edits
  articles/azure-stack/azure-stack-integrate-monitor.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28637 Fix typo
  articles/virtual-machines/windows/cli-samples.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#28635 Fix typo
  articles/virtual-machines/linux/cli-samples.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#28634 Fix typo
  articles/virtual-machines/extensions/dsc-linux.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#28632 Fix typo
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#28631 Fix typo
  articles/marketplace/cloud-partner-portal/azure-applications/cpp-skus-tab.md
Labels: Change sent to author, do-not-merge, marketplace/svc

#28628 Fix typo
  articles/data-factory/v1/data-factory-odata-connector.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#28620 Fix typo
  articles/active-directory/saas-apps/slack-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#28619 Fix typo
  articles/active-directory/saas-apps/jamfprosamlconnector-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#28618 Fix typo
  articles/active-directory/saas-apps/dropboxforbusiness-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#28617 Fix typo
  articles/active-directory/fundamentals/active-directory-deployment-checklist-p2.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#28616 Fix typo
  articles/active-directory-b2c/openid-connect-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#28615 Fix typo
  articles/active-directory-b2c/oauth2-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#28614 Fix typo
  articles/active-directory-b2c/oauth1-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#28622 Fix typo
  articles/billing/billing-understand-rhel-reservation-charges.md
Labels: Change sent to author, billing/svc, do-not-merge

#28623 Fix typo
  articles/billing/billing-understand-suse-reservation-charges.md
Labels: Change sent to author, billing/svc, do-not-merge

#28626 Fix typo
  articles/cognitive-services/Bing-Image-Search/resize-and-crop-thumbnails.md
Labels: Change sent to author, bing-image-search/subsvc, cognitive-services/svc, do-not-merge

#28627 Fix typo
  articles/cosmos-db/sql-api-async-java-samples.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#28662 Update BMC username Specifications
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, do-not-merge

#27949 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, ready-to-merge

#28664 Fix typo
  articles/spatial-anchors/how-tos/create-locate-anchors-cpp-ndk.md
  articles/spatial-anchors/how-tos/create-locate-anchors-cpp-winrt.md
  articles/spatial-anchors/how-tos/create-locate-anchors-java.md
  articles/spatial-anchors/how-tos/create-locate-anchors-objc.md
  articles/spatial-anchors/how-tos/create-locate-anchors-swift.md
  articles/spatial-anchors/how-tos/create-locate-anchors-unity.md
Labels: Change sent to author, azure-spatial-anchors/svc, do-not-merge

#28681 Update devtest-lab-vm-powershell.md
  articles/lab-services/devtest-lab-vm-powershell.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#28715 Fix typo
  articles/search/search-synonyms-tutorial-sdk.md
Labels: Change sent to author, ready-to-merge, search/svc

#28674 Update tutorial-restrict-network-access-to-resources-cli.md
  articles/virtual-network/tutorial-restrict-network-access-to-resources-cli.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#28719 Fix typo in HIPAA.
  articles/service-fabric/service-fabric-overview.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#28699 Update optimize-cost-throughput.md
  articles/cosmos-db/optimize-cost-throughput.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#28691 Update live-stream.md
  articles/azure-monitor/app/live-stream.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#28704 Fix typo
  articles/active-directory/fundamentals/add-users-azure-active-directory.md
Labels: Change sent to author, active-directory/svc, fundamentals/subsvc, ready-to-merge

#28701 Fix typo
  articles/visual-studio/vs-storage-aspnet-getting-started-tables.md
Labels: Change sent to author, do-not-merge, visual-studio-dev15/prod, vs-azure/tech

#28702 Fix typo
  articles/data-factory/v1/data-factory-copy-activity-tutorial-using-visual-studio.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#28703 Fix typo
  articles/azure-functions/functions-reference-node.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#28705 Fix typo
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#28706 Fix typo
  articles/active-directory-b2c/active-directory-b2c-reference-password-complexity.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#28707 Fix typo
  articles/active-directory/managed-identities-azure-resources/qs-configure-rest-vmss.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#28708 Fix typo
  articles/active-directory/managed-identities-azure-resources/qs-configure-template-windows-vmss.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#28709 Fix typo
  articles/active-directory/saas-apps/edigitalresearch-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#28711 Fix typo
  articles/data-factory/data-flow-expression-functions.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#28712 Fix typo
  articles/machine-learning/data-science-virtual-machine/provision-geo-ai-dsvm.md
Labels: Change sent to author, data-science-vm/subsvc, do-not-merge, machine-learning/svc

#28713 Fix typo
  articles/migrate/contoso-migration-rehost-linux-vm.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#28714 Fix typo
  articles/role-based-access-control/built-in-roles.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#28716 Fix typo
  articles/storage/queues/storage-quickstart-queues-dotnet.md
Labels: Change sent to author, do-not-merge, storage/svc

#28718 Fix typo
  articles/traffic-manager/scripts/traffic-manager-powershell-websites-high-availability.md
Labels: Change sent to author, do-not-merge, traffic-manager/svc

#28717 Fix typo
  articles/traffic-manager/scripts/traffic-manager-cli-websites-high-availability.md
Labels: Change sent to author, do-not-merge, traffic-manager/svc

#28736 Fix api-version query string in create-managed-service-identity.md
  articles/logic-apps/create-managed-service-identity.md
Labels: Change sent to author, do-not-merge, logic-apps/svc

#28721 Fix lack of explanation
  articles/cognitive-services/Bing-Image-Search/bing-image-search-resource-faq.md
Labels: Change sent to author, bing-image-search/subsvc, cognitive-services/svc, ready-to-merge

#28787 Updating Support for Changing Root Certificates
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28773 Added expected results from orchestration trigger
  articles/azure-functions/durable/quickstart-js-vscode.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#28797 Update cert requirements to allow new roots in 1903
  articles/azure-stack/azure-stack-pki-certs.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28794 Update userjourneys.md
  articles/active-directory-b2c/userjourneys.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#28800 Fix typo
  articles/active-directory/saas-apps/edigitalresearch-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#28802 Fix typo
  articles/cost-management/understanding-cost-reports.md
Labels: Change sent to author, cost-management/svc, do-not-merge

#28851 Updated the missing Equals any operator
  articles/application-gateway/application-gateway-waf-configuration.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#28808 Fix typo
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#28813 Typo
  articles/active-directory/manage-apps/application-proxy-migration.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, do-not-merge

#28825 Update azure-stack-quick-create-vm-linux-cli.md
  articles/azure-stack/user/azure-stack-quick-create-vm-linux-cli.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28853 Removing extraneous period from command to enable logging
  articles/active-directory/hybrid/how-to-connect-health-agent-install.md
Labels: Change sent to author, active-directory/svc, do-not-merge

#28862 Update how-to-configure-firewall.md
  articles/cosmos-db/how-to-configure-firewall.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#28816 Added PowerShell commands and cookie domain
  articles/application-gateway/troubleshoot-app-service-redirection-app-service-url.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#28500 Update statement on allowed devices
  articles/azure-stack/azure-stack-integrate-monitor.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28867 Updating the Error code description - AADSTS50011
  articles/active-directory/develop/reference-aadsts-error-codes.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#28868 Update language support
  articles/cognitive-services/Translator/language-support.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, translator-text/subsvc

#28884 Marketplace charges not available for PAYG.
  articles/cost-management/understand-cost-mgt-data.md
Labels: Change sent to author, cost-management/svc, ready-to-merge

#28762 Fix for Tutorial: Azure SignalR Service authentication with Azure Fun…
  articles/azure-signalr/signalr-tutorial-authenticate-azure-functions.md
Labels: Change sent to author, ready-to-merge, signalr/svc

#26152 Adjusting command to get IR Key
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#28983 Syntax Error
  articles/service-fabric/service-fabric-reliable-services-communication-aspnetcore.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#28896 ADLS Gen1 not supported with HDInsight 4.0
  articles/hdinsight/hdinsight-hadoop-use-data-lake-store.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#28949 Change to not translate unique names
  articles/azure-stack/azure-stack-rotate-secrets.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#26481 Updating print command
  articles/data-factory/transform-data-using-databricks-notebook.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#28879 Procedure not supported on VMs with multiple NICs.
  articles/virtual-machines/windows/sql/virtual-machines-windows-sql-ahb.md
Labels: Change sent to author, ready-to-merge, virtual-machines-sql/svc

#28880 Update azure-stack-managed-disk-considerations.md
  articles/azure-stack/user/azure-stack-managed-disk-considerations.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28883 Update azure-stack-solution-template-service-fabric-cluster.md
  articles/azure-stack/user/azure-stack-solution-template-service-fabric-cluster.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28913 fix: MD039/no-space-in-links
  articles/active-directory/saas-apps/edubrite-lms-tutorial.md
  articles/active-directory/saas-apps/insideview-tutorial.md
  articles/active-directory/saas-apps/itrp-tutorial.md
  articles/active-directory/saas-apps/mitel-connect-tutorial.md
  articles/active-directory/saas-apps/mobicontrol-tutorial.md
  articles/active-directory/saas-apps/oc-tanner-tutorial.md
  articles/active-directory/saas-apps/pagedna-tutorial.md
  articles/active-directory/saas-apps/perceptionunitedstates-tutorial.md
  articles/active-directory/saas-apps/percolate-tutorial.md
  articles/active-directory/saas-apps/policystat-tutorial.md
  articles/active-directory/saas-apps/questetra-bpm-suite-tutorial.md
  articles/active-directory/saas-apps/quickhelp-tutorial.md
  articles/active-directory/saas-apps/rackspacesso-tutorial.md
  articles/active-directory/saas-apps/rally-software-tutorial.md
  articles/active-directory/saas-apps/realtimeboard-tutorial.md
  articles/active-directory/saas-apps/recognize-tutorial.md
  articles/active-directory/saas-apps/redvector-tutorial.md
  articles/active-directory/saas-apps/reflektive-tutorial.md
  articles/active-directory/saas-apps/rolepoint-tutorial.md
  articles/active-directory/saas-apps/sap-fiori-tutorial.md
  articles/active-directory/saas-apps/tableauonline-tutorial.md
  articles/active-directory/saas-apps/teamphoria-tutorial.md
  articles/active-directory/saas-apps/teamseer-tutorial.md
  articles/active-directory/saas-apps/thirdlight-tutorial.md
  articles/active-directory/saas-apps/thirdpartytrust-tutorial.md
  articles/active-directory/saas-apps/thoughtworks-mingle-tutorial.md
  articles/active-directory/saas-apps/thousandeyes-tutorial.md
  articles/active-directory/saas-apps/tidemark-tutorial.md
  articles/active-directory/saas-apps/tigertext-tutorial.md
  articles/active-directory/saas-apps/timelive-tutorial.md
  articles/active-directory/saas-apps/timeoffmanager-tutorial.md
  articles/active-directory/saas-apps/tinfoil-security-tutorial.md
  articles/active-directory/saas-apps/tivitz-tutorial.md
  articles/active-directory/saas-apps/tonicdm-tutorial.md
  articles/active-directory/saas-apps/trackvia-tutorial.md
  articles/active-directory/saas-apps/trakopolis-tutorial.md
  articles/active-directory/saas-apps/trakstar-tutorial.md
  articles/active-directory/saas-apps/trisotechdigitalenterpriseserver-tutorial.md
  articles/active-directory/saas-apps/turborater-tutorial.md
  articles/active-directory/saas-apps/uberflip-tutorial.md
  articles/active-directory/saas-apps/userecho-tutorial.md
  articles/active-directory/saas-apps/uservoice-tutorial.md
  articles/active-directory/saas-apps/veritas-tutorial.md
  articles/active-directory/saas-apps/versal-tutorial.md
  articles/active-directory/saas-apps/vibehcm-tutorial.md
  articles/active-directory/saas-apps/vidyard-tutorial.md
  articles/active-directory/saas-apps/vodeclic-tutorial.md
  articles/active-directory/saas-apps/vxmaintain-tutorial.md
  articles/active-directory/saas-apps/wdesk-tutorial.md
  articles/active-directory/saas-apps/weekdone-tutorial.md
  articles/active-directory/saas-apps/wikispaces-tutorial.md
  articles/active-directory/saas-apps/wingspanetmf-tutorial.md
  articles/active-directory/saas-apps/wizergosproductivitysoftware-tutorial.md
  articles/active-directory/saas-apps/wrike-tutorial.md
  articles/frontdoor/waf-faq.md
  articles/iot-accelerators/howto-opc-twin-deploy-existing.md
  articles/iot-accelerators/overview-iot-industrial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#28970 Update azure-stack-manage-permissions.md
  articles/azure-stack/user/azure-stack-manage-permissions.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#29007 Budget billing period alignment for Pay-As-You-Go
  articles/cost-management/tutorial-acm-create-budgets.md
Labels: Change sent to author, cost-management/svc, ready-to-merge

#29008 syslog issue
  articles/azure-stack/azure-stack-update-1903.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#29009 syslog issue
  articles/azure-stack/azure-stack-update-1902.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#29010 syslog issue
  articles/azure-stack/azure-stack-update-1901.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#29012 Syslog issue
  articles/azure-stack/azure-stack-update-1811.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#28942 Clean up library examples in design patterns page
  articles/storage/tables/table-storage-design-patterns.md
Labels: Change sent to author, do-not-merge, storage/svc, tables/subsvc

#28962 Updated author to rohinkoul
  articles/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#29036 typo: Double word "this"
  articles/virtual-network/virtual-networks-dmz-nsg-fw-udr-asm.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#29044 Update data-box-disk-deploy-picked-up.md
  articles/databox/data-box-disk-deploy-picked-up.md
Labels: Change sent to author, databox/svc, disk/subsvc, ready-to-merge

#29038 Update ip-addresses.md
  articles/azure-monitor/app/ip-addresses.md
Labels: Change sent to author, application-insights/svc, ready-to-merge

#28947 Change to not translate unique names
  articles/azure-monitor/platform/data-sources-alerts-nagios-zabbix.md
Labels: Change sent to author, log-analytics/svc, ready-to-merge

#29067 Fixed typo on L42
  articles/azure-monitor/insights/ad-replication-status.md
Labels: Change sent to author, do-not-merge, log-analytics/svc

#28759 Update MSDN links, Part 21
  articles/data-lake-analytics/data-lake-analytics-data-lake-tools-data-skew-solutions.md
  articles/data-lake-analytics/data-lake-analytics-data-lake-tools-develop-usql-database.md
  articles/data-lake-analytics/data-lake-analytics-data-lake-tools-export-database.md
  articles/data-lake-analytics/data-lake-analytics-u-sql-cognitive.md
  articles/data-lake-analytics/data-lake-analytics-u-sql-develop-user-defined-operators.md
  articles/data-lake-analytics/data-lake-analytics-u-sql-get-started.md
  articles/data-lake-analytics/data-lake-analytics-u-sql-programmability-guide.md
Labels: Change sent to author, data-lake-analytics/svc, do-not-merge

#29094 Fixed a typo 'doman' -> 'domain' on line 35 of articles/frontdoor/index.yml
  articles/frontdoor/index.yml
Labels: Change sent to author, do-not-merge

#29032 syntax change
  articles/machine-learning/service/how-to-configure-environment.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#29068 Add supported pricing tiers for containers
  articles/cognitive-services/cognitive-services-container-support.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge

#29098 Update azure-stack-update-1902.md
  articles/azure-stack/azure-stack-update-1902.md
Labels: Change sent to author, azure-stack/svc, ready-to-merge

#29100 added ms.custom tag for reporting
  articles/batch/batch-ci-cd.md
Labels: Change sent to author, ready-to-merge

#28899 Update v2-oauth2-auth-code-flow.md
  articles/active-directory/develop/v2-oauth2-auth-code-flow.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge
