Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-06, with the labels that each got.

#55952 update SAML Attribute and Identifier requirement
  articles/active-directory/saas-apps/slack-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#56029 Update Note on filter update
  articles/service-bus-messaging/topic-filters.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-bus-messaging/svc

#55999 Fixing broken markdown links
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-reference-tsql-language-elements.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, synapse-analytics/svc

#56023 Correct typographical error
  articles/governance/management-groups/manage.md
Labels: Change sent to author, do-not-merge, governance/svc

#56061 Fix misspelling in title
  articles/azure-sql/virtual-machines/linux/sql-vm-create-portal-quickstart.md
Labels: Change sent to author, do-not-merge, virtual-machines-sql/svc

#56079 Corrected typo
  articles/azure-functions/security-concepts.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#56091 (AzureCXP) Doc update with Roles value in capitilized
  articles/sentinel/roles.md
Labels: Change sent to author, aq-pr-triaged, azure-sentinel/subsvc, azure-sentinel/svc, ready-to-merge

#55442 Update how-to-provision-container-throughput.md
  articles/cosmos-db/how-to-provision-container-throughput.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#55950 Update create-cosmosdb-resources-portal.md with the latest creation p…
  articles/cosmos-db/create-cosmosdb-resources-portal.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, ready-to-merge

#54012 Update AzureEventGrid service tag "purpose" column
  articles/virtual-network/service-tags-overview.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#56002 updated add subscription to Azure AD tenant link
  articles/cost-management-billing/manage/add-change-subscription-administrator.md
Labels: Change sent to author, aq-pr-triaged, cost-management-billing/svc, do-not-merge

#55771 Corrected the az keyvault update syntax, since location is an invalid…
  articles/key-vault/general/private-link-service.md
Labels: Change sent to author, aq-pr-triaged, general/subsvc, key-vault/svc, ready-to-merge

#56116 Update edv4-edsv4-series.md
  articles/virtual-machines/edv4-edsv4-series.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#56117 Update ddv4-ddsv4-series.md
  articles/virtual-machines/ddv4-ddsv4-series.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#53128 Update for scheduled-events.md
  articles/virtual-machines/linux/scheduled-events.md
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#56131 Add license requirement back
  articles/active-directory/develop/active-directory-configurable-token-lifetimes.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#56072 Minor update statement order.
  articles/azure-signalr/includes/signalr-quickstart-run-web-application.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, signalr/svc

#56176 Azure portal url fix
  articles/backup/tutorial-backup-windows-server-to-azure.md
Labels: Change sent to author, backup/svc, do-not-merge

#55481 Don't wipeout any existing rule collections
  articles/firewall/deploy-ps.md
Labels: Change sent to author, aq-pr-triaged, firewall/svc, ready-to-merge

#55924 Missing backtick on line 52
  articles/firewall/deploy-availability-zone-powershell.md
Labels: Change sent to author, aq-pr-triaged, firewall/svc, ready-to-merge

#55935 Remove Create a public IP address
  articles/firewall/tutorial-hybrid-portal.md
Labels: Change sent to author, aq-pr-triaged, firewall/svc, ready-to-merge

#56204 Update notification-hubs-push-notification-faq.md
  articles/notification-hubs/notification-hubs-push-notification-faq.md
Labels: Change sent to author, aq-pr-triaged, notification-hubs/svc, ready-to-merge

#56219 Typo in sysprep tool
  includes/virtual-machines-common-shared-image-galleries.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#56096 Not required to pass -DefaultProfile
  articles/automation/automation-windows-hrw-install.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge, process-automation/subsvc

#56163 Update migrate-java-v4-sdk.md
  articles/cosmos-db/migrate-java-v4-sdk.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#55523 Updated the 2 steps
  articles/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm.md
Labels: Change sent to author, aq-pr-triaged, notification-hubs/svc, ready-to-merge

#53446 Adding 2019 to list of support client OS.
  includes/vpn-gateway-faq-p2s-all-include.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, vpn-gateway/svc

#54187 Update event-hubs-limits.md
  includes/event-hubs-limits.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, event-hubs/svc

#56140 Fix link
  articles/azure-sql/database/saas-multitenantdb-get-started-deploy.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, scenario/subsvc, sql-database/svc

#56213 typo: removed is
  articles/static-web-apps/add-api.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, static-web-apps/svc

#55820 Update Search Admin role
  articles/active-directory/users-groups-roles/directory-assign-admin-roles.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, users-groups-roles/subsvc

#55803 Global admin clarification
  articles/active-directory/users-groups-roles/directory-assign-admin-roles.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, users-groups-roles/subsvc

#55980 Update effective-routes-virtual-hub.md
  articles/virtual-wan/effective-routes-virtual-hub.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-wan/svc

#54211 Update migrate-from-hub-spoke-topology.md
  articles/virtual-wan/migrate-from-hub-spoke-topology.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-wan/svc

#49312 Update vpn-gateway-about-vpn-devices.md
  articles/vpn-gateway/vpn-gateway-about-vpn-devices.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, vpn-gateway/svc

#55720 Update peaceiris/actions-hugo
  articles/static-web-apps/publish-hugo.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#55936 add Azure Spring Cloud in the list of services that support MSI
  articles/active-directory/managed-identities-azure-resources/services-support-managed-identities.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, msi/subsvc, ready-to-merge

#55951 Updates to example script
  articles/synapse-analytics/sql/create-external-table-as-select.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, synapse-analytics/svc

#55963 Adding changes to Environment constraints
  articles/azure-sql/managed-instance/transact-sql-tsql-differences-sql-server.md
Labels: Change sent to author, aq-pr-triaged, operations/subsvc, ready-to-merge, sql-database/svc

#56258 Fix 'primaryScriptUris' -> 'primaryScriptUri'
  articles/azure-resource-manager/templates/deployment-script-template.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#56228 Update ddv4-ddsv4-series.md
  articles/virtual-machines/ddv4-ddsv4-series.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#54807 Unified the terminology
  articles/frontdoor/front-door-faq.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#50513 Update the Unsupported SKUs for IKEv1
  includes/vpn-gateway-faq-ipsecikepolicy-include.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, vpn-gateway/svc

#56227 Update edv4-edsv4-series.md
  articles/virtual-machines/edv4-edsv4-series.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#56197 Update functions-create-function-linux-custom-image.md
  articles/azure-functions/functions-create-function-linux-custom-image.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#56305 fix spelling error
  articles/active-directory/authentication/howto-sspr-deployment.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#56301 Update create-file-share.md
  articles/virtual-desktop/create-file-share.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-desktop/svc

#56241 Add description of how to use NO proxy
  articles/storage/common/storage-use-azcopy-configure.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#56015 Fixes issue #54596
  articles/asc-for-iot/how-to-deploy-agent.md
Labels: Change sent to author, aq-pr-triaged, asc-for-iot/subsvc, asc-for-iot/svc, ready-to-merge

#56152 Update storage-network-security.md
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#56328 Increase initiative definition tenant limit
  includes/azure-policy-limits.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#56346 Added the latest version(3.0.3) link for the connector
  articles/cosmos-db/spark-connector.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#56146 Updated Supported regions for Azure Arc
  articles/azure-arc/servers/overview.md
Labels: Change sent to author, aq-pr-triaged, azure-arc-servers/subsvc, azure-arc/svc, do-not-merge

#56326 Update TOC.yml
  articles/media-services/latest/TOC.yml
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#54405 updating the ingress limit to 10Gbps and set metadata to reflect the …
  articles/storage/blobs/storage-blob-container-properties-metadata.md
  includes/azure-storage-account-limits-standard.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, storage/svc

#56325 Update authentication.md
  articles/spatial-anchors/concepts/authentication.md
Labels: Change sent to author, aq-pr-triaged, azure-spatial-anchors/svc, do-not-merge

#54704 Add link for ASP.NET Core applications
  articles/azure-cache-for-redis/cache-aspnet-output-cache-provider.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#55638 Add correct disposal pattern to code block
  articles/azure-cache-for-redis/cache-web-app-howto.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#54705 Add link for ASP.NET Core applications
  articles/azure-cache-for-redis/cache-aspnet-session-state-provider.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#56404 Update the topologyURL
  articles/media-services/live-video-analytics-edge/event-based-video-recording-tutorial.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#53095 Update cache-best-practices.md
  articles/azure-cache-for-redis/cache-best-practices.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#56344 Proper async main
  articles/storage/blobs/storage-quickstart-blobs-dotnet-legacy.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, do-not-merge, storage/svc

#56257 spring-cloud: new way to query url from app details
  articles/spring-cloud/spring-cloud-quickstart-launch-app-cli.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, spring-cloud/svc

#56425 Fix typo
  articles/app-service/webjobs-sdk-how-to.md
Labels: Change sent to author, app-service/svc, do-not-merge

#56426 Fix typo
  articles/azure-monitor/platform/metrics-supported.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, metrics/subsvc

#56427 Fix typo
  articles/cognitive-services/Speech-Service/windows-voice-assistants-faq.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#56428 Fix typo
  articles/cosmos-db/configure-synapse-link.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#56436 Changed 'use' to 'used'
  articles/azure-monitor/overview.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#56424 Fix typo
  articles/active-directory/saas-apps/github-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#56223 Update concepts-networking.md
  articles/azure-vmware/concepts-networking.md
Labels: Change sent to author, azure-vmware/svc, do-not-merge

#56493 "`" should be replaced by "\" for Azure CLI
  articles/virtual-machines/extensions/hpccompute-gpu-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#56487 fix broken and duplicate <sup> tags in virtual-network-for-azure-services.md
  articles/virtual-network/virtual-network-for-azure-services.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#56601 Update advisor-get-started.md
  articles/advisor/advisor-get-started.md
Labels: Change sent to author, advisor/svc, do-not-merge

#55725 Updating to reflect UI changes
  articles/active-directory/saas-apps/intacct-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#56439 Update anyone-home-crm-tutorial.md
  articles/active-directory/saas-apps/anyone-home-crm-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#56552 Corrected spelling for Azure
  articles/storage/files/storage-files-identity-auth-active-directory-domain-service-enable.md
Labels: Change sent to author, files/subsvc, ready-to-merge, storage/svc

#56564 Changed casing: "Powershell" -> "PowerShell"
  articles/virtual-machines/windows/capture-image-resource.md
Labels: Change sent to author, do-not-merge, imaging/subsvc, virtual-machines-windows/svc

#56576 Fix sentence fragments in Log alerts opening paragraph
  articles/azure-monitor/platform/alerts-unified-log.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, do-not-merge

#56592 Update logins-create-manage.md
  articles/azure-sql/database/logins-create-manage.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-database/svc

#56613 Typos for Active Directory Links
  articles/azure-monitor/platform/platform-logs-overview.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#56548 Using single quotes works everywhere
  articles/storage/blobs/storage-blob-static-website-how-to.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#56551 Grammar and clarity updates
  articles/active-directory/conditional-access/location-condition.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#56590 Add AZ in scope section
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#56660 Fix typo in Microsoft.Compute naming rules
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, azure-resource-manager/svc, management/subsvc, ready-to-merge

#56661 Update REST API example to instance API
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-ids.md
Labels: Change sent to author, management/subsvc, ready-to-merge, virtual-machine-scale-sets/svc

#56628 Bias-free communication Note
  articles/mysql/howto-data-in-replication.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#56630 Bias-Free Communications Note
  articles/mariadb/howto-data-in-replication.md
Labels: Change sent to author, mariadb/svc, ready-to-merge

#56631 Bias-Free Communications Note
  articles/mysql/howto-create-users.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#56633 Bias-Free Communications Note
  articles/mariadb/howto-create-users.md
Labels: Change sent to author, mariadb/svc, ready-to-merge

#56635 Bias-Free Communications Note
  articles/mysql/concepts-read-replicas.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#56641 Added Bias-Free Communications Note
  articles/mariadb/concepts-read-replicas.md
Labels: Change sent to author, mariadb/svc, ready-to-merge

#56629 Bias-Free Communications Note
  articles/hdinsight/hdinsight-high-availability-components.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#56637 Add Bias-Free Communications Note
  articles/dms/known-issues-troubleshooting-dms.md
Labels: Change sent to author, dms/svc, do-not-merge

#56639 Bias-Free Communications Note
  articles/dms/tutorial-mysql-azure-mysql-online.md
Labels: Change sent to author, dms/svc, do-not-merge

#56651 Added Bias-Free Communications Note
  articles/azure-cache-for-redis/cache-administration.md
Labels: Change sent to author, cache/svc, do-not-merge

#55736 Correct paragraph about rate-limiting
  articles/cosmos-db/set-throughput.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#56662 fix typo
  articles/azure-monitor/platform/private-storage.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#56669 Updated parameterization template
  articles/data-factory/continuous-integration-deployment.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#56667 Fix typo in deprovisioning section
  articles/active-directory/app-provisioning/how-provisioning-works.md
Labels: Change sent to author, active-directory/svc, app-provisioning/subsvc, do-not-merge

#56675 corrected CLI command as it was missing '$'
  articles/key-vault/general/subscription-move-fix.md
Labels: Change sent to author, general/subsvc, key-vault/svc, ready-to-merge

#56693 Sentence is wrongly worded, remove word "apply".
  articles/storage/common/storage-account-upgrade.md
Labels: Change sent to author, ready-to-merge, storage/svc

#56659 Update concepts-networking.md
  articles/azure-vmware/concepts-networking.md
Labels: Change sent to author, aq-pr-triaged, azure-vmware/svc, do-not-merge

#56713 fixed link to manage stale devices
  articles/active-directory/devices/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, do-not-merge

#56689 Added one missing events
  articles/active-directory/fundamentals/concept-fundamentals-continuous-access-evaluation.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#56730 example method `Run` should be in PascalCase
  articles/azure-functions/functions-create-your-first-function-visual-studio.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#43567 Update expressroute-routing.md
  articles/expressroute/expressroute-routing.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, expressroute/svc

#56744 broken link fixed.
  articles/mobile-apps/index.yml
Labels: do-not-merge, review-team-triage

#56307 Fix attested metadata example: wget user agent is blocked by microsoft.com
  articles/virtual-machines/linux/instance-metadata-service.md
Labels: Change sent to author, aq-pr-triaged, monitoring/subsvc, ready-to-merge, virtual-machines-linux/svc, virtual-machines/svc

#56874 Correct function.jon typo to function.json
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#56876 Updated formatting in Azure networking services
  articles/networking/networking-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#56904 Clarify AllowCloudPasswordValidation use
  articles/active-directory/manage-apps/configure-authentication-for-federated-users-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, do-not-merge

#49832 Call out to replace subnet name
  articles/private-link/disable-private-link-service-network-policy.md
Labels: Change sent to author, aq-pr-triaged, private-link/svc, ready-to-merge

#56916 Add new AI ingestion IP address for East US 2
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#56919 Update ddv4-ddsv4-series.md
  articles/virtual-machines/ddv4-ddsv4-series.md
Labels: Change sent to author, ready-to-merge, sizes/subsvc, virtual-machines/svc

#56940 limit-concurrency example is invalid xml
  articles/api-management/api-management-advanced-policies.md
Labels: Change sent to author, api-management/svc, do-not-merge

#56928 Add EastUS to regions
  articles/azure-arc/servers/onboard-portal.md
Labels: Change sent to author, azure-arc-servers/subsvc, azure-arc/svc, do-not-merge

#56966 fixed grammar
  articles/data-factory/concepts-integration-runtime.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#56238 Update disaster-recovery.md
  articles/azure-vmware/disaster-recovery.md
Labels: Change sent to author, aq-pr-triaged, azure-vmware/svc, do-not-merge

#56959 Update create-file-share.md
  articles/virtual-desktop/create-file-share.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#56964 Update create-file-share.md
  articles/virtual-desktop/create-file-share.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#56972 fixed small typo in backup-azure-delete-vault
  articles/backup/backup-azure-delete-vault.md
Labels: Change sent to author, backup/svc, do-not-merge

#56975 Fix typo in container registration method name
  articles/machine-learning/how-to-access-data.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#56237 Update introduction.md
  articles/azure-vmware/introduction.md
Labels: Change sent to author, aq-pr-triaged, azure-vmware/svc, do-not-merge

#56295 Update azure-disks-dynamic-pv.md - Disk Caching for 4Ti
  articles/aks/azure-disks-dynamic-pv.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#56584 To disable "route propagation" is not mandatory.
  articles/firewall/tutorial-hybrid-portal.md
Labels: Change sent to author, aq-pr-triaged, firewall/svc, ready-to-merge

#56969 Added ServiceNow requirements
  articles/active-directory/saas-apps/servicenow-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#56979 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#56983 typo: time > item
  articles/logic-apps/logic-apps-create-variables-store-values.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#56982 typo
  articles/aks/managed-aad.md
Labels: Change sent to author, container-service/svc, do-not-merge

#56988 trailing part ( }` ) is typo or extra
  articles/virtual-machines/extensions/hpccompute-gpu-linux.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#56995 Update whats-new.md
  articles/virtual-desktop/whats-new.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#57006 Fixed typo (genral -> general)
  articles/storage/blobs/storage-blob-event-overview.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#57007 Removed misplaced tag <a>
  articles/event-grid/event-schema-blob-storage.md
Labels: Change sent to author, do-not-merge, event-grid/svc

#57039 Update Typo on the document
  includes/virtual-machines-common-shared-images-cli.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#56893 updated managedapp url in ps command
  articles/marketplace/partner-center-portal/marketplace-metering-service-authentication.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#57101 Fixing grammatical error
  articles/active-directory/app-provisioning/skip-out-of-scope-deletions.md
Labels: Change sent to author, active-directory/svc, app-provisioning/subsvc, do-not-merge

#57151 removed CSV in title as article is valid for all file formats
  articles/synapse-analytics/sql/query-folders-multiple-csv-files.md
Labels: Change sent to author, ready-to-merge, synapse-analytics/svc

#56504 Update cache-administration.md
  articles/azure-cache-for-redis/cache-administration.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#57143 typo
  articles/storage/blobs/storage-blob-container-properties-metadata.md
Labels: Change sent to author, ready-to-merge, storage/svc

#57109 Link to AutoML-based classification tutorial
  articles/machine-learning/concept-automated-ml.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#57141 Removed an extra ')' character
  articles/key-vault/general/event-grid-overview.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#57166 Fix wording in steps for Locking a Resource group
  articles/azure-resource-manager/management/manage-resource-groups-portal.md
Labels: Change sent to author, azure-resource-manager/svc, management/subsvc, ready-to-merge

#56650 add ARM template example for existing AKS
  articles/machine-learning/how-to-deploy-azure-kubernetes-service.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#56336 Remove unnecessary spaces from CLI samples
  includes/virtual-machines-disks-getting-started-ultra-ssd.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#56920 Add Azure Cognitive Search
  articles/active-directory/managed-identities-azure-resources/services-support-managed-identities.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, msi/subsvc, ready-to-merge

#56968 Point to right spark release version
  articles/aks/spark-job.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#57179 fixing typo
  includes/private-link-limits.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#56967 A step to install Apache Maven in Prerequisites
  articles/aks/spark-job.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#57112 Update pim-deployment-plan.md
  articles/active-directory/privileged-identity-management/pim-deployment-plan.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, pim/subsvc

#57186 [Event Hubs Documentation] Features Overview
  articles/event-hubs/event-hubs-features.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, event-hubs/svc
