Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-12, with the labels that each got.

#66388 Add summary table of authorization options
  articles/aks/concepts-identity.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#66495 Fixed incorrect calculation
  articles/cosmos-db/optimize-cost-regions.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#66926 Update event-schema-key-vault.md
  articles/event-grid/event-schema-key-vault.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#66913 Update resilience-overview.md
  articles/active-directory/fundamentals/resilience-overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc

#57547 Update expressroute-faqs.md
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, aq-pr-triaged, expressroute/svc, ready-to-merge

#66766 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/machine-learning/how-to-set-up-vs-code-remote.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#66728 Typo "Jupyter notebooks"→"Jupyter Notebooks"
  articles/machine-learning/samples-notebooks.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#62847 Added notes for RDN values that contain commas.
  articles/key-vault/certificates/create-certificate-signing-request.md
Labels: Change sent to author, aq-pr-triaged, certificates/subsvc, key-vault/svc, ready-to-merge

#66831 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/cognitive-services/Face/QuickStarts/Python.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, face-api/subsvc

#62483 Update virtual-network-powershell-sample-filter-network-traffic.md
  articles/virtual-network/scripts/virtual-network-powershell-sample-filter-network-traffic.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#66937 Typo - Missing parentheses
  articles/cosmos-db/monitor-cosmos-db.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#66694 Fix profile name in default storage class example
  articles/azure-arc/data/create-data-controller-using-azdata.md
Labels: Change sent to author, aq-pr-triaged, azure-arc-data/subsvc, azure-arc/svc, ready-to-merge

#65288 Update Azure AAD library name
  articles/key-vault/secrets/quick-create-python.md
Labels: Change sent to author, aq-pr-triaged, key-vault/svc, ready-to-merge, secrets/subsvc

#66924 Update storage-how-to-mount-container-linux.md
  articles/storage/blobs/storage-how-to-mount-container-linux.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, do-not-merge, storage/svc

#65955 Typo "Azure data encryption"→"Azure Data Encryption"
  articles/security/fundamentals/encryption-atrest.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security-fundamentals/subsvc, security/svc

#66655 Update create-certificate-signing-request.md
  articles/key-vault/certificates/create-certificate-signing-request.md
Labels: Change sent to author, aq-pr-triaged, certificates/subsvc, key-vault/svc, ready-to-merge

#66709 Updated nva-work-remotely-support.md
  articles/vpn-gateway/nva-work-remotely-support.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, vpn-gateway/svc

#66307 Correct variable name for Route Table
  articles/virtual-network/tutorial-create-route-table-powershell.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#66889 Type "Azure Cosmos Emulator"→"Azure Cosmos DB Emulator"
  articles/cosmos-db/local-emulator-release-notes.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#64858 Update vpn-over-expressroute.md
  articles/virtual-wan/vpn-over-expressroute.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-wan/svc

#66920 adding Embedded C SDK references to documents
  articles/iot-hub/about-iot-hub.md
  articles/iot-hub/iot-hub-devguide-develop-for-constrained-devices.md
  articles/iot-hub/iot-hub-devguide-sdks.md
  articles/iot-hub/iot-hub-device-sdk-c-intro.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub/svc

#66167 It should be "Policies" instead of "Policy" (how-to-connect-sso-quick-start.md)
  articles/active-directory/hybrid/how-to-connect-sso-quick-start.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#66168 Added Edge to a note in how-to-connect-sso-quick-start.md
  articles/active-directory/hybrid/how-to-connect-sso-quick-start.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#66272 removed the undefined variable
  articles/key-vault/certificates/how-to-export-certificate.md
Labels: Change sent to author, aq-pr-triaged, certificates/subsvc, key-vault/svc, ready-to-merge

#66304 Update unsupported scenarios explicitly
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#66506 Typo "Azure compute emulator"→"Azure Compute Emulator"
  articles/storage/common/storage-use-emulator.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#66715 Update apache-spark-performance-hyperspace.md
  articles/synapse-analytics/spark/apache-spark-performance-hyperspace.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc

#65602 Update reference-connect-government-cloud.md
  articles/active-directory/hybrid/reference-connect-government-cloud.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#66931 Update whats-new.md
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#67009 AzureAD access tokens: fix url markdown
  articles/active-directory/develop/access-tokens.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#66832 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/hdinsight/spark/apache-spark-jupyter-notebook-install-locally.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#66943 Update hdinsight-management-ip-addresses.md
  articles/hdinsight/hdinsight-management-ip-addresses.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#66983 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/hdinsight/spark/troubleshoot-jupyter-notebook-convert.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#67012 Update disaster-recovery-guidance.md
  articles/key-vault/general/disaster-recovery-guidance.md
Labels: Change sent to author, general/subsvc, key-vault/svc, ready-to-merge

#66990 Azure ML Authentication - adding missing word
  articles/machine-learning/how-to-setup-authentication.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#66934 Update TOC.yml (Type "Azure Cosmos explorer"→"Azure Cosmos DB Explorer")
  articles/cosmos-db/TOC.yml
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#67020 Fixed example queries
  articles/azure-monitor/app/pricing.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, do-not-merge

#67042 Change br to be so the sentence makes sense.
  articles/azure-monitor/platform/data-platform-logs.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#67043 Adding an or to a sentence for clarity
  articles/azure-monitor/platform/data-platform-logs.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#65918 Update app-service-configure-premium-tier.md
  articles/app-service/app-service-configure-premium-tier.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#66965 Update user-access-token-js.md
  articles/communication-services/quickstarts/includes/user-access-token-js.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/subsvc, azure-communication-services/svc, ready-to-merge

#67040 Clarify the specific GitHub integration
  articles/active-directory/saas-apps/github-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#67056 Adding an example of using the On-Behalf-Of flow with the Python MSAL library
  articles/active-directory/develop/scenario-web-api-call-api-acquire-token.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#67069 Typo "Jupyter notebook"→"Jupyter Notebook
  articles/machine-learning/data-science-virtual-machine/vm-do-ten-things.md
Labels: Change sent to author, aq-pr-triaged, data-science-vm/subsvc, do-not-merge, machine-learning/svc

#66917 Update ACS web calling documentation
  articles/communication-services/concepts/voice-video-calling/calling-sdk-features.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, ready-to-merge

#67108 Update push-kv-devops-pipeline.md
  articles/azure-app-configuration/push-kv-devops-pipeline.md
Labels: Change sent to author, azure-app-configuration/svc, do-not-merge

#67107 Update pull-key-value-devops-pipeline.md
  articles/azure-app-configuration/pull-key-value-devops-pipeline.md
Labels: Change sent to author, azure-app-configuration/svc, do-not-merge

#66617 Update authentication.md
  articles/communication-services/concepts/authentication.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, do-not-merge

#67119 Update tutorial-network-checklist.md
  articles/azure-vmware/tutorial-network-checklist.md
Labels: Change sent to author, aq-pr-triaged, azure-vmware/svc, ready-to-merge

#67124 add Azure CLI links for azure-vmware
  articles/azure-vmware/index.yml
  articles/azure-vmware/toc.yml
Labels: Change sent to author, aq-pr-triaged, azure-vmware/svc, do-not-merge

#67072 Update public doc for subnets/write not required
  articles/aks/kubernetes-service-principal.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#67092 Fix minor grammar mistakes
  articles/event-hubs/event-hubs-geo-dr.md
Labels: Change sent to author, aq-pr-triaged, event-hubs/svc, ready-to-merge

#67117 Update send-sms-python.md
  articles/communication-services/quickstarts/telephony-sms/includes/send-sms-python.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/subsvc, azure-communication-services/svc, do-not-merge

#67131 Fixed typo
  articles/migrate/troubleshoot-changed-block-tracking-replication.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#67207 Update device code supported tenants (authentication-flows-app-scenarios.md)
  articles/active-directory/develop/authentication-flows-app-scenarios.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#61720 Clarify definition of "enabled" peering
  articles/virtual-network/virtual-network-manage-peering.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#67221 Update deploy-github-actions.md
  articles/app-service/deploy-github-actions.md
Labels: Change sent to author, app-service/svc, do-not-merge

#67178 Minor updates to grammar and terminology
  articles/service-fabric/service-fabric-hosting-lifecycle.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-fabric/svc

#67164 Fix Java demo for App Insight SDK
  articles/azure-monitor/app/api-custom-events-metrics.md
Labels: Change sent to author, application-insights/svc, aq-pr-triaged, do-not-merge

#67068 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/hdinsight/spark/apache-spark-manage-dependencies.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#67258 Fixed minor typos
  articles/load-balancer/load-balancer-outbound-connections.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#67200 -fix "the" duplicate
  articles/load-balancer/load-balancer-custom-probe-overview.md
Labels: Change sent to author, load-balancer/svc, ready-to-merge

#67241 Update configure-azure-ad-cli.md
  articles/openshift/configure-azure-ad-cli.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#67197 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/machine-learning/how-to-machine-learning-interpretability-aml.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#67199 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/machine-learning/tutorial-train-models-with-aml.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#67198 Update documentation-government-ase-disa-cap.md
  articles/azure-government/documentation-government-ase-disa-cap.md
Labels: Change sent to author, aq-pr-triaged, azure-government/svc, do-not-merge

#67184 Update concept-enable-rbac.md
  articles/azure-app-configuration/concept-enable-rbac.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#67171 Update services-support-managed-identities.md
  articles/active-directory/managed-identities-azure-resources/services-support-managed-identities.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, msi/subsvc

#67203 Correct Principle --> Principal in title
  articles/active-directory/hybrid/howto-troubleshoot-upn-changes.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#58607 Update cloudevents-schema.md
  articles/event-grid/cloudevents-schema.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, event-grid/svc

#67226 Update stream-analytics-with-azure-functions.md
  articles/stream-analytics/stream-analytics-with-azure-functions.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, stream-analytics/svc

#67260 Update troubleshoot-outbound-smtp-connectivity.md
  articles/virtual-network/troubleshoot-outbound-smtp-connectivity.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#67065 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/search/search-get-started-python.md
Labels: Change sent to author, aq-pr-triaged, cognitive-search/svc, ready-to-merge

#67265 Update how-to-configure-proxy-support.md
  articles/iot-edge/how-to-configure-proxy-support.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#67075 Update get-started-create-workspace.md
  articles/synapse-analytics/get-started-create-workspace.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, synapse-analytics/svc, workspace/subsvc

#67076 Update get-started-analyze-spark.md
  articles/synapse-analytics/get-started-analyze-spark.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spark/subsvc, synapse-analytics/svc

#66870 Remove parts of legacy docs that creates confusion when implementing the guide.
  articles/service-bus-messaging/service-bus-dotnet-get-started-with-queues.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-bus-messaging/svc

#66567 Correct HTTP port 8050 -> 8060
  articles/data-factory/monitor-integration-runtime.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#67246 Azure Spring Cloud supports system-assigned MSI in China 21Vianet
  articles/active-directory/managed-identities-azure-resources/services-support-managed-identities.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, msi/subsvc, ready-to-merge

#67147 AzureAD scopes fix typo ./default instead of /.default
  articles/active-directory/develop/v2-permissions-and-consent.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#67341 Updating the call to get the connection string
  articles/iot-hub/quickstart-device-streams-proxy-nodejs.md
Labels: Change sent to author, iot-hub/svc, ready-to-merge

#67168 minor corrections
  articles/media-services/live-video-analytics-edge/production-readiness.md
Labels: Change sent to author, aq-pr-triaged, lva-edge/subsvc, media-services/svc, ready-to-merge

#67134 correct supported type values for parameters
  articles/data-factory/continuous-integration-deployment.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#67101 Fix missing space and minor grammatical issues
  articles/key-vault/general/developers-guide.md
Labels: Change sent to author, aq-pr-triaged, general/subsvc, key-vault/svc, ready-to-merge

#66951 Update whats-new.md
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#67027 Update tutorial-create-store-locator.md
  articles/azure-maps/tutorial-create-store-locator.md
Labels: Change sent to author, aq-pr-triaged, azure-maps/svc, do-not-merge

#67269 Added link to shared services
  articles/cost-management-billing/costs/get-started-partners.md
Labels: Change sent to author, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, ready-to-merge

#63350 Number of concurrent connections
  articles/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-bus-messaging/svc

#63683 Await async operation in code examples
  articles/service-bus-messaging/service-bus-partitioning.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-bus-messaging/svc

#65283 RestorefromURLMI_Kekiran.md
  articles/azure-sql/managed-instance/restore-sample-database-quickstart.md
Labels: Change sent to author, aq-pr-triaged, operations/subsvc, ready-to-merge, sql-managed-instance/svc

#67283 GUI Changes.
  articles/active-directory/manage-apps/application-proxy-add-on-premises-application.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#67294 Update tutorial-using-rest-apis.md
  articles/purview/tutorial-using-rest-apis.md
Labels: Change sent to author, aq-pr-triaged, purview-data-catalog/subsvc, purview/svc, ready-to-merge

#67299 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/hdinsight/spark/apache-spark-ipython-notebook-machine-learning.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#67388 Fix typo
  articles/virtual-machines/sizes-b-series-burstable.md
Labels: Change sent to author, ready-to-merge, sizes/subsvc, virtual-machines/svc

#67361 Updated time that managed identities maintain a cached token per resource URI for from 8 to 24 hours
  articles/app-service/overview-managed-identity.md
Labels: Change sent to author, app-service/svc, do-not-merge

#67358 Update howto-integrate-azure-managed-service-identity.md
  articles/azure-app-configuration/howto-integrate-azure-managed-service-identity.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#67373 improve the description of dmgcmd commandline application
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#67377 fix typo in functions-run-local.md
  articles/azure-functions/functions-run-local.md
Labels: do-not-merge, review-team-triage

#67380 Update tutorial-csharp-module-windows.md
  articles/iot-edge/tutorial-csharp-module-windows.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#67385 fixed typo chit chit :)
  articles/cognitive-services/QnAMaker/index.yml
Labels: Change sent to author, do-not-merge

#67406 Update private-endpoint-overview.md
  articles/private-link/private-endpoint-overview.md
Labels: Change sent to author, do-not-merge, private-link/svc

#67359 Update enable-dynamic-configuration-aspnet-core.md
  articles/azure-app-configuration/enable-dynamic-configuration-aspnet-core.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#67289 fixing error
  articles/app-service/quickstart-dotnetcore.md
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#67416 Adding other primary language links
  articles/storage/queues/storage-queues-introduction.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, queues/subsvc, storage/svc

#63068 Update dropboxforbusiness-provisioning-tutorial to include link to Dropbox migration guide
  articles/active-directory/saas-apps/dropboxforbusiness-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#67423 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, azure-resource-manager/svc, management/subsvc, ready-to-merge

#67275 Fix ClientThrottlingError response type in azure-storage-account-metrics-dimensions.md
  includes/azure-storage-account-metrics-dimensions.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, storage/svc

#65497 Release notes updates
  articles/active-directory-b2c/page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#67231 Updated link in article
  articles/firewall/service-tags.md
Labels: Change sent to author, aq-pr-triaged, firewall/svc, ready-to-merge

#67477 Confluence update 7.9.3
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#67474 JIRA Update 8.14.0
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#67487 Update operator-best-practices-advanced-scheduler.md
  articles/aks/operator-best-practices-advanced-scheduler.md
Labels: Change sent to author, container-service/svc, do-not-merge

#67446 Update blob-storage-azure-data-lake-gen2-output.md
  articles/stream-analytics/blob-storage-azure-data-lake-gen2-output.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, stream-analytics/svc

#67457 Change from reconnect to connect
  articles/azure-arc/servers/manage-agent.md
Labels: Change sent to author, aq-pr-triaged, azure-arc/svc, do-not-merge

#67505 Update documentation-government-ase-disa-cap.md
  articles/azure-government/documentation-government-ase-disa-cap.md
Labels: Change sent to author, azure-government/svc, do-not-merge

#67461 Minor fixes
  articles/active-directory/develop/app-objects-and-service-principals.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#67426 Cleaned up PS examples and added CLI examples
  articles/firewall/snat-private-range.md
Labels: Change sent to author, aq-pr-triaged, firewall/svc, ready-to-merge

#67530 Minor fix
  articles/active-directory/develop/v2-supported-account-types.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#67511 CosmosDB TransactionalBatch grammar improvements
  articles/cosmos-db/transactional-batch.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#67510 CosmosDB TransactionalBatch typo fix
  articles/cosmos-db/transactional-batch.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#67523 Update functions-bindings-storage-table-input.md
  articles/azure-functions/functions-bindings-storage-table-input.md
Labels: Change sent to author, do-not-merge

#67532 Minor fixes
  articles/active-directory/develop/id-tokens.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#67529 Minor fix
  articles/active-directory/develop/app-objects-and-service-principals.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#67531 Minor fix
  articles/active-directory/develop/v2-permissions-and-consent.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#67556 Update dedicated-hosts-cli.md
  articles/virtual-machines/linux/dedicated-hosts-cli.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#67571 Update template-functions-numeric.md
  articles/azure-resource-manager/templates/template-functions-numeric.md
Labels: do-not-merge, review-team-triage

#66154 Updated example twin
  articles/iot-hub/iot-hub-devguide-device-twins.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub/svc

#67581 Updated to point to stable version of service bus samples
  articles/service-bus-messaging/service-bus-java-how-to-use-queues.md
Labels: do-not-merge

#66984 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/notebooks/azure-notebooks-overview.md
Labels: Change sent to author, aq-pr-triaged, azure-notebooks/svc, ready-to-merge, review-team-triage

#67621 Minor changes to the vnet doc
  articles/spring-cloud/spring-cloud-tutorial-deploy-in-azure-virtual-network.md
Labels: Change sent to author, ready-to-merge, spring-cloud/svc

#67626 Update event-hubs-dotnet-standard-getstarted-send.md
  articles/event-hubs/event-hubs-dotnet-standard-getstarted-send.md
Labels: Change sent to author, event-hubs/svc, ready-to-merge

#67643 Update handler-service-bus.md
  articles/event-grid/handler-service-bus.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#67583 Misspelling in the link takes us to a bad NPM package
  articles/key-vault/general/client-libraries.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#67577 Update resize-os-disk-gpt-partition.md
  articles/virtual-machines/linux/resize-os-disk-gpt-partition.md
Labels: Change sent to author, do-not-merge, security/svc

#67602 Corrected syntax of an az command
  articles/azure-monitor/platform/logs-data-export.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#67628 Update active-directory-accessmanagement-managing-group-owners.md
  articles/active-directory/fundamentals/active-directory-accessmanagement-managing-group-owners.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc

#67636 For pods its a "are", not an "is"
  articles/api-management/api-management-kubernetes.md
Labels: Change sent to author, api-management/svc, do-not-merge

#67608 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/hdinsight/spark/apache-spark-settings.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#67609 Typo "Jupyter notebook"→"Jupyter Notebook"
  articles/hdinsight/spark/apache-spark-microsoft-cognitive-toolkit.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#67610 Naming consistency for blob sizes
  articles/storage/blobs/storage-blobs-introduction.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#67418 Remove unused namespace_name
  articles/machine-learning/how-to-deploy-azure-kubernetes-service.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#67521 Update user-access-token-python.md
  articles/communication-services/quickstarts/includes/user-access-token-python.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/subsvc, azure-communication-services/svc, do-not-merge

#67655 Typo fix: 'Blog Storage' should be 'Blob Storage'
  articles/event-hubs/event-hubs-dotnet-standard-getstarted-send.md
Labels: Change sent to author, event-hubs/svc, ready-to-merge

#67651 Update sql-data-warehouse-table-constraints.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-table-constraints.md
Labels: Change sent to author, do-not-merge, sql-dw/subsvc, synapse-analytics/svc

#67584 Update procaire-tutorial.md
  articles/active-directory/saas-apps/procaire-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#67656 change ARC PowerShell Examples
  articles/azure-monitor/platform/azure-monitor-agent-install.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#67413 Update registration-config-change-token-lifetime-how-to.md
  articles/active-directory/develop/registration-config-change-token-lifetime-how-to.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#67661 Update manage-credentials.md
  articles/purview/manage-credentials.md
Labels: Change sent to author, do-not-merge, purview-data-catalog/subsvc, purview/svc

#67712 Update index.yml
  articles/mariadb/index.yml
Labels: Change sent to author, aq-pr-triaged, do-not-merge

#67665 More typo fixes
  articles/synapse-analytics/overview-faq.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, overview/subsvc, synapse-analytics/svc
