Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-08, with the labels that each got.

#60092 Update virtual-network-support.md
  articles/iot-dps/virtual-network-support.md
Labels: Change sent to author, iot-dps/svc, ready-to-merge

#60122 Remove unnecessary character "s" in backup-azure-arm-vms-prepare.md
  articles/backup/backup-azure-arm-vms-prepare.md
Labels: Change sent to author, backup/svc, do-not-merge

#60095 Update image-version-vm-cli.md
  articles/virtual-machines/image-version-vm-cli.md
Labels: Change sent to author, do-not-merge, imaging/subsvc, virtual-machines/svc

#60098 Typo "Microsoft Storage Explorer"→"Microsoft Azure Storage Explorer"
  articles/marketplace/partner-center-portal/get-sas-uri.md
Labels: Change sent to author, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#60101 Typo "Microsoft Storage Explorer"→"Microsoft Azure Storage Explorer"
  articles/data-factory/v1/data-factory-build-your-first-pipeline-using-arm.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#60102 Typo "Microsoft Storage Explorer"→"Microsoft Azure Storage Explorer"
  articles/data-factory/v1/data-factory-build-your-first-pipeline-using-rest-api.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#60103 Typo "Microsoft Storage Explorer"→"Microsoft Azure Storage Explorer"
  articles/data-factory/v1/data-factory-build-your-first-pipeline-using-powershell.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#60140 Fixing double quote formatting in code block
  articles/virtual-desktop/create-host-pools-powershell.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#59948 Removing extra spacing in remote-secure config
  articles/cosmos-db/create-graph-gremlin-console.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#60113 Update MySqlConnector code to use new property name.
  articles/mysql/howto-configure-ssl.md
Labels: Change sent to author, aq-pr-triaged, mysql/svc, ready-to-merge

#60134 Correct ACL evaluation algorithm for groups for ADLSGen2
  articles/storage/blobs/data-lake-storage-access-control.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, do-not-merge, storage/svc

#60184 Update virtual-network-multiple-ip-addresses-portal.md
  articles/virtual-network/virtual-network-multiple-ip-addresses-portal.md
Labels: Change sent to author, do-not-merge, ip-services/subsvc, virtual-network/svc

#59117 Update publish-jekyll.md
  articles/static-web-apps/publish-jekyll.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#59041 Fix parameter type in Python example description
  articles/azure-functions/functions-bindings-storage-queue-trigger.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#60214 update enable-aad-authentication-azure-ssis-ir.md
  articles/data-factory/enable-aad-authentication-azure-ssis-ir.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#60228 Update scenario-protected-web-api-verification-scope-app-roles.md
  articles/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#60115 Updated Perfview collection with additional provider
  articles/azure-monitor/app/asp-net-troubleshoot-no-data.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, do-not-merge

#60224 Fix typos in Soft-delete docs
  articles/key-vault/general/soft-delete-change.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#60238 update Data Factory Metrics
  articles/data-factory/monitor-using-azure-monitor.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#60225 Update application-proxy-faq.md
  articles/active-directory/manage-apps/application-proxy-faq.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#58588 Update access-fhir-postman-tutorial.md
  articles/healthcare-apis/access-fhir-postman-tutorial.md
Labels: Change sent to author, aq-pr-triaged, fhir/subsvc, healthcare-apis/svc, ready-to-merge

#60100 Typo "Microsoft Storage Explorer"→"Microsoft Azure Storage Explorer"
  articles/data-factory/compute-linked-services.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#60099 Typo "Microsoft Storage Explorer"→"Microsoft Azure Storage Explorer"
  articles/data-factory/v1/data-factory-compute-linked-services.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#57041 Correcting sample for App Configuration
  articles/azure-app-configuration/quickstart-feature-flag-aspnet-core.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#60074 Update app-attach.md
  articles/virtual-desktop/app-attach.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-desktop/svc

#58456 remote-vnet-id deprecated, changed to remote-vnet
  articles/virtual-network/create-peering-different-subscriptions.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#59147 Added detailed info on how to fill in User VPN configuration
  articles/virtual-wan/virtual-wan-point-to-site-azure-ad.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-wan/svc

#58785 Added line to describe more
  articles/cognitive-services/Computer-vision/includes/quickstarts-sdk/node-sdk.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, computer-vision/subsvc, ready-to-merge

#59558 Fixed formatting
  articles/synapse-analytics/how-to-analyze-complex-schema.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, synapse-analytics/svc

#59680 Azure Static Web Apps - Replace external links with links to Azure Docs
  articles/static-web-apps/overview.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#59800 Remove specific languange "Python"
  includes/key-vault-sp-creation.md
Labels: Change sent to author, aq-pr-triaged, key-vault/svc, ready-to-merge

#59934 Update image-builder-gallery.md
  articles/virtual-machines/windows/image-builder-gallery.md
Labels: Change sent to author, aq-pr-triaged, imaging/subsvc, ready-to-merge, virtual-machines-windows/svc

#60231 Correct highlighting of first cloud-config example
  articles/virtual-machines/linux/tutorial-automate-vm-deployment.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-linux/svc

#60264 Update ip-addresses.md
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#58665 Replacing with "opaque box"
  articles/confidential-computing/overview.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc, workloads/subsvc

#60308 Update troubleshoot-nat.md
  articles/virtual-network/troubleshoot-nat.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-network/svc

#60303 Update how-to-setup-cmk.md
  articles/cosmos-db/how-to-setup-cmk.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#60276 [ACR] Anonymous pull blocked if scope maps or tokens are found
  articles/container-registry/container-registry-faq.md
Labels: Change sent to author, aq-pr-triaged, container-registry/svc, do-not-merge

#59291 Update generation-2.md
  articles/virtual-machines/windows/generation-2.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sizes/subsvc, virtual-machines/svc

#48997 Update data-lake-store-network-security.md
  articles/data-lake-store/data-lake-store-network-security.md
Labels: Change sent to author, aq-pr-triaged, data-lake-store/svc, ready-to-merge

#60185 Update doc to reflect right expectation
  articles/active-directory/conditional-access/howto-conditional-access-session-lifetime.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#59916 Update in line with race-sensitive language and bias free comms
  articles/azure-functions/ip-addresses.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, do-not-merge

#60340 fix typo that caused a run-on sentence
  articles/active-directory/fundamentals/concept-fundamentals-security-defaults.md
Labels: Change sent to author, active-directory/svc, conditional-access/subsvc, do-not-merge

#60346 fixed http link issue in one question.
  articles/azure-vmware/faq.md
Labels: Change sent to author, azure-vmware/svc, do-not-merge

#60068 modifying framework_version to 1.6 from 1.13
  articles/machine-learning/how-to-train-pytorch.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#60375 Update configure-azure-cni.md
  articles/aks/configure-azure-cni.md
Labels: Change sent to author, container-service/svc, do-not-merge

#60384 Update firewall-integration.md
  articles/app-service/environment/firewall-integration.md
Labels: Change sent to author, app-service/svc, do-not-merge

#60065 Update roles-quickstart-app-registration-limits.md
  articles/active-directory/users-groups-roles/roles-quickstart-app-registration-limits.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, users-groups-roles/subsvc

#60398 Update image-version-managed-image-powershell.md
  articles/virtual-machines/image-version-managed-image-powershell.md
Labels: Change sent to author, aq-pr-triaged, imaging/subsvc, ready-to-merge, virtual-machines/svc

#60429 Update active-directory-users-assign-role-azure-portal.md
  articles/active-directory/fundamentals/active-directory-users-assign-role-azure-portal.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc

#60420 Update hybrid-cloud-extension-installation.md
  articles/azure-vmware/hybrid-cloud-extension-installation.md
Labels: Change sent to author, azure-vmware/svc, do-not-merge

#60059 Fixed infinite loop in code example
  articles/automation/troubleshoot/runbooks.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge

#56020 add details about download pull secret
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#60433 Update ')' of event-hubs-create.md
  articles/event-hubs/event-hubs-create.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#60254 New -> NewAlert
  articles/connectors/connectors-integrate-security-operations-create-api-microsoft-graph-security.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, logic-apps/svc

#60307 Update app-service-undelete.md
  articles/app-service/app-service-undelete.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#60432 Update howto-conditional-access-policy-compliant-device.md
  articles/active-directory/conditional-access/howto-conditional-access-policy-compliant-device.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#60454 Update how-to-configure-azure-ssis-ir-custom-setup.md
  articles/data-factory/how-to-configure-azure-ssis-ir-custom-setup.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#60434 Update azure-netapp-files-quickstart-set-up-account-create-volumes.md
  articles/azure-netapp-files/azure-netapp-files-quickstart-set-up-account-create-volumes.md
Labels: Change sent to author, azure-netapp-files/svc, do-not-merge

#60439 Refer to native Azure File integration in Batch
  articles/batch/pool-file-shares.md
Labels: Change sent to author, batch/svc, do-not-merge

#60465 Fixed the typo in line 61
  articles/dns/private-dns-overview.md
Labels: Change sent to author, dns/svc, do-not-merge

#60447 Update managed-disks-bursting.md
  includes/managed-disks-bursting.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#60497 Add ForceUpdateTag description for PipelineRun
  articles/container-registry/container-registry-transfer-images.md
Labels: Change sent to author, container-registry/svc, do-not-merge

#60468 Fixed typo of links
  articles/virtual-machines/ssh-keys-portal.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#60491 Describe dhcp dependency for autoregistration
  articles/dns/private-dns-autoregistration.md
Labels: Change sent to author, aq-pr-triaged, dns/svc, do-not-merge

#60453 Update Application types of OpenID Connect and OAuth.
  articles/active-directory/manage-apps/what-is-single-sign-on.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#60476 Fix Typing Error: Source should be replace as Sink
  articles/data-factory/connector-azure-cosmos-db.md
Labels: Change sent to author, aq-pr-triaged, multiple/svc, ready-to-merge

#60552 correct display name validation
  articles/active-directory/develop/howto-add-app-roles-in-azure-ad-apps.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#60574 update Azure VM Agent Overview so it includes DHCP
  articles/virtual-machines/extensions/agent-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#60417 Update front-door-diagnostics.md
  articles/frontdoor/front-door-diagnostics.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#60569 Remove a redundant ')' in code snippet
  articles/azure-functions/durable/durable-functions-dotnet-entities.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#60069 updated DNS record entry
  articles/traffic-manager/traffic-manager-point-internet-domain.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, traffic-manager/svc

#60488 Update tutorial-develop-for-linux.md
  articles/iot-edge/tutorial-develop-for-linux.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#60512 Clarify Batch CMK key types/sizes
  articles/batch/batch-customer-managed-key.md
Labels: Change sent to author, aq-pr-triaged, batch/svc, ready-to-merge

#60536 Typo "[Azure Storage Team Blog][Azure Storage Team Blog]"
  articles/cosmos-db/table-storage-how-to-use-java.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge

#60281 Add new address ranges, Remove server 2003, Clarify 2008 and windows 7 support
  articles/active-directory/authentication/howto-mfaserver-deploy.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#59681 Update prepare-for-upload-vhd-image.md
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#59761 OATH hardware token cannot be used for primary authentication methods
  articles/active-directory/authentication/concept-authentication-methods.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#60415 Update snapshots-overview.md
  articles/storage/blobs/snapshots-overview.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#60435 Update stream-analytics-compatibility-level.md
  articles/stream-analytics/stream-analytics-compatibility-level.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, stream-analytics/svc

#59887 Updated Manage variables in Azure Automation to include more information about encrypted variables.
  articles/automation/shared-resources/variables.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge, shared-capabilities/subsvc

#60444 Update stream-analytics-javascript-user-defined-functions.md
  articles/stream-analytics/stream-analytics-javascript-user-defined-functions.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, stream-analytics/svc

#60144 Added new option to change entity state using the "Overview" > "Status" section.
  articles/service-bus-messaging/entity-suspend.md
  articles/service-bus-messaging/media/entity-suspend/entity-state-change.png
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-bus-messaging/svc

#60155 Update service-bus-faq.md
  articles/service-bus-messaging/service-bus-faq.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-bus-messaging/svc

#60528 Update a sentence for clarification
  articles/event-hubs/get-started-dotnet-standard-send-v2.md
Labels: Change sent to author, aq-pr-triaged, event-hubs/svc, ready-to-merge

#60626 Fix typo FQDN
  articles/active-directory/manage-apps/application-proxy-configure-connectors-with-proxy-servers.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge

#60643 Get service principal ID for AAD App
  articles/lighthouse/how-to/onboard-customer.md
Labels: Change sent to author, do-not-merge, lighthouse/svc

#60646 Updating vm-size.md polygonsRendered information
  articles/remote-rendering/reference/vm-sizes.md
Labels: Change sent to author, azure-remote-rendering/svc, do-not-merge

#60655 Fix punctuation
  articles/guides/developer/azure-developer-guide.md
Labels: Change sent to author, azure/svc, ready-to-merge

#60618 Updated PerfInsights Linux documentation to describe new features
  articles/virtual-machines/troubleshooting/how-to-use-perfInsights-linux.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-linux/svc

#60665 removed links with no HTTPS:
  articles/azure-government/documentation-government-csp-list.md
Labels: Change sent to author, azure-government/svc, ready-to-merge

#56788 Update pricing-guidance.md
  articles/azure-sql/virtual-machines/windows/pricing-guidance.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-sql/svc

#59638 Claim name typo
  articles/active-directory/develop/active-directory-claims-mapping.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#60511 Undo the broken formatting
  articles/event-hubs/event-hubs-create.md
Labels: Change sent to author, aq-pr-triaged, event-hubs/svc, ready-to-merge

#60076 Update functions-machine-learning-tensorflow.md
  articles/azure-functions/functions-machine-learning-tensorflow.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#60538 Update fhir-features-supported.md
  articles/healthcare-apis/fhir-features-supported.md
Labels: Change sent to author, aq-pr-triaged, fhir/subsvc, healthcare-apis/svc, ready-to-merge

#60691 fix wrong step about settings and Add some Information
  articles/active-directory/develop/quickstart-v2-dotnet-native-aspnet.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#60440 Update groups-audit.md : Add additional steps, minor rewording
  articles/active-directory/privileged-identity-management/groups-audit.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, pim/subsvc, ready-to-merge

#60455 Update data-box-deploy-picked-up.md
  articles/databox/data-box-deploy-picked-up.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, pod/subsvc, ready-to-merge

#60456 Update data-box-deploy-export-picked-up.md
  articles/databox/data-box-deploy-export-picked-up.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, pod/subsvc, ready-to-merge

#60589 Update groups-dynamic-membership.md
  articles/active-directory/users-groups-roles/groups-dynamic-membership.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, users-groups-roles/subsvc

#60707 Corrected possibly a typo in registrationDescription
  articles/notification-hubs/export-modify-registrations-bulk.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#60457 Update data-box-portal-customer-managed-shipping.md
  articles/databox/data-box-portal-customer-managed-shipping.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, disk/subsvc, do-not-merge

#60516 Update operator-best-practices-multi-region.md
  articles/aks/operator-best-practices-multi-region.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#60624 Introduce Promitor as an Azure Monitor partner
  articles/azure-monitor/platform/media/partners/promitor.png
  articles/azure-monitor/platform/partners.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge

#60421 Making the section on Class Balancing better aligned
  articles/machine-learning/how-to-configure-auto-features.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#60681 fixed minor grammatical errors
  articles/virtual-network/ddos-protection-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#60702 Update overview-opc-twin.md
  articles/iot-accelerators/overview-opc-twin.md
Labels: Change sent to author, do-not-merge, industrial-iot/svc

#60687 Typo "Azure storage emulator"→"Azure Storage Emulator"
  articles/storage/files/storage-dotnet-how-to-use-files.md
Labels: Change sent to author, aq-pr-triaged, files/subsvc, ready-to-merge, storage/svc

#60729 Update rest-proxy.md
  articles/hdinsight/kafka/rest-proxy.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#59983 Update site-recovery-limits.md
  includes/site-recovery-limits.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, site recovery/svc

#60689 Update ASRS FAQ
  articles/azure-signalr/signalr-resource-faq.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, signalr/svc

#60523 Update azure-vms-no-temp-disk.md
  articles/virtual-machines/azure-vms-no-temp-disk.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#60803 Updating to reflect proper navigation
  articles/site-recovery/vmware-azure-set-up-source.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#60770 Update concepts-networking.md
  articles/azure-vmware/concepts-networking.md
Labels: Change sent to author, azure-vmware/svc, do-not-merge

#60647 Added missing import statements and other changes for Python
  articles/active-directory/develop/scenario-daemon-app-configuration.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#60789 Fixed erroneous variable reference in example.
  articles/storage/queues/storage-nodejs-how-to-use-queues.md
Labels: Change sent to author, do-not-merge, queues/subsvc, storage/svc

#60767 Typo "Azure storage emulator"→"Azure Storage Emulator"
  articles/cosmos-db/table-storage-how-to-use-c-plus.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge

#60765 Typo "storage emulator"→"Storage Emulator"
  articles/cosmos-db/table-storage-how-to-use-python.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge

#60684 Typo "Azure storage Emulator"→"Azure Storage Emulator"
  articles/cosmos-db/table-storage-how-to-use-php.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-table/subsvc, do-not-merge

#60686 Typo "Azure storage emulator"→"Azure Storage Emulator"
  includes/cosmos-db-create-storage-account.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#60683 Typo "Azure storage emulator"→"Azure Storage Emulator"
  articles/storage/common/storage-use-emulator.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, do-not-merge, storage/svc

#60759 Update section as Important
  articles/active-directory/conditional-access/overview.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#60762 Typo "Azure Storage emulator"→"Azure Storage Emulator"
  articles/vs-azure-tools-storage-manage-with-storage-explorer.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, storage/svc

#60698 Update quickstart-feature-flag-aspnet-core.md
  articles/azure-app-configuration/quickstart-feature-flag-aspnet-core.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#60629 Tweets fix
  articles/stream-analytics/media/stream-analytics-window-functions/stream-analytics-window-functions-hopping-intro.png
  articles/stream-analytics/media/stream-analytics-window-functions/stream-analytics-window-functions-session-intro.png
  articles/stream-analytics/media/stream-analytics-window-functions/stream-analytics-window-functions-sliding-intro.png
  articles/stream-analytics/media/stream-analytics-window-functions/stream-analytics-window-functions-tumbling-intro.png
Labels: Change sent to author, aq-pr-triaged, do-not-merge, stream-analytics/svc

#60563 Update troubleshoot-rdp-internal-error.md
  articles/virtual-machines/troubleshooting/troubleshoot-rdp-internal-error.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#60610 Update users-bulk-add.md
  articles/active-directory/users-groups-roles/users-bulk-add.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, users-groups-roles/subsvc

#60822 Updated AppGW FAQ to reflect SAN cert supportability
  articles/application-gateway/application-gateway-faq.md
Labels: Change sent to author, application-gateway/svc, aq-pr-triaged, ready-to-merge

#60844 Clarify intro paragraphs. Addresses #60840
  articles/cosmos-db/read-change-feed.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#60842 Update update-mgmt-mecmintegration.md
  articles/automation/update-management/update-mgmt-mecmintegration.md
Labels: Change sent to author, automation/svc, do-not-merge, update-management/subsvc

#60861 Typo "GitHib"→"GitHub"
  articles/cognitive-services/Translator/ctf-reporting.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, translator-text/subsvc

#60869 Changed back to backup in two places
  articles/expressroute/use-s2s-vpn-as-backup-for-expressroute-privatepeering.md
Labels: Change sent to author, do-not-merge, expressroute/svc

#54003 Azure CNI NAT implementation clarifying points
  articles/aks/concepts-network.md
  articles/aks/configure-azure-cni.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#60744 reverting back framework_version to 1.4
  articles/machine-learning/how-to-train-pytorch.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#59432 Fix broken link
  articles/azure-sql/database/resource-limits-dtu-elastic-pools.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, elastic-pools/subsvc, sql-database/svc

#60875 Update automation-windows-hrw-install.md
  articles/automation/automation-windows-hrw-install.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge, process-automation/subsvc

#60893 Update tutorial-log-analytics-wizard.md
  articles/active-directory/reports-monitoring/tutorial-log-analytics-wizard.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge

#60894 Update "System Assigned" to "Identity-based"
  articles/iot-hub/virtual-network-support.md
Labels: Change sent to author, iot-fundamentals/svc, ready-to-merge

#60895 Fixed some grammar and typos
  articles/storage/files/storage-files-identity-auth-active-directory-enable.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#51417 Configuring Application Insights with user secrets
  articles/azure-monitor/app/asp-net-core.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, do-not-merge

#60174 Update eventcounters.md
  articles/azure-monitor/app/eventcounters.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#60887 Updated iSAMS tutorial
  articles/active-directory/saas-apps/isams-tutorial.md
  articles/active-directory/saas-apps/media/isams-tutorial/configure-isams.png
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#60937 fix broken internal link
  articles/azure-relay/relay-hybrid-connections-protocol.md
Labels: Change sent to author, ready-to-merge, service-bus-relay/svc

#60909 Typo "Azure notebooks"→"Azure Notebooks"
  articles/iot-edge/tutorial-machine-learning-edge-07-send-data-to-hub.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#60918 Typo "Azure notebook"→"Azure Notebook"
  articles/iot-edge/tutorial-deploy-machine-learning.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#60923 Typo "git repository"→"Git repository"
  articles/static-web-apps/add-api.md
Labels: Change sent to author, do-not-merge, static-web-apps/svc

#60934 Fixing typo
  articles/key-vault/general/service-to-service-authentication.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#60955 {URGENT} REQUIRE_USER_MATCH values in Upper Case
  articles/active-directory/authentication/howto-mfa-nps-extension-vpn.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#60974 Comparison vs contrast grammar
  articles/virtual-network/virtual-networks-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc
