Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-03, with the labels that each got.

#49097 update service-tags-overview to mention that Sql tag does not apply t…
  articles/virtual-network/service-tags-overview.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#49199 Update howto-authentication-passwordless-phone.md
  articles/active-directory/authentication/howto-authentication-passwordless-phone.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#49210 Moved word reference out from link
  articles/active-directory/develop/v2-app-types.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#48636 deletion of certificate resource results in certificate being revoked.
  articles/app-service/configure-ssl-certificate.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#47938 Update app-service-web-tutorial-auth-aad.md
  articles/app-service/app-service-web-tutorial-auth-aad.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#43921 Correct assumption all MI subnets will be in 10.x.x.x/8
  articles/sql-database/sql-database-managed-instance-connectivity-architecture.md
Labels: Change sent to author, aq-pr-triaged, managed-instance/subsvc, ready-to-merge, sql-database/svc

#48259 Added generate data section
  articles/data-explorer/data-connection-event-grid-csharp.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#46783 Do not add project name to publish path
  articles/azure-functions/functions-how-to-azure-devops.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, do-not-merge

#49310 adding italics to named object
  articles/virtual-machines/linux/openshift-container-platform-3x-prerequisites.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#48929 Server Core OS -update
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#49291 Update Batch container doc
  articles/batch/batch-docker-container-workloads.md
Labels: Change sent to author, aq-pr-triaged, batch/svc, ready-to-merge

#49333 update the voice style for pt-br-franciscaneural
  articles/cognitive-services/Speech-Service/speech-synthesis-markup.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#49315 Add JavaScript persistent storage docs
  articles/azure-monitor/app/data-retention-privacy.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, do-not-merge

#49368 Fix typo
  articles/azure-functions/TOC.yml
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#49346 CC185416: Fixing Typo
  articles/iot-hub/quickstart-send-telemetry-c.md
Labels: Change sent to author, do-not-merge, iot-hub/svc

#48809 Adding KafkaREST proxy
  articles/hdinsight/kafka/apache-kafka-producer-consumer-api.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#49306 Update custom-policy-configure-user-input.md
  articles/active-directory-b2c/custom-policy-configure-user-input.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#49350 Fixed pip package name
  articles/storage/queues/storage-python-how-to-use-queue-storage.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, queues/subsvc, storage/svc

#49009 Update linux-dsvm-walkthrough.md
  articles/machine-learning/data-science-virtual-machine/linux-dsvm-walkthrough.md
Labels: aq-pr-triaged, do-not-merge

#49188 Remove enableCrossPartitionQuery
  articles/cosmos-db/sql-api-nodejs-get-started.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#49391 Update iot-edge-certs.md
  articles/iot-edge/iot-edge-certs.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#49365 Specify named argument in example of logging an image
  articles/machine-learning/how-to-track-experiments.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#49406 Updating the pricing tier
  articles/azure-monitor/learn/tutorial-resource-logs.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, ready-to-merge

#49206 (AzureCXP) Update script
  articles/azure-monitor/platform/manage-access.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#49413 typo
  articles/cosmos-db/create-sql-api-nodejs.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#45899 update: smpt proxyAddresses are handeled
  articles/active-directory/hybrid/how-to-connect-syncservice-duplicate-attribute-resiliency.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#47533 Update how-to-connect-syncservice-features.md
  articles/active-directory/hybrid/how-to-connect-syncservice-features.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#47728 Register PTA agent PowerShell example updated
  articles/active-directory/hybrid/how-to-connect-pta-quick-start.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#48577 Fixing formatting of list
  articles/active-directory/hybrid/reference-connect-tls-enforcement.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#48174 Update reference-expressions.md
  articles/active-directory/cloud-provisioning/reference-expressions.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#48603 Update tutorial-pilot-aadc-aadccp.md
  articles/active-directory/cloud-provisioning/tutorial-pilot-aadc-aadccp.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#48831 Update how-to-prerequisites.md
  articles/active-directory/cloud-provisioning/how-to-prerequisites.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#49297 Licensee update
  articles/media-services/previous/media-services-sspk.md
Labels: Change sent to author, aq-pr-triaged, media-services/svc, ready-to-merge

#49424 Changing Redis entry
  articles/service-health/resource-health-checks-resource-types.md
Labels: Change sent to author, ready-to-merge, service-health/svc

#48943 (AzureCXP) Updating typo
  articles/migrate/tutorial-migrate-vmware.md
Labels: Change sent to author, aq-pr-triaged, azure-migrate/svc, do-not-merge

#49454 Fix typo
  articles/active-directory/hybrid/how-to-connect-fed-group-claims.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#49472 Fix casing of "SQL"
  articles/sql-data-warehouse/load-data-wideworldimportersdw.md
Labels: Change sent to author, do-not-merge, load-data/subsvc, sql-data-warehouse/svc

#49432 update for AML since we also read the data using MSI
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#49447 Add details to Node.js app instructions
  articles/azure-cache-for-redis/cache-nodejs-get-started.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, do-not-merge

#48364 Update event schema with field requirement info
  articles/event-grid/event-schema.md
Labels: Change sent to author, aq-pr-triaged, event-grid/svc, ready-to-merge

#49088 Updating Quorum Loss section and adding troubleshooting steps.
  articles/service-fabric/service-fabric-disaster-recovery.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-fabric/svc

#49307 updates due to sample update
  articles/active-directory/develop/quickstart-v2-javascript.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#49505 updating sample link
  articles/active-directory-b2c/code-samples.md
  articles/active-directory-b2c/implicit-flow-single-page-application.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#47783 Add explanation of initial sync cycle
  articles/active-directory/saas-apps/amazon-web-service-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#48849 Update iot-hub-devguide-protocols.md
  articles/iot-hub/iot-hub-devguide-protocols.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#49032 sample without visibility
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#49345 Added information about client timeout after 1 minute
  articles/data-factory/control-flow-webhook-activity.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#49460 fixed bug causing script to fail
  articles/active-directory-domain-services/tutorial-configure-password-hash-sync.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, domain-services/subsvc, ready-to-merge

#49519 Update Batch VNet NSG rules
  includes/batch-virtual-network-ports.md
Labels: Change sent to author, batch/svc, ready-to-merge

#49524 Fix typo
  articles/cognitive-services/QnAMaker/How-To/edit-knowledge-base.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#49529 "Designed" should probably be "designated"
  articles/aks/operator-best-practices-storage.md
Labels: Change sent to author, container-service/svc, do-not-merge

#49536 Fix typo
  articles/backup/backup-configure-vault.md
Labels: Change sent to author, backup/svc, do-not-merge

#49569 Delete Duplicate entry under "Service to Service integration"
  articles/sentinel/connect-data-sources.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, do-not-merge

#48847 Missing named arguments
  articles/data-factory/quickstart-create-data-factory-python.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#49198 jofrance-addADElimitationSSECMK
  articles/virtual-machines/linux/disk-encryption.md
Labels: Change sent to author, aq-pr-triaged, disks/subsvc, ready-to-merge, virtual-machines-linux/svc

#49487 Change proposal for Resource Based Kerberos Delegation
  articles/active-directory/manage-apps/application-proxy-configure-single-sign-on-with-kcd.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#49583 Device Timestamp is always Center of Exposure
  articles/kinect-dk/multi-camera-sync.md
Labels: Change sent to author, aq-pr-triaged, kinect-dk/prod, ready-to-merge

#49389 adding private cluster first draft
  articles/openshift/howto-create-private-cluster.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#49130 Update azure-files-dynamic-pv.md
  articles/aks/azure-files-dynamic-pv.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#49640 Update tutorial-part3-credit-risk-deploy.md
  articles/machine-learning/studio/tutorial-part3-credit-risk-deploy.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge, studio/subsvc

#49646 Tenant setup space corrections
  articles/virtual-desktop/tenant-setup-azure-active-directory.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#49649 Update scenario-daemon-overview.md
  articles/active-directory/develop/scenario-daemon-overview.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#49690 Adding SSE+CMK restriction on the Windows Disk Encryption Document
  articles/virtual-machines/windows/disk-encryption.md
Labels: Change sent to author, disks/subsvc, ready-to-merge, virtual-machines-windows/svc

#49691 Fix typo
  articles/active-directory-b2c/relyingparty.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#49694 Update quick-create-cli.md
  articles/virtual-machines/windows/quick-create-cli.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#49693 Update quickstart-load-balancer-standard-public-portal.md
  articles/load-balancer/quickstart-load-balancer-standard-public-portal.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#49700 Fix a typo in user.userprinicipalname
  articles/active-directory/saas-apps/purecloud-by-genesys-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#46750 Add a scenario the report contains masked info
  articles/active-directory/manage-apps/tenant-restrictions.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#49714 Clarifying behavior on degraded hardware (Linux)
  articles/virtual-machines/linux/scheduled-events.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#49713 Clarifying behavior on degraded hardware
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#49530 Made PS to download createazureautomationaccount.ps1 more readable
  articles/virtual-desktop/set-up-scaling-script.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-desktop/svc

#48404 Fix wrong command
  articles/active-directory/manage-apps/configure-authentication-for-federated-users-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#49483 Update quickstart-create-data-factory-portal.md
  articles/data-factory/quickstart-create-data-factory-portal.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#49724 ms-vscode.csharp to ms-dotnettools.csharp
  articles/azure-functions/functions-create-first-function-vs-code.md
  articles/azure-functions/functions-develop-vs-code.md
  articles/databox-online/data-box-edge-create-iot-edge-module.md
  articles/dev-spaces/get-started-netcore.md
  articles/dev-spaces/how-vs-code-works-with-dev-spaces.md
  articles/dev-spaces/quickstart-netcore.md
  articles/dev-spaces/troubleshooting.md
  articles/iot-accelerators/iot-accelerators-remote-monitoring-create-simulated-device.md
  articles/iot-edge/how-to-vs-code-develop-module.md
  articles/iot-edge/tutorial-csharp-module.md
  articles/iot-edge/tutorial-deploy-function.md
  articles/iot-edge/tutorial-develop-for-linux.md
  articles/iot-edge/tutorial-machine-learning-edge-02-prepare-environment.md
  articles/iot-edge/tutorial-store-data-sql-server.md
  articles/service-fabric/service-fabric-get-started-vs-code.md
  articles/storage/common/storage-use-data-movement-library.md
  articles/storage/queues/storage-quickstart-queues-dotnet-legacy.md
Labels: Change sent to author, do-not-merge, queues/subsvc, storage/svc

#49703 Add context about service API for IoT Hub identity export/import
  articles/iot-hub/iot-hub-devguide-identity-registry.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub/svc

#49738 Update using statements
  articles/storage/blobs/data-lake-storage-directory-file-acl-dotnet.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#49794 Update deploy-to-tenant.md
  articles/azure-resource-manager/templates/deploy-to-tenant.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#49754 Added Password Writeback DC version requirement
  articles/active-directory/authentication/tutorial-enable-sspr-writeback.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, do-not-merge

#49809 Correcting incorrect statement
  articles/active-directory/manage-apps/application-proxy-add-on-premises-application.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#49808 URL list update / correcting incorrect statement
  articles/active-directory/manage-apps/application-proxy-configure-connectors-with-proxy-servers.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#49804 Added a colon
  articles/cosmos-db/introduction.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#49874 Fix markdown
  articles/active-directory/hybrid/how-to-connect-fix-default-rules.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#49868 Update hdinsight-grafana.md
  articles/hdinsight/interactive-query/hdinsight-grafana.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#49841 Update timestamp
  articles/aks/limit-egress-traffic.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#49877 Update terms-of-use.md
  articles/active-directory/conditional-access/terms-of-use.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, compliance/subsvc, ready-to-merge

#49891 Typo fix
  articles/sql-database/sql-database-aad-authentication-configure.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-database/svc

#48255 Document supported ingestion properties
  articles/data-explorer/ingest-data-event-grid.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#49058 Update data-explorer-container-system-properties.md
  includes/data-explorer-container-system-properties.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#49089 Added documentation stating that UUID standard is not supported in st…
  articles/cosmos-db/data-explorer.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#49230 Update wording to Global Administrator
  articles/azure-portal/admin-timeout.md
Labels: Change sent to author, aq-pr-triaged, azure-portal/svc, ready-to-merge

#49340 Incorrect metrics
  articles/application-gateway/application-gateway-metrics.md
Labels: Change sent to author, application-gateway/svc, aq-pr-triaged, ready-to-merge

#49838 The argument should be functions-version
  articles/azure-functions/functions-create-first-azure-function-azure-cli.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#49920 Update hdinsight-hadoop-compare-storage-options.md
  articles/hdinsight/hdinsight-hadoop-compare-storage-options.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#49635 Update how-to-create-azure-support-request.md
  articles/azure-portal/supportability/how-to-create-azure-support-request.md
Labels: Change sent to author, aq-pr-triaged, azure-supportability/svc, do-not-merge

#49888 Fix syntax error in 'using' in the sample code
  articles/storage/blobs/storage-quickstart-blobs-dotnet.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, do-not-merge, storage/svc

#49912 #sign-off - Smooth Streaming Licensee Updated
  articles/media-services/previous/media-services-sspk.md
Labels: Change sent to author, do-not-merge, media-services/svc

#49923 Update sql-database-business-continuity.md
  articles/sql-database/sql-database-business-continuity.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, sql-database/svc

#49959 Update Typo
  articles/azure-monitor/insights/network-performance-monitor-faq.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#49962 Fix code snippet
  articles/storage/files/storage-files-identity-auth-active-directory-enable.md
Labels: Change sent to author, do-not-merge, storage/svc

#49812 Add Azure Kinect Body Tracking SDK 1.0.1 release info.
  articles/kinect-dk/body-sdk-download.md
Labels: Change sent to author, aq-pr-triaged, kinect-dk/prod, ready-to-merge

#49826 Update quickstart-resource-manager.md
  articles/azure-app-configuration/quickstart-resource-manager.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#49971 Updated docs to make TLS instructions clearer.
  articles/azure-cache-for-redis/cache-remove-tls-10-11.md
Labels: Change sent to author, cache/svc, ready-to-merge

#49982 Update storage-initiate-account-failover.md
  articles/storage/common/storage-initiate-account-failover.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#36406 Optimizes Get-AzResource Filtering
  articles/network-watcher/network-watcher-packet-capture-manage-powershell.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, network-watcher/svc

#49913 Updating the text
  articles/private-link/private-link-overview.md
Labels: Change sent to author, aq-pr-triaged, private-link/svc, ready-to-merge

#49508 Add specific logo image requirements from portal
  articles/active-directory/manage-apps/change-name-or-logo-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#49917 fixed old URL in PowerShell for guest invite
  articles/active-directory/b2b/b2b-quickstart-invite-powershell.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#49994 fix: remove double parenthesis
  articles/active-directory/develop/authentication-scenarios.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#49645 Update github-tutorial.md
  articles/active-directory/saas-apps/github-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, saas-app-tutorial/subsvc

#50058 M47945 Fixing Typo
  articles/dms/known-issues-azure-postgresql-online.md
Labels: Change sent to author, dms/svc, do-not-merge

#49996 Added note about DNS NRPT with P2S AD Client
  articles/vpn-gateway/openvpn-azure-ad-client.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, vpn-gateway/svc

#50064 Fix typo
  articles/service-bus-messaging/service-bus-java-how-to-use-queues.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#49012 fix branding
  articles/cloud-services/cloud-services-dotnet-install-dotnet.md
  articles/data-lake-analytics/dotnet-upgrade-troubleshoot.md
  articles/sql-database/sql-database-connect-query-dotnet-visual-studio.md
Labels: Change sent to author, aq-pr-triaged, development/subsvc, ready-to-merge, sql-database/svc

#50019 Updating dynamic configuration info on quickstart
  articles/azure-app-configuration/quickstart-java-spring-app.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#50020 Addind Managed Identity Integration link
  articles/azure-app-configuration/enable-dynamic-configuration-java-spring-app.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#50084 Fix Redis usage sample code
  articles/azure-cache-for-redis/cache-dotnet-how-to-use-azure-redis-cache.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#50081 CI/CD doc fixes
  articles/data-factory/continuous-integration-deployment.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#50087 Fixed RDP 8 KB Article which points to x86 package
  articles/virtual-desktop/deploy-windows-7-virtual-machine.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-desktop/svc

#50125 Typo in create-sql-api-nodejs.md
  articles/cosmos-db/create-sql-api-nodejs.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#50158 Updating docs for wildcard path search dataflow connector
  articles/data-factory/connector-azure-blob-storage.md
  articles/data-factory/connector-azure-data-lake-storage.md
  articles/data-factory/connector-azure-data-lake-store.md
  articles/data-factory/media/data-flow/partfile2.png
  articles/data-factory/media/data-flow/sourceOptions1.png
Labels: Change sent to author, data-factory/svc, do-not-merge

#50188 Fix doc
  articles/machine-learning/team-data-science-process/predictive-maintenance-technical-guide.md
Labels: Change sent to author, do-not-merge, machine-learning/svc, team-data-science-process/subsvc

#50189 Close a code block
  articles/cognitive-services/Bing-Custom-Search/includes/quickstarts/custom-search-client-library-csharp.md
Labels: Change sent to author, bing-custom-search/subsvc, cognitive-services/svc, do-not-merge

#45636 Match UI
  articles/app-service/app-service-ip-restrictions.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, do-not-merge

#47971 update metadata for windows-node-limitations.md
  articles/aks/windows-node-limitations.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#49737 Added a comment about saved search etag following customer ask
  articles/azure-monitor/platform/template-workspace-configuration.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#50179 Fix broken link to Azure AD Pod Identity demo
  articles/aks/developer-best-practices-pod-security.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#50191 Updated heading to show Quickstart
  articles/azure-resource-manager/managed-applications/deploy-service-catalog-quickstart.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge

#50192 Updated heading to show Quickstart
  articles/azure-resource-manager/managed-applications/publish-managed-app-definition-quickstart.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge

#50193 Updated heading to show Tutorial
  articles/azure-resource-manager/managed-applications/publish-service-catalog-app.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge

#50195 Updated heading to accurately reflect contents
  articles/azure-resource-manager/managed-applications/publish-marketplace-app.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge

#50245 minor indent fix
  articles/application-gateway/ingress-controller-install-new.md
Labels: Change sent to author, application-gateway/svc, do-not-merge

#49436 Added troubleshooting instructions for app crash issue when using a personal developer account
  articles/spatial-anchors/quickstarts/get-started-ios.md
Labels: Change sent to author, aq-pr-triaged, azure-spatial-anchors/svc, do-not-merge

#48586 Update encryption ARM template doc
  articles/security/fundamentals/azure-disk-encryption-vms-vmss.md
  articles/virtual-machines/extensions/azure-disk-enc-linux.md
  articles/virtual-machines/extensions/azure-disk-enc-windows.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#49710 update-Computer-UPN suffix
  articles/active-directory/devices/hybrid-azuread-join-plan.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#50171 Update troubleshooting.md
  articles/cloud-shell/troubleshooting.md
Labels: Change sent to author, aq-pr-triaged, azure/svc, ready-to-merge

#50270 Add new Application Insights ports
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#49422 Updating "Getting started" with additional step needed to install git lfs
  articles/spatial-anchors/quickstarts/get-started-ios.md
Labels: Change sent to author, aq-pr-triaged, azure-spatial-anchors/svc, do-not-merge

#50289 Update to reflect Private Endpoint is GA (not public preview)
  articles/storage/blobs/data-lake-storage-migrate-gen1-to-gen2.md
Labels: Change sent to author, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#50000 Update tutorial-enable-sspr-writeback.md
  articles/active-directory/authentication/tutorial-enable-sspr-writeback.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#50300 Remove unneeded period from Authority's URL
  articles/healthcare-apis/access-fhir-postman-tutorial.md
Labels: Change sent to author, fhir/subsvc, healthcare-apis/svc, ready-to-merge

#49631 Update promaster-tutorial.md
  articles/active-directory/saas-apps/promaster-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#43980 Should be "baseuri", not "username"
  articles/marketplace/cloud-partner-portal/test-drive/azure-resource-manager-test-Drive.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#49824 Update troubleshoot-activation-problems.md
  articles/virtual-machines/troubleshooting/troubleshoot-activation-problems.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc

#50318 add -y flag to xfce4 install cmd in Linux RDP doc
  articles/virtual-machines/linux/use-remote-desktop.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#50342 correct typo
  articles/azure-resource-manager/managed-applications/overview.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge

#50328 Typo correction abut to about
  articles/site-recovery/site-recovery-failover.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#47412 Code sample corrected to use HttpClient
  articles/azure-functions/functions-dotnet-dependency-injection.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#50169 adding new samples and removing old ones
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#50349 Commas / syntax fixes on boot-diagnostics
  articles/virtual-machines/troubleshooting/boot-diagnostics.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#49871 Update release-notes-10-0-10106-0.md
  articles/sql-data-warehouse/release-notes-10-0-10106-0.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql-data-warehouse/svc
