Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-09, with the labels that each got.

#61855 Add missing whitespace
  articles/cosmos-db/mongodb-introduction.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-mongo/subsvc, do-not-merge

#61810 Update openvpn-azure-ad-client.md w/AAD auth info
  articles/vpn-gateway/openvpn-azure-ad-client.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, vpn-gateway/svc

#61836 (Azure CXP Team) resolves MicrosoftDocs/azure-docs#61639
  articles/aks/ingress-static-ip.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#61850 Fix typo in container-registry-private-link.md
  articles/container-registry/container-registry-private-link.md
Labels: Change sent to author, container-registry/svc, do-not-merge

#61865 Fixing a typo
  articles/migrate/troubleshoot-appliance-discovery.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#61726 Update code snippet
  articles/hdinsight/kafka/rest-proxy.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#61861 Incorrect markdown syntax
  articles/virtual-machines/sizes-previous-gen.md
Labels: Change sent to author, ready-to-merge, sizes/subsvc, virtual-machines/svc

#61873 The existing link pointed to wrong Vnet article
  articles/aks/virtual-nodes-portal.md
Labels: Change sent to author, container-service/svc, do-not-merge

#61854 Update connect-query-go.md
  articles/azure-sql/database/connect-query-go.md
Labels: Change sent to author, aq-pr-triaged, development/subsvc, ready-to-merge, sql-database/svc

#54260 Update virtual-network-nsg-manage-log.md
  articles/virtual-network/virtual-network-nsg-manage-log.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-network/svc

#61844 Update hdinsight-release-notes.md
  articles/hdinsight/hdinsight-release-notes.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#61868 link to "Cost and usage update" + updated figures
  articles/cost-management-billing/costs/tutorial-acm-create-budgets.md
Labels: Change sent to author, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, ready-to-merge

#61797 Update quickstart-dotnet-core-app.md
  articles/azure-app-configuration/quickstart-dotnet-core-app.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#61711 Typo Fix
  includes/virtual-machines-common-manage-availability.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#61716 Typo in Distribute settings of the image builder
  articles/virtual-machines/linux/image-builder-json.md
Labels: Change sent to author, aq-pr-triaged, imaging/subsvc, ready-to-merge, virtual-machines-linux/svc

#61863 Remove outdated description of Azure Storage failover
  articles/cosmos-db/table-introduction.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-table/subsvc, ready-to-merge

#61360 Merge is not supported with Synapse (yet) - documentation is not accurate
  articles/synapse-analytics/sql/overview-features.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, synapse-analytics/svc

#61535 Update directory-administrative-units.md
  articles/active-directory/users-groups-roles/directory-administrative-units.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, users-groups-roles/subsvc

#61896 Updated How Application Proxy works
  articles/active-directory/manage-apps/application-proxy.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, do-not-merge

#60900 Update resize-os-disk-gpt-partition.md
  articles/virtual-machines/linux/resize-os-disk-gpt-partition.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/svc

#61381 Adding custom roles limit
  includes/active-directory-service-limits-include.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#61605 Update functions-bindings-storage-queue-trigger.md
  articles/azure-functions/functions-bindings-storage-queue-trigger.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#61777 Adds missing ` eula=accept` option for v2.1 preview docker run command
  articles/cognitive-services/form-recognizer/quickstarts/label-tool.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, forms-recognizer/subsvc

#61882 Update how-to-run-jupyter-notebooks.md
  articles/machine-learning/how-to-run-jupyter-notebooks.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#61951 Fixed typos
  articles/virtual-network/virtual-network-service-endpoint-policies-overview.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#61954 Fix typo in link to certificate REST APIs
  articles/key-vault/general/developers-guide.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#61683 Update availability-group-load-balancer-portal-configure.md
  articles/azure-sql/virtual-machines/windows/availability-group-load-balancer-portal-configure.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-sql/svc

#61915 Fix calling method name & add missing method name
  articles/cognitive-services/form-recognizer/includes/quickstarts/csharp-sdk.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, forms-recognizer/subsvc, ready-to-merge

#61970 sql-query-object-array.md: remove unnecessary indents
  articles/cosmos-db/sql-query-object-array.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#61972 Update tag-resources.md
  articles/azure-resource-manager/management/tag-resources.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, management/subsvc

#61971 Update active-directory-how-subscriptions-associated-directory.md
  articles/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, fundamentals/subsvc

#61829 Update documentation for cognitive service - Read on-prem container
  articles/cognitive-services/Computer-vision/computer-vision-how-to-install-containers.md
  articles/cognitive-services/Computer-vision/computer-vision-resource-container-config.md
  articles/cognitive-services/Computer-vision/deploy-computer-vision-on-premises.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, computer-vision/subsvc, ready-to-merge

#62006 Update how-to-configure-azure-ssis-ir-custom-setup.md
  articles/data-factory/how-to-configure-azure-ssis-ir-custom-setup.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#62008 Info on dynamic instrumentation implementation
  articles/azure-monitor/app/cloudservices.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#53218 Update packet-capture.md
  articles/vpn-gateway/packet-capture.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, vpn-gateway/svc

#61993 Typo "Azure Storage explorer"→"Azure Storage Explorer"
  articles/app-service/configure-connect-to-azure-storage.md
Labels: Change sent to author, app-service/svc, do-not-merge

#61994 Typo "Azure storage explorer"→"Azure Storage Explorer"
  articles/azure-monitor/platform/metrics-troubleshoot.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, metrics/subsvc

#61995 Typo "Azure Storage explorer"→"Azure Storage Explorer"
  articles/data-factory/scripts/copy-azure-blob-powershell.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#61996 Typo "Azure Storage explorer"→"Azure Storage Explorer"
  articles/data-factory/quickstart-create-data-factory-dot-net.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#61997 Typo "Azure storage explorer"→"Azure Storage Explorer"
  articles/healthcare-apis/export-data.md
Labels: Change sent to author, do-not-merge, fhir/subsvc, healthcare-apis/svc

#61998 Typo "Azure Storage explorer"→"Azure Storage Explorer"
  articles/data-factory/quickstart-create-data-factory-rest-api.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#61845 Should be modified a variable name.
  articles/storage/files/storage-sync-files-planning.md
Labels: Change sent to author, aq-pr-triaged, files/subsvc, ready-to-merge, storage/svc

#62025 Update concept-continuous-access-evaluation.md
  articles/active-directory/conditional-access/concept-continuous-access-evaluation.md
Labels: Change sent to author, active-directory/svc, conditional-access/subsvc, do-not-merge

#61466 Update device-management-azure-portal.md
  articles/active-directory/devices/device-management-azure-portal.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#62009 typo
  articles/data-catalog/data-catalog-how-to-big-data.md
Labels: Change sent to author, aq-pr-triaged, data-catalog/svc, ready-to-merge

#61428 Clarify the version is 1607 or later
  articles/active-directory/devices/troubleshoot-hybrid-join-windows-current.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#61893 Reversed the table from free -> p1 -> p2
  articles/active-directory/identity-protection/overview-identity-protection.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, identity-protection/subsvc, ready-to-merge

#62059 Update cdn-troubleshoot-compression.md to change max size to 3 MB
  articles/cdn/cdn-troubleshoot-compression.md
Labels: Change sent to author, azure-cdn/svc, do-not-merge

#60828 Update PRT renew requirements
  articles/active-directory/devices/concept-primary-refresh-token.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, do-not-merge

#62001 clarify upstream is a preview feature.
  articles/azure-signalr/concept-upstream.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, signalr/svc

#62051 Editing info for AppServiceFileAuditLogs
  articles/app-service/troubleshoot-diagnostic-logs.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#62052 Update azure-subscription-service-limits.md
  articles/azure-resource-manager/management/azure-subscription-service-limits.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, management/subsvc, ready-to-merge

#62113 Update virtual-networks-name-resolution-for-vms-and-role-instances.md
  articles/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#62115 Update virtual-networks-name-resolution-for-vms-and-role-instances.md
  articles/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#61540 Fix bug at "Using a client secret" section
  articles/storage/common/storage-use-azcopy-v10.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#60810 Replace $tomorrowDate PowerShell with bash
  articles/key-vault/secrets/tutorial-rotation-dual.md
Labels: Change sent to author, aq-pr-triaged, general/subsvc, key-vault/svc, ready-to-merge

#61859 Update key-vault-sp-creation.md
  includes/key-vault-sp-creation.md
Labels: Change sent to author, aq-pr-triaged, key-vault/svc, ready-to-merge

#60564 Update tutorial-deploy-hsm-cli.md
  articles/dedicated-hsm/tutorial-deploy-hsm-cli.md
Labels: Change sent to author, aq-pr-triaged, key-vault/svc, ready-to-merge

#62132 Update rbac-and-directory-admin-roles.md
  articles/role-based-access-control/rbac-and-directory-admin-roles.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#62137 Minor fix for Quickstart instruction
  articles/cognitive-services/QnAMaker/Quickstarts/create-publish-knowledge-base.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#62128 Assets available only from studio
  articles/machine-learning/resource-known-issues.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#60903 Update deploy-cli.md
  articles/azure-resource-manager/templates/deploy-cli.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, do-not-merge, templates/subsvc

#62201 Update front-door-waf.md
  articles/frontdoor/front-door-waf.md
Labels: Change sent to author, frontdoor/svc, ready-to-merge

#62156 Update network-security.md
  articles/key-vault/general/network-security.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#62157 Update network-security.md
  articles/key-vault/general/network-security.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#62168 fixed link for RESTful technical profile
  articles/active-directory-b2c/custom-policy-rest-api-intro.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#62178 Update virtual-machines-common-ppg-overview.md
  includes/virtual-machines-common-ppg-overview.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#62133 Update pay-by-invoice.md
  articles/cost-management-billing/manage/pay-by-invoice.md
Labels: Change sent to author, aq-pr-triaged, billing/subsvc, cost-management-billing/svc, ready-to-merge

#62135 Update change-credit-card.md
  articles/cost-management-billing/manage/change-credit-card.md
Labels: Change sent to author, aq-pr-triaged, billing/subsvc, cost-management-billing/svc, ready-to-merge

#61508 Modify indentation and closing line dots.
  articles/site-recovery/concepts-on-premises-to-azure-networking.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, site-recovery/svc

#62234 Update functions-timezone.md
  includes/functions-timezone.md
Labels: do-not-merge, review-team-triage

#62109 Update how-to-manage-device-certificates.md
  articles/iot-edge/how-to-manage-device-certificates.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#62198 Update store-fslogix-profile.md
  articles/virtual-desktop/store-fslogix-profile.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-desktop/svc

#62275 Design was mispelled
  articles/security/develop/index.yml
Labels: do-not-merge, review-team-triage

#62229 Typo "Azure storage emulator"→"Azure Storage Emulator"
  articles/azure-monitor/platform/diagnostics-extension-versions.md
Labels: Azure-Monitor/svc, Change sent to author, diagnostic-extension/subsvc, do-not-merge

#62214 Fix a typo
  articles/azure-arc/servers/onboard-dsc.md
Labels: Change sent to author, azure-arc-servers/subsvc, azure-arc/svc, do-not-merge

#62217 Update cloud-services-guestos-update-matrix.md
  articles/cloud-services/cloud-services-guestos-update-matrix.md
Labels: Change sent to author, aq-pr-triaged, cloud-services/svc, do-not-merge

#61643 Correct Variable Names in Synapse Notebook Example
  articles/synapse-analytics/spark/apache-spark-development-using-notebooks.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc

#62292 Adding billing info
  articles/storage/blobs/object-replication-overview.md
Labels: Change sent to author, blobs/subsvc, ready-to-merge, storage/svc

#62309 Hub & Spoke concepts updated, removed unsiupported statements
  articles/azure-vmware/concepts-avs-hub-and-spoke-integration.md
Labels: Change sent to author, azure-vmware/svc, ready-to-merge

#62314 Update vpn-gateway-faq-bgp-include.md
  includes/vpn-gateway-faq-bgp-include.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#62319 Update nat-gateway-resource.md
  articles/virtual-network/nat-gateway-resource.md
Labels: Change sent to author, do-not-merge, nat/subsvc, virtual-network/svc

#62326 fix typo, missing word
  articles/service-fabric/service-fabric-reliable-actors-state-management.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#62327 Fix link to Kubernetes Pod concept
  articles/container-instances/container-instances-container-groups.md
Labels: Change sent to author, container-instances/svc, do-not-merge

#62328 Update tutorial-devops-azure-pipelines-classic.md
  articles/virtual-machines/linux/tutorial-devops-azure-pipelines-classic.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#62315 Fixing syntax error in example
  articles/synapse-analytics/sql/develop-stored-procedures.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/subsvc, synapse-analytics/svc

#62341 Update hdinsight-os-patching.md
  articles/hdinsight/hdinsight-os-patching.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#62349 Update to the How do I manage HDInsight clusters section
  articles/hdinsight/cluster-management-best-practices.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#61510 Note to add Azure AD Connect Cloud Provisioning
  articles/active-directory/hybrid/plan-connect-topologies.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#62335 Update Amsterdam2
  articles/expressroute/expressroute-locations-providers.md
Labels: Change sent to author, expressroute/svc, ready-to-merge

#62336 Update British Telecom provider
  articles/expressroute/expressroute-locations.md
Labels: Change sent to author, expressroute/svc, ready-to-merge

#62342 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#62063 Update user-properties.md
  articles/active-directory/external-identities/user-properties.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#62172 Public Preview status for durable-python
  articles/azure-functions/durable/durable-functions-overview.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#62245 Update to support recent changes at Google
  articles/active-directory/external-identities/google-federation.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#61043 Added deletion lock tip to "Enable Update Management from an Automation account"
  articles/automation/update-management/update-mgmt-enable-automation-account.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge

#62261 Fix reg add command
  articles/site-recovery/vmware-azure-install-mobility-service.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, site-recovery/svc

#62399 Fix a grammar issue
  articles/cosmos-db/graph-introduction.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-graph/subsvc, do-not-merge

#62407 Corrected typo
  articles/cost-management-billing/reservations/index.yml
Labels: do-not-merge, review-team-triage

#62386 fix the table
  articles/machine-learning/how-to-access-data.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#61621 Fix typos on FR Language Support page
  articles/cognitive-services/form-recognizer/language-support.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, immersive-reader/subsvc

#62317 Update load-balancer-standard-availability-zones.md
  articles/load-balancer/load-balancer-standard-availability-zones.md
Labels: Change sent to author, aq-pr-triaged, load-balancer/svc, ready-to-merge

#61982 Critical step missing
  articles/active-directory/users-groups-roles/groups-assign-sensitivity-labels.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, users-groups-roles/subsvc

#62417 Added API version requirement
  articles/virtual-machines/boot-diagnostics.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#62432 Update ip-addresses.md
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#54019 Docs(Bastion): Creation with Azure CLI
  articles/bastion/create-host-cli.md
Labels: Change sent to author, aq-pr-triaged, bastion/svc, ready-to-merge

#62435 Trusted IP feature table displaying incorrectly
  articles/active-directory/authentication/howto-mfa-mfasettings.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#62431 Update cloud-services-guestos-update-matrix.md
  articles/cloud-services/cloud-services-guestos-update-matrix.md
Labels: Change sent to author, cloud-services/svc, do-not-merge

#60402 Update connector-snowflake.md
  articles/data-factory/connector-snowflake.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#62444 Update front-door-caching.md
  articles/frontdoor/front-door-caching.md
Labels: Change sent to author, frontdoor/svc, ready-to-merge

#62478 Update review-enterprise-billing.md
  articles/cost-management-billing/manage/review-enterprise-billing.md
Labels: Change sent to author, cost-management-billing/svc, do-not-merge, enterprise/subsvc

#62470 Update update-device-firmware.md
  articles/kinect-dk/update-device-firmware.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, kinect-dk/prod

#62482 Update example from consoso to contoso
  articles/healthcare-apis/find-identity-object-ids.md
Labels: Change sent to author, do-not-merge, fhir/subsvc, healthcare-apis/svc

#62488 Update manage-dhcp.md
  articles/azure-vmware/manage-dhcp.md
Labels: do-not-merge

#62496 Updating Note on Caller ID
  articles/active-directory/authentication/howto-mfa-mfasettings.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#62437 Adding a major scenario for troubleshooting
  articles/virtual-machines/troubleshooting/troubleshoot-rdp-internal-error.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#62556 Update service-bus-tutorial-topics-subscriptions-cli.md
  articles/service-bus-messaging/service-bus-tutorial-topics-subscriptions-cli.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#62512 Typo "Bot emulator"→"Bot Framework Emulator"
  articles/cognitive-services/personalizer/tutorial-use-personalizer-chat-bot.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, personalizer/subsvc

#62567 Update disks-types.md
  articles/virtual-machines/disks-types.md
Labels: Change sent to author, disks/subsvc, do-not-merge, virtual-machines/svc

#61888 Fix capitalization in PowerShell script
  articles/service-fabric/scripts/service-fabric-powershell-add-application-certificate.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-fabric/svc

#62601 Update security-overview.md
  articles/azure-sql/database/security-overview.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-db-mi/svc

#62527 Update tag-resources.md
  articles/azure-resource-manager/management/tag-resources.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, management/subsvc, ready-to-merge

#62572 Added a description for the term "nonce"
  articles/active-directory/authentication/concept-authentication-passwordless.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#62508 Fix incorrect properties for OS Disk/Data Disk
  articles/virtual-machines/windows/instance-metadata-service.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, monitoring/subsvc, virtual-machines/svc

#62538 Added note about https:// prefix for ADT URL
  articles/digital-twins/quickstart-adt-explorer.md
Labels: Change sent to author, digital-twins/svc, ready-to-merge

#62593 Remove superfluous Using in Relationships
  articles/digital-twins/tutorial-code.md
Labels: Change sent to author, aq-pr-triaged, digital-twins/svc, ready-to-merge

#62549 (AzureCXP) Adding Image to reflect current UI
  articles/azure-resource-manager/managed-applications/media/key-vault-access/enable-template-new.png
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, do-not-merge

#60855 Update container-insights-enable-arc-enabled-clusters.md
  articles/azure-monitor/insights/container-insights-enable-arc-enabled-clusters.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, ready-to-merge

#62565 Update automation-runbook-gallery.md
  articles/automation/automation-runbook-gallery.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge, process-automation/subsvc

#62374 Updating supported OSes and versions.
  articles/virtual-machines/troubleshooting/how-to-use-perfInsights-linux.md
  articles/virtual-machines/troubleshooting/how-to-use-perfInsights.md
  articles/virtual-machines/troubleshooting/performance-diagnostics-vm-extension.md
  articles/virtual-machines/troubleshooting/performance-diagnostics.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc

#62631 Update control flow activities link
  articles/data-factory/concepts-pipelines-activities.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#62648 Typo "Jupyter notebooks"→"Jupyter Notebooks"
  articles/cosmos-db/spark-connector.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#62622 Additional region availability
  articles/app-service/environment/zone-redundancy.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#62667 Update move-azure-VMs-AVset-Azone.md
  articles/site-recovery/move-azure-VMs-AVset-Azone.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#62672 Typos Azue, administator
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#62188 Update failover-cluster-instance-azure-shared-disks-manually-configur…
  articles/azure-sql/virtual-machines/windows/failover-cluster-instance-azure-shared-disks-manually-configure.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-sql/svc

#61354 Set the correct value for grant_type in refresh token.
  articles/active-directory-b2c/openid-connect.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#62440 Update text-analytics-how-to-call-api.md
  articles/cognitive-services/text-analytics/how-tos/text-analytics-how-to-call-api.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#62656 Fix Service Bus trigger link to overview
  articles/azure-functions/functions-bindings-service-bus-trigger.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge

#58378 Added Java sample for generating an IoT Hub SAS token
  articles/iot-hub/iot-hub-devguide-security.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#60247 Update iot-hub-devguide-security.md
  articles/iot-hub/iot-hub-devguide-security.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#62123 Fix a missing backtick on the Powershell example
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, management/subsvc, virtual-machine-scale-sets/svc

#62224 Added the case of using Azure cloud shell
  articles/iot-dps/quick-setup-auto-provision-cli.md
Labels: Change sent to author, aq-pr-triaged, iot-dps/svc, ready-to-merge

#61969 Update harness-provisioning-tutorial.md
  articles/active-directory/saas-apps/harness-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#62606 update timing
  articles/active-directory/identity-protection/concept-identity-protection-risks.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, identity-protection/subsvc, ready-to-merge

#62627 Updating omsagent package versions
  articles/azure-monitor/platform/agent-linux.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge, logs/subsvc

#62702 Updated Partner Name for Northrop
  articles/azure-government/documentation-government-csp-list.md
Labels: Change sent to author, azure-government/svc, do-not-merge

#62632 Update version numbers
  articles/virtual-machines/extensions/oms-linux.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-linux/svc

#62993 Minor Typo
  articles/iot-hub/iot-hub-x509ca-concept.md
Labels: Change sent to author, do-not-merge, iot-hub/svc, triaged

#62958 Update connect-common-event-format.md
  articles/sentinel/connect-common-event-format.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, do-not-merge, triaged
