Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-05, with the labels that each got.

#53805 Update powershell-module.md
  articles/virtual-desktop/powershell-module.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#53804 Leftover closing parentheses were removed
  articles/key-vault/general/best-practices.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#53674 Revised with accurate Float configuration details
  articles/active-directory/saas-apps/float-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#53852 Update configure-authentication-for-federated-users-portal.md
  articles/active-directory/manage-apps/configure-authentication-for-federated-users-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge

#53379 Correcting grammatically
  CONTRIBUTING.md
Labels: aq-pr-triaged, do-not-merge, non-product-specific/prod, review-team-triage

#53909 On branch edburns-MSFT-appGatewayKeyVault Update the PR with new learning
  articles/application-gateway/key-vault-certs.md
Labels: Change sent to author, application-gateway/svc, ready-to-merge

#53799 Sample code for Python
  articles/batch/batch-sig-images.md
Labels: Change sent to author, aq-pr-triaged, batch/svc, ready-to-merge

#53933 Fix ResourceProvider to be with UpperCamelCase
  articles/cosmos-db/monitor-cosmos-db.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#53946 (AzureCXP) Fixing typo
  articles/migrate/migrate-support-matrix-vmware.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#53948 Fixed spelling mistake "son" to "json"
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#53928 Fix typo
  articles/media-services/azure-media-player/azure-media-player-localization.md
Labels: Change sent to author, do-not-merge, media-services/svc

#53974 Fixed link title
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-source-control-integration.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc

#47245 (ForumsTeam) fixes MicrosoftDocs/azure-docs#47239
  articles/aks/troubleshooting.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#53504 fix broken links
  articles/storage/blobs/storage-blob-static-website.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#53614 corrects heading
  articles/storage/blobs/data-lake-storage-quickstart-create-databricks-account.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#53615 Remove content-type from static website upload command
  articles/storage/blobs/storage-blob-static-website-how-to.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#54008 Embedding How to run Autoscale video
  articles/azure-monitor/platform/autoscale-get-started.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, autoscale/subsvc, ready-to-merge

#53251 replace sample link
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#54049 Fix the broken link to azure cni
  articles/machine-learning/how-to-enable-virtual-network.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#53574 Remove a closing parenthesis
  articles/azure-monitor/app/performance-counters.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#54014 Update URL for Circonus Azure Agent docs
  articles/azure-monitor/platform/partners.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, ready-to-merge

#54036 Added HTTPS to the Redirect URL
  articles/active-directory/develop/quickstart-v2-aspnet-webapp.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#54105 Fix extra parenthesis (typos)
  articles/virtual-machines/windows/disk-encryption-overview.md
Labels: Change sent to author, do-not-merge, security/subsvc, virtual-machines-windows/svc

#54047 Fix the broken link to azure cni
  articles/aks/use-network-policies.md
Labels: Change sent to author, container-service/svc, do-not-merge

#54046 fix the broken link to network CNI
  articles/aks/windows-container-cli.md
Labels: Change sent to author, container-service/svc, do-not-merge

#54042 Update monitor-resource-reference.md
  articles/machine-learning/monitor-resource-reference.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#54094 Fix typo
  articles/virtual-machines/troubleshooting/troubleshoot-activation-problems.md
Labels: do-not-merge

#54030 Update categories count to five
  articles/advisor/advisor-overview.md
Labels: Change sent to author, advisor/svc, do-not-merge

#54057 Double negation
  articles/azure-monitor/platform/stream-monitoring-data-event-hubs.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge

#54102 Update CTL deprecation date
  articles/active-directory/develop/active-directory-configurable-token-lifetimes.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#54111 Update custom STT latest version to v2.2.0
  articles/cognitive-services/Speech-Service/speech-container-howto.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#54117 updating pull secret instructions
  articles/openshift/create-private-cluster.md
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#54099 Update javascript.md
  articles/azure-monitor/app/javascript.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, do-not-merge

#53784 Add new Geneva and Metrics endpoints to firewall-integration.md
  articles/app-service/environment/firewall-integration.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#53858 Additional info for helm2
  articles/container-registry/container-registry-helm-repos.md
Labels: Change sent to author, aq-pr-triaged, container-registry/svc, do-not-merge

#54043 Add Windows instructions for debug logs
  articles/iot-edge/troubleshoot.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#52742 Update file to include new shipping option
  articles/databox/data-box-disk-deploy-ordered.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, disk/subsvc, ready-to-merge

#52744 Update file to include new shipping option
  articles/databox/data-box-deploy-ordered.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, pod/subsvc, ready-to-merge

#53774 Update requirements for local server
  articles/active-directory/cloud-provisioning/how-to-prerequisites.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#51904 Update Issuer URL single-sign-on-saml-protocol.md
  articles/active-directory/develop/single-sign-on-saml-protocol.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#53573 Update suse-create-upload-vhd.md
  articles/virtual-machines/linux/suse-create-upload-vhd.md
Labels: Change sent to author, aq-pr-triaged, imaging/subsvc, ready-to-merge, virtual-machines-linux/svc

#54129 Add quotes to powershell command so it can be copy/pasted.
  articles/virtual-machines/windows/prepare-for-upload-vhd-image.md
Labels: Change sent to author, do-not-merge, virtual-machines-windows/svc

#54146 Removed additional 'from'
  articles/active-directory/develop/v2-oauth2-auth-code-flow.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#54193 fixing the built-in apps path
  articles/virtual-desktop/publish-apps.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#54161 Preview the log in Event Hub
  articles/api-management/api-management-howto-log-event-hubs.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#54148 Guidance to use self dependency
  articles/data-factory/tumbling-window-trigger-dependency.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#54232 Replace archived sample link
  articles/active-directory/develop/scenario-spa-production.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#47729 EncryptFormatAll is only supported on Linux VM
  articles/virtual-machines/windows/disk-encryption-faq.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/svc

#54323 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, azure-resource-manager/svc, management/subsvc, ready-to-merge

#54273 bullet list is reading as a code block
  articles/migrate/tutorial-prepare-physical.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#54321 Fix typo
  articles/migrate/migrate-support-matrix-vmware.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#54333 Fix typo
  articles/migrate/migrate-support-matrix-physical.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#54284 Update storage-explorer.md
  articles/cosmos-db/storage-explorer.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#53030 Update asp-net-dependencies.md
  articles/azure-monitor/app/asp-net-dependencies.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, do-not-merge

#54360 Changed dependency from spring-cloud-azure-appconfiguration-config to…
  articles/azure-app-configuration/quickstart-feature-flag-spring-boot.md
Labels: Change sent to author, azure-app-configuration/svc, ready-to-merge

#54348 Enhanced the statement at line 54
  articles/virtual-machines/scripts/virtual-machines-linux-cli-sample-nlb.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#54367 Remove the preview-only note about Color-Picker
  articles/azure-monitor/platform/metrics-charts.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, metrics/subsvc, ready-to-merge

#54368 Nit and example
  articles/azure-resource-manager/managed-applications/create-uidefinition-functions.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge

#54137 Update reference-connect-version-history.md
  articles/active-directory/hybrid/reference-connect-version-history.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#54383 Update microsoft-global-network.md
  articles/networking/microsoft-global-network.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#54385 Fix arm template first bracket identation
  articles/azure-monitor/platform/workbooks-automate.md
Labels: Azure-Monitor/svc, Change sent to author, ready-to-merge

#51292 Added vue library in reference-v2-libraries.md
  articles/active-directory/develop/media/sample-v2-code/logo_vue.png
  articles/active-directory/develop/reference-v2-libraries.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#54446 Made the download of the logicappscript more readable
  articles/virtual-desktop/virtual-desktop-fall-2019/set-up-scaling-script.md
Labels: do-not-merge

#54445 Reduced possible typo's by using Out-Gridviews
  articles/virtual-desktop/virtual-desktop-fall-2019/set-up-scaling-script.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#54444 Downloading the scripts moved down & automated
  articles/virtual-desktop/virtual-desktop-fall-2019/manage-resources-using-ui-powershell.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#54131 Update log-analytics-agent.md
  articles/azure-monitor/platform/log-analytics-agent.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#52651 Clarify how to configure ASA stream input
  articles/iot-hub/iot-hub-ip-filtering.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#54112 Adding Log documentation to C# UDF
  articles/stream-analytics/stream-analytics-edge-csharp-udf-methods.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, stream-analytics/svc

#50305 Update antimalware.md
  articles/security/fundamentals/antimalware.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security-fundamentals/subsvc, security/svc

#54424 Replaced hostName with endpoint in query
  articles/azure-app-configuration/scripts/cli-create-service.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#54497 Fixed link text
  articles/migrate/tutorial-migrate-hyper-v.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#54580 Update Step #4 to use hyphens instead of en dash.
  articles/virtual-machines/troubleshooting/repair-windows-vm-using-azure-virtual-machine-repair-commands.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#54461 Add new IP address for Telemetry endpoint
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#54514 adding 4x master node sizes
  articles/openshift/support-policies-v4.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#53990 updating default expansion for openshift toc
  articles/openshift/toc.yml
Labels: aq-pr-triaged, do-not-merge, openshift/svc, review-team-triage

#52011 Update Ubuntu 18.04 elevator information
  articles/virtual-machines/linux/optimization.md
Labels: Change sent to author, aq-pr-triaged, disks/subsvc, do-not-merge, virtual-machines-linux/svc

#54452 removing Gen2 refs
  includes/azure-storage-account-limits-standard.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, storage/svc

#54469 there is an extra "," . it breaks the command
  articles/virtual-machines/extensions/hpccompute-gpu-linux.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-linux/svc

#54504 Update howto-registration-mfa-sspr-combined.md
  articles/active-directory/authentication/howto-registration-mfa-sspr-combined.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#53285 Update virtual-machines-windows-sql-ahb.md
  articles/virtual-machines/windows/sql/virtual-machines-windows-sql-ahb.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-sql/svc

#53229 update amount of regions
  articles/governance/management-groups/overview.md
  articles/security/fundamentals/physical-security.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security-fundamentals/subsvc, security/svc

#53875 Update virtual-machines-disks-shared.md
  includes/virtual-machines-disks-shared.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#54222 Included link to the iris.csv dataset from Kaggle
  articles/batch/tutorial-run-python-batch-azure-data-factory.md
Labels: Change sent to author, aq-pr-triaged, batch/svc, do-not-merge

#54407 Update virtual-machines-common-classic-resource-manager-migration-dee…
  includes/virtual-machines-common-classic-resource-manager-migration-deep-dive.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#53083 Added file system creation to parted method
  articles/virtual-machines/linux/attach-disk-portal.md
Labels: Change sent to author, aq-pr-triaged, disks/subsvc, do-not-merge, virtual-machines-linux/svc

#54035 Update security-authentication.md
  articles/event-grid/security-authentication.md
Labels: Change sent to author, aq-pr-triaged, event-grid/svc, ready-to-merge

#54494 Added prefix to beta key to make the example work
  articles/azure-app-configuration/quickstart-feature-flag-spring-boot.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#53240 Update assign-user-or-group-access-portal.md
  articles/active-directory/manage-apps/assign-user-or-group-access-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#54224 Update concept-primary-refresh-token.md
  articles/active-directory/devices/concept-primary-refresh-token.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#54251 Allow port 9400 in NSG for Kafka REST proxy enabled clusters
  articles/hdinsight/control-network-traffic.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#54261 Kafka REST proxy with Network Security Groups
  articles/hdinsight/kafka/rest-proxy.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#54300 prettify (format) PowerShell and XML blocks
  articles/active-directory/hybrid/how-to-connect-fed-saml-idp.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#54474 Add note regarding WPJ+CBA combination.
  articles/active-directory/user-help/user-help-auth-app-sign-in.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, user-help/subsvc

#54476 Update concept-enable-rbac.md
  articles/azure-app-configuration/concept-enable-rbac.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#54495 Update storage-blob-index-how-to.md
  articles/storage/blobs/storage-blob-index-how-to.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#54635 Updating GA regions
  articles/backup/azure-file-share-support-matrix.md
Labels: Change sent to author, aq-pr-triaged, backup/svc, ready-to-merge

#54636 Credential rotation as a separate paragraph
  articles/active-directory/managed-identities-azure-resources/overview.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, msi/subsvc, ready-to-merge

#54702 Revert script changes
  articles/data-factory/continuous-integration-deployment.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#54836 Updates storage-blob-immutability-policies-manage
  articles/storage/blobs/storage-blob-immutability-policies-manage.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#54867 Fix missing '-' in powershell parameter
  articles/virtual-machines/troubleshooting/disable-guest-os-firewall-windows.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#54883 Update Amazon Business tutorial
  articles/active-directory/saas-apps/amazon-business-tutorial.md
  articles/active-directory/saas-apps/media/amazon-business-tutorial/connection-data2.png
  articles/active-directory/saas-apps/media/amazon-business-tutorial/sso-connection1.png
  articles/active-directory/saas-apps/media/amazon-business-tutorial/sso-connection5.png
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#54957 Spelling fix for marketplace partner center docs
  articles/marketplace/partner-center-portal/azure-app-apis.md
Labels: Change sent to author, aq-pr-triaged, marketplace/svc, partnercenter-marketplace-publisher/subsvc, ready-to-merge

#55079 Spelling corrections in create-new-azure-apps-offer
  articles/marketplace/partner-center-portal/create-new-azure-apps-offer.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc, review-team-triage

#54974 updating permissions required to create a cluster
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#54174 Updated title to include peering across AAD tenants
  articles/virtual-network/create-peering-different-subscriptions.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#55127 Fix images in Verify data transform and transfer
  articles/databox-online/azure-stack-edge-deploy-configure-compute.md
Labels: Change sent to author, databox/svc, edge/subsvc, ready-to-merge

#53540 Make it clear you shouldn't override MachineConfig objects
  articles/openshift/support-policies-v4.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#54037 Adding Python EventGrid output binding example.
  articles/azure-functions/functions-bindings-event-grid-output.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, do-not-merge

#51414 Add "default" namespace to kubeadvisor command
  articles/aks/kube-advisor-tool.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#53578 Update index.yml
  articles/openshift/index.yml
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#53544 updating the link to the aro ocp docs
  articles/openshift/toc.yml
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#53753 Recommend not to use server admin for large queries
  articles/synapse-analytics/sql-data-warehouse/create-data-warehouse-portal.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, synapse-analytics/svc

#54132 Upgrade TTS from v1.3 to v1.4
  articles/cognitive-services/Speech-Service/speech-container-howto.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, ready-to-merge, speech-service/subsvc

#54255 Updated with missing functions and permissions notes
  articles/synapse-analytics/spark/apache-spark-machine-learning-mllib-notebook.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, synapse-analytics/svc

#55197 Fix bug where deployment script gets stuck
  articles/data-factory/continuous-integration-deployment.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#54318 Fixes #54315
  articles/aks/virtual-nodes-portal.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#52249 Update compare-azure-government-global-azure.md
  articles/azure-government/compare-azure-government-global-azure.md
Labels: Change sent to author, aq-pr-triaged, azure-government/svc, do-not-merge

#55194 Update Consul AKS documentation
  articles/aks/servicemesh-consul-about.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#54616 Update log-analytics-agent.md
  articles/azure-monitor/platform/log-analytics-agent.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#54356 Update support-policies-v4.md
  articles/openshift/support-policies-v4.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#55113 Updated manage-runas-account.md
  articles/automation/manage-runas-account.md
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#55303 [Event Hubs] Send/Receive Quickstart Tweaks
  articles/event-hubs/TOC.yml
  articles/event-hubs/get-started-dotnet-standard-send-v2.md
Labels: Change sent to author, aq-pr-triaged, event-hubs/svc, ready-to-merge

#55317 Added availability zone to event scope
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, ready-to-merge, virtual-machines-windows/svc

#55322 Update hdinsight-component-versioning.md
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, hdinsight/svc, ready-to-merge

#53888 Update doc for Confluence version to 7.4.0
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, saas-app-tutorial/subsvc

#55362 [Event Hubs] Send/Receive Quickstart Typo Fix
  articles/event-hubs/get-started-dotnet-standard-send-v2.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#55334 Typo: "becuase" changed to "because"
  articles/app-service/configure-authentication-provider-microsoft.md
Labels: do-not-merge, review-team-triage

#55375 Update storage-how-to-use-files-windows.md
  articles/storage/files/storage-how-to-use-files-windows.md
Labels: Change sent to author, files/subsvc, ready-to-merge, storage/svc

#55467 Update virtual-machines-image-builder-overview.md
  includes/virtual-machines-image-builder-overview.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc

#55219 Could lead to data corruption
  includes/virtual-machines-common-premium-storage-performance.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc

#55456 Fixed Python syntax highlighting not displaying correctly
  articles/azure-monitor/app/opencensus-python.md
Labels: Change sent to author, do-not-merge

#47906 Update maxient-conduct-manager-software-tutorial.md
  articles/active-directory/saas-apps/maxient-conduct-manager-software-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#55534 Fix path to load data file into Hive tables
  articles/machine-learning/team-data-science-process/move-hive-tables.md
Labels: Change sent to author, machine-learning/svc, ready-to-merge, team-data-science-process/subsvc

#55584 Fix Javascript link
  articles/event-hubs/event-hubs-create.md
Labels: Change sent to author, event-hubs/svc, ready-to-merge

#55599 Update create-host-pools-powershell.md
  articles/virtual-desktop/create-host-pools-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#55605 Update publish-hugo.md
  articles/static-web-apps/publish-hugo.md
Labels: Change sent to author, ready-to-merge, static-web-apps/svc

#55511 Update sd-wan-connectivity-architecture.md
  articles/virtual-wan/sd-wan-connectivity-architecture.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc

#55567 Fixed type
  articles/cosmos-db/change-feed.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#55574 Minor typo
  articles/active-directory/authentication/howto-sspr-deployment.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, do-not-merge

#55606 Update publish-hugo.md - Fixes line to replace
  articles/static-web-apps/publish-hugo.md
Labels: Change sent to author, do-not-merge, static-web-apps/svc

#55504 resourceScopes is not an array, fixed it
  articles/active-directory/users-groups-roles/roles-assign-graph.md
Labels: Change sent to author, active-directory/svc, do-not-merge, users-groups-roles/subsvc

#55389 (Azure CXP) Doc update at line 53
  articles/active-directory-b2c/configure-tokens.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#55672 Update quickstart-create-data-migration-service-portal.md
  articles/dms/quickstart-create-data-migration-service-portal.md
Labels: Change sent to author, dms/svc, do-not-merge

#55624 Update tutorial-access-private-cloud.md
  articles/azure-vmware/tutorial-access-private-cloud.md
Labels: do-not-merge, review-team-triage

#55623 Update tutorial-configure-networking.md
  articles/azure-vmware/tutorial-configure-networking.md
Labels: do-not-merge, review-team-triage

#55622 Update tutorial-create-private-cloud.md
  articles/azure-vmware/tutorial-create-private-cloud.md
Labels: do-not-merge, review-team-triage

#55621 Update hybrid-cloud-extension-installation.md
  articles/azure-vmware/hybrid-cloud-extension-installation.md
Labels: do-not-merge, review-team-triage

#55692 Update deploy-github-actions.md
  articles/azure-resource-manager/templates/deploy-github-actions.md
Labels: do-not-merge, review-team-triage

#55437 Clarify 'external parameter file'
  articles/azure-resource-manager/templates/parameter-files.md
Labels: aq-pr-triaged, azure-resource-manager/svc, do-not-merge, review-team-triage

#54671 Change the default subscription using AZ cmdlets
  articles/virtual-desktop/powershell-module.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-desktop/svc
