Repository MicrosoftDocs/azure-docs, pull requests merged in 2020-01, with the labels that each got.

#45502 Update cosmos-db-create-dbaccount.md
  includes/cosmos-db-create-dbaccount.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#45308 Adding note on unsupported Lambdas
  articles/cosmos-db/gremlin-compatibility.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, cosmosdb-graph/subsvc, do-not-merge

#45540 Fix to Cosmos DB Quickstart templates url
  articles/cosmos-db/manage-sql-with-resource-manager.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#45439 fix typo
  articles/notebooks/tutorial-create-run-jupyter-notebook.md
Labels: Change sent to author, azure-notebooks/svc, ready-to-merge

#45476 Update http links
  articles/mysql/concepts-connectivity.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#45401 Recommend a global installation of the npm package
  articles/stream-analytics/setup-cicd-vs-code.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, stream-analytics/svc

#45515 grammar fix
  articles/data-share/overview.md
Labels: Change sent to author, data-share/svc, do-not-merge

#45424 Update to SAML App registration and Manifest
  articles/active-directory-b2c/connect-with-saml-service-providers.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#45432 Remove two lines from table
  articles/sentinel/resources.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, ready-to-merge

#44884 Update azure-developer-guide.md
  articles/guides/developer/azure-developer-guide.md
Labels: Change sent to author, assessing_(C&L), azure/svc, ready-to-merge

#44916 Update container-instances-container-groups.md
  articles/container-instances/container-instances-container-groups.md
Labels: Change sent to author, assessing_(C&L), container-instances/svc, ready-to-merge

#45240 Remove extra character
  includes/functions-vstools-create.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45309 Simple corrections
  articles/azure-functions/functions-create-function-linux-custom-image.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45326 Addded Missing packages and update to .NET Core 3
  articles/key-vault/vs-secure-secret-appsettings.md
Labels: Change sent to author, assessing_(C&L), key-vault/svc, ready-to-merge

#45328 Small Clarifications
  articles/azure-functions/functions-versions.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45333 Include file extension in path property
  articles/azure-functions/functions-bindings-expressions-patterns.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45392 Correct name of default storage account
  articles/azure-functions/functions-create-storage-queue-triggered-function.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45396 Several clarifications and fixes
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45448 Authentication -> Authorization
  articles/azure-functions/functions-bindings-http-webhook.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45450 Authorization levels
  articles/azure-functions/functions-run-local.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45459 Fix typo
  articles/iot-edge/tutorial-machine-learning-edge-06-custom-modules.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#45470 Update definition-structure.md
  articles/governance/policy/concepts/definition-structure.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#45487 "logic unit" -> "logical unit"
  articles/azure-functions/create-function-app-linux-app-service-plan.md
  articles/azure-functions/durable/durable-functions-create-first-csharp.md
  articles/azure-functions/durable/durable-functions-create-portal.md
  articles/azure-functions/functions-create-first-azure-function-azure-cli-linux.md
  articles/azure-functions/functions-create-first-azure-function-azure-cli.md
  articles/azure-functions/functions-create-first-azure-function.md
  articles/azure-functions/functions-create-first-function-powershell.md
  articles/azure-functions/functions-create-first-function-python.md
  articles/azure-functions/functions-create-student-starter.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45490 Added a note and updated time from 15 to 30 mins
  articles/lab-services/devtest-lab-auto-shutdown.md
Labels: Change sent to author, lab-services/svc, ready-to-merge

#45501 Update functions-create-student-starter.md
  articles/azure-functions/functions-create-student-starter.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45503 Update functions-create-cosmos-db-triggered-function.md
  articles/azure-functions/functions-create-cosmos-db-triggered-function.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45504 Add missing word
  articles/azure-functions/durable/durable-functions-create-portal.md
  articles/azure-functions/functions-create-storage-blob-triggered-function.md
  articles/azure-functions/functions-create-storage-queue-triggered-function.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45507 fixing typo
  articles/virtual-machines/linux/disk-encryption-portal-quickstart.md
Labels: Change sent to author, ready-to-merge, security/svc

#45509 Update URLs on HackerOne SAML setup doc
  articles/active-directory/saas-apps/hackerone-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#45525 Fix Note section
  articles/azure-functions/functions-develop-vs.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45526 Misc corrections
  articles/azure-functions/functions-run-local.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45531 Correct casing for JavaScript
  articles/azure-functions/durable/durable-functions-sequence.md
  articles/azure-functions/functions-create-student-starter.md
  articles/azure-functions/functions-overview.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45583 Clarification on GitHub secret
  articles/azure-functions/functions-how-to-github-actions.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45586 Replace CLI value with placeholder
  articles/azure-functions/deployment-zip-push.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45603 Collection of minor updates
  articles/azure-functions/functions-create-scheduled-function.md
  articles/azure-functions/functions-create-storage-queue-triggered-function.md
  articles/azure-functions/functions-create-student-starter.md
  articles/azure-functions/functions-deployment-slots.md
  articles/azure-functions/functions-integrate-storage-queue-output-binding.md
  articles/azure-functions/functions-twitter-email.md
  articles/azure-functions/install-update-binding-extensions-manual.md
  includes/functions-vstools-publish.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45609 Update release-notes.md
  articles/media-services/latest/release-notes.md
Labels: Change sent to author, media-services/svc, ready-to-merge

#45651 Fixed typo in title
  articles/security/develop/secure-aad-app.md
Labels: Change sent to author, do-not-merge, security/svc

#43939 Alter include to using in C# code
  articles/app-service/containers/configure-language-dotnetcore.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#44611 Update quickstart-python.md
  articles/app-service/containers/quickstart-python.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#45237 Consistencies with scaling
  articles/azure-functions/functions-scale.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45506 Correct casing for NuGet
  articles/azure-functions/durable/durable-functions-monitor.md
  articles/azure-functions/durable/durable-functions-phone-verification.md
  articles/azure-functions/functions-bindings-signalr-service.md
  articles/azure-functions/functions-bindings-storage-blob.md
  articles/azure-functions/functions-test-a-function.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45524 Update functions-dotnet-dependency-injection.md
  articles/azure-functions/functions-dotnet-dependency-injection.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45527 Update functions-test-a-function.md
  articles/azure-functions/functions-test-a-function.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45529 Remove extra word: "to"
  articles/azure-functions/functions-manually-run-non-http.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45423 Content update
  articles/azure-maps/geocoding-coverage.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#45389 Content update.
  articles/azure-maps/how-to-manage-account-keys.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge

#45435 Update http links
  articles/automation/automation-dsc-configuration-based-on-stig.md
Labels: Change sent to author, automation/svc, do-not-merge, dsc/subsvc

#45436 Update http links
  articles/batch/virtual-file-mount.md
Labels: Change sent to author, batch/svc, do-not-merge

#45449 Lab services classroom labs administrator guide minor fixes
  articles/lab-services/classroom-labs/administrator-guide.md
Labels: Change sent to author, do-not-merge, lab-services/svc

#45460 Fix typo
  articles/iot-edge/tutorial-python-module.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#45475 Update http links
  articles/dms/tutorial-oracle-azure-postgresql-online.md
Labels: Change sent to author, dms/svc, do-not-merge

#45478 Update http links
  articles/peering-service/location-partners.md
Labels: Change sent to author, do-not-merge, peering-service/svc

#45516 Update website-monitoring.md
  articles/azure-monitor/app/website-monitoring.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, do-not-merge

#45520 Content updates
  articles/azure-maps/how-to-use-best-practices-for-search.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#44868 Update to New-RdsRegistrationInfo cmdlet usage
  articles/virtual-desktop/create-host-pools-powershell.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#45084 Keep same names storage account connection
  articles/storage/blobs/data-lake-storage-quickstart-create-databricks-account.md
Labels: Change sent to author, assessing_(C&L), data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#45654 "Authentication methods" moved to "Security" menu
  articles/active-directory/authentication/howto-password-smart-lockout.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#45565 Fix typo in quickstart-python.md
  articles/app-service/containers/quickstart-python.md
Labels: Change sent to author, app-service/svc, do-not-merge

#45192 Update label-tool.md
  articles/cognitive-services/form-recognizer/quickstarts/label-tool.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, forms-recognizer/subsvc

#45615 Update about.md
  articles/peering-service/about.md
Labels: Change sent to author, do-not-merge, peering-service/svc

#45477 Update http links
  articles/logic-apps/logic-apps-scenario-error-and-exception-handling.md
Labels: Change sent to author, do-not-merge, logic-apps/svc, review-team-triage

#45638 Update basic-concepts.md
  articles/key-vault/basic-concepts.md
Labels: Change sent to author, do-not-merge, key-vault/svc

#45629 Additional details in the instructions to match UI
  articles/azure-functions/functions-monitor-log-analytics.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45238 Three runtime versions
  includes/functions-timeout-duration.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, do-not-merge

#44602 Update for Az Module
  articles/automation/automation-dsc-compile.md
Labels: Change sent to author, assessing_(C&L), automation/svc, do-not-merge, dsc/subsvc

#45199 fix command for creating with azure monitor
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, assessing_(C&L), container-service/svc, do-not-merge

#45387 Description updates
  articles/azure-maps/migrate-from-google-maps.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge

#45581 Update hdinsight-hadoop-use-data-lake-storage-gen2.md
  articles/hdinsight/hdinsight-hadoop-use-data-lake-storage-gen2.md
Labels: Change sent to author, assessing_(C&L), hdinsight/svc, ready-to-merge

#44862 Update application-gateway-faq.md
  articles/application-gateway/application-gateway-faq.md
Labels: Change sent to author, application-gateway/svc, assessing_(C&L), ready-to-merge

#45587 Match placeholders in curl command
  includes/app-service-deploy-zip-push-rest.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#45604 Fixed erroneous self-reference of fileHost
  articles/storage/files/storage-how-to-use-files-linux.md
Labels: Change sent to author, assessing_(C&L), files/subsvc, ready-to-merge, storage/svc

#45631 Update configure-ssl-certificate.md
  articles/app-service/configure-ssl-certificate.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#45632 Update app-service-ssl-prepare-app.md
  includes/app-service-ssl-prepare-app.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#45635 Remove unneeded text
  articles/app-service/configure-authentication-provider-microsoft.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#45674 Add a note about source content security
  articles/cognitive-services/Acoustics/faq.md
Labels: Change sent to author, acoustics/subsvc, assessing_(C&L), cognitive-services/svc, ready-to-merge

#45685 Removed caching-mode attrigute from APIM cache-store policy sample
  articles/api-management/api-management-howto-cache.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#45719 Missing capitalisation
  articles/load-balancer/load-balancer-standard-availability-zones.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#42578 Updated the section on the firmware query output
  articles/kinect-dk/update-device-firmware.md
Labels: Change sent to author, assessing_(C&L), kinect-dk/prod, ready-to-merge

#40526 Update load-balancer-multivip-overview.md
  articles/load-balancer/load-balancer-multivip-overview.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, load-balancer/svc

#43176 Update load-balancer-standard-overview.md
  articles/load-balancer/load-balancer-standard-overview.md
Labels: Change sent to author, assessing_(C&L), load-balancer/svc, ready-to-merge

#45730 Update tutorial-postgresql-azure-postgresql-online.md
  articles/dms/tutorial-postgresql-azure-postgresql-online.md
Labels: Change sent to author, dms/svc, ready-to-merge

#45737 Update diagnostics-extension-stream-event-hubs.md
  articles/azure-monitor/platform/diagnostics-extension-stream-event-hubs.md
Labels: Azure-Monitor/svc, Change sent to author, diagnostic-extension/subsvc, ready-to-merge

#45742 Fix typo
  articles/cognitive-services/Face/QuickStarts/python-sdk.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, face-api/subsvc

#45066 Documentation enhancements for installation steps
  articles/iot-edge/how-to-install-iot-edge-linux.md
Labels: Change sent to author, assessing_(C&L), iot-edge/svc, ready-to-merge

#45780 add supported ARM architectures
  articles/asc-for-iot/how-to-deploy-agent.md
Labels: Change sent to author, asc-for-iot/subsvc, asc-for-iot/svc, ready-to-merge

#45278 Updated Headers
  articles/role-based-access-control/elevate-access-global-admin.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, role-based-access-control/svc

#45774 Fix typo
  articles/event-hubs/event-hubs-create.md
Labels: Change sent to author, do-not-merge, event-hubs/svc

#42867 Flow is now called power automate
  articles/analysis-services/analysis-services-gateway.md
Labels: Change sent to author, assessing_(C&L), azure-analysis-services/svc, do-not-merge

#45794 Update concept-baseline-protection.md
  articles/active-directory/conditional-access/concept-baseline-protection.md
Labels: Change sent to author, active-directory/svc, conditional-access/subsvc, do-not-merge

#45081 Update howto-mfa-userstates.md
  articles/active-directory/authentication/howto-mfa-userstates.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), authentication/subsvc, ready-to-merge

#45037 Update detect-data-anomalies-nodejs-sdk.md
  articles/cognitive-services/Anomaly-Detector/quickstarts/detect-data-anomalies-nodejs-sdk.md
Labels: Change sent to author, anomaly-detector/subsvc, assessing_(C&L), cognitive-services/svc, ready-to-merge

#44912 Minor changes based on customer feedback
  articles/virtual-desktop/app-attach.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#44412 Add link to Azure File Sync
  articles/storage/files/storage-files-planning.md
Labels: Change sent to author, assessing_(C&L), files/subsvc, ready-to-merge, storage/svc

#43181 Update event-hubs-get-connection-string.md
  articles/event-hubs/event-hubs-get-connection-string.md
Labels: Change sent to author, assessing_(C&L), event-hubs/svc, ready-to-merge

#43008 removing snapshot in versioning and reference to nexus-snapshots
  articles/spring-cloud/spring-cloud-service-registration.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, spring-cloud/svc

#37255 Added note about MSEEs being at a single Provider Location
  articles/expressroute/expressroute-introduction.md
Labels: Change sent to author, assessing_(C&L), expressroute/svc, ready-to-merge

#45717 Fix for latest SDK (December 2019)
  articles/cognitive-services/Bing-Image-Search/image-sdk-python-quickstart.md
Labels: Change sent to author, assessing_(C&L), bing-image-search/subsvc, cognitive-services/svc, ready-to-merge

#41941 Change of default value for the PreferUpgradedUDs param
  articles/service-fabric/service-fabric-cluster-fabric-settings.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, service-fabric/svc

#44616 Fix typo
  articles/storage/tables/table-storage-design-for-modification.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, storage/svc, tables/subsvc

#41994 Specified the consumer's role explicitly
  articles/service-bus-messaging/service-bus-queues-topics-subscriptions.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, service-bus-messaging/svc

#43847 Fixed JSON formatting
  articles/virtual-machines/linux/image-builder-json.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-machines-linux/svc

#44453 B-Harsha-Kashyap-MSFT-Patch-1
  articles/api-management/api-management-howto-api-inspector.md
  articles/api-management/media/api-management-howto-api-inspector/allowtracing.png
Labels: Change sent to author, api-management/svc, assessing_(C&L), ready-to-merge

#44604 Added note about Availability Zone (AZ) support
  articles/app-service/environment/intro.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#44660 Update what-is-cloud-provisioning.md
  articles/active-directory/cloud-provisioning/what-is-cloud-provisioning.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#45354 Update how-to-connect-install-prerequisites.md
  articles/active-directory/hybrid/how-to-connect-install-prerequisites.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), hybrid/subsvc, ready-to-merge

#45429 Update api-management-howto-deploy-self-hosted-gateway-to-docker.md
  articles/api-management/api-management-howto-deploy-self-hosted-gateway-to-docker.md
Labels: Change sent to author, api-management/svc, assessing_(C&L), ready-to-merge

#45795 Consistent casing
  articles/azure-functions/durable/durable-functions-http-api.md
  articles/azure-functions/functions-app-settings.md
  articles/azure-functions/functions-bindings-http-webhook.md
  articles/azure-functions/functions-create-serverless-api.md
  articles/azure-functions/functions-host-json-v1.md
  articles/azure-functions/functions-recover-storage-account.md
  articles/azure-functions/functions-reference-java.md
  articles/azure-functions/functions-reference-node.md
  articles/azure-functions/functions-reference.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#45809 Added Debian on the available distros section
  articles/virtual-machines/troubleshooting/serial-console-linux.md
Labels: Change sent to author, ready-to-merge, virtual-machines-linux/svc

#44665 Update quickstart-v2-javascript.md
  articles/active-directory/develop/quickstart-v2-javascript.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), develop/subsvc, do-not-merge

#45733 Add type in SendActivity sample code
  articles/cognitive-services/Speech-Service/how-to-custom-speech-commands-fulfill-sdk.md
  articles/cognitive-services/Speech-Service/media/custom-speech-commands/fulfill-sdk-send-activity-action.png
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, speech-service/subsvc

#45259 Update application-gateway-ssl-policy-overview.md
  articles/application-gateway/application-gateway-ssl-policy-overview.md
Labels: Change sent to author, application-gateway/svc, assessing_(C&L), do-not-merge

#45368 Update cpp-marketplace-tab.md
  articles/marketplace/cloud-partner-portal/virtual-machine/cpp-marketplace-tab.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#45808 Update virtual-network-for-azure-services.md
  articles/virtual-network/virtual-network-for-azure-services.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#45748 Include reference to monitoring docs for ARO
  articles/openshift/toc.yml
Labels: assessing_(C&L), do-not-merge, review-team-triage

#41783 AWSDSCtoolkit no longer maintained
  articles/automation/automation-dsc-onboarding.md
Labels: Change sent to author, assessing_(C&L), automation/svc, dsc/subsvc, ready-to-merge

#42146 Fix an incorrectly formatted hyperlink
  articles/azure-arc/servers/quickstart-onboard-portal.md
Labels: Change sent to author, assessing_(C&L), azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#42635 clarify location params and available locations
  articles/azure-arc/servers/quickstart-onboard-powershell.md
Labels: Change sent to author, assessing_(C&L), azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#45101 Update domains-admin-takeover.md
  articles/active-directory/users-groups-roles/domains-admin-takeover.md
Labels: Change sent to author, active-directory/svc, assessing_(C&L), ready-to-merge, users-groups-roles/subsvc

#42857 Update quickstart-onboard-powershell.md
  articles/azure-arc/servers/quickstart-onboard-powershell.md
Labels: Change sent to author, assessing_(C&L), azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#45765 Fixed "helm install" command
  articles/cognitive-services/Speech-Service/speech-container-howto-on-premises.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, speech-service/subsvc

#45785 Corrected repo and image names
  articles/cognitive-services/Speech-Service/speech-container-howto-on-premises.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, ready-to-merge, speech-service/subsvc

#45828 Update functions-bindings-cosmosdb-v2.md
  articles/azure-functions/functions-bindings-cosmosdb-v2.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45827 Small corrections for readability
  articles/azure-functions/functions-recover-storage-account.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45831 Clarification on Event Hub trigger
  includes/functions-bindings-event-hubs.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#44835 Update automation-onboard-solutions-from-automation-account.md
  articles/automation/automation-onboard-solutions-from-automation-account.md
Labels: Change sent to author, assessing_(C&L), automation/svc, do-not-merge

#45824 Update Welcome.md
  articles/cognitive-services/Welcome.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#45861 Minor formatting Change
  articles/sql-database/sql-database-managed-instance-faq.md
Labels: Change sent to author, do-not-merge, managed-instance/subsvc, sql-database/svc

#45741 Clarifications on Managed Identities
  articles/app-service/overview-managed-identity.md
Labels: Change sent to author, app-service/svc, assessing_(C&L), ready-to-merge

#45388 Description update and how to get key
  articles/azure-maps/azure-maps-authentication.md
Labels: Change sent to author, assessing_(C&L), azure-maps/svc, do-not-merge

#44295 Updated images for service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies article
  articles/service-fabric/media/service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies/cluster-invalid-placement-domain.png
  articles/service-fabric/media/service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies/cluster-preferred-primary-domain.png
  articles/service-fabric/media/service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies/cluster-required-placement-domain.png
  articles/service-fabric/service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, service-fabric/svc

#43031 Update deploy-windows-7-virtual-machine.md
  articles/virtual-desktop/deploy-windows-7-virtual-machine.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge, virtual-desktop/svc

#45909 Clarifications for HTTP trigger
  articles/azure-functions/functions-bindings-http-webhook.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45934 AAD direct federation - double NOTE removed
  articles/active-directory/b2b/direct-federation.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#45943 Fix small spelling error in doc
  articles/machine-learning/monitor-azure-machine-learning.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#45953 Update storage-network-security.md
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#45920 Replace Text Ruby Script to "Go Application"
  articles/cognitive-services/Face/QuickStarts/go.md
Labels: Change sent to author, assessing_(C&L), cognitive-services/svc, do-not-merge, face-api/subsvc

#45960 Adding new metro areas
  articles/azure-maps/mobility-coverage.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#44549 Update security-center-provide-security-contact-details.md
  articles/security-center/security-center-provide-security-contact-details.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security-center/svc

#45972 Updates to SendGrid bindings
  articles/azure-functions/functions-bindings-sendgrid.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#45976 Casing on Function Hosting Plans
  articles/azure-functions/functions-app-settings.md
  articles/azure-functions/functions-bindings-cosmosdb-v2.md
  articles/azure-functions/functions-bindings-http-webhook.md
  articles/azure-functions/functions-bindings-microsoft-graph.md
  articles/azure-functions/functions-bindings-service-bus.md
  articles/azure-functions/functions-bindings-storage-blob.md
  articles/azure-functions/functions-create-student-starter.md
  articles/azure-functions/functions-deployment-technologies.md
  articles/azure-functions/functions-dotnet-class-library.md
  articles/azure-functions/functions-geo-disaster-recovery.md
  articles/azure-functions/functions-infrastructure-as-code.md
  articles/azure-functions/functions-kubernetes-keda.md
  articles/azure-functions/functions-reference-node.md
  articles/azure-functions/functions-reference-python.md
  articles/azure-functions/functions-scale.md
  articles/azure-functions/functions-versions.md
  articles/azure-functions/scripts/functions-cli-create-function-app-connect-to-cosmos-db.md
  articles/azure-functions/scripts/functions-cli-create-function-app-connect-to-storage-account.md
  articles/azure-functions/scripts/functions-cli-create-function-app-github-continuous.md
  articles/azure-functions/scripts/functions-cli-create-function-app-vsts-continuous.md
  articles/azure-functions/scripts/functions-cli-create-serverless-python.md
  articles/azure-functions/scripts/functions-cli-create-serverless.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#46006 Update architecture.md
  articles/asc-for-iot/architecture.md
Labels: Change sent to author, asc-for-iot/subsvc, asc-for-iot/svc, ready-to-merge

#46023 Update service-bus-create-namespace-portal.md
  includes/service-bus-create-namespace-portal.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#46037 added the preview again
  articles/service-health/resource-health-faq.md
Labels: Change sent to author, ready-to-merge, service-health/svc

#46038 added the preview
  articles/service-health/resource-health-alert-arm-template-guide.md
Labels: Change sent to author, ready-to-merge, service-health/svc

#46057 Missing information on OAuth credentials section
  articles/analysis-services/analysis-services-datasource.md
Labels: Change sent to author, azure-analysis-services/svc, ready-to-merge

#45111 Update security-center-provide-security-contact-details.md
  articles/security-center/security-center-provide-security-contact-details.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security-center/svc

#44944 Update security-center-alerts-overview.md
  articles/security-center/security-center-alerts-overview.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, security-center/svc

#45992 Clarify note on ORDER BY on undefined values
  articles/cosmos-db/sql-query-order-by.md
Labels: Change sent to author, assessing_(C&L), cosmos-db/svc, ready-to-merge

#46020 "Scale-up" -> "Scale-out"
  articles/azure-functions/functions-bindings-warmup.md
Labels: Change sent to author, assessing_(C&L), azure-functions/svc, ready-to-merge

#44243 AddNode.ps1 execution parameters modified
  articles/service-fabric/service-fabric-cluster-windows-server-add-remove-nodes.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, service-fabric/svc
