Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-12, with the labels that each got.

#84337 Update security-operations-devices.md
  articles/active-directory/fundamentals/security-operations-devices.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, aq-pr-triaged

#84319 Update trakstar-tutorial.md
  articles/active-directory/saas-apps/trakstar-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#84231 Update the command
  articles/communication-services/quickstarts/includes/telemetry-app-insights-python.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, azure-communication-services/subsvc

#83631 Update documo-tutorial.md
  articles/active-directory/saas-apps/documo-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#84290 Handling of case that no row was found in Table Input Binding (Python)
  articles/azure-functions/functions-bindings-storage-table-input.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#84051 Endpoints --> Deploy
  articles/machine-learning/concept-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#84256 Update register-scan-hive-metastore-source.md
  articles/purview/register-scan-hive-metastore-source.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-map/subsvc

#84642 Automatic VM guest patching is GA now
  articles/virtual-machines/updates-maintenance-overview.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#84668 Removed duplicated word
  articles/logic-apps/devops-deployment-single-tenant-azure-logic-apps.md
Labels: Change sent to author, logic-apps/svc, do-not-merge

#84584 update anomaly detector toc
  articles/cognitive-services/Anomaly-Detector/toc.yml
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged

#84686 Removed inaccurate link about Epic Health systems
  articles/azure-netapp-files/azure-netapp-files-solution-architectures.md
Labels: Change sent to author, do-not-merge, azure-netapp-files/svc

#84439 Update url-route-overview.md
  articles/application-gateway/url-route-overview.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged

#84644 Update load-balancer-standard-availability-zones.md
  articles/load-balancer/load-balancer-standard-availability-zones.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, aq-pr-triaged

#84678 Update screen-capture-protection.md
  articles/virtual-desktop/screen-capture-protection.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#84008 Update reset password for Linux VMs using Powershell
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#84612 Updates to Check Point Doc and Support link
  articles/active-directory/saas-apps/dome9arc-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#84722 Update tutorial-copy-data-dot-net.md
  articles/data-factory/tutorial-copy-data-dot-net.md
Labels: Change sent to author, data-factory/svc, do-not-merge, tutorials/subsvc

#84624 Update use-scim-to-provision-users-and-groups.md
  articles/active-directory/app-provisioning/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, app-provisioning/subsvc

#82656 Update scenario-route-through-nva.md
  articles/virtual-wan/scenario-route-through-nva.md
Labels: Change sent to author, ready-to-merge, virtual-wan/svc, aq-pr-triaged

#84591 Updated titles and syntax for az arcdata command
  articles/azure-arc/data/create-custom-configuration-template.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data/subsvc

#84592 Updated steps to include MacOS and Linux support
  articles/azure-arc/data/upload-metrics.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data/subsvc

#83950 Adding hyperlinks to improved version of this article
  articles/data-factory/continuous-integration-delivery.md
Labels: Change sent to author, data-factory/svc, do-not-merge, aq-pr-triaged, ci-cd/subsvc

#83951 Adding hyperlink to updated article.
  articles/data-factory/continuous-integration-delivery-hotfix-environment.md
Labels: Change sent to author, data-factory/svc, do-not-merge, aq-pr-triaged, ci-cd/subsvc

#84734 Update role-based-access-control.md
  articles/cognitive-services/LUIS/role-based-access-control.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-understanding/subsvc, aq-pr-triaged

#84775 Changed "Windows Virtual Desktop" to "Azure Virtual Desktop"
  articles/virtual-desktop/safe-url-list.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#84334 Update security-operations-privileged-accounts.md
  articles/active-directory/fundamentals/security-operations-privileged-accounts.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, aq-pr-triaged

#84774 Update quickstart for spring cloud
  articles/spring-cloud/quickstart.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, spring-cloud/svc

#84735 Update faq.yml
  articles/azure-vmware/faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#82794 Added step to identify MFA preventing login for all clients
  articles/virtual-desktop/troubleshoot-azure-ad-connections.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#84803 Updating awkward language related to WAL backups
  articles/postgresql/flexible-server/concepts-backup-restore.md
Labels: Change sent to author, postgresql/svc, do-not-merge

#84810 minor grammar fix
  articles/network-watcher/network-watcher-nsg-flow-logging-azure-resource-manager.md
Labels: Change sent to author, network-watcher/svc, do-not-merge

#84606 Update soc-ml-anomalies.md
  articles/sentinel/soc-ml-anomalies.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#84804 Properly dispose HMAC in EventHub SAS C# sample
  articles/event-hubs/authenticate-shared-access-signature.md
Labels: Change sent to author, event-hubs/svc, do-not-merge, aq-pr-triaged

#84830 Added missing closing anchor tag
  articles/azure-functions/functions-reference-node.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc

#84838 Update Synonyms is not a GET but PUT request.
  articles/cognitive-services/language-service/question-answering/how-to/authoring.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-service/subsvc

#84821 Typo "Azure CosmosDB"→"Azure Cosmos DB"
  articles/cosmos-db/migrate-continuous-backup.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#84841 Fix missing period at the end of the sentence.
  articles/azure-sql/database/transparent-data-encryption-tde-overview.md
Labels: Change sent to author, sql-database/svc, do-not-merge, security/subsvc

#84848 Typo
  articles/azure-functions/functions-premium-plan.md
Labels: Change sent to author, do-not-merge, azure-functions/svc

#84870 Update groups-concept.md
  articles/active-directory/roles/groups-concept.md
Labels: Change sent to author, active-directory/svc, do-not-merge, roles/subsvc

#84837 Add code fence
  articles/azure-arc/servers/private-link-security.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc

#84809 Remove specific version from NuGet package link
  articles/cosmos-db/sql/sql-query-linq-to-sql.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, cosmosdb-sql/subsvc, aq-pr-triaged

#84660 Update detect-threats-built-in.md
  articles/sentinel/detect-threats-built-in.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#84845 Fix mismatch between content and actual UI label
  articles/defender-for-cloud/quickstart-automation-alert.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged

#84694 P1 license is not required for device identity
  articles/active-directory/devices/overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#84820 Update concept-condition-filters-for-devices.md
  articles/active-directory/conditional-access/concept-condition-filters-for-devices.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#84883 Small spelling update
  articles/media-services/azure-media-player/azure-media-player-options.md
Labels: Change sent to author, media-services/svc, do-not-merge, media-player/subsvc

#84884 Freshness: updated ms.date
  articles/marketplace/plan-managed-service-offer.md
Labels: Change sent to author, marketplace/svc, do-not-merge, partnercenter-marketplace-publisher/subsvc

#84885 Update az-region.md
  articles/availability-zones/az-region.md
Labels: Change sent to author, azure/svc, do-not-merge

#84750 Update iot-connector-overview.md
  articles/healthcare-apis/iot/iot-connector-overview.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged, fhir/subsvc

#84460 fix: change to official name
  articles/aks/http-proxy.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#84789 Its Mandatory to publish developer portal.
  articles/api-management/api-management-howto-protect-backend-with-aad.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged

#84919 Update storage-quickstart-blobs-powershell.md
  articles/storage/blobs/storage-quickstart-blobs-powershell.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#84892 Frontdoor.RoutingRules.AcceptedProtocols takes upper case H
  articles/frontdoor/quickstart-create-front-door-cli.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#84920 AmlComputeClusterNodeEvent deprecation notice
  articles/machine-learning/monitor-resource-reference.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#84908 New LA categories and AmlComputeClusterNodeEvent
  articles/machine-learning/monitor-azure-machine-learning.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#84498 [MI] Reflect storage limit increase. Broken link.
  articles/azure-sql/managed-instance/frequently-asked-questions-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#84743 Update vmware-software-versions.md
  articles/azure-vmware/includes/vmware-software-versions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#84220 Updated "Object reference not set to an instance of an object" error
  articles/automation/troubleshoot/runbooks.md
Labels: Change sent to author, automation/svc, do-not-merge, aq-pr-triaged

#84947 Update quickstart-percept-dk-set-up.md
  articles/azure-percept/quickstart-percept-dk-set-up.md
Labels: Change sent to author, do-not-merge, azure-percept/svc

#70506 Add line for lack of Dedicated Host support
  articles/site-recovery/azure-to-azure-support-matrix.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, aq-pr-triaged, inactive, keep-open

#83810 Update msal-net-web-browsers.md to mention web browser behaviour on .NET 5.0+
  articles/active-directory/develop/msal-net-web-browsers.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#84970 Create collection permission
  articles/purview/concept-best-practices-security.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#84960 Grammar
  articles/active-directory/verifiable-credentials/decentralized-identifier-overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, verifiable-credentials/subsvc

#84961 Grammar
  articles/active-directory/verifiable-credentials/decentralized-identifier-overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, verifiable-credentials/subsvc

#84969 Update tutorial-use-gitops-flux2.md
  articles/azure-arc/kubernetes/tutorial-use-gitops-flux2.md
Labels: Change sent to author, do-not-merge, azure-arc/svc, azure-arc-kubernetes/subsvc

#84982 Corrected spelling/typos in migrate-to-policy.md
  articles/firewall-manager/migrate-to-policy.md
Labels: Change sent to author, do-not-merge, firewall-manager/svc

#84990 Minor typo in operator-best-practices-cluster-security.md
  articles/aks/operator-best-practices-cluster-security.md
Labels: Change sent to author, container-service/svc, do-not-merge

#85007 Update how-to-connect-syncservice-duplicate-attribute-resiliency.md
  articles/active-directory/hybrid/how-to-connect-syncservice-duplicate-attribute-resiliency.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#85009 Update cache-configure.md
  articles/azure-cache-for-redis/cache-configure.md
Labels: Change sent to author, ready-to-merge, cache/svc

#84781 Clarification on AIP Plan
  articles/purview/sensitivity-labels-frequently-asked-questions.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc

#85022 Updating default and supported Functions runtime versions.
  articles/azure-functions/set-runtime-version.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged

#84579 Use proper spacing in code examples
  articles/machine-learning/tutorial-1st-experiment-sdk-train.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#85044 Bicep Wording
  articles/azure-resource-manager/bicep/deploy-cli.md
  articles/azure-resource-manager/bicep/deploy-powershell.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc

#84953 The information is not clear
  articles/cdn/cdn-pop-list-api.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cdn/svc

#85040 Update onboard-your-data.md
  articles/applied-ai-services/metrics-advisor/how-tos/onboard-your-data.md
Labels: Change sent to author, ready-to-merge, metrics-advisor/subsvc, applied-ai-services/svc

#84966 Remove duplicated "ZRS"
  articles/storage/files/storage-how-to-create-file-share.md
Labels: Change sent to author, storage/svc, do-not-merge, files/subsvc, aq-pr-triaged

#85059 Removing � char
  articles/container-instances/container-instances-application-gateway.md
Labels: Change sent to author, container-instances/svc, do-not-merge

#79898 Add lb backend configuration for ascs, fix indenting during ha cluster resources setup
  articles/virtual-machines/workloads/sap/high-availability-guide-suse.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sap/svc

#85005 Update create-placement-policy.md
  articles/azure-vmware/create-placement-policy.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#84934 Corrected syntax error for DATA_SOURCE
  articles/synapse-analytics/sql/develop-storage-files-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc

#84670 Clarify connector type for SQL Server
  articles/logic-apps/logic-apps-gateway-connection.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged

#84955 update the link of provisioning_configuration
  articles/machine-learning/how-to-create-attach-kubernetes.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#85055 Update integration-defender-for-endpoint.md
  articles/defender-for-cloud/integration-defender-for-endpoint.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#85070 Added bash script sample
  articles/virtual-machines/linux/no-agent.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, imaging/subsvc

#72964 Improved readability
  articles/migrate/migrate-support-matrix-physical.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, inactive

#85075 Fix the example code snippets for user assigned identities
  articles/automation/add-user-assigned-identity.md
Labels: Change sent to author, ready-to-merge, automation/svc, process-automation/subsvc, aq-pr-triaged

#84761 Update msal-net-acquire-token-silently.md
  articles/active-directory/develop/msal-net-acquire-token-silently.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#85086 Typo "Azure CosmosDB"→"Azure Cosmos DB"
  articles/cosmos-db/graph/bulk-executor-graph-dotnet.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-graph/subsvc

#85094 Corrected grammer
  articles/virtual-machines/shared-image-galleries.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, ATCP, gallery/subsvc

#85010 "Azure Machine Learning" service is not available
  articles/machine-learning/concept-plan-manage-cost.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc

#84909 Corrected curated image
  articles/machine-learning/tutorial-1st-experiment-sdk-train.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#85062 Fix typo 'PARTITON' -> 'PARTITION'
  articles/stream-analytics/stream-analytics-stream-analytics-query-patterns.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge, aq-pr-triaged

#85099 Removing deprecated URL retired aadap port check
  articles/active-directory/cloud-sync/how-to-troubleshoot.md
Labels: Change sent to author, ready-to-merge, windows-server-threshold/prod, aq-pr-triaged, identity-adfs/tech

#84824 Update tshoot-connect-sync-errors.md
  articles/active-directory/hybrid/tshoot-connect-sync-errors.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#76793 Add an Nginx Ingress Controller sample
  articles/frontdoor/front-door-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, inactive

#85121 PasswordPolicies expected values
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#85090 Update create-cosmosdb-resources-portal.md
  articles/cosmos-db/sql/create-cosmosdb-resources-portal.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, cosmosdb-sql/subsvc, aq-pr-triaged

#85140 Update to thick provisioned question
  articles/azure-vmware/faq.yml
Labels: Change sent to author, do-not-merge, review-team-triage, aq-pr-triaged, azure-vmware/svc

#85147 Typo "accesss"→"access"
  articles/data-factory/create-azure-ssis-integration-runtime-powershell.md
Labels: Change sent to author, data-factory/svc, do-not-merge, integration-services/subsvc

#84534 fix a typo
  articles/postgresql/flexible-server/concepts-logical.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged

#85146 Update tshoot-connect-sync-errors.md
  articles/active-directory/hybrid/tshoot-connect-sync-errors.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#85154 Typo "Azure CosmosDB"→"Azure Cosmos DB"
  articles/dms/known-issues-mongo-cosmos-db.md
Labels: Change sent to author, dms/svc, do-not-merge

#84621 Update storage-files-identity-ad-ds-enable.md
  articles/storage/files/storage-files-identity-ad-ds-enable.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged

#85038 Update howto-vm-sign-in-azure-ad-linux.md
  articles/active-directory/devices/howto-vm-sign-in-azure-ad-linux.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc, aq-pr-triaged

#85156 Updated number of Replicas for Azure Cache for Redis
  articles/azure-cache-for-redis/includes/redis-cache-service-limits.md
Labels: Change sent to author, redis-cache/svc, do-not-merge, aq-pr-triaged

#84265 Update nfs-comparison.md
  articles/storage/common/nfs-comparison.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged

#85224 Update move-support-resources-FlexibleServers.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, management/subsvc

#82901 Improve AppService mutual TLS example code
  articles/app-service/app-service-web-configure-tls-mutual-auth.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged

#84875 Fix $rid parameter naming in MQTT broker pub/sub docs.
  articles/iot-edge/how-to-publish-subscribe.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#85206 Fix typo
  articles/app-service/quickstart-python-portal.md
Labels: Change sent to author, ready-to-merge, app-service/svc

#85213 modules.md - spelling correction
  articles/azure-resource-manager/bicep/modules.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc

#85226 Update automation-get-started.md
  articles/virtual-machines/workloads/sap/automation-get-started.md
Labels: Change sent to author, ready-to-merge, virtual-machines-sap/svc

#85227 Update automation-deploy-control-plane.md
  articles/virtual-machines/workloads/sap/automation-deploy-control-plane.md
Labels: Change sent to author, ready-to-merge, virtual-machines-sap/svc

#85049 Removed progress output in code sample
  articles/aks/planned-maintenance.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#84350 docs: Alphabetically sort mainstream Azure services
  articles/availability-zones/region-types-service-categories-azure.md
Labels: Change sent to author, ready-to-merge, azure/svc, aq-pr-triaged

#81935 Add info to two settings...
  articles/service-fabric/service-fabric-cluster-fabric-settings.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged

#85136 Added SQL MI Private Endpoint Info
  articles/private-link/private-endpoint-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc

#85250 Adding a next step for securing the VM
  articles/virtual-machines/windows/aws-to-azure.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged

#82359 Replace default GUID with substitution value to better illustrate where values are sourced and eliminate errors
  articles/service-fabric/how-to-managed-identity-managed-cluster-virtual-machine-scale-sets.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged

#82174 Update service fabric tutorial fix typos in index.cshtml
  articles/service-fabric/service-fabric-tutorial-create-dotnet-app.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged, hacktoberfest-accepted

#84741 Update service-accounts-group-managed.md
  articles/active-directory/fundamentals/service-accounts-group-managed.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#81835 Updated typo of "SLB has no SLA"
  articles/service-fabric/service-fabric-patterns-networking.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged

#82345 removed extra quotes on 55
  articles/virtual-machines/windows/image-builder-virtual-desktop.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, image-builder/subsvc

#85214 Typo "Azure dedicated host"→"Azure Dedicated Host"
  articles/virtual-machines/maintenance-control-portal.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, maintenance/subsvc

#84217 Update howto-vm-sign-in-azure-ad-windows.md
  articles/active-directory/devices/howto-vm-sign-in-azure-ad-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#84905 added hint referring to the password policy
  articles/active-directory/enterprise-users/users-bulk-add.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc

#85240 Fix typo TLS instead of TSL
  articles/synapse-analytics/security/connectivity-settings.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, synapse-analytics/svc

#85271 typo: ou -> you
  articles/postgresql/flexible-server/concepts-logical.md
Labels: Change sent to author, postgresql/svc, do-not-merge

#84716 Edv5 and Edsv5-series text
  articles/virtual-machines/sizes-memory.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, vm-sizes-memory/subsvc

#78579 Update howto-vm-sign-in-azure-ad-windows.md - managed identity under oid and not appid
  articles/active-directory/devices/howto-vm-sign-in-azure-ad-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#80772 Improve Feature comparison of versions section
  articles/active-directory/authentication/concept-mfa-licensing.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, aq-pr-triaged

#84332 Abort and Commit doesn't support CreateNewVirtualNetwork switch, upda…
  articles/cloud-services-extended-support/in-place-migration-powershell.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cloud-services-extended-support/svc, classic-to-arm-migration/subsvc

#85303 'Layout containers' YAML content is sensible to indentation. Missing…
  articles/applied-ai-services/form-recognizer/containers/form-recognizer-container-configuration.md
Labels: Change sent to author, ready-to-merge, forms-recognizer/subsvc, applied-ai-services/svc

#85325 Removing the Xamarin specific note.
  articles/active-directory/develop/msal-authentication-flows.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#84887 Update overview-reports.md
  articles/active-directory/reports-monitoring/overview-reports.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc, aq-pr-triaged

#85012 Updating unclear licensing info
  articles/active-directory/reports-monitoring/concept-all-sign-ins.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc, aq-pr-triaged

#85314 just a typo/formatting error, missing '*' for bold
  articles/defender-for-cloud/troubleshooting-guide.md
Labels: do-not-merge, review-team-triage

#85336 Bicep install: Fix a typo and reduce repetition
  articles/azure-resource-manager/bicep/install.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc

#85292 Added a line item for disaster recovery in Storage and SQL based sources
  articles/data-share/supported-data-stores.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, data-share/svc

#85011 (AzureCXP) fixes MicrosoftDocs/azure-docs#84818
  articles/azure-functions/functions-run-local.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#85352 Minor fixes on multi-slot concept docs
  articles/cognitive-services/personalizer/concept-multi-slot-personalization.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, personalizer/subsvc

#85343 Remove Preview from windows 11
  articles/virtual-desktop/overview.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#85346 Update language-packs.md
  articles/virtual-desktop/language-packs.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#84063 Update how-to-upgrade-using-dump-and-restore.md
  articles/postgresql/how-to-upgrade-using-dump-and-restore.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged

#85139 Correcting roles who can create, read and manage reviews
  articles/active-directory/governance/deploy-access-reviews.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged

#85204 adding review series id column
  articles/active-directory/governance/access-reviews-downloadable-review-history.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged

#85374 String change
  includes/site-recovery-configuration-and-scaleout-process-server-requirements.md
Labels: Change sent to author, site-recovery/svc, do-not-merge

#85380 Typo fix
  articles/active-directory/devices/howto-vm-sign-in-azure-ad-linux.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc

#85333 Update how-to-train-distributed-gpu.md
  articles/machine-learning/how-to-train-distributed-gpu.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#85287 copy edit
  articles/cognitive-services/Translator/containers/translator-container-configuration.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc, aq-pr-triaged
