Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-06, with the labels that each got.

#76195 Fixing query with Get-AzureAdLicense
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#76050 Typo "**Storage Explorer (preview) "→"**Storage Explorer (preview) **"
  articles/azure-functions/start-stop-vms/troubleshoot.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, ready-to-merge, start-stop-vms/subsvc

#76102 Typo "Azure queue"→"Azure Queue"
  articles/azure-monitor/alerts/alerts-webhooks.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, aq-pr-triaged, ready-to-merge

#71887 Update app-service-web-tutorial-custom-domain-uiex.md
  articles/app-service/app-service-web-tutorial-custom-domain-uiex.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, do-not-merge, ready-to-merge

#75158 Update germany-migration-main.md
  articles/germany/germany-migration-main.md
Labels: Change sent to author, aq-pr-triaged, germany/svc, ready-to-merge

#76193 Fixed typo in template-functions-deployment.md
  articles/azure-resource-manager/templates/template-functions-deployment.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#76121 minor typo/grammar issue fix
  articles/purview/concept-insights.md
Labels: Change sent to author, do-not-merge, purview-data-catalog/subsvc, purview/svc

#76171 Rewrite Rule for X-Forwarded-Proto
  articles/spring-cloud/expose-apps-gateway-azure-firewall.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#76216 Small update to linux-emulator.md
  articles/cosmos-db/linux-emulator.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#76210 Update concept-endpoints.md
  articles/machine-learning/concept-endpoints.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#76207 Corrected typos in relation to dual protocol support
  articles/azure-netapp-files/create-volumes-dual-protocol.md
Labels: Change sent to author, azure-netapp-files/svc, ready-to-merge

#76196 Typo "Graph explorer"→"Graph Explorer"
  articles/active-directory/roles/custom-assign-graph.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, roles/subsvc

#76148 Typo "**Services)"→"**Services**)"
  articles/azure-sql/migration-guides/virtual-machines/sql-server-availability-group-to-sql-on-azure-vm.md
Labels: Change sent to author, do-not-merge, migration-guide/subsvc, virtual-machines-sql/svc

#76147 Typo "**Choose Migration activity type **"→"**Choose Migration activi…
  articles/dms/tutorial-sql-server-to-azure-sql.md
Labels: Change sent to author, dms/svc, do-not-merge

#76146 Typo "**Mobility services (Preview) **"→"**Mobility services (Preview…
  articles/azure-maps/migrate-from-google-maps-web-services.md
Labels: Change sent to author, azure-maps/svc, do-not-merge

#72331 Update characters allowed in Azure AD password
  articles/active-directory/authentication/concept-sspr-policy.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#74162 Update change-sku.md
  articles/active-directory-domain-services/change-sku.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, domain-services/subsvc, ready-to-merge

#75575 Extra whitespaces removed
  articles/service-fabric/service-fabric-cluster-resource-manager-node-tagging.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-fabric/svc

#75857 Update cache-how-to-premium-vnet.md
  articles/azure-cache-for-redis/cache-how-to-premium-vnet.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#75884 Update cache-how-to-premium-vnet.md
  articles/azure-cache-for-redis/cache-how-to-premium-vnet.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#75994 Update cache-how-to-monitor.md
  articles/azure-cache-for-redis/cache-how-to-monitor.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#76239 Updated two name spellings and links
  articles/azure-government/documentation-government-csp-list.md
Labels: Change sent to author, aq-pr-triaged, azure-government/svc, do-not-merge, ready-to-merge

#76172 Remove outdated statement about IoT Plug and Play
  articles/iot-hub/iot-hub-devguide-quotas-throttling.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#76108 fix: changed a minor typo
  articles/machine-learning/tutorial-train-models-with-aml.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#76240 Added link to the youtube recording
  articles/active-directory/develop/developer-guide-conditional-access-authentication-context.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#76281 Update quickstart-create-workspace-cli.md
  articles/synapse-analytics/quickstart-create-workspace-cli.md
Labels: do-not-merge

#76219 Update how-to-select-update-package.md
  articles/azure-percept/how-to-select-update-package.md
Labels: Change sent to author, aq-pr-triaged, azure-percept/svc, do-not-merge

#73721 Update collect-custom-metrics-linux-telegraf.md
  articles/azure-monitor/essentials/collect-custom-metrics-linux-telegraf.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge, essentials/subsvc

#75964 HangUp is an Async API
  articles/communication-services/quickstarts/voice-video-calling/includes/calling-sdk-windows.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, do-not-merge

#76279 Update data-lake-storage-directory-file-acl-cli.md
  articles/storage/blobs/data-lake-storage-directory-file-acl-cli.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#76182 Added missing '('
  articles/web-application-firewall/ag/custom-waf-rules-overview.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, web-application-firewall/svc

#76291 teensy typo
  articles/machine-learning/how-to-high-availability-machine-learning.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#76297 Update terminology from "device churn" to "stale devices" for clarity.
  articles/active-directory/devices/howto-device-identity-virtual-desktop-infrastructure.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge

#76301 Correct typo in the documentation
  articles/active-directory/develop/troubleshoot-publisher-verification.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#76233 Edits from New Relic
  articles/active-directory/saas-apps/new-relic-limited-release-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#76086 Update tutorial-mysql-azure-mysql-offline-portal.md
  articles/dms/tutorial-mysql-azure-mysql-offline-portal.md
Labels: Change sent to author, aq-pr-triaged, dms/svc, do-not-merge

#76310 Fix link
  articles/machine-learning/how-to-use-managed-identities.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#76223 Introducing Azure China Locations
  articles/azure-monitor/app/monitor-web-app-availability.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#76263 Update hyperledger-fabric-consortium-azure-kubernetes-service.md
  articles/blockchain/templates/hyperledger-fabric-consortium-azure-kubernetes-service.md
Labels: Change sent to author, aq-pr-triaged, azure-blockchain/svc, ready-to-merge

#75488 Update app-attach-azure-portal.md
  articles/virtual-desktop/app-attach-azure-portal.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-desktop/svc

#76344 Typo "Azure blob storage"→"Azure Blob Storage"
  articles/machine-learning/team-data-science-process/move-hive-tables.md
Labels: Change sent to author, do-not-merge, machine-learning/svc, team-data-science-process/subsvc

#76252 Typo "Azure storage explorer"→"Azure Storage Explorer"
  articles/cognitive-services/metrics-advisor/data-feeds-from-different-sources.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, metrics-advisor/subsvc, ready-to-merge

#76313 Update python.md
  articles/cognitive-services/metrics-advisor/includes/quickstarts/python.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, metrics-advisor/subsvc, ready-to-merge

#76235 Updated redemption through the direct link
  articles/active-directory/external-identities/redemption-experience.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#76376 Fixed typographical error on word "Linked"
  articles/azure-sql/managed-instance/transact-sql-tsql-differences-sql-server.md
Labels: do-not-merge

#76367 Define all input as variables
  articles/storage/files/storage-files-identity-ad-ds-enable.md
Labels: Change sent to author, aq-pr-triaged, files/subsvc, ready-to-merge, storage/svc

#76411 (AzureCXP) fixes MicrosoftDocs/azure-docs#76409
  articles/sentinel/cef-name-mapping.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, do-not-merge

#76417 Fixing minor typos
  articles/migrate/concepts-vmware-agentless-migration.md
Labels: do-not-merge

#76337 Update storage-how-to-mount-container-linux.md
  articles/storage/blobs/storage-how-to-mount-container-linux.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, storage/svc

#76392 Typo "Azure blob storage"→"Azure Blob Storage"
  articles/search/search-semi-structured-data.md
Labels: Change sent to author, aq-pr-triaged, cognitive-search/svc, do-not-merge

#76426 Update container-registry-authentication.md
  articles/container-registry/container-registry-authentication.md
Labels: Change sent to author, container-registry/svc, do-not-merge

#76049 Update page-layout.md
  articles/active-directory-b2c/page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#76445 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/search/search-blob-ai-integration.md
Labels: Change sent to author, cognitive-search/svc, do-not-merge

#76446 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/monitor-blob-storage-reference.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#76447 Update TOC.yml (Typo "Azure Blob storage"→"Azure Blob Storage")
  articles/storage/blobs/TOC.yml
Labels: do-not-merge, review-team-triage

#76448 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/data-lake-storage-introduction.md
Labels: Change sent to author, data-lake-storage-gen2/subsvc, do-not-merge, storage/svc

#76449 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/storage-upload-process-images.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#76451 Singed > signed
  articles/active-directory/authentication/concepts-azure-multi-factor-authentication-prompts-session-lifetime.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, do-not-merge

#75718 Typo "cognitive search"→"Cognitive Search"
  articles/search/cognitive-search-attach-cognitive-services.md
Labels: Change sent to author, aq-pr-triaged, cognitive-search/svc, ready-to-merge

#76481 Fixes typo
  articles/azure-monitor/alerts/alerts-dynamic-thresholds.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, do-not-merge

#76466 Update concept-sign-ins.md
  articles/active-directory/reports-monitoring/concept-sign-ins.md
Labels: Change sent to author, active-directory/svc, do-not-merge, report-monitor/subsvc

#76436 Updated more details
  articles/active-directory/external-identities/redemption-experience.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#76385 Updated Custom Skill Bing Entity Search Example
  articles/search/cognitive-search-create-custom-skill-example.md
Labels: Change sent to author, aq-pr-triaged, cognitive-search/svc, cognitive-services/svc, ready-to-merge

#75912 Support for managed VNET
  articles/data-factory/includes/data-factory-v2-integration-runtime-requirements.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#75793 updated migration assets to point to download center URLs.
  articles/azure-sql/migration-guides/database/db2-to-sql-database-guide.md
  articles/azure-sql/migration-guides/managed-instance/db2-to-managed-instance-guide.md
  articles/azure-sql/migration-guides/virtual-machines/db2-to-sql-on-azure-vm-guide.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, migration-guide/subsvc, virtual-machines-sql/svc

#76545 Fix typo
  articles/azure-monitor/logs/data-security.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#76584 Delete redundant text
  articles/active-directory/app-provisioning/user-provisioning.md
Labels: Change sent to author, active-directory/svc, app-provisioning/subsvc, ready-to-merge

#76253 Typo "Azure storage explorer"→"Azure Storage Explorer"
  articles/healthcare-apis/fhir/de-identified-export.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, fhir/subsvc, healthcare-apis/svc

#76570 remove duplicate entry in 'next steps'
  articles/storage/tables/table-storage-design-encrypt-data.md
Labels: Change sent to author, do-not-merge, storage/svc, tables/subsvc

#76567 Update azure-consumption-commitment-enrollment.md
  articles/marketplace/azure-consumption-commitment-enrollment.md
Labels: Change sent to author, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#76124 Update tutorial-scan-data.md
  articles/purview/tutorial-scan-data.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, purview-data-catalog/subsvc, purview/svc

#73423 Correct API permissions in api-management-howto-aad.md
  articles/api-management/api-management-howto-aad.md
Labels: Change sent to author, api-management/svc, aq-pr-triaged, do-not-merge

#69613 Added note for VDI infra and smart card users
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#76596 Update managed-instance-overview.md
  articles/azure-arc/data/managed-instance-overview.md
Labels: Change sent to author, azure-arc-data/subsvc, azure-arc/svc, do-not-merge

#74262 Fix invalid kernel version
  articles/virtual-network/create-vm-accelerated-networking-cli.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-network/svc

#75561 Fix code blocks in private-endpoint-powershell.md
  articles/attestation/private-endpoint-powershell.md
Labels: Change sent to author, aq-pr-triaged, attestation/svc, ready-to-merge

#75563 Update azure-diagnostic-monitoring.md
  articles/attestation/azure-diagnostic-monitoring.md
Labels: Change sent to author, aq-pr-triaged, attestation/svc, ready-to-merge

#75564 Update audit-logs.md
  articles/attestation/audit-logs.md
Labels: Change sent to author, aq-pr-triaged, attestation/svc, ready-to-merge

#75897 Update connector-sharepoint-online-list.md
  articles/data-factory/connector-sharepoint-online-list.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#74378 Remove duplicated --blob-tags parameter names and errant `
  articles/storage/common/storage-use-azcopy-blobs-copy.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#74552 Add HashTable Az pwsh syntax for AKV settings
  articles/virtual-machines/extensions/key-vault-windows.md
Labels: Change sent to author, aq-pr-triaged, extensions/subsvc, ready-to-merge, virtual-machines/svc

#75471 Change Github action example to always log out
  articles/storage/blobs/storage-blobs-static-site-github-actions.md
Labels: Change sent to author, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#75582 Delete a misleading comment
  articles/iot-dps/tls-support.md
Labels: Change sent to author, aq-pr-triaged, iot-dps/svc, ready-to-merge

#75728 Modified explanation of initial domain
  articles/active-directory/develop/quickstart-create-new-tenant.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#76090 Update export-model-python.md for Custom Vision service
  articles/cognitive-services/Custom-Vision-Service/export-model-python.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, custom-vision/subsvc, ready-to-merge

#76264 Update capture-image-resource.md
  articles/virtual-machines/windows/capture-image-resource.md
Labels: Change sent to author, aq-pr-triaged, imaging/subsvc, ready-to-merge, virtual-machines/svc

#76609 Update tutorial-network-checklist.md
  articles/azure-vmware/tutorial-network-checklist.md
Labels: Change sent to author, azure-vmware/svc, ready-to-merge

#76613 correct sed command in transfer-subscription.md
  articles/role-based-access-control/transfer-subscription.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#75742 Update authentication-custom.md
  articles/static-web-apps/authentication-custom.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#76603 Fix query in Hyperscale sharding tutorial
  articles/postgresql/tutorial-hyperscale-shard.md
Labels: Change sent to author, do-not-merge, hyperscale-citus/subsvc, postgresql/svc

#73026 Update how-to-connect-azureadaccount.md
  articles/active-directory/hybrid/how-to-connect-azureadaccount.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#73027 Update how-to-connect-sync-change-serviceacct-pass.md
  articles/active-directory/hybrid/how-to-connect-sync-change-serviceacct-pass.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#73361 Update how-to-connect-health-ad-fs-sign-in.md
  articles/active-directory/hybrid/how-to-connect-health-ad-fs-sign-in.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#73590 Update how-to-connect-install-multiple-domains.md
  articles/active-directory/hybrid/how-to-connect-install-multiple-domains.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#75585 Update macOS chrome instructions for SSO install
  articles/active-directory/hybrid/how-to-connect-sso-quick-start.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#76008 Update standard-for-success-accreditation-tutorial.md
  articles/active-directory/saas-apps/standard-for-success-accreditation-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#75648 Update reference-connect-sync-attributes-synchronized.md
  articles/active-directory/hybrid/reference-connect-sync-attributes-synchronized.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#75724 Fixed link
  articles/security-center/defender-for-container-registries-introduction.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security-center/svc

#75764 proper code blocks
  articles/security-center/security-center-powershell-onboarding.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security-center/svc

#76075 Update groups-features.md
  articles/active-directory/privileged-identity-management/groups-features.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, pim/subsvc, ready-to-merge

#76149 Update reference-powershell.md
  articles/active-directory/cloud-sync/reference-powershell.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#76185 fix link to trivy
  articles/security-center/defender-for-container-registries-cicd.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security-center/svc

#76542 Typo "cognitive service API"→"Cognitive Service API"
  articles/cognitive-services/QnAMaker/encrypt-data-at-rest.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#76312 python mqtt payload as json
  articles/iot-hub/iot-hub-mqtt-support.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub/svc

#76330 Revert "Revert "Add optional network requirements for third party apm" due to feature is not avaiable for now"
  articles/spring-cloud/vnet-customer-responsibilities.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#75984 Update doc to include Voice Assitant Test Tool
  articles/cognitive-services/Speech-Service/how-to-custom-commands-developer-flow-test.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, speech-service/subsvc

#75583 Deleted @ on line 291 causing a failure
  articles/devtest-labs/add-artifact-repository.md
Labels: Change sent to author, aq-pr-triaged, devtest-lab/svc, ready-to-merge

#76650 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/import-export/storage-import-export-requirements.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#76652 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/security-recommendations.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#76653 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/network-file-system-protocol-support.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#76654 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#76651 Typo "Azure File storage"→"Azure File Storage"
  articles/virtual-machines/workloads/oracle/oracle-database-backup-azure-storage.md
Labels: Change sent to author, do-not-merge, oracle/subsvc, virtual-machines/svc

#76678 Fix typo
  articles/azure-resource-manager/bicep/key-vault-parameter.md
Labels: Change sent to author, azure-resource-manager/svc, bicep/subsvc, do-not-merge

#76681 Minor grammar updates in overview
  articles/azure-arc/kubernetes/overview.md
Labels: Change sent to author, azure-arc-kubernetes/subsvc, azure-arc/svc, do-not-merge

#76119 (AzureCXP) fixes MicrosoftDocs/azure-docs#76096
  articles/machine-learning/tutorial-1st-experiment-sdk-train.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#76608 added Database Compare Utility to Migration Assets section
  articles/azure-sql/migration-guides/database/db2-to-sql-database-guide.md
  articles/azure-sql/migration-guides/database/mysql-to-sql-database-guide.md
  articles/azure-sql/migration-guides/database/oracle-to-sql-database-guide.md
  articles/azure-sql/migration-guides/managed-instance/db2-to-managed-instance-guide.md
  articles/azure-sql/migration-guides/managed-instance/oracle-to-managed-instance-guide.md
  articles/azure-sql/migration-guides/virtual-machines/db2-to-sql-on-azure-vm-guide.md
  articles/azure-sql/migration-guides/virtual-machines/oracle-to-sql-on-azure-vm-guide.md
Labels: Change sent to author, aq-pr-triaged, migration-guide/subsvc, ready-to-merge, virtual-machines-sql/svc

#76617 Update customize-branding.md
  articles/active-directory/fundamentals/customize-branding.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#76664 Update application-proxy-add-on-premises-application.md
  articles/active-directory/app-proxy/application-proxy-add-on-premises-application.md
Labels: Change sent to author, active-directory/svc, app-proxy/subsvc, aq-pr-triaged, ready-to-merge

#76715 Updating Public IP address limits
  includes/azure-virtual-network-limits.md
Labels: Change sent to author, networking/svc, ready-to-merge

#76705 Typo fix: remove unnecessary parenthesis
  articles/key-vault/secrets/about-secrets.md
Labels: Change sent to author, key-vault/svc, ready-to-merge, secrets/subsvc

#76553 Adding note about pricing tier of Text Analytics
  articles/cognitive-services/QnAMaker/custom-question-answering.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#76729 Update connect-windows-7-10.md
  articles/virtual-desktop/connect-windows-7-10.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#76730 Update connect-windows-7-10-2019.md
  articles/virtual-desktop/virtual-desktop-fall-2019/connect-windows-7-10-2019.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#76410 Guidance on using custom attributes in dynamic group
  articles/active-directory/enterprise-users/groups-dynamic-membership.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, ready-to-merge

#76622 Add note for analytical store private dns zone
  articles/cosmos-db/analytical-store-private-endpoints.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#76254 Update query example
  articles/governance/policy/concepts/policy-for-kubernetes.md
Labels: Change sent to author, aq-pr-triaged, azure-policy/svc, ready-to-merge

#76579 Update how-to-create-test-certificates.md
  articles/iot-edge/how-to-create-test-certificates.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#76577 Update how-to-create-test-certificates.md
  articles/iot-edge/how-to-create-test-certificates.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#76624 Update concept-enable-rbac.md
  articles/azure-app-configuration/concept-enable-rbac.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#76772 Fixed typo
  articles/data-factory/includes/data-factory-v2-integration-runtime-requirements.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#76825 Added new partners to AOSG list
  articles/azure-government/documentation-government-csp-list.md
Labels: Change sent to author, azure-government/svc, ready-to-merge

#76815 Need to change the location on where the NPS Extension Stores it's event logs for troubleshooting
  articles/active-directory/authentication/howto-mfa-nps-extension-errors.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, do-not-merge

#76698 Update the release annotation docs
  articles/azure-monitor/app/annotations.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#76876 Remove duplicate sentence about emulator on windows
  articles/cosmos-db/local-emulator.md
Labels: Change sent to author, cosmos-db/svc, ready-to-merge

#75795 Different behavior than what is documented
  articles/purview/create-a-custom-classification-and-classification-rule.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, purview-data-catalog/subsvc, purview/svc

#76850 Update coredns-custom.md
  articles/aks/coredns-custom.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#76899 Small update to v2-oauth2-auth-code-flow.md
  articles/active-directory/develop/v2-oauth2-auth-code-flow.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#76898 Update private-endpoint-dns.md
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, private-link/svc

#76902 Update backup protection section to reflect actual capabilities.
  articles/active-directory/fundamentals/active-directory-architecture.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, fundamentals/subsvc

#76901 Fix MSI example for Go
  articles/active-directory/managed-identities-azure-resources/how-to-use-vm-token.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, msi/subsvc

#76827 Update azuread-join-sso.md
  articles/active-directory/devices/azuread-join-sso.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#76930 Update harden-docker-hosts.md
  articles/security-center/harden-docker-hosts.md
Labels: Change sent to author, do-not-merge, security-center/svc

#63033 Update planned-maintenance_armaha.md
  articles/azure-sql/database/planned-maintenance.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service/subsvc, sql-db-mi/svc

#76628 (AzureCXP) fixes MicrosoftDocs/azure-docs#76610
  articles/machine-learning/how-to-use-environments.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#76914 Update push-kv-devops-pipeline.md
  articles/azure-app-configuration/push-kv-devops-pipeline.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, do-not-merge

#76806 Update develop-tables-data-types.md
  articles/synapse-analytics/sql/develop-tables-data-types.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sql/subsvc, synapse-analytics/svc

#74889 Add note for supported resource type
  articles/cognitive-services/cognitive-services-virtual-networks.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, ready-to-merge

#76206 Update user-help-join-device-on-network.md
  articles/active-directory/user-help/user-help-join-device-on-network.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, user-help/subsvc

#74979 Modified duplicated annotation and dependencies
  articles/spring-cloud/how-to-service-registration.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#76912 Update sync-ldap.md
  articles/active-directory/fundamentals/sync-ldap.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge
