Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-11, with the labels that each got.

#81534 (Azure-CXP) Fix for GitHub Issue - 81532
  articles/postgresql/flexible-server/tutorial-django-aks-database.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, triaged-october-2021

#81951 Small grammar change and code sample fix for single-database-create-quickstart.md
  articles/azure-sql/database/single-database-create-quickstart.md
Labels: Change sent to author, ready-to-merge, sql-database/svc, aq-pr-triaged, deployment-configuration/subsvc, triaged-october-2021

#82356 Update to next LTS version
  articles/service-fabric/service-fabric-versions.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, triaged-october-2021

#82696 Fixed grammatical error
  articles/app-service/manage-scale-per-app.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, triaged-october-2021

#82719 Update the URLs to be the correct pattern
  articles/active-directory/saas-apps/workplacebyfacebook-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, triaged-october-2021

#82754 Docs: Fix symetric key to asymetric key
  articles/application-gateway/configuration-listeners.md
  articles/application-gateway/ssl-overview.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, hacktoberfest, hacktoberfest-accepted, triaged-october-2021

#82898 corrected windows bicep extension id
  articles/azure-resource-manager/bicep/install.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, triaged-october-2021

#82914 changing links to node repo for pnp samples
  includes/iot-pnp-connect-device-node.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, iot-develop/svc, triaged-october-2021

#82995 updated broken link
  articles/active-directory/develop/developer-guide-conditional-access-authentication-context.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, triaged-october-2021

#83007 Update Data Residency to single region
  articles/spring-cloud/faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, spring-cloud/svc, triaged-october-2021

#83081 Suggestion to add output to Bicep template
  articles/container-registry/container-registry-get-started-bicep.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, triaged-october-2021

#83084 Suggestion to directly query loginServer
  articles/azure-resource-manager/bicep/private-module-registry.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, triaged-october-2021

#83106 Update information for Subscription existence scope
  articles/governance/policy/concepts/effects.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, triaged-october-2021

#83108 Include note about Azure Stack Hub support
  articles/azure-resource-manager/bicep/overview.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, triaged-october-2021

#83148 Update bicep-functions-string.md
  articles/azure-resource-manager/bicep/bicep-functions-string.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, triaged-october-2021

#83149 Update entity-suspend.md
  articles/service-bus-messaging/entity-suspend.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, triaged-october-2021

#83155 Container languages and Base URLs
  articles/cognitive-services/Translator/containers/translator-how-to-install-container.md
  articles/cognitive-services/Translator/reference/v3-0-reference.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc, aq-pr-triaged, triaged-october-2021

#83168 fixed bugs
  articles/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, verifiable-credentials/subsvc, triaged-october-2021

#83248 Grammatical correction.
  articles/active-directory-b2c/overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#83042 Update to use the Azure AD Kerberos PowerShell Module for FIDO2 provisioning
  articles/active-directory/authentication/howto-authentication-passwordless-security-key-on-premises.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, triaged-october-2021

#82980 Update create-a-custom-classification-and-classification-rule.md
  articles/purview/create-a-custom-classification-and-classification-rule.md
Labels: Change sent to author, ready-to-merge, triaged, aq-pr-triaged, purview/svc, purview-data-catalog/subsvc, triaged-october-2021

#82455 Update network-file-system-protocol-support-how-to.md
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, ready-to-merge, storage/svc, triaged, blobs/subsvc, aq-pr-triaged, triaged-october-2021

#83241 Updated the command - with correct case.
  articles/governance/policy/concepts/policy-for-kubernetes.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged

#82686 Update trakstar-tutorial.md
  articles/active-directory/saas-apps/trakstar-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, triaged, saas-app-tutorial/subsvc, aq-pr-triaged, triaged-october-2021

#83264 Update set-up-sql-db-storage-single-tenant-standard-workflows.md
  articles/logic-apps/set-up-sql-db-storage-single-tenant-standard-workflows.md
Labels: Change sent to author, logic-apps/svc, do-not-merge

#83238 Update how-to-visual-studio-develop-module.md
  articles/iot-edge/how-to-visual-studio-develop-module.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged, triaged-october-2021

#82943 Update how-to-connect-pta-disable-do-not-configure.md
  articles/active-directory/hybrid/how-to-connect-pta-disable-do-not-configure.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#83005 Update active-directory-service-limits-include.md
  includes/active-directory-service-limits-include.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, triaged-october-2021

#83076 Fixed spelling error in index-add-scoring-profiles.md
  articles/search/index-add-scoring-profiles.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cognitive-search/svc, triaged-october-2021

#83079 Fixed small typo
  articles/azure-functions/functions-infrastructure-as-code.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, triaged-october-2021

#83099 Comma missing in sentence
  articles/synapse-analytics/get-started-analyze-spark.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, triaged-october-2021

#83109 Update index.yml
  articles/marketplace/index.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, triaged-october-2021

#83035 Added missing OTP validation error message
  articles/active-directory-b2c/custom-email-mailjet.md
  articles/active-directory-b2c/custom-email-sendgrid.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged, triaged-october-2021

#83229 remove vs 2015 support for Azure IoT preview
  articles/iot-hub/iot-hub-distributed-tracing.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, aq-pr-triaged, triaged-october-2021

#83110 Remove unused backslash
  articles/cosmos-db/table/create-table-dotnet.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-table/subsvc, aq-pr-triaged, triaged-october-2021

#83131 Added Node10 as a prerequisite.
  articles/azure-app-configuration/push-kv-devops-pipeline.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged, triaged-october-2021

#83138 Fixed typo
  articles/machine-learning/tutorial-convert-ml-experiment-to-production.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc, triaged-october-2021

#83175 (AzureCXP) fixed typo
  articles/synapse-analytics/plan-manage-costs.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, overview/subsvc, triaged-october-2021

#83181 fixed typo in app service deploy best practices
  articles/app-service/deploy-best-practices.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged, triaged-october-2021

#83178 An update to index-overview.md
  articles/cosmos-db/index-overview.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc, aq-pr-triaged, triaged-october-2021

#83191 typo in document - changes should read charges
  articles/azure-monitor/logs/quick-create-workspace.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, triaged-october-2021

#83281 Fix spelling mistake
  articles/active-directory/authentication/troubleshoot-sspr.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc

#83276 Update search-modeling-multitenant-saas-applications.md
  articles/search/search-modeling-multitenant-saas-applications.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc

#83277 Typo "Typescript"→"TypeScript"
  articles/media-services/latest/includes/warning-rest-api-retry-policy.md
Labels: Change sent to author, media-services/svc, do-not-merge

#83278 Typo "Node.JS (Typescript)"→"Node.js (TypeScript)"
  articles/media-services/latest/samples-overview.md
Labels: Change sent to author, media-services/svc, do-not-merge, rest-v3/subsvc

#83222 Corrected B2C Localization OTP error message
  articles/active-directory-b2c/localization-string-ids.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, triaged-october-2021

#83298 Update rest-api.md
  articles/cognitive-services/language-service/custom-classification/includes/quickstarts/rest-api.md
  articles/cognitive-services/language-service/custom-named-entity-recognition/includes/quickstarts/rest-api.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-service/subsvc

#83307 Update concepts-lake-database.md
  articles/synapse-analytics/database-designer/concepts-lake-database.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc

#83308 Update create-empty-lake-database.md
  articles/synapse-analytics/database-designer/create-empty-lake-database.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc

#82902 fix typo in template url for talentsoft documentation
  articles/active-directory/saas-apps/talentsoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#83344 Update private-dns-virtual-network-links.md
  articles/dns/private-dns-virtual-network-links.md
Labels: Change sent to author, dns/svc, do-not-merge

#83319 Removing the "preview" word from "Text Analytics for Health (preview)"…
  articles/cognitive-services/language-service/overview.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#83098 remove serializer from docs
  articles/iot-hub/iot-hub-device-sdk-c-intro.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, aq-pr-triaged, triaged-october-2021

#82976 Update java form recognizer docs to 3.1.1 specific links
  articles/applied-ai-services/form-recognizer/api-v2-0/includes/java-v3-0-0.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, forms-recognizer/subsvc, applied-ai-services/svc

#82950 Update functions-bindings-timer.md
  articles/azure-functions/functions-bindings-timer.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#82829 Fix function return type
  articles/azure-functions/durable/durable-functions-versioning.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#83351 Update ev5-esv5-series.md
  articles/virtual-machines/ev5-esv5-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, vm-sizes-memory/subsvc

#83352 Update edv5-edsv5-series.md
  articles/virtual-machines/edv5-edsv5-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, vm-sizes-memory/subsvc

#74260 Remove undefined variable
  articles/aks/limit-egress-traffic.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, inactive

#73805 update status for annotation enable-tcp-reset: deprecated and removed
  articles/aks/load-balancer-standard.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged, inactive

#70013 Fix MY_EXTERNAL_IP_RANGE explanation
  articles/aks/load-balancer-standard.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, inactive, keep-open

#82369 Update coredns-custom.md
  articles/aks/coredns-custom.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#83394 Update search-sku-manage-costs.md
  articles/search/search-sku-manage-costs.md
Labels: Change sent to author, ready-to-merge, cognitive-search/svc

#83054 Update customize-branding.md
  articles/active-directory/fundamentals/customize-branding.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, triaged-october-2021

#83299 Correction API Management AAD steps
  articles/api-management/api-management-howto-aad.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged

#80197 Make wget only try once
  articles/aks/use-network-policies.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#83254 update to include astro
  articles/static-web-apps/front-end-frameworks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#83174 Update howto-configure-privatelink-cli.md
  articles/mysql/howto-configure-privatelink-cli.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, triaged-october-2021

#83410 Quality of Life Updates to Devices At Scale Articles
  articles/iot-edge/how-to-provision-devices-at-scale-linux-on-windows-symmetric.md
  articles/iot-edge/how-to-provision-devices-at-scale-linux-on-windows-tpm.md
  articles/iot-edge/how-to-provision-devices-at-scale-linux-on-windows-x509.md
  articles/iot-edge/how-to-provision-devices-at-scale-linux-tpm.md
  articles/iot-edge/how-to-provision-devices-at-scale-linux-x509.md
  articles/iot-edge/how-to-provision-devices-at-scale-windows-symmetric.md
  articles/iot-edge/how-to-provision-devices-at-scale-windows-tpm.md
  articles/iot-edge/how-to-provision-devices-at-scale-windows-x509.md
  includes/iot-edge-create-dps-enrollment-x509.md
  includes/iot-edge-prerequisites-at-scale-cloud-resources.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc

#83406 Quality of Life Updates to Single Device Articles
  articles/iot-edge/how-to-provision-single-device-linux-on-windows-symmetric.md
  articles/iot-edge/how-to-provision-single-device-linux-on-windows-x509.md
  articles/iot-edge/how-to-provision-single-device-linux-symmetric.md
  articles/iot-edge/how-to-provision-single-device-linux-x509.md
  articles/iot-edge/how-to-provision-single-device-windows-symmetric.md
  articles/iot-edge/how-to-provision-single-device-windows-x509.md
  includes/iot-edge-install-linux-on-windows.md
  includes/iot-edge-install-windows.md
  includes/iot-edge-prerequisites-register-device.md
  includes/iot-edge-register-device-symmetric.md
  includes/iot-edge-register-device-x509.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc

#83329 misconfiguration of *Restrict-Access-Context*
  articles/active-directory/manage-apps/tenant-restrictions.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc, aq-pr-triaged

#83296 Update ci-cd.md
  articles/sentinel/ci-cd.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-sentinel/svc, azure-sentinel/subsvc

#83403 Remove redundant "include"
  articles/aks/quotas-skus-regions.md
Labels: Change sent to author, container-service/svc, do-not-merge

#82552 Update concepts-security.md
  articles/postgresql/flexible-server/concepts-security.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged

#83416 Update concept-deployments.md
  articles/virtual-network-manager/concept-deployments.md
Labels: Change sent to author, ready-to-merge, virtual-network-manager/svc

#83417 Update ev5-esv5-series.md
  articles/virtual-machines/ev5-esv5-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, vm-sizes-memory/subsvc

#83418 Update dv5-dsv5-series.md
  articles/virtual-machines/dv5-dsv5-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, vm-sizes-general/subsvc

#82156 Correct type of roleAssignmentName to variable
  articles/role-based-access-control/quickstart-role-assignments-template.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged

#83314 Improving phrasing in backu-azure-vm-backup-faq
  articles/backup/backup-azure-vm-backup-faq.yml
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged

#83477 Fix product name
  articles/role-based-access-control/role-definitions.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc

#83500 Update overview.md
  articles/cognitive-services/language-service/custom-classification/overview.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-service/subsvc

#83490 typo
  articles/azure-monitor/overview.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, general/subsvc

#83492 Update create-empty-lake-database.md
  articles/synapse-analytics/database-designer/create-empty-lake-database.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, database-editor/subsvc

#83483 Tiny update to improve readability.
  articles/active-directory-b2c/technical-overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#83534 Added step to "Select Save" once Add the cert.
  articles/api-management/api-management-howto-mutual-certificates.md
Labels: Change sent to author, ready-to-merge, api-management/svc

#83542 Update data-box-faq.yml
  articles/databox/data-box-faq.yml
Labels: Change sent to author, do-not-merge

#83475 Updated type for AuthN to AuthZ
  includes/storage-blob-static-website-vs-static-web-app.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged

#83519 Update msal-net-provide-httpclient.md
  articles/active-directory/develop/msal-net-provide-httpclient.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#83567 Update semantic-how-to-query-request.md
  articles/search/semantic-how-to-query-request.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc

#83476 Fix issue from quick-create-powershell.md
  articles/virtual-machines/linux/quick-create-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#83336 Update managed-identity-based-authentication.md
  articles/cosmos-db/managed-identity-based-authentication.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc, aq-pr-triaged

#82872 Remove reference to Docker Hub page
  articles/cosmos-db/local-emulator-on-docker-windows.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged

#83479 Fix typo
  articles/storage/blobs/quickstart-blobs-javascript-browser.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#83528 Update tutorial-azure-postgresql-to-azure-postgresql-online-portal.md
  articles/dms/tutorial-azure-postgresql-to-azure-postgresql-online-portal.md
Labels: Change sent to author, ready-to-merge, dms/svc, aq-pr-triaged

#83501 Update sql-server-to-sql-database-overview.md
  articles/azure-sql/migration-guides/database/sql-server-to-sql-database-overview.md
Labels: Change sent to author, sql-database/svc, do-not-merge, aq-pr-triaged, migration-guide/subsvc

#82987 Updated tutorial to include group assertions
  articles/active-directory/saas-apps/cloudtamer-io-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#83536 removed the duplicate
  articles/active-directory/roles/custom-available-permissions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc

#83132 Added Node10 as a prerequisite.
  articles/azure-app-configuration/pull-key-value-devops-pipeline.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, triaged-october-2021

#83290 Change error numbers to error codes
  articles/machine-learning/how-to-troubleshoot-online-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#83469 Clarifying CLM format and syntax
  articles/cognitive-services/Speech-Service/how-to-custom-speech-test-and-train.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged

#83521 Capital of Ukraine is misspelled
  includes/front-door-edge-locations.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#83590 Update how-to-configure-custom-bgp-communities.md
  articles/expressroute/how-to-configure-custom-bgp-communities.md
Labels: Change sent to author, ready-to-merge, expressroute/svc

#83594 Fix 2 hyperlinks for VM application
  articles/virtual-machines/shared-image-galleries.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, gallery/subsvc

#83620 Update custom-data.md
  articles/virtual-machines/custom-data.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#83627 Removed sentence fragment
  articles/virtual-machines/premium-storage-performance.md
Labels: Change sent to author, storage/svc, do-not-merge, disks/subsvc

#83105 Update msal-net-initializing-client-applications.md
  articles/active-directory/develop/msal-net-initializing-client-applications.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, triaged-october-2021

#83350 More information on advanced query support for b2c
  articles/active-directory-b2c/microsoft-graph-operations.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#83630 Remove multiservice regions
  articles/cognitive-services/Translator/reference/v3-0-reference.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc

#83434 Update azure-sql-iaas-vs-paas-what-is-overview.md
  articles/azure-sql/azure-sql-iaas-vs-paas-what-is-overview.md
Labels: Change sent to author, ready-to-merge, sql-database/svc, aq-pr-triaged, service-overview/subsvc

#81983 The note about deleted server can't be restored is incorrect
  articles/postgresql/concepts-business-continuity.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged

#83198 Added Windows 11 in operatingSystemVersion
  articles/active-directory/conditional-access/concept-condition-filters-for-devices.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged, triaged-october-2021

#83066 Update spatial-analysis-container.md
  articles/cognitive-services/Computer-vision/spatial-analysis-container.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, computer-vision/subsvc, aq-pr-triaged, triaged-october-2021

#83173 Update speech-container-faq.yml
  articles/cognitive-services/Speech-Service/speech-container-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, triaged-october-2021

#83647 Update retirement date
  articles/service-bus-messaging/deprecate-service-bus-management.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#83448 Update groups-assign-sensitivity-labels.md
  articles/active-directory/enterprise-users/groups-assign-sensitivity-labels.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc

#83317 Update revisions.md
  articles/container-apps/revisions.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged

#83646 Update TOC.yml
  articles/azure-app-configuration/TOC.yml
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged

#83383 Update f5-big-ip-forms-advanced.md
  articles/active-directory/manage-apps/f5-big-ip-forms-advanced.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc, aq-pr-triaged

#83360 Update github-actions-cli.md
  articles/container-apps/github-actions-cli.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged

#83635 Update launchdarkly-tutorial.md
  articles/active-directory/saas-apps/launchdarkly-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#83348 Removing image inventory
  articles/azure-monitor/containers/container-insights-log-query.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc

#83648 Update register-scan-azure-postgresql.md to support only single server option
  articles/purview/register-scan-azure-postgresql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-map/subsvc

#83527 Update storage-account-keys-manage.md
  articles/storage/common/storage-account-keys-manage.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged

#82524 Update `az` CLI commands to force expected output
  articles/storage/files/storage-how-to-use-files-linux.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged

#79678 Fix incorrect usage of `--enable-files-aadds`
  articles/storage/files/storage-files-identity-auth-active-directory-domain-service-enable.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged

#83667 Fixed two critical typos for the RDP Shortpath feature.
  articles/virtual-desktop/shortpath.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#83660 Typo "Node.JS"→"Node.js"
  articles/media-services/latest/stream-files-nodejs-quickstart.md
Labels: Change sent to author, media-services/svc, do-not-merge, rest-v3/subsvc

#83153 "Private offers" => "Private plans"
  articles/marketplace/plans-pricing.md
Labels: Change sent to author, ready-to-merge, marketplace/svc, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc, triaged-october-2021

#83670 Update logic-apps-enterprise-integration-flatfile.md
  articles/logic-apps/logic-apps-enterprise-integration-flatfile.md
Labels: Change sent to author, logic-apps/svc, do-not-merge

#83274 Update frequently-asked-questions.yml
  articles/purview/frequently-asked-questions.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#83257 Update create-graph-console.md
  articles/cosmos-db/graph/create-graph-console.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-graph/subsvc, aq-pr-triaged

#81567 Possible corrections..
  articles/synapse-analytics/spark/apache-spark-autoscale.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#83707 Added punctuation and better context.
  articles/virtual-desktop/getting-started-feature.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#83473 Update device-data-through-iot-hub.md
  articles/healthcare-apis/iot/device-data-through-iot-hub.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged, iomt/subsvc

#81768 Updated "Acquiring an access token" claims
  articles/active-directory-b2c/secure-rest-api.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged

#82331 Update EM adding group to reference M365 groups limits
  articles/active-directory/governance/entitlement-management-access-package-resources.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged

#82395 Update active-directory-licensing-whatis-azure-portal.md
  articles/active-directory/fundamentals/active-directory-licensing-whatis-azure-portal.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#83757 Update how-to-connect-pta-disable-do-not-configure.md
  articles/active-directory/hybrid/how-to-connect-pta-disable-do-not-configure.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc

#83233 Update healthcare-apis-overview.md
  articles/healthcare-apis/healthcare-apis-overview.md
Labels: Change sent to author, ready-to-merge, healthcare-apis/svc, aq-pr-triaged, triaged-october-2021

#82883 Removed duplicate api-version query params
  articles/applied-ai-services/form-recognizer/quickstarts/try-v3-rest-api.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, forms-recognizer/subsvc, applied-ai-services/svc

#83696 Update faq-app-service-linux.yml
  articles/app-service/faq-app-service-linux.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#83728 Add delivery property config for e2e tracing
  articles/event-grid/troubleshoot-issues.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged

#82389 Update whats-new.md
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#83488 Fix module name case
  articles/iot-edge/how-to-deploy-cli-at-scale.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#83801 Fixed typo
  articles/active-directory/hybrid/how-to-connect-fed-group-claims.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#83782 Add CacheRefreshReason to Metrics table
  articles/active-directory/develop/msal-net-token-cache-serialization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#83781 Remove `configurationHealth` from edgeAgent reported properties
  articles/iot-edge/module-edgeagent-edgehub.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#80713 Change the input language to Italian
  articles/cognitive-services/Speech-Service/includes/how-to/speech-translation-basics/speech-translation-basics-python.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged

#83820 Storage account name in create container command
  articles/aks/azure-hpc-cache.md
Labels: Change sent to author, container-service/svc, do-not-merge

#83789 Added note with Microsoft recommendations
  articles/active-directory/roles/groups-concept.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc, ATCP
