Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-01, with the labels that each got.

#67843 use setup ruby v1.59.1
  articles/static-web-apps/publish-jekyll.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#68311 Corrected typo YOu to You
  articles/storage/files/storage-sync-files-deployment-guide.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#68315 Typo
  articles/active-directory-domain-services/overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, domain-services/subsvc

#68318 Grammar
  articles/load-balancer/load-balancer-overview.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#68334 Typo
  articles/virtual-machines/extensions/custom-script-windows.md
Labels: Change sent to author, do-not-merge, extensions/subsvc, virtual-machines-windows/svc

#68344 Update azure-for-network-engineers.md
  articles/networking/azure-for-network-engineers.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#68345 removed a dot which breaks the link
  articles/active-directory-b2c/technicalprofiles.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#68009 Update groups-settings-cmdlets.md
  articles/active-directory/enterprise-users/groups-settings-cmdlets.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, ready-to-merge

#68010 Update groups-assign-sensitivity-labels.md
  articles/active-directory/enterprise-users/groups-assign-sensitivity-labels.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, ready-to-merge

#68069 Update to the document
  articles/databox-online/azure-stack-edge-gpu-troubleshoot-activation.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, edge/subsvc, ready-to-merge

#68362 Typo
  articles/azure-monitor/platform/diagnostic-settings.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#60617 Update languages: Portuguese (Brazil) key
  articles/cognitive-services/Translator/language-support.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, translator-text/subsvc

#67840 Adding Video link
  articles/active-directory/authentication/tutorial-enable-azure-mfa.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#68251 Update streaming-endpoint-concept.md
  articles/media-services/latest/streaming-endpoint-concept.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, media-services/svc, rest-v3/subsvc

#68012 Corrects spelling of package name
  articles/search/search-howto-dotnet-sdk.md
Labels: Change sent to author, aq-pr-triaged, cognitive-search/svc, ready-to-merge

#67981 Fix -y flag on yum install cmd
  articles/virtual-machines/linux/cloudinit-prepare-custom-image.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, imaging/subsvc, virtual-machines-linux/svc

#67982 Added Steps, Fixed SAML type, changed identifier pattern
  articles/active-directory/saas-apps/imperva-data-security-tutorial.md
Labels: Change sent to author, aq-pr-triaged, azure-active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#68077 Update PreReq to call out access Azure AD
  articles/role-based-access-control/role-assignments-powershell.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, role-based-access-control/svc

#68383 Update howto-create-a-storageclass.md
  articles/openshift/howto-create-a-storageclass.md
Labels: Change sent to author, container-service/svc, ready-to-merge

#68384 fix typo
  articles/key-vault/general/troubleshooting-access-issues.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#68387 Update private-link-faq.md
  articles/private-link/private-link-faq.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, private-link/svc

#64775 Update azure-to-azure-troubleshoot-errors.md
  articles/site-recovery/azure-to-azure-troubleshoot-errors.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, site-recovery/svc

#66939 Add approved client app (Microsoft 365 Admin)
  articles/active-directory/conditional-access/concept-conditional-access-grant.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#68385 Update n-series-driver-setup.md
  articles/virtual-machines/linux/n-series-driver-setup.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-linux/svc

#63912 Registration cmdlet usage update
  articles/active-directory/hybrid/how-to-connect-health-agent-install.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, hybrid/subsvc

#67362 Question and answer are confusing.
  articles/bastion/troubleshoot.md
Labels: Change sent to author, aq-pr-triaged, bastion/svc, do-not-merge

#68410 Made the description for lastIndexOf more clear
  articles/logic-apps/workflow-definition-language-functions-reference.md
Labels: Change sent to author, aq-pr-triaged, logic-apps/svc, ready-to-merge

#68420 Privileged Role Administrator
  articles/active-directory/conditional-access/howto-conditional-access-policy-admin-mfa.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#68411 Description did not match code example
  articles/logic-apps/workflow-definition-language-functions-reference.md
Labels: Change sent to author, aq-pr-triaged, logic-apps/svc, ready-to-merge

#68445 Update pull-key-value-devops-pipeline.md
  articles/azure-app-configuration/pull-key-value-devops-pipeline.md
Labels: Change sent to author, azure-app-configuration/svc, ready-to-merge

#68444 Update hdinsight-private-link.md
  articles/hdinsight/hdinsight-private-link.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#68342 Typo "Azure function app"→"Azure Function App"
  articles/azure-functions/functions-create-first-kotlin-maven.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, do-not-merge

#68458 Update relay-what-is-it.md
  articles/azure-relay/relay-what-is-it.md
Labels: do-not-merge

#68466 Typo "Java function developer～"→"Azure Functions Java developer～"
  articles/azure-functions/functions-create-first-kotlin-maven.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#68470 Add missing whitespace.
  articles/stream-analytics/blob-storage-azure-data-lake-gen2-output.md
Labels: Change sent to author, do-not-merge, stream-analytics/svc

#68479 Update groups-settings-cmdlets.md
  articles/active-directory/enterprise-users/groups-settings-cmdlets.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#68487 Update analysis-services-overview.md
  articles/analysis-services/analysis-services-overview.md
Labels: Change sent to author, azure-analysis-services/svc, do-not-merge

#58623 Update how-to-trigger-published-pipeline.md
  articles/machine-learning/how-to-trigger-published-pipeline.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#68460 Update javascript-and-page-layout.md
  articles/active-directory-b2c/javascript-and-page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#68508 Update storage-troubleshoot-windows-file-connection-problems.md
  articles/storage/files/storage-troubleshoot-windows-file-connection-problems.md
Labels: Change sent to author, files/subsvc, ready-to-merge, storage/svc

#65698 Update web-sites-integrate-with-vnet.md
  articles/app-service/web-sites-integrate-with-vnet.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#68486 Update analysis-services-overview.md
  articles/analysis-services/analysis-services-overview.md
Labels: Change sent to author, aq-pr-triaged, azure-analysis-services/svc, do-not-merge

#68456 added to new required urls
  articles/active-directory/hybrid/how-to-connect-health-agent-install.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, hybrid/subsvc

#67969 Update expressroute-limits.md
  includes/expressroute-limits.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, expressroute/svc

#68054 Update luis-reference-regions.md
  articles/cognitive-services/LUIS/luis-reference-regions.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, language-understanding/subsvc, ready-to-merge

#68056 Update luis-limits.md
  articles/cognitive-services/LUIS/luis-limits.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, language-understanding/subsvc, ready-to-merge

#68523 Bugfix: Fix broken link.
  articles/active-directory-b2c/page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#68549 missing word
  articles/key-vault/keys/quick-create-cli.md
Labels: Change sent to author, do-not-merge, key-vault/svc, keys/subsvc

#68552 Update control-flow-expression-language-functions.md
  articles/data-factory/control-flow-expression-language-functions.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#68199 Update data-lake-storage-directory-file-acl-powershell.md
  articles/storage/blobs/data-lake-storage-directory-file-acl-powershell.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#68574 Added App Service Private Endpoint limits
  includes/azure-websites-limits.md
Labels: Change sent to author, app-service/svc, ready-to-merge

#68568 wrong variables in example script
  articles/postgresql/connect-php.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#68146 Update connector-azure-blob-storage.md
  articles/data-factory/connector-azure-blob-storage.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#68606 Fix link typo
  articles/azure-functions/functions-reference-node.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#61694 Provided the full script for copy between subscriptions
  articles/azure-sql/database/database-copy.md
Labels: Change sent to author, aq-pr-triaged, data-movement/subsvc, ready-to-merge, sql-database/svc

#67802 Add additional info to support private_key_jwt flow
  articles/active-directory-b2c/openid-connect-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#66942 link to code sample fixed
  articles/active-directory-b2c/TOC.yml
Labels: Change sent to author, active-directory-b2c/svc, aq-pr-triaged, do-not-merge

#65605 Add a description for master_key_password
  articles/azure-sql/database/elastic-query-getting-started-vertical.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, scale-out/subsvc, sql-database/svc

#66184 Update self-asserted-technical-profile.md
  articles/active-directory-b2c/self-asserted-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#66365 Adding default value for ClaimsEndpointAccessTokenName
  articles/active-directory-b2c/oauth2-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#67346 Update openid-connect-technical-profile.md
  articles/active-directory-b2c/openid-connect-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#67347 Update oauth2-technical-profile.md
  articles/active-directory-b2c/oauth2-technical-profile.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#67678 Change upper limitation of password length
  articles/active-directory-b2c/password-complexity.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#68253 Update elastic-scale-introduction.md
  articles/azure-sql/database/elastic-scale-introduction.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, scale-out/subsvc, sql-database/svc

#68524 Bugfix: Corrext XML attribute syntax.
  articles/active-directory-b2c/customize-ui-with-html.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#68594 Update recursive-access-control-lists.md
  articles/storage/blobs/recursive-access-control-lists.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#68576 Update ip-addresses.md
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#68623 Update service-bus-authentication-and-authorization.md
  articles/service-bus-messaging/service-bus-authentication-and-authorization.md
Labels: Change sent to author, do-not-merge, service-bus-messaging/svc

#68557 Update data-flow-expression-functions.md
  articles/data-factory/data-flow-expression-functions.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#68650 Typo
  articles/site-recovery/failover-failback-overview.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#68660 Typo "Azure functions"→"Azure Functions"
  articles/azure-functions/functions-create-function-linux-custom-image.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#68641 Update storage-network-security.md
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#68651 Typo
  articles/storage/files/storage-files-introduction.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#68674 Grammar
  articles/network-watcher/traffic-analytics.md
Labels: Change sent to author, do-not-merge, network-watcher/svc

#68593 Update troubleshooting replication errors
  articles/migrate/troubleshoot-changed-block-tracking-replication.md
Labels: Change sent to author, aq-pr-triaged, azure-migrate/svc, do-not-merge

#68682 Typo "Azure data factory"→"Azure Data Factory"
  articles/data-factory/connect-data-factory-to-azure-purview.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#68646 Number of copies of data maintained.
  articles/storage/common/storage-redundancy.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, ready-to-merge, storage/svc

#68659 Update storage-use-azcopy-v10.md
  articles/storage/common/storage-use-azcopy-v10.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#68696 Removing Enroll Preview details for Monitor
  articles/storage/common/transport-layer-security-configure-minimum-version.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#68704 typo fix
  articles/api-management/api-management-kubernetes.md
Labels: Change sent to author, api-management/svc, do-not-merge

#67579 update guidance to include support for Azure Identity
  articles/service-fabric/how-to-managed-identity-service-fabric-app-code.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-fabric/svc

#68657 Update skytap-tutorial.md
  articles/active-directory/saas-apps/skytap-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#68725 --template-file should be --template-uri
  articles/storage/common/storage-account-create.md
Labels: Change sent to author, common/subsvc, ready-to-merge, storage/svc

#68727 updating the storage explorer url
  articles/iot-edge/how-to-store-data-blob.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#68738 Fix formatting error
  articles/machine-learning/overview-what-is-azure-ml.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#67599 Call out Data Factory Resource isn't under CI/CD
  articles/data-factory/source-control.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#67606 Added section for event-based triggers
  articles/data-factory/control-flow-system-variables.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#68721 Update service-bus-troubleshooting-guide.md
  articles/service-bus-messaging/service-bus-troubleshooting-guide.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, service-bus-messaging/svc

#68745 Text Analytics - Update quickstart for AnalyzeSentiment
  articles/cognitive-services/text-analytics/includes/quickstarts/csharp-sdk.md
Labels: Change sent to author, cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#68759 Update enroll-renew-subscription.md
  articles/education-hub/azure-dev-tools-teaching/enroll-renew-subscription.md
Labels: Change sent to author, aq-pr-triaged, azure-education/svc, do-not-merge, education-hub/subsvc

#68686 Typo "Azure function"→"Azure Function"
  articles/digital-twins/how-to-integrate-time-series-insights.md
Labels: Change sent to author, digital-twins/svc, ready-to-merge

#68782 Update overview-terminology.md
  articles/synapse-analytics/overview-terminology.md
Labels: Change sent to author, do-not-merge, overview/subsvc, synapse-analytics/svc

#68472 Update tutorial-linux-vm-access-storage.md
  articles/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-storage.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, msi/subsvc, ready-to-merge

#68419 Update connect-php.md
  articles/mysql/connect-php.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, mysql/svc

#68551 Update whats-new.md
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#68241 Fix PowerShell to save Defender rule in GPO
  articles/virtual-desktop/shortpath.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-desktop/svc

#68799 Update resource name limit for Policyassignments
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, management/subsvc, ready-to-merge

#68804 Typo: missing period
  articles/synapse-analytics/security/synapse-workspace-access-control-overview.md
Labels: Change sent to author, do-not-merge, security/subsvc, synapse-analytics/svc

#68286 [DMS] Updated guide to create the virtual machine in the subnet of the DMS VNet
  articles/dms/faq.md
Labels: Change sent to author, aq-pr-triaged, dms/svc, do-not-merge

#67109 Update dcv2-series.md
  articles/virtual-machines/dcv2-series.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, sizes/subsvc, virtual-machines/svc

#68693 Typo "Azure function"→"Azure Function"
  articles/logic-apps/logic-apps-add-run-inline-code.md
Labels: Change sent to author, logic-apps/svc, ready-to-merge

#68689 Typo "Azure function"→"Azure Function"
  articles/digital-twins/how-to-integrate-maps.md
Labels: Change sent to author, digital-twins/svc, ready-to-merge

#68810 Update kfadvance-tutorial.md
  articles/active-directory/saas-apps/kfadvance-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#67504 Improvement to IoTEdge documentation
  articles/iot-edge/tutorial-nested-iot-edge.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-edge/svc

#68648 Update private-vnet.md
  articles/cloud-shell/private-vnet.md
Labels: Change sent to author, aq-pr-triaged, azure/svc, ready-to-merge

#68375 Updated with Azure CLI image
  articles/azure-resource-manager/templates/deployment-script-template-configure-dev.md
  articles/azure-resource-manager/templates/media/deployment-script-template-configure-dev/deployment-script-container-instance-test-cli.png
  articles/azure-resource-manager/templates/media/deployment-script-template-configure-dev/deployment-script-container-instance-test.png
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#68673 Bugfix: Remove outdated development-only info.
  articles/active-directory-b2c/trustframeworkpolicy.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#68771 Update phone-authentication.md
  articles/active-directory-b2c/phone-authentication.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#68806 Update virtual-networks-faq.md
  articles/virtual-network/virtual-networks-faq.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc

#68816 [Service Bus] Fix sample in the "how-to-use-queues" doc
  articles/service-bus-messaging/service-bus-nodejs-how-to-use-queues.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#68829 [Service Bus] Fix sample in the "how-to-use-topics-subscriptions" doc
  articles/service-bus-messaging/service-bus-nodejs-how-to-use-topics-subscriptions.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#68833 Typo "**Metrics **."→"**Metrics**."
  articles/azure-relay/relay-metrics-azure-monitor.md
Labels: Change sent to author, ready-to-merge, service-bus-relay/svc

#62621 Fixed API version
  articles/virtual-machines/extensions/dsc-template.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc

#68823 Fix spelling error in deploy-to-hololens.md
  articles/remote-rendering/quickstarts/deploy-to-hololens.md
Labels: Change sent to author, azure-remote-rendering/svc, do-not-merge

#65595 Clarifying standard public IP requirements
  articles/virtual-network/routing-preference-overview.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#68862 Add Oxford commas for managed-identities-azure-resources items
  articles/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-arm.md
  articles/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-cli.md
  articles/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-portal.md
  articles/application-gateway/key-vault-certs.md
  articles/databox/data-box-customer-managed-encryption-key-portal.md
  articles/databox/data-box-deploy-export-ordered.md
  articles/databox/data-box-deploy-ordered.md
  articles/devtest-labs/use-managed-identities-environments.md
  articles/role-based-access-control/transfer-subscription.md
Labels: Change sent to author, do-not-merge, pod/subsvc, role-based-access-control/svc

#68884 Typo "**Output readable model file **"→"**Output readable model file**"
  articles/machine-learning/algorithm-module-reference/train-vowpal-wabbit-model.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#68894 Typo "** Next: Monitoring**"→"**Next: Monitoring**"
  articles/app-service/environment/using.md
Labels: Change sent to author, app-service/svc, do-not-merge

#68895 Typo "**Create a volume group **"→"**Create a volume group**"
  articles/storsimple/storsimple-snapshot-manager-manage-volume-groups.md
Labels: Change sent to author, do-not-merge, storsimple/svc

#68896 Fixed up link to `orderby` expression
  articles/search/search-pagination-page-layout.md
Labels: Change sent to author, cognitive-search/svc, ready-to-merge

#68910 Typo
  articles/azure-sql/database/business-continuity-high-availability-disaster-recover-hadr-overview.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, sql-db-mi/svc

#68898 Update failover-cluster-instance-prepare-vm.md
  articles/azure-sql/virtual-machines/windows/failover-cluster-instance-prepare-vm.md
Labels: Change sent to author, aq-pr-triaged, hadr/subsvc, ready-to-merge, virtual-machines-sql/svc

#68124 Update ingress-tls.md
  articles/aks/ingress-tls.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#68371 Update use-azure-ad-pod-identity.md
  articles/aks/use-azure-ad-pod-identity.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#68800 Update Azure Notification Hubs Xamarin SDKs to use new APIs
  articles/notification-hubs/xamarin-notification-hubs-ios-push-notification-apns-get-started.md
  articles/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm.md
Labels: Change sent to author, aq-pr-triaged, notification-hubs/svc, ready-to-merge

#68684 Typo "Azure function"→"Azure Function"
  articles/iot-central/core/howto-create-custom-rules.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#62032 Allow kubectl commands to be copy and pasted
  articles/aks/ingress-static-ip.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#67152 Update node-upgrade-github-actions.md
  articles/aks/node-upgrade-github-actions.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#68839 Typo "Azure data factory"→"Azure Data Factory"
  articles/data-factory/tutorial-incremental-copy-powershell.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#68916 Update concept-conditional-access-grant.md
  articles/active-directory/conditional-access/concept-conditional-access-grant.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#60546 Update ingress-own-tls.md
  articles/aks/ingress-own-tls.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#61477 Update windows-container-powershell.md
  articles/aks/windows-container-powershell.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#66387 Cleaned up several sections
  articles/aks/intro-kubernetes.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#68942 Add new Ingestion IP Addresses for SUK and SCUS
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#64118 Remove reference to default Azure File based Storage Class
  articles/aks/azure-files-volume.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#68951 Typo "**Managed Identity **."→"**Managed Identity**."
  articles/stream-analytics/stream-analytics-managed-identities-adls.md
Labels: Change sent to author, do-not-merge, stream-analytics/svc

#68952 Typo "|**Max value **|"→"|**Max value (bytes)**|"
  articles/mariadb/concepts-server-parameters.md
Labels: Change sent to author, do-not-merge, mariadb/svc

#68909 Add " DST Root CA X3" as certification authority.
  articles/active-directory/app-provisioning/use-scim-to-provision-users-and-groups.md
Labels: Change sent to author, active-directory/svc, app-provisioning/subsvc, aq-pr-triaged, ready-to-merge

#67509 Drawing attention to -ADObjectDN parameter.
  articles/active-directory/hybrid/how-to-connect-group-writeback.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#67520 Update for clearer explanation
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#68172 Update reference-connect-sync-functions-reference.md
  articles/active-directory/hybrid/reference-connect-sync-functions-reference.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#68566 Issue in the powershell
  articles/active-directory/hybrid/tshoot-connect-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#69000 Add note about ListInstancesAsync returning first page only
  articles/azure-functions/durable/durable-functions-instance-management.md
Labels: Change sent to author, azure-functions/svc, ready-to-merge

#67391 Update manage-azure-rbac.md
  articles/aks/manage-azure-rbac.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#68998 Updating Certification faq
  articles/marketplace/azure-vm-create-certification-faq.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#69008 Upgrade version + some minor edits
  articles/azure-monitor/app/asp-net-core.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#68462 Add links to the Defender for IoT Portal
  articles/defender-for-iot/how-to-manage-sensors-on-the-cloud.md
Labels: Change sent to author, aq-pr-triaged, azure/svc, ready-to-merge

#68635 Update network-performance-monitor-faq.md
  articles/azure-monitor/insights/network-performance-monitor-faq.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#69030 Fix link to supported MySQL versions
  articles/mysql/quickstart-create-mysql-server-database-using-azure-portal.md
Labels: Change sent to author, do-not-merge, mysql/svc

#69031 Fix typo
  articles/postgresql/concepts-data-encryption-postgresql.md
Labels: Change sent to author, do-not-merge, postgresql/svc
