Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-04, with the labels that each got.

#73102 add missing colon
  articles/container-registry/container-registry-tasks-multi-step.md
Labels: Change sent to author, container-registry/svc, do-not-merge

#73118 Update signalr-resource-faq.md
  articles/azure-signalr/signalr-resource-faq.md
Labels: Change sent to author, do-not-merge, signalr/svc

#73133 Correct some typos
  articles/active-directory/hybrid/how-to-connect-selective-password-hash-synchronization.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#73134 typo correction
  articles/virtual-machines/windows/disks-upload-vhd-to-managed-disk-powershell.md
Labels: Change sent to author, disks/subsvc, do-not-merge, virtual-machines/svc

#72806 Remove text saying AMA requires VMs
  articles/marketplace/marketplace-commercial-transaction-capabilities-and-considerations.md
Labels: Change sent to author, aq-pr-triaged, marketplace/svc, partnercenter-marketplace-publisher/subsvc, ready-to-merge

#73171 Updated links to deploy Linux and Windows VMs
  articles/virtual-machines/trusted-launch-portal.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#73141 Update search-howto-complex-data-types.md
  articles/search/search-howto-complex-data-types.md
Labels: Change sent to author, aq-pr-triaged, cognitive-search/svc, do-not-merge

#73191 Corrected capitalization on a single word
  articles/cost-management-billing/manage/mca-check-azure-credits-balance.md
Labels: Change sent to author, billing/subsvc, cost-management-billing/svc, do-not-merge

#73189 Using 'Resource Provider' instead of RP
  articles/azure-sql/virtual-machines/windows/sql-agent-extension-manually-register-single-vm.md
Labels: Change sent to author, do-not-merge, management/subsvc, virtual-machines-sql/svc

#73197 Fixed typo in service principal
  articles/active-directory/roles/permissions-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, roles/subsvc

#73202 Update how-to-debug-parallel-run-step.md
  articles/machine-learning/how-to-debug-parallel-run-step.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#72719 Add Custom Payload Detail
  articles/azure-monitor/alerts/alerts-log-webhook.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, aq-pr-triaged, ready-to-merge

#72768 Update traffic-analytics.md
  articles/network-watcher/traffic-analytics.md
Labels: Change sent to author, aq-pr-triaged, network-watcher/svc, ready-to-merge

#72769 Update traffic-analytics.md
  articles/network-watcher/traffic-analytics.md
Labels: Change sent to author, aq-pr-triaged, network-watcher/svc, ready-to-merge

#73094 uniformly indent using 2 spaces
  articles/container-registry/container-registry-concepts.md
Labels: Change sent to author, aq-pr-triaged, container-registry/svc, ready-to-merge

#73220 Fix period position
  articles/availability-zones/az-overview.md
Labels: Change sent to author, azure/svc, do-not-merge

#73253 Update dns-alias-overview.md
  articles/azure-sql/database/dns-alias-overview.md
Labels: Change sent to author, do-not-merge, operations/subsvc, sql-database/svc

#72915 Update service-fabric-patch-orchestration-application.md
  articles/service-fabric/service-fabric-patch-orchestration-application.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-fabric/svc

#73271 Fix a spelling mistake in request throttling documentation for APIM
  articles/api-management/api-management-sample-flexible-throttling.md
Labels: Change sent to author, api-management/svc, ready-to-merge

#73245 Update code indentation
  articles/cosmos-db/how-to-query-container.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#73246 Update code indentation c# code
  articles/cosmos-db/create-sql-api-xamarin-dotnet.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#70032 Update faq.md question regarding support in non-Azure environments
  articles/attestation/faq.md
Labels: Change sent to author, aq-pr-triaged, attestation/svc, ready-to-merge

#73276 Update event-hubs-for-kafka-ecosystem-overview.md
  articles/event-hubs/event-hubs-for-kafka-ecosystem-overview.md
Labels: Change sent to author, event-hubs/svc, ready-to-merge

#72777 Update connection-monitor-create-using-portal.md
  articles/network-watcher/connection-monitor-create-using-portal.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, network-watcher/svc

#66392 Update network-performance-monitor-faq.md
  articles/azure-monitor/insights/network-performance-monitor-faq.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge, insights/subsvc, logs/subsvc

#72565 twilio sms - update external links for azure docs
  articles/partner-twilio-python-how-to-use-voice-sms.md
Labels: Change sent to author, aq-pr-triaged, multiple/svc, ready-to-merge

#73291 fix typo your / you are
  articles/active-directory/manage-apps/delete-application-portal.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, ready-to-merge

#73318 Update service-tier-hyperscale.md
  articles/azure-sql/database/service-tier-hyperscale.md
Labels: Change sent to author, ready-to-merge, service/subsvc, sql-database/svc

#72610 Wording changed
  articles/active-directory/privileged-identity-management/pim-getting-started.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, pim/subsvc, ready-to-merge

#72789 Add 500 limitation for [Selected] option
  articles/active-directory/enterprise-users/groups-lifecycle.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, ready-to-merge

#70820 Firewall
  articles/iot-hub/iot-hub-devguide-file-upload.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#73298 Correcting a typo.
  articles/active-directory/verifiable-credentials/issue-verify-verifiable-credentials-your-tenant.md
Labels: Change sent to author, do-not-merge, identity/svc, verifiable-credentials/subsvc

#73319 Update concept-all-sign-ins.md
  articles/active-directory/reports-monitoring/concept-all-sign-ins.md
Labels: Change sent to author, active-directory/svc, do-not-merge, report-monitor/subsvc

#73295 Link fix
  articles/azure-monitor/logs/manage-cost-storage.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#73149 Update source-control.md
  articles/data-factory/source-control.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#64562 Update cdn-front-door-allowed-ca.md
  includes/cdn-front-door-allowed-ca.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, multiple/svc

#72372 added new region for privatelink
  articles/frontdoor/standard-premium/concept-private-link.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#70196 Cloud App name for conditional access incorrect
  articles/virtual-machines/linux/login-using-aad.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-linux/svc

#70669 Clarify fencing agent configuration
  articles/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc, workloads/subsvc

#72337 Combined registration prevents office phone extensions
  articles/active-directory/user-help/multi-factor-authentication-setup-office-phone.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, user-help/subsvc

#70956 Clarify the use of afdverify with wildcards
  articles/frontdoor/front-door-custom-domain.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#68495 Update front-door-security-headers.md
  articles/frontdoor/front-door-security-headers.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#68845 Added User-Agent string to AFD Probes doc
  articles/frontdoor/front-door-health-probes.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#69166 Update expressroute-troubleshooting-expressroute-overview.md
  articles/expressroute/expressroute-troubleshooting-expressroute-overview.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, expressroute/svc

#69390 Update front-door-diagnostics.md
  articles/frontdoor/front-door-diagnostics.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, frontdoor/svc

#72385 Update os-upgrade-hana-large-instance.md
  articles/virtual-machines/workloads/sap/os-upgrade-hana-large-instance.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-sap/svc

#71105 Update howto-password-ban-bad-on-premises-deploy.md
  articles/active-directory/authentication/howto-password-ban-bad-on-premises-deploy.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#73338 Update troubleshoot document for correct IOTEDGE_LOG
  articles/iot-edge/troubleshoot.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#73348 Update copy-activity-schema-and-type-mapping.md
  articles/data-factory/copy-activity-schema-and-type-mapping.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#73355 Update concepts-migrate-dbforge-studio-for-mysql.md
  articles/mysql/concepts-migrate-dbforge-studio-for-mysql.md
Labels: Change sent to author, mysql/svc, ready-to-merge

#73367 Fix multiline script in storage file upload
  articles/storage/blobs/storage-quickstart-blobs-powershell.md
Labels: Change sent to author, blobs/subsvc, ready-to-merge, storage/svc

#73110 Modify "delete configuration" in Spring Cloud Config Server
  articles/spring-cloud/how-to-config-server.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#73346 Update dependencies of distributed tracing.
  articles/spring-cloud/how-to-distributed-tracing.md
Labels: Change sent to author, do-not-merge, spring-cloud/svc

#73350 Update how-to-mitigate-latency.md
  articles/cognitive-services/Face/Face-API-How-to-Topics/how-to-mitigate-latency.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, face-api/subsvc

#71947 Update resize-os-disk-gpt-partition.md
  articles/virtual-machines/linux/resize-os-disk-gpt-partition.md
Labels: Change sent to author, aq-pr-triaged, disks/subsvc, do-not-merge, virtual-machines/svc

#73400 Update automation-solution-vm-management-config.md
  articles/automation/automation-solution-vm-management-config.md
Labels: Change sent to author, automation/svc, do-not-merge, process-automation/subsvc

#73399 Fix incorrect menu item title for starting streaming logs.
  articles/app-service/quickstart-nodejs.md
Labels: Change sent to author, app-service/svc, do-not-merge

#71491 Missing Prereqs in DMS Tutorial
  articles/dms/tutorial-sql-server-to-azure-sql.md
Labels: Change sent to author, aq-pr-triaged, dms/svc, do-not-merge

#73405 updated for clarity.
  articles/azure-vmware/production-ready-deployment-steps.md
Labels: Change sent to author, azure-vmware/svc, ready-to-merge

#73126 Update p2s-session-management.md
  articles/vpn-gateway/p2s-session-management.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, vpn-gateway/svc

#73419 Fix copy paste error in tutorial-nested-iot-edge.md
  articles/iot-edge/tutorial-nested-iot-edge.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#73211 Fix incorrect use of standard terminology
  articles/synapse-analytics/sql/query-cosmos-db-analytical-store.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql/subsvc, synapse-analytics/svc

#73424 Corrected the char limit to 3072
  articles/active-directory/enterprise-users/groups-dynamic-membership.md
Labels: Change sent to author, active-directory/svc, enterprise-users/subsvc, ready-to-merge

#73430 Update oracle-oci-overview.md
  articles/virtual-machines/workloads/oracle/oracle-oci-overview.md
Labels: Change sent to author, oracle/subsvc, ready-to-merge, virtual-machines/svc

#73454 Update resources-without-resource-group-limit.md
  articles/azure-resource-manager/management/resources-without-resource-group-limit.md
Labels: Change sent to author, azure-resource-manager/svc, management/subsvc, ready-to-merge

#71764 fix a typo in custom lexicon part
  articles/cognitive-services/Speech-Service/speech-synthesis-markup.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, speech-service/subsvc

#73442 Update how-to-deploy-azure-kubernetes-service.md
  articles/machine-learning/how-to-deploy-azure-kubernetes-service.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#73407 updated for clarity
  articles/azure-vmware/includes/hcx-network-segments.md
Labels: Change sent to author, aq-pr-triaged, azure-vmware/svc, ready-to-merge

#73437 Update api-management-service-limits.md
  includes/api-management-service-limits.md
Labels: Change sent to author, api-management/svc, aq-pr-triaged, ready-to-merge

#73444 Update az-overview.md
  articles/availability-zones/az-overview.md
Labels: Change sent to author, aq-pr-triaged, azure/svc, ready-to-merge

#73331 Small updates for performance-tips-dotnet-sdk-v3-sql.md
  articles/cosmos-db/performance-tips-dotnet-sdk-v3-sql.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#71344 Update cdn-app-dev-node.md
  articles/cdn/cdn-app-dev-node.md
Labels: Change sent to author, aq-pr-triaged, azure-cdn/svc, do-not-merge

#73496 Add optional network requirements for third party apm
  articles/spring-cloud/vnet-customer-responsibilities.md
Labels: Change sent to author, do-not-merge, spring-cloud/svc

#73528 Update reference-aadsts-error-codes.md
  articles/active-directory/develop/reference-aadsts-error-codes.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#73500 Fix typo
  articles/cost-management-billing/manage/understand-ea-roles.md
Labels: Change sent to author, cost-management-billing/svc, enterprise/subsvc, ready-to-merge

#73092 Update location-condition.md
  articles/active-directory/conditional-access/location-condition.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, conditional-access/subsvc, ready-to-merge

#73409 Update cache-best-practices.md
  articles/azure-cache-for-redis/cache-best-practices.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#71372 Minor grammatical updates
  articles/active-directory/cloud-sync/what-is-cloud-sync.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#71374 Minor grammatical changes
  articles/active-directory/cloud-sync/tutorial-single-forest.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#71393 Update how-to-connect-sso-faq.md
  articles/active-directory/hybrid/how-to-connect-sso-faq.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#71422 Update how-to-connect-staged-rollout.md
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#72099 Update hana-network-architecture.md
  articles/virtual-machines/workloads/sap/hana-network-architecture.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-sap/svc

#73577 Azure Bicep MacOS simplified installation flow
  articles/azure-resource-manager/templates/bicep-install.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#73566 Missing comma
  articles/active-directory/develop/v2-permissions-and-consent.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#73587 Corrected typo in documentation
  articles/container-registry/container-registry-get-started-docker-cli.md
Labels: Change sent to author, container-registry/svc, do-not-merge

#73589 Fixes typo, secrete -> secret
  articles/app-service/configure-language-python.md
Labels: Change sent to author, app-service/svc, do-not-merge

#73612 Update performance-guidelines-best-practices-checklist.md
  articles/azure-sql/virtual-machines/windows/performance-guidelines-best-practices-checklist.md
Labels: Change sent to author, do-not-merge, virtual-machines-sql/svc

#70049 Update connect-data-sources.md
  articles/sentinel/connect-data-sources.md
Labels: Change sent to author, aq-pr-triaged, azure-sentinel/subsvc, azure-sentinel/svc, ready-to-merge

#71884 Update whatis-azure-ad-connect.md
  articles/active-directory/hybrid/whatis-azure-ad-connect.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#72408 Update how-to-gmsa-cmdlets.md
  articles/active-directory/cloud-sync/how-to-gmsa-cmdlets.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#73130 Update deployment-script-template.md
  articles/azure-resource-manager/templates/deployment-script-template.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#73542 Update protect-resource-hierarchy.md with PowerShell sample
  articles/governance/management-groups/how-to/protect-resource-hierarchy.md
Labels: Change sent to author, aq-pr-triaged, governance/svc, ready-to-merge

#73616 Fixed typo to output
  articles/azure-resource-manager/templates/deployment-script-template.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#73626 Corrected APM product name; Monitor to Manager
  articles/active-directory/saas-apps/appneta-tutorial.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, saas-app-tutorial/subsvc

#73640 Update dns-alias-overview.md
  articles/azure-sql/database/dns-alias-overview.md
Labels: Change sent to author, do-not-merge, operations/subsvc, sql-database/svc

#73644 Removed redundant apostrophe in page's title
  articles/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-nonaad.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#73685 Update concepts-migrate-dbforge-studio-for-mysql.md
  articles/mysql/concepts-migrate-dbforge-studio-for-mysql.md
Labels: Change sent to author, do-not-merge, mysql/svc

#73681 Fix spelling errors
  articles/synapse-analytics/toc.yml
Labels: do-not-merge, review-team-triage

#73693 Fixed a [!NOTE) tag typo
  articles/frontdoor/front-door-custom-domain-https.md
Labels: Change sent to author, do-not-merge, frontdoor/svc

#73111 Update azure-stack-edge-gpu-create-certificates-tool.md
  articles/databox-online/azure-stack-edge-gpu-create-certificates-tool.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, edge/subsvc, ready-to-merge

#73638 Update custom endpoint creation documentation
  articles/iot-hub/iot-hub-devguide-messages-read-custom.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub/svc

#72968 Update active-directory-data-storage-australia-newzealand.md
  articles/active-directory/fundamentals/active-directory-data-storage-australia-newzealand.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#73083 Update active-directory-data-storage-australia.md
  articles/active-directory/fundamentals/active-directory-data-storage-australia.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#73262 Update test-createuidefinition.md
  articles/azure-resource-manager/managed-applications/test-createuidefinition.md
Labels: Change sent to author, aq-pr-triaged, managed-applications/svc, ready-to-merge

#73302 Update custom-roles.md
  articles/role-based-access-control/custom-roles.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, role-based-access-control/svc

#73306 Update how-to-manage-classroom-labs.md
  articles/lab-services/how-to-manage-classroom-labs.md
Labels: Change sent to author, aq-pr-triaged, lab-services/svc, ready-to-merge

#73393 Update to the Application Intent policy
  articles/azure-monitor/insights/sql-insights-enable.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, insights/subsvc, ready-to-merge

#73515 Update resource-name-rules.md
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, management/subsvc, ready-to-merge

#73466 Update visual-studio-code-tutorial.md
  articles/api-management/visual-studio-code-tutorial.md
Labels: Change sent to author, api-management/svc, aq-pr-triaged, ready-to-merge

#73703 Update failover-cluster-instance-premium-file-share-manually-configur…
  articles/azure-sql/virtual-machines/windows/failover-cluster-instance-premium-file-share-manually-configure.md
Labels: Change sent to author, aq-pr-triaged, hadr/subsvc, ready-to-merge, virtual-machines-sql/svc

#73738 changed support for managed identity and sql user
  articles/synapse-analytics/sql/develop-storage-files-storage-access-control.md
Labels: Change sent to author, ready-to-merge, sql/subsvc, synapse-analytics/svc

#73750 added missing closing ] in the iteration syntax
  articles/azure-resource-manager/templates/copy-resources.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#73755 added missing ending ] in bicep loop syntax
  articles/azure-resource-manager/templates/copy-properties.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#73190 Updated scenario one (1) for clarity
  articles/load-balancer/load-balancer-outbound-connections.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, load-balancer/svc

#73753 Update nested-virtualization.md
  articles/iot-edge/nested-virtualization.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#73758 Minor grammar fix
  includes/storage-auth-rbac-roles-include.md
Labels: Change sent to author, do-not-merge, storage/svc

#73764 added missing az cli commands to check for onboarding success
  articles/lighthouse/how-to/onboard-customer.md
Labels: Change sent to author, do-not-merge, lighthouse/svc

#73639 Update iot-hub-devguide-endpoints.md
  articles/iot-hub/iot-hub-devguide-endpoints.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#73767 Update app-attach-azure-portal.md
  articles/virtual-desktop/app-attach-azure-portal.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#73768 Update app-attach-powershell.md
  articles/virtual-desktop/app-attach-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#73217 Update private-endpoint-overview.md
  articles/private-link/private-endpoint-overview.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, private-link/svc

#73622 Fix documentation for module lifecycle routing events
  articles/iot-hub/iot-hub-devguide-identity-registry.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub/svc

#71229 Added GUID values for the different Access levels
  articles/active-directory/enterprise-users/users-restrict-guest-permissions.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, ready-to-merge

#73777 Update sdk-features.md
  articles/communication-services/concepts/chat/sdk-features.md
Labels: Change sent to author, azure-communication-services/svc, ready-to-merge

#73784 Update cache-how-to-geo-replication.md
  articles/azure-cache-for-redis/cache-how-to-geo-replication.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#73744 Update register-scan-power-bi-tenant.md
  articles/purview/register-scan-power-bi-tenant.md
Labels: Change sent to author, aq-pr-triaged, purview-data-catalog/subsvc, purview/svc, ready-to-merge

#73837 fixing typo
  articles/active-directory/managed-identities-azure-resources/managed-identities-faq.md
Labels: Change sent to author, active-directory/svc, msi/subsvc, ready-to-merge

#73783 Update "Settings" to "All IDPs" + explanation
  articles/active-directory/external-identities/one-time-passcode.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#73621 Added limitation for app only calls
  articles/active-directory/external-identities/reset-redemption-status.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#73745 Update code sample on how to switch back to ACR
  articles/machine-learning/how-to-secure-workspace-vnet.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#73902 Fixing gcm platform type in Notification Hubs Python tutorial
  articles/notification-hubs/notification-hubs-python-push-notification-tutorial.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#73788 Update concept-workspace.md
  articles/machine-learning/concept-workspace.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#73284 Update continuous-integration-deployment.md
  articles/synapse-analytics/cicd/continuous-integration-deployment.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, synapse-analytics/svc

#73951 Typo "_**Azure～LogicApps**_"→"**_Azure～LogicApps_**"
  articles/digital-twins/how-to-integrate-logic-apps.md
Labels: Change sent to author, digital-twins/svc, ready-to-merge

#73921 Clarify authenticating to routing endpoints behind a private network
  articles/iot-hub/virtual-network-support.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-fundamentals/svc

#73934 fix typo
  articles/azure-functions/functions-triggers-bindings.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#73942 Update how-to-configure-private-link.md
  articles/machine-learning/how-to-configure-private-link.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#73946 fix typo
  articles/storage/tables/index.yml
Labels: Change sent to author, do-not-merge

#73968 Fix typo
  articles/storage/common/storage-auth-aad-msi.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#73594 Fix host name problem in 'Quickstart: Use Azure Cache for Redis in .NET Framework' document
  articles/azure-cache-for-redis/cache-dotnet-how-to-use-azure-redis-cache.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#73944 Fix typos in Iot Central Overview page
  articles/iot-central/core/overview-iot-central.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#73999 Update last update date metadata to reflect latest commit.
  articles/iot-pnp/howto-manage-digital-twin.md
Labels: Change sent to author, do-not-merge, iot-pnp/svc

#74000 Update overview to latest commit date
  articles/iot-pnp/overview-iot-plug-and-play.md
Labels: Change sent to author, do-not-merge, iot-pnp/svc

#73938 Add t-shoot info for SAS tokens
  articles/container-registry/container-registry-transfer-images.md
Labels: Change sent to author, aq-pr-triaged, container-registry/svc, ready-to-merge

#73963 Update virtual-network-multiple-ip-addresses-portal.md
  articles/virtual-network/virtual-network-multiple-ip-addresses-portal.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, ip-services/subsvc, virtual-network/svc

#74013 Clarifying Signature Algo + Typo
  articles/active-directory/verifiable-credentials/issuer-openid.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#72869 add sign in page display explanation
  articles/active-directory/external-identities/conditional-access.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#73918 Update Anomaly Detector Multivariate sample
  articles/cognitive-services/Anomaly-Detector/includes/quickstarts/anomaly-detector-client-library-csharp-multivariate.md
Labels: Change sent to author, anomaly-detector/subsvc, aq-pr-triaged, cognitive-services/svc, ready-to-merge

#73931 [Anomaly Detector] Update JS samples
  articles/cognitive-services/Anomaly-Detector/includes/quickstarts/anomaly-detector-client-library-javascript-multivariate.md
Labels: Change sent to author, anomaly-detector/subsvc, aq-pr-triaged, cognitive-services/svc, ready-to-merge

#74054 Update faqs.md
  articles/active-directory-domain-services/faqs.md
Labels: ready-to-merge
