Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-02, with the labels that each got.

#65219 Delete UPD recommendation
  articles/virtual-desktop/fslogix-containers-azure-files.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-desktop/svc

#69748 Update storage-sync-files-deployment-guide.md
  articles/storage/files/storage-sync-files-deployment-guide.md
Labels: Change sent to author, do-not-merge, files/subsvc, storage/svc

#69742 Update expressroute-howto-set-global-reach-cli.md
  articles/expressroute/expressroute-howto-set-global-reach-cli.md
Labels: Change sent to author, expressroute/svc, ready-to-merge

#69753 missing character
  articles/virtual-machines/windows/disks-upload-vhd-to-managed-disk-powershell.md
Labels: Change sent to author, disks/subsvc, ready-to-merge, virtual-machines/svc

#69760 Update whats-new.md
  articles/virtual-desktop/whats-new.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc

#69361 Update faq.md
  articles/azure-app-configuration/faq.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#68210 Syntax and formatting cleanup
  articles/active-directory/authentication/howto-authentication-use-email-signin.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#68807 Add guidance for changing the Secure LDAP Certificate
  articles/active-directory-domain-services/tutorial-configure-ldaps.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, domain-services/subsvc, ready-to-merge

#69005 Update howto-password-smart-lockout.md
  articles/active-directory/authentication/howto-password-smart-lockout.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#69719 Updated Query Acceleration .NET sample
  articles/storage/blobs/data-lake-storage-query-acceleration-how-to.md
Labels: Change sent to author, aq-pr-triaged, data-lake-storage-gen2/subsvc, ready-to-merge, storage/svc

#69761 Update guidance-best-practices.md
  articles/backup/guidance-best-practices.md
Labels: Change sent to author, backup/svc, do-not-merge

#64094 Update custom-script-windows.md
  articles/virtual-machines/extensions/custom-script-windows.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc

#69653 Update application-proxy-add-on-premises-application.md
  articles/active-directory/manage-apps/application-proxy-add-on-premises-application.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#69799 Correcting typo
  articles/synapse-analytics/sql/get-started-azure-data-studio.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc

#69624 Update connector-sharepoint-online-list.md
  articles/data-factory/connector-sharepoint-online-list.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#69811 Update tutorial with self-served feature
  articles/active-directory/saas-apps/travelperk-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#69869 Update boot-diagnostics.md
  articles/virtual-machines/troubleshooting/boot-diagnostics.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#69875 Update troubleshoot-agent.md
  articles/virtual-desktop/troubleshoot-agent.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#68575 Update quickstart links for Key Vault across languages
  articles/key-vault/general/authentication.md
  articles/key-vault/general/client-libraries.md
Labels: Change sent to author, aq-pr-triaged, general/subsvc, key-vault/svc, ready-to-merge

#69187 Bastion Subnet Requirements
  articles/bastion/bastion-overview.md
Labels: Change sent to author, aq-pr-triaged, bastion/svc, ready-to-merge

#69522 Update howto-sspr-windows.md
  articles/active-directory/authentication/howto-sspr-windows.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#69528 Update faqs.md
  articles/active-directory-domain-services/faqs.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, domain-services/subsvc, ready-to-merge

#69847 fix misspell in page title
  articles/cost-management-billing/manage/programmatically-create-subscription.md
Labels: Change sent to author, billing/subsvc, cost-management-billing/svc, do-not-merge

#69856 Proper spacing: "Azure Migrate: Server Assessment"
  articles/migrate/concepts-dependency-visualization.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#69585 Update automation-child-runbooks.md
  articles/automation/automation-child-runbooks.md
Labels: Change sent to author, aq-pr-triaged, automation/svc, do-not-merge, process-automation/subsvc

#69648 Remove line for direct mode being unsupported
  articles/azure-arc/data/connectivity.md
Labels: Change sent to author, aq-pr-triaged, azure-arc-data/subsvc, azure-arc/svc, do-not-merge

#69901 Minor update the Marketplace offer to 12.2
  articles/virtual-machines/linux/freebsd-intro-on-azure.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-linux/svc

#69858 Corrected grammar in FAQ content
  articles/active-directory/identity-protection/troubleshooting-identity-protection-faq.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, identity-protection/subsvc, ready-to-merge

#69737 Releasing page layout version 2.1.2 for UnifiedSSP and SelfAsserted page.
  articles/active-directory-b2c/page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#69905 Fix Contributor for tag policy example to Tag Contributor
  articles/governance/policy/concepts/definition-structure.md
Labels: Change sent to author, azure-policy/svc, ready-to-merge

#68809 Updated with specific Notion instructions
  articles/active-directory/saas-apps/notion-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#69908 Add missing method call in code snippet.
  articles/azure-app-configuration/enable-dynamic-configuration-aspnet-core.md
Labels: Change sent to author, azure-app-configuration/svc, do-not-merge

#69904 Update how-to-install-iot-edge-on-windows.md
  articles/iot-edge/how-to-install-iot-edge-on-windows.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#65460 Update point-in-time-restore.md
  articles/azure-sql/managed-instance/point-in-time-restore.md
Labels: Change sent to author, aq-pr-triaged, operations/subsvc, ready-to-merge, sql-managed-instance/svc

#67808 Update transact-sql-tsql-differences-sql-server.md
  articles/azure-sql/managed-instance/transact-sql-tsql-differences-sql-server.md
Labels: Change sent to author, aq-pr-triaged, operations/subsvc, ready-to-merge, sql-managed-instance/svc

#69956 Add missing parenthesis
  articles/azure-resource-manager/templates/error-not-found.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#69893 Added "Assign Roles to Groups, not Users"
  articles/role-based-access-control/best-practices.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, role-based-access-control/svc

#69951 Proof reading error
  articles/dns/dns-reverse-dns-hosting.md
Labels: Change sent to author, dns/svc, do-not-merge

#69925 Fix typo: sckit-learn -> scikit-learn
  articles/machine-learning/how-to-configure-auto-train.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#69972 Update availability-group-manually-configure-multiple-regions.md
  articles/azure-sql/virtual-machines/windows/availability-group-manually-configure-multiple-regions.md
Labels: Change sent to author, hadr/subsvc, ready-to-merge, virtual-machines-sql/svc

#69977 Adding SDK information
  articles/iot-edge/how-to-store-data-blob.md
Labels: Change sent to author, iot-edge/svc, ready-to-merge

#69979 Update pstn-call-js.md
  articles/communication-services/quickstarts/voice-video-calling/includes/pstn-call-js.md
Labels: Change sent to author, azure-communication-services/svc, do-not-merge

#69980 Update failover-cluster-instance-azure-shared-disks-manually-configur…
  articles/azure-sql/virtual-machines/windows/failover-cluster-instance-azure-shared-disks-manually-configure.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#69527 Purview IR is different from ADF & Synapse IR
  articles/purview/manage-integration-runtimes.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, purview-data-catalog/subsvc, purview/svc

#69999 Update introduction.md
  articles/cosmos-db/introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#69773 Update app-attach-powershell.md
  articles/virtual-desktop/app-attach-powershell.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-desktop/svc

#70021 Update custom-node-configuration.md
  articles/aks/custom-node-configuration.md
Labels: Change sent to author, container-service/svc, do-not-merge

#70041 Update api-management-dapr-policies.md
  articles/api-management/api-management-dapr-policies.md
Labels: Change sent to author, api-management/svc, do-not-merge

#67559 diff vs existing podidentity custers
  articles/aks/use-azure-ad-pod-identity.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, container-service/svc, ready-to-merge

#70045 Updated Teams Administrator to correct title
  articles/active-directory/roles/permissions-reference.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, roles/subsvc

#69930 Update virtual-machines-common-sizes-table-defs.md
  includes/virtual-machines-common-sizes-table-defs.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#69384 Typo "Azure blob"→"Azure Blob"
  articles/databox-online/azure-stack-edge-gpu-system-requirements-rest.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, do-not-merge, edge/subsvc

#69701 Expanded image customizer example
  articles/virtual-machines/windows/image-builder-powershell.md
Labels: Change sent to author, aq-pr-triaged, imaging/subsvc, ready-to-merge, virtual-machines-windows/svc

#69923 Update connect-query-php.md
  articles/azure-sql/database/connect-query-php.md
Labels: Change sent to author, aq-pr-triaged, development/subsvc, do-not-merge, sql-database/svc

#70066 Fix missing bracket in Powershell script
  articles/synapse-analytics/sql/develop-storage-files-storage-access-control.md
Labels: Change sent to author, do-not-merge, sql/subsvc, synapse-analytics/svc

#70064 replace mention of acr with amr
  articles/active-directory/develop/access-tokens.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, ready-to-merge

#69609 Update javascript-and-page-layout.md
  articles/active-directory-b2c/javascript-and-page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#69797 Update custom-policy-trust-frameworks.md
  articles/active-directory-b2c/custom-policy-trust-frameworks.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#70110 Updated enablement flow to reflect UX changes
  articles/active-directory/authentication/howto-authentication-passwordless-phone.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, ready-to-merge

#70073 Update synapse-link-frequently-asked-questions.md
  articles/cosmos-db/synapse-link-frequently-asked-questions.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#70077 Update account-databases-containers-items.md
  articles/cosmos-db/account-databases-containers-items.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#70078 Update partitioning-overview.md
  articles/cosmos-db/partitioning-overview.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#70121 Update continuous-integration-deployment.md
  articles/synapse-analytics/cicd/continuous-integration-deployment.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc

#70120 Applied fixes for consistency
  articles/migrate/migrate-support-matrix.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#70117 Proper Spacing: "Azure Migrate: Server Migration"
  articles/migrate/tutorial-migrate-physical-virtual-machines.md
Labels: Change sent to author, azure-migrate/svc, do-not-merge

#70033 dbForge tools for MySQL added
  articles/mysql/concepts-database-application-development.md
Labels: Change sent to author, aq-pr-triaged, mysql/svc, ready-to-merge

#66761 because splatting is nicer and to see policies for all databases
  articles/azure-sql/managed-instance/long-term-backup-retention-configure.md
Labels: Change sent to author, aq-pr-triaged, operations/subsvc, ready-to-merge, sql-managed-instance/svc

#69984 Update pstn-call-js.md
  articles/communication-services/quickstarts/voice-video-calling/includes/pstn-call-js.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, ready-to-merge

#70131 add additional geneva URLs
  articles/azure-cache-for-redis/cache-how-to-premium-vnet.md
Labels: Change sent to author, cache/svc, ready-to-merge

#70136 update link for Monitor workbook in docs
  articles/firewall/firewall-workbook.md
Labels: Change sent to author, do-not-merge, firewall/svc

#70188 Provide a line break in 'using cloud shell editor' doc.
  articles/cloud-shell/using-cloud-shell-editor.md
Labels: Change sent to author, azure/svc, do-not-merge

#70137 updating to aka.ms link for Monitor alert rule
  articles/ddos-protection/alerts.md
Labels: Change sent to author, aq-pr-triaged, ddos-protection/svc, do-not-merge

#70178 Update template-functions-comparison.md - using bicep ?? operator
  articles/azure-resource-manager/templates/template-functions-comparison.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#70194 Updated EM to CCM and added new screenshot for DCAP support
  articles/confidential-computing/how-to-fortanix-enclave-manager.md
  articles/confidential-computing/media/how-to-fortanix-enclave-manager/deploy-fortanix-node-agent1.png
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, workloads/subsvc

#70219 Schedule updates is no more limited to premium
  articles/azure-cache-for-redis/cache-configure.md
Labels: Change sent to author, cache/svc, ready-to-merge

#70197 Fix markdown so link renders correctly.
  articles/load-balancer/load-balancer-overview.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#70225 remove app limits
  articles/active-directory-b2c/service-limits.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#69539 added Python tab and sample to set cloud role name
  articles/azure-monitor/app/app-map.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#70139 Correcting PSModulesPath to PSModulePath
  articles/cosmos-db/emulator-command-line-parameters.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#70184 Update perf log layout
  articles/machine-learning/how-to-debug-parallel-run-step.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#70185 Update hdinsight-hadoop-access-yarn-app-logs-linux.md
  articles/hdinsight/hdinsight-hadoop-access-yarn-app-logs-linux.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#70244 Update hdinsight-component-versioning.md
  articles/hdinsight/hdinsight-component-versioning.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#70246 Updated app-map.md - comment annotation for python
  articles/azure-monitor/app/app-map.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, ready-to-merge

#70265 Update synapse-workspace-synapse-rbac-roles.md
  articles/synapse-analytics/security/synapse-workspace-synapse-rbac-roles.md
Labels: Change sent to author, do-not-merge, security/subsvc, synapse-analytics/svc

#70034 Update concepts-compatibility.md (dbForge Studio for MySQL added)
  articles/mysql/concepts-compatibility.md
Labels: Change sent to author, aq-pr-triaged, mysql/svc, ready-to-merge

#70250 Missing role for storage queue
  articles/event-grid/managed-service-identity.md
Labels: Change sent to author, event-grid/svc, ready-to-merge

#70153 Add raw explanations to Automl interpretibility docs
  articles/machine-learning/how-to-machine-learning-interpretability-automl.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#69969 Update versioning
  articles/synapse-analytics/spark/apache-spark-version-support.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc

#70200 Update virtual-wan-partners-include.md
  includes/virtual-wan-partners-include.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-wan/svc

#68831 Add link for RHEL 8 using Hyper-V Manager section
  articles/virtual-machines/linux/redhat-create-upload-vhd.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-linux/svc

#66785 update order constraints for ENSA1/ENSA2
  articles/virtual-machines/workloads/sap/high-availability-guide-rhel.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc, workloads/subsvc

#70293 Update backup-azure-vms-automation.md
  articles/backup/backup-azure-vms-automation.md
Labels: Change sent to author, backup/svc, do-not-merge

#70145 Changed D3_v3 size Azure VM to D4_v3 size
  articles/virtual-machines/windows/nested-virtualization.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-windows/svc

#69495 Update troubleshoot-agent.md
  articles/virtual-desktop/troubleshoot-agent.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-desktop/svc

#70315 Update services-support-managed-identities.md
  articles/active-directory/managed-identities-azure-resources/services-support-managed-identities.md
Labels: Change sent to author, active-directory/svc, msi/subsvc, ready-to-merge

#70305 Update how-to-set-up-access-control.md
  articles/synapse-analytics/security/how-to-set-up-access-control.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/subsvc, synapse-analytics/svc

#65012 Add new Vcenter compatibility
  articles/site-recovery/site-recovery-deployment-planner.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, site-recovery/svc

#69492 Update source-control.md
  articles/data-factory/source-control.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#70233 Update application-proxy-faq.md
  articles/active-directory/manage-apps/application-proxy-faq.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#70287 Update application-proxy-faq.md
  articles/active-directory/manage-apps/application-proxy-faq.md
Labels: Change sent to author, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, ready-to-merge

#70317 Updated model upload size limit
  includes/digital-twins-limits.md
Labels: Change sent to author, aq-pr-triaged, digital-twins/svc, do-not-merge

#69974 Link to model docs from relationship limits.
  includes/digital-twins-limits.md
Labels: Change sent to author, aq-pr-triaged, digital-twins/svc, do-not-merge

#70135 Update subdomain-takeover.md
  articles/security/fundamentals/subdomain-takeover.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security-fundamentals/subsvc, security/svc

#70256 Align FilePath requirements in ExpectedOutputs to Inputs
  articles/stream-analytics/cicd-tools.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, stream-analytics/svc

#70340 [minor] Fixes typo
  articles/aks/concepts-identity.md
Labels: Change sent to author, container-service/svc, do-not-merge

#70384 Fix small typo in storage-blob-change-feed.md
  articles/storage/blobs/storage-blob-change-feed.md
Labels: Change sent to author, blobs/subsvc, do-not-merge, storage/svc

#70388 Update byos.md
  articles/virtual-machines/workloads/redhat/byos.md
Labels: Change sent to author, do-not-merge, virtual-machines-linux/svc, workloads/subsvc

#69851 Update synapse-workspace-understand-what-role-you-need.md
  articles/synapse-analytics/security/synapse-workspace-understand-what-role-you-need.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, review-in-progress, security/subsvc, synapse-analytics/svc

#70170 Update how-to-connect-to-workspace-from-restricted-network.md
  articles/synapse-analytics/security/how-to-connect-to-workspace-from-restricted-network.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/subsvc, synapse-analytics/svc

#69906 Updated RBAC permission
  articles/synapse-analytics/spark/microsoft-spark-utilities.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spark/subsvc, synapse-analytics/svc

#63940 Multiple main classes in one JAR
  articles/data-factory/transform-data-databricks-jar.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#64025 Update create-self-hosted-integration-runtime.md
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#64527 Added guidance when using Staged copy using PolyBase
  articles/data-factory/connector-azure-sql-data-warehouse.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#66631 Update create-self-hosted-integration-runtime.md
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#69115 Update rstudio-server-pro-tutorial.md
  articles/active-directory/saas-apps/rstudio-server-pro-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#63066 replacing curl for Invoke-WebRequest as this is Windows
  articles/virtual-machines/extensions/custom-script-windows.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc

#68980 Fixes indentation issue in json snippet
  articles/azure-monitor/app/worker-service.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#69484 Update annotations.md
  articles/azure-monitor/app/annotations.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#70421 Fixed mistake in how the feature works
  articles/active-directory/external-identities/reset-redemption-status.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#70453 Fixed code block language
  articles/azure-resource-manager/templates/deploy-cli.md
Labels: Change sent to author, azure-resource-manager/svc, ready-to-merge, templates/subsvc

#70444 Removing line break
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#69929 Update copy-activity-log.md
  articles/data-factory/copy-activity-log.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#70239 Update AutoMLStep docs
  articles/machine-learning/how-to-use-automlstep-in-pipelines.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, do-not-merge, machine-learning/svc

#70478 Update reference-connect-health-faq.md
  articles/active-directory/hybrid/reference-connect-health-faq.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#70476 Update how-to-connect-health-agent-install.md
  articles/active-directory/hybrid/how-to-connect-health-agent-install.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#70482 Fix grammar on naming rules for Data Factory
  articles/data-factory/naming-rules.md
Labels: Change sent to author, data-factory/svc, do-not-merge

#70472 Phone System Virtual User License is listed with the ServicePlanName
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, ready-to-merge

#70475 Update how-to-connect-install-prerequisites.md
  articles/active-directory/hybrid/how-to-connect-install-prerequisites.md
Labels: Change sent to author, active-directory/svc, hybrid/subsvc, ready-to-merge

#70477 Fix link to az provider register command
  articles/aks/manage-azure-rbac.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, do-not-merge

#67071 Add a call to setSuccess in the dependency code sample
  articles/azure-monitor/app/java-in-process-agent.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge

#69884 Update logs-dedicated-clusters.md
  articles/azure-monitor/log-query/logs-dedicated-clusters.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, logs/subsvc, ready-to-merge

#70448 Issue on DNS record
  articles/mariadb/howto-configure-privatelink-cli.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, mariadb/svc

#70017 Update cache-how-to-premium-persistence.md
  articles/azure-cache-for-redis/cache-how-to-premium-persistence.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#70273 Update cache-how-to-premium-persistence.md
  articles/azure-cache-for-redis/cache-how-to-premium-persistence.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#70526 s/complaint/compliant/
  articles/postgresql/overview-single-server.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#70530 Fixed typo
  articles/azure-resource-manager/managed-applications/request-just-in-time-access.md
Labels: Change sent to author, do-not-merge, managed-applications/svc

#70392 [Purview] Updates instructions to include updated scope of req'd permissions
  articles/purview/manage-credentials.md
  articles/purview/media/manage-credentials/add-access-policy.png
  articles/purview/media/manage-credentials/save-access-policy.png
  articles/purview/media/troubleshoot-connections/verify-minimum-permissions.png
  articles/purview/troubleshoot-connections.md
Labels: Change sent to author, aq-pr-triaged, purview-data-catalog/subsvc, purview/svc, ready-to-merge

#70456 Update custom-policy-get-started.md
  articles/active-directory-b2c/custom-policy-get-started.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#70543 Included applies to section
  articles/data-factory/data-flow-reserved-capacity-overview.md
Labels: Change sent to author, data-factory/svc, ready-to-merge

#70597 Update howto-authentication-passwordless-deployment.md
  articles/active-directory/authentication/howto-authentication-passwordless-deployment.md
Labels: Change sent to author, active-directory/svc, authentication/subsvc, do-not-merge

#70618 Some code formatting
  articles/active-directory/develop/msal-net-migration.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#70623 Update enable-notebooks.md
  articles/cosmos-db/enable-notebooks.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, do-not-merge

#70627 Update graph-introduction.md
  articles/cosmos-db/graph-introduction.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-graph/subsvc, do-not-merge

#70661 Update backup-azure-vms-automation.md
  articles/backup/backup-azure-vms-automation.md
Labels: Change sent to author, backup/svc, do-not-merge

#70665 Add line to improve consistency and readability
  articles/active-directory/user-help/user-help-auth-app-faq.md
Labels: Change sent to author, active-directory/svc, do-not-merge, user-help/subsvc

#70555 Update how-to-use-environments.md
  articles/machine-learning/how-to-use-environments.md
Labels: Change sent to author, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#70648 Now table is shown as a table, not as HTML.
  articles/notification-hubs/notification-hubs-templates-cross-platform-push-messages.md
Labels: Change sent to author, aq-pr-triaged, notification-hubs/svc, ready-to-merge

#67785 Update use-azure-ad-pod-identity.md
  articles/aks/use-azure-ad-pod-identity.md
Labels: Change sent to author, aq-pr-triaged, container-service/svc, ready-to-merge

#70321 Added Missing Slash
  articles/app-service/app-service-key-vault-references.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#70662 Update backup-azure-vms-automation.md
  articles/backup/backup-azure-vms-automation.md
Labels: Change sent to author, aq-pr-triaged, backup/svc, do-not-merge
