Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-03, with the labels that each got.

#71607 Resolve merge conflicts for repo sync 030421
  articles/azure-cache-for-redis/cache-best-practices.md
  articles/communication-services/quickstarts/chat/includes/chat-csharp.md
  articles/virtual-machines/troubleshooting/troubleshoot-bitlocker-boot-error.md
Labels: Change sent to author, azure-communication-services/subsvc, do-not-merge, virtual-machines-windows/svc

#70435 Create concepts-migrate-dbforge-studio-for-mysql.md
  articles/mysql/concepts-migrate-dbforge-studio-for-mysql.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, mysql/svc

#70436 pics for doc
  media/azure-connection-1.png
  media/back-up-wizard-options.png
  media/copy-databases-result.png
  media/data-comp-result.png
  media/data-sync-result.png
  media/restore-step1.png
  media/schema-sync-wizard.png
Labels: Change sent to author, aq-pr-triaged, do-not-merge

#71615 Update azure-percept-vision-datasheet.md
  articles/azure-percept/azure-percept-vision-datasheet.md
Labels: Change sent to author, aq-pr-triaged, azure-percept/svc, ready-to-merge

#71583 Update Response type to CodeIdToken
  articles/active-directory/develop/quickstart-v2-aspnet-webapp.md
  articles/active-directory/develop/tutorial-v2-asp-webapp.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#71561 Front Door + Private Link reference
  articles/frontdoor/front-door-faq.md
  articles/frontdoor/standard-premium/faq.md
Labels: Change sent to author, aq-pr-triaged, front-door/svc, frontdoor/svc, ready-to-merge

#71555 Update data-explorer.md
  articles/azure-monitor/insights/data-explorer.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, insights/subsvc, ready-to-merge

#71552 Update throttling documentation for Azure Key Vault
  articles/key-vault/general/overview-throttling.md
Labels: Change sent to author, aq-pr-triaged, general/subsvc, key-vault/svc, ready-to-merge, triaged

#71537 Notes should point to Home Realm Discovery policy
  articles/active-directory/develop/v2-oauth-ropc.md
Labels: Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge, triaged

#71500 Typo/Grammar fix
  articles/cosmos-db/find-request-unit-charge.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, ready-to-merge

#71492 Update add-password-reset-policy.md
  articles/active-directory-b2c/add-password-reset-policy.md
Labels: B2C/subsvc, Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, ready-to-merge

#71490 Fix link broken by unexpected )
  articles/batch/batch-aad-auth.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, batch/svc, ready-to-merge

#71485 Update cross-region-overview.md
  articles/load-balancer/cross-region-overview.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, load-balancer/svc, ready-to-merge, triaged

#71475 Updating AML docs for consistency
  articles/machine-learning/how-to-enable-studio-virtual-network.md
  articles/machine-learning/how-to-network-security-overview.md
  articles/machine-learning/how-to-secure-inferencing-vnet.md
  articles/machine-learning/how-to-secure-training-vnet.md
  articles/machine-learning/how-to-secure-workspace-vnet.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#71466 remove 2 usages of the same word
  articles/iot-pnp/concepts-components.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, iot-pnp/svc, ready-to-merge

#71463 Update get-started-analyze-spark.md
  articles/synapse-analytics/get-started-analyze-spark.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc, triaged

#71454 stylistic error fix
  articles/cosmos-db/monitor-cosmos-db.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, cosmos-db/svc, ready-to-merge, triaged

#71451 Update data-ingestion-time.md
  articles/azure-monitor/logs/data-ingestion-time.md
Labels: Azure-Monitor/svc, Change sent to author, TriagedFeb2021, aq-pr-triaged, logs/subsvc, ready-to-merge, triaged

#71429 Update az tsi CLI commands to show the new version
  articles/iot-pnp/tutorial-configure-tsi.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, iot-pnp/svc, ready-to-merge

#71423 Fix typo
  articles/azure-sql/multi-model-features.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, features/subsvc, ready-to-merge, sql-db-mi/svc

#71397 Fixed typo for like pattern match
  articles/cosmos-db/sql-query-keywords.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, cosmos-db/svc, cosmosdb-sql/subsvc, ready-to-merge

#71381 Update storage-quickstart-blobs-nodejs.md
  articles/storage/blobs/storage-quickstart-blobs-nodejs.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#71366 Update quick-create-portal.md
  articles/batch/quick-create-portal.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, batch/svc, ready-to-merge

#71360 Update azure-messaging-eventhubs-checkpointstore-blob dependency to latest
  articles/event-hubs/event-hubs-java-get-started-send.md
Labels: Change sent to author, aq-pr-triaged, event-hubs/svc, ready-to-merge, triaged

#71358 docs: add git installation link in Prerequisites
  articles/static-web-apps/getting-started.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#70577 Update storage-blob-event-overview.md
  articles/storage/blobs/storage-blob-event-overview.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, blobs/subsvc, ready-to-merge, storage/svc

#70576 Update quickstart-register-app.md
  articles/active-directory/develop/quickstart-register-app.md
Labels: Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#70497 Update connector-sharepoint-online-list.md
  articles/data-factory/connector-sharepoint-online-list.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, ready-to-merge

#70431 Updated syntax and example with correct parameters
  articles/security-center/deploy-vulnerability-assessment-byol-vm.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, security-center/svc

#70370 Update app-service-web-tutorial-custom-domain.md
  articles/app-service/app-service-web-tutorial-custom-domain.md
Labels: Change sent to author, TriagedFeb2021, app-service/svc, aq-pr-triaged, ready-to-merge

#70367 Update apache-spark-azure-portal-add-libraries.md
  articles/synapse-analytics/spark/apache-spark-azure-portal-add-libraries.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc

#70176 update WAF workbook aka.ms link
  articles/web-application-firewall/ag/ag-overview.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, web-application-firewall/svc

#69286 Update backend-pool-management.md
  articles/load-balancer/backend-pool-management.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, load-balancer/svc, ready-to-merge

#68366 Update Java SE Version
  articles/iot-edge/tutorial-java-module.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, iot-edge/svc, ready-to-merge

#67033 Support for Geo-distributed deployments is now possible
  articles/active-directory-domain-services/compare-identity-solutions.md
Labels: Change sent to author, TriagedFeb2021, active-directory-ds/svc, aq-pr-triaged, ready-to-merge

#70691 RBAC updated
  articles/synapse-analytics/spark/apache-spark-job-definitions.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc

#71412 Update cache-best-practices.md
  articles/azure-cache-for-redis/cache-best-practices.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, cache/svc, ready-to-merge

#71402 typo fix
  articles/cosmos-db/cosmosdb-monitor-resource-logs.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#71331 Minor clean-up to improve legibility
  articles/migrate/how-to-create-group-machine-dependencies.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, azure-migrate/svc, ready-to-merge

#71302 Time mentioned should be 2021
  articles/active-directory/develop/support-fido2-authentication.md
Labels: Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, develop/subsvc, ready-to-merge

#71296 Fix a typo
  articles/azure-monitor/app/configuration-with-applicationinsights-config.md
Labels: Azure-Monitor/svc, Change sent to author, TriagedFeb2021, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#71268 Remove broken link to ipynb
  articles/genomics/quickstart-run-genomics-workflow-portal.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, genomics/svc, ready-to-merge

#71227 Update iot-hub-live-data-visualization-in-power-bi.md
  articles/iot-hub/iot-hub-live-data-visualization-in-power-bi.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, iot-hub/svc, ready-to-merge

#71218 Slight typo correction: immidiatly -> immediately
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, hybrid/subsvc, ready-to-merge

#71189 (AzureCXP) fixed continueAsNew for JavaScript
  articles/azure-functions/durable/durable-functions-eternal-orchestrations.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, azure-functions/svc, ready-to-merge

#71187 Adding Microsoft.ContainerService/managedClusters/*
  articles/aks/concepts-identity.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, container-service/svc, ready-to-merge

#71185 Update virtual-network-bandwidth-testing.md
  articles/virtual-network/virtual-network-bandwidth-testing.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, virtual-network/svc

#71177 Fix typo in argument name
  articles/communication-services/quickstarts/managed-identity.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, azure-communication-services/svc, ready-to-merge

#71175 Rename Automatic featurization column title
  articles/machine-learning/concept-automated-ml.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, core/subsvc, machine-learning/svc, ready-to-merge

#71166 not defining the format returns a usage error
  articles/azure-app-configuration/scripts/cli-import.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#71098 Update GH link
  articles/azure-functions/functions-bindings-warmup.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, azure-functions/svc, ready-to-merge

#70816 Update nodes-and-pools.md
  articles/batch/nodes-and-pools.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, batch/svc, ready-to-merge

#70749 Mention FIM
  articles/azure-arc/servers/overview.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, azure-arc-servers/subsvc, azure-arc/svc, ready-to-merge

#70748 Azure Arc call out on-premises environments?
  articles/security-center/security-center-file-integrity-monitoring.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, security-center/svc

#70731 Update create-ssh-keys-detailed.md
  articles/virtual-machines/linux/create-ssh-keys-detailed.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-linux/svc

#70658 Fix Dangling domain alert type
  articles/security-center/alerts-reference.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, security-center/svc

#71199 Update Free tier limitation to 3 environments
  articles/static-web-apps/review-publish-pull-requests.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, ready-to-merge, static-web-apps/svc

#70485 Update sensor-sdk-download.md
  articles/kinect-dk/sensor-sdk-download.md
Labels: Change sent to author, TriagedFeb2021, aq-pr-triaged, kinect-dk/prod, ready-to-merge, triaged

#70647 Documentation customisation
  articles/active-directory/saas-apps/sharingcloud-tutorial.md
Labels: Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#71614 Update how-to-setup-rbac.md
  articles/cosmos-db/how-to-setup-rbac.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, do-not-merge

#71632 Update azure-vmware-solutions-limits.md
  articles/azure-vmware/includes/azure-vmware-solutions-limits.md
Labels: Change sent to author, azure-vmware/svc, do-not-merge

#71633 Update cache-failover.md
  articles/azure-cache-for-redis/cache-failover.md
Labels: Change sent to author, cache/svc, do-not-merge

#71630 Update linked-templates.md
  articles/azure-resource-manager/templates/linked-templates.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc

#71595 Update cache-administration.md
  articles/azure-cache-for-redis/cache-administration.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, ready-to-merge

#71638 Update iot-edge-for-linux-on-windows.md
  articles/iot-edge/iot-edge-for-linux-on-windows.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-edge/svc

#71313 fix typo
  articles/active-directory/authentication/concept-authentication-authenticator-app.md
Labels: Change sent to author, TriagedFeb2021, active-directory/svc, aq-pr-triaged, authentication/subsvc, do-not-merge

#71663 Update hana-large-instance-enable-kdump.md
  articles/virtual-machines/workloads/sap/hana-large-instance-enable-kdump.md
Labels: Change sent to author, do-not-merge, virtual-machines-sap/svc

#71671 fixed Front Door FAQ graphics
  articles/frontdoor/front-door-faq.md
Labels: Change sent to author, do-not-merge, frontdoor/svc

#71686 Removed extra whitespace (newline)
  articles/virtual-network/virtual-network-for-azure-services.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#66435 Fixing what seems to be an error in my initial PR for ADF PE DNS
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, private-link/svc

#71683 Spelling
  articles/key-vault/general/secure-your-key-vault.md
Labels: Change sent to author, do-not-merge, general/subsvc, key-vault/svc

#71719 Cluster must have three manager and three worker nodes
  articles/openshift/support-policies-v4.md
Labels: do-not-merge

#71728 Fix broken web job history link
  articles/app-service/webjobs-create-ieux-conceptual.md
Labels: Change sent to author, app-service/svc, do-not-merge

#71739 Update webjobs-create-ieux.md
  articles/app-service/webjobs-create-ieux.md
Labels: Change sent to author, app-service/svc, do-not-merge

#71744 Update cache-best-practices.md
  articles/azure-cache-for-redis/cache-best-practices.md
Labels: Change sent to author, cache/svc, do-not-merge

#71749 Update how-to-deploy-advanced-entry-script.md
  articles/machine-learning/how-to-deploy-advanced-entry-script.md
Labels: Change sent to author, core/subsvc, do-not-merge, machine-learning/svc

#71793 Update azure-stack-edge-j-series-manage-bandwidth-schedules.md
  articles/databox-online/azure-stack-edge-j-series-manage-bandwidth-schedules.md
Labels: Change sent to author, databox/svc, do-not-merge, edge/subsvc

#71799 Update ephemeral-os-disks.md
  articles/virtual-machines/ephemeral-os-disks.md
Labels: Change sent to author, aq-pr-triaged, disks/subsvc, do-not-merge, virtual-machines/svc

#70969 not exact formulation
  articles/azure-sql/database/firewall-create-server-level-portal-quickstart.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/subsvc, sql-database/svc

#71808 Update troubleshoot-dev-kit.md
  articles/azure-percept/troubleshoot-dev-kit.md
Labels: Change sent to author, aq-pr-triaged, azure-percept/svc, do-not-merge

#71790 Add missing semicolon
  articles/active-directory/develop/scenario-protected-web-api-app-configuration.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#71792 Update scenario-desktop-app-registration.md
  articles/active-directory/develop/scenario-desktop-app-registration.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#71723 Better JSON examples comprehension
  articles/azure-resource-manager/templates/copy-properties.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, do-not-merge, templates/subsvc

#71873 Updated support statement for ASR
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes.md
Labels: Change sent to author, do-not-merge, extensions/subsvc, virtual-machine-scale-sets/svc

#71694 Update quickstart-configure-route-server-cli.md
  articles/route-server/quickstart-configure-route-server-cli.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, route-server/svc

#71827 [b2c-support]: Update tutorial-create-tenant.md
  articles/active-directory-b2c/tutorial-create-tenant.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#70590 Update database-import.md
  articles/azure-sql/database/database-import.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, migrate/subsvc, sql-db-mi/svc

#71438 Update steps to delete an AAD B2C tenant
  articles/active-directory-b2c/faq.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#71826 Update cache-best-practices.md
  articles/azure-cache-for-redis/cache-best-practices.md
Labels: Change sent to author, aq-pr-triaged, cache/svc, do-not-merge

#71483 includes: Do not request root privileges for Enter-PSSession in Linux
  includes/azure-stack-edge-gateway-connect-minishell.md
  includes/data-box-edge-gateway-connect-minishell.md
  includes/data-box-gateway-connect-minishell.md
Labels: Change sent to author, aq-pr-triaged, databox/svc, do-not-merge

#71702 Update troubleshoot-outbound-smtp-connectivity.md
  articles/virtual-network/troubleshoot-outbound-smtp-connectivity.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#71554 Include 'netsh winsock reset'
  articles/azure-monitor/agents/om-agents.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge, logs/subsvc

#71724 Update storage-private-endpoints.md
  articles/storage/common/storage-private-endpoints.md
Labels: Change sent to author, aq-pr-triaged, common/subsvc, do-not-merge, storage/svc

#69765 Update manage-virtual-network.md
  articles/virtual-network/manage-virtual-network.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-network/svc

#70740 Update github-ae tutorial
  articles/active-directory/saas-apps/github-ae-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, saas-app-tutorial/subsvc

#71641 Update amazon-web-service-tutorial.md
  articles/active-directory/saas-apps/amazon-web-service-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, saas-app-tutorial/subsvc

#71899 Fix convenience scripts location for Edge certs
  articles/iot-edge/iot-edge-certs.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#71911 Update faq.md
  articles/active-directory/devices/faq.md
Labels: Change sent to author, active-directory/svc, devices/subsvc, do-not-merge

#70886 Step 11 - Compute - Example Image Removal
  articles/migrate/tutorial-migrate-vmware.md
Labels: Change sent to author, aq-pr-triaged, azure-migrate/svc, do-not-merge

#71928 Update supported-classifications.md
  articles/purview/supported-classifications.md
Labels: Change sent to author, do-not-merge, purview-data-catalog/subsvc, purview/svc

#71931 Double can
  articles/synapse-analytics/sql/develop-storage-files-overview.md
Labels: Change sent to author, do-not-merge, sql/subsvc, synapse-analytics/svc

#71951 Fixed typo
  articles/active-directory-b2c/direct-signin.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#71943 Update redemption-experience.md
  articles/active-directory/external-identities/redemption-experience.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, do-not-merge

#71005 Fixes #71004 Typo Managed System Identity to Managed Service Identity
  articles/azure-sql/database/authentication-aad-service-principal.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/subsvc, sql-db-mi/svc

#71182 msal-net-xamarin-android-considerations.md - Updates to Xamarin android support
  articles/active-directory/develop/msal-net-use-brokers-with-xamarin-apps.md
  articles/active-directory/develop/msal-net-xamarin-android-considerations.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, develop/subsvc, do-not-merge

#71858 MFA prompt now appears for Security Info page
  articles/active-directory/user-help/security-info-setup-auth-app.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, user-help/subsvc

#71960 [Service Bus] TypeScript samples link missing
  articles/service-bus-messaging/service-bus-samples.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-bus-messaging/svc

#71987 Fix NuGet package name
  articles/azure-functions/dotnet-isolated-process-guide.md
Labels: Change sent to author, azure-functions/svc, do-not-merge

#71977 Typo correction in Custom commands Error Debug page
  articles/cognitive-services/Speech-Service/how-to-custom-commands-debug-runtime.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#71980 Update azure-vm-create-using-approved-base.md
  articles/marketplace/azure-vm-create-using-approved-base.md
Labels: Change sent to author, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#71891 Corrections, simplifications, clarifications, wording changes
  articles/active-directory/saas-apps/onshape-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge, saas-app-tutorial/subsvc

#70163 Update authentication-aad-configure.md
  articles/azure-sql/database/authentication-aad-configure.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/subsvc, sql-db-mi/svc

#71995 fix: Azure Load Balancer only has 7 Home regions
  articles/load-balancer/cross-region-overview.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#72010 use of FE and GP host names - old nameing
  articles/azure-vmware/concepts-storage.md
Labels: Change sent to author, azure-vmware/svc, do-not-merge

#71982 Update azure-vm-image-test.md
  articles/marketplace/azure-vm-image-test.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#71128 Update service-fabric-backuprestoreservice-quickstart-standaloneclust…
  articles/service-fabric/service-fabric-backuprestoreservice-quickstart-standalonecluster.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-fabric/svc

#71541 Advanced mode instruction
  articles/service-fabric/service-fabric-backuprestoreservice-quickstart-azurecluster.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service-fabric/svc

#72026 Rename docker container registry module name in tutorial-nested-iot-edge.md
  articles/iot-edge/tutorial-nested-iot-edge.md
Labels: Change sent to author, do-not-merge, iot-edge/svc

#72028 Minor grammar fix.
  articles/azure-sql/database/elastic-scale-shard-map-management.md
Labels: Change sent to author, do-not-merge, scale-out/subsvc, sql-database/svc

#71906 Update device-update-error-codes.md
  articles/iot-hub-device-update/device-update-error-codes.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, iot-hub-device-update/svc

#72036 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, aq-pr-triaged, azure-resource-manager/svc, do-not-merge, management/subsvc

#72052 Fix misleading VM only text.
  articles/marketplace/marketplace-managed-apps.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#72058 Fixing spacing issues and add missing article
  articles/cloud-services-extended-support/deploy-prerequisite.md
Labels: Change sent to author, cloud-services-extended-support/svc, do-not-merge

#72057 [Communication] - quickstart - fixing syntax and import in quickstart
  articles/communication-services/quickstarts/includes/managed-identity-js.md
Labels: do-not-merge, review-team-triage

#71983 Update azure-vm-get-sas-uri.md
  articles/marketplace/azure-vm-get-sas-uri.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#72088 Typo in variable assignment
  articles/route-server/quickstart-configure-route-server-cli.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, route-server/svc

#72094 Add limitation for StringNotContains operator
  articles/event-grid/event-filtering.md
Labels: Change sent to author, do-not-merge, event-grid/svc

#71890 Update a broken link in the SQL Data Load page
  articles/azure-sql/load-from-csv-with-bcp.md
Labels: Change sent to author, aq-pr-triaged, data-movement/subsvc, do-not-merge, sql-database/svc

#71910 Fix RHC Delay Text from 30 to 45 Minutes
  articles/azure-sql/database/resource-health-to-troubleshoot-connectivity.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, performance/subsvc, sql-db-mi/svc

#69164 Update rust dependencies to use tokio 1.0
  articles/azure-functions/create-first-function-vs-code-other.md
Labels: Change sent to author, aq-pr-triaged, azure-functions/svc, do-not-merge

#72106 Update CAF Blueprint dates
  articles/governance/blueprints/samples/caf-foundation/deploy.md
  articles/governance/blueprints/samples/caf-foundation/index.md
  articles/governance/blueprints/samples/caf-migrate-landing-zone/deploy.md
  articles/governance/blueprints/samples/caf-migrate-landing-zone/index.md
Labels: Change sent to author, blueprints/svc, do-not-merge

#50569 Fix client/browser-side trackTrace documentation
  articles/azure-monitor/app/api-custom-events-metrics.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, do-not-merge

#72152 supported-kubernetes-versions.md: Fix typo
  articles/aks/supported-kubernetes-versions.md
Labels: Change sent to author, container-service/svc, do-not-merge

#72160 Update whats-new.md
  articles/cognitive-services/form-recognizer/whats-new.md
Labels: do-not-merge

#71994 add more kind of client
  articles/azure-signalr/signalr-concept-messages-and-connections.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, signalr/svc

#72147 Update script for secure webhook - output had some noise
  articles/azure-monitor/alerts/action-groups.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, do-not-merge

#72129 Wording update on workspace-data-exfiltration-protection.md
  articles/synapse-analytics/security/workspace-data-exfiltration-protection.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, security/subsvc, synapse-analytics/svc

#72184 update date
  articles/frontdoor/standard-premium/how-to-logs.md
Labels: do-not-merge

#72181 Update connection string to include correct port number for Table Storage emulator
  includes/storage-emulator-connection-string-include.md
Labels: Change sent to author, do-not-merge, storage/svc

#71101 Update expressroute-howto-coexist-resource-manager.md
  articles/expressroute/expressroute-howto-coexist-resource-manager.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, expressroute/svc

#72196 Update service-fabric-windows-cluster-windows-security.md
  articles/service-fabric/service-fabric-windows-cluster-windows-security.md
Labels: Change sent to author, do-not-merge, service-fabric/svc

#72211 Update deploy-template.md
  articles/cloud-services-extended-support/deploy-template.md
Labels: Change sent to author, cloud-services-extended-support/svc, do-not-merge

#72217 Update create-data-controller-azure-data-studio.md
  articles/azure-arc/data/create-data-controller-azure-data-studio.md
Labels: Change sent to author, azure-arc-data/subsvc, azure-arc/svc, do-not-merge

#71835 Adding Managed Identities to restrictions
  articles/app-service/app-service-web-app-cloning.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, do-not-merge

#72222 Fix typo
  includes/active-directory-b2c-choose-user-flow-or-custom-policy.md
Labels: Change sent to author, active-directory-b2c/svc, do-not-merge

#72223 fixing typo
  articles/active-directory-b2c/custom-domain.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, do-not-merge

#72224 Update storage-auth-aad-app.md
  articles/storage/common/storage-auth-aad-app.md
Labels: Change sent to author, common/subsvc, do-not-merge, storage/svc

#71932 Updated the steps with latest changes
  articles/marketplace/test-drive-azure-subscription-setup.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#71779 Errors in the Sentiment/language functions
  articles/cognitive-services/text-analytics/tutorials/tutorial-power-bi-key-phrases.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, ready-to-merge, text-analytics/subsvc

#71131 Updated the Azure AD account role requirement
  articles/active-directory-b2c/azure-monitor.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge
