Repository MicrosoftDocs/azure-docs, pull requests merged in 2021-07, with the labels that each got.

#77387 Removed outdated recommendations
  articles/active-directory/external-identities/user-properties.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77723 Fix quoting
  articles/active-directory/develop/scenario-web-app-sign-user-app-configuration.md
Labels: do-not-merge

#77724 typo
  articles/azure-monitor/logs/log-analytics-overview.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#76881 Update backup azure postgresql_ltr_change_armaha
  articles/backup/backup-azure-database-postgresql.md
Labels: Change sent to author, aq-pr-triaged, backup/svc, do-not-merge

#77738 typo
  articles/azure-monitor/logs/log-analytics-tutorial.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#77747 typo
  articles/azure-monitor/logs/log-analytics-tutorial.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#77765 June Release: Update how-to-select-update-package.md
  articles/azure-percept/how-to-select-update-package.md
Labels: Change sent to author, azure-percept/svc

#77764 Update sap-solution-deploy-alternate.md
  articles/sentinel/sap-solution-deploy-alternate.md
Labels: Change sent to author, aq-pr-triaged, azure-sentinel/svc, ready-to-merge, sentinel/svc

#77710 Clarify the counting scope of file system objects
  articles/storage/files/storage-files-scale-targets.md
Labels: Change sent to author, aq-pr-triaged, files/subsvc, ready-to-merge, storage/svc

#77285 Update hybrid-cloud-to-on-premises.md
  articles/active-directory/external-identities/hybrid-cloud-to-on-premises.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77713 Add missing country name for UAE regions
  articles/hdinsight/hdinsight-management-ip-addresses.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#77781 Update concepts-networking.md
  articles/postgresql/flexible-server/concepts-networking.md
Labels: Change sent to author, do-not-merge, postgresql/svc

#77518 Remove an incorrect part: guest user’s device reg
  articles/active-directory/external-identities/conditional-access.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77763 Updated for gov cloud sender address
  articles/active-directory/external-identities/invitation-email-elements.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77573 Update partner-trusona.md
  articles/active-directory-b2c/partner-trusona.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77777 Update b2clogin.md
  articles/active-directory-b2c/b2clogin.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77779 Updated Sept 30 2021 date + workaround description
  articles/active-directory/external-identities/google-federation.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#77802 typo
  articles/azure-monitor/logs/get-started-queries.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#77803 missing space
  articles/azure-monitor/logs/get-started-queries.md
Labels: Azure-Monitor/svc, Change sent to author, do-not-merge, logs/subsvc

#77822 Capitalize .NET
  articles/azure-monitor/app/azure-web-apps.md
Labels: do-not-merge

#76006 Azure Directory B2C - Fix "Total requests" alert
  articles/active-directory-b2c/azure-monitor.md
  articles/active-directory-b2c/media/azure-monitor/alert-create-rule-condition.png
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, do-not-merge

#77798 Update azure-app-apis.md
  articles/marketplace/azure-app-apis.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#77799 Update azure-app-review-feedback.md
  articles/marketplace/azure-app-review-feedback.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#77797 Update azure-app-metered-billing.md
  articles/marketplace/azure-app-metered-billing.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#77796 Update marketplace-solution-templates.md
  articles/marketplace/marketplace-solution-templates.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#77839 Update workspace-data-exfiltration-protection.md
  articles/synapse-analytics/security/workspace-data-exfiltration-protection.md
Labels: Change sent to author, do-not-merge, security/subsvc, synapse-analytics/svc

#77707 added known issues for Azure Communication Services Call Automation APIs
  articles/communication-services/concepts/known-issues.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, do-not-merge

#77457 Add note of mooncake cloud for access-app-virtual-network.md
  articles/spring-cloud/access-app-virtual-network.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#77458 Fix a typo in for deploy ASC in vnet
  articles/spring-cloud/how-to-deploy-in-azure-virtual-network.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#77456 Add more responsibilities for vnet customer
  articles/spring-cloud/vnet-customer-responsibilities.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, spring-cloud/svc

#75723 Updated ASA tags
  articles/data-factory/data-movement-security-considerations.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#77852 Update tutorial-bulk-copy-portal.md
  articles/data-factory/tutorial-bulk-copy-portal.md
Labels: Change sent to author, aq-pr-triaged, data-factory/svc, do-not-merge

#77664 Updated the VM type for VM provisioning
  articles/marketplace/azure-vm-create-certification-faq.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, marketplace/svc, partnercenter-marketplace-publisher/subsvc

#76345 Typo "Azure blob storage"→"Azure Blob Storage"
  articles/cognitive-services/Translator/document-translation/create-sas-tokens.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge, translator-text/subsvc

#77814 Update manage-automation.md
  articles/cost-management-billing/costs/manage-automation.md
Labels: Change sent to author, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, do-not-merge

#77547 Add missing verb
  articles/azure-monitor/agents/azure-monitor-agent-overview.md
Labels: Azure-Monitor/svc, Change sent to author, agents/subsvc, aq-pr-triaged, do-not-merge

#77582 Update azure-monitor-agent-overview.md
  articles/azure-monitor/agents/azure-monitor-agent-overview.md
Labels: Azure-Monitor/svc, Change sent to author, agents/subsvc, aq-pr-triaged, do-not-merge

#77745 update
  articles/azure-monitor/logs/log-analytics-tutorial.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge, logs/subsvc

#77810 Specify the US locale for Java sample and clarify date format
  articles/azure-monitor/logs/data-collector-api.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, do-not-merge, logs/subsvc

#77962 X-forwarded-for header uses the last IP for populating geolocation fields
  articles/azure-monitor/app/ip-collection.md
Labels: Azure-Monitor/svc, Change sent to author, aq-pr-triaged, ready-to-merge

#77718 Updated image of APIM protocols pane to match current.
  articles/api-management/media/api-management-howto-manage-protocols-ciphers/api-management-protocols-ciphers.png
Labels: Change sent to author, api-management/svc, aq-pr-triaged, do-not-merge, review-team-triage

#77867 Typo "Azure File sync"→"Azure File Sync"
  articles/backup/azure-file-share-support-matrix.md
Labels: Change sent to author, aq-pr-triaged, backup/svc, ready-to-merge

#77978 (AzureCXP) Fixing typo for title metadata
  articles/azure-resource-manager/bicep/deploy-to-management-group.md
Labels: Change sent to author, azure-resource-manager/svc, bicep/subsvc, ready-to-merge

#77974 Thermionic typos 2021 07 06
  articles/site-recovery/azure-to-azure-how-to-enable-policy.md
Labels: Change sent to author, do-not-merge, site-recovery/svc

#77986 Update manage-credentials.md
  articles/purview/manage-credentials.md
Labels: Change sent to author, do-not-merge, purview-data-catalog/subsvc, purview/svc

#77789 Added troubleshooting for proxyaddress issue
  articles/active-directory/external-identities/troubleshoot.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#77842 MHSM Private Link GA
  articles/key-vault/managed-hsm/private-link.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, key-vault/svc

#72189 Updated the .NET Core to use the new SQLClient lib
  articles/app-service/app-service-web-tutorial-connect-msi.md
Labels: Change sent to author, app-service/svc, aq-pr-triaged, ready-to-merge

#77716 Add "Write custom application logs" section.
  articles/synapse-analytics/spark/apache-spark-azure-log-analytics.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, spark/subsvc, synapse-analytics/svc

#78044 Fix typo
  articles/time-series-insights/tutorials-model-sync.md
Labels: Change sent to author, do-not-merge, time-series-insights/svc

#78046 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/app-service/deploy-complex-application-predictably.md
Labels: Change sent to author, app-service/svc, do-not-merge

#78047 Typo "ARM Template"→"ARM template"
  articles/route-server/quickstart-configure-template.md
Labels: Change sent to author, do-not-merge, route-server/svc

#78037 Update use-key-vault-references-dotnet-core.md
  articles/azure-app-configuration/use-key-vault-references-dotnet-core.md
Labels: Change sent to author, aq-pr-triaged, azure-app-configuration/svc, ready-to-merge

#77511 Update create-upload-ubuntu.md
  articles/virtual-machines/linux/create-upload-ubuntu.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#77782 Fixing Azure DataSource Indentation Issue
  articles/virtual-machines/linux/create-upload-centos.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines/svc

#77947 Update run-command.md
  articles/virtual-machines/windows/run-command.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, virtual-machines-windows/svc

#77701 Update image-builder-overview.md
  articles/virtual-machines/image-builder-overview.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, image-builder/subsvc, virtual-machines/svc

#77969 Cassandra account names max length update
  articles/cosmos-db/includes/cosmos-db-create-dbaccount-cassandra.md
Labels: Change sent to author, aq-pr-triaged, cosmos-db/svc, ready-to-merge

#78061 Fix instructions to create swap partition
  articles/virtual-machines/linux/redhat-create-upload-vhd.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, redhat/subsvc, virtual-machines/svc

#78076 Update how-to-use-indoor-module.md
  articles/azure-maps/how-to-use-indoor-module.md
Labels: Change sent to author, aq-pr-triaged, azure-maps/svc, ready-to-merge

#78091 Update load-balancer-multivip-overview.md
  articles/load-balancer/load-balancer-multivip-overview.md
Labels: Change sent to author, do-not-merge, load-balancer/svc

#78027 Update nda100-v4-series.md
  articles/virtual-machines/nda100-v4-series.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines/svc, vm-sizes-gpu/subsvc

#78108 Update move-resource-group-and-subscription.md
  articles/azure-resource-manager/management/move-resource-group-and-subscription.md
Labels: Change sent to author, azure-resource-manager/svc, management/subsvc, ready-to-merge

#78100 Update how-to-setup-cmk.md
  articles/cosmos-db/how-to-setup-cmk.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#78105 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/devtest-labs/create-environment-service-fabric-cluster.md
Labels: Change sent to author, devtest-lab/svc, do-not-merge

#78106 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/stream-analytics/cicd-overview.md
Labels: Change sent to author, do-not-merge, stream-analytics/svc

#78107 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/azure-monitor/alerts/alerts-smart-detections-migration.md
Labels: Azure-Monitor/svc, Change sent to author, alerts/subsvc, do-not-merge

#78111 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/hdinsight/hbase/apache-hbase-backup-replication.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#78123 Append powershell execution policy
  articles/remote-rendering/quickstarts/render-model.md
Labels: Change sent to author, azure-remote-rendering/svc, do-not-merge

#78129 (Azure CXP) resolves MicrosoftDocs/azure-docs#78125
  articles/virtual-machines/linux/compute-benchmark-scores.md
Labels: Change sent to author, benchmark/subsvc, do-not-merge, virtual-machines/svc

#78131 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/stream-analytics/resource-manager-export.md
Labels: Change sent to author, do-not-merge, stream-analytics/svc

#78132 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/virtual-desktop/virtual-desktop-fall-2019/manage-resources-using-ui.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#78140 Insert word for better readability
  articles/virtual-machines/windows/image-builder.md
Labels: Change sent to author, do-not-merge, virtual-machines/svc

#78130 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/automation/automation-deploy-template-runbook.md
Labels: Change sent to author, automation/svc, do-not-merge, process-automation/subsvc

#78141 Grammar fix: addition -> additional
  articles/purview/deployment-best-practices.md
Labels: Change sent to author, do-not-merge, purview-data-catalog/subsvc, purview/svc

#78113 Update notification-hubs-php-push-notification-tutorial.md
  articles/notification-hubs/notification-hubs-php-push-notification-tutorial.md
Labels: Change sent to author, notification-hubs/svc, ready-to-merge

#78119 Update ilogger.md
  articles/azure-monitor/app/ilogger.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, do-not-merge

#77846 added link to the new Web App sample
  articles/active-directory/develop/developer-guide-conditional-access-authentication-context.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#78152 Fix formatting issue
  articles/virtual-machines/linux/redhat-create-upload-vhd.md
Labels: Change sent to author, ready-to-merge, redhat/subsvc, virtual-machines/svc

#78149 Fix a typo; "loosing" -> "losing"
  articles/aks/custom-node-configuration.md
Labels: Change sent to author, container-service/svc, do-not-merge

#78151 [Cog Svcs] Update cognitive-services-data-loss-prevention.md
  articles/cognitive-services/cognitive-services-data-loss-prevention.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#78121 Update how-to-troubleshoot-setup.md
  articles/azure-percept/how-to-troubleshoot-setup.md
Labels: Change sent to author, aq-pr-triaged, azure-percept/svc, ready-to-merge

#77862 Introduce vnet responsibilites for customers
  articles/spring-cloud/vnet-customer-responsibilities.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-network/svc

#77884 [DMS] Updated link title
  articles/dms/quickstart-create-data-migration-service-portal.md
Labels: Change sent to author, aq-pr-triaged, dms/svc, ready-to-merge

#78175 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/cosmos-db/create-website.md
Labels: Change sent to author, cosmos-db/svc, cosmosdb-sql/subsvc, ready-to-merge

#78176 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/virtual-desktop/create-host-pools-azure-marketplace.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#78183 Fix typo in 'Spark'
  articles/hdinsight/spark/apache-spark-settings.md
Labels: Change sent to author, do-not-merge, hdinsight/svc

#78179 Added recommendation when copying the JDBC URL
  articles/purview/register-scan-hive-metastore-source.md
Labels: Change sent to author, aq-pr-triaged, purview-data-catalog/subsvc, purview/svc, ready-to-merge

#78231 Update spelling
  articles/cdn/cdn-traffic-manager.md
Labels: Change sent to author, azure-cdn/svc, do-not-merge

#78239 July 12 also affects invitations
  articles/active-directory/external-identities/google-federation.md
Labels: B2B/subsvc, Change sent to author, active-directory/svc, ready-to-merge

#78208 Line 113 I think should refer to DTU instead of DTC
  articles/data-factory/ssis-integration-runtime-ssis-activity-faq.yml
Labels: Change sent to author, aq-pr-triaged, ready-to-merge

#76453 Snappy compressed avro files
  articles/purview/sources-and-scans.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, purview-data-catalog/subsvc, purview/svc

#78177 Typo "Azure Resource Management templates"→"Azure Resource Manager te…
  articles/hdinsight/hdinsight-create-virtual-network.md
Labels: Change sent to author, aq-pr-triaged, hdinsight/svc, ready-to-merge

#78040 Update quick-create-node.md
  articles/key-vault/keys/quick-create-node.md
Labels: Change sent to author, aq-pr-triaged, key-vault/svc, keys/subsvc, ready-to-merge

#77954 Fixed two typos in Azure Cli command.
  articles/virtual-machines/extensions/key-vault-windows.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, extensions/subsvc, ready-to-merge

#77755 Update network-security.md
  articles/key-vault/general/network-security.md
Labels: Change sent to author, aq-pr-triaged, general/subsvc, key-vault/svc, ready-to-merge

#77748 Incorrect file size
  articles/active-directory/fundamentals/customize-branding.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, fundamentals/subsvc, ready-to-merge

#77637 Changed role from GA to APA
  articles/active-directory/authentication/howto-authentication-passwordless-phone.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, authentication/subsvc, ready-to-merge

#77375 Treat ErrorCode as a hexadecimal value
  articles/active-directory-domain-services/security-audit-events.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, domain-services/subsvc, ready-to-merge

#77407 Jira Version update
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#77501 Add `SAPINST_USE_HOSTNAME` paramter to sapinst command for sap ha guide on sles4sap
  articles/virtual-machines/workloads/sap/high-availability-guide-suse.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, virtual-machines-sap/svc

#78310 Adding Link to SQL AE docs
  articles/confidential-computing/index.yml
Labels: Change sent to author, ready-to-merge

#77913 edit quickstart title to include Call Automation APIs
  articles/communication-services/toc.yml
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, do-not-merge

#77177 Update calling-samples-windows.md
  articles/communication-services/quickstarts/voice-video-calling/includes/calling-client-samples/calling-samples-windows.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, do-not-merge

#77620 Update sdk-features.md
  articles/communication-services/concepts/chat/sdk-features.md
Labels: Change sent to author, aq-pr-triaged, azure-communication-services/svc, do-not-merge

#77760 SMART on FHIR docs update
  articles/healthcare-apis/fhir/use-smart-on-fhir-proxy.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, fhir/subsvc, healthcare-apis/svc

#77640 Update overview-single-server.md
  articles/postgresql/overview-single-server.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, postgresql/svc

#78341 Azure app service - Small edit
  articles/app-service/tutorial-nodejs-mongodb-app.md
Labels: Change sent to author, app-service/svc, do-not-merge

#78347 Update deploy-azure-ad-joined-vm.md
  articles/virtual-desktop/deploy-azure-ad-joined-vm.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#78356 Fixed small spelling error
  articles/virtual-desktop/apply-windows-license.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#78095 Update assign-local-admin.md
  articles/active-directory/devices/assign-local-admin.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, devices/subsvc, ready-to-merge

#77854 Update iot-hub-devguide-messages-c2d.md
  articles/iot-hub/iot-hub-devguide-messages-c2d.md
Labels: Change sent to author, aq-pr-triaged, iot-hub/svc, ready-to-merge

#78316 Update description of the API Proxy
  articles/iot-edge/how-to-configure-api-proxy-module.md
Labels: Change sent to author, aq-pr-triaged, iot-edge/svc, ready-to-merge

#78386 Update azure-active-directory-b2c-deployment-plans.md
  articles/active-directory/fundamentals/azure-active-directory-b2c-deployment-plans.md
Labels: Change sent to author, active-directory/svc, fundamentals/subsvc, ready-to-merge

#78389 Update app-attach-azure-portal.md
  articles/virtual-desktop/app-attach-azure-portal.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#78404 Update customization.md
  articles/cognitive-services/Translator/customization.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, translator-text/subsvc

#78428 Update groups-assign-role.md
  articles/active-directory/roles/groups-assign-role.md
Labels: Change sent to author, active-directory/svc, ready-to-merge, roles/subsvc

#78423 Update groups-assign-role.md
  articles/active-directory/roles/groups-assign-role.md
Labels: Change sent to author, active-directory/svc, do-not-merge, roles/subsvc

#78431 Update jQuery and Handlebars versions
  articles/active-directory-b2c/page-layout.md
Labels: B2C/subsvc, Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge

#78441 Update about-virtual-hub-routing.md
  articles/virtual-wan/about-virtual-hub-routing.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc

#78442 Update virtual-wan-about.md
  articles/virtual-wan/virtual-wan-about.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc

#77857 Update container-instances-region-availability.md to include Aus SE
  articles/container-instances/container-instances-region-availability.md
Labels: Change sent to author, aq-pr-triaged, container-instances/svc, do-not-merge

#78457 docs: Fix link to Azure Event Grid in API Management
  articles/api-management/how-to-event-grid.md
Labels: Change sent to author, api-management/svc, do-not-merge

#78484 Adding Connection String wildcard hostname
  articles/azure-monitor/app/ip-addresses.md
Labels: Azure-Monitor/svc, Change sent to author, application-insights/subsvc, aq-pr-triaged, ready-to-merge

#78507 Update CR version 0.23
  articles/sentinel/sap-deploy-solution.md
Labels: Change sent to author, azure-sentinel/subsvc, azure-sentinel/svc, ready-to-merge

#78493 Update getting-started.md
  articles/cognitive-services/big-data/getting-started.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge

#78498 Update manage-group-policy.md
  articles/active-directory-domain-services/manage-group-policy.md
Labels: Change sent to author, active-directory/svc, do-not-merge, domain-services/subsvc

#78508 Private key & public key usage clarified
  articles/active-directory/develop/access-tokens.md
Labels: Change sent to author, active-directory/svc, develop/subsvc, do-not-merge

#78523 Fix Spark documentation link
  articles/synapse-analytics/spark/apache-spark-3-runtime.md
Labels: Change sent to author, do-not-merge, spark/subsvc, synapse-analytics/svc

#78530 Fix grammar for on-prem
  articles/iot-hub-device-update/understand-device-update.md
Labels: Change sent to author, do-not-merge, iot-hub-device-update/svc

#78521 Update fortigate-ssl-vpn-tutorial.md
  articles/active-directory/saas-apps/fortigate-ssl-vpn-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#78544 Update doc to correct three minor typographical errors
  articles/vpn-gateway/vpn-gateway-ipsecikepolicy-rm-powershell.md
Labels: Change sent to author, do-not-merge, vpn-gateway/svc

#78520 Update cognitive-services-development-options.md
  articles/cognitive-services/cognitive-services-development-options.md
Labels: Change sent to author, aq-pr-triaged, cognitive-services/svc, do-not-merge

#78585 Typo "**Internet****"→"**Internet**"
  articles/virtual-network/routing-preference-azure-kubernetes-service-cli.md
Labels: Change sent to author, do-not-merge, virtual-network/svc

#78600 Update servicemesh-about.md
  articles/aks/servicemesh-about.md
Labels: Change sent to author, container-service/svc, do-not-merge

#78328 [Author a RESTful endpoint] Upgrade Azure Storage Tables from T1 to T2 in md file.
  articles/azure-resource-manager/custom-providers/tutorial-custom-providers-function-authoring.md
Labels: Change sent to author, aq-pr-triaged, azure-custom-providers/svc, do-not-merge

#78268 Update policy.md for Linux VMs
  articles/virtual-machines/linux/policy.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, security/subsvc, virtual-machines/svc

#77253 Update release-notes.md
  articles/azure-sql-edge/release-notes.md
Labels: Change sent to author, aq-pr-triaged, ready-to-merge, sql-edge/svc

#78228 Update disk-encryption-linux.md
  articles/virtual-machines/linux/disk-encryption-linux.md
Labels: Change sent to author, aq-pr-triaged, disks/subsvc, ready-to-merge, virtual-machines/svc

#78472 Modify "Reset failed logon attempts count after"
  articles/active-directory-domain-services/password-policy.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, domain-services/subsvc, ready-to-merge

#78602 Change `az set account` command to `az account set`
  articles/iot-central/core/troubleshoot-connection.md
Labels: Change sent to author, aq-pr-triaged, iot-central/svc, ready-to-merge

#78426 Update data-explorer-limits.md
  includes/data-explorer-limits.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#76648 Replace EdgelessRT with EGo
  articles/confidential-computing/enclave-aware-containers.md
Labels: Change sent to author, aq-pr-triaged, confidential-computing/subsvc, container-service/svc, ready-to-merge

#78192 Update jfrog-artifactory-tutorial.md
  articles/active-directory/saas-apps/jfrog-artifactory-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#78608 Update cache-how-to-premium-persistence.md
  articles/azure-cache-for-redis/cache-how-to-premium-persistence.md
Labels: Change sent to author, cache/svc, ready-to-merge

#78614 Update whats-new-azure-monitor.md
  articles/virtual-desktop/whats-new-azure-monitor.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc

#73997 Update azure-sql/database/gateway-migration.md
  articles/azure-sql/database/gateway-migration.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, service/subsvc, sql-db-mi/svc

#78246 Update Sentry SAML tutorial
  articles/active-directory/saas-apps/sentry-tutorial.md
Labels: Change sent to author, active-directory/svc, aq-pr-triaged, ready-to-merge, saas-app-tutorial/subsvc

#78649 Update faqs.yml
  articles/active-directory-domain-services/faqs.yml
Labels: Change sent to author, ready-to-merge

#78625 Add missing "to"
  articles/api-management/api-management-key-concepts.md
Labels: Change sent to author, api-management/svc, do-not-merge
