Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-05, with the labels that each got.

#92010 Added example of number as a string
  articles/cosmos-db/sql/sql-query-is-number.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc, aq-pr-triaged

#92261 Update Policy
  articles/storage/common/transport-layer-security-configure-minimum-version.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc

#91292 Update authorize-data-access.md
  articles/storage/common/authorize-data-access.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged

#92287 Updated kernel blocks given recent source corruption issue
  articles/site-recovery/azure-to-azure-support-matrix.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc

#92264 Fixed typo in documentation
  articles/data-lake-store/data-lake-store-service-to-service-authenticate-java.md
Labels: Change sent to author, ready-to-merge, data-lake-store/svc

#92283 Typo "Tensorflow"→"TensorFlow"
  articles/machine-learning/how-to-deploy-inferencing-gpus.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc

#92280 EA portal URL update
  articles/cost-management-billing/manage/ea-portal-troubleshoot.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, enterprise/subsvc

#92250 Update checkbox language
  articles/virtual-machines/delete.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#91664 Updated the ARM template to show a secure CORS sample
  articles/cosmos-db/sql/how-to-configure-cross-origin-resource-sharing.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc, aq-pr-triaged

#92323 Update marker value
  articles/cognitive-services/Translator/profanity-filtering.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc

#92307 Fix typo
  articles/healthcare-apis/events/events-message-structure.md
Labels: Change sent to author, ready-to-merge, healthcare-apis/svc, aq-pr-triaged, fhir/subsvc

#92306 Fix typo
  articles/healthcare-apis/events/events-faqs.md
Labels: Change sent to author, ready-to-merge, healthcare-apis/svc, aq-pr-triaged, fhir/subsvc

#92336 Use verbs that apply to all input methods
  articles/virtual-machines/windows/quick-create-portal.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc

#91069 Fix setting item name
  articles/azure-monitor/logs/private-link-configure.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged

#91857 Added sentence for nested users and groups
  articles/active-directory/conditional-access/concept-conditional-access-users-groups.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#92319 Update azure-ad-rbac.md
  articles/aks/azure-ad-rbac.md
Labels: Change sent to author, container-service/svc, do-not-merge

#92337 Update mobile ui links to known issues wiki
  articles/communication-services/concepts/ui-library/includes/mobile-ui-library.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc

#92214 update caching for headers
  articles/frontdoor/front-door-caching.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#92329 Update configure-storage-policy.md
  articles/azure-vmware/configure-storage-policy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#92203 Update for http status code
  articles/frontdoor/standard-premium/how-to-monitor-metrics.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, aq-pr-triaged

#92205 update http status code
  articles/frontdoor/front-door-diagnostics.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, aq-pr-triaged

#92206 update status code
  articles/cdn/monitoring-and-access-log.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-cdn/svc

#92248 Update performance-linux-mount-options.md
  articles/azure-netapp-files/performance-linux-mount-options.md
Labels: Change sent to author, ready-to-merge, azure-netapp-files/svc, aq-pr-triaged

#92335 Use verbs that apply to all input methods
  articles/virtual-machines/linux/quick-create-portal.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#92368 fixed a typo in ARG query
  articles/service-bus-messaging/transport-layer-security-configure-minimum-version.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged

#92340 Phasing out "automatic failover" and replacing it with "service-managed failover"
  articles/cosmos-db/cassandra/apache-cassandra-consistency-mapping.md
  articles/cosmos-db/graph/use-regional-endpoints.md
  articles/cosmos-db/high-availability.md
  articles/cosmos-db/scripts/cli/common/regions.md
  articles/cosmos-db/table/introduction.md
  includes/storage-table-cosmos-comparison.md
Labels: Change sent to author, ready-to-merge, storage/svc, cosmosdb-table/subsvc, aq-pr-triaged

#92313 Azure CXP Doc Edit | Update reference-claims-mapping-policy-type.md
  articles/active-directory/develop/reference-claims-mapping-policy-type.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#92387 Updated typo
  articles/security/fundamentals/ransomware-features-resources.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc

#91976 Added note to StringSplit claims tranformation
  articles/active-directory-b2c/string-transformations.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#92403 Update javascript-sdk-load-failure.md
  articles/azure-monitor/app/javascript-sdk-load-failure.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc

#92421 Update ot-pre-configured-appliances.md
  articles/defender-for-iot/organizations/ot-pre-configured-appliances.md
Labels: Change sent to author, ready-to-merge, defender-for-iot/svc

#92380 Redirect to Node.js documentation from JS SDK and AISKULight SDK connection string clarification
  articles/azure-monitor/app/javascript.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#92396 Fix a comma splice
  articles/virtual-machines/linux/quick-create-portal.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge

#92416 Update what-is-cloud-sync.md
  articles/active-directory/cloud-sync/what-is-cloud-sync.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#92226 Update groups-dynamic-membership.md
  articles/active-directory/enterprise-users/groups-dynamic-membership.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc

#92429 Update CONTRIBUTING.md link
  CONTRIBUTING.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#92428 Update what-is-ip-address-168-63-129-16.md
  articles/virtual-network/what-is-ip-address-168-63-129-16.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged

#92465 Fix typo
  articles/healthcare-apis/events/events-troubleshooting-guide.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, fhir/subsvc

#92447 Update faq.yml with additional password guidance
  articles/virtual-machines/windows/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#92441 Update overview-managed-identity.md to remove Key Vault reference
  articles/azure-app-configuration/overview-managed-identity.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged

#92289 Migration scripts for HBase
  articles/hdinsight/hbase/apache-hbase-migrate-new-version.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, review-team-triage, aq-pr-triaged

#92532 Fix typo
  articles/purview/catalog-managed-vnet.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-catalog/subsvc

#92091 Update language-support.md
  articles/cognitive-services/Speech-Service/language-support.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged

#89809 Missing hyphen
  articles/azure-arc/data/release-notes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data/subsvc

#91259 Escape back quotes within in-line code
  articles/data-factory/data-flow-expression-functions.md
Labels: Change sent to author, ready-to-merge, data-factory/svc, aq-pr-triaged, data-flows/subsvc

#88448 Additional steps for bringing UEFI VMs to Azure
  articles/virtual-machines/linux/create-upload-ubuntu.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#84522 Update redhat-create-upload-vhd.md
  articles/virtual-machines/linux/redhat-create-upload-vhd.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, redhat/subsvc

#84523 Update oracle-create-upload-vhd.md
  articles/virtual-machines/linux/oracle-create-upload-vhd.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, oracle/subsvc

#91721 Added in Conditional Access link
  articles/security/fundamentals/steps-secure-identity.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc

#92462 Update front-door-manual.md
  articles/static-web-apps/front-door-manual.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#92272 Fix typo
  articles/container-apps/health-probes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#92258 Fix Identity provider name
  articles/container-apps/authentication.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#92173 change hostname
  articles/container-apps/authentication.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#92531 Fix typo
  articles/healthcare-apis/release-notes.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, fhir/subsvc

#91476 Updates from ATCP B2C Pages review
  articles/active-directory-b2c/userjourneys.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP

#89300 Added some minor proposed tweaks
  articles/active-directory-b2c/technical-overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP

#92386 Updated Returning validation error message example
  articles/active-directory-b2c/restful-technical-profile.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#92494 Update tile title
  articles/defender-for-cloud/overview-page.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#92570 Fix typo
  articles/purview/register-scan-synapse-workspace.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#92254 Update toc.yml
  articles/cognitive-services/language-service/toc.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#92561 Updated request limits
  articles/cognitive-services/Translator/request-limits.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc, aq-pr-triaged

#91969 (AzureCXP) MicrosoftDocs/azure-docs#91835
  articles/synapse-analytics/sql/develop-openrowset.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc

#92602 Remove facets from LA grid
  articles/azure-monitor/logs/log-analytics-tutorial.md
Labels: ready-to-merge

#92589 Update event-grid-limits.md with supported topics count
  includes/event-grid-limits.md
Labels: Change sent to author, ready-to-merge, event-grid/svc

#92595 Fix typo
  articles/service-bus-messaging/service-bus-tutorial-topics-subscriptions-portal.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#92568 Update language-support.md
  articles/cognitive-services/language-service/custom-named-entity-recognition/language-support.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-service/subsvc

#92571 Fix typo
  articles/dms/resource-custom-roles-sql-db-managed-instance-ads.md
Labels: Change sent to author, dms/svc, do-not-merge

#92592 Fix typo
  articles/dms/resource-custom-roles-sql-db-virtual-machine-ads.md
Labels: Change sent to author, dms/svc, do-not-merge

#92594 Fix typo
  articles/azure-percept/azureeyemodule-overview.md
Labels: Change sent to author, do-not-merge, azure-percept/svc

#92596 Fix typo
  articles/service-fabric/faq-managed-cluster.yml
Labels: Change sent to author, do-not-merge

#92606 Fixed typo
  articles/active-directory/develop/quickstart-configure-app-expose-web-apis.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#92612 Fix typo
  articles/storage/common/storage-use-azurite.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc

#92613 Fix typo
  articles/virtual-machines/workloads/sap/high-availability-guide-rhel-glusterfs.md
Labels: Change sent to author, do-not-merge, virtual-machines-sap/svc

#92617 Fix typo
  articles/security/develop/threat-modeling-tool-input-validation.md
Labels: Change sent to author, security/svc, do-not-merge, security-develop/subsvc

#92586 Update scope of RunStatusChanged event
  articles/machine-learning/how-to-use-event-grid.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc

#92658 Added more information around backup storage class
  articles/azure-arc/data/release-notes.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-data/subsvc

#92637 Adding new param on whats new
  articles/mysql/single-server-whats-new.md
Labels: Change sent to author, ready-to-merge, mysql/svc

#92599 Update hubble-tutorial.md
  articles/active-directory/saas-apps/hubble-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#89610 Compose Model limit is not adjustable
  articles/applied-ai-services/form-recognizer/service-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, forms-recognizer/subsvc, applied-ai-services/svc

#85464 Update configure-storage-policy.md
  articles/azure-vmware/configure-storage-policy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#92609 Update how-to-troubleshoot-application-gateway-session-affinity-issue…
  articles/application-gateway/how-to-troubleshoot-application-gateway-session-affinity-issues.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged

#92631 Update advanced.md
  articles/governance/resource-graph/samples/advanced.md
Labels: Change sent to author, ready-to-merge, resource-graph/svc, aq-pr-triaged

#92453 Updated Link
  articles/security/fundamentals/physical-security.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc

#92669 Update tutorial-automated-ml-forecast.md
  articles/machine-learning/tutorial-automated-ml-forecast.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, automl/subsvc

#92593 Fix typo
  articles/azure-monitor/app/nodejs.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc

#92666 Fix spelling mistake
  articles/azure-resource-manager/bicep/bicep-functions-resource.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc

#92685 Fix typo
  articles/spring-cloud/how-to-github-actions.md
Labels: Change sent to author, ready-to-merge, spring-cloud/svc

#92674 Removed use of json('null') in Bicep Docs
  articles/azure-resource-manager/bicep/conditional-resource-deployment.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc

#92678 Update storage-use-azcopy-files.md
  articles/storage/common/storage-use-azcopy-files.md
Labels: Change sent to author, storage/svc, do-not-merge, common/subsvc

#92681 Update troubleshoot-dependencies.md
  articles/migrate/troubleshoot-dependencies.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc

#92700 Update alerts-log-api-switch.md
  articles/azure-monitor/alerts/alerts-log-api-switch.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc

#92699 Update from managed to question answering
  articles/cognitive-services/QnAMaker/Overview/language-support.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#92672 Update AZ
  articles/azure-app-configuration/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#92638 Update date-bucket-tsql.md
  articles/azure-sql-edge/date-bucket-tsql.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql-edge/svc

#92634 Remove Edge, add LTS
  articles/virtual-machines/linux/flatcar-create-upload-vhd.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged

#92714 Update how-to-secure-training-vnet.md
  articles/machine-learning/how-to-secure-training-vnet.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, enterprise-readiness/subsvc

#92492 Fix typos in examples of overriding configuration at runtime
  articles/azure-functions/configure-monitoring.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#92259 Azure Functions Folder Structure - add PowerShell link
  includes/functions-folder-structure.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#92690 Provision-EflowVM: improvement on registrationId parameter
  articles/iot-edge/how-to-provision-devices-at-scale-linux-on-windows-tpm.md
  articles/iot-edge/reference-iot-edge-for-linux-on-windows-functions.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#89529 modify articles/service-fabric/service-fabric-cluster-capacity.md add B-series not supported for service fabric
  articles/service-fabric/service-fabric-cluster-capacity.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged

#92734 Remove experimental state of Helm 3 OCI support
  articles/container-registry/container-registry-helm-repos.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged

#92787 GCS -> Blob is now GA
  articles/storage/common/storage-use-azcopy-google-cloud.md
Labels: Change sent to author, storage/svc, do-not-merge, common/subsvc

#92786 Added download link for ARM64 build of AzCopy
  articles/storage/common/storage-use-azcopy-v10.md
Labels: Change sent to author, storage/svc, do-not-merge, common/subsvc

#92400 Update windows-desktop-multitenant-hosting-deployment.md
  articles/virtual-machines/windows/windows-desktop-multitenant-hosting-deployment.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#92764 Link type of storage accounts information
  articles/storage/blobs/access-tiers-overview.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#92785 Update front-door-wildcard-domain.md
  articles/frontdoor/front-door-wildcard-domain.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, ATCP

#92807 Available region for VNet Peering
  articles/expressroute/about-fastpath.md
Labels: Change sent to author, ready-to-merge, expressroute/svc

#92776 Update virtual-machines-disks-shared-limitations.md
  includes/virtual-machines-disks-shared-limitations.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#92792 parameter order is wrong
  articles/machine-learning/how-to-deploy-mlflow-models.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged

#92782 Scope support for Azure Functions module to AMD64
  articles/iot-edge/tutorial-deploy-function.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#92701 fix: Use correct Prometheus metric names in "Configure local metrics and logs for Azure API Management self-hosted gateway"
  articles/api-management/how-to-configure-local-metrics-logs.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged

#92722 Update howto-conditional-access-apis.md
  articles/active-directory/conditional-access/howto-conditional-access-apis.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#89540 Added a description about disconnect notification during listening
  articles/iot-hub/iot-hub-node-node-file-upload.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, aq-pr-triaged

#92379 Added Mar and Apr performance
  articles/active-directory/reports-monitoring/reference-azure-ad-sla-performance.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc, aq-pr-triaged

#92818 fix typo of word "Edit"
  articles/azure-app-configuration/manage-feature-flags.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc

#90643 Fix typo
  articles/cognitive-services/QnAMaker/includes/quickstart-sdk-ruby.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qna-maker/subsvc, aq-pr-triaged

#92832 Short URL had extra period
  articles/site-recovery/azure-to-azure-common-questions.md
Labels: Change sent to author, do-not-merge

#92849 Fix "Set up working directory" step for windows
  articles/iot-edge/how-to-create-test-certificates.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc

#92852 fix typo
  articles/app-service/resources-kudu.md
Labels: Change sent to author, app-service/svc, do-not-merge

#92080 Update azure-virtual-network-limits.md
  includes/azure-virtual-network-limits.md
Labels: Change sent to author, do-not-merge, networking/svc, aq-pr-triaged

#90542 Fix typo
  articles/static-web-apps/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#90513 Fix typo
  articles/container-apps/github-actions-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#86231 Change incorrect property name
  articles/container-apps/scale-app.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#92898 fixing typo for clusterEndpoint
  articles/service-fabric/service-fabric-cluster-nodetypes.md
Labels: Change sent to author, service-fabric/svc, do-not-merge

#92939 Update vmware-software-update-frequency.md
  articles/azure-vmware/includes/vmware-software-update-frequency.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc

#92940 Update premium-certificates.md
  articles/firewall/premium-certificates.md
Labels: Change sent to author, do-not-merge, firewall/svc

#92933 Update best-practices.md
  articles/azure-monitor/best-practices.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, general/subsvc

#92811 Auto tuning
  articles/applied-ai-services/metrics-advisor/how-tos/configure-metrics.md
  articles/applied-ai-services/metrics-advisor/index.yml
  articles/applied-ai-services/metrics-advisor/media/metrics/autotuning-alert.png
  articles/applied-ai-services/metrics-advisor/media/metrics/autotuning-initializing.png
  articles/applied-ai-services/metrics-advisor/media/metrics/autotuning-pattern.png
  articles/applied-ai-services/metrics-advisor/media/metrics/autotuning-preference.png
  articles/applied-ai-services/metrics-advisor/media/metrics/autotuning-value.png
Labels: Change sent to author, do-not-merge, aq-pr-triaged, metrics-advisor/subsvc, applied-ai-services/svc

#93015 Fixed command to verify service principal role
  articles/azure-arc/data/upload-metrics-and-logs-to-azure-monitor.md
Labels: Change sent to author, do-not-merge, azure-arc/svc, azure-arc-data/subsvc

#93299 adding small change for b2b cross cloud update
  articles/active-directory/governance/entitlement-management-organization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged

#93297 Update sql-sdk-connection-modes clarify TLS
  articles/cosmos-db/sql/sql-sdk-connection-modes.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, cosmosdb-sql/subsvc, aq-pr-triaged

#93248 Update alerts-suppression-rules.md
  articles/defender-for-cloud/alerts-suppression-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#93215 Fix sentence grammar.
  articles/frontdoor/standard-premium/how-to-add-custom-domain.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#93273 Update block-legacy-authentication.md
  articles/active-directory/conditional-access/block-legacy-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged, ATCP

#93194 Update secure-file-transfer-protocol-support-how-to.md
  articles/storage/blobs/secure-file-transfer-protocol-support-how-to.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#93178 Update scenario-protected-web-api-app-configuration.md to point to the correct library.
  articles/active-directory/develop/scenario-protected-web-api-app-configuration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#93175 Update develop-tables-external-tables.md
  articles/synapse-analytics/sql/develop-tables-external-tables.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc

#93138 Update cancel-azure-subscription.md
  articles/cost-management-billing/manage/cancel-azure-subscription.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc

#93131 Update network-requirements.md
  articles/communication-services/concepts/voice-video-calling/network-requirements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc

#93085 fix wrong description
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#93076 update description for ImageBuildOnNode
  articles/defender-for-cloud/alerts-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#93068 Fix typo
  articles/virtual-machines/delete.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#93067 Fix typo
  articles/service-bus-messaging/transport-layer-security-configure-minimum-version.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged

#93061 Fix typo
  articles/hdinsight/spark/apache-spark-troubleshoot-outofmemory.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged

#93056 Fix typo
  articles/event-hubs/transport-layer-security-configure-minimum-version.md
Labels: Change sent to author, ready-to-merge, event-hubs/svc, aq-pr-triaged

#93051 Fix typo
  articles/storage/blobs/storage-blobs-static-site-github-actions.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#93046 Fix typo
  articles/mysql/single-server/quickstart-mysql-github-actions.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, single-server/subsvc

#93045 Fix typo
  articles/mysql/flexible-server/whats-new.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, flexible-server/subsvc

#91732 maintenance-and-updates.md: fix reasoning for temp disk loss
  articles/virtual-machines/maintenance-and-updates.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#91927 Update index.yml
  articles/azure-vmware/index.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged
