Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-01, with the labels that each got.

#85826 Update how-to-add-custom-domain.md
  articles/frontdoor/standard-premium/how-to-add-custom-domain.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, ATCP

#85878 Typo "Azure databases for MySQL"→"Azure Databases for MySQL"
  articles/purview/register-scan-azure-mysql-database.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#85874 Typo "Azure Database for Maria DB"→"Azure Database for MariaDB"
  articles/purview/includes/data-factory-common-supported-capabilities.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-catalog/subsvc

#85857 Typo "Azure Database for Maria DB"→"Azure Database for MariaDB"
  articles/mariadb/howto-configure-audit-logs-cli.md
Labels: Change sent to author, do-not-merge, mariadb/svc

#85794 Typo "Azure Database for Maria DB"→"Azure Database for MariaDB"
  articles/mariadb/howto-configure-server-logs-cli.md
Labels: Change sent to author, do-not-merge, mariadb/svc

#85774 PM2 doesn't start automatically in Node 14 and 16
  articles/app-service/configure-language-nodejs.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged

#85856 Fixed typo
  articles/networking/fundamentals/networking-overview.md
Labels: Change sent to author, virtual-network/svc, do-not-merge

#85876 Fix a typo in page Tutorial: Monitor Azure resources with Azure Monitor
  articles/azure-monitor/essentials/monitor-azure-resource.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, essentials/subsvc

#85913 Fix markdown link
  articles/active-directory/hybrid/how-to-connect-fed-group-claims.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#85112 Dashboard section and link to the quickstart
  articles/machine-learning/monitor-azure-machine-learning.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#85764 Update OAuth SSO session provider name
  articles/active-directory-b2c/session-behavior.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP

#85446 Update known-issues-azure-postgresql-online.md
  articles/dms/known-issues-azure-postgresql-online.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged

#85923 Fix typo
  articles/iot-hub/iot-hub-devguide-messages-d2c.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#85924 Fixed typo
  articles/networking/fundamentals/networking-overview.md
Labels: Change sent to author, virtual-network/svc, do-not-merge

#85848 Update what-is-application-proxy.md
  articles/active-directory/app-proxy/what-is-application-proxy.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, app-proxy/subsvc

#84088 Update create-vm-specialized-portal.md
  articles/virtual-machines/windows/create-vm-specialized-portal.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, virtual-machines-windows/svc, aq-pr-triaged, imaging/subsvc

#85385 Update quickstart.md
  articles/cognitive-services/language-service/custom-named-entity-recognition/quickstart.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#85611 Update whats-new.md
  articles/cognitive-services/LUIS/whats-new.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-understanding/subsvc, aq-pr-triaged

#85706 innodbfile1
  articles/mysql/concepts-server-parameters.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged

#85933 Updated table names
  articles/sentinel/fusion.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#85402 Update tutorial-v2-javascript-spa.md
  articles/active-directory/develop/tutorial-v2-javascript-spa.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#85045 SSH and RDP are supported on both Linux and Win
  includes/bastion-sku.md
Labels: Change sent to author, ready-to-merge, bastion/svc, aq-pr-triaged

#85852 Updated CLI command
  articles/active-directory/devices/howto-vm-sign-in-azure-ad-linux.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#85867 Update cert/key file names
  articles/iot-edge/how-to-create-transparent-gateway.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#85915 Update secure-file-transfer-protocol-known-issues.md
  articles/storage/blobs/secure-file-transfer-protocol-known-issues.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#85910 Update monitor-blob-storage.md
  articles/storage/blobs/monitor-blob-storage.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged

#85942 Typo "PostGre SQL"→"PostgreSQL"
  articles/backup/backup-azure-dataprotection-use-rest-api-create-update-backup-vault.md
Labels: Change sent to author, backup/svc, do-not-merge

#85945 Fix typo
  articles/static-web-apps/publish-jekyll.md
Labels: Change sent to author, do-not-merge, static-web-apps/svc

#85944 Fix typo
  articles/static-web-apps/build-configuration.md
Labels: Change sent to author, do-not-merge, static-web-apps/svc

#73457 Update auto-failover-group-overview.md
  articles/azure-sql/database/auto-failover-group-overview.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, aq-pr-triaged, sql-db-mi/svc, inactive

#85245 Small typos and code path updates
  articles/virtual-machines/workloads/sap/automation-deploy-control-plane.md
  articles/virtual-machines/workloads/sap/automation-get-started.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, virtual-machines-sap/svc

#85736 Update features-windows.md
  articles/virtual-machines/extensions/features-windows.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, extensions/subsvc

#85025 Updated CSE VMSS instructions
  articles/virtual-machines/extensions/custom-script-linux.md
  articles/virtual-machines/extensions/custom-script-windows.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, extensions/subsvc

#85319 Add detail on BGP AS Path preservation
  articles/route-server/route-server-faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, route-server/svc

#85215 Change "rego" to "redo"
  articles/virtual-machines/workloads/oracle/oracle-reference-architecture.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, oracle/subsvc

#84974 Private peering subnet should not use
  articles/expressroute/expressroute-howto-set-global-reach-portal.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#85499 Update concepts-security.md
  articles/aks/concepts-security.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#83704 Update front-door-custom-domain-https.md
  articles/frontdoor/front-door-custom-domain-https.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#85692 Update customize-application-attributes.md
  articles/active-directory/app-provisioning/customize-application-attributes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, app-provisioning/subsvc

#85302 Typo "Azure Cosmos DB emulator"→"Azure Cosmos DB Emulator"
  articles/cosmos-db/linux-emulator.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged

#85684 Update contents to refer to Azure PowerShell
  articles/network-watcher/network-watcher-nsg-flow-logging-powershell.md
Labels: Change sent to author, ready-to-merge, network-watcher/svc, aq-pr-triaged

#85407 Update reference-claims-mapping-policy-type.md
  articles/active-directory/develop/reference-claims-mapping-policy-type.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#85726 Update to latest Track 2 Java SDK
  articles/media-services/latest/configure-connect-java-howto.md
Labels: Change sent to author, media-services/svc, do-not-merge, aq-pr-triaged, rest-v3/subsvc

#83145 Update waf-sentinel.md
  articles/web-application-firewall/waf-sentinel.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, triaged-october-2021

#85335 Update tab text
  articles/azure-sql/database/automated-backups-overview.md
Labels: Change sent to author, do-not-merge, backup-restore/subsvc, aq-pr-triaged, sql-db-mi/svc

#85426 Update openvpn-azure-ad-tenant.md
  articles/vpn-gateway/openvpn-azure-ad-tenant.md
Labels: Change sent to author, vpn-gateway/svc, do-not-merge, aq-pr-triaged

#84948 Trying to make it more readable
  articles/iot-develop/concepts-digital-twin.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, iot-develop/svc

#85189 Updating title
  articles/active-directory/reports-monitoring/tutorial-log-analytics-wizard.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged

#85483 Update apache-spark-python-package-installation.md
  articles/hdinsight/spark/apache-spark-python-package-installation.md
Labels: Change sent to author, hdinsight/svc, do-not-merge, aq-pr-triaged

#85113 AmlComputeClusterNodeEvent deprecation notice
  articles/azure-monitor/essentials/resource-logs-categories.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc

#85615 b2c-support update Description of dateTime
  articles/active-directory-b2c/claimsschema.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged

#85674 Update RSS feed url in reference-breaking-changes.md
  articles/active-directory/develop/reference-breaking-changes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#86012 Fixed tiny typo
  articles/aks/kubernetes-walkthrough-portal.md
Labels: Change sent to author, container-service/svc, do-not-merge

#86001 Use correct casing for the assumeOrderByHighWaterMarkColumn configura…
  articles/search/cognitive-search-common-errors-warnings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cognitive-search/svc

#85664 Replace URL to the archived repo with the new one
  articles/virtual-machines/workloads/sap/sap-deployment-checklist.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, virtual-machines-sap/svc

#84998 Update api-filtering-sampling.md
  articles/azure-monitor/app/api-filtering-sampling.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#86057 fix typo in cli command to enable diagnostic settings "quickstart-set…
  articles/spring-cloud/quickstart-setup-log-analytics.md
Labels: Change sent to author, do-not-merge, spring-cloud/svc

#86033 Typo "Azure Blob storage service"→"Azure Blob Storage"
  articles/azure-sql/virtual-machines/windows/application-patterns-development-strategies.md
Labels: Change sent to author, virtual-machines-sql/svc, do-not-merge, management/subsvc

#86035 Minor change to specify right permission
  articles/active-directory/reports-monitoring/howto-manage-inactive-user-accounts.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc, aq-pr-triaged

#83292 Correct $PROFILE property for Current User, Current Host
  articles/cloud-shell/quickstart-powershell.md
Labels: Change sent to author, ready-to-merge, azure/svc, aq-pr-triaged

#86079 Update Diagnostic-Id format to W3C traceparent
  articles/service-bus-messaging/service-bus-end-to-end-tracing.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged

#86063 Corrected scope name for Microsoft Graph
  articles/active-directory/roles/groups-concept.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, roles/subsvc, ATCP

#84602 Update secure-file-transfer-protocol-support.md
  articles/storage/blobs/secure-file-transfer-protocol-support.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#85296 Update storage-network-security.md
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged

#86067 Update storage-ref-azcopy-copy.md
  articles/storage/common/storage-ref-azcopy-copy.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged

#79353 Highlight that Redis Enterprise tier supports redis 6.0 + modules.
  articles/azure-cache-for-redis/quickstart-create-redis-enterprise.md
Labels: Change sent to author, cache/svc, do-not-merge, aq-pr-triaged

#79831 Update cache-how-to-scale.md - Explain that the cache IP address may change
  articles/azure-cache-for-redis/cache-how-to-scale.md
Labels: Change sent to author, cache/svc, do-not-merge, aq-pr-triaged

#86109 Update disk-storage-zrs-limitations.md
  includes/disk-storage-zrs-limitations.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#86124 Fixed irrelevant "Microsoft.DesktopVirtualization/hostpools/sessionho…
  articles/virtual-desktop/autoscale-scaling-plan.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#85603 Update to latest Java SDK
  articles/app-service/overview-managed-identity.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged

#85116 AmlComputeClusterNodeEvent deprecation notice
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged

#85977 Update distribution-concepts.md
  articles/communication-services/concepts/router/distribution-concepts.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc

#84330 Update custom-enterprise-app-permissions.md
  articles/active-directory/roles/custom-enterprise-app-permissions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc

#85949 Adding OCR angle
  articles/azure-video-analyzer/video-analyzer-for-media-docs/video-indexer-output-json-v2.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-video-analyzer-media/subsvc

#86153 Update tutorial-create-tenant.md
  articles/active-directory-b2c/tutorial-create-tenant.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#86155 Update overview.md
  articles/app-service/environment/overview.md
Labels: Change sent to author, ready-to-merge, app-service/svc

#86185 Fixed typo
  articles/azure-sql/database/migrate-sqlite-db-to-azure-sql-serverless-offline-tutorial.md
Labels: Change sent to author, sql-database/svc, do-not-merge, migration/subsvc

#86146 Typo fix in first row of table
  articles/active-directory/fundamentals/active-directory-deployment-checklist-p2.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc

#86148 Typo “ Tensorflow”→”TensorFlow”
  articles/machine-learning/resource-curated-environments.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc

#86168 Typo “ Tensorflow”→”TensorFlow”
  articles/cognitive-services/Custom-Vision-Service/export-your-model.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, custom-vision/subsvc

#86174 Update overview-storage-keys-powershell.md
  articles/key-vault/secrets/overview-storage-keys-powershell.md
Labels: Change sent to author, key-vault/svc, do-not-merge, secrets/subsvc

#85830 Update tutorial-sql-server-managed-instance-online-ads.md
  articles/dms/tutorial-sql-server-managed-instance-online-ads.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged

#85827 Update tutorial-sql-server-managed-instance-online.md
  articles/dms/tutorial-sql-server-managed-instance-online.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged

#85828 Update tutorial-sql-server-to-managed-instance.md
  articles/dms/tutorial-sql-server-to-managed-instance.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged

#86159 change icacls example
  articles/storage/files/storage-files-identity-ad-ds-configure-permissions.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged

#86186 Update quick-start-connect-vcenter-to-arc-using-script.md
  articles/azure-arc/vmware-vsphere/quick-start-connect-vcenter-to-arc-using-script.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc

#86203 Update overview.md
  articles/governance/policy/overview.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc

#86107 Add a note about the expected error message
  articles/iot-hub/iot-hub-public-network-access.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, aq-pr-triaged

#86006 App Insights debugging: Add code blocks and fix doc issue
  articles/azure-monitor/app/javascript-sdk-load-failure.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#86205 added and fixed comparison page
  articles/postgresql/flexible-server/concepts-compare-single-server-flexible-server.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged

#86211 Fix a typo in cache-troubleshoot-connectivity.md
  articles/azure-cache-for-redis/cache-troubleshoot-connectivity.md
Labels: Change sent to author, cache/svc, do-not-merge

#86218 Fix syntax error in App.java
  articles/azure-sql/database/geo-distributed-application-configure-tutorial.md
Labels: Change sent to author, sql-database/svc, do-not-merge, high-availability/subsvc

#86240 mixed config values in 'helm install' code snippet
  articles/api-management/how-to-deploy-self-hosted-gateway-kubernetes-helm.md
Labels: Change sent to author, ready-to-merge, api-management/svc

#85339 two options presented as one set of steps
  articles/azure-sql/database/elastic-pool-overview.md
Labels: Change sent to author, sql-database/svc, do-not-merge, elastic-pools/subsvc, aq-pr-triaged

#85968 Update Chrome extensions name and links
  articles/active-directory/conditional-access/concept-conditional-access-conditions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#85967 Update the Chrome extensions names
  articles/active-directory/devices/concept-primary-refresh-token.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#85816 Update business-continuity-high-availability-disaster-recover-hadr-ov…
  articles/azure-sql/database/business-continuity-high-availability-disaster-recover-hadr-overview.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, aq-pr-triaged, sql-db-mi/svc

#82509 Update faq.yml
  articles/cognitive-services/Computer-vision/faq.yml
Labels: Change sent to author, cognitive-services/svc, do-not-merge, computer-vision/subsvc, aq-pr-triaged

#86293 Added the link for How-to manage credentials
  articles/purview/concept-best-practices-scanning.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86302 Update create-gallery.md
  articles/virtual-machines/create-gallery.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, gallery/subsvc

#86288 Update stream-analytics-define-outputs.md
  articles/stream-analytics/stream-analytics-define-outputs.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc

#86303 Update vm-applications.md
  articles/virtual-machines/vm-applications.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, gallery/subsvc

#86310 Typo
  articles/active-directory/cloud-sync/concept-how-it-works.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#86267 Added 'Windows 11' to the allowed list
  articles/vpn-gateway/point-to-site-about.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged

#85950 Contracting words.
  articles/lab-services/tutorial-setup-classroom-lab.md
Labels: Change sent to author, ready-to-merge, lab-services/svc, aq-pr-triaged

#85859 Delete duplicated item
  articles/azure-arc/servers/agent-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc

#86059 Update msal-error-handling-dotnet.md
  articles/active-directory/develop/msal-error-handling-dotnet.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#86269 Updated Confluence version
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#86268 Updated Jira and Service desk version
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#86066 Update functions-bindings-timer.md
  articles/azure-functions/functions-bindings-timer.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#86342 Update concept-best-practices-security.md
  articles/purview/concept-best-practices-security.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86330 Update concept-best-practices-accounts.md
  articles/purview/concept-best-practices-accounts.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86368 Typo in relay-authentication-and-authorization.md - "Activity Directory"
  articles/azure-relay/relay-authentication-and-authorization.md
Labels: Change sent to author, ready-to-merge, service-bus-relay/svc

#86331 Update concept-default-purview-account.md
  articles/purview/concept-default-purview-account.md
Labels: Change sent to author, do-not-merge, purview/svc

#86333 Update concept-best-practices-migration.md
  articles/purview/concept-best-practices-migration.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86334 Update concept-best-practices-classification.md
  articles/purview/concept-best-practices-classification.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86336 Update concept-best-practices-collections.md
  articles/purview/concept-best-practices-collections.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86338 Update concept-best-practices-glossary.md
  articles/purview/concept-best-practices-glossary.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-catalog/subsvc

#86340 Update concept-best-practices-lineage-azure-data-factory.md
  articles/purview/concept-best-practices-lineage-azure-data-factory.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#86355 Typo “ Tensorflow”→”TensorFlow”
  articles/cognitive-services/Custom-Vision-Service/export-your-model.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, custom-vision/subsvc

#86356 Typo “[Tensorflow]”→”[TensorFlow]”
  articles/synapse-analytics/spark/apache-spark-machine-learning-concept.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, synapse-analytics/svc

#86335 Update plan-issuance-solution.md
  articles/active-directory/verifiable-credentials/plan-issuance-solution.md
Labels: Change sent to author, active-directory/svc, do-not-merge, verifiable-credentials/subsvc, ATCP

#84480 Update overview-database-templates.md - new Azure Synapse database te…
  articles/synapse-analytics/database-designer/overview-database-templates.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, database-editor/subsvc

#85795 Update apache-spark-3-runtime.md
  articles/synapse-analytics/spark/apache-spark-3-runtime.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#81624 Update tutorial-enable-sspr-writeback.md
  articles/active-directory/authentication/tutorial-enable-sspr-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#83196 Removed 'preview' label
  articles/active-directory/authentication/howto-registration-mfa-sspr-combined.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, triaged-october-2021

#84932 Updated steps
  articles/active-directory/authentication/howto-mfa-userstates.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#85210 Update tutorial-enable-cloud-sync-sspr-writeback.md
  articles/active-directory/authentication/tutorial-enable-cloud-sync-sspr-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#86060 Update tutorial-configure-ldaps.md
  articles/active-directory-domain-services/tutorial-configure-ldaps.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, domain-services/subsvc, aq-pr-triaged

#85552 Move to Endpoint Manager admin center for Intune
  articles/active-directory/authentication/howto-authentication-passwordless-security-key-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#84940 update typo
  articles/firewall/rule-processing.md
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged

#85295 Added local language info to custom list
  articles/active-directory/authentication/tutorial-configure-custom-password-protection.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, ATCP

#86154 Update emulator-command-line-parameters.md
  articles/cosmos-db/emulator-command-line-parameters.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, ATCP

#86388 Edits based on support investigation
  articles/active-directory/external-identities/redemption-experience.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc

#86385 Minor text clarification
  articles/active-directory-b2c/tutorial-create-user-flows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#85898 Modifying immutability policies is not supported from Storage Explorer
  articles/vs-azure-tools-storage-explorer-blobs.md
Labels: Change sent to author, storage/svc, do-not-merge, aq-pr-triaged

#86386 Update message-transfers-locks-settlement.md
  articles/service-bus-messaging/message-transfers-locks-settlement.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged

#86390 Just like built-in roles, you can assign custom roles to users, grou…
  articles/role-based-access-control/custom-roles-portal.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged

#84755 Added note similar to serverless sql quickstart
  articles/synapse-analytics/get-started-analyze-spark.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#85576 Replaces reference to workspace1_SynapseAdmins
  articles/synapse-analytics/security/how-to-set-up-access-control.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, synapse-analytics/svc

#79917 Wrong method getSecret() used for C# example, should be GetSecret()
  articles/synapse-analytics/spark/apache-spark-secure-credentials-with-tokenlibrary.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#84911 Update what-is-a-data-warehouse-unit-dwu-cdwu.md
  articles/synapse-analytics/sql-data-warehouse/what-is-a-data-warehouse-unit-dwu-cdwu.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc

#85735 Change to line 49
  articles/synapse-analytics/database-designer/concepts-database-templates.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, database-editor/subsvc

#85868 Select "Preview data...." instead of "Visualize"
  articles/machine-learning/tutorial-designer-automobile-price-train-score.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#85866 The right click option now shows "Preview Data"
  articles/machine-learning/tutorial-designer-automobile-price-train-score.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#86283 azureml-fe-aci launch failed
  articles/machine-learning/how-to-troubleshoot-deployment.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, review-team-triage, aq-pr-triaged, mlops/subsvc

#86451 Corrected command in nodejs-sdk.md
  articles/cognitive-services/language-service/sentiment-opinion-mining/includes/quickstarts/nodejs-sdk.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, language-service/subsvc

#86447 Fix the wrong new line in the script
  articles/event-grid/configure-private-endpoints.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged

#85985 Update direct-federation-adfs.md
  articles/active-directory/external-identities/direct-federation-adfs.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged

#86459 Add HybridConnectivity RP registration
  articles/azure-arc/servers/agent-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc
