Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-02, with the labels that each got.

#87266 Updated "defaukt" to "default"
  articles/azure-sql/database/connectivity-settings.md
Labels: Change sent to author, sql-database/svc, do-not-merge, connect/subsvc

#87277 Update how-to-upgrade-using-dump-and-restore.md
  articles/postgresql/how-to-upgrade-using-dump-and-restore.md
Labels: Change sent to author, postgresql/svc, do-not-merge

#87257 Update file-sync-planning.md
  articles/storage/file-sync/file-sync-planning.md
Labels: Change sent to author, storage/svc, do-not-merge, files/subsvc

#87120 Conditional Access for Service Principal is already in public preview…
  articles/active-directory/fundamentals/service-accounts-governing-azure.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#87187 Clarify in docs that Event Hubs for Kafka does not support SAS token authentication
  articles/event-hubs/apache-kafka-frequently-asked-questions.yml
  articles/event-hubs/event-hubs-for-kafka-ecosystem-overview.md
Labels: Change sent to author, ready-to-merge, event-hubs/svc, aq-pr-triaged

#85954 Update luis-reference-regions.md
  articles/cognitive-services/LUIS/luis-reference-regions.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-understanding/subsvc, aq-pr-triaged

#87285 Update iot-hub-message-enrichments-overview.md
  articles/iot-hub/iot-hub-message-enrichments-overview.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#86827 Fix typo
  articles/media-services/latest/TOC.yml
Labels: Change sent to author, media-services/svc, do-not-merge, aq-pr-triaged

#87283 Minor changes and additions to the serverless pool scan
  articles/purview/register-scan-synapse-workspace.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#87320 Fix APIM tutorial CLI command
  articles/api-management/api-management-get-started-publish-versions.md
Labels: Change sent to author, api-management/svc, do-not-merge

#87332 (AzureCXP) MicrosoftDocs/azure-docs#87324
  articles/dns/private-dns-autoregistration.md
Labels: Change sent to author, dns/svc, do-not-merge

#86668 Updated SAP Hana on Azure OS compatibility for RHEL 7.9
  articles/virtual-machines/workloads/sap/os-compatibility-matrix-hana-large-instance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sap/svc, baremetal-sap/subsvc

#87184 Update build an application with a certificate with MSAL-Node
  articles/active-directory/develop/scenario-daemon-app-configuration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#86877 Update data-lake-store-get-started-python.md
  articles/data-lake-store/data-lake-store-get-started-python.md
Labels: Change sent to author, ready-to-merge, data-lake-store/svc, aq-pr-triaged

#81547 Update functions-reference-python.md
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#87298 Update overview-iot-central-operator.md
  articles/iot-central/core/overview-iot-central-operator.md
Labels: Change sent to author, ready-to-merge, iot-central/svc

#87237 Update publisher-verification-overview.md
  articles/active-directory/develop/publisher-verification-overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#86631 Updated document to include PS script to show VM agent status for Lin…
  articles/virtual-machines/extensions/agent-windows.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, extensions/subsvc

#86864 Update verifiable-credentials-configure-tenant.md
  articles/active-directory/verifiable-credentials/verifiable-credentials-configure-tenant.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, verifiable-credentials/subsvc

#87311 Clarify supported domain
  articles/azure-percept/how-to-deploy-model.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-percept/svc

#84983 Update cdn-features.md
  articles/cdn/cdn-features.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cdn/svc

#87353 Updated link to Github repo
  includes/active-directory-develop-libraries-webapp.md
Labels: do-not-merge, review-team-triage

#86946 Added mounting options for swap partition
  articles/virtual-machines/linux/redhat-create-upload-vhd.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, redhat/subsvc

#85172 Add Consumption plan on Linux
  articles/azure-functions/functions-infrastructure-as-code.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#83991 fix: corrected option used to create a docker file
  articles/azure-functions/functions-run-local.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#82740 Update functions-openapi-definition.md
  articles/azure-functions/functions-openapi-definition.md
  articles/azure-functions/media/functions-openapi-definitions/new-apim-service-openapi.png
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#87287 Update note for server certificate lifetime
  articles/iot-edge/how-to-manage-device-certificates.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#83414 Updated 'AccountName' to 'StorageAccountName' to avoid confusion.
  articles/azure-functions/functions-identity-based-connections-tutorial.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#87050 added missing word in sentence
  articles/active-directory/reports-monitoring/howto-manage-inactive-user-accounts.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc, aq-pr-triaged

#87281 Update hdinsight-ubuntu-1804-qa.md
  articles/hdinsight/hdinsight-ubuntu-1804-qa.md
Labels: Change sent to author, hdinsight/svc, do-not-merge, aq-pr-triaged

#87409 Update quickstart-create-workspace.md
  articles/synapse-analytics/quickstart-create-workspace.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, workspace/subsvc

#87291 Update monitor-functions.md
  articles/azure-monitor/app/monitor-functions.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#87388 Remove extra [ on applies to line
  articles/mysql/flexible-server/tutorial-php-database-app.md
Labels: Change sent to author, mysql/svc, do-not-merge

#86379 Fixing wrongly referenced metadata key
  articles/active-directory-b2c/openid-connect-technical-profile.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#87397 Fix typo
  articles/cognitive-services/QnAMaker/Quickstarts/quickstart-sdk.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qna-maker/subsvc

#87393 Fix typo
  articles/active-directory/develop/msal-js-avoid-page-reloads.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#87392 Fix typo
  articles/active-directory-b2c/javascript-and-page-layout.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#87395 Fix typo
  articles/active-directory/managed-identities-azure-resources/tutorial-linux-vm-access-nonaad.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, msi/subsvc

#87391 Fix typo
  articles/active-directory-b2c/enable-authentication-spa-app-options.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#87386 Fix on-premise typo
  articles/firewall/tutorial-hybrid-portal.md
Labels: Change sent to author, do-not-merge, firewall/svc

#87387 Fix extra [ on Applies to
  articles/mysql/flexible-server/tutorial-deploy-wordpress-on-aks.md
Labels: Change sent to author, mysql/svc, do-not-merge

#87414 Clarify definition of 1 MB early in document
  articles/virtual-machines/linux/create-upload-generic.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#87417 Update rate limits
  articles/cost-management-billing/costs/manage-automation.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc

#86934 Added SQL Managed Instance Private Endpoint DNS info.
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc

#87234 Fixing call to get AppConfig connection string
  articles/azure-app-configuration/quickstart-aspnet-core-app.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged

#86933 Added SQL MI Private Endpoint Info because it was removed.
  articles/private-link/private-endpoint-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc

#87424 Update expressroute-locations.md
  articles/expressroute/expressroute-locations.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#87478 Update supported-azure-ad-features.md
  articles/active-directory-b2c/supported-azure-ad-features.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#87481 Typo polies -> policies
  articles/active-directory-b2c/custom-domain.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#87477 SQL MI Virtual Clusters cannot be moved
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, ready-to-merge

#87473 Minor changes
  articles/synapse-analytics/database-designer/concepts-lake-database.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, database-editor/subsvc

#87447 Fix typo
  articles/cosmos-db/sql/javascript-query-api.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, cosmosdb-sql/subsvc

#87448 Fix typo
  articles/cosmos-db/sql/stored-procedures-triggers-udfs.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#87446 Fix typo
  articles/cosmos-db/sql/how-to-write-stored-procedures-triggers-udfs.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#87445 Fix typo
  articles/cosmos-db/sql/how-to-use-stored-procedures-triggers-udfs.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#87444 Fix typo
  articles/cognitive-services/Speech-Service/includes/quickstarts/translate-stt/javascript/header.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#87443 Fix typo
  articles/cognitive-services/Speech-Service/includes/quickstarts/translate-stt-multiple-languages/javascript/header.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#87442 Fix typo
  articles/cognitive-services/Speech-Service/includes/quickstarts/translate-sts/more/more.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#87467 Clarify OPC Twin and Discovery module use
  articles/industrial-iot/overview-what-is-industrial-iot.md
Labels: Change sent to author, ready-to-merge, industrial-iot/svc

#86860 Adding Sample Script for B2B to AD sync
  articles/active-directory/external-identities/hybrid-cloud-to-on-premises.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged

#87308 Update iot-hub-devguide-messages-d2c.md
  articles/iot-hub/iot-hub-devguide-messages-d2c.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, aq-pr-triaged

#87304 Call out device module interactions in routing for enrichments and queries
  articles/iot-hub/iot-hub-devguide-routing-query-syntax.md
  articles/iot-hub/iot-hub-message-enrichments-overview.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, aq-pr-triaged

#87491 Indicating path for build.gradle and switching order of android and dependencies section
  articles/communication-services/quickstarts/ui-library/includes/get-started-call/android.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc

#87435 Fixed sentence structure
  articles/active-directory/develop/v2-protocols-oidc.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#87441 Fix typo
  articles/cognitive-services/Speech-Service/includes/quickstarts/from-file/javascript/javascript.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#87504 Minor update sql-api-dotnet-v3sdk-samples.md
  articles/cosmos-db/sql/sql-api-dotnet-v3sdk-samples.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#87174 Update how-to-pronunciation-assessment.md
  articles/cognitive-services/Speech-Service/how-to-pronunciation-assessment.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged

#87433 Update faq.yml
  articles/active-directory-b2c/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#87548 Fix typo
  articles/stream-analytics/geospatial-scenarios.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge

#87547 Fix typo
  articles/stream-analytics/custom-deserializer-examples.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge

#87546 Fix typo
  articles/service-fabric/service-fabric-tutorial-create-java-app.md
Labels: Change sent to author, service-fabric/svc, do-not-merge

#87531 Fix typo
  articles/search/search-get-started-javascript.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc

#87530 Fix typo
  articles/media-services/latest/TOC.yml
Labels: do-not-merge, review-team-triage

#87528 Fix typo
  articles/iot-hub/iot-hub-node-node-c2d.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#87511 Fix typo
  articles/iot-hub/iot-hub-csharp-csharp-c2d.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#87512 Fix typo
  articles/iot-hub/iot-hub-ios-swift-c2d.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#87513 Fix typo
  articles/iot-hub/iot-hub-java-java-c2d.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#87527 Fix typo
  articles/iot-hub/iot-hub-java-java-file-upload.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#87529 Fix typo
  articles/machine-learning/concept-onnx.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc

#87519 Fix minor typo in the doc
  articles/aks/use-managed-identity.md
Labels: Change sent to author, container-service/svc, do-not-merge

#87542 delete supernumerary called
  articles/storage/files/understanding-billing.md
Labels: Change sent to author, storage/svc, do-not-merge, files/subsvc

#86506 Add function runtime version ~4
  articles/azure-functions/set-runtime-version.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#87330 Update expressroute-howto-coexist-resource-manager.md
  articles/expressroute/expressroute-howto-coexist-resource-manager.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#87612 Updated parameter value
  articles/active-directory/fundamentals/service-accounts-govern-on-premises.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#87495 remove unsupported list call from docs
  articles/azure-resource-manager/templates/template-functions-resource.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, templates/subsvc

#87321 Added update to Cancellation Token section
  articles/azure-functions/functions-dotnet-class-library.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged

#87450 Update min version
  articles/azure-resource-manager/bicep/loops.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc

#87622 Fix typo
  includes/data-box-supported-web-browsers.md
Labels: Change sent to author, do-not-merge, databox/svc, pod/subsvc

#87623 Fix typo
  includes/iot-hub-include-python-sdk-note.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#83895 Fixing Create a function app topic
  articles/azure-functions/functions-create-function-app-portal.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#87648 The sentence is confusing.
  articles/expressroute/expressroute-howto-coexist-resource-manager.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#83436 clarification on smartcard cert template config
  articles/virtual-desktop/configure-adfs-sso.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#87675 Corrected the JSON Format
  articles/search/search-query-partial-matching.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc

#87373 Update concept-conditional-access-cloud-apps.md
  articles/active-directory/conditional-access/concept-conditional-access-cloud-apps.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#86836 Update form-recognizer-container-install-run.md
  articles/applied-ai-services/form-recognizer/containers/form-recognizer-container-install-run.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, forms-recognizer/subsvc, applied-ai-services/svc

#87326 Amendment to applicable Windows SKU and wording
  articles/active-directory/authentication/howto-sspr-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#87337 Fix incorrect app id for front door tutorial
  articles/frontdoor/front-door-custom-domain-https.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#87343 Update an explanation on abuse prevention
  articles/active-directory/authentication/concept-authentication-phone-options.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#87154 Update azure-percept-devkit-container-release-notes.md
  articles/azure-percept/azure-percept-devkit-container-release-notes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-percept/svc

#85494 Update quick-create-java.md
  articles/key-vault/secrets/quick-create-java.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, secrets/subsvc

#87469 remove the warning of workspace move not being possible
  articles/machine-learning/how-to-manage-workspace.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged

#87059 Update expressroute-howto-coexist-resource-manager.md
  articles/expressroute/expressroute-howto-coexist-resource-manager.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#87207 Added section - require ticket information on activation
  articles/active-directory/privileged-identity-management/pim-how-to-change-default-settings.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, pim/subsvc, aq-pr-triaged

#86682 Update Publish Hugo documentation for those using Git Info module
  articles/static-web-apps/publish-hugo.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#86759 Update metrics-supported.md
  articles/azure-monitor/essentials/metrics-supported.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc

#87703 Update Service Tag name in connectivity rules
  articles/site-recovery/azure-to-azure-architecture.md
Labels: Change sent to author, site-recovery/svc, do-not-merge

#87709 There is a typo on line 26
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, availability/subsvc

#87711 Fix typo in article "Protecting DNS Zones/Records"
  articles/dns/dns-protect-zones-recordsets.md
Labels: Change sent to author, dns/svc, do-not-merge

#87693 Fix typo
  articles/active-directory/develop/reference-aadsts-error-codes.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#87694 Fix typo
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#87695 Fix typo
  articles/active-directory/enterprise-users/groups-restore-deleted.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#87697 Fix typo
  articles/active-directory/enterprise-users/groups-troubleshooting.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#87698 Fix typo
  articles/active-directory/external-identities/code-samples.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2B/subsvc

#87701 Fix typo
  articles/active-directory/manage-apps/assign-user-or-group-access-portal.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc

#87702 Fix typo
  articles/active-directory/roles/permissions-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, roles/subsvc

#86029 Updated Private DNS zone names for Azure China
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc

#87691 Document API version 2021-10-01
  includes/virtual-machines-imds-full-instance-response.md
  includes/virtual-machines-imds.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, monitoring/subsvc

#87411 docs(Azure Static Web Apps): running end-to-end tests on the pre-production environment.
  articles/static-web-apps/review-publish-pull-requests.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#87733 updates the powershell revoke command to MS Graph PS
  articles/active-directory/conditional-access/concept-continuous-access-evaluation.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#87129 Update behavior when user password changed
  articles/active-directory/devices/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#87185 Fix single/mixed AKS multi GPU instance strategy
  articles/aks/gpu-multi-instance.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, ATCP

#87745 Fix minor typos in Azure Spot VMs
  articles/virtual-machines/spot-vms.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, spot/subsvc

#87751 Updated naming
  articles/confidential-ledger/quickstart-python.md
Labels: Change sent to author, do-not-merge, confidential-ledger/svc

#87763 Update to WAM limitations
  articles/active-directory/develop/scenario-desktop-acquire-token-wam.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#84914 app role claim clarification.
  articles/active-directory/develop/howto-add-app-roles-in-azure-ad-apps.md
  articles/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#87261 Update faq.yml
  articles/virtual-network/nat-gateway/faq.yml
Labels: Change sent to author, virtual-network/svc, do-not-merge, review-team-triage, aq-pr-triaged

#87775 Change "identity" property to be optional
  articles/logic-apps/logic-apps-securing-a-logic-app.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged

#87814 fix MD issue with image not showing up
  articles/active-directory/authentication/howto-mfa-adfs.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, ATCP

#87805 Update service-bus-queues-topics-subscriptions.md
  articles/service-bus-messaging/service-bus-queues-topics-subscriptions.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#87839 Update index.yml
  articles/lighthouse/index.yml
Labels: Change sent to author, do-not-merge

#87804 Removing the Â character from the page
  articles/cosmos-db/sql/how-to-manage-consistency.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#87774 Modify reward wait time
  articles/cognitive-services/personalizer/tutorial-use-azure-notebook-generate-loop-data.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, personalizer/subsvc, aq-pr-triaged

#87524 Fixed FastAPI sample code memory leak
  articles/azure-monitor/app/opencensus-python-request.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#87807 Spell fix
  articles/storage/blobs/data-lake-storage-directory-file-acl-java.md
Labels: Change sent to author, ready-to-merge, storage/svc, data-lake-storage-gen2/subsvc, aq-pr-triaged

#87796 Custom Endpoints and Custom Translator
  articles/cognitive-services/Translator/reference/v3-0-reference.md
  articles/cognitive-services/Translator/request-limits.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc

#87621 Fix typo
  articles/web-application-firewall/afds/waf-front-door-drs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc

#87785 Fix typo
  articles/app-service/scripts/powershell-configure-custom-domain.md
Labels: Change sent to author, app-service/svc, do-not-merge

#87783 Fix typo
  articles/app-service/scripts/powershell-backup-restore.md
Labels: Change sent to author, app-service/svc, do-not-merge

#87781 Fix typo
  articles/app-service/scripts/powershell-backup-onetime.md
Labels: Change sent to author, app-service/svc, do-not-merge

#87780 Fix typo
  articles/app-service/scripts/powershell-backup-delete.md
Labels: Change sent to author, app-service/svc, do-not-merge

#87778 Fix typo
  articles/api-management/api-management-faq.yml
Labels: Change sent to author, do-not-merge

#86656 Updated wording
  articles/active-directory/conditional-access/concept-conditional-access-cloud-apps.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#84652 Update version of `Microsoft.ApplicationInsights.AspNetCore` from 2.17.0 to 2.19.0
  articles/azure-monitor/app/ilogger.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#87466 Update ServiceTag to actual name
  articles/api-management/virtual-network-reference.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged

#87793 REGEX MATCH is case sensitive. Technical update
  articles/active-directory/app-provisioning/define-conditional-rules-for-provisioning-user-accounts.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, app-provisioning/subsvc, ATCP

#87794 There was mistake with az deployment group command.
  articles/container-registry/manual-regional-move.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged

#87852 Fix a PowerShell example
  articles/virtual-machines/windows/run-command-managed.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#87878 Update anomaly-feedback.md
  articles/applied-ai-services/metrics-advisor/how-tos/anomaly-feedback.md
Labels: Change sent to author, do-not-merge, metrics-advisor/subsvc, applied-ai-services/svc

#87885 Update concept-certificate-based-authentication-limitations.md
  articles/active-directory/authentication/concept-certificate-based-authentication-limitations.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc

#87892 Update sdk.md
  articles/cognitive-services/language-service/question-answering/quickstart/sdk.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, language-service/subsvc
