Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-09, with the labels that each got.

#97732 command corrections
  articles/container-instances/container-instances-managed-identity.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, aq-pr-triaged

#96561 Update overview-vnet-service-endpoints.md
  articles/key-vault/general/overview-vnet-service-endpoints.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, general/subsvc

#97830 we need to give domain name with tenant.
  articles/active-directory-b2c/enable-authentication-web-api.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#97658 Update cache-troubleshoot-timeouts.md
  articles/azure-cache-for-redis/cache-troubleshoot-timeouts.md
Labels: Change sent to author, ready-to-merge, cache/svc, aq-pr-triaged

#97849 Fix typo
  articles/automanage/tutorial-create-assignment-python.md
Labels: Change sent to author, do-not-merge, automanage/svc

#97851 Fix typo
  articles/virtual-machines/workloads/sap/get-started.md
Labels: Change sent to author, do-not-merge, virtual-machines-sap/svc

#97744 Updated supported versions information
  articles/active-directory/saas-apps/ms-confluence-jira-plugin-adminguide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#97866 Corrected capitalisation of product names.
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, enterprise-users/subsvc

#90681 Clarity regarding dotnet Spark Job definition dependencies for Synapse
  articles/synapse-analytics/spark/media/apache-spark-job-definitions/net-spark-workspace-compatibility.png
  articles/synapse-analytics/spark/spark-dotnet.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#97879 Add PickupSTIX to TAXII threat intelligence feeds
  articles/sentinel/threat-intelligence-integration.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#97806 Update apache-spark-autoscale.md
  articles/synapse-analytics/spark/apache-spark-autoscale.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#97359 Fix NSX role list
  articles/azure-vmware/concepts-identity.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#97887 Update clean-up-unmanaged-azure-ad-accounts.md
  articles/active-directory/enterprise-users/clean-up-unmanaged-azure-ad-accounts.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc

#97886 Update container-insights-overview.md
  articles/azure-monitor/containers/container-insights-overview.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc

#96257 Update how-to-install-iot-edge-kubernetes.md
  articles/iot-edge/how-to-install-iot-edge-kubernetes.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#97894 Update issuance-request-api.md
  articles/active-directory/verifiable-credentials/issuance-request-api.md
Labels: Change sent to author, ready-to-merge, verifiable-credentials/subsvc, decentralized-identity/svc

#97932 Added lock dependency on VM protected by Site Recovery
  articles/azure-resource-manager/management/lock-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc

#97897 Update vminsights-dependency-agent-maintenance.md
  articles/azure-monitor/vm/vminsights-dependency-agent-maintenance.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, virtual-machines/subsvc

#97462 Update enable-public-ip-nsx-edge.md
  articles/azure-vmware/enable-public-ip-nsx-edge.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#97812 Update configure-vmware-hcx.md
  articles/azure-vmware/configure-vmware-hcx.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#97836 Update enable-vmware-cds-with-azure.md
  articles/azure-vmware/enable-vmware-cds-with-azure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#97694 Explicitly state Load Balancer Secondary IP Usage
  includes/virtual-network-multiple-ip-addresses-intro.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged

#96705 Details about Debugging permissions
  articles/synapse-analytics/security/synapse-workspace-understand-what-role-you-need.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, synapse-analytics/svc

#97759 Updated supported versions at both places
  articles/active-directory/saas-apps/ms-confluence-jira-plugin-adminguide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#97971 Update connect-aws.md
  articles/sentinel/connect-aws.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#97982 Move Limitation from "code-windows" tab
  articles/app-service/configure-connect-to-azure-storage.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged

#98046 Typo "Azure Repo repository"→"Azure Repos repository"
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-source-control-integration.md
Labels: Change sent to author, ready-to-merge, synapse-analytics/svc, sql-dw/subsvc

#98019 Typo "Azure Pipeline"→"Azure Pipelines"
  articles/machine-learning/v1/how-to-cicd-data-ingestion.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc

#97986 More clarification over Subscription level system topic
  articles/event-grid/system-topics.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged

#97975 Delta lake its not maintained by Apache
  articles/synapse-analytics/sql/query-delta-lake-format.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc

#97963 Typo "Azure blob, queue storage"→"Azure Blob, Queue storage"
  articles/storage/common/storage-use-azurite.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged

#98007 Update apache-spark-what-is-delta-lake.md
  articles/synapse-analytics/spark/apache-spark-what-is-delta-lake.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc

#98056 Correct inconsistency in StringBeginsWith documentation and example
  articles/event-grid/event-filtering.md
Labels: Change sent to author, ready-to-merge, event-grid/svc

#97942 Added details about 3DES cipher deprecation
  articles/iot-hub/iot-hub-tls-support.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged

#98029 spelling mistake
  articles/stream-analytics/stream-analytics-stream-analytics-query-patterns.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge

#98052 Fix broken markdown table in dpsv5-dpdsv5-series.md
  articles/virtual-machines/dpsv5-dpdsv5-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, sizes/subsvc

#98051 Fix broken markdown table in dplsv5-dpldsv5-series.md
  articles/virtual-machines/dplsv5-dpldsv5-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, sizes/subsvc

#97943 Update development-environment.md
  articles/iot-edge/development-environment.md
Labels: Change sent to author, iot-edge/svc, do-not-merge, aq-pr-triaged

#97988 JSON mistake in event-schema-resource-groups.md
  articles/event-grid/event-schema-resource-groups.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged

#97993 Updating description to reflect article purpose
  articles/site-recovery/azure-to-azure-about-networking.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, aq-pr-triaged

#97758 update references to Helm OCI Support
  articles/container-registry/container-registry-helm-repos.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged

#98012 Update container-registry-tutorial-sign-build-push.md to use the latest version of Notation-Azure-KV plugin
  articles/container-registry/container-registry-tutorial-sign-build-push.md
Labels: Change sent to author, container-registry/svc, do-not-merge, aq-pr-triaged

#98070 Update container-insights-agent-config.md
  articles/azure-monitor/containers/container-insights-agent-config.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, containers/subsvc

#98079 Improper Article before Azure Functions resource
  articles/azure-monitor/app/availability-azure-functions.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, application-insights/subsvc

#98102 Update how-to-kubernetes-inference-routing-azureml-fe.md
  articles/machine-learning/how-to-kubernetes-inference-routing-azureml-fe.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc

#98108 Fix phrasing in zone balancing paragraph
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, availability/subsvc

#98005 Einat updatesta4h
  articles/cognitive-services/language-service/text-analytics-for-health/how-to/call-api.md
  articles/cognitive-services/language-service/text-analytics-for-health/how-to/use-containers.md
  articles/cognitive-services/language-service/text-analytics-for-health/language-support.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#97706 Update resource-manager-diagnostic-settings.md
  articles/azure-monitor/essentials/resource-manager-diagnostic-settings.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc

#97799 AVS vSphere version update
  articles/azure-vmware/ecosystem-os-vms.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#98065 Update enable-vmware-cds-with-azure.md
  articles/azure-vmware/enable-vmware-cds-with-azure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#97726 Fix documentation for disableFetchTracking option (default is false since v2.8.0)
  articles/azure-monitor/app/javascript.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#98122 Update overview.md
  articles/postgresql/flexible-server/overview.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc

#94755 Update docs for reading a data asset reference
  articles/machine-learning/how-to-read-write-data-v2.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mldata/subsvc

#97811 Update install-vmware-hcx.md
  articles/azure-vmware/install-vmware-hcx.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#98141 Update overview-diagnostics.md
  articles/app-service/overview-diagnostics.md
Labels: Change sent to author, app-service/svc, do-not-merge

#98142 Grammar - .../app-objects-and-service-principals.md
  articles/active-directory/develop/app-objects-and-service-principals.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#96065 Add Azure CLI commands to enable EncryptionAtHost
  articles/virtual-machines/disks-enable-host-based-encryption-portal.md
Labels: Change sent to author, storage/svc, do-not-merge, disks/subsvc, aq-pr-triaged

#98189 grammatical correction
  articles/machine-learning/concept-ml-pipelines.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, mlops/subsvc

#98205 Update cli commands in documentation
  articles/azure-monitor/containers/container-insights-update-metrics.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, containers/subsvc

#98173 Update how-to-managed-attributes.md
  articles/purview/how-to-managed-attributes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-catalog/subsvc

#98184 Add info about the tables USRACL_FULL and SNCSYSACL_FULL
  articles/sentinel/sap/reference-systemconfig.md
  articles/sentinel/sap/sap-solution-log-reference.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#98183 Update sap-solution-log-reference.md
  articles/sentinel/sap/sap-solution-log-reference.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#98192 Update azure-backup-architecture-for-sap-hana-backup.md
  articles/backup/azure-backup-architecture-for-sap-hana-backup.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged

#97659 [bug] Incorrect claim rules (wrong claim type URIs)
  articles/active-directory/authentication/how-to-migrate-mfa-server-to-azure-mfa-with-federation.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#98211 Update reference-azure-ad-sla-performance.md
  articles/active-directory/reports-monitoring/reference-azure-ad-sla-performance.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc

#98213 Update verifiable-credentials-configure-tenant.md
  articles/active-directory/verifiable-credentials/verifiable-credentials-configure-tenant.md
Labels: Change sent to author, do-not-merge, verifiable-credentials/subsvc, decentralized-identity/svc

#98117 Update faqs.yml
  articles/active-directory-domain-services/faqs.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#98217 Shadow accounts are only deleted via MIM or Standalone Script
  articles/active-directory/external-identities/hybrid-cloud-to-on-premises.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged

#98234 Update entitlement-management-organization.md
  articles/active-directory/governance/entitlement-management-organization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged

#97825 Updates to creating portal and account PEs
  articles/purview/catalog-private-link-end-to-end.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-catalog/subsvc

#97750 Redundant lines
  articles/purview/concept-best-practices-network.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-catalog/subsvc

#98129 Update resource creation for DCR
  articles/azure-monitor/containers/container-insights-enable-existing-clusters.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc

#98240 Update to sequence of nonce request in federated user case
  articles/active-directory/devices/concept-primary-refresh-token.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#98215 Fix product name
  articles/security/develop/security-code-analysis-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#98247 Removes reference to Kafka as a data cache
  articles/azure-arc/data/includes/azure-arc-data-preview-release.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc

#98196 Updated Phase 2 Grant Controls List Formatting
  articles/active-directory/conditional-access/concept-conditional-access-policies.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#98249 Update ##Prerequisites
  articles/logic-apps/call-from-power-automate-power-apps.md
Labels: Change sent to author, logic-apps/svc, do-not-merge

#98252 Update partner-gallery.md
  articles/active-directory/verifiable-credentials/partner-gallery.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, verifiable-credentials/subsvc, decentralized-identity/svc

#98109 Update concept-conditional-access-grant.md
  articles/active-directory/conditional-access/concept-conditional-access-grant.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#98266 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/data-factory/connector-azure-blob-storage.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-movement/subsvc

#98272 Corrected spelling mistake in the document
  articles/web-application-firewall/afds/waf-front-door-drs.md
Labels: Change sent to author, do-not-merge, web-application-firewall/svc

#98276 Update custom-domain.md - word
  articles/static-web-apps/custom-domain.md
Labels: Change sent to author, do-not-merge, static-web-apps/svc

#98318 Fix: typo in concept-service-internals.md
  articles/azure-web-pubsub/concept-service-internals.md
Labels: Change sent to author, do-not-merge, azure-web-pubsub/svc

#98310 Update data-lake-storage-best-practices.md
  articles/storage/blobs/data-lake-storage-best-practices.md
Labels: Change sent to author, storage/svc, do-not-merge, data-lake-storage-gen2/subsvc

#98299 Added - Azure Private Link to the list
  articles/security/fundamentals/services-technologies.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc

#98328 Power Automate Service Dependency on Power Apps.
  articles/active-directory/conditional-access/service-dependencies.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc

#98323 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/common/storage-account-create.md
Labels: Change sent to author, storage/svc, do-not-merge, common/subsvc

#97813 Update vmware-hcx-mon-guidance.md
  articles/azure-vmware/vmware-hcx-mon-guidance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#98311 Update test-automate-integration-testing.md
  articles/active-directory/develop/test-automate-integration-testing.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged

#98221 Update how-to-troubleshoot-online-endpoints.md for 429 response
  articles/machine-learning/how-to-troubleshoot-online-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#98287 Fix links to contributor guide in README
  README.md
Labels: Change sent to author, do-not-merge, review-team-triage, aq-pr-triaged

#98138 Improvement on Identity protection PowerShell SDK Doc
  articles/active-directory/identity-protection/TOC.yml
  articles/active-directory/identity-protection/howto-identity-protection-graph-api.md
Labels: Change sent to author, active-directory/svc, do-not-merge, identity-protection/subsvc, aq-pr-triaged, needs-human-review

#98381 Correction 'service account' to 'storage account'
  includes/storage-files-networking-endpoints-public-restrict-portal.md
Labels: Change sent to author, ready-to-merge, storage/svc, qualifies-for-auto-merge

#98382 Correction 'service account' to 'storage account'
  includes/storage-files-networking-endpoints-public-disable-portal.md
Labels: Change sent to author, ready-to-merge, storage/svc, needs-human-review

#98394 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/storage-quickstart-blobs-dotnet-legacy.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, qualifies-for-auto-merge

#98374 No Register button in Download and run script page
  articles/azure-arc/servers/learn/quick-enable-hybrid-vm.md
Labels: Change sent to author, do-not-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#98400 clarifying that these are web frameworks
  articles/static-web-apps/overview.md
Labels: Change sent to author, ready-to-merge, static-web-apps/svc, qualifies-for-auto-merge

#98403 Update concepts-data-flow-schema-drift.md
  articles/data-factory/concepts-data-flow-schema-drift.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-flows/subsvc, qualifies-for-auto-merge

#98373 Emphasize vision dataset cannot be created using UI [v1 doc]
  articles/machine-learning/v1/how-to-auto-train-image-models-v1.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#98411 Update entitlement-management-organization.md
  articles/active-directory/governance/entitlement-management-organization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98274 Update access-tokens.md
  articles/active-directory/develop/access-tokens.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged

#98354 Update how-to-troubleshoot-online-endpoints.md
  articles/machine-learning/how-to-troubleshoot-online-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#98341 Update enable-public-ip-nsx-edge.md
  articles/azure-vmware/enable-public-ip-nsx-edge.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#97969 Update ingress-basic.md
  articles/aks/ingress-basic.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#98372 Emphasize vision dataset cannot be created using UI [v2 doc]
  articles/machine-learning/how-to-auto-train-image-models.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#98413 Grammar fixes in add-web-api-application.md
  articles/active-directory-b2c/add-web-api-application.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, qualifies-for-auto-merge

#98378 Location parameter no longer valid in azure CLI for az sql mi-arc
  articles/azure-arc/data/create-sql-managed-instance.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data-sqlmi/subsvc, qualifies-for-auto-merge

#98339 Update troubleshooting.md
  articles/cloud-shell/troubleshooting.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, troubleshooting/subsvc, needs-human-review

#98432 Fixed a typo
  articles/sentinel/normalization-develop-parsers.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, microsoft-sentinel/subsvc, qualifies-for-auto-merge

#98442 SAP on Oracle update
  articles/virtual-machines/workloads/sap/get-started.md
Labels: Change sent to author, ready-to-merge, virtual-machines-sap/svc, qualifies-for-auto-merge

#98445 Fix markdown output
  articles/data-factory/connector-dynamics-crm-office-365.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-movement/subsvc, qualifies-for-auto-merge

#98452 Typo "Azure Blob storage"→"Azure Blob Storage"
  articles/storage/blobs/upgrade-to-data-lake-storage-gen2-how-to.md
Labels: Change sent to author, ready-to-merge, storage/svc, qualifies-for-auto-merge

#98423 Update quickstart-create-bicep-use-visual-studio.md
  articles/azure-resource-manager/bicep/quickstart-create-bicep-use-visual-studio.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#98344 update software names
  articles/education-hub/azure-dev-tools-teaching/program-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#98415 Update the default value
  articles/event-hubs/apache-kafka-configurations.md
Labels: Change sent to author, ready-to-merge, event-hubs/svc, aq-pr-triaged, qualifies-for-auto-merge

#98520 Update how-to-view-associated-resources-for-an-identity.md
  articles/active-directory/managed-identities-azure-resources/how-to-view-associated-resources-for-an-identity.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, msi/subsvc, qualifies-for-auto-merge

#98480 Update confluencemicrosoft-tutorial.md
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98481 Update ms-confluence-jira-plugin-adminguide.md
  articles/active-directory/saas-apps/ms-confluence-jira-plugin-adminguide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98529 Updating Arc Data Steps for resource provider
  articles/azure-arc/data/plan-azure-arc-data-services.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-data/subsvc, qualifies-for-auto-merge

#98533 Typo in doc
  articles/azure-monitor/alerts/proactive-email-notification.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc, qualifies-for-auto-merge

#98421 Removing redundant image and note
  articles/azure-arc/kubernetes/private-link.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-kubernetes/subsvc, qualifies-for-auto-merge

#98494 Fix sample code syntax error
  articles/active-directory/develop/msal-node-migration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98392 Update azure-vmware-solutions-limits.md
  articles/azure-vmware/includes/azure-vmware-solutions-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#98489 Added info on Azure Policy for auto stop
  articles/machine-learning/how-to-create-manage-compute-instance.md
  articles/machine-learning/media/how-to-create-attach-studio/idle-shutdown-policy.png
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged, needs-human-review

#98574 Update data-lake-storage-best-practices.md
  articles/storage/blobs/data-lake-storage-best-practices.md
Labels: Change sent to author, storage/svc, do-not-merge, data-lake-storage-gen2/subsvc, qualifies-for-auto-merge

#98232 Fixed output claim type in StringSubstring transformation
  articles/active-directory-b2c/string-transformations.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP

#98014 Add missing error code
  articles/active-directory-b2c/error-codes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#98587 Added multiple subdomain wildcard example
  articles/firewall/firewall-faq.yml
Labels: Change sent to author, ready-to-merge, needs-human-review

#98562 Update container-registry-oras-artifacts.md according to the latest version of ORAS CLI
  articles/container-registry/container-registry-oras-artifacts.md
Labels: Change sent to author, container-registry/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#98583 Update concepts-design-public-internet-access.md
  articles/azure-vmware/concepts-design-public-internet-access.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#98170 Update container-deletion.md
  articles/azure-fluid-relay/how-tos/container-deletion.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-fluid/svc, qualifies-for-auto-merge

#98629 Update defender-for-containers-architecture.md
  articles/defender-for-cloud/defender-for-containers-architecture.md
Labels: Change sent to author, ready-to-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#98321 Update pc-saas-fulfillment-subscription-api.md
  articles/marketplace/partner-center-portal/pc-saas-fulfillment-subscription-api.md
Labels: Change sent to author, ready-to-merge, marketplace/svc, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc

#98613 Update search-security-trimming-for-azure-search.md
  articles/search/search-security-trimming-for-azure-search.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cognitive-search/svc, ATCP, qualifies-for-auto-merge

#98090 Update the number of available SNAT ports
  articles/firewall/integrate-with-nat-gateway.md
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged

#98601 Update app-resilience-continuous-access-evaluation.md
  articles/active-directory/develop/app-resilience-continuous-access-evaluation.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98615 Update export-data.md
  articles/healthcare-apis/fhir/export-data.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged, fhir/subsvc

#98639 Update self-asserted-technical-profile.md
  articles/active-directory-b2c/self-asserted-technical-profile.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc

#98655 Fixed small spelling mistaken in first sentence
  articles/cost-management-billing/reservations/reservation-discount-databricks.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, reservations/subsvc

#98692 update ORYX_DEFAULT_OS to WEBSITE_LINUX_OS_VERSION
  articles/app-service/overview.md
Labels: Change sent to author, ready-to-merge, app-service/svc, docs-editor-pilot, qualifies-for-auto-merge

#98670 Update stream-analytics-window-functions.md
  articles/stream-analytics/stream-analytics-window-functions.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge, docs-editor-pilot, qualifies-for-auto-merge

#98699 Fix double quote and consistent sentence termination in sentences
  articles/active-directory/governance/what-are-lifecycle-workflows.md
Labels: Change sent to author, active-directory/svc, do-not-merge, compliance/subsvc, qualifies-for-auto-merge

#98710 Update multi-tenant-user-management-introduction.md
  articles/active-directory/fundamentals/multi-tenant-user-management-introduction.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, qualifies-for-auto-merge

#98697 change **forecasting_parameters
  articles/machine-learning/how-to-auto-train-forecast.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#98518 Added Azure Backup Storage reserved capacity
  articles/cost-management-billing/reservations/save-compute-costs-reservations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#98595 Update Scripts
  articles/cost-management-billing/reservations/prepay-hana-large-instances-reserved-capacity.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#98580 Typo "Azure queue"→"Azure Queue"
  articles/storage/common/storage-samples-python.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98682 Purview Roles are Set in Purview not Azure Portal
  articles/purview/tutorial-using-rest-apis.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, purview/svc, purview-data-catalog/subsvc

#98556 Add required hostnames for AutoML vision
  articles/machine-learning/how-to-access-azureml-behind-firewall.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#98738 Update constrained-vcpu.md
  articles/virtual-machines/constrained-vcpu.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge
