Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-03, with the labels that each got.

#88929 Fix typo
  articles/active-directory-b2c/partner-hypr.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc

#88930 Fix typo
  articles/active-directory-b2c/partner-idology.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc

#88931 Fix typo
  articles/active-directory-b2c/partner-jumio.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc

#88933 Fix typo
  articles/active-directory-b2c/partner-onfido.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc

#88934 Fix typo
  articles/active-directory/saas-apps/bonusly-provisioning-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc

#88935 Fix typo
  articles/active-directory/saas-apps/tableau-online-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc

#88936 Fix typo
  articles/advisor/advisor-operational-excellence-recommendations.md
Labels: Change sent to author, advisor/svc, do-not-merge

#88937 Fix typo
  articles/app-service/tutorial-auth-aad.md
Labels: Change sent to author, app-service/svc, do-not-merge

#88922 Security update
  articles/cognitive-services/Translator/custom-translator/media/how-to/manage-workspace-settings-2.png
  articles/cognitive-services/Translator/custom-translator/media/how-to/manage-workspace-settings-3.png
  articles/cognitive-services/Translator/custom-translator/v2-preview/how-to/create-manage-workspace.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc

#88943 typo
  articles/site-recovery/azure-to-azure-common-questions.md
Labels: Change sent to author, site-recovery/svc, do-not-merge

#88946 Typo fix
  articles/virtual-machines/linux/image-builder-json.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, image-builder/subsvc

#88115 Updated phone authentication MFA options
  articles/active-directory-b2c/phone-authentication-user-flows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP

#88748 Update partial-document-update-getting-started.md
  articles/cosmos-db/partial-document-update-getting-started.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, cosmosdb-sql/subsvc, aq-pr-triaged

#88407 Use consistant flow references
  articles/active-directory-b2c/configure-authentication-in-sample-node-web-app-with-api.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#88534 Updating names
  includes/active-directory-b2c-configure-relying-party-policy-user-journey.md
Labels: Change sent to author, ready-to-merge, active-directory-b2c/svc, B2C/subsvc, aq-pr-triaged

#88958 Update cloudknox-ui-triggers.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-ui-triggers.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88973 Update cloudknox-product-reports.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-product-reports.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88971 Update cloudknox-howto-notifications-rule.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-notifications-rule.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88970 Update cloudknox-howto-recommendations-rule.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-recommendations-rule.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88969 Update cloudknox-howto-create-rule.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-create-rule.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88968 Update cloudknox-ui-autopilot.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-ui-autopilot.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88963 Update cloudknox-product-permission-analytics.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-product-permission-analytics.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88962 Update cloudknox-product-statistical-anomalies.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-product-statistical-anomalies.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88961 Update cloudknox-product-rule-based-anomalies.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-product-rule-based-anomalies.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88980 Update cloudknox-troubleshoot.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-troubleshoot.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88979 Update cloudknox-product-permissions-analytics-reports.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-product-permissions-analytics-reports.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88976 Update cloudknox-report-view-system-report.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-report-view-system-report.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88977 Update cloudknox-report-create-custom-report.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-report-create-custom-report.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88815 Update how-to-setup-cmk.md
  articles/cosmos-db/how-to-setup-cmk.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged

#88942 Update cloudknox-howto-create-role-policy.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-create-role-policy.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88944 Update cloudknox-howto-attach-detach-permissions.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-attach-detach-permissions.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88945 Update cloudknox-howto-add-remove-role-task.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-add-remove-role-task.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88947 Update cloudknox-howto-revoke-task-readonly-status.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-revoke-task-readonly-status.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88948 Update cloudknox-howto-create-approve-privilege-request.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-create-approve-privilege-request.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88950 Update cloudknox-ui-user-management.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-ui-user-management.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88951 Update cloudknox-howto-create-group-based-permissions.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-create-group-based-permissions.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88952 Update cloudknox-ui-audit-trail.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-ui-audit-trail.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#88953 Update cloudknox-howto-create-custom-queries.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-howto-create-custom-queries.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, ciem/subsvc

#88957 Update cloudknox-product-audit-trail.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-product-audit-trail.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, ciem/subsvc

#88823 Update faq.yml
  articles/azure-vmware/faq.yml
Labels: Change sent to author, do-not-merge, review-team-triage, aq-pr-triaged

#89000 Update screenshots
  articles/cognitive-services/Translator/custom-translator/v2-preview/how-to/create-manage-workspace.md
  articles/cognitive-services/Translator/custom-translator/v2-preview/media/how-to/manage-workspace-settings-2.png
  articles/cognitive-services/Translator/custom-translator/v2-preview/media/how-to/manage-workspace-settings-3.png
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc, aq-pr-triaged

#89024 Fix typo
  articles/backup/backup-azure-sql-vm-rest-api.md
Labels: Change sent to author, backup/svc, do-not-merge

#89023 Fix typo
  articles/backup/backup-azure-file-share-rest-api.md
Labels: Change sent to author, backup/svc, do-not-merge

#89020 Fix typo
  articles/azure-sql/managed-instance/authentication-azure-ad-user-assigned-managed-identity-create-managed-instance.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-managed-instance/svc

#89015 Fix typo
  articles/azure-sql/database/authentication-azure-ad-user-assigned-managed-identity-create-server.md
Labels: Change sent to author, sql-database/svc, do-not-merge, security/subsvc

#89014 Fix typo
  articles/azure-sql/database/authentication-azure-ad-only-authentication-create-server.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-db-mi/svc

#89013 Fix typo
  articles/azure-resource-manager/templates/deployment-script-template.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc

#89012 Fix typo
  articles/azure-resource-manager/bicep/deployment-script-bicep.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, bicep/subsvc

#89019 Fix typo
  articles/azure-sql/database/elastic-pool-manage.md
Labels: Change sent to author, sql-database/svc, do-not-merge, elastic-pools/subsvc

#89022 Fix typo
  articles/azure-web-pubsub/concept-performance.md
Labels: Change sent to author, do-not-merge, azure-web-pubsub/svc

#89021 Fix typo
  articles/azure-sql/managed-instance/user-initiated-failover.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, sql-managed-instance/svc

#89018 Fix typo
  articles/azure-sql/database/data-discovery-and-classification-overview.md
Labels: Change sent to author, do-not-merge, security/subsvc, sql-db-mi/svc

#89017 Fix typo
  articles/azure-sql/database/automatic-tuning-enable.md
Labels: Change sent to author, do-not-merge, performance/subsvc, sql-db-mi/svc

#89016 Fix typo
  articles/azure-sql/database/auto-failover-group-overview.md
Labels: Change sent to author, do-not-merge, high-availability/subsvc, sql-db-mi/svc

#89011 Fix typo
  articles/azure-monitor/app/ip-collection.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, application-insights/subsvc

#87963 Change to official name
  articles/aks/open-service-mesh-azure-monitor.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#88040 Updated sentence
  articles/active-directory-b2c/multi-factor-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#89027 Update overview.md
  articles/purview/overview.md
Labels: Change sent to author, do-not-merge, purview/svc

#88774 Update network-file-system-protocol-support-how-to.md
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#88535 Specified gremlinpython library version 3.4.13
  articles/cosmos-db/graph/create-graph-python.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-graph/subsvc, aq-pr-triaged

#88918 Correct Grammar on Sentence
  articles/sentinel/hunting.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-sentinel/svc, azure-sentinel/subsvc

#88981 fix wrong parameter for node.JS in Azure AD authentication for Application Insights
  articles/azure-monitor/app/azure-ad-authentication.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#88526 Fix code indention
  articles/storage/blobs/storage-blob-index-how-to.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#89054 Version Updated
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#89053 Version Updated
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged

#88711 [Doc update] Add TransactionType dimension to Storage transaction metrics
  includes/azure-storage-account-metrics-dimensions.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged

#89080 Removing typo
  articles/purview/catalog-permissions.md
Labels: Change sent to author, do-not-merge, purview/svc

#89028 Update concept-best-practices-glossary.md
  articles/purview/concept-best-practices-glossary.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-catalog/subsvc

#89083 Update howto-registration-mfa-sspr-combined.md
  articles/active-directory/authentication/howto-registration-mfa-sspr-combined.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc

#89090 Update storage-quickstart-tutorial-intro-include-powershell.md
  includes/storage-quickstart-tutorial-intro-include-powershell.md
Labels: Change sent to author, ready-to-merge, storage/svc

#89097 Correct location of Data Protection option
  articles/storage/blobs/soft-delete-blob-enable.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc

#88841 Updated to provide Graph PS examples instead of AAD
  articles/active-directory/external-identities/reset-redemption-status.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged

#88975 Update cloudknox-all-reports.md
  articles/active-directory/cloud-infrastructure-entitlement-management/cloudknox-all-reports.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, ciem/subsvc

#88297 Add additional information
  articles/communication-services/quickstarts/ui-library/includes/get-started-call/ios.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc

#89104 Updated CT languages
  articles/cognitive-services/Translator/language-support.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc, aq-pr-triaged

#89134 Update the date - typo
  articles/azure-monitor/agents/azure-monitor-agent-manage.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, agents/subsvc

#88910 Update managed-disks-ultra-disks-GA-scope-and-limitations.md
  includes/managed-disks-ultra-disks-GA-scope-and-limitations.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#89143 Update assign-local-admin.md
  articles/active-directory/devices/assign-local-admin.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc

#89119 Fix typo
  articles/backup/manage-azure-file-share-rest-api.md
Labels: Change sent to author, do-not-merge

#89120 Fix typo
  articles/backup/quick-backup-vm-template.md
Labels: Change sent to author, backup/svc, do-not-merge

#89121 Fix typo
  articles/backup/restore-azure-file-share-rest-api.md
Labels: Change sent to author, backup/svc, do-not-merge

#89122 Fix typo
  articles/cloud-services-extended-support/in-place-migration-technical-details.md
Labels: Change sent to author, ready-to-merge, cloud-services-extended-support/svc, classic-to-arm-migration/subsvc

#89133 Fix typo
  articles/hdinsight/interactive-query/interactive-query-troubleshoot-migrate-36-to-40.md
Labels: Change sent to author, hdinsight/svc, do-not-merge

#89130 Fix typo
  articles/hdinsight/hadoop/apache-hadoop-use-hive-curl.md
Labels: Change sent to author, hdinsight/svc, do-not-merge

#89132 Fix typo
  articles/hdinsight/hdinsight-release-notes-archive.md
Labels: Change sent to author, hdinsight/svc, do-not-merge

#89129 Fix typo
  articles/dms/migrate-mysql-to-azure-mysql-powershell.md
Labels: Change sent to author, dms/svc, do-not-merge

#89127 Fix typo
  articles/data-factory/control-flow-web-activity.md
Labels: Change sent to author, data-factory/svc, do-not-merge, orchestration/subsvc

#89126 Fix typo
  articles/cost-management-billing/costs/allocate-costs.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, cost-management/subsvc

#89125 Fix typo
  articles/cosmos-db/sql/defender-for-cosmos-db.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-sql/subsvc

#89123 Fix typo
  articles/cloud-services-extended-support/post-migration-changes.md
Labels: Change sent to author, do-not-merge, cloud-services-extended-support/svc, classic-to-arm-migration/subsvc

#89164 Grammatical updates to Transfer billing
  articles/cost-management-billing/manage/billing-subscription-transfer.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, billing/subsvc

#89064 Update mobile-center-quickstart.md
  articles/azure-monitor/app/mobile-center-quickstart.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#89191 Fix typo
  articles/healthcare-apis/azure-api-for-fhir/toc.yml
Labels: do-not-merge, review-team-triage

#89193 Fix typo
  articles/healthcare-apis/fhir/toc.yml
Labels: do-not-merge, review-team-triage

#89216 Update functions-identity-based-connections-tutorial.md
  articles/azure-functions/functions-identity-based-connections-tutorial.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, review-team-triage

#89199 Fix typo
  articles/network-watcher/network-watcher-nsg-auditing-powershell.md
Labels: Change sent to author, network-watcher/svc, do-not-merge

#89198 Fix typo
  articles/media-services/previous/postman-collection.md
Labels: Change sent to author, media-services/svc, do-not-merge, rest-v2/subsvc

#89197 Fix typo
  articles/media-services/latest/release-notes.md
Labels: Change sent to author, media-services/svc, do-not-merge, rest-v3/subsvc

#89196 Fix typo
  articles/media-services/latest/face-redaction-event-based-python-quickstart.md
Labels: Change sent to author, media-services/svc, do-not-merge, rest-v3/subsvc

#89195 Fix typo
  articles/machine-learning/how-to-access-data.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mldata/subsvc

#89194 Fix typo
  articles/healthcare-apis/iot/get-started-with-iot.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, fhir/subsvc

#89192 Fix typo
  articles/healthcare-apis/fhir/fhir-rest-api-capabilities.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, fhir/subsvc

#89190 Fix typo
  articles/healthcare-apis/azure-api-for-fhir/fhir-rest-api-capabilities.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, fhir/subsvc

#89189 Update iot-edge-certs.md
  articles/iot-edge/iot-edge-certs.md
Labels: Change sent to author, iot-edge/svc, do-not-merge

#89203 [Azure->Storage->Blobs->Lifecycle-management-overview] Explaining better a section that may cause some confusion.
  articles/storage/blobs/lifecycle-management-overview.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged

#89159 adding supported buffer types for messages
  articles/api-management/websocket-api.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged

#89283 Added link to custom domain docs
  articles/active-directory-b2c/protocols-overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, ATCP

#89287 Fix typo
  articles/service-bus-messaging/service-bus-geo-dr.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#89291 Fix typo
  articles/site-recovery/site-recovery-faq.yml
Labels: do-not-merge, review-team-triage

#89347 Corrected Spelling occured to occurred
  articles/applied-ai-services/immersive-reader/includes/quickstarts/immersive-reader-client-library-swift.md
Labels: Change sent to author, do-not-merge, immersive-reader/subsvc, applied-ai-services/svc

#89345 Corrected Spelling occured to occurred
  articles/batch/batch-js-get-started.md
Labels: Change sent to author, batch/svc, do-not-merge

#89348 Corrected spelling from occured to occurred
  articles/active-directory/develop/msal-net-web-browsers.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#89344 Corrected Spelling occured to occurred
  articles/defender-for-cloud/alerts-reference.md
Labels: Change sent to author, do-not-merge, defender-for-cloud/svc

#89341 typo
  articles/machine-learning/how-to-secure-training-vnet.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, enterprise-readiness/subsvc

#89305 Fix typo
  articles/site-recovery/vmware-azure-common-questions.md
Labels: Change sent to author, site-recovery/svc, do-not-merge

#89304 Fix typo
  articles/site-recovery/site-recovery-whats-new.md
Labels: Change sent to author, site-recovery/svc, do-not-merge

#89290 Fix typo
  articles/site-recovery/hyper-v-azure-common-questions.md
Labels: Change sent to author, site-recovery/svc, do-not-merge

#89307 Fix typo
  articles/synapse-analytics/partner/data-integration.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, sql-dw/subsvc

#89312 Fix typo
  articles/virtual-machines/user-data.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge

#89311 Fix typo
  articles/virtual-machines/how-to-enable-write-accelerator.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, disks/subsvc

#89289 Fix typo
  articles/service-fabric/service-fabric-diagnostics-events.md
Labels: Change sent to author, service-fabric/svc, do-not-merge

#89359 Just a small English grammar fix
  articles/mysql/flexible-server/concepts-slow-query-logs.md
Labels: Change sent to author, mysql/svc, do-not-merge

#89271 Fix typo
  articles/security/fundamentals/operational-security.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc

#89270 Fix typo
  articles/security/fundamentals/log-audit.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc

#89269 Fix typo
  articles/role-based-access-control/resource-provider-operations.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#89268 Fix typo
  articles/network-watcher/network-watcher-security-group-view-rest.md
Labels: Change sent to author, network-watcher/svc, do-not-merge

#89267 Fix typo
  articles/network-watcher/network-watcher-packet-capture-manage-rest.md
Labels: Change sent to author, network-watcher/svc, do-not-merge

#89274 remove redundant code
  articles/remote-rendering/tutorials/unity/view-remote-models/view-remote-models.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#89363 Update overview.md
  articles/confidential-ledger/overview.md
Labels: Change sent to author, do-not-merge, confidential-ledger/svc

#89362 Typo fix in Cosmos DB Free tier
  articles/cosmos-db/free-tier.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#89369 Update iot-hub-tls-support.md
  articles/iot-hub/iot-hub-tls-support.md
Labels: Change sent to author, ready-to-merge, iot-fundamentals/svc, aq-pr-triaged

#89201 Update howto-vm-sign-in-azure-ad-windows.md
  articles/active-directory/devices/howto-vm-sign-in-azure-ad-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#88859 Update private-link-design.md
  articles/azure-monitor/logs/private-link-design.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged

#89381 Fix typo
  articles/machine-learning/how-to-setup-authentication.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, enterprise-readiness/subsvc

#89406 Updated instructions to match current sample
  articles/active-directory-b2c/configure-authentication-sample-web-app-with-api.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, ATCP

#89327 Updated trademark links & fixed trailing space errors
  articles/cognitive-services/Bing-Web-Search/use-display-requirements.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, bing-web-search/subsvc, aq-pr-triaged

#89378 Fix typo
  articles/web-application-firewall/afds/waf-front-door-tuning.md
Labels: Change sent to author, do-not-merge, web-application-firewall/svc

#89380 Fix typo
  articles/communication-services/concepts/router/azure-function-rule-engine.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc

#89404 Update tutorial-enable-sspr-writeback.md
  articles/active-directory/authentication/tutorial-enable-sspr-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#89420 duplicated info below service level objective, adding extra spaces after the 2 paragraphs for visibility
  articles/synapse-analytics/sql/resource-consumption-models.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, sql/subsvc

#89396 update sentense about Powershell example.
  articles/application-gateway/key-vault-certs.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged

#89405 private container to private container registry
  articles/azure-functions/functions-create-function-linux-custom-image.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged

#89374 Update TXT record specification for accuracy
  articles/dns/dns-zones-records.md
Labels: Change sent to author, dns/svc, do-not-merge, aq-pr-triaged

#81085 adding the redeploy step to the action list
  articles/aks/node-auto-repair.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged

#88900 QOS tag section clarification
  articles/expressroute/expressroute-qos.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#88335 Update luis-reference-regions.md
  articles/cognitive-services/LUIS/luis-reference-regions.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-understanding/subsvc, aq-pr-triaged

#89221 Update join-teams-meeting.md
  articles/communication-services/concepts/join-teams-meeting.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, teams-interop/subsvc

#88867 Fix typo in `azure-functions`
  articles/azure-functions/functions-bindings-storage-blob.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#87658 fixing variable name missmatch (identityName)
  articles/virtual-machines/linux/image-builder-gallery.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, image-builder/subsvc

#89325 Update api-management-using-with-internal-vnet.md
  articles/api-management/api-management-using-with-internal-vnet.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged
