Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-06, with the labels that each got.

#93782 Fix grammar mistake
  articles/network-watcher/frequently-asked-questions.yml
Labels: Change sent to author, do-not-merge

#93781 Fix nested bulleted list appearance
  articles/network-watcher/network-watcher-nsg-flow-logging-overview.md
Labels: Change sent to author, network-watcher/svc, do-not-merge

#93466 Update block-legacy-authentication.md
  articles/active-directory/conditional-access/block-legacy-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged

#93799 Spacing changes
  articles/remote-rendering/quickstarts/convert-model.md
Labels: Change sent to author, do-not-merge, azure-remote-rendering/svc

#93668 add links for Single Server, Flexible Server and Hyperscale
  articles/postgresql/single-server/overview-single-server.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, single-server/subsvc

#93826 Update how-to-investigate-all-enterprise-sensor-detections-in-a-devic…
  articles/defender-for-iot/organizations/how-to-investigate-all-enterprise-sensor-detections-in-a-device-inventory.md
Labels: Change sent to author, ready-to-merge, defender-for-iot/svc

#93808 Update tutorial-manage-certificates-for-federated-single-sign-on.md
  articles/active-directory/manage-apps/tutorial-manage-certificates-for-federated-single-sign-on.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged

#93805 Update onboard-ansible-playbooks.md
  articles/azure-arc/servers/onboard-ansible-playbooks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc

#93768 Update FAQ
  articles/azure-video-indexer/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#89731 Fix typo
  articles/synapse-analytics/data-explorer/kusto-query-language/toc.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#93698 Fix method names in Restrictions on entity interfaces
  articles/azure-functions/durable/durable-functions-dotnet-entities.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc

#93560 Installed the twilio and wasted two days on it
  articles/azure-functions/durable/durable-functions-phone-verification.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc

#93890 Update WNS configuration settings
  articles/notification-hubs/notification-hubs-windows-store-dotnet-get-started-wns-push-notification.md
Labels: Change sent to author, ready-to-merge, notification-hubs/svc

#93691 Rust FaaS example always returns 404 when deployed. create-first-function-vs-code-other.md
  articles/azure-functions/create-first-function-vs-code-other.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#91358 Update azure-vmware-solution-horizon.md
  articles/azure-vmware/azure-vmware-solution-horizon.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#91362 Update rotate-cloudadmin-credentials.md
  articles/azure-vmware/rotate-cloudadmin-credentials.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#91369 Update vrealize-operations-for-azure-vmware-solution.md
  articles/azure-vmware/vrealize-operations-for-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#91353 Update deploy-arc-for-azure-vmware-solution.md
  articles/azure-vmware/deploy-arc-for-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#91360 Update move-azure-vmware-solution-across-regions.md
  articles/azure-vmware/move-azure-vmware-solution-across-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#91356 Update disaster-recovery-using-vmware-site-recovery-manager.md
  articles/azure-vmware/disaster-recovery-using-vmware-site-recovery-manager.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#91370 Update deploy-vm-content-library.md
  articles/azure-vmware/deploy-vm-content-library.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#93893 Fix a punctuation typo
  articles/cognitive-services/language-service/question-answering/concepts/plan.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#93911 Update faqs.md
  articles/active-directory/cloud-infrastructure-entitlement-management/faqs.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#93874 fix node tokenRequest object example
  articles/active-directory/develop/scenario-desktop-acquire-token.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged

#93975 Small markdown link typo
  articles/virtual-machines/linux/n-series-driver-setup.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, vm-sizes-gpu/subsvc

#93308 changed link to Azure portal integrated AVD templates
  articles/virtual-desktop/TOC.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#90605 (Azure CXP Team) resolves MicrosoftDocs/azure-docs#90292
  articles/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sap/svc

#93016 Add missing path separator
  articles/virtual-machines/extensions/key-vault-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, extensions/subsvc

#92977 zip files are available in release assets, changed old reference.
  articles/virtual-machines/extensions/update-linux-agent.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, extensions/subsvc

#93962 changes quotation marks for copy+pasting code
  articles/active-directory/fundamentals/security-operations-devices.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#93196 Update override-sku.md
  articles/cloud-services-extended-support/override-sku.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cloud-services-extended-support/svc

#93960 Correct HBv3 frequency
  articles/virtual-machines/sizes-hpc.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc

#87762 Update Documentation verbiage
  includes/virtual-machines-share-images-across-tenants.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#87434 Start/Redeploy commands Update co-location.md
  articles/virtual-machines/co-location.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, proximity-placement-groups/subsvc

#90599 Update ssh-from-windows.md
  articles/virtual-machines/linux/ssh-from-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#93983 Update groups-dynamic-rule-more-efficient.md
  articles/active-directory/enterprise-users/groups-dynamic-rule-more-efficient.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, enterprise-users/subsvc

#93927 Fix mismatch step and figure
  articles/active-directory/fundamentals/active-directory-access-create-new-tenant.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged

#90910 Dasv4-series and nested virtualization
  articles/virtual-machines/dav4-dasv4-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc, vm-sizes-general/subsvc

#93888 Clarify behavior when multiple items.id regex match same module
  articles/iot-edge/how-to-retrieve-iot-edge-logs.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#93870 Changing PolicySetDefinition Name Limit
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged

#94005 Fix links in KEDA add-on documentation
  articles/aks/keda-integrations.md
Labels: Change sent to author, ready-to-merge, container-service/svc

#94031 Adding link to Microsoft's lacat
  articles/sentinel/migration-arcsight-historical-data.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#94036 Updated client log path for the Guest Configuration Windows agent
  articles/governance/policy/concepts/guest-configuration.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged

#93948 Replace examples with valid words
  articles/cognitive-services/language-service/question-answering/tutorials/adding-synonyms.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#94040 Update reference-connect-sync-attributes-synchronized.md
  articles/active-directory/hybrid/reference-connect-sync-attributes-synchronized.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#92949 Update concepts-baremetal-infrastructure-overview.md
  articles/baremetal-infrastructure/concepts-baremetal-infrastructure-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, baremetal-infrastructure/svc

#92544 Update sql-data-warehouse-tables-partition.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-partition.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc

#93699 Fix typo and use the KV URL of the certificate
  articles/aks/web-app-routing.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged

#94055 Update send-email-net.md
  articles/communication-services/quickstarts/email/includes/send-email-net.md
Labels: Change sent to author, ready-to-merge, azure-communication-services/svc

#94087 Fix typo in overview.md
  articles/active-directory/managed-identities-azure-resources/overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#93981 Update messaging-policy.md
  articles/communication-services/concepts/sms/messaging-policy.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc

#92423 Update sql-data-warehouse-manage-monitor_Rewrite_waitSentence.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc

#92425 Update sql-data-warehouse-manage-monitor_improve_blocking_query_lilem.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc

#94094 Removing clause on Bayesian early termination
  articles/machine-learning/how-to-tune-hyperparameters.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc

#94102 minor changes to fix spelling errors
  articles/cognitive-services/Computer-vision/language-support.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, computer-vision/subsvc

#94104 Update csharp.md
  articles/applied-ai-services/form-recognizer/includes/get-started/csharp.md
Labels: Change sent to author, ready-to-merge, forms-recognizer/subsvc, applied-ai-services/svc

#94064 Add compute to tutorial
  articles/machine-learning/how-to-use-batch-endpoint-sdk-v2.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc

#94062 Pass in "input" to the invoke method.
  articles/machine-learning/how-to-use-batch-endpoint-sdk-v2.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc

#93502 Fix error in PowerShell script, ObjectId parameter should be Id
  articles/active-directory/managed-identities-azure-resources/how-to-assign-app-role-managed-identity-powershell.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, msi/subsvc, aq-pr-triaged

#94111 Update deploy.md
  articles/azure-functions/start-stop-vms/deploy.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, start-stop-vms/subsvc

#94009 remove outdated "preview" from node 16
  articles/azure-functions/functions-reference-node.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#94118 Update manage.md for GA
  articles/azure-functions/start-stop-vms/manage.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, start-stop-vms/subsvc

#94109 Update overview.md
  articles/azure-functions/start-stop-vms/overview.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, start-stop-vms/subsvc

#94119 Update remove.md for GA
  articles/azure-functions/start-stop-vms/remove.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, start-stop-vms/subsvc

#94120 Update troubleshoot.md for GA
  articles/azure-functions/start-stop-vms/troubleshoot.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, start-stop-vms/subsvc

#94137 Update odrv-download.md
  articles/azure-video-indexer/odrv-download.md
Labels: Change sent to author, ready-to-merge, azure-video-indexer/svc

#94142 update order of MITRE tactics
  articles/defender-for-cloud/alerts-reference.md
Labels: Change sent to author, ready-to-merge, defender-for-cloud/svc

#94161 Updated the curl command
  articles/cognitive-services/language-service/question-answering/how-to/authoring.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-service/subsvc

#94173 fix: remove duplicate row in table from Workflow action article
  articles/logic-apps/logic-apps-workflow-actions-triggers.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc

#94122 Update supporting offer type
  articles/cost-management-billing/manage/consumption-api-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc

#89073 Updated based on the new updates.
  articles/sentinel/sentinel-solutions-catalog.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#94084 Change to Absolute Path in Line 112
  articles/active-directory/authentication/howto-mfa-nps-extension-errors.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#94106 Update Max Web Socket Connections
  includes/api-management-service-limits.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged

#94221 Update groups-dynamic-rule-member-of.md
  articles/active-directory/enterprise-users/groups-dynamic-rule-member-of.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc

#94220 Update sql-data-warehouse-tables-overview.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc

#94198 Added extra unsupported scenario for geo-replication
  articles/azure-cache-for-redis/cache-how-to-geo-replication.md
Labels: Change sent to author, ready-to-merge, cache/svc, aq-pr-triaged

#94139 add azureml-fe tsg for kubernetes online endpoint
  articles/machine-learning/how-to-troubleshoot-online-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#94233 Move and highlight the PIPOnNSXEnabled requirement
  articles/azure-vmware/enable-public-ip-nsx-edge.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#94287 Added reference to glTF
  articles/digital-twins/quickstart-3d-scenes-studio.md
Labels: Change sent to author, ready-to-merge, digital-twins/svc

#94251 Update overview.md
  articles/active-directory/managed-identities-azure-resources/overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#94269 Fixed typo
  articles/cost-management-billing/manage/create-subscription.md
Labels: Change sent to author, ready-to-merge, cost-management-billing/svc, billing/subsvc

#94243 Update storage-use-azcopy-troubleshoot.md
  articles/storage/common/storage-use-azcopy-troubleshoot.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged

#84441 ACU misnomer
  articles/cloud-services-extended-support/available-sizes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cloud-services-extended-support/svc

#94308 adding 3 more error codes
  articles/iot-dps/how-to-troubleshoot-dps.md
Labels: Change sent to author, ready-to-merge, iot-dps/svc

#93340 Update application-proxy-configure-custom-domain.md
  articles/active-directory/app-proxy/application-proxy-configure-custom-domain.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, app-proxy/subsvc

#93339 Update application-proxy-faq.yml
  articles/active-directory/app-proxy/application-proxy-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#91810 Update ebdsv5-ebsv5-series.md
  articles/virtual-machines/ebdsv5-ebsv5-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc

#83799 Updated the name of cluster tuning parameter
  articles/virtual-machines/workloads/sap/sap-high-availability-infrastructure-wsfc-shared-disk.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, virtual-machines-sap/svc

#93789 Update configure-azure-oci-networking.md
  articles/virtual-machines/workloads/oracle/configure-azure-oci-networking.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, oracle/subsvc

#94318 Update concepts-data-flow-performance-pipelines.md
  articles/data-factory/concepts-data-flow-performance-pipelines.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-flows/subsvc

#94317 [Cosmos] Update how-to-setup-rbac.md
  articles/cosmos-db/how-to-setup-rbac.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge

#89806 Update access-reviews-external-users.md
  articles/active-directory/governance/access-reviews-external-users.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged

#94327 Fix merge conflict
  articles/applied-ai-services/form-recognizer/quickstarts/try-v3-rest-api.md
Labels: Change sent to author, do-not-merge, forms-recognizer/subsvc, applied-ai-services/svc

#94334 Update unique-keys.md
  articles/cosmos-db/unique-keys.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, cosmosdb-sql/subsvc

#94342 Typo "Azure bastion"→"Azure Bastion"
  articles/virtual-network/ip-services/configure-public-ip-bastion.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, ip-services/subsvc

#94336 Update network-file-system-protocol-support-performance.md
  articles/storage/blobs/network-file-system-protocol-support-performance.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#93996 New WAD release 1.21.0.0
  articles/azure-monitor/agents/diagnostics-extension-versions.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc

#93967 Add template samples for Azure Data Explorer diagnostic logs
  articles/azure-monitor/essentials/resource-manager-diagnostic-settings.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc

#94295 Update data-collection-rule-azure-monitor-agent.md
  articles/azure-monitor/agents/data-collection-rule-azure-monitor-agent.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc

#94268 Update activity-log-schema.md
  articles/azure-monitor/essentials/activity-log-schema.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc

#94416 Update cheat-sheet.md
  articles/synapse-analytics/sql-data-warehouse/cheat-sheet.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, sql-dw/subsvc

#94409 Typo "Azure bastion"→"Azure Bastion"
  articles/virtual-machines/workloads/sap/automation-configure-control-plane.md
Labels: Change sent to author, do-not-merge, virtual-machines-sap/svc

#94408 Update publish-managed-identity.md
  articles/azure-resource-manager/managed-applications/publish-managed-identity.md
Labels: Change sent to author, managed-applications/svc, do-not-merge, ATCP

#94239 Invalid example json - missing comma
  articles/active-directory-b2c/add-api-connector.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#94431 Added focus to ANF datastores for AVS
  articles/azure-vmware/concepts-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#94430 Update link to the new DICOM CORS article
  articles/healthcare-apis/release-notes.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged, fhir/subsvc

#94394 Update how-to-auto-train-nlp-models.md
  articles/machine-learning/how-to-auto-train-nlp-models.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, automl/subsvc

#94453 updated supported regions list
  articles/azure-vmware/attach-azure-netapp-files-to-azure-vmware-solution-hosts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#94456 Updated Note quick-create-simulated-device-x509.md
  articles/iot-dps/quick-create-simulated-device-x509.md
Labels: Change sent to author, ready-to-merge, iot-dps/svc

#94469 Fixing FOTT link to reference release page
  articles/applied-ai-services/form-recognizer/containers/form-recognizer-container-install-run.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, forms-recognizer/subsvc, applied-ai-services/svc

#94508 Formatting of PowerShell cmdlets and parameters
  articles/expressroute/expressroute-about-virtual-network-gateways.md
Labels: Change sent to author, ready-to-merge, expressroute/svc

#94463 Update how-to-use-java.md
  articles/cosmos-db/table/how-to-use-java.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-table/subsvc, aq-pr-triaged

#94529 Fix Typo service-bus-to-event-grid-integration-function.md
  articles/service-bus-messaging/service-bus-to-event-grid-integration-function.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc

#94553 Fix typo
  articles/iot-fundamentals/iot-solution-apaas-paas.md
Labels: Change sent to author, ready-to-merge, iot-fundamentals/svc

#89738 Update container-instances-update.md
  articles/container-instances/container-instances-update.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, aq-pr-triaged

#94501 Update analysis-services-network-faq.yml
  articles/analysis-services/analysis-services-network-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#91774 Add instructions on how to start/download WebPI
  articles/service-fabric/service-fabric-get-started.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged

#94513 Update resource-name-rules.md
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged

#94564 Update scenario-spa-production.md
  articles/active-directory/develop/scenario-spa-production.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc

#94568 Reflect the validity of py3.9
  articles/azure-functions/recover-python-functions.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#94597 Adding --SKU to the sample command
  articles/app-service/how-to-zone-redundancy.md
Labels: Change sent to author, ready-to-merge, app-service/svc

#94573 Fix typo on overview.md
  articles/active-directory/managed-identities-azure-resources/overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, msi/subsvc

#94606 Fixed typo
  articles/application-gateway/certificates-for-backend-authentication.md
Labels: Change sent to author, application-gateway/svc, do-not-merge

#94628 Updated wording in the Private Link section
  articles/data-factory/data-access-strategies.md
Labels: Change sent to author, data-factory/svc, do-not-merge, integration-runtime/subsvc

#94577 Typo "[GitHub Action]"→"[GitHub Actions]"
  articles/governance/policy/tutorials/policy-as-code-github.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged

#94592 Small Typo in Assign Role
  articles/azure-resource-manager/bicep/deploy-to-tenant.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc

#94340 Update reference-connect-adsynctools.md
  articles/active-directory/hybrid/reference-connect-adsynctools.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#94585 Update disks-pools-deploy.md
  articles/virtual-machines/disks-pools-deploy.md
Labels: Change sent to author, ready-to-merge, storage/svc, disks/subsvc, aq-pr-triaged

#94051 Update cognitive-services-container-support.md
  articles/cognitive-services/cognitive-services-container-support.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged

#94638 Update cluster-configuration.md
  articles/aks/cluster-configuration.md
Labels: Change sent to author, do-not-merge

#94681 Update overview-iot-central-developer.md
  articles/iot-central/core/overview-iot-central-developer.md
Labels: Change sent to author, do-not-merge, iot-central/svc

#94652 [Documentation] Update the sample to use GA version
  articles/communication-services/quickstarts/ui-library/includes/get-started-call/ios.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc

#94688 Update Packer AAD SP Creation PowerShell Commands
  articles/virtual-machines/windows/build-image-with-packer.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, imaging/subsvc

#94667 Added clarity around UAA for tenant level
  articles/cost-management-billing/reservations/view-reservations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc

#94674 Update pricing tier limits tables
  includes/azure-monitor-limits-workspaces.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#94391 Update Release notes for 1.0.6
  articles/azure-sql-edge/release-notes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-edge/svc

#91730 VNET is now supported for Azure Image Builder DevOps task
  articles/virtual-machines/linux/image-builder-devops-task.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, image-builder/subsvc

#94284 Update Sentinel URL's from Azure to Microsoft Sentinel in the "Commen…
  articles/sentinel/resources.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#94533 Edited the SDL reference
  articles/active-directory/develop/reference-v2-libraries.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#94627 NDVALPHA-UPDATED-HYPERV-HOST-REGISTRATION
  articles/migrate/tutorial-migrate-hyper-v.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged

#94721 Under the "Explore models and metrics", the last paragraph contains t…
  articles/machine-learning/how-to-configure-auto-train.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, automl/subsvc

#94722 Updated the misspelled
  articles/machine-learning/how-to-configure-auto-train.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, automl/subsvc

#94739 Fix typo in encryption (was encrpytion)
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, app-service/svc, do-not-merge

#93845 Correct loglevel description
  articles/iot-edge/how-to-retrieve-iot-edge-logs.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged

#94395 fix missing commas for json formatting
  articles/marketplace/partner-center-portal/pc-saas-fulfillment-subscription-api.md
Labels: Change sent to author, ready-to-merge, marketplace/svc, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc

#94741 added verbiage to sizing down a pool
  articles/azure-netapp-files/azure-netapp-files-resize-capacity-pools-or-volumes.md
Labels: Change sent to author, do-not-merge, azure-netapp-files/svc, aq-pr-triaged

#94636 Correct typo
  articles/active-directory-b2c/configure-authentication-sample-spa-app.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#94301 Added missing session manager to embedded password reset
  articles/active-directory-b2c/add-password-reset-policy.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP

#94797 Update data-formats.md
  articles/cognitive-services/language-service/conversational-language-understanding/concepts/data-formats.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#94815 Added note for delay in updates for feedback added
  articles/cognitive-services/language-service/question-answering/tutorials/active-learning.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, language-service/subsvc
