Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-07, with the labels that each got.

#95154 added a missing preposition
  articles/iot-hub/tutorial-routing.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc

#95143 (AzureCXP) fixes MicrosoftDocs/azure-docs#94939
  articles/virtual-machines/trusted-launch.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, trusted-launch/subsvc

#95169 add a new space between two words.
  articles/app-service/manage-backup.md
Labels: Change sent to author, app-service/svc, do-not-merge

#95188 Update how-to-gmsa-cmdlets.md
  articles/active-directory/cloud-sync/how-to-gmsa-cmdlets.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#95194 Update hosts-minimum-initial-deployment-statement.md
  articles/azure-vmware/includes/hosts-minimum-initial-deployment-statement.md
Labels: Change sent to author, ready-to-merge, azure-vmware/svc

#93121 Update github-actions-cli.md
  articles/container-apps/github-actions-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#93472 Update get-started-existing-container-image.md
  articles/container-apps/get-started-existing-container-image.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#93814 Updates for Azure Spring Apps rebranding
  articles/container-apps/compare-options.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#93831 Update javascript code sample
  articles/static-web-apps/user-information.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#93865 Update microservices.md
  articles/container-apps/microservices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#94125 Update github-actions-cli.md
  articles/container-apps/github-actions-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#94562 fix comment on java version
  articles/azure-functions/functions-how-to-github-actions.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#94630 missing "properties" in bash/PS1 query examples
  articles/container-apps/vnet-custom-internal.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#94642 Added missing index item for ACA
  articles/container-apps/compare-options.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#94972 Minor wording change 'web app' --> 'container app'
  articles/static-web-apps/apis-container-apps.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#95000 Fix typo CDIR -> CIDR
  articles/container-apps/vnet-custom.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#95117 Update apis-app-service.md
  articles/static-web-apps/apis-app-service.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#95116 Important note on prerequisite to pull images from ACR into ACA
  articles/container-apps/containers.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#95168 Update private-link-service-overview.md
  articles/private-link/private-link-service-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc

#95268 removed ref to video on azure.microsoft.com site
  articles/app-service/environment/using-an-ase.md
Labels: Change sent to author, ready-to-merge, app-service/svc

#95258 Fix typo
  articles/cognitive-services/language-service/conversational-language-understanding/how-to/create-project.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, language-service/subsvc

#95259 Fix typo
  articles/cognitive-services/language-service/custom-named-entity-recognition/how-to/create-project.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, language-service/subsvc

#95260 Fix typo
  articles/cognitive-services/language-service/custom-text-classification/how-to/create-project.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, language-service/subsvc

#95261 Fix typo
  articles/cognitive-services/language-service/orchestration-workflow/how-to/create-project.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, language-service/subsvc

#95262 Fix typo
  articles/virtual-machines/workloads/sap/sap-rise-integration.md
Labels: Change sent to author, do-not-merge, virtual-machines-sap/svc

#95199 Fix URL link
  articles/azure-monitor/logs/logs-export-logic-app.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged

#95292 Update expressroute-faqs.md
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, ready-to-merge, expressroute/svc

#95289 Syntax correction in line #170
  articles/azure-resource-manager/bicep/data-types.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc

#95241 Link correction for Bicep examples
  articles/azure-resource-manager/bicep/overview.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc

#95098 Update dacpac deployment instructions to handle automatic starting streaming jobs
  articles/azure-sql-edge/deploy-dacpac.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql-edge/svc

#95290 Update cache-best-practices-memory-management.md
  articles/azure-cache-for-redis/cache-best-practices-memory-management.md
Labels: Change sent to author, ready-to-merge, cache/svc

#95099 Update streaming doc with troubleshooting information
  articles/azure-sql-edge/create-stream-analytics-job.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql-edge/svc

#95077 Adding note about the supported input output options
  articles/azure-sql-edge/create-external-stream-transact-sql.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql-edge/svc

#95142 Include instructions to clone repository
  articles/machine-learning/how-to-use-batch-endpoint-sdk-v2.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc

#95284 removing a Dynamics 365 license (duplicate) Fixes #95283
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#95293 Fixing 3 typos (spaces missing or superfluous)
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc

#95312 Update article to improve SEO, per feedback
  articles/active-directory/manage-apps/f5-big-ip-oracle-jde-easy-button.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc

#93032 Fix typo
  articles/cognitive-services/cognitive-services-development-options.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged

#93853 Update whats-new.md
  articles/cognitive-services/Custom-Vision-Service/whats-new.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, custom-vision/subsvc, aq-pr-triaged

#94940 Update networking.md
  articles/container-apps/networking.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#94422 Update concepts-data-factory-differences.md
  articles/synapse-analytics/data-integration/concepts-data-factory-differences.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, pipeline/subsvc

#95309 Update expressroute-optimize-routing.md
  articles/expressroute/expressroute-optimize-routing.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged

#95149 Remove duplicate Front Door header info
  articles/frontdoor/front-door-http-headers-protocol.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged

#94991 fix: corrected Cloudflare to Akamai
  articles/active-directory-b2c/partner-akamai.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#95020 Update clustering-point-data-web-sdk.md
  articles/azure-maps/clustering-point-data-web-sdk.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged

#92616 Fix typo
  articles/cognitive-services/Bing-Video-Search/tutorial-bing-video-search-single-page-app.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, bing-video-search/subsvc

#95049 Update confidential ledger authentication section
  articles/confidential-ledger/authenticate-ledger-nodes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, confidential-ledger/svc

#89743 Update recovery instructions
  articles/key-vault/general/key-vault-recovery.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, general/subsvc

#88041 Removed Cloud Shell reference
  articles/key-vault/general/quick-create-portal.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, general/subsvc

#94780 Correct statement about when `location` is present
  articles/azure-resource-manager/bicep/bicep-functions-deployment.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc

#94613 Added missing word
  articles/azure-monitor/best-practices-cost.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, general/subsvc

#95024 Removing dmsfeedback alias reference.
  articles/dms/tutorial-sql-server-to-azure-sql.md
Labels: Change sent to author, ready-to-merge, dms/svc, aq-pr-triaged

#94732 Update assign-roles-microsoft-graph.md
  articles/static-web-apps/assign-roles-microsoft-graph.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#93875 docs(static-web-apps): build-configuration.md
  articles/static-web-apps/build-configuration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc

#91991 Fix cloud service dotnet install script
  articles/cloud-services/cloud-services-dotnet-install-dotnet.md
Labels: Change sent to author, ready-to-merge, cloud-services/svc, aq-pr-triaged

#94745 Fixing SAS Token variable for Azure Databricks Example
  articles/open-datasets/dataset-taxi-yellow.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, open-datasets/svc

#94205 "all_files_same_headers" not "all_files_have_same_headers"
  articles/machine-learning/concept-data.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc

#89371 Added pod update command for macOS Monterey
  articles/spatial-anchors/quickstarts/get-started-ios.md
Labels: Change sent to author, ready-to-merge, azure-spatial-anchors/svc, aq-pr-triaged

#89592 Update DNS exfiltration NSG definition
  articles/virtual-network/what-is-ip-address-168-63-129-16.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged

#94371 Update ServicePrincipleSignInLogs to ServicePrincipalSignInLogs
  articles/active-directory/reports-monitoring/howto-integrate-activity-logs-with-log-analytics.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, report-monitor/subsvc, aq-pr-triaged

#95334 Fix typo
  articles/cognitive-services/bing-visual-search/overview.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, bing-visual-search/subsvc

#95333 Fix typo
  articles/cognitive-services/bing-visual-search/default-insights-tag.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, bing-visual-search/subsvc

#95332 Fix typo
  articles/cognitive-services/bing-visual-search/bing-insights-usage.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, bing-visual-search/subsvc

#95331 Fix typo
  articles/cognitive-services/Speech-Service/includes/release-notes/release-notes-sdk.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, speech-service/subsvc

#95358 fixed typo
  articles/iot-hub/iot-hub-devguide-direct-methods.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#92533 Use correct pytorch-env.yml filename instead of pytorch-aml-env.yml
  articles/machine-learning/tutorial-1st-experiment-sdk-train.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged

#95343 Replace usage of "expr length $var" with ${#var} for string length
  articles/storage/files/storage-how-to-use-files-linux.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged

#95348 x5t claim is base64-encoded not base64url-encoded
  articles/active-directory/develop/active-directory-certificate-credentials.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#93877 fix command to show public IP address in Oracle quick create
  articles/virtual-machines/workloads/oracle/oracle-database-quick-create.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, oracle/subsvc

#91287 fix: error in calculation of precision recall f1
  articles/cognitive-services/language-service/custom-named-entity-recognition/concepts/evaluation-metrics.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc

#94965 Update Azure samples links.
  articles/cognitive-services/Anomaly-Detector/toc.yml
Labels: Change sent to author, cognitive-services/svc, do-not-merge, anomaly-detector/subsvc, aq-pr-triaged

#93010 docs(aad-registered): clarify workplace joined term
  articles/active-directory/devices/concept-azure-ad-register.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#90932 Update howto-hybrid-join-downlevel.md
  articles/active-directory/devices/howto-hybrid-join-downlevel.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged

#95391 Remove accidental inclusion of 'git status'
  articles/azure-vmware/enable-public-ip-nsx-edge.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#94927 Fix copy paste error in description
  articles/postgresql/single-server/overview.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, single-server/subsvc

#95178 Fixed instructions to enable DfC solution in LAWS
  articles/defender-for-cloud/enable-data-collection.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#93644 Add note on required body content.
  articles/azure-functions/functions-manually-run-non-http.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#95434 Update how-to-view-associated-resources-for-an-identity.md
  articles/active-directory/managed-identities-azure-resources/how-to-view-associated-resources-for-an-identity.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, msi/subsvc

#95206 Update supported-machines-endpoint-solutions-clouds-servers.md
  articles/defender-for-cloud/supported-machines-endpoint-solutions-clouds-servers.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#95404 Fix typo
  articles/cosmos-db/table/create-table-java.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, cosmosdb-table/subsvc

#95406 Fix typo
  articles/mysql/single-server/sample-scripts-java-connection-pooling.md
Labels: Change sent to author, mysql/svc, do-not-merge, single-server/subsvc

#95407 Fix typo
  articles/postgresql/hyperscale/howto-app-stacks-java.md
Labels: Change sent to author, postgresql/svc, do-not-merge, hyperscale-citus/subsvc

#95408 Fix typo
  articles/web-application-firewall/afds/waf-front-door-drs.md
Labels: Change sent to author, do-not-merge, web-application-firewall/svc

#95405 Fix typo
  articles/hdinsight/hdinsight-release-notes-archive.md
Labels: Change sent to author, hdinsight/svc, do-not-merge

#95428 Update of Liquid Telecom website URL
  articles/expressroute/expressroute-locations.md
Labels: Change sent to author, ready-to-merge, expressroute/svc

#95380 Update availability-overview.md
  articles/azure-monitor/app/availability-overview.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#95444 Add missing '\' in multi-line command
  articles/spring-cloud/quickstart-deploy-apps-enterprise.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, spring-cloud/svc

#95420 Update commercial-marketplace-lead-management-instructions-azure-tabl…
  articles/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-azure-table.md
Labels: Change sent to author, ready-to-merge, marketplace/svc, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc, docs-editor-pilot

#95424 Fix #95423 : adjusting file name in sample data
  articles/storage/blobs/blob-inventory.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged

#95454 "You must have" prefix was on 1 of 2 prerequisites
  articles/defender-for-cloud/quickstart-enable-database-protections.md
Labels: Change sent to author, do-not-merge

#95473 Update register-scan-power-bi-tenant.md
  articles/purview/register-scan-power-bi-tenant.md
Labels: Change sent to author, do-not-merge, purview/svc, purview-data-map/subsvc

#95395 Include Model Status Code Dimension
  articles/machine-learning/how-to-troubleshoot-online-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#95278 Clarify the object id required for Cosmos RBAC auth
  articles/cosmos-db/how-to-setup-rbac.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged

#95469 Update monitor-web-app-availability.md
  articles/azure-monitor/app/monitor-web-app-availability.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#94786 NDVALPHA-UPDATED-VMWARE-VDDK-LOCATION
  articles/migrate/tutorial-discover-vmware.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#95494 update message size limitation.
  articles/azure-signalr/signalr-concept-messages-and-connections.md
Labels: Change sent to author, ready-to-merge, signalr/svc

#94883 NDVALPHA-ADDED-IMPORTANT-NOTE-ON-VNET-CREATION
  articles/migrate/tutorial-migrate-physical-virtual-machines.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged

#94867 Added missing rules under General OWASP 3.2
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc

#94374 Update redemption-experience.md
  articles/active-directory/external-identities/redemption-experience.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged

#94665 Update b2b-direct-connect-overview.md
  articles/active-directory/external-identities/b2b-direct-connect-overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged

#95516 LINX, Converge, Telstra
  articles/peering-service/location-partners.md
Labels: Change sent to author, do-not-merge, peering-service/svc

#95527 Fix typo
  articles/azure-fluid-relay/how-tos/azure-function-token-provider.md
Labels: Change sent to author, do-not-merge, azure-fluid/svc

#95530 Link to FluidFramework API docs
  articles/azure-fluid-relay/how-tos/deploy-fluid-static-web-apps.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-fluid/svc

#95495 Fixed a non existing variable for resourcegroup
  articles/virtual-machines/trusted-launch-portal.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, trusted-launch/subsvc

#95553 Fixed wrong partition key format for ARM and Bicep
  articles/cosmos-db/hierarchical-partition-keys.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc

#95579 Fix typo on supported-azure-ad-features.md
  articles/active-directory-b2c/supported-azure-ad-features.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc

#95539 Update hdinsight-use-availability-zones.md
  articles/hdinsight/hdinsight-use-availability-zones.md
Labels: Change sent to author, hdinsight/svc, do-not-merge, aq-pr-triaged

#95608 Update faqs.md
  articles/active-directory/cloud-infrastructure-entitlement-management/faqs.md
Labels: Change sent to author, ready-to-merge, ciem/svc

#94731 Update image-builder.md
  articles/virtual-machines/windows/image-builder.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, image-builder/subsvc

#93587 Update point-to-site-about.md
  articles/vpn-gateway/point-to-site-about.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged

#95611 Update normalization-modify-content.md
  articles/sentinel/normalization-modify-content.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#94704 Update vm-naming-conventions.md
  articles/virtual-machines/vm-naming-conventions.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged

#94788 Corrected connection create for postgres-flexible
  articles/service-connector/tutorial-django-webapp-postgres-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, service-connector/svc

#95647 Update reference-connect-adconnectivitytools.md
  articles/active-directory/hybrid/reference-connect-adconnectivitytools.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc

#95639 Update road-to-the-cloud-implement.md
  articles/active-directory/fundamentals/road-to-the-cloud-implement.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc

#95638 fixed typo
  articles/active-directory-b2c/validation-technical-profile.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged

#94962 Add better support for zsh and bash
  articles/confidential-computing/virtual-machine-solutions-amd.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, confidential-computing/subsvc

#95582 AzureMonitorTraceExporter
  articles/azure-monitor/app/opentelemetry-enable.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#95490 Service tag direction consistency
  articles/virtual-network/service-tags-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged

#95677 Expanded what CORS stands for
  articles/digital-twins/concepts-3d-scenes-studio.md
Labels: Change sent to author, ready-to-merge, digital-twins/svc

#95676 Update concept-github-action.md
  articles/azure-app-configuration/concept-github-action.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged

#95472 Update virtual-machine-scale-sets-automatic-upgrade.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, automatic-os-upgrade/subsvc

#89792 Fix Application Gateway IP Config documentation
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, aq-pr-triaged

#95390 Update versions and links for ADS extensions
  articles/azure-arc/data/includes/azure-arc-data-preview-release.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-arc/svc

#95538 Fix typo ArmTemplateParameters_master.json
  articles/data-factory/deploy-linked-arm-templates-with-vsts.md
Labels: Change sent to author, data-factory/svc, do-not-merge, aq-pr-triaged

#95640 Update create-new-resource.md
  articles/azure-monitor/app/create-new-resource.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#92618 Update documentation to reflect Managed Identity parameters when used with Azure App Configuration
  articles/azure-functions/functions-identity-based-connections-tutorial-2.md
  articles/azure-functions/functions-reference.md
  includes/functions-event-hubs-connections.md
  includes/functions-service-bus-connections.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#95683 Update to new link
  articles/blockchain/workbench/includes/retire.md
Labels: Change sent to author, ready-to-merge, azure-blockchain/svc

#95705 Fix "search sapce" typo
  articles/machine-learning/how-to-use-sweep-in-pipeline.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc

#95710 Update HCX version and doc URL
  articles/azure-vmware/includes/vmware-software-versions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#95507 Update azure-vmware-solution-platform-updates.md
  articles/azure-vmware/azure-vmware-solution-platform-updates.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#94019 Changes in the per-machine installation paths
  articles/virtual-desktop/teams-on-avd.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#94622 Update azure-app-configuration-role-assignment.md
  includes/azure-app-configuration-role-assignment.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged

#95715 Update PowerShell Command for Function App Creation
  articles/azure-functions/create-first-function-cli-powershell.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc

#95707 Update how-to-use-mlflow-cli-runs.md
  articles/machine-learning/how-to-use-mlflow-cli-runs.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#95717 Update firewall-integration.md
  articles/container-apps/firewall-integration.md
Labels: Change sent to author, do-not-merge, container-apps/svc

#91003 Attempt to remove confusion for abbreviation
  articles/virtual-desktop/create-profile-container-azure-ad.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged

#93930 Update links to show grant app permissions.
  articles/active-directory/develop/workload-identity-federation-create-trust-github.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#95266 (AzureCXP) fixes MicrosoftDocs/azure-docs#94803
  articles/active-directory/develop/v2-oauth2-client-creds-grant-flow.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#95239 Include Session Token information under Refresh and session token lif…
  articles/active-directory/develop/active-directory-configurable-token-lifetimes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged

#95612 add dotnet-isolated to FUNCTIONS_WORKER_RUNTIME values
  articles/azure-functions/functions-develop-local.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged

#95415 One "0" is missing from the error code.
  articles/active-directory/hybrid/tshoot-connect-pass-through-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#95281 Update reference-powershell.md
  articles/active-directory/cloud-sync/reference-powershell.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#94747 Fixed errors in PowerShell sample
  articles/active-directory/hybrid/how-to-connect-selective-password-hash-synchronization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#94586 Updating the document to current information for custom installation …
  articles/active-directory/hybrid/how-to-connect-install-custom.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#94315 Update how-to-connect-import-export-config.md
  articles/active-directory/hybrid/how-to-connect-import-export-config.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#92231 Update how-to-connect-sync-service-manager-ui-connectors.md
  articles/active-directory/hybrid/how-to-connect-sync-service-manager-ui-connectors.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#91507 Added to note
  articles/active-directory/cloud-sync/reference-expressions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#91281 Update how-to-connect-fix-default-rules.md
  articles/active-directory/hybrid/how-to-connect-fix-default-rules.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged

#90109 Update how-to-connect-install-prerequisites.md
  articles/active-directory/hybrid/how-to-connect-install-prerequisites.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged
