Repository MicrosoftDocs/azure-docs, pull requests merged in 2022-10, with the labels that each got.

#98809 Enhance description for data asset creation
  articles/machine-learning/how-to-prepare-datasets-for-automl-images.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, automl/subsvc, needs-human-review

#99108 Add guide to transition to using the grafana.azure.com domain.
  articles/managed-grafana/how-to-transition-domain.md
  articles/managed-grafana/index.yml
  articles/managed-grafana/media/grafana-endpoint/grafana-domain-bookmark-example.png
  articles/managed-grafana/media/grafana-endpoint/grafana-domain-view-endpoint.png
Labels: do-not-merge, aq-pr-triaged, needs-human-review

#99211 Update azure-monitor-agent-migration.md
  articles/azure-monitor/agents/azure-monitor-agent-migration.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#99369 fix: typo "promoted" changed to "prompted"
  articles/azure-functions/functions-how-to-use-azure-function-app-settings.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, qualifies-for-auto-merge

#99308 fix: replace deprecated usages of iotedgedev init
  articles/iot-edge/how-to-vs-code-develop-module.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged, qualifies-for-auto-merge

#98544 adding note about v2 implementation
  articles/active-directory/hybrid/how-to-connect-group-writeback-v2.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, review-team-triage, aq-pr-triaged, qualifies-for-auto-merge

#99335 Typo "Azure files"→"Azure Files"
  articles/virtual-desktop/fslogix-containers-azure-files.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#99356 Update TOC.yml (Typo "Azure files"→"Azure Files)
  articles/virtual-desktop/TOC.yml
Labels: do-not-merge, review-team-triage, needs-human-review

#99378 some typos
  articles/purview/tutorial-data-owner-policies-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, purview/svc, purview-data-policies/subsvc, qualifies-for-auto-merge

#97696 Update overview.md
  articles/postgresql/flexible-server/overview.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc

#99009 Update calling-sdk-features.md
  articles/communication-services/concepts/voice-video-calling/calling-sdk-features.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#98542 Adding a note about min build versions
  articles/active-directory/hybrid/how-to-connect-group-writeback-enable.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99018 Update manage-video-web.md
  articles/communication-services/how-tos/calling-sdk/includes/manage-video/manage-video-web.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#99380 Command to register the Resource Provider
  articles/purview/includes/access-policies-configuration-generic.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-policies/subsvc, qualifies-for-auto-merge

#99175 Update ipv6-dual-stack-standard-internal-load-balancer-powershell.md
  articles/load-balancer/ipv6-dual-stack-standard-internal-load-balancer-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#97488 Update route-server-limits.md
  includes/route-server-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, route-server/svc

#99152 reworded datastore on ANF
  articles/azure-vmware/concepts-storage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#98638 Update create-notification-hub-azure-cli.md
  articles/notification-hubs/create-notification-hub-azure-cli.md
Labels: Change sent to author, notification-hubs/svc, do-not-merge, aq-pr-triaged, docs-editor-pilot, qualifies-for-auto-merge

#99446 Typo "Azure files"→"Azure Files"
  articles/virtual-desktop/create-fslogix-profile-container.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#98980 VMware Cloud Service is now supported as public preview
  articles/azure-vmware/faq.yml
Labels: Change sent to author, do-not-merge, review-team-triage, aq-pr-triaged, azure-vmware/svc, needs-human-review

#96554 Update route-server-faq.md
  articles/route-server/route-server-faq.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, route-server/svc, qualifies-for-auto-merge

#99440 Azure.FileShare exists twice
  articles/storage/common/storage-explorer-direct-link.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged, qualifies-for-auto-merge

#99389 Fix wrong link description
  articles/azure-monitor/agents/resource-manager-agent.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#98663 external property definition revision
  articles/container-apps/ingress.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, docs-editor-pilot, qualifies-for-auto-merge

#98004 Update vnet-custom-internal.md
  articles/container-apps/vnet-custom-internal.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#96888 fix for failing az containerapp create command
  articles/container-apps/communicate-between-microservices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#96886 Fix for failing docker build task
  articles/container-apps/communicate-between-microservices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc

#97510 Added missing `properties.` to example query commands
  articles/container-apps/vnet-custom.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#99410 Updated App proxy screenshots and steps
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99411 Updated App proxy screenshots and steps
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99188 Azure Monitor: Data purging corrections: Permission and data access
  articles/azure-monitor/logs/personal-data-mgmt.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, needs-human-review

#99418 Adding the Version ".NET Core 3.1"
  articles/azure-functions/functions-create-vnet.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99296 Statistics for CSV files using OPENROWSET are now automatically created
  articles/synapse-analytics/sql/best-practices-serverless-sql-pool.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99072 Update use-kms-etcd-encryption.md
  articles/aks/use-kms-etcd-encryption.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99467 Update functions-supported-languages.md
  includes/functions-supported-languages.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#87085 Link to actual latest ntttcp release
  articles/virtual-network/virtual-network-bandwidth-testing.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, event-triaged-to-10AM, missed-content-complete

#99475 minor grammatical change
  articles/azure-monitor/logs/cost-logs.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99579 Update manage.md
  articles/governance/management-groups/manage.md
Labels: Change sent to author, ready-to-merge, governance/svc, aq-pr-triaged, needs-human-review, event-triaged-to-10AM, missed-content-complete

#99473 fixed spelling error
  articles/azure-arc/kubernetes/tutorial-gitops-flux2-ci-cd.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-kubernetes/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#98072 Add Note for using jsonarray in GenerateJson
  articles/active-directory-b2c/json-transformations.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99530 Add link to upgrade article from Redis 4 retirement announcement
  articles/azure-cache-for-redis/cache-whats-new.md
Labels: Change sent to author, ready-to-merge, cache/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#98471 Update azure-resource-manager-api-spec.md
  articles/container-apps/azure-resource-manager-api-spec.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99584 Update to exclusion limits
  includes/application-gateway-limits.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99618 Update how-to-lifecycle-workflow-sync-attributes.md
  articles/active-directory/governance/how-to-lifecycle-workflow-sync-attributes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#98352 different category name with azure portal
  articles/firewall/web-categories.md
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99638 Modify max node-type count from 20 to 50
  articles/service-fabric/overview-managed-cluster.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99715 Update manage-azure-subscription-policy.md
  articles/cost-management-billing/manage/manage-azure-subscription-policy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#94022 Array of comma-separated values is not supported
  articles/virtual-wan/packet-capture-site-to-site-portal.md
Labels: Change sent to author, ready-to-merge, virtual-wan/svc, aq-pr-triaged, event-triaged-to-10AM, missed-content-complete

#99455 Update Azure Arc Network Requirements
  articles/azure-arc/kubernetes/quickstart-connect-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-kubernetes/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99700 Updated with Private Endpoint NSG Support
  articles/virtual-network/vnet-integration-for-azure-services.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99611 Update monitor-aks.md
  articles/aks/monitor-aks.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#98701 Remove NSG/UDR restrictions
  articles/storage/common/storage-private-endpoints.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#98306 add articles/service-fabric/service-fabric-cluster-creation-setup-aad-via-portal.md for portal step by step Azure AD configuration for service fabric
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-app-registration-client-properties.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-app-registration.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-client-api-cluster-add.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-client-api-delegated.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-client-api-grant-confirm.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-client-api-grant.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-client-app-registration.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-client-authentication.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-app-registration.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-authentication.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-azure-ad-add.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-azure-ad-settings.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-branding.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-expose-application-id.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-expose-scope.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-roles-admin.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-roles-readonly.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-cluster-roles.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-add-assignment.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-add-user.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-admin-role.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-filter.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-no-filter.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-readonly-role.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-enterprise-apps-user-assignments.png
  articles/service-fabric/media/service-fabric-cluster-creation-setup-azure-ad-via-portal/portal-managed-cluster-azure-ad.png
  articles/service-fabric/service-fabric-cluster-creation-setup-azure-ad-via-portal.md
  articles/service-fabric/toc.yml
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, needs-human-review, event-triaged-to-10AM, missed-content-complete

#99797 Update links to MFA phone number
  articles/active-directory-b2c/user-profile-attributes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99803 Update storage-files-redundancy-premium-zrs.md
  includes/storage-files-redundancy-premium-zrs.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99727 Update groups-dynamic-membership.md
  articles/active-directory/enterprise-users/groups-dynamic-membership.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99805 Update data-lake-storage-known-issues.md
  articles/storage/blobs/data-lake-storage-known-issues.md
Labels: Change sent to author, ready-to-merge, storage/svc, data-lake-storage-gen2/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98952 Update network-file-system-protocol-support-how-to.md
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98953 Update monitor-blob-storage.md
  articles/storage/blobs/monitor-blob-storage.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged, qualifies-for-auto-merge

#99699 Update quickstart-onboard-aws.md
  articles/defender-for-cloud/quickstart-onboard-aws.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, missed-content-complete

#99847 update regions availability
  articles/stream-analytics/blob-storage-azure-data-lake-gen2-output.md
Labels: ready-to-merge, qualifies-for-auto-merge

#99728 data instead of date, according to original AMD documentations
  articles/aks/use-cvm.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#99844 Typo "Azure Files Sync"→"Azure File Sync"
  articles/virtual-desktop/disaster-recovery.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#99852 Adding why PII is suppressed for guest users
  articles/active-directory/reports-monitoring/reports-faq.yml
Labels: Change sent to author, do-not-merge, needs-human-review

#99100 Update license-users-groups.md
  articles/active-directory/fundamentals/license-users-groups.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#96929 Update to reflect service renaming
  articles/active-directory/verifiable-credentials/verifiable-credentials-configure-tenant.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, verifiable-credentials/subsvc, ATCP, decentralized-identity/svc

#99706 Dynatrace review of partner documentation
  articles/partner-solutions/dynatrace/dynatrace-create.md
  articles/partner-solutions/dynatrace/dynatrace-how-to-configure-prereqs.md
  articles/partner-solutions/dynatrace/dynatrace-how-to-manage.md
  articles/partner-solutions/dynatrace/dynatrace-link-to-existing.md
  articles/partner-solutions/dynatrace/dynatrace-overview.md
  articles/partner-solutions/dynatrace/dynatrace-troubleshoot.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, partner-services/svc, dynatrace/subsvc

#99482 Added patterns of the tenant url value
  articles/active-directory/saas-apps/github-enterprise-managed-user-oidc-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99237 Additional code for apache-spark-azure-log-analytics
  articles/synapse-analytics/spark/apache-spark-azure-log-analytics.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99547 fixed broken link to app proxy documentation
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#99576 Typo "Azure files"→"Azure Files"
  articles/storage/solution-integration/validated-partners/primary-secondary-storage/isv-file-services.md
Labels: Change sent to author, storage/svc, do-not-merge, common/subsvc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#98872 Fix minor grammar issues
  articles/dev-box/concept-dev-box-concepts.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, dev-box/svc, needs-human-review, event-triaged-to-10AM, missed-content-complete

#99849 Update support policies for nsgs
  articles/openshift/support-policies-v4.md
Labels: do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#99912 Update how-to-connect-modify-group-writeback.md
  articles/active-directory/hybrid/how-to-connect-modify-group-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, needs-human-review

#99922 Update elastic-san-create.md
  articles/storage/elastic-san/elastic-san-create.md
Labels: ready-to-merge, qualifies-for-auto-merge

#99921 fix number of FORMAT arguments
  articles/synapse-analytics/sql/develop-openrowset.md
Labels: do-not-merge, qualifies-for-auto-merge

#99453 removed ambiguous sentence
  articles/azure-vmware/concepts-storage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#99909 More guidance on how to do application-level dead-lettering
  articles/service-bus-messaging/service-bus-dead-letter-queues.md
Labels: Change sent to author, service-bus-messaging/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#99572 Fix a few indentation/spacing issues
  articles/hdinsight/kafka/kafka-mirrormaker-2-0-guide.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, needs-human-review

#99766 this applies not only to long running but also to newly created clusters
  articles/hdinsight/hdinsight-managed-identities.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#99927 Update enable-partitions-premium.md
  articles/service-bus-messaging/enable-partitions-premium.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#99930 Update default limit of datastores
  articles/azure-vmware/attach-azure-netapp-files-to-azure-vmware-solution-hosts.md
Labels: ready-to-merge, qualifies-for-auto-merge

#99331 Update disconnected-container-faq.yml
  articles/cognitive-services/containers/disconnected-container-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#99935 Update concepts-identity.md
  articles/aks/concepts-identity.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#99994 Fix minor spelling mistake in doc
  articles/cosmos-db/continuous-backup-restore-introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#100021 Fixed typo in service-bus-integrate-with-rabbitmq.md
  articles/service-bus-messaging/service-bus-integrate-with-rabbitmq.md
Labels: Change sent to author, service-bus-messaging/svc, do-not-merge, docs-editor-pilot, qualifies-for-auto-merge

#99853 Update pc-saas-fulfillment-webhook.md
  articles/marketplace/partner-center-portal/pc-saas-fulfillment-webhook.md
Labels: Change sent to author, ready-to-merge, marketplace/svc, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc, qualifies-for-auto-merge

#100000 Fix 'Send push notifications to Android' tutorial
  articles/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started.md
Labels: Change sent to author, ready-to-merge, notification-hubs/svc, aq-pr-triaged, qualifies-for-auto-merge

#100032 (AzureCXP) fixes MicrosoftDocs/azure-docs#99980
  articles/active-directory/fundamentals/auth-saml.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99466 private plan tenantid removed scenario update
  articles/marketplace/azure-private-plan-troubleshooting.md
Labels: Change sent to author, marketplace/svc, do-not-merge, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc, qualifies-for-auto-merge

#99675 Update redhat-images.md
  articles/virtual-machines/workloads/redhat/redhat-images.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, redhat/subsvc, qualifies-for-auto-merge

#100020 Fix Deployment Environments sample manifest.yaml
  articles/deployment-environments/configure-catalog-item.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, docs-editor-pilot, qualifies-for-auto-merge, deployment-environments/svc

#100035 Update uninstall-azure-arc-data-controller.md
  articles/azure-arc/data/uninstall-azure-arc-data-controller.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data/subsvc, qualifies-for-auto-merge

#100045 Fixed inconsistency in resource group name var
  articles/aks/csi-secrets-store-identity-access.md
Labels: Change sent to author, ready-to-merge, container-service/svc, qualifies-for-auto-merge

#95191 Add that Blobfuse is not supported on Ubuntu 22.04
  articles/batch/virtual-file-mount.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged

#99986 Bug 1948126: Incorrect AutoML set_training parameter "allowed_algorit…
  articles/machine-learning/how-to-configure-auto-train.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#99958 typo
  articles/azure-monitor/agents/azure-monitor-agent-manage.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#99210 Update azure-monitor-agent-migration-tools.md
  articles/azure-monitor/agents/azure-monitor-agent-migration-tools.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#100063 need to add regarding Premium SKU throughput too
  articles/firewall/firewall-faq.yml
Labels: Change sent to author, ready-to-merge, needs-human-review

#99293 Added further wildcard examples and warning
  articles/firewall/firewall-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#100072 Update security-guide.md
  articles/virtual-desktop/security-guide.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#100103 Update quickstart-create-access-environments.md
  articles/deployment-environments/quickstart-create-access-environments.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, deployment-environments/svc

#100108 Update what-are-lifecycle-workflows.md
  articles/active-directory/governance/what-are-lifecycle-workflows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, qualifies-for-auto-merge

#100105 Closing off bracket for Info banner
  articles/site-recovery/site-recovery-retain-ip-azure-vm-failover.md
Labels: Change sent to author, site-recovery/svc, do-not-merge, qualifies-for-auto-merge

#100112 Update quickstart-individual-credit.md
  articles/devtest/offer/quickstart-individual-credit.md
Labels: Change sent to author, do-not-merge, visual-studio-windows/prod, qualifies-for-auto-merge

#93109 Fix incorrect word usage 'hear by' --> 'hereafter'
  articles/healthcare-apis/fhir/use-postman.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged

#98739 Clarify contents of symmetric key if a URI to a file is given.
  articles/iot-edge/how-to-provision-devices-at-scale-linux-symmetric.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged, qualifies-for-auto-merge

#88434 Added formatting to pwsh-interactive code
  includes/vpn-gateway-connect-vm.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged

#100138 Update search-jobs.md
  articles/azure-monitor/logs/search-jobs.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#96928 Microsoft Entra Verified ID is now GA
  articles/active-directory/verifiable-credentials/decentralized-identifier-overview.md
  articles/active-directory/verifiable-credentials/how-to-dnsbind.md
  articles/active-directory/verifiable-credentials/how-to-opt-out.md
  articles/active-directory/verifiable-credentials/how-to-register-didwebsite.md
  articles/active-directory/verifiable-credentials/how-to-use-quickstart-idtoken.md
  articles/active-directory/verifiable-credentials/how-to-use-quickstart-selfissued.md
  articles/active-directory/verifiable-credentials/how-use-vcnetwork.md
  articles/active-directory/verifiable-credentials/introduction-to-verifiable-credentials-architecture.md
  articles/active-directory/verifiable-credentials/plan-issuance-solution.md
  articles/active-directory/verifiable-credentials/plan-verification-solution.md
  articles/active-directory/verifiable-credentials/verifiable-credentials-faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, verifiable-credentials/subsvc, ATCP, decentralized-identity/svc, needs-human-review

#99828 Update application-gateway-crs-rulegroups-rules.md
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, qualifies-for-auto-merge

#100123 [Azure-PG-Flex] - Typo
  articles/postgresql/flexible-server/concepts-pgbouncer.md
Labels: Change sent to author, postgresql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#100128 Removed "Preview" from header of SAP data reference
  articles/sentinel/sap/sap-solution-log-reference.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, microsoft-sentinel/subsvc, needs-human-review

#100131 Removed Preview from some of the SAP alert rules
  articles/sentinel/sap/sap-solution-security-content.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, microsoft-sentinel/subsvc, qualifies-for-auto-merge

#100140 Update service-fabric-resource-governance.md
  articles/service-fabric/service-fabric-resource-governance.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, qualifies-for-auto-merge

#100157 azure/aks/integrations: fix incorrect az aks command
  articles/aks/integrations.md
Labels: Change sent to author, container-service/svc, do-not-merge, qualifies-for-auto-merge

#100136 Add Go SDK links to the list of examples
  articles/cosmos-db/nosql/query/getting-started.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, nosql/subsvc

#100161 Update Storage Infrastructure encryption UI- and text references
  articles/storage/common/infrastructure-encryption-enable.md
  articles/storage/common/media/infrastructure-encryption-enable/create-account-infrastructure-encryption-portal.png
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged, needs-human-review

#100147 Updating link
  articles/active-directory-b2c/threat-management.md
Labels: Change sent to author, ready-to-merge, active-directory-b2c/svc, aq-pr-triaged, qualifies-for-auto-merge

#100025 Ta4h-language-updates
  articles/cognitive-services/language-service/text-analytics-for-health/how-to/call-api.md
  articles/cognitive-services/language-service/text-analytics-for-health/language-support.md
  articles/cognitive-services/language-service/text-analytics-for-health/quickstart.md
  articles/cognitive-services/language-service/whats-new.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc, docs-editor-pilot, needs-human-review

#98933 Updating YAML code for AML Extension tutorial
  articles/machine-learning/tutorial-train-deploy-image-classification-model-vscode.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#100137 Fixed some typos in userinfo.md
  articles/active-directory/develop/userinfo.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99510 fix: removes requirement for iotedgedev tool when using the VS Code extension
  articles/iot-edge/how-to-vs-code-develop-module.md
Labels: Change sent to author, iot-edge/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#100172 Typo correction
  articles/sentinel/best-practices.md
  articles/sentinel/hunting.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc, qualifies-for-auto-merge

#100139 Update enhanced-security-features-overview.md
  articles/defender-for-cloud/enhanced-security-features-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#100212 Update how-to-set-up-your-network.md
  articles/defender-for-iot/organizations/how-to-set-up-your-network.md
Labels: Change sent to author, ready-to-merge, defender-for-iot/svc, qualifies-for-auto-merge

#99297 Better CORS methods and headers description
  articles/app-service/app-service-web-tutorial-rest-api.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#100196 CosmosDB: intra container copy - add missing second underscore to database name
  articles/cosmos-db/intra-account-container-copy.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge

#100184 Update how-to-deploy-service-fabric-application-system-assigned-manag…
  articles/service-fabric/how-to-deploy-service-fabric-application-system-assigned-managed-identity.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, qualifies-for-auto-merge

#100215 Update how-to-forward-alert-information-to-partners.md
  articles/defender-for-iot/organizations/how-to-forward-alert-information-to-partners.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-iot/svc, qualifies-for-auto-merge

#100094 Update create-microsoft-purview-python.md
  articles/purview/create-microsoft-purview-python.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, purview/svc, qualifies-for-auto-merge

#100053 Update live-stream.md
  articles/azure-monitor/app/live-stream.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge

#100240 fixed link for windows to point to windows and not linux
  articles/security/fundamentals/encryption-atrest.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc, qualifies-for-auto-merge

#99287 b2c-support added a Note
  articles/active-directory-b2c/force-password-reset.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99955 Update container-registry-tutorial-sign-build-push.md
  articles/container-registry/container-registry-tutorial-sign-build-push.md
Labels: do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#99769 Update metrics-supported.md
  articles/azure-monitor/essentials/metrics-supported.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#100248 Fix grammar - Change "allotting" to "allocating"
  articles/aks/configure-azure-cni.md
Labels: Change sent to author, ready-to-merge, container-service/svc, qualifies-for-auto-merge

#100259 Update how-to-routing-policies.md
  articles/virtual-wan/how-to-routing-policies.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc, qualifies-for-auto-merge

#100176 update smart-crops concept page to include aspect ratio range
  articles/cognitive-services/Computer-vision/concept-generating-thumbnails.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, computer-vision/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#100214 fix syntax error
  articles/machine-learning/how-to-configure-network-isolation-with-v2.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#100243 Update action-groups.md
  articles/azure-monitor/alerts/action-groups.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#100235 HNS support
  articles/storage/blobs/object-replication-configure.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#100337 Update auto-deploy-azure-monitoring-agent.md
  articles/defender-for-cloud/auto-deploy-azure-monitoring-agent.md
Labels: Change sent to author, ready-to-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#100325 Fix typo
  articles/cosmos-db/nosql/quickstart-spark.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge, nosql/subsvc

#100149 Update backup-and-restore.md
  articles/synapse-analytics/sql-data-warehouse/backup-and-restore.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#100148 Update maintenance-scheduling.md
  articles/synapse-analytics/sql-data-warehouse/maintenance-scheduling.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#100307 Update service-bus-go-how-to-use-queues.md
  articles/service-bus-messaging/service-bus-go-how-to-use-queues.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, qualifies-for-auto-merge

#100338 Update prepay-sql-data-warehouse-charges.md
  articles/cost-management-billing/reservations/prepay-sql-data-warehouse-charges.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#100352 Update concepts-data-explorer-plugin.md
  articles/digital-twins/concepts-data-explorer-plugin.md
Labels: Change sent to author, do-not-merge, digital-twins/svc, aq-pr-triaged, qualifies-for-auto-merge

#100361 Update ipv6-overview.md
  articles/virtual-network/ip-services/ipv6-overview.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged, ATCP
