Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-06, with the labels that each got.

#109916 mention sdk support
  articles/cognitive-services/Computer-vision/concept-background-removal.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, computer-vision/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108373 Improve readability of how to create component docs
  articles/machine-learning/how-to-create-component-pipeline-python.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge

#108119 Typo "`**[key1]～;**`"→"`[key1]～;`"
  articles/machine-learning/component-reference/graph-search-syntax.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109956 Remove enabling telemetry has a prerequisites for passwordless sign-in
  articles/active-directory/authentication/howto-authentication-passwordless-phone.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109333 Update Decentriq company description in multi-party-data.md
  articles/confidential-computing/multi-party-data.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, confidential-computing/subsvc, qualifies-for-auto-merge

#110260 Add quotes to `--content-type`
  articles/azure-app-configuration/concept-config-file.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge

#109773 Add commands to verify role assignments
  articles/purview/register-scan-synapse-workspace.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, purview/svc, purview-data-map/subsvc, qualifies-for-auto-merge

#110237 Update use-blocklist.md
  articles/cognitive-services/content-safety/how-to/use-blocklist.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge, content-safety/subsvc

#108935 Removed unnecessary [Include] statements.
  articles/postgresql/flexible-server/how-to-connect-with-managed-identity.md
  articles/postgresql/single-server/how-to-connect-with-managed-identity.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#107978 Patch 2
  articles/postgresql/flexible-server/concepts-networking.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#110200 AAD Connect Health: update release version for DLC only
  articles/active-directory/hybrid/connect/reference-connect-health-version-history.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109794 aprilHazel MSFT - Update Dim Count for Ada V2
  articles/cognitive-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#110300 Fix command in vm-generalized-image-version.md
  articles/virtual-machines/vm-generalized-image-version.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, gallery/subsvc, qualifies-for-auto-merge

#110257 Update waf-faq.yml
  articles/web-application-firewall/afds/waf-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, needs-human-review

#110116 Update troubleshoot-device-dsregcmd.md to include Cloud Kerberos fields
  articles/active-directory/devices/troubleshoot-device-dsregcmd.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110332 fixed app service plan Sku name and tier
  articles/logic-apps/azure-arc-enabled-logic-apps-create-deploy-workflows.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, qualifies-for-auto-merge

#110347 Fixed typo in azure-resource-manager-api-spec.md
  articles/container-apps/azure-resource-manager-api-spec.md
Labels: Change sent to author, do-not-merge, container-apps/svc, qualifies-for-auto-merge

#110351 Update prometheus-metrics-troubleshoot.md
  articles/azure-monitor/essentials/prometheus-metrics-troubleshoot.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#110355 Nc2 june
  articles/baremetal-infrastructure/workloads/nc2-on-azure/requirements.md
Labels: Change sent to author, do-not-merge, baremetal-infrastructure/svc, qualifies-for-auto-merge, baremetal-nutanix/subsvc

#110317 Update functions-bindings-service-bus-trigger.md
  articles/azure-functions/functions-bindings-service-bus-trigger.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#110122 Update license requirements of AU
  articles/active-directory/roles/administrative-units.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc, qualifies-for-auto-merge

#109369 Update delegate-by-task.md
  articles/active-directory/roles/delegate-by-task.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc, qualifies-for-auto-merge

#110377 Update spark-create-operations.md
  articles/cosmos-db/cassandra/spark-create-operations.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge, apache-cassandra/subsvc

#110376 Update README.md: adds link to Azure production doc
  README.md
Labels: do-not-merge, review-team-triage, needs-human-review

#110238 docs(api): Document feature flag for OTEL system metrics
  articles/api-management/self-hosted-gateway-settings-reference.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#110374 Clarification about GitHub enterprise managed users
  articles/active-directory/saas-apps/github-enterprise-managed-user-provisioning-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110266 Add AzCopy MacOS ARM64 Preview
  articles/storage/common/storage-use-azcopy-v10.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#110405 Clarify Service Bus subscription idleness
  articles/service-bus-messaging/advanced-features-overview.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, qualifies-for-auto-merge

#110413 Update connect-cef-syslog.md
  articles/sentinel/connect-cef-syslog.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#110210 Update activity-log.md
  articles/azure-monitor/essentials/activity-log.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#110468 fix: typo in govern-service-accounts.md
  articles/active-directory/fundamentals/govern-service-accounts.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, qualifies-for-auto-merge

#110462 Update understand-cost-mgt-data.md
  articles/cost-management-billing/costs/understand-cost-mgt-data.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#110476 Revisions for readability & correctness
  articles/cosmos-db/synapse-link.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#110402 Update cluster-container-registry-integration.md
  articles/aks/cluster-container-registry-integration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#105158 Fixed link for 'Hyper-V integration services'
  articles/migrate/migrate-support-matrix-hyper-v.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#102657 Correcting just a type for a command
  articles/migrate/tutorial-discover-hyper-v.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#110495 Remove CodePen samples from how-to article: Add a drawing tools toolbar to a map
  articles/azure-maps/map-add-drawing-toolbar.md
  articles/azure-maps/media/map-add-drawing-toolbar/add-drawing-toolbar.png
  articles/azure-maps/media/map-add-drawing-toolbar/change-drawing-rendering-style.png
  articles/azure-maps/media/map-add-drawing-toolbar/limit-displayed-toolbar-options.png
Labels: Change sent to author, ready-to-merge, azure-maps/svc, needs-human-review

#110516 Update how-to-configure-endpoints.md
  articles/frontdoor/how-to-configure-endpoints.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, qualifies-for-auto-merge

#110539 Correct provider registration parameter in Resource Bridge redeployment
  articles/azure-arc/resource-bridge/troubleshoot-resource-bridge.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, qualifies-for-auto-merge

#110493 Update chaos-studio-limitations.md
  articles/chaos-studio/chaos-studio-limitations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, chaos-studio/svc, qualifies-for-auto-merge

#110297 Added WEBSITE_CONTENTOVERVNET to the Networking section
  articles/app-service/reference-app-settings.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#109822 Instructions should work for code hosted on Azure Repos
  articles/app-service/deploy-azure-pipelines.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged

#109321 consistent punctuation in functions-bindings-intro.md
  includes/functions-bindings-intro.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, needs-human-review

#110522 Add missing verb
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#110508 Update virtual-machine-network-throughput.md
  articles/virtual-network/virtual-machine-network-throughput.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#110463 Add Api Management to public-ip-addresses
  articles/azure-portal/azure-portal-safelist-urls.md
  articles/virtual-network/ip-services/public-ip-addresses.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, ip-services/subsvc, qualifies-for-auto-merge

#107251 Update lifecycle-management-policy-configure.md
  articles/storage/blobs/lifecycle-management-policy-configure.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110421 Update iot-hub-devguide-query-language.md
  articles/iot-hub/iot-hub-devguide-query-language.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#110349 fix typo, add more clarity for default user permissions
  articles/active-directory/fundamentals/users-default-permissions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110494 Update unmanaged-disks-deprecation.md
  articles/virtual-machines/unmanaged-disks-deprecation.md
Labels: Change sent to author, ready-to-merge, storage/svc, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110152 Update network-file-system-protocol-support-how-to.md
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, storage/svc, do-not-merge, blobs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110342 Update faq.yml
  articles/azure-app-configuration/faq.yml
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, needs-human-review

#110404 Update documentation for enabling security keys via Intune
  articles/active-directory/authentication/howto-authentication-passwordless-security-key-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109825 Update tshoot-connect-pass-through-authentication.md
  articles/active-directory/hybrid/connect/tshoot-connect-pass-through-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110346 Update high-availability.md
  articles/api-management/high-availability.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#110533 We have more than 2 hosting regions now
  articles/cognitive-services/openai/how-to/business-continuity-disaster-recovery.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#110548 Removed CodePen samples from article: Add an image layer to a map
  articles/azure-maps/map-add-image-layer.md
  articles/azure-maps/media/map-add-image-layer/image-layer-options.png
  articles/azure-maps/media/map-add-image-layer/kml-ground-overlay-as-image-layer.png
  articles/azure-maps/media/map-add-image-layer/simple-image-layer.png
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#110262 Update restore-account-continuous-backup.md
  articles/cosmos-db/restore-account-continuous-backup.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#110559 Update validation-program.md
  articles/azure-arc/kubernetes/validation-program.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-kubernetes/subsvc, qualifies-for-auto-merge

#110588 Adding in permissions pre-requisite and update wording for antimalware.
  articles/defender-for-cloud/github-action.md
Labels: Change sent to author, do-not-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#109819 Update for SF Dev Env Setup on Mac
  articles/service-fabric/service-fabric-get-started-mac.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged

#110207 Update SkipFirewallConfiguration to have Dynamic upgrade policy
  articles/service-fabric/service-fabric-cluster-fabric-settings.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, qualifies-for-auto-merge

#110606 Fix typo in agent-overview.md
  articles/azure-arc/servers/agent-overview.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#110306 Update fido2-compatibility.md
  articles/active-directory/authentication/fido2-compatibility.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110550 Update security-operations-devices.md
  articles/active-directory/fundamentals/security-operations-devices.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110586 Update logic-apps-using-sap-connector.md
  articles/logic-apps/logic-apps-using-sap-connector.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged, qualifies-for-auto-merge

#110639 Update connect-google-cloud-platform.md
  articles/sentinel/connect-google-cloud-platform.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#110634 Update files-manage-namespaces.md
  articles/storage/files/files-manage-namespaces.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, qualifies-for-auto-merge

#110646 (AzureCXP) fixes MicrosoftDocs/azure-docs#110512
  articles/aks/azure-csi-files-storage-provision.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#110663 Update virtual machine configuration in JSON example
  articles/batch/create-pool-extensions.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#110565 {AzureAPIM} APIM with AAD integration should have reference to `validate-azure-ad-token` policy
  includes/api-management-configure-validate-jwt.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#110628 Update concepts-connectivity-architecture.md
  articles/mysql/single-server/concepts-connectivity-architecture.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#104683 Updated conditional access input claim description
  articles/active-directory-b2c/conditional-access-technical-profile.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#110707 Update general.md
  articles/governance/policy/troubleshoot/general.md
Labels: Change sent to author, azure-policy/svc, do-not-merge, qualifies-for-auto-merge

#110560 Update api-management-howto-disaster-recovery-backup-restore.md
  articles/api-management/api-management-howto-disaster-recovery-backup-restore.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#110081 Update api-management-configure-validate-jwt.md
  includes/api-management-configure-validate-jwt.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#110680 Replaced CodePen samples in article: Add a tile layer to a map
  articles/azure-maps/map-add-tile-layer.md
  articles/azure-maps/media/map-add-tile-layer/tile-layer-options.png
  articles/azure-maps/media/map-add-tile-layer/tile-layer.png
  articles/azure-maps/media/map-add-tile-layer/wms-tile-layer.png
  articles/azure-maps/media/map-add-tile-layer/wmts-tile-layer.png
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#108018 Szuber/update deploy vsan stretched clusters
  articles/azure-vmware/deploy-vsan-stretched-clusters.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, needs-human-review

#110705 Update cilium-enterprise-marketplace.md
  articles/aks/cilium-enterprise-marketplace.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#110674 Update connect-cef-syslog.md to use python3 instead of python in command example
  articles/sentinel/connect-cef-syslog.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#110737 BTP solution migration to unlimited public preview
  articles/sentinel/sap/deploy-sap-btp-solution.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#110738 Complete source actions and tactics for the BTP analytics rules
  articles/sentinel/sap/sap-btp-security-content.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#110669 Update backup-authentication-system.md
  articles/active-directory/fundamentals/backup-authentication-system.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110792 Resolve AM sync PR conflict
  articles/aks/TOC.yml
  articles/aks/cilium-enterprise-marketplace.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-kubernetes-service/svc, aks-networking/subsvc

#110734 call recording doc updates
  articles/communication-services/quickstarts/voice-video-calling/includes/call-recording-samples/call-recording-csharp.md
  articles/communication-services/quickstarts/voice-video-calling/includes/call-recording-samples/call-recording-java.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, needs-human-review

#110731 Update policy-fragments with maximum size limitation
  articles/api-management/policy-fragments.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#110780 Typo "Azure key vault"→"Azure Key Vault"
  articles/cognitive-services/use-key-vault.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, qualifies-for-auto-merge

#109543 Update Azure Firewall Resiliency status
  articles/reliability/availability-zones-service-support.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, reliability/svc, availability-zones/subsvc

#110709 Typo "Azure key vault"→"Azure Key Vault"
  articles/key-vault/general/move-region.md
Labels: Change sent to author, key-vault/svc, do-not-merge, aq-pr-triaged, general/subsvc, qualifies-for-auto-merge

#107821 New ACI article describing the use of Caddy for automatic HTTPS
  articles/container-instances/TOC.yml
  articles/container-instances/container-instances-container-group-automatic-ssl.md
  articles/container-instances/media/container-instances-container-group-automatic-ssl/my-app-1.png
  articles/container-instances/media/container-instances-container-group-automatic-ssl/my-app-2.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#110801 removed CodePen samples from map events article
  articles/azure-maps/map-events.md
  articles/azure-maps/media/map-events/html-marker-layer-events.png
  articles/azure-maps/media/map-events/layer-events.png
  articles/azure-maps/media/map-events/map-events.png
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#110794 Update episode-five.md
  articles/defender-for-cloud/episode-five.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#108453 Update overview-vnet-integration.md
  articles/app-service/overview-vnet-integration.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#110803 Update search-manage-rest.md
  articles/search/search-manage-rest.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#110807 Fix Log Analytics workspace branding
  articles/automanage/overview-about.md
Labels: Change sent to author, do-not-merge, automanage/svc, qualifies-for-auto-merge

#110826 Update prometheus-metrics-scrape-configuration.md
  articles/azure-monitor/essentials/prometheus-metrics-scrape-configuration.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#110197 Update cache-how-to-monitor.md
  articles/azure-cache-for-redis/cache-how-to-monitor.md
Labels: Change sent to author, cache/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#100082 Removal of repeated info
  articles/active-directory/authentication/certificate-based-authentication-faq.yml
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, aq-pr-triaged, needs-human-review

#109748 Update howto-cluster-manager.md
  articles/operator-nexus/howto-cluster-manager.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#110585 Update error-reserved-resource-name.md
  articles/azure-resource-manager/troubleshooting/error-reserved-resource-name.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, troubleshooting/subsvc, qualifies-for-auto-merge

#110689 Update CBA availability status
  articles/active-directory/authentication/concept-authentication-methods.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110278 Multiple updates to articles/analysis-services
  articles/analysis-services/analysis-services-monitor.md
  articles/analysis-services/analysis-services-refresh-azure-automation.md
  articles/analysis-services/analysis-services-service-principal.md
Labels: Change sent to author, ready-to-merge, analysis-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#110445 Update ddos-view-alerts-defender-for-cloud.md
  articles/ddos-protection/ddos-view-alerts-defender-for-cloud.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, ddos-protection/svc, qualifies-for-auto-merge

#110721 Fix JSON formatting and grammar in ARG Availability States doc
  articles/virtual-machines/resource-graph-availability.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, qualifies-for-auto-merge

#110603 Typo "Azure DB for PostgreSQL"→"Azure Database for PostgreSQL"
  articles/container-apps/services.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#110604 Clarified KeyVault name parameter for other clouds
  articles/synapse-analytics/spark/apache-spark-azure-log-analytics.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#104498 Adding note with examples
  articles/batch/virtual-file-mount.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged

#110506 [Application Gateway] Added the limit of trusted client CA certificate chains
  includes/application-gateway-limits.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#109437 Update limits of App Gateway
  articles/application-gateway/application-gateway-faq.yml
  includes/application-gateway-limits.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, needs-human-review

#109585 Update application-gateway-faq.yml
  articles/application-gateway/application-gateway-faq.yml
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, needs-human-review

#110592 Change AZ_CREDS to AZURE_CREDENTIALS to make it more coherent
  articles/machine-learning/how-to-github-actions-machine-learning.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge

#110723 Update azure-monitor-agent-manage.md
  articles/azure-monitor/agents/azure-monitor-agent-manage.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#110843 updated link to samples
  articles/azure-maps/index.yml
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#110371 add clarification to device settings
  articles/active-directory/devices/device-management-azure-portal.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110149 Microsoft Azure Subscription Management does not exist as a resource
  articles/active-directory/conditional-access/concept-conditional-access-cloud-apps.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110854 Update troubleshoot-dotnet-sdk-slow-request.md
  articles/cosmos-db/nosql/troubleshoot-dotnet-sdk-slow-request.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge, nosql/subsvc

#110851 Update TOC.yml
  articles/confidential-computing/TOC.yml
Labels: Change sent to author, do-not-merge, needs-human-review

#110855 Update faqs.md
  articles/active-directory/cloud-infrastructure-entitlement-management/faqs.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc, needs-human-review

#110853 Removed CodePen samples from article: Add a polygon extrusion layer to the map
  articles/azure-maps/map-extruded-polygon.md
  articles/azure-maps/media/map-extruded-polygon/add-circle-to-map.png
  articles/azure-maps/media/map-extruded-polygon/choropleth-map.png
  articles/azure-maps/media/map-extruded-polygon/polygon-extrusion-layer-options.png
  articles/azure-maps/media/map-extruded-polygon/polygon-extrusion-layer.png
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#110882 Added space to fix typo
  articles/storage/common/storage-account-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc

#110888 Update front-door-faq.yml - Typo
  articles/frontdoor/front-door-faq.yml
Labels: Change sent to author, do-not-merge, frontdoor/svc, needs-human-review

#110891 Update app-objects-and-service-principals.md
  articles/active-directory/develop/app-objects-and-service-principals.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, qualifies-for-auto-merge

#110749 Update synapse-workspace-ip-firewall.md
  articles/synapse-analytics/security/synapse-workspace-ip-firewall.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, synapse-analytics/svc, qualifies-for-auto-merge

#110330 Update resource-health-checks-resource-types.md
  articles/service-health/resource-health-checks-resource-types.md
Labels: Change sent to author, ready-to-merge, service-health/svc, aq-pr-triaged, qualifies-for-auto-merge

#110901 Updates to article "How to create data registry": going from preview to ga
  articles/azure-maps/how-to-create-data-registries.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#110896 Update continuous-backup-restore-introduction.md
  articles/cosmos-db/continuous-backup-restore-introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#109052 Added link to other Synapse Spark Pool limits
  includes/synapse-analytics-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, qualifies-for-auto-merge

#110923 Update normalization-schema-authentication.md
  articles/sentinel/normalization-schema-authentication.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#110653 Sentinel logstash docs - add ECS note and update supported versions
  articles/sentinel/connect-logstash-data-connection-rules.md
  articles/sentinel/connect-logstash.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#110465 Update raw-media-access-ios.md
  articles/communication-services/quickstarts/voice-video-calling/includes/raw-media/raw-media-access-ios.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc

#110464 Update raw-media-access-ios.md
  articles/communication-services/quickstarts/voice-video-calling/includes/raw-media/raw-media-access-ios.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#110601 Removed CodePen from article: Add a symbol layer to a map
  articles/azure-maps/map-add-pin.md
  articles/azure-maps/media/map-add-pin/add-custom-icon-to-symbol-layer.png
  articles/azure-maps/media/map-add-pin/add-symbol-layer.png
  articles/azure-maps/media/map-add-pin/symbol-layer-options.png
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#110665 Replace all CodePen samples in article: Add a polygon layer to the map
  articles/azure-maps/map-add-shape.md
  articles/azure-maps/media/map-add-shape/add-circle-to-map.png
  articles/azure-maps/media/map-add-shape/easy-to-update-geometry.png
  articles/azure-maps/media/map-add-shape/fill-polygon-with-built-in-icon-template.png
  articles/azure-maps/media/map-add-shape/polygon-layer-options.png
  articles/azure-maps/media/map-add-shape/polygon-layer.png
  articles/azure-maps/media/map-add-shape/polygon-line-layer.png
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#110924 Update routing-deep-dive.md
  articles/virtual-wan/routing-deep-dive.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc, qualifies-for-auto-merge

#110918 Update normalization-schema-authentication.md
  articles/sentinel/normalization-schema-authentication.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#109224 Removed statement about sysprep
  articles/virtual-desktop/autoscale-scenarios.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#110956 new link to Azure Maps QGIS Plugin.
  articles/azure-maps/creator-qgis-plugin.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, qualifies-for-auto-merge

#110817 Update sql-data-warehouse-reference-powershell-cmdlets.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-reference-powershell-cmdlets.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#110946 Improved links to code samples, PR 1 of 4.
  articles/azure-maps/choose-map-style.md
  articles/azure-maps/clustering-point-data-web-sdk.md
  articles/azure-maps/create-data-source-web-sdk.md
  articles/azure-maps/drawing-tools-events.md
  articles/azure-maps/how-to-use-image-templates-web-sdk.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#110949 Improved links to code samples, PR 2 of 4
  articles/azure-maps/map-accessibility.md
  articles/azure-maps/map-add-bubble-layer.md
  articles/azure-maps/map-add-controls.md
  articles/azure-maps/map-add-custom-html.md
  articles/azure-maps/map-add-drawing-toolbar.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#110950 Improved links to code samples, PR 4 of 4.
  articles/azure-maps/map-add-snap-grid.md
  articles/azure-maps/map-add-tile-layer.md
  articles/azure-maps/map-create.md
  articles/azure-maps/map-events.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#110961 Update continuous-integration-delivery-resource-manager-custom-parame…
  articles/data-factory/continuous-integration-delivery-resource-manager-custom-parameters.md
Labels: Change sent to author, data-factory/svc, do-not-merge, ci-cd/subsvc, qualifies-for-auto-merge

#110972 Fix spacing in python-semantic.md
  articles/search/includes/quickstarts/python-semantic.md
Labels: Change sent to author, ready-to-merge, cognitive-search/svc, qualifies-for-auto-merge

#110969 updated the title
  articles/azure-maps/creator-qgis-plugin.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#110979 Updating multiple items in articles/api-management
  articles/api-management/api-management-configuration-repository-git.md
  articles/api-management/api-management-howto-mutual-certificates-for-clients.md
  articles/api-management/api-management-template-resources.md
  articles/api-management/import-logic-app-as-api.md
  articles/api-management/json-to-xml-policy.md
  articles/api-management/sap-api.md
Labels: Change sent to author, api-management/svc, do-not-merge, qualifies-for-auto-merge

#108154 Update request-just-in-time-access.md
  articles/azure-resource-manager/managed-applications/request-just-in-time-access.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#106618 Adding additional Next Steps links
  articles/private-multi-access-edge-compute-mec/overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-multi-access-edge-compute-mec/svc, qualifies-for-auto-merge

#108252 Fix PowerShell query
  includes/resource-graph/samples/bycat/management-groups.md
Labels: Change sent to author, do-not-merge, resource-graph/svc, aq-pr-triaged, qualifies-for-auto-merge

#111000 Typo "Azure key vault"→"Azure Key Vault"
  articles/key-vault/general/common-error-codes.md
Labels: Change sent to author, key-vault/svc, do-not-merge, general/subsvc

#110999 Update skr-flow-confidential-containers-azure-container-instance.md
  articles/confidential-computing/skr-flow-confidential-containers-azure-container-instance.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, confidential-computing/subsvc
