Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-10, with the labels that each got.

#115054 Update github secrets menu option
  articles/machine-learning/prompt-flow/how-to-end-to-end-llmops-with-prompt-flow.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, prompt-flow/subsvc

#115272 Update immutable-storage-overview.md
  articles/storage/blobs/immutable-storage-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#115064 Update storage-ref-azcopy-configuration-settings.md
  articles/storage/common/storage-ref-azcopy-configuration-settings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#115394 Update request-host-quota-azure-vmware-solution.md
  articles/azure-vmware/request-host-quota-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#115421 Typo "Pytorch"→"PyTorch"
  articles/synapse-analytics/machine-learning/tutorial-horovod-pytorch.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, synapse-analytics/svc, qualifies-for-auto-merge

#112159 SWA build configuration - skip_deploy_on_missing_secrets
  articles/static-web-apps/build-configuration.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#115411 Update anonymous-read-access-configure.md
  articles/storage/blobs/anonymous-read-access-configure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-blob-storage/svc

#115442 The Require roles table header is reversed.
  articles/active-directory/fundamentals/how-to-create-delete-users.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, needs-human-review

#115180 Update add-custom-domain.md
  articles/active-directory/fundamentals/add-custom-domain.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115256 the given API version has been outdated and deployments are getting failed
  articles/service-fabric/service-fabric-reverseproxy-setup.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, qualifies-for-auto-merge

#115455 Update speech-sdk.md
  articles/ai-services/speech-service/speech-sdk.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-speech/svc

#115385 Update ms-confluence-jira-plugin-adminguide.md
  articles/active-directory/saas-apps/ms-confluence-jira-plugin-adminguide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115486 Fix typo in column name
  articles/aks/vertical-pod-autoscaler-api-reference.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-kubernetes-service/svc

#115480 Update regex in how-to-rename-azure-ad.md
  articles/active-directory/fundamentals/how-to-rename-azure-ad.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115246 Update what-is-deprecated.md
  articles/active-directory/fundamentals/what-is-deprecated.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115317 Added managed batch endpoint information
  articles/machine-learning/how-to-manage-quotas.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#115402 Removing references to now deprecated AKS-Engine
  articles/azure-monitor/containers/container-insights-hybrid-setup.md
  articles/azure-monitor/containers/container-insights-onboard.md
  articles/azure-monitor/faq.yml
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, needs-human-review

#113880 Fixed typos in the code example
  articles/active-directory/manage-apps/grant-admin-consent.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc, aq-pr-triaged

#113353 Corrected folder name in cd command
  articles/communication-services/quickstarts/includes/relay-token-python.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, azure-communication-services/subsvc, qualifies-for-auto-merge

#114610 Adding AAD B2C limitation on custom roles
  articles/active-directory-b2c/roles-resource-access-control.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged

#115250 Update reference-error-codes.md
  articles/active-directory/develop/reference-error-codes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115117 Update beginners-guide.md - "to translation" -> "to translate"
  articles/ai-services/translator/custom-translator/beginners-guide.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, translator-text/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115207 Grammatical changes
  articles/firewall/overview.md
Labels: Change sent to author, do-not-merge, firewall/svc, aq-pr-triaged

#115219 slight change to wording on idle timeout question
  articles/firewall/firewall-faq.yml
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged, needs-human-review

#115481 Add description of RouteToEventGrid
  articles/iot-hub/iot-hub-event-grid.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#113570 Update custom-node-configuration.md
  articles/aks/custom-node-configuration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#115527 Fix typo
  articles/azure-monitor/app/distributed-tracing-telemetry-correlation.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#115542 Update azure-services-resource-providers.md
  articles/azure-resource-manager/management/azure-services-resource-providers.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#115530 Fix typo
  articles/cosmos-db/hierarchical-partition-keys.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge

#115529 Fix typo
  articles/communication-services/quickstarts/email/add-multiple-senders-mgmt-sdks.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#115525 Fix typo
  articles/defender-for-cloud/faq-defender-for-devops.yml
Labels: Change sent to author, do-not-merge, defender-for-cloud/svc, needs-human-review

#115524 Fix typo
  articles/data-factory/airflow-sync-github-repository.md
Labels: Change sent to author, data-factory/svc, do-not-merge, qualifies-for-auto-merge

#115511 Removing the term preview from the content
  articles/azure-monitor/containers/container-insights-logging-v2.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115430 Update remove-public-ip-address-vm.md
  articles/virtual-network/ip-services/remove-public-ip-address-vm.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, ip-services/subsvc, qualifies-for-auto-merge

#115583 Update how-to-mfa-registration-campaign.md
  articles/active-directory/authentication/how-to-mfa-registration-campaign.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, qualifies-for-auto-merge

#115495 Update nva-accelerated-connections.md
  articles/networking/nva-accelerated-connections.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, needs-human-review

#115456 Add link to snapshot reasons video.
  articles/azure-app-configuration/TOC.yml
  articles/azure-app-configuration/concept-snapshots.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, needs-human-review

#115584 Update how-to-connect-health-sync.md
  articles/active-directory/hybrid/connect/how-to-connect-health-sync.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge

#115604 Update deploy-cli.md to fix typo in array sample
  articles/azure-resource-manager/bicep/deploy-cli.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc, qualifies-for-auto-merge

#115609 Update b-series-cpu-credit-model.md
  articles/virtual-machines/b-series-cpu-credit-model/b-series-cpu-credit-model.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, sizes/subsvc

#115597 Update healthcare-apis-azure-api-fhir-retirement.md
  articles/healthcare-apis/includes/healthcare-apis-azure-api-fhir-retirement.md
Labels: Change sent to author, ready-to-merge, healthcare-apis/svc, aq-pr-triaged, needs-human-review

#114179 Update how-to-deploy-online-endpoints.md
  articles/machine-learning/how-to-deploy-online-endpoints.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, inferencing/subsvc

#115025 Update apple-sso-plugin.md
  articles/active-directory/develop/apple-sso-plugin.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115420 Update cpp.md
  articles/ai-services/speech-service/includes/quickstarts/stt-diarization/cpp.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#115628 Update howto-sspr-windows.md
  articles/active-directory/authentication/howto-sspr-windows.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, qualifies-for-auto-merge

#115418 Update concepts-audit-logs.md
  articles/mysql/flexible-server/concepts-audit-logs.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#115626 Update dns-private-resolver-overview.md
  articles/dns/dns-private-resolver-overview.md
Labels: Change sent to author, dns/svc, do-not-merge, qualifies-for-auto-merge

#115635 Typo: Remove duplicate parenthesis
  includes/functions-portal-language-support.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#115600 Update how-to-develop-emulator.md
  articles/cosmos-db/how-to-develop-emulator.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#114627 Update waf-app-gateway.md
  articles/container-apps/waf-app-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#114916 Update static-web-apps-cli.yml
  articles/static-web-apps/static-web-apps-cli.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#115614 Update javascript guidance for B2C
  articles/active-directory-b2c/javascript-and-page-layout.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114825 Update how-to-change-storage-access-key.md
  articles/machine-learning/how-to-change-storage-access-key.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#115613 Update bpsv2-arm.md
  articles/virtual-machines/bpsv2-arm.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#115610 Update b-series-cpu-credit-model.md
  articles/virtual-machines/b-series-cpu-credit-model/b-series-cpu-credit-model.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#115540 Manifest fix and explanatory note
  articles/aks/csi-secrets-store-nginx-tls.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-kubernetes-service/svc

#115648 Update np-series.md
  articles/virtual-machines/np-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc

#113536 Update retrieve-images.md
  articles/kinect-dk/retrieve-images.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kinect-developer-kit/svc

#115660 Update event-hubs-samples.md to include the right repo path for azeventhubs
  articles/event-hubs/event-hubs-samples.md
Labels: Change sent to author, event-hubs/svc, do-not-merge, qualifies-for-auto-merge

#115661 Update TOC.yml to use the latest azeventhubs and armeventhubs libraries.
  articles/event-hubs/TOC.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#115632 Update api-management-howto-deploy-multi-region.md
  articles/api-management/api-management-howto-deploy-multi-region.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#114561 RestoreDeletedServer
  articles/postgresql/flexible-server/how-to-restore-dropped-server.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#115588 Fix ID references in PowerShell app permission grant example
  articles/active-directory/manage-apps/grant-admin-consent.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115677 Update permissions-management-quickstart-guide.md
  articles/active-directory/cloud-infrastructure-entitlement-management/permissions-management-quickstart-guide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, ciem/subsvc, qualifies-for-auto-merge

#115680 Fixing Typos
  articles/firewall/policy-rule-sets.md
  articles/firewall/premium-certificates.md
  articles/firewall/premium-deploy-certificates-enterprise-ca.md
  articles/firewall/premium-migrate.md
Labels: Change sent to author, do-not-merge, firewall/svc, qualifies-for-auto-merge

#115376 Documented online-endpoint required permissions + example of request to call the endpoint
  articles/machine-learning/prompt-flow/how-to-deploy-to-code.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, prompt-flow/subsvc

#115670 Update mqtt-publish-and-subscribe-portal.md
  articles/event-grid/mqtt-publish-and-subscribe-portal.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged, qualifies-for-auto-merge

#115391 AAD Connect Health: add new HUS required endpoints
  articles/active-directory/hybrid/connect/how-to-connect-health-agent-install.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115599 Update redhat-rhui.md: removed UsGOV IPs and improved the public doc
  articles/virtual-machines/workloads/redhat/redhat-rhui.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, redhat/subsvc

#115591 Create hdinsight-known-issues.md
  articles/hdinsight/hdinsight-known-issues.md
Labels: Change sent to author, hdinsight/svc, do-not-merge, aq-pr-triaged, needs-human-review

#114340 Update how-to-deploy-for-real-time-inference.md
  articles/machine-learning/prompt-flow/how-to-deploy-for-real-time-inference.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115541 Remove undesired character in defender-for-containers-vulnerability-assessment-azure.md
  articles/defender-for-cloud/defender-for-containers-vulnerability-assessment-azure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#115650 Update amazon-business-provisioning-tutorial.md
  articles/active-directory/saas-apps/amazon-business-provisioning-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115735 docs: fix sentence in RBAC how-to
  articles/ai-services/openai/how-to/role-based-access-control.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-language/svc

#115711 Updates based on CELA recommendation
  articles/active-directory/develop/msal-android-single-sign-on.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115737 fix typo
  articles/active-directory/roles/best-practices.md
Labels: Change sent to author, active-directory/svc, do-not-merge, roles/subsvc, qualifies-for-auto-merge

#115734 docs: fix broken link for Azure OpenAI request access form
  articles/ai-services/openai/how-to/managed-identity.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#115723 {AzureAnomalyDetector} `import os` statement is missing in the python sample
  articles/ai-services/Anomaly-Detector/includes/quickstarts/anomaly-detector-client-library-python.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#115738 Update how-to-create-custom-event-trigger.md
  articles/data-factory/how-to-create-custom-event-trigger.md
Labels: Change sent to author, data-factory/svc, do-not-merge, orchestration/subsvc, qualifies-for-auto-merge

#115747 Update configure-azure-ad-ui.md - Tab name is `Configuration` not `Global Configuration`
  articles/openshift/configure-azure-ad-ui.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#115646 Update role-assignments-powershell.md
  articles/role-based-access-control/role-assignments-powershell.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#115742 Update private-module-registry.md
  articles/azure-resource-manager/bicep/private-module-registry.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#115715 Update manage-device-identities.md
  articles/active-directory/devices/manage-device-identities.md
  articles/active-directory/fundamentals/whats-new-archive.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115778 US168632
  articles/active-directory/devices/howto-manage-local-admin-passwords.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc, qualifies-for-auto-merge

#115771 Update cost-logs.md
  articles/azure-monitor/logs/cost-logs.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115649 Update container-registry-tutorial-sign-build-push.md with new links …
  articles/container-registry/container-registry-tutorial-sign-build-push.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged, qualifies-for-auto-merge

#115685 Update soft-delete-overview.md
  articles/key-vault/general/soft-delete-overview.md
Labels: Change sent to author, key-vault/svc, do-not-merge, aq-pr-triaged, general/subsvc, qualifies-for-auto-merge

#115801 Update Cloud Sync Troubleshooting docn
  articles/active-directory/hybrid/cloud-sync/how-to-troubleshoot.md
  articles/active-directory/hybrid/cloud-sync/media/how-to-troubleshoot/log-4.png
Labels: Change sent to author, do-not-merge, windows-server-threshold/prod, identity-adfs/tech, needs-human-review

#115809 Updating the replication appliance requirement to use Windows 2016
  articles/migrate/migrate-support-matrix-physical-migration.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#115429 Update advisor-cost-recommendations.md
  articles/advisor/advisor-cost-recommendations.md
Labels: Change sent to author, ready-to-merge, advisor/svc, aq-pr-triaged, qualifies-for-auto-merge

#115709 docs: update AZ_BATCH_AUTHENTICATION_TOKEN
  articles/batch/batch-compute-node-environment-variables.md
Labels: Change sent to author, ready-to-merge, batch/svc, aq-pr-triaged, qualifies-for-auto-merge

#115659 Update howto-authentication-passwordless-security-key-on-premises.md
  articles/active-directory/authentication/howto-authentication-passwordless-security-key-on-premises.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115779 Update contact-center.md
  articles/communication-services/tutorials/contact-center.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, teams-interop/subsvc, qualifies-for-auto-merge

#115776 Update enroll-renew-subscription.md
  articles/education-hub/azure-dev-tools-teaching/enroll-renew-subscription.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-education/svc, qualifies-for-auto-merge

#115781 Removed extra ` character
  articles/frontdoor/front-door-url-rewrite.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#115093 fix(policy effects): deployIfNotExists needs to start with a lower case
  articles/governance/policy/concepts/effects.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#115169 Update compliance percentage
  articles/governance/policy/concepts/compliance-states.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#114553 Modify "Registry REST API endpoint for certificates" as sub-bullet
  articles/container-registry/container-registry-firewall-access-rules.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged, qualifies-for-auto-merge

#114300 Update configure-ssl-app-service-certificate.md
  articles/app-service/configure-ssl-app-service-certificate.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#112652 Update deploy-ci-cd-custom-container.md
  articles/app-service/deploy-ci-cd-custom-container.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged

#115596 Removes wrong import statement
  articles/open-datasets/dataset-taxi-yellow.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, open-datasets/svc, qualifies-for-auto-merge

#115849 Fix json indenting
  articles/search/cognitive-search-defining-skillset.md
Labels: Change sent to author, ready-to-merge, cognitive-search/svc, qualifies-for-auto-merge

#115846 Update default-outbound-access.md
  articles/virtual-network/ip-services/default-outbound-access.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, ip-services/subsvc, qualifies-for-auto-merge

#115861 Fix typo in property name
  articles/search/cognitive-search-output-field-mapping.md
Labels: Change sent to author, ready-to-merge, cognitive-search/svc, qualifies-for-auto-merge

#115839 Update how-to request quota
  articles/ai-services/openai/quotas-limits.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#115401 Walk through of Fundamentals section
  articles/active-directory/fundamentals/add-custom-domain.md
  articles/active-directory/fundamentals/add-users.md
  articles/active-directory/fundamentals/concept-learn-about-groups.md
  articles/active-directory/fundamentals/concept-secure-remote-workers.md
  articles/active-directory/fundamentals/create-new-tenant.md
  articles/active-directory/fundamentals/custom-security-attributes-overview.md
  articles/active-directory/fundamentals/data-operational-considerations.md
  articles/active-directory/fundamentals/data-protection-considerations.md
  articles/active-directory/fundamentals/data-residency.md
  articles/active-directory/fundamentals/five-steps-to-full-application-integration.md
  articles/active-directory/fundamentals/get-started-premium.md
  articles/active-directory/fundamentals/how-to-create-delete-users.md
  articles/active-directory/fundamentals/how-to-customize-branding.md
  articles/active-directory/fundamentals/how-to-get-support.md
  articles/active-directory/fundamentals/how-to-manage-user-profile-info.md
  articles/active-directory/fundamentals/how-to-rename-azure-ad.md
  articles/active-directory/fundamentals/identity-fundamental-concepts.md
  articles/active-directory/fundamentals/license-users-groups.md
  articles/active-directory/fundamentals/new-name.md
  articles/active-directory/fundamentals/properties-area.md
  articles/active-directory/fundamentals/security-defaults.md
  articles/active-directory/fundamentals/users-reset-password-azure-portal.md
  articles/active-directory/fundamentals/users-restore.md
  articles/active-directory/fundamentals/what-is-deprecated.md
  articles/active-directory/fundamentals/whatis.md
  articles/active-directory/fundamentals/whats-new-sovereign-clouds-archive.md
  articles/active-directory/fundamentals/whats-new-sovereign-clouds.md
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, needs-human-review

#115831 Update storage-quickstart-blobs-cli.md
  articles/storage/blobs/storage-quickstart-blobs-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#115862 Removed a Basic SKU public IP as a mitigation option.
  articles/virtual-network/ip-services/default-outbound-access.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, ip-services/subsvc, qualifies-for-auto-merge

#115864 Adding Microsoft Graph PowerShell example to disable Soft Matching page.
  articles/active-directory/hybrid/connect/how-to-connect-install-existing-tenant.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc

#115874 Update regional availability of Embedding models
  articles/ai-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#115896 Fixed formatting for NOTE block
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, qualifies-for-auto-merge

#115897 Update what-is-cloud-sync.md
  articles/active-directory/hybrid/cloud-sync/what-is-cloud-sync.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge

#115879 Add docs for default "Profile now" duration
  articles/azure-monitor/app/java-standalone-profiler.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#115880 Fix typo
  articles/azure-monitor/containers/container-insights-syslog.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, containers/subsvc, qualifies-for-auto-merge

#115898 Fixed formatting for NOTE block
  articles/managed-instance-apache-cassandra/monitor-clusters.md
Labels: Change sent to author, do-not-merge, managed-instance-apache-cassandra/svc, qualifies-for-auto-merge

#115938 Update search-synapseml-cognitive-services.md
  articles/search/search-synapseml-cognitive-services.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#115945 Fix articles in image-retrieval.md
  articles/ai-services/computer-vision/how-to/image-retrieval.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-vision/svc

#115957 Adding Advisor recommendation - Use ZRS disks for higher resiliency
  articles/advisor/advisor-reference-reliability-recommendations.md
Labels: Change sent to author, advisor/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#115960 Update oracle-create-upload-vhd.md
  articles/virtual-machines/linux/oracle-create-upload-vhd.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, oracle/subsvc, ATCP, qualifies-for-auto-merge

#115848 Update supported-accounts-validation.md
  articles/active-directory/develop/supported-accounts-validation.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115991 Typo "Azure Open AI"→"Azure OpenAI"
  articles/ai-services/language-service/question-answering/how-to/azure-openai-integration.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-language/svc

#115999 Typo "Azure Open AI"→"Azure OpenAI"
  articles/ai-services/qnamaker/How-To/migrate-to-openai.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-language/svc

#115934 Fixed name of data collection rule
  articles/azure-monitor/containers/container-insights-enable-aks.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#115983 Adding a note on managed identity
  articles/azure-monitor/containers/container-insights-enable-aks.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#115313 Added important note on Custom DNS Servers section
  articles/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#116044 Spelling correction
  articles/api-management/validate-azure-ad-token-policy.md
Labels: Change sent to author, api-management/svc, do-not-merge, qualifies-for-auto-merge

#115463 Update service-limits.md to list the summary max size
  articles/azure-fluid-relay/reference/service-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-fluid/svc

#115982 Update Stream Analytics - Write To Delta Lake
  articles/stream-analytics/write-to-delta-lake.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge, aq-pr-triaged, needs-human-review

#115984 Fix convert domain to managed
  articles/active-directory/manage-apps/migrate-okta-federation.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115855 Add note about "Use for sign-in"
  articles/active-directory/authentication/how-to-authentication-methods-manage.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114333 Update premium-migrate.md
  articles/firewall/premium-migrate.md
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge

#115655 Update coredns-custom.md
  articles/aks/coredns-custom.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#114146 Update secure-cloud-network.md
  articles/firewall-manager/secure-cloud-network.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, firewall-manager/svc, qualifies-for-auto-merge

#115899 adding eventhub
  articles/api-management/how-to-server-sent-events.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, hacktoberfest-accepted, qualifies-for-auto-merge

#115824 Update how-to-monitor-model-performance.md
  articles/machine-learning/how-to-monitor-model-performance.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge

#115841 Update zenya-provisioning-tutorial.md
  articles/active-directory/saas-apps/zenya-provisioning-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115548 Update functions-host-json-v1.md
  articles/azure-functions/functions-host-json-v1.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#116043 Update defender-for-apis-prepare.md
  articles/defender-for-cloud/defender-for-apis-prepare.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#116090 remove duplicate url
  articles/azure-resource-manager/bicep/bicep-config-linter.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc, qualifies-for-auto-merge

#116091 Added dnsResolver name limits
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#115615 correct spelling mistake and highlight OCR
  articles/ai-services/computer-vision/includes/how-to-guides/analyze-image-40-rest.md
Labels: Change sent to author, ready-to-merge, computer-vision/subsvc, aq-pr-triaged, qualifies-for-auto-merge, ai-services/svc

#116083 MW changes bullet 2
  articles/azure-vmware/migrate-sql-server-always-on-availability-group.md
  articles/azure-vmware/migrate-sql-server-standalone-cluster.md
  articles/azure-vmware/toc.yml
Labels: Change sent to author, do-not-merge, azure-vmware/svc, needs-human-review

#116082 Updates for three articles for Jia
  articles/databox-online/azure-stack-edge-deploy-aks-on-azure-stack-edge.md
  articles/databox-online/azure-stack-edge-gpu-clustering-overview.md
  articles/databox-online/azure-stack-edge-pro-2-deploy-install.md
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#116124 Fix spelling error in traffic-analytics.md
  articles/network-watcher/traffic-analytics.md
Labels: Change sent to author, ready-to-merge, network-watcher/svc, qualifies-for-auto-merge

#116041 Update faq-defender-for-apis.yml
  articles/defender-for-cloud/faq-defender-for-apis.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#116108 Fix typo in how-to-connect-fed-group-claims.md
  articles/active-directory/hybrid/connect/how-to-connect-fed-group-claims.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, qualifies-for-auto-merge

#115780 Update faq to include instructions for managed identity authentication
  articles/ai-services/computer-vision/faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-ai-vision/svc

#115815 [minor] Fix missing capital in title
  articles/active-directory/hybrid/connect/tshoot-connect-password-hash-synchronization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115753 Correct mistakes on how-to-upgrade-previous-version.md
  articles/active-directory/hybrid/connect/how-to-upgrade-previous-version.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115729 Update how-to-connect-sso-faq.yml
  articles/active-directory/hybrid/connect/how-to-connect-sso-faq.yml
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, needs-human-review
