Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-09, with the labels that each got.

#114208 Update connector-shopify.md
  articles/data-factory/connector-shopify.md
Labels: Change sent to author, do-not-merge, data-movement/subsvc, qualifies-for-auto-merge

#114217 Typo "Postgre SQL"→"PostgreSQL"
  articles/synapse-analytics/spark/apache-spark-secure-credentials-with-tokenlibrary.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#113772 added details for hardware validation results written out to cluster log analytics workspace
  articles/operator-nexus/howto-configure-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#114203 Update private-endpoint-dns.md
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#112555 Update tenant-restrictions-v2.md
  articles/active-directory/external-identities/tenant-restrictions-v2.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114235 Update application-consent-experience.md
  articles/active-directory/develop/application-consent-experience.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, qualifies-for-auto-merge

#113989 Typo in ASIM network parameters
  articles/sentinel/normalization-schema-network.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#112811 Update virtual-network-bandwidth-testing.md
  articles/virtual-network/virtual-network-bandwidth-testing.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#114276 Fix migration tool link
  articles/postgresql/single-server/whats-happening-to-postgresql-single-server.md
Labels: Change sent to author, postgresql/svc, do-not-merge, single-server/subsvc, qualifies-for-auto-merge

#114289 Update concepts-monitoring.md
  articles/mysql/flexible-server/concepts-monitoring.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#114309 Fix grammar errors
  articles/ai-services/personalizer/what-is-personalizer.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, personalizer/subsvc, qualifies-for-auto-merge

#114236 Update quick-windows-container-deploy-cli.md
  articles/aks/learn/quick-windows-container-deploy-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#114296 update planned failover optmized oeprations based on https://msdata.v…
  articles/mysql/flexible-server/concepts-high-availability.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc

#113448 controller_tag, patch_tag, helm version updated in ingress-basic.md
  articles/aks/ingress-basic.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-kubernetes-service/svc, aks-networking/subsvc

#114117 Update load-balancer-standard.md to include missing annotations
  articles/aks/load-balancer-standard.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#114035 Update use-your-data.md
  articles/ai-services/openai/concepts/use-your-data.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, openai/subsvc

#114128 New Advisor recommendation for App Service 32-bit
  articles/advisor/advisor-reference-reliability-recommendations.md
Labels: Change sent to author, advisor/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#114305 Removing the comma
  articles/ai-services/openai/how-to/function-calling.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#113636 Update api-management-howto-mutual-certificates-for-clients.md
  articles/api-management/api-management-howto-mutual-certificates-for-clients.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#114054 Update tutorial-ci-cd-runners-jobs.md
  articles/container-apps/tutorial-ci-cd-runners-jobs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#114011 Update getting-started.md
  articles/static-web-apps/getting-started.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#114316 Update archive-rehydrate-overview.md
  articles/storage/blobs/archive-rehydrate-overview.md
Labels: Change sent to author, storage/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#113343 better example for log alert with database included
  articles/azure-monitor/alerts/alerts-create-new-alert-rule.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114359 Fixes spelling errors of "Microsoft"
  articles/active-directory/privileged-identity-management/concept-pim-for-groups.md
Labels: Change sent to author, active-directory/svc, do-not-merge, pim/subsvc, qualifies-for-auto-merge

#114366 Update apex-domain.md
  articles/frontdoor/apex-domain.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, qualifies-for-auto-merge

#111733 Update data-box-deploy-export-ordered.md
  articles/databox/data-box-deploy-export-ordered.md
Labels: Change sent to author, do-not-merge, databox/svc, pod/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114112 Update prerequisites.md
  articles/active-directory/hybrid/prerequisites.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#113936 Document way to create Flux resources with non-supported parameters
  articles/azure-arc/kubernetes/tutorial-use-gitops-flux2.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-arc/svc, azure-arc-kubernetes/subsvc

#114341 Update supported-tables-resources.md
  articles/governance/resource-graph/reference/supported-tables-resources.md
Labels: Change sent to author, ready-to-merge, resource-graph/svc, aq-pr-triaged, qualifies-for-auto-merge

#114181 Remove comments that are not relevant to the Bicep deployment scripts article
  articles/azure-resource-manager/bicep/deployment-script-bicep.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#114292 Labor day mike
  .openpublishing.redirection.azure-vmware.json
  articles/azure-vmware/enable-sql-azure-hybrid-benefit.md
  articles/azure-vmware/migrate-sql-server-always-on-availability-group.md
  articles/azure-vmware/migrate-sql-server-failover-cluster.md
  articles/azure-vmware/migrate-sql-server-standalone-cluster.md
  articles/azure-vmware/sql-server-hybrid-benefit.md
  articles/azure-vmware/toc.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, needs-human-review

#114382 [AVS] Quota public doc update
  articles/azure-vmware/request-host-quota-azure-vmware-solution.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, needs-human-review

#114372 Typo "Tensorflow"→"TensorFlow"
  articles/synapse-analytics/machine-learning/tutorial-horovod-tensorflow.md
Labels: Change sent to author, ready-to-merge, machine-learning/subsvc, aq-pr-triaged, synapse-analytics/svc, qualifies-for-auto-merge

#114327 Use location parameter for consent URI
  articles/backup/backup-reports-email.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#114404 Fix typo in logs-data-export.md
  articles/azure-monitor/logs/logs-data-export.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#114403 Update faq.md - Add DefaultIngressClass
  articles/aks/faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#114397 Update how-to-view-managed-identity-activity.md
  articles/active-directory/managed-identities-azure-resources/how-to-view-managed-identity-activity.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, msi/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114186 Update auto-upgrade-node-image.md
  articles/aks/auto-upgrade-node-image.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#113765 Update object-replication-overview.md
  articles/storage/blobs/object-replication-overview.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged, qualifies-for-auto-merge

#114329 Add screenshots for requesting VM quota
  articles/machine-learning/how-to-manage-quotas.md
  articles/machine-learning/media/how-to-manage-quotas/mlstudio-new-quota-limit.png
  articles/machine-learning/media/how-to-manage-quotas/mlstudio-request-quota.png
  articles/machine-learning/media/how-to-manage-quotas/portal-view-quota.png
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, needs-human-review

#114456 Update object-replication-overview.md
  articles/storage/blobs/object-replication-overview.md
Labels: Change sent to author, storage/svc, do-not-merge

#114449 Update use-your-data.md
  articles/ai-services/openai/concepts/use-your-data.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, openai/subsvc, qualifies-for-auto-merge

#114444 Update request-host-quota-azure-vmware-solution.md
  articles/azure-vmware/request-host-quota-azure-vmware-solution.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, needs-human-review

#114457 Revert "Update request-host-quota-azure-vmware-solution.md"
  articles/azure-vmware/request-host-quota-azure-vmware-solution.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc

#114446 fix redirect
  .openpublishing.redirection.azure-vmware.json
Labels: do-not-merge, review-team-triage, needs-human-review

#114458 "Update request-host-quota-azure-vmware-solution.md""
  articles/azure-vmware/request-host-quota-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, needs-human-review

#114426 Update product-statistical-anomalies.md
  articles/active-directory/cloud-infrastructure-entitlement-management/product-statistical-anomalies.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, ciem/subsvc

#114472 Correct spelling of "language"
  articles/azure-functions/functions-how-to-custom-container.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, qualifies-for-auto-merge

#114486 Update client-features-windows.md
  articles/virtual-desktop/users/client-features-windows.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, qualifies-for-auto-merge

#114488 Update service-bus-federation-overview.md
  articles/service-bus-messaging/service-bus-federation-overview.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, qualifies-for-auto-merge

#114463 Update chat-hero-sample.md
  articles/communication-services/samples/chat-hero-sample.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, chat/subsvc, qualifies-for-auto-merge

#114468 Fix relative links in container-registry-helm-repos.md
  articles/container-registry/container-registry-helm-repos.md
Labels: Change sent to author, container-registry/svc, do-not-merge, qualifies-for-auto-merge

#114453 Update expressroute-about-virtual-network-gateways.md
  articles/expressroute/expressroute-about-virtual-network-gateways.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#114506 Update licensing-fundamentals.md to correct AR feature names
  articles/active-directory/governance/licensing-fundamentals.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge

#114504 Typo "Tensorflow"→"TensorFlow"
  articles/machine-learning/how-to-interactive-jobs.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, automl/subsvc, qualifies-for-auto-merge

#114482 Add a link to Microsoft Defender for container registries (deprecated)
  articles/defender-for-cloud/agentless-container-registry-vulnerability-assessment.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#113802 Added warning for use of ROPC
  articles/active-directory-b2c/add-ropc-policy.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#111943 Update tutorial-create-vm-using-go-sdk.md
  articles/public-multi-access-edge-compute-mec/tutorial-create-vm-using-go-sdk.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, public-multi-access-edge-compute-mec/svc, needs-human-review

#114525 Fixing link to next steps
  articles/azure-monitor/logs/logs-ingestion-api-overview.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#114435 Update product-rule-based-anomalies.md
  articles/active-directory/cloud-infrastructure-entitlement-management/product-rule-based-anomalies.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, ciem/subsvc, qualifies-for-auto-merge

#114562 BCDR1
  articles/postgresql/flexible-server/concepts-backup-restore.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#114542 Update overview.md
  articles/azure-monitor/overview.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, general/subsvc, qualifies-for-auto-merge

#114547 Update how-to-train-model.md
  articles/machine-learning/how-to-train-model.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, qualifies-for-auto-merge, training/subsvc

#114584 correcting the grammatical mistake
  articles/virtual-machines/disks-convert-types.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-disk-storage/svc

#114493 First Commit
  articles/quotas/quickstart-increase-quota-portal.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-quotas/svc

#114589 Adding reference to billing info page.
  articles/iot-hub/iot-hub-devguide-quotas-throttling.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#114576 Update asp-net-core.md
  articles/azure-monitor/app/asp-net-core.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge

#114597 Update run-command.md
  articles/virtual-machines/windows/run-command.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#114308 [automation] Update links on whats-new doc
  articles/automation/whats-new.md
Labels: Change sent to author, ready-to-merge, automation/svc, aq-pr-triaged, qualifies-for-auto-merge

#114144 Add precision about some bots being omitted from the participants list
  articles/communication-services/concepts/call-automation/call-automation.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge, call-automation/subsvc

#114266 Update intro-kubernetes.md
  articles/aks/intro-kubernetes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#114097 Explain multi-phase versioning of Service Fabric data contracts
  articles/service-fabric/service-fabric-work-with-reliable-collections.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, needs-human-review

#114408 Fix placeholder in url
  includes/app-provisioning-sql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#114153 Remove extraneous space character
  articles/active-directory/hybrid/connect/how-to-connect-adconnectivitytools.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114634 Update how-to-connect-modify-group-writeback.md
  articles/active-directory/hybrid/connect/how-to-connect-modify-group-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, needs-human-review

#114651 Update get-sap-installation-media.md
  articles/sap/center-sap-solutions/get-sap-installation-media.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, center-sap-solutions/subsvc

#114626 Update opentelemetry-enable.md
  articles/azure-monitor/app/opentelemetry-enable.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge

#114425 Update concepts-maintenance.md
  articles/mysql/flexible-server/concepts-maintenance.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, needs-human-review

#113859 Update inbound-provisioning-api-issues.md
  articles/active-directory/app-provisioning/inbound-provisioning-api-issues.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, app-provisioning/subsvc, qualifies-for-auto-merge

#114616 Update remove-public-ip-address-vm.md
  articles/virtual-network/ip-services/remove-public-ip-address-vm.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, ip-services/subsvc, qualifies-for-auto-merge

#114642 Fix default health probe interval seconds.
  articles/load-balancer/load-balancer-custom-probe-overview.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, aq-pr-triaged, qualifies-for-auto-merge

#114649 Fix typo in how-to-sync-teams-with-aad-groups.md
  articles/managed-grafana/how-to-sync-teams-with-aad-groups.md
Labels: Change sent to author, do-not-merge, managed-grafana/svc, qualifies-for-auto-merge

#114652 Fix typo in container-registry-scanning-limitation.md
  includes/container-registry-scanning-limitation.md
Labels: Change sent to author, container-registry/svc, do-not-merge, qualifies-for-auto-merge

#114659 Update service-bus-outages-disasters.md
  articles/service-bus-messaging/service-bus-outages-disasters.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, qualifies-for-auto-merge

#114671 Fix spelling error in Probe properties
  articles/load-balancer/load-balancer-custom-probe-overview.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, qualifies-for-auto-merge

#112116 Update device-update-raspberry-pi.md
  articles/iot-hub-device-update/device-update-raspberry-pi.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, iot-hub-device-update/svc, qualifies-for-auto-merge

#114673 Update troubleshooting.md
  articles/cloud-shell/troubleshooting.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, cloud-shell/svc

#114685 Update upgrade-data-controller-direct-cli.md
  articles/azure-arc/data/upgrade-data-controller-direct-cli.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-data/subsvc, qualifies-for-auto-merge

#114678 Update apache-hadoop-visual-studio-tools-get-started.md
  articles/hdinsight/hadoop/apache-hadoop-visual-studio-tools-get-started.md
Labels: Change sent to author, hdinsight/svc, do-not-merge, qualifies-for-auto-merge

#112048 Update device-update-ubuntu-agent.md
  articles/iot-hub-device-update/device-update-ubuntu-agent.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, iot-hub-device-update/svc

#114611 (AzureCXP) fixes MicrosoftDocs/azure-docs#114583
  articles/defender-for-cloud/faq-defender-for-storage.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, needs-human-review

#114697 Clarify what the SamplingPercentage number is
  articles/azure-monitor/app/sampling.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#114741 Update resource-manager-exceptions.md
  articles/event-hubs/resource-manager-exceptions.md
Labels: Change sent to author, ready-to-merge, event-hubs/svc, qualifies-for-auto-merge

#114735 Update azure-monitor-agent-transformation.md
  articles/azure-monitor/agents/azure-monitor-agent-transformation.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, agents/subsvc, qualifies-for-auto-merge

#114730 Update concepts-connection-pooling-best-practices.md
  articles/postgresql/flexible-server/concepts-connection-pooling-best-practices.md
Labels: Change sent to author, postgresql/svc, do-not-merge, review-team-triage, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#114745 Fixing typo
  articles/healthcare-apis/fhir/how-to-run-a-reindex.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, fhir/subsvc, qualifies-for-auto-merge

#114754 Typo "Azure key vault"→"Azure Key Vault"
  articles/active-directory/develop/sample-v2-code.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, qualifies-for-auto-merge

#114757 Updated the full name of OWASP
  articles/security/develop/secure-dev-overview.md
Labels: Change sent to author, ready-to-merge, security/svc, security-develop/subsvc, qualifies-for-auto-merge

#114631 Update about-nc2-on-azure.md
  articles/baremetal-infrastructure/workloads/nc2-on-azure/about-nc2-on-azure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, baremetal-infrastructure/svc, qualifies-for-auto-merge, baremetal-nutanix/subsvc

#114612 Update add-users-administrator.md
  articles/active-directory/external-identities/add-users-administrator.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111858 Update rbac-access-policy.md
  articles/key-vault/general/rbac-access-policy.md
Labels: Change sent to author, key-vault/svc, do-not-merge, aq-pr-triaged, general/subsvc, needs-human-review

#114777 Update how-to-integrate-with-llm-app-devops.md
  articles/machine-learning/prompt-flow/how-to-integrate-with-llm-app-devops.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, qualifies-for-auto-merge, prompt-flow/subsvc

#112232 Correct the maven debug command
  articles/azure-functions/functions-event-grid-blob-trigger.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#114753 Updated SubscriptionId references in example code
  articles/governance/resource-graph/first-query-rest-api.md
Labels: Change sent to author, ready-to-merge, resource-graph/svc, aq-pr-triaged, qualifies-for-auto-merge

#114499 Updating App Service recommendation to highlight refresh delays
  articles/advisor/advisor-reference-cost-recommendations.md
Labels: Change sent to author, ready-to-merge, advisor/svc, aq-pr-triaged, qualifies-for-auto-merge

#114470 Update compute-infrastructure.md
  articles/api-management/compute-infrastructure.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#111472 Update functions-service-bus-connections.md
  includes/functions-service-bus-connections.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#114746 Changing sentence for clarity
  articles/api-management/graphql-apis-overview.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#114798 Fix powershell variable assignment code snippet in Restore Process
  articles/api-management/api-management-howto-disaster-recovery-backup-restore.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#114738 Update expressroute-howto-add-ipv6-portal.md
  articles/expressroute/expressroute-howto-add-ipv6-portal.md
Labels: Change sent to author, expressroute/svc, do-not-merge, aq-pr-triaged

#114437 Update convert-classic-resource.md
  articles/azure-monitor/app/convert-classic-resource.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge

#114797 Update to add Momentum Telecom
  articles/expressroute/expressroute-locations-providers.md
  articles/expressroute/expressroute-locations.md
Labels: Change sent to author, expressroute/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#112892 Update whats-new.md
  articles/sentinel/whats-new.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#114737 Enquote properties param in Az CLI
  articles/azure-monitor/essentials/azure-monitor-workspace-manage.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#114800 Update faq.yml
  articles/azure-vmware/faq.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#114858 Update how-to-troubleshoot-kubernetes-compute.md
  articles/machine-learning/how-to-troubleshoot-kubernetes-compute.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, qualifies-for-auto-merge

#114871 Updated wording
  articles/machine-learning/prompt-flow/tools-reference/troubleshoot-guidance.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#114812 Update nvidia device plugin version to v0.14.1 -- latest version
  articles/aks/gpu-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#114910 Update get-sap-installation-media.md
  articles/sap/center-sap-solutions/get-sap-installation-media.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, center-sap-solutions/subsvc

#114913 Update features-windows.md
  articles/virtual-machines/extensions/features-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, extensions/subsvc, qualifies-for-auto-merge

#114908 Update ingress-basic.md
  articles/aks/ingress-basic.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#114899 Update open-ai-quickstart.md
  articles/aks/open-ai-quickstart.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#114660 Update remediation-structure.md to clarify policy definition referenc…
  articles/governance/policy/concepts/remediation-structure.md
Labels: Change sent to author, azure-policy/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#114614 Update managed-identity.md
  articles/automation/troubleshoot/managed-identity.md
Labels: Change sent to author, automation/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#112896 Update data-transformation.md
  articles/sentinel/data-transformation.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#114450 RBAC role to create new index
  articles/ai-services/openai/concepts/use-your-data.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#112777 fix: typo in cmd
  articles/iot-hub-device-update/device-update-ubuntu-agent.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, iot-hub-device-update/svc, qualifies-for-auto-merge

#114188 Update auto-upgrade-node-image.md
  articles/aks/auto-upgrade-node-image.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#114709 [ServiceConnector] Update the client type for Azure Spring Apps.
  articles/service-connector/quickstart-portal-spring-cloud-connection.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, service-connector/svc, qualifies-for-auto-merge

#114170 Improved AMA Client Installer Offboarding script
  articles/azure-monitor/agents/azure-monitor-agent-windows-client.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#114537 Update cloud-services-dotnet-install-dotnet.md
  articles/cloud-services/cloud-services-dotnet-install-dotnet.md
Labels: Change sent to author, ready-to-merge, cloud-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#114758 Update dataset-genomics-data-lake.md
  articles/open-datasets/dataset-genomics-data-lake.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, open-datasets/svc, qualifies-for-auto-merge

#114936 Update prepare-extended-security-updates.md
  articles/azure-arc/servers/prepare-extended-security-updates.md
Labels: Change sent to author, do-not-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#114949 Fix grammar mistake in container-registry-private-link.md
  articles/container-registry/container-registry-private-link.md
Labels: Change sent to author, container-registry/svc, do-not-merge, qualifies-for-auto-merge

#114950 Fixing typo
  articles/machine-learning/how-to-debug-pipeline-reuse-issues.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#114244 fix: network ssl setting does not work as written
  articles/databox-online/azure-stack-edge-gpu-configure-tls-settings.md
Labels: Change sent to author, ready-to-merge, databox/svc, edge/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114966 Update azure-monitor-agent-migration.md
  articles/azure-monitor/agents/azure-monitor-agent-migration.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, agents/subsvc, qualifies-for-auto-merge

#113977 fix code formatting for better readability
  articles/cosmos-db/nosql/migrate-containers-partitioned-to-nonpartitioned.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, nosql/subsvc

#113830 [add] ssl flag to mongodump command
  articles/cosmos-db/mongodb/tutorial-mongotools-cosmos-db.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, table/subsvc

#114995 URL *pytorch.org perimts an insecure configuration
  articles/machine-learning/includes/recommended-network-outbound.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, qualifies-for-auto-merge

#115023 fix: Proper whitespace for EOF
  articles/openshift/howto-use-key-vault-secrets.md
Labels: Change sent to author, ready-to-merge, azure-redhat-openshift/svc, qualifies-for-auto-merge

#114766 Update whats-new with retirement announcement
  articles/ai-services/computer-vision/whats-new.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, computer-vision/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#114802 Add How to provision extension before Service Fabric runtime
  articles/service-fabric/how-to-managed-cluster-vmss-extension.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged, needs-human-review

#114519 avs cleanup
  articles/azure-vmware/migrate-sql-server-standalone-cluster.md
  articles/azure-vmware/toc.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, needs-human-review

#115043 Fix typo
  articles/active-directory-b2c/troubleshoot.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, qualifies-for-auto-merge

#115042 Typo fix
  articles/active-directory/workload-identities/workload-identity-federation.md
Labels: Change sent to author, active-directory/svc, do-not-merge, qualifies-for-auto-merge, workload-identities/subsvc

#115044 Update custom-extension-get-started.md
  articles/active-directory/develop/custom-extension-get-started.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115030 Additional updates for 2309 'release notes' and 'install updates' art…
  articles/databox-online/TOC.yml
  articles/databox-online/azure-stack-edge-gpu-2309-release-notes.md
  articles/databox-online/azure-stack-edge-gpu-install-update.md
  articles/databox-online/media/azure-stack-edge-gpu-install-update/local-ui-update-2.png
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, aq-pr-triaged, needs-human-review

#114588 Update create-upload-ubuntu.md
  articles/virtual-machines/linux/create-upload-ubuntu.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#114590 Update create-upload-generic.md
  articles/virtual-machines/linux/create-upload-generic.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge
