Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-04, with the labels that each got.

#106016 Typo fix - update to monitoring Azure Functions article
  articles/azure-functions/monitor-functions.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#107473 [Cosmos] Python - Update how-to-manage-conflicts.md
  articles/cosmos-db/nosql/how-to-manage-conflicts.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, nosql/subsvc

#107581 correct uname results for trusted and untrusted pods
  articles/aks/use-pod-sandboxing.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#107544 Update overview-disaster-recovery.md
  articles/app-service/overview-disaster-recovery.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#107591 Added defer sender.Close(context.TODO()) in SendMessageBatch function
  articles/service-bus-messaging/service-bus-go-how-to-use-queues.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107599 Improve grammar and convert links to end links in Authentication best practices.
  articles/azure-maps/authentication-best-practices.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, needs-human-review

#107102 Update reference-app-settings.md
  articles/app-service/reference-app-settings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107576 Update disks-enable-performance.md
  articles/virtual-machines/disks-enable-performance.md
Labels: Change sent to author, ready-to-merge, storage/svc, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107611 improve grammar and convert links to end links in choose-pricing-tier.md
  articles/azure-maps/choose-pricing-tier.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#107590 Corrected code snippet in scenario-web-api-call-api-app-configuration.md
  articles/active-directory/develop/scenario-web-api-call-api-app-configuration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107616 improve grammar in articles: QPS rate limits, Clustering point data and Consumption model
  articles/azure-maps/azure-maps-qps-rate-limits.md
  articles/azure-maps/clustering-point-data-web-sdk.md
  articles/azure-maps/consumption-model.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, needs-human-review

#107641 Removing Objectid from Examples
  articles/active-directory-b2c/add-api-connector.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#107640 Incorrect statement that each user needs to be invited as a guest.
  articles/virtual-network/create-peering-different-subscriptions.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, qualifies-for-auto-merge

#107479 Update reference-yaml-deployment-managed-online.md
  articles/machine-learning/how-to-troubleshoot-online-endpoints.md
  articles/machine-learning/reference-yaml-deployment-managed-online.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge

#107307 Including more details of Reviews by Owners
  articles/active-directory/governance/create-access-review.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged, needs-human-review

#107615 Update front-door-overview.md
  articles/frontdoor/front-door-overview.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, qualifies-for-auto-merge

#107606 improve grammar and convert to end links in azure-maps-authentication.md
  articles/azure-maps/azure-maps-authentication.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#107654 Update easy-metrics-auth0-connector-tutorial.md
  articles/active-directory/saas-apps/easy-metrics-auth0-connector-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, qualifies-for-auto-merge

#107613 Clarify service-managed fail over semantics.
  articles/cosmos-db/gremlin/introduction.md
  articles/cosmos-db/high-availability.md
  articles/cosmos-db/how-to-manage-database-account.md
  articles/cosmos-db/nosql/best-practice-dotnet.md
  articles/cosmos-db/nosql/best-practice-java.md
  articles/cosmos-db/nosql/manage-with-powershell.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge, nosql/subsvc

#107628 Update howto-configure-and-access-logs.md
  articles/postgresql/flexible-server/howto-configure-and-access-logs.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, flexible-server/subsvc, needs-human-review

#107650 Update nist-sp-800-53-r5.md
  articles/governance/policy/samples/nist-sp-800-53-r5.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107698 Update set-up-backup-server-for-azure-vmware-solution.md
  articles/azure-vmware/set-up-backup-server-for-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, azure-vmware/svc, qualifies-for-auto-merge

#107705 Update delivery-and-retry.md
  articles/event-grid/delivery-and-retry.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#107680 Update expressroute-faqs.md
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, expressroute/svc, do-not-merge, qualifies-for-auto-merge

#107706 Update manage-event-delivery.md
  articles/event-grid/manage-event-delivery.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107672 Update concepts-identity.md
  articles/azure-vmware/concepts-identity.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107690 Update azuread-joined-devices-frx.md
  articles/active-directory/devices/azuread-joined-devices-frx.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, devices/subsvc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#107406 Rotating password of identity source
  articles/azure-vmware/configure-identity-source-vcenter.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#107728 Update nat-rules-vpn-gateway.md
  articles/virtual-wan/nat-rules-vpn-gateway.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc, qualifies-for-auto-merge

#107738 Correct URL
  articles/security/fundamentals/data-encryption-best-practices.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc, qualifies-for-auto-merge

#107717 add a note to the impacted resources
  articles/active-directory/reports-monitoring/howto-use-recommendations.md
Labels: Change sent to author, active-directory/svc, do-not-merge, report-monitor/subsvc, aq-pr-triaged

#107742 Array modifications
  articles/cognitive-services/openai/includes/chat-completion.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, qualifies-for-auto-merge

#107747 Added "whether"
  articles/cognitive-services/openai/concepts/understand-embeddings.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, openai/subsvc, qualifies-for-auto-merge

#107740 Grammatical improvements and end link creation for the 3 Create-source articles
  articles/azure-maps/create-data-source-android-sdk.md
  articles/azure-maps/create-data-source-ios-sdk.md
  articles/azure-maps/create-data-source-web-sdk.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#107765 Update licensing-groups-migrate-users.md
  articles/active-directory/enterprise-users/licensing-groups-migrate-users.md
Labels: Change sent to author, active-directory/svc, do-not-merge, enterprise-users/subsvc, qualifies-for-auto-merge

#107801 Improve grammar in Data-driven Style Expressions (Web SDK)
  articles/azure-maps/data-driven-style-expressions-web-sdk.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#107777 Only APIM Gateway endpoint supports inbound Private Link connection.
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#107438 Add usage pattern for on-prem with cloud extension
  articles/machine-learning/how-to-attach-kubernetes-anywhere.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge

#107771 Update licensing-service-plan-reference.md
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, active-directory/svc, do-not-merge, aq-pr-triaged, enterprise-users/subsvc, qualifies-for-auto-merge

#107465 Documented usage of shared memory configuration in AzureML job.
  articles/machine-learning/reference-yaml-job-command.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#107789 Update Jira Supported Version 9.7.0
  articles/active-directory/saas-apps/ms-confluence-jira-plugin-adminguide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107788 Update Supported versions of JIRA
  articles/active-directory/saas-apps/jiramicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107681 Updated the note for custom sync rule for AAD Connect
  articles/active-directory/governance/how-to-lifecycle-workflow-sync-attributes.md
Labels: Change sent to author, active-directory/svc, do-not-merge, compliance/subsvc, aq-pr-triaged

#107822 Minor grammatical updates to the display features SDK articles
  articles/azure-maps/display-feature-information-android.md
  articles/azure-maps/display-feature-information-ios-sdk.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#107813 Update start-virtual-machine-connect.md
  articles/virtual-desktop/start-virtual-machine-connect.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#107840 Update overview.md
  articles/azure-resource-manager/bicep/overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#107825 Update enable-managed-snat-for-workloads.md
  articles/azure-vmware/enable-managed-snat-for-workloads.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#107820 Update Non compliance example
  includes/resource-graph/samples/bycat/azure-policy.md
Labels: Change sent to author, ready-to-merge, resource-graph/svc, aq-pr-triaged, qualifies-for-auto-merge

#107823 Update dotnet.md
  articles/cognitive-services/openai/includes/dotnet.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, docs-editor-pilot, openai/subsvc, qualifies-for-auto-merge

#106301 Update Cleate a local network gateway
  articles/vpn-gateway/bgp-howto.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#107866 Drawing conversion error codes
  articles/azure-maps/drawing-conversion-error-codes.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#107863 Update waf-front-door-custom-rules.md
  articles/web-application-firewall/afds/waf-front-door-custom-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, qualifies-for-auto-merge

#107411 Update advisor-cost-recommendations.md
  articles/advisor/advisor-cost-recommendations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107878 Fix typo
  articles/confidential-computing/skr-flow-confidential-containers-azure-container-instance.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, confidential-computing/subsvc, qualifies-for-auto-merge

#107837 Update az cli (aks-preview) extensions version to latest
  articles/azure-monitor/essentials/prometheus-metrics-enable.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107868 Error Drawing Visualizer - Grammatical improvements
  articles/azure-maps/drawing-error-visualizer.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#107871 Improved Acrolinx score from 90 to 100 and created end links.
  articles/azure-maps/drawing-tools-interactions-keyboard-shortcuts.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review

#107780 Update create-automation-tasks-azure-resources.md
  articles/logic-apps/create-automation-tasks-azure-resources.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#107879 Fix typo
  articles/sentinel/data-connectors/github-using-webhooks-using-azure-function.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#107891 Typo "Azure DB for MariaDB"→"Azure Database for MariaDB"
  articles/mariadb/quickstart-create-mariadb-server-database-arm-template.md
Labels: Change sent to author, do-not-merge, mariadb/svc, qualifies-for-auto-merge

#107900 Update generalize.md
  articles/virtual-machines/generalize.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, imaging/subsvc, qualifies-for-auto-merge

#107919 systemctl should be lowercase
  articles/cosmos-db/nosql/migrate-data-striim.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge, nosql/subsvc

#107918 Changed systemctl, should not be in caps
  articles/cosmos-db/cassandra/migrate-data-striim.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge, apache-cassandra/subsvc

#107912 Aligning with Bash style guide
  articles/aks/csi-migrate-in-tree-volumes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#107697 Update send-email-net.md
  articles/communication-services/quickstarts/email/includes/send-email-net.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#106559 Update azure-vmware-solution-platform-updates.md
  articles/azure-vmware/azure-vmware-solution-platform-updates.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#90098 Update index.yml (Typo "Postgres versions"→"PostgreSQL versions")
  articles/postgresql/flexible-server/index.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged

#106144 Update how-to-configure-ssl.md
  articles/mysql/single-server/how-to-configure-ssl.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#107873 fix typos in "Event scheduling" section of "Azure Metadata Service: Scheduled Events for Windows VMs"
  articles/virtual-machines/windows/scheduled-events.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, scheduled-events/subsvc, qualifies-for-auto-merge

#107942 Align with bash design guidelines
  articles/mysql/single-server/how-to-connect-with-managed-identity.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#107940 geofence-geojson: Grammar improvements. Increased Acrolinx score from 82 to 100.
  articles/azure-maps/geofence-geojson.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge

#107913 Aligning with Bash style guide
  articles/aks/csi-secrets-store-identity-access.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107772 Update dynatrace-create.md
  articles/partner-solutions/dynatrace/dynatrace-create.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107949 Update howto-mfa-nps-extension-rdg.md
  articles/active-directory/authentication/howto-mfa-nps-extension-rdg.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107948 Update how-to-mfa-number-match.md
  articles/active-directory/authentication/how-to-mfa-number-match.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107560 Update how-to-authentication-methods-manage.md
  articles/active-directory/authentication/how-to-authentication-methods-manage.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106782 Updated mistaken parameter template
  articles/automanage/virtual-machines-custom-profile.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, automanage/svc, qualifies-for-auto-merge

#107861 Update virtual-machine-scale-sets-automatic-upgrade.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, automatic-os-upgrade/subsvc, qualifies-for-auto-merge

#107986 Aligning with Bash style guide
  articles/service-fabric/service-fabric-best-practices-security.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, qualifies-for-auto-merge

#107875 small tweeks to a few articles
  articles/container-apps/disaster-recovery.md
  articles/container-apps/networking.md
  articles/container-apps/quotas.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#107791 Update scenario-desktop-acquire-token-wam.md
  articles/active-directory/develop/scenario-desktop-acquire-token-wam.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, needs-human-review

#107963 Corrects syntax errors in code sample
  articles/container-apps/workload-profiles-manage-cli.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#108021 Update concepts-identity.md
  articles/azure-vmware/concepts-identity.md
Labels: Change sent to author, ready-to-merge, azure-vmware/svc, qualifies-for-auto-merge

#108022 Update concepts-identity.md
  articles/azure-vmware/concepts-identity.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, qualifies-for-auto-merge

#107776 Update generalize.md
  articles/virtual-machines/generalize.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, imaging/subsvc

#107977 Remove an outdated sentence
  articles/spring-apps/how-to-deploy-in-azure-virtual-network.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, spring-apps/svc, qualifies-for-auto-merge

#107760 Update version in URL of Tanzu components
  articles/spring-apps/how-to-enterprise-service-registry.md
  articles/spring-apps/how-to-use-application-live-view.md
  articles/spring-apps/how-to-use-enterprise-api-portal.md
  articles/spring-apps/how-to-use-enterprise-spring-cloud-gateway.md
  articles/spring-apps/monitor-apps-by-application-live-view.md
  articles/spring-apps/quickstart-set-request-rate-limits-enterprise.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, spring-apps/svc, qualifies-for-auto-merge

#106251 Proximity placement groups support
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, qualifies-for-auto-merge

#106067 Removed Router ASN: Unless necessary, leave the default.
  includes/virtual-wan-hub-basics.md
Labels: Change sent to author, ready-to-merge, virtual-wan/svc, aq-pr-triaged, qualifies-for-auto-merge

#107050 Update to diagnostic-logs.md for Bastion Logs
  articles/bastion/diagnostic-logs.md
Labels: Change sent to author, ready-to-merge, bastion/svc, aq-pr-triaged, qualifies-for-auto-merge

#107985 Update kubernetes-network-policies.md
  articles/virtual-network/kubernetes-network-policies.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#106950 Update reference for "list of IP Ranges"+ add new reference for US Gov
  articles/active-directory/authentication/troubleshoot-sspr-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107112 Update phone extensions support
  articles/active-directory/authentication/concept-authentication-phone-options.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107793 Update cache-store-policy.md
  articles/api-management/cache-store-policy.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#107188 Update concept-mfa-licensing.md
  articles/active-directory/authentication/concept-mfa-licensing.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107379 Update new endpoints and URL format
  articles/active-directory/authentication/howto-mfa-nps-extension.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108012 Typo "PostgresSQL"→"PostgreSQL"
  articles/postgresql/single-server/whats-happening-to-postgresql-single-server.md
Labels: Change sent to author, postgresql/svc, do-not-merge, single-server/subsvc, qualifies-for-auto-merge

#107802 Provide additional information on vulnerabilities
  articles/machine-learning/how-to-troubleshoot-environments.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc

#107311 Complete truncated sentence
  articles/azure-monitor/logs/tutorial-logs-ingestion-portal.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, qualifies-for-auto-merge

#106101 Azure Backup for SQL Server in Azure Virtual Machines became generally available
  articles/backup/backup-sql-server-azure-troubleshoot.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#107758 Minor grammar changes to how-to-mltable.md
  articles/machine-learning/how-to-mltable.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mldata/subsvc, qualifies-for-auto-merge

#107215 Update speech-synthesis-markup-structure.md
  articles/cognitive-services/Speech-Service/speech-synthesis-markup-structure.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107960 improve grammar in how-to-create-data-registries
  articles/azure-maps/how-to-create-data-registries.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge

#107954 grammar improvements in the glossary
  articles/azure-maps/glossary.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge

#107937 extend-geojson: Grammar improvements and converting to end-style links
  articles/azure-maps/extend-geojson.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#108047 Removed repeated word in sql-data-warehouse-reference-powershell-cmdlets.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-reference-powershell-cmdlets.md
Labels: Change sent to author, ready-to-merge, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#108089 Align with Bash Style guide
  articles/cloud-shell/troubleshooting.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#108075 Aligned bash style guide
  articles/container-instances/using-azure-container-registry-mi.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, qualifies-for-auto-merge

#108094 Align with bash style guide
  articles/container-instances/container-instances-managed-identity.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, qualifies-for-auto-merge

#108071 Align with bash style guide
  articles/azure-arc/servers/managed-identity-authentication.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#108080 Changed to align wit bash style guide
  articles/azure-arc/servers/plan-evaluate-on-azure-virtual-machine.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#108109 Align bash style guide
  articles/storage/files/files-troubleshoot-smb-authentication.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, qualifies-for-auto-merge

#108110 Align Bash style guide
  articles/storage/files/files-troubleshoot.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, qualifies-for-auto-merge

#108115 Align with bash style guide
  articles/storage/files/storage-files-configure-p2s-vpn-linux.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, needs-human-review

#108116 Align bash style guide
  articles/storage/files/storage-how-to-use-files-linux.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, needs-human-review

#108065 Update lifecycle-management-overview.md
  articles/storage/blobs/lifecycle-management-overview.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, qualifies-for-auto-merge

#108060 Update blob-inventory.md
  articles/storage/blobs/blob-inventory.md
Labels: Change sent to author, storage/svc, do-not-merge, blobs/subsvc

#108082 Align with bash style guide
  articles/cloud-shell/msi-authorization.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#108061 Update uninstall-azure-arc-data-controller.md
  articles/azure-arc/data/uninstall-azure-arc-data-controller.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data/subsvc, qualifies-for-auto-merge

#108108 Align with bash style guide
  articles/storage/files/files-smb-protocol.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged, needs-human-review

#108122 Removed the Vertical Autoscaling Link
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-autoscale-portal.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, autoscale/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107957 Update quickstart-create-redis-enterprise.md
  articles/azure-cache-for-redis/quickstart-create-redis-enterprise.md
Labels: Change sent to author, ready-to-merge, cache/svc, aq-pr-triaged, qualifies-for-auto-merge

#107933 Aligning with Bash style guide
  articles/hdinsight/kafka/apache-kafka-streams-api.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#108056 Packaging your WAM Application into a single file bundle
  articles/active-directory/develop/scenario-desktop-acquire-token-wam.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#107965 Improve grammar and create end-links
  articles/azure-maps/how-to-create-template.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#108156 Update how-to-migrate-from-oracle.md
  articles/postgresql/migrate/how-to-migrate-from-oracle.md
Labels: Change sent to author, postgresql/svc, do-not-merge, migration-guide/subsvc, qualifies-for-auto-merge

#107675 Grammatical improvements for 13 Creator articles
  articles/azure-maps/creator-facility-ontology.md
  articles/azure-maps/creator-geographic-scope.md
  articles/azure-maps/creator-indoor-maps.md
  articles/azure-maps/creator-long-running-operation-v2.md
  articles/azure-maps/creator-long-running-operation.md
  articles/azure-maps/drawing-package-guide.md
  articles/azure-maps/drawing-requirements.md
  articles/azure-maps/drawing-tools-events.md
  articles/azure-maps/how-to-create-custom-styles.md
  articles/azure-maps/how-to-creator-feature-stateset.md
  articles/azure-maps/how-to-creator-wayfinding.md
  articles/azure-maps/how-to-creator-wfs.md
  articles/azure-maps/how-to-dataset-geojson.md
  articles/azure-maps/tutorial-creator-indoor-maps.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#107574 fix action for updating assignment
  articles/defender-for-cloud/includes/defender-for-containers-assign-workspace-aks.md
  articles/defender-for-cloud/includes/defender-for-containers-assign-workspace-arc.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#106719 Update monitor-instances-health-check.md
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107711 Powershell command to delete multiple snapshots
  articles/storage/files/storage-snapshots-files.md
Labels: Change sent to author, storage/svc, do-not-merge, files/subsvc, aq-pr-triaged

#108143 Update the "location" parameter for restore CLI command
  articles/cosmos-db/how-to-setup-customer-managed-keys.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#107956 Update data-lake-storage-acl-powershell.md
  articles/storage/blobs/data-lake-storage-acl-powershell.md
Labels: Change sent to author, storage/svc, do-not-merge, data-lake-storage-gen2/subsvc, aq-pr-triaged

#106334 rename staticwebapps.config.json to staticwebapp.config.json
  includes/static-web-apps-nextjs-unsupported.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#108059 Update blob-inventory.md
  articles/storage/blobs/blob-inventory.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106795 Update database-azure-cosmos-db.md
  articles/static-web-apps/database-azure-cosmos-db.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#107769 Possible typo in azure-defender-storage-configure.md
  articles/storage/common/azure-defender-storage-configure.md
Labels: Change sent to author, ready-to-merge, storage/svc, common/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108180 Update nva-accelerated-connections.md
  articles/networking/nva-accelerated-connections.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, qualifies-for-auto-merge

#108191 Update howto-sspr-deployment.md
  articles/active-directory/authentication/howto-sspr-deployment.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, qualifies-for-auto-merge

#108193 Update how-provisioning-works.md
  articles/active-directory/app-provisioning/how-provisioning-works.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-provisioning/subsvc, qualifies-for-auto-merge

#108027 Clarify ErrorCode AADSTS50199
  articles/active-directory/develop/reference-aadsts-error-codes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108077 Standardize the usage of references
  articles/active-directory/develop/application-model.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108114 Add a new sub error description
  articles/active-directory/develop/reference-aadsts-error-codes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108140 Web sdk best practices
  articles/azure-maps/web-sdk-best-practices.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#107932 Aligning with Bash style guide
  articles/hdinsight/kafka/apache-kafka-producer-consumer-api.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#107930 Aligning with Bash style guide
  articles/hdinsight/hbase/apache-hbase-tutorial-get-started-linux.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#107927 Aligning with Bash style guide
  articles/hdinsight/hadoop/apache-hadoop-use-hive-curl.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#107928 Aligning with Bash style guide
  articles/hdinsight/hadoop/apache-hadoop-use-sqoop-mac-linux.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#107926 Aligning with Bash style guide
  articles/hdinsight/hdinsight-sales-insights-etl.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#107922 Aligning with Bash style guide
  articles/hdinsight/hdinsight-authorize-users-to-ambari.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#108183 some small spelling fixes.
  articles/active-directory-b2c/custom-policies-series-call-rest-api.md
  includes/active-directory-b2c-common-note-custom-policy-how-to-series.md
Labels: Change sent to author, ready-to-merge, active-directory-b2c/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge
