Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-01, with the labels that each got.

#103309 Fix typo in code snippet
  articles/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, qualifies-for-auto-merge

#103154 removing a test case that is no longer valid - hyper V server role
  articles/marketplace/azure-vm-certification-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#103284 Update troubleshoot-managed-grafana.md
  articles/managed-grafana/troubleshoot-managed-grafana.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, managed-grafana/svc, qualifies-for-auto-merge

#103297 Fix typo
  articles/sentinel/connect-log-forwarder.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#103317 Fix typo
  articles/synapse-analytics/spark/apache-spark-azure-portal-add-libraries.md
Labels: Change sent to author, ready-to-merge, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#103316 Fix typo
  articles/storage/blobs/storage-blob-inventory-report-analytics.md
Labels: Change sent to author, storage/svc, do-not-merge, blobs/subsvc, qualifies-for-auto-merge

#103318 Added 'of' to sentence for better readability.
  articles/firewall/ip-groups.md
Labels: Change sent to author, do-not-merge, firewall/svc, qualifies-for-auto-merge

#103323 typo
  articles/azure-functions/functions-reference-powershell.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#102971 Align Metric Rows Per Metric Name to Service
  articles/machine-learning/resource-limits-capacity.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103058 Update the right AuditPolicySubcategory setting
  articles/governance/policy/samples/guest-configuration-baseline-windows.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#103350 Expanding 'blob in use' error type.
  articles/marketplace/azure-vm-certification-faq.yml
Labels: Change sent to author, do-not-merge, needs-human-review

#103352 minor typo error fixed
  articles/virtual-machines/windows/client-images.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, imaging/subsvc, qualifies-for-auto-merge

#103365 Update architecture-connections.md
  articles/defender-for-iot/organizations/architecture-connections.md
Labels: Change sent to author, do-not-merge, defender-for-iot/svc, qualifies-for-auto-merge

#103349 Rephrased para for preciseness
  articles/active-directory/develop/msal-migration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103304 Update virtual-wan-global-transit-network-architecture.md
  articles/virtual-wan/virtual-wan-global-transit-network-architecture.md
Labels: Change sent to author, ready-to-merge, virtual-wan/svc, aq-pr-triaged, qualifies-for-auto-merge

#103241 Update vpn-gateway-virtual-wan-vpn-profile-intune.md
  includes/vpn-gateway-virtual-wan-vpn-profile-intune.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#102629 Update how-to-connect-staged-rollout.md
  articles/active-directory/hybrid/how-to-connect-staged-rollout.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103310 Update quickstart-devkit-mxchip-az3166-iot-hub.md
  articles/iot-develop/quickstart-devkit-mxchip-az3166-iot-hub.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, iot-develop/svc, qualifies-for-auto-merge

#103250 Fix minor typo
  articles/aks/azure-csi-blob-storage-static.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#103225 Fixed folder separating slashes
  articles/storage/blobs/data-lake-storage-best-practices.md
Labels: Change sent to author, ready-to-merge, storage/svc, data-lake-storage-gen2/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103224 Fixed list of template folders
  articles/storage/blobs/data-lake-storage-best-practices.md
Labels: Change sent to author, ready-to-merge, storage/svc, data-lake-storage-gen2/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103061 ## Storage Analytics logs (classic) - The setting for retention days …
  articles/storage/blobs/data-lake-storage-known-issues.md
Labels: Change sent to author, ready-to-merge, storage/svc, data-lake-storage-gen2/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102894 Fix typo in IoT structure example
  articles/storage/blobs/data-lake-storage-best-practices.md
Labels: Change sent to author, ready-to-merge, storage/svc, data-lake-storage-gen2/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102822 Updated waf-sentinel.md with new image for Waf detections
  articles/web-application-firewall/media/waf-sentinel/waf-detections-1.png
  articles/web-application-firewall/media/waf-sentinel/waf-detections.png
  articles/web-application-firewall/waf-sentinel.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, needs-human-review

#103145 Update support-policies.md
  articles/aks/support-policies.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#103354 Updated new deadline for ADAL Deprecation
  articles/api-management/breaking-changes/identity-provider-adal-retirement-sep-2025.md
Labels: Change sent to author, api-management/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#102052 Update container-registry-oras-artifacts.md and container-registry-oci-artifacts.md
  articles/container-registry/container-registry-oci-artifacts.md
  articles/container-registry/container-registry-oras-artifacts.md
  articles/container-registry/media/container-registry-artifacts/oras-artifact-graph.svg
Labels: Change sent to author, container-registry/svc, do-not-merge, aq-pr-triaged, needs-human-review

#103366 Update assign-roles-azure-service-principals.md
  articles/cost-management-billing/manage/assign-roles-azure-service-principals.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#103374 Updating deprecation notice
  articles/virtual-desktop/troubleshoot-insights.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#103330 Update admin-units-assign-roles.md
  articles/active-directory/roles/admin-units-assign-roles.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc, qualifies-for-auto-merge

#102229 Update callflow-for-customer-interactions-csharp.md
  articles/communication-services/quickstarts/call-automation/includes/callflow-for-customer-interactions-csharp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge, call-automation/subsvc

#101931 Typo fix - update to registration management article
  articles/notification-hubs/notification-hubs-push-notification-registration-management.md
Labels: Change sent to author, ready-to-merge, notification-hubs/svc, aq-pr-triaged, qualifies-for-auto-merge

#102725 Add note about `appgw.environment`
  articles/application-gateway/ingress-controller-install-new.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#102720 change objectId to id - Fixes #102719
  articles/application-gateway/ingress-controller-install-new.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#102439 calculation for "example 6" is not correct
  articles/application-gateway/understanding-pricing.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#101838 Update mcr.microsoft.com/dotnet/core/samples:aspnetapp to supported tag
  articles/application-gateway/ingress-controller-add-health-probes.md
  articles/application-gateway/ingress-controller-install-new.md
  articles/application-gateway/ingress-controller-troubleshoot.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#102991 Update virtual-machines-imds.md
  includes/virtual-machines-imds.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, monitoring/subsvc, qualifies-for-auto-merge

#101749 Update vpn-gateway-troubleshoot-site-to-site-disconnected-intermitten…
  articles/vpn-gateway/vpn-gateway-troubleshoot-site-to-site-disconnected-intermittently.md
Labels: Change sent to author, vpn-gateway/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#102948 Fix link to Kubernetes App Offer subpage
  articles/marketplace/marketplace-containers.md
Labels: Change sent to author, marketplace/svc, do-not-merge, aq-pr-triaged, partnercenter-marketplace-publisher/subsvc

#103021 Add expected SSO behavior for sign-in after sign-out
  articles/active-directory/develop/v2-protocols-oidc.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102593 Update how-to-log-mlflow-models.md
  articles/machine-learning/how-to-log-mlflow-models.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge

#103108 Updated the incorrect path format for datastores
  articles/machine-learning/how-to-read-write-data-v2.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mldata/subsvc, qualifies-for-auto-merge

#100211 UserAssignedIdentity -> ManagedIdentityConfiguration
  articles/machine-learning/how-to-identity-based-service-authentication.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#102376 Update how-to-interactive-jobs.md
  articles/machine-learning/how-to-interactive-jobs.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#102475 Remove previously added sentence about TRIM/UNMAP and managed disks
  articles/virtual-machines/linux/add-disk.md
Labels: Change sent to author, ready-to-merge, storage/svc, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102609 Update premium-storage-performance.md
  articles/virtual-machines/premium-storage-performance.md
Labels: Change sent to author, ready-to-merge, storage/svc, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#99608 Update concept-policies-data-owner.md
  articles/purview/concept-policies-data-owner.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, purview/svc, purview-data-policies/subsvc, qualifies-for-auto-merge

#90348 Update apiVersion for Sample App: extensions/v1beta1 -> networking.k8s.io/v1
  articles/application-gateway/ingress-controller-install-new.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged

#90346 Add a missing arg `--generate-name` to `helm install`.
  articles/application-gateway/ingress-controller-install-new.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged

#102408 Add consent methods to comparison table
  articles/active-directory/develop/permissions-consent-overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102452 Added a missing Before You Start item
  articles/defender-for-cloud/plan-defender-for-servers-scale.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#103394 Update agents-overview.md to reflect CLv2 GA
  articles/azure-monitor/agents/agents-overview.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#103411 Update selective-disk-backup-restore.md
  articles/backup/selective-disk-backup-restore.md
Labels: Change sent to author, backup/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#102997 Add internal ip alloc details as per cx request
  articles/aks/internal-lb.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#102004 storage context is not used any more
  articles/key-vault/secrets/overview-storage-keys-powershell.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, secrets/subsvc, qualifies-for-auto-merge

#103090 Update speech-container-howto.md
  articles/cognitive-services/Speech-Service/speech-container-howto.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#101273 Update onboard-enable-controller-after-onboarding.md
  articles/active-directory/cloud-infrastructure-entitlement-management/onboard-enable-controller-after-onboarding.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, ciem/subsvc, qualifies-for-auto-merge

#101994 Correct mail regex for pattern example
  articles/active-directory-b2c/claimsschema.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103428 Update rule-processing.md
  articles/firewall/rule-processing.md
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge

#103419 [Azure App Service] Enable SSH Section Refactor
  articles/app-service/configure-custom-container.md
Labels: do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#102175 Fix Max Inactive Time of persistent session tokens
  articles/active-directory/develop/active-directory-configurable-token-lifetimes.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#101422 [fix] Wrong samples operator managementState JSON path
  articles/openshift/howto-add-update-pull-secret.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#102679 Update howto-mfa-nps-extension.md
  articles/active-directory/authentication/howto-mfa-nps-extension.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103249 Update ADAL end of support dates
  articles/active-directory/azuread-dev/active-directory-authentication-libraries.md
  articles/active-directory/develop/msal-migration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103437 Fix command in OpenShift BYOK article
  articles/openshift/howto-byok.md
Labels: Change sent to author, ready-to-merge, azure-redhat-openshift/svc, qualifies-for-auto-merge

#101972 Update howto-mfa-nps-extension.md
  articles/active-directory/authentication/howto-mfa-nps-extension.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103468 fix punctuation
  articles/aks/operator-best-practices-scheduler.md
Labels: Change sent to author, container-service/svc, do-not-merge, qualifies-for-auto-merge

#90047 Update investigate-large-datasets.md
  articles/sentinel/investigate-large-datasets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, microsoft-sentinel/subsvc

#99313 Update diagnostics-container.md
  articles/cognitive-services/containers/includes/diagnostics-container.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#99141 Fixed sample json single quote
  articles/cognitive-services/language-service/conversational-language-understanding/includes/rest-api/query-model.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc, qualifies-for-auto-merge

#101220 Update groups-dynamic-rule-member-of.md
  articles/active-directory/enterprise-users/groups-dynamic-rule-member-of.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, enterprise-users/subsvc, qualifies-for-auto-merge

#102254 Updated link to ESET SMC installation instructions
  articles/sentinel/data-connectors-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc

#103477 Update migrate-to-managed-instance.md
  articles/azure-arc/data/migrate-to-managed-instance.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-data-sqlmi/subsvc, qualifies-for-auto-merge

#102870 Update Restrictions for role-assignable groups
  articles/active-directory/roles/groups-concept.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, roles/subsvc, qualifies-for-auto-merge

#101920 Recommend installing current agent v1.5.2482.0
  articles/active-directory/hybrid/how-to-connect-pta-upgrade-preview-authentication-agents.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102867 Update how-to-connect-install-prerequisites.md
  articles/active-directory/hybrid/how-to-connect-install-prerequisites.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, aq-pr-triaged

#102916 Update how-to-connect-health-agent-install.md
  articles/active-directory/hybrid/how-to-connect-health-agent-install.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103473 [Data Asset] - Add quotes to MLTable delimiter
  articles/machine-learning/how-to-create-data-assets.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mldata/subsvc, qualifies-for-auto-merge

#99225 Update data-lake-analytics-overview.md
  articles/data-lake-analytics/data-lake-analytics-overview.md
Labels: Change sent to author, data-lake-analytics/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#103246 Updated RW sidecar version to 20221103.1
  articles/azure-monitor/essentials/prometheus-remote-write-managed-identity.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, docs-editor-pilot, qualifies-for-auto-merge

#103247 Updated RW sidecar version to 20221103.1
  articles/azure-monitor/essentials/prometheus-remote-write-active-directory.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#103401 profiling: change ui terms
  articles/machine-learning/how-to-use-pipeline-ui.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103509 Fixing broken link and typo
  articles/sentinel/normalization.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#103490 Changed spelling of NYC Taxi Cab
  articles/synapse-analytics/get-started-create-workspace.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, workspace/subsvc, qualifies-for-auto-merge

#103258 Fixing the capitalization of a PowerShell comment
  articles/automation/enable-managed-identity-for-automation.md
Labels: Change sent to author, ready-to-merge, automation/svc, process-automation/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#100993 Fix command
  articles/automation/troubleshoot/update-agent-issues-linux.md
Labels: Change sent to author, automation/svc, do-not-merge, update-management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#102812 Update spot-vms.md
  articles/virtual-machines/spot-vms.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, spot/subsvc, qualifies-for-auto-merge

#102556 Update user-properties.md
  articles/active-directory/external-identities/user-properties.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103482 Update diagram for sfmc
  articles/service-fabric/media/overview-managed-cluster/sfrp-encapsulated-resource.png
Labels: Change sent to author, service-fabric/svc, do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#101742 Rephrasing first sentence
  articles/active-directory/authentication/concept-certificate-based-authentication-certificateuserids.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103524 Update migrate-from-federation-to-cloud-authentication.md
  articles/active-directory/hybrid/migrate-from-federation-to-cloud-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge

#102838 When using the service tag for SQL, it should be mixed case ```Sql```.
  articles/api-management/virtual-network-reference.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#103493 Fix code example errors
  articles/azure-maps/how-to-use-ios-map-control-library.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge

#97757 autovacuum
  articles/postgresql/flexible-server/how-to-autovacuum-tuning.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc

#103441 Update azure-ad-authentication.md
  articles/azure-monitor/app/azure-ad-authentication.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge

#103500 Clarify the required roles for creating the SP
  articles/confidential-computing/quick-create-confidential-vm-arm-amd.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, confidential-computing/subsvc, qualifies-for-auto-merge

#103433 Update uninstall step with DCRA removal text
  articles/azure-monitor/essentials/prometheus-metrics-enable.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#102664 Update python-sdk.md
  articles/cognitive-services/language-service/summarization/includes/quickstarts/python-sdk.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, language-service/subsvc, qualifies-for-auto-merge

#103560 Fix typos
  articles/cosmos-db/distributed-nosql.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#103558 Update implementation-success-assess-environment.md
  articles/synapse-analytics/guidance/implementation-success-assess-environment.md
Labels: Change sent to author, do-not-merge, review-team-triage, synapse-analytics/svc, qualifies-for-auto-merge

#103549 Update tutorial-blazor-server.md
  articles/active-directory/develop/tutorial-blazor-server.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, qualifies-for-auto-merge

#103604 update whats-new.md with new pricing
  articles/cognitive-services/Anomaly-Detector/whats-new.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, anomaly-detector/subsvc, qualifies-for-auto-merge

#103487 Update consistency-levels for Session Consistency
  articles/cosmos-db/consistency-levels.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#103582 Display name has to be unique
  articles/active-directory/governance/trigger-custom-task.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, qualifies-for-auto-merge

#102718 Update ddos-protection-overview.md
  articles/ddos-protection/ddos-protection-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, ddos-protection/svc, qualifies-for-auto-merge

#102389 Update Session Consistency Level explanation
  articles/cosmos-db/consistency-levels.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#103610 Fix capitalization
  articles/postgresql/single-server/overview-single-server.md
Labels: Change sent to author, postgresql/svc, do-not-merge, single-server/subsvc, qualifies-for-auto-merge

#103619 Update protect-against-consent-phishing.md
  articles/active-directory/manage-apps/protect-against-consent-phishing.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, app-mgmt/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103593 Update azure-app-configuration-role-assignment.md
  includes/azure-app-configuration-role-assignment.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge

#102450 Updating Datadog documentation in line with new Liftr Branding
  articles/partner-solutions/datadog/create.md
  articles/partner-solutions/datadog/get-support.md
  articles/partner-solutions/datadog/index.yml
  articles/partner-solutions/datadog/link-to-existing-organization.md
  articles/partner-solutions/datadog/manage.md
  articles/partner-solutions/datadog/overview.md
  articles/partner-solutions/datadog/prerequisites.md
  articles/partner-solutions/datadog/troubleshoot.md
  articles/partner-solutions/dynatrace/dynatrace-troubleshoot.md
  articles/partner-solutions/elastic/troubleshoot.md
  articles/partner-solutions/logzio/troubleshoot.md
Labels: do-not-merge, aq-pr-triaged

#102910 Added Hugo with app artifact location
  articles/static-web-apps/front-end-frameworks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#103130 Edited wording to relate to the "app artifact location" header of the table
  articles/static-web-apps/front-end-frameworks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#103580 Update vpn-gateway-troubleshoot-site-to-site-cannot-connect.md
  articles/vpn-gateway/vpn-gateway-troubleshoot-site-to-site-cannot-connect.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#103140 Updating to reflect frequency of stateless alert alerts
  articles/azure-monitor/alerts/alerts-troubleshoot-metric.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged

#103659 Fixed typo in description
  articles/azure-vmware/attach-azure-netapp-files-to-azure-vmware-solution-hosts.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, qualifies-for-auto-merge

#101618 Small updates to issuance-request-api.md
  articles/active-directory/verifiable-credentials/issuance-request-api.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, verifiable-credentials/subsvc, decentralized-identity/svc, qualifies-for-auto-merge

#103635 Typo in refresh_token_lifetime_secs
  articles/active-directory-b2c/configure-tokens.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103157 (`object-array.md`): fix indentation
  articles/cosmos-db/nosql/query/object-array.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, nosql/subsvc

#103094 Update API type
  articles/cosmos-db/monitor-resource-logs.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#101146 Removed invalid metric from applicationGateways
  articles/azure-monitor/essentials/metrics-supported.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#103676 Update azure-monitor-agent-windows-client.md
  articles/azure-monitor/agents/azure-monitor-agent-windows-client.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, agents/subsvc

#102279 Update tutorial-docker-compose.md
  articles/container-instances/tutorial-docker-compose.md
Labels: Change sent to author, container-instances/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#99627 Update to reflect new constrained cores Sizes
  articles/virtual-machines/hbv2-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#103694 Mistake on word "Java code" under Python section
  articles/cosmos-db/configure-synapse-link.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#103706 Update private-dns-virtual-network-links.md / Wording correction
  articles/dns/private-dns-virtual-network-links.md
Labels: Change sent to author, dns/svc, do-not-merge, qualifies-for-auto-merge

#102507 Name of the system-assigned identity
  articles/active-directory/managed-identities-azure-resources/overview.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, msi/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103678 Special characters + and # not supported for device ID
  articles/iot-hub/iot-hub-devguide-identity-registry.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#103646 Update license-users-groups.md
  articles/active-directory/fundamentals/license-users-groups.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103656 How to remediate through Graph when not in UX
  articles/active-directory/identity-protection/troubleshooting-identity-protection-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#103156 Modify for "Restrict non-admin users"
  articles/active-directory/fundamentals/users-default-permissions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103675 Sweep Doc modifications for defaults and descriptions
  articles/machine-learning/how-to-tune-hyperparameters.md
  articles/machine-learning/reference-yaml-job-sweep.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103665 Update protect-against-consent-phishing.md
  articles/active-directory/manage-apps/protect-against-consent-phishing.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103407 Fix: Destination IP should be different for SNAT port reuse
  articles/virtual-network/nat-gateway/nat-gateway-resource.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, nat/subsvc, qualifies-for-auto-merge

#103730 Update with timeline alignment
  articles/active-directory/fundamentals/whats-new.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103692 Update search-security-overview.md
  articles/search/search-security-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cognitive-search/svc, qualifies-for-auto-merge

#103719 Update HC Series to reflect Constrained Cores
  articles/virtual-machines/hc-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#103731 Update quickstart-onboard-github.md
  articles/defender-for-cloud/quickstart-onboard-github.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#103729 Update defender-for-devops-introduction.md - Adding GitHub explicitly for limits
  articles/defender-for-cloud/defender-for-devops-introduction.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#103732 remove Windows containers restriction from doc azure-cni-overlay.md
  articles/aks/azure-cni-overlay.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#103396 profiler-troubleshooting.md: add note about consumption plan not being supported
  articles/azure-monitor/profiler/profiler-troubleshooting.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, qualifies-for-auto-merge, profiler/subsvc

#103764 Updating Use and Display Requirements
  articles/cognitive-services/Bing-Web-Search/use-display-requirements.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, bing-web-search/subsvc, aq-pr-triaged, needs-human-review

#97432 Update license-spacecraft.md
  articles/orbital/license-spacecraft.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, orbital/svc

#103727 Update node-updates-kured.md
  articles/aks/node-updates-kured.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#103738 Update howto-configure-publisher-domain.md
  articles/active-directory/develop/howto-configure-publisher-domain.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103772 Rectify syntax for setProperty for child property
  articles/logic-apps/workflow-definition-language-functions-reference.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, qualifies-for-auto-merge

#103776 Update prepare-network.md
  articles/orbital/prepare-network.md
Labels: Change sent to author, do-not-merge, orbital/svc, qualifies-for-auto-merge

#102095 Update how-to-connect-group-writeback-v2.md
  articles/active-directory/hybrid/how-to-connect-group-writeback-v2.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, aq-pr-triaged

#102096 Update how-to-connect-group-writeback-enable.md
  articles/active-directory/hybrid/how-to-connect-group-writeback-enable.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#103777 Update microsoft-common-dropdown.md
  articles/azure-resource-manager/managed-applications/microsoft-common-dropdown.md
Labels: Change sent to author, ready-to-merge, managed-applications/svc, aq-pr-triaged, qualifies-for-auto-merge

#103768 Update how-to-convert-custom-model-to-mlflow.md
  articles/machine-learning/how-to-convert-custom-model-to-mlflow.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, mlops/subsvc, qualifies-for-auto-merge
