Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-05, with the labels that each got.

#108889 [Doc-A-thon] Updating code blocks
  articles/migrate/prepare-for-agentless-migration.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#108920 Fixed link and improved Reader role naming
  articles/defender-for-cloud/regulatory-compliance-dashboard.md
Labels: Change sent to author, ready-to-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#108611 Update troubleshoot guide
  articles/load-balancer/load-balancer-troubleshoot.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, aq-pr-triaged, qualifies-for-auto-merge

#108931 Update concepts-backup.md
  articles/mariadb/concepts-backup.md
Labels: Change sent to author, do-not-merge, mariadb/svc, qualifies-for-auto-merge

#108891 Update faq.md
  articles/aks/faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#108886 Update speech-container-howto-on-premises.md
  articles/cognitive-services/Speech-Service/speech-container-howto-on-premises.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#108941 Add ToU service limits
  includes/active-directory-service-limits-include.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, qualifies-for-auto-merge

#104653 Update cdn-overview.md
  articles/web-application-firewall/cdn/cdn-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, qualifies-for-auto-merge

#108953 Update vmware-software-versions.md
  articles/azure-vmware/includes/vmware-software-versions.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, qualifies-for-auto-merge

#108957 Fix typo and double spaces on ADF documentation
  articles/data-factory/concepts-integration-runtime-performance.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-flows/subsvc, qualifies-for-auto-merge

#105388 Typo fix for omsremediate id parameter
  articles/governance/policy/samples/guest-configuration-baseline-linux.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#104995 Correct redirecting for "Retrieve image data"
  articles/kinect-dk/index.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#106815 Added premium/dedicated tier retention period limit
  articles/event-hubs/event-hubs-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#108784 Update container-insights-cost.md
  articles/azure-monitor/containers/container-insights-cost.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#108921 ASGI-compatible frameworks
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#98131 Added 'helm repo update' after 'helm repo add'
  articles/aks/ingress-basic.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged

#108746 Update availability.md for Azure API Management Private Link general availability
  articles/private-link/availability.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#106766 Change wording on how to install agent
  articles/azure-monitor/agents/azure-monitor-agent-windows-client.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#90692 updates to index.yml
  articles/purview/index.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#104566 Adding notes InterComputeNodeCommunication
  articles/batch/batch-mpi.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged

#104984 Update create-pool-extension.md
  articles/batch/create-pool-extensions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#107150 Update Go version
  articles/app-service/quickstart-golang.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#105754 Update quickstart-wordpress.md
  articles/app-service/quickstart-wordpress.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#106777 Update app-service-key-vault-references.md
  articles/app-service/app-service-key-vault-references.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#105821 Fixes wrong attribute usage
  articles/azure-functions/durable/durable-functions-bindings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#107921 Aligning with Bash style guide
  articles/hdinsight/find-host-name.md
Labels: Change sent to author, hdinsight/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#108830 Fixed Bug for MSI Examples
  articles/api-management/api-management-howto-log-event-hubs.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#108589 Update api-management-howto-integrate-internal-vnet-appgateway.md
  articles/api-management/api-management-howto-integrate-internal-vnet-appgateway.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#108209 Update app-service-key-vault-references.md
  articles/app-service/app-service-key-vault-references.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#105179 Update deploy-control-plane.md
  articles/sap/automation/deploy-control-plane.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-automation/subsvc

#105195 Update deploy-control-plane.md
  articles/sap/automation/deploy-control-plane.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-automation/subsvc

#108768 Update hana-get-started.md
  articles/sap/workloads/hana-get-started.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, sap-on-azure/svc, sap-vm-workloads/subsvc

#106386 Update quickstart-onboard-gcp.md
  articles/defender-for-cloud/quickstart-onboard-gcp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#106385 Update plan-defender-for-servers-data-workspace.md
  articles/defender-for-cloud/plan-defender-for-servers-data-workspace.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc

#107258 Update integration-defender-for-endpoint.md
  articles/defender-for-cloud/integration-defender-for-endpoint.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#104672 Update deploy-vulnerability-assessment-vm.md
  articles/defender-for-cloud/deploy-vulnerability-assessment-vm.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#108743 Fix confusion between two attributes
  articles/active-directory/external-identities/user-properties.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2B/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109027 fix addon name typo in confidential-nodes-aks-overview.md
  articles/confidential-computing/confidential-nodes-aks-overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, confidential-computing/svc

#106531 replaced name of workbook
  articles/sentinel/sap/sap-audit-log-workbook.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#108485 Update licensing.md
  articles/virtual-desktop/remote-app-streaming/licensing.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#109014 Spelling correction
  articles/azure-monitor/app/javascript-sdk.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#108817 Add note regarding SSO interruption for B2B
  articles/active-directory/authentication/howto-authentication-use-email-signin.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, aq-pr-triaged

#108360 Replace incorrect test cmdlet for proxy service install
  articles/active-directory/authentication/howto-password-ban-bad-on-premises-deploy.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged

#108631 Update concept-authentication-strengths.md know issue fixed
  articles/active-directory/authentication/concept-authentication-strengths.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105916 Update ip-addresses.md
  articles/azure-functions/ip-addresses.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#108072 Merged code boxes for easier use
  articles/azure-functions/functions-machine-learning-tensorflow.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#109019 docs: fix typo in `LeastConnection`
  articles/aks/configure-kube-proxy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#108819 Added in Azure Files as supported
  articles/storage/common/storage-solution-large-dataset-low-network.md
  articles/storage/common/storage-solution-large-dataset-moderate-high-network.md
Labels: Change sent to author, storage/svc, do-not-merge, blobs/subsvc, aq-pr-triaged

#105950 fix(code docs): use jobId instead of machineId
  articles/azure-functions/durable/durable-functions-overview.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#106707 Fix powershell multi-line command
  articles/virtual-machines/windows/proximity-placement-groups.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, proximity-placement-groups/subsvc, qualifies-for-auto-merge

#108960 Update concepts-limits.md
  articles/cosmos-db/concepts-limits.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#109067 Update concepts-limits.md
  articles/cosmos-db/concepts-limits.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge

#109038 Duplicated lines in SKU differences table
  articles/ddos-protection/ddos-protection-sku-comparison.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, ddos-protection/svc, qualifies-for-auto-merge

#107359 app gw / letsencrypt: fix indentation
  articles/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged

#107621 Removed extra apiVersion from the documentation
  articles/application-gateway/ingress-controller-annotations.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#107483 fix instruction of name of DNS Zone
  articles/dns/dns-delegate-domain-azure-dns.md
Labels: Change sent to author, ready-to-merge, dns/svc, aq-pr-triaged, qualifies-for-auto-merge

#108709 Update ingress-how-to.md
  articles/container-apps/ingress-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#108645 Update bitbucket.md
  articles/static-web-apps/bitbucket.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#109055 Render unification migrate bing web service
  articles/azure-maps/media/migrate-bing-maps-web-service/azure-maps-static-map-line.jpg
  articles/azure-maps/media/migrate-bing-maps-web-service/azure-maps-static-map-multiple-pins.jpg
  articles/azure-maps/media/migrate-bing-maps-web-service/azure-maps-static-map-pin.jpg
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#109006 New images for the 'migrate from Bing Maps' tutorial.
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-add-custom-marker.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-add-pushpin.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-clustering.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-drawing-tools.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-ground-overlay.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-heatmap.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-kml.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-line.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-load-map.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-polygon.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-popup.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-set-map-view.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-traffic-popup.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-traffic.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/azure-maps-weighted-heatmap.jpg
  articles/azure-maps/media/migrate-bing-maps-web-app/bing-maps-localized-map.jpg
  articles/azure-maps/migrate-from-bing-maps-web-app.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#109128 Update onboard-service-principal.md
  articles/azure-arc/servers/onboard-service-principal.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#109137 Add RBAC Role for disconnecting Arc-enabled server
  articles/azure-arc/servers/manage-agent.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#109148 Update firewall-structured-logs.md
  articles/firewall/firewall-structured-logs.md
Labels: Change sent to author, do-not-merge, firewall/svc, qualifies-for-auto-merge

#91516 AKS: Fix incorrect minimum value
  articles/aks/custom-node-configuration.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#103064 Update vpn-gateway-howto-aws-bgp.md
  articles/vpn-gateway/vpn-gateway-howto-aws-bgp.md
Labels: Change sent to author, ready-to-merge, vpn-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#91573 Updating containerLogMaxSizeMB default to 50MB
  articles/aks/custom-node-configuration.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged, azure-kubernetes-service/svc

#109020 Added a section for .Net Nuget package dependencies
  articles/active-directory/develop/msal-net-migration.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109099 Updated 3 Azure Maps screenshots for the migrate google web services tutrorial
  articles/azure-maps/media/migrate-google-maps-web-services/azure-maps-marker.png
  articles/azure-maps/media/migrate-google-maps-web-services/azure-maps-multiple-markers.png
  articles/azure-maps/media/migrate-google-maps-web-services/azure-maps-polyline.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#109047 Update Azure Maps screenshots in the migrate from google tutorial.
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-clustering.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-clustering.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-custom-html-marker.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-custom-html-marker.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-custom-icon-symbol-layer.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-custom-icon-symbol-layer.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-geojson.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-geojson.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-heatmap.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-heatmap.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-html-marker.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-html-marker.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-image-overlay.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-image-overlay.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-kml.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-localization.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-localization.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-polygon.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-polygon.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-polyline.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-polyline.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-popup.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-popup.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-set-view.jpeg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-set-view.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-symbol-layer.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-symbol-layer.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-tile-layer.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-tile-layer.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-traffic-incident.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-traffic-incident.png
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-traffic.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/azure-maps-traffic.png
  articles/azure-maps/media/migrate-google-maps-web-app/simple-azure-maps.jpg
  articles/azure-maps/media/migrate-google-maps-web-app/simple-azure-maps.png
  articles/azure-maps/migrate-from-google-maps-web-app.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#109101 Updated images for Azure Maps supported styles article.
  articles/azure-maps/media/supported-map-styles/grayscale-dark.png
  articles/azure-maps/media/supported-map-styles/grayscale-light.jpg
  articles/azure-maps/media/supported-map-styles/high-contrast-dark.png
  articles/azure-maps/media/supported-map-styles/high-contrast-light.jpg
  articles/azure-maps/media/supported-map-styles/night.PNG
  articles/azure-maps/media/supported-map-styles/road.png
  articles/azure-maps/media/supported-map-styles/satellite-road-labels.png
  articles/azure-maps/media/supported-map-styles/satellite.png
  articles/azure-maps/media/supported-map-styles/shaded-relief.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#109103 Updated images for how-to-use-map-control article.
  articles/azure-maps/media/how-to-use-map-control/map-of-seattle.png
  articles/azure-maps/media/how-to-use-map-control/websdk-localization.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#108087 [AKS Best Security Practices] Remove confusing note about using Pod Identity instead of blocking the Instance Metadata API
  articles/aks/operator-best-practices-cluster-security.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#109193 Fix typo
  articles/hdinsight/interactive-query/apache-hive-migrate-workloads.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#109182 Clarification for Subnet Delegation
  articles/api-management/virtual-network-concepts.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#109184 Added Clarity about Outbound PE Connectivity
  includes/api-management-private-endpoint.md
Labels: Change sent to author, api-management/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#109212 Include Markdown in the GitHub language breakdown
  .gitattributes
Labels: do-not-merge, aq-pr-triaged, needs-human-review

#108261 [Azure Batch] Added documentation for Python for Ephemeral OS disks
  articles/batch/create-pool-ephemeral-os-disk.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#109223 BTP solution migration to unlimited public preview
  articles/sentinel/sap/deploy-sap-btp-solution.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#109166 Simplifying execution steps
  articles/cosmos-db/how-to-migrate-desktop-tool.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, nosql/subsvc

#109180 Updated the JavaScript / stored procedure sample code
  articles/cosmos-db/partial-document-update-getting-started.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, nosql/subsvc

#109238 Update reply-url.md
  articles/active-directory/develop/reply-url.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109243 Update run-command.md
  articles/virtual-machines/windows/run-command.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#109281 Update howto-authentication-methods-activity.md
  articles/active-directory/authentication/howto-authentication-methods-activity.md
Labels: Change sent to author, active-directory/svc, do-not-merge, authentication/subsvc, needs-human-review

#109296 Update enable-vulnerability-assessment-agentless.md
  articles/defender-for-cloud/enable-vulnerability-assessment-agentless.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#109298 Revert "BTP solution migration to unlimited public preview"
  articles/sentinel/sap/deploy-sap-btp-solution.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#109008 Update dms-overview.md
  articles/dms/dms-overview.md
Labels: Change sent to author, ready-to-merge, dms/svc, aq-pr-triaged, qualifies-for-auto-merge

#109110 Add a statement to explicitly explain that ARO does not support windo…
  articles/openshift/openshift-service-definitions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#109251 Update vmware-software-versions.md
  articles/azure-vmware/includes/vmware-software-versions.md
Labels: Change sent to author, do-not-merge, review-team-triage, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#109255 Update author for iOS articles.
  articles/azure-maps/add-bubble-layer-map-ios.md
  articles/azure-maps/add-controls-map-ios.md
  articles/azure-maps/add-heat-map-layer-ios.md
  articles/azure-maps/add-image-layer-map-ios.md
  articles/azure-maps/add-line-layer-map-ios.md
  articles/azure-maps/add-polygon-extrusion-layer-map-ios.md
  articles/azure-maps/add-polygon-layer-map-ios.md
  articles/azure-maps/add-symbol-layer-ios.md
  articles/azure-maps/add-tile-layer-map-ios.md
  articles/azure-maps/how-to-use-indoor-module-ios.md
  articles/azure-maps/how-to-use-ios-map-control-library.md
  articles/azure-maps/quick-ios-app.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#109256 Update author for android articles.
  articles/azure-maps/android-map-add-line-layer.md
  articles/azure-maps/android-map-events.md
  articles/azure-maps/display-feature-information-android.md
  articles/azure-maps/how-to-add-shapes-to-android-map.md
  articles/azure-maps/how-to-add-symbol-to-android-map.md
  articles/azure-maps/how-to-add-tile-layer-android-map.md
  articles/azure-maps/how-to-show-traffic-android.md
  articles/azure-maps/how-to-use-android-map-control-library.md
  articles/azure-maps/map-add-bubble-layer-android.md
  articles/azure-maps/map-add-controls-android.md
  articles/azure-maps/map-add-heat-map-layer-android.md
  articles/azure-maps/map-add-image-layer-android.md
  articles/azure-maps/map-extruded-polygon-android.md
  articles/azure-maps/migrate-from-google-maps-android-app.md
  articles/azure-maps/quick-android-map.md
  articles/azure-maps/set-android-map-styles.md
  articles/azure-maps/tutorial-load-geojson-file-android.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#109169 updated screenshot
  articles/azure-maps/media/create-data-source-web-sdk/multiple-layers-one-datasource.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#109119 Test PR2
  articles/baremetal-infrastructure/workloads/nc2-on-azure/faq.md
  articles/baremetal-infrastructure/workloads/nc2-on-azure/solution-design.md
Labels: do-not-merge, aq-pr-triaged

#104406 Update node-auto-repair.md
  articles/aks/node-auto-repair.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-kubernetes-service/svc

#108096 Align with bash style guide
  articles/container-registry/container-registry-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#105139 Update usage-estimated-costs.md
  articles/azure-monitor/usage-estimated-costs.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, general/subsvc

#105270 Update data-platform-metrics.md
  articles/azure-monitor/essentials/data-platform-metrics.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#109040 Adding US Gov Virginia and Switzerland North AZs
  includes/azure-app-configuration-availability-zones.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge

#109069 Update how-to-integrate-storage-blob.md
  articles/service-connector/how-to-integrate-storage-blob.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, service-connector/svc, qualifies-for-auto-merge

#108073 Aligned with bash style guide
  articles/azure-monitor/containers/container-insights-optout-hybrid.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#108969 Fix system log data table name
  articles/container-apps/log-monitoring.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc

#109044 Update tutorial-logs-ingestion-portal.md
  articles/azure-monitor/logs/tutorial-logs-ingestion-portal.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged

#109312 Remove elevation service references from Azure Maps articles #2
  articles/azure-maps/migrate-from-bing-maps-web-services.md
  articles/azure-maps/migrate-from-bing-maps.md
  articles/azure-maps/migrate-from-google-maps-web-app.md
  articles/azure-maps/migrate-from-google-maps-web-services.md
  articles/azure-maps/migrate-from-google-maps.md
Labels: ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#107031 Added link about DCR for Security Events
  articles/azure-monitor/faq.yml
  articles/azure-monitor/logs/tutorial-logs-ingestion-portal.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#108038 [ACR] Update container-registry-private-link.md
  articles/container-registry/container-registry-private-link.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#109271 Update reference-error-codes.md
  articles/active-directory/develop/reference-error-codes.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109301 Update prometheus-remote-write-managed-identity.md
  articles/azure-monitor/essentials/prometheus-remote-write-managed-identity.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#109143 Update backup-azure-microsoft-azure-backup.md
  articles/backup/backup-azure-microsoft-azure-backup.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#109078 specify current limitation
  articles/active-directory/develop/scenario-web-api-call-api-app-configuration.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106291 Update manage-soc-with-incident-metrics.md
  articles/sentinel/manage-soc-with-incident-metrics.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#109295 Update private-clusters.md
  articles/aks/private-clusters.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#109325 Update to use the latest aks-preview version for the Azure Monitor Metrics addon
  articles/azure-monitor/essentials/prometheus-metrics-enable.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#109318 Update to correct "captions" to "caption"
  articles/cognitive-services/Computer-vision/how-to/call-analyze-image-40.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, computer-vision/subsvc, review-team-triage, qualifies-for-auto-merge

#109338 Update functions-sign-in-vs-code.md (typo)
  includes/functions-sign-in-vs-code.md
Labels: do-not-merge, qualifies-for-auto-merge

#109342 Update partner-events-overview.md
  articles/event-grid/partner-events-overview.md
Labels: Change sent to author, event-grid/svc, do-not-merge, qualifies-for-auto-merge

#109353 Update file-upload-node.md
  articles/iot-hub/file-upload-node.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#109167 Fixed error in code sample.
  articles/azure-maps/create-data-source-web-sdk.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#108736 Render unification image updates #1
  articles/azure-maps/media/quick-demo-map-app/interactive-search.png
  articles/azure-maps/media/tutorial-create-store-locator/finished-simple-store-locator-mobile.png
  articles/azure-maps/media/tutorial-create-store-locator/finished-simple-store-locator.png
  articles/azure-maps/media/tutorial-create-store-locator/store-locator-wireframe-mobile.png
  articles/azure-maps/media/tutorial-create-store-locator/store-locator-wireframe.png
  articles/azure-maps/media/tutorial-prioritized-routes/basic-map.png
  articles/azure-maps/media/tutorial-prioritized-routes/pins-map.png
  articles/azure-maps/media/tutorial-prioritized-routes/prioritized-routes.png
  articles/azure-maps/media/tutorial-prioritized-routes/traffic-map.png
  articles/azure-maps/media/tutorial-route-location/basic-map.png
  articles/azure-maps/media/tutorial-route-location/map-pins.png
  articles/azure-maps/media/tutorial-route-location/map-route.png
  articles/azure-maps/media/tutorial-search-location/basic-map.png
  articles/azure-maps/media/tutorial-search-location/pins-map.png
  articles/azure-maps/media/tutorial-search-location/popup-map.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#109185 Remove duplicate link from Azure Functions Powershell documentation
  articles/azure-functions/create-resources-azure-powershell.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#102462 Update CBA enablement on Azure Portal
  articles/active-directory/authentication/certificate-based-authentication-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#109366 Updated style picker images used in article: Change the style of the map.
  articles/azure-maps/media/choose-map-style/style-picker-icon-layout.png
  articles/azure-maps/media/choose-map-style/style-picker-list-layout.png
Labels: do-not-merge, review-team-triage, needs-human-review

#109382 Fix repetition error
  articles/app-service/scripts/terraform-secure-backend-frontend.md
Labels: Change sent to author, ready-to-merge, app-service/svc, qualifies-for-auto-merge

#109400 Update quickstart-multi-container.md
  articles/app-service/quickstart-multi-container.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#109306 Update manage-data-sources.md
  articles/purview/manage-data-sources.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, purview/svc, purview-data-map/subsvc, qualifies-for-auto-merge

#109117 Update stream-analytics-quick-create-powershell.md
  articles/stream-analytics/stream-analytics-quick-create-powershell.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#109253 changed author/ms.author for Power BI articles
  articles/azure-maps/power-bi-visual-add-bar-chart-layer.md
  articles/azure-maps/power-bi-visual-add-bubble-layer.md
  articles/azure-maps/power-bi-visual-add-heat-map-layer.md
  articles/azure-maps/power-bi-visual-add-pie-chart-layer.md
  articles/azure-maps/power-bi-visual-add-reference-layer.md
  articles/azure-maps/power-bi-visual-add-tile-layer.md
  articles/azure-maps/power-bi-visual-filled-map.md
  articles/azure-maps/power-bi-visual-geocode.md
  articles/azure-maps/power-bi-visual-get-started.md
  articles/azure-maps/power-bi-visual-manage-access.md
  articles/azure-maps/power-bi-visual-on-object-interaction.md
  articles/azure-maps/power-bi-visual-show-real-time-traffic.md
  articles/azure-maps/power-bi-visual-understanding-layers.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#109391 Update web-app-routing.md
  articles/aks/web-app-routing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#108951 Adding more details around the pull secret
  articles/openshift/tutorial-create-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#109449 Removed 'CodePen' from the ms.custom metadata field in Data-driven Style Expressions (Web SDK).
  articles/azure-maps/data-driven-style-expressions-web-sdk.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#109432 Update end-to-end-tls.md
  articles/frontdoor/end-to-end-tls.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#109442 cluster-autoscaler spelling fix
  articles/aks/cluster-autoscaler.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-kubernetes-service/svc

#109477 Update upgrade-hcx-azure-vmware-solutions.md
  articles/azure-vmware/upgrade-hcx-azure-vmware-solutions.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, qualifies-for-auto-merge

#108894 Update incorrect notes on Extension Bundle v4
  includes/functions-cosmosdb-extension-java-note.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#109480 Update customize-workflow-email.md
  articles/active-directory/governance/customize-workflow-email.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, compliance/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109490 Update custom-extension-get-started.md
  articles/active-directory/develop/custom-extension-get-started.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, qualifies-for-auto-merge

#109387 Update compute-infrastructure.md
  articles/api-management/compute-infrastructure.md
Labels: Change sent to author, api-management/svc, do-not-merge, aq-pr-triaged

#109466 Update api-management-virtual-network-troubleshooting.md
  includes/api-management-virtual-network-troubleshooting.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#109497 Update concept-cloud-security-posture-management.md
  articles/defender-for-cloud/concept-cloud-security-posture-management.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#109550 Update anomaly-detector-client-library-csharp-multivariate.md
  articles/cognitive-services/Anomaly-Detector/includes/quickstarts/anomaly-detector-client-library-csharp-multivariate.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, anomaly-detector/subsvc, qualifies-for-auto-merge

#109404 Update csi-migrate-in-tree-volumes.md
  articles/aks/csi-migrate-in-tree-volumes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#109512 Add a space after the end of a sentence
  articles/active-directory/devices/device-registration-how-it-works.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc, qualifies-for-auto-merge

#109545 Fixed a typo
  articles/azure-resource-manager/management/delete-resource-group.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, management/subsvc, qualifies-for-auto-merge

#109536 Update azure-portal-safelist-urls.md
  articles/azure-portal/azure-portal-safelist-urls.md
Labels: Change sent to author, ready-to-merge, azure-portal/svc, qualifies-for-auto-merge

#109563 Typo "Azure database for MySQL"→"Azure Database for MySQL"
  articles/mysql/flexible-server/tutorial-power-automate-with-mysql.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#109564 Typo "resouce"→"resource"
  articles/azure-arc/resource-bridge/network-requirements.md
Labels: Change sent to author, do-not-merge, azure-arc/svc, qualifies-for-auto-merge

#109057 Add information about exporting B2C Consumer users and how UPN info i…
  articles/active-directory-b2c/manage-users-portal.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#109504 Update virtual-network-tcpip-performance-tuning.md
  articles/virtual-network/virtual-network-tcpip-performance-tuning.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#109565 Update disk-storage-zrs-regions.md
  includes/disk-storage-zrs-regions.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, qualifies-for-auto-merge

#109577 Update expressroute-faqs.md
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, qualifies-for-auto-merge

#109573 Update waf-front-door-drs.md
  articles/web-application-firewall/afds/waf-front-door-drs.md
Labels: Change sent to author, ready-to-merge, web-application-firewall/svc, qualifies-for-auto-merge

#109572 Update application-gateway-crs-rulegroups-rules.md
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, ready-to-merge, web-application-firewall/svc, qualifies-for-auto-merge
