Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-07, with the labels that each got.

#109611 Update reference-yaml-mltable.md
  articles/machine-learning/reference-yaml-mltable.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, mldata/subsvc, qualifies-for-auto-merge

#111642 Create links to NPM modules.
  articles/azure-maps/how-to-use-indoor-module.md
  articles/azure-maps/how-to-use-map-control.md
  articles/azure-maps/how-to-use-services-module.md
  articles/azure-maps/how-to-use-spatial-io-module.md
  articles/azure-maps/set-drawing-options.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#111652 Improved grammar and added end-links to article: Create a map
  articles/azure-maps/map-create.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, needs-human-review

#111692 Update azure-monitor-agent-extension-versions.md
  articles/azure-monitor/agents/azure-monitor-agent-extension-versions.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, agents/subsvc, qualifies-for-auto-merge

#111667 Typo "Flexible server"→"Flexible Server"
  articles/postgresql/flexible-server/quickstart-create-server-python-sdk.md
Labels: Change sent to author, postgresql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#111676 [Pipeline Component] - Fix small typos in pipeline component documentation
  articles/machine-learning/how-to-use-pipeline-component.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc, qualifies-for-auto-merge

#111501 Update CLI yaml reference for workspace [Azure ML]
  articles/machine-learning/reference-yaml-workspace.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, qualifies-for-auto-merge

#111705 Typo "Azure OpenAI service"→"Azure OpenAI Service"
  articles/cognitive-services/openai/use-your-data-quickstart.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, openai/subsvc, qualifies-for-auto-merge

#111532 Update how-to-managed-network.md following bugbash and improvements
  articles/machine-learning/how-to-managed-network.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#107917 Aligning with Bash style guide
  articles/container-registry/tutorial-deploy-connected-registry-nested-iot-edge-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#111789 Update release-notes.md
  articles/defender-for-cloud/release-notes.md
Labels: Change sent to author, ready-to-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#111658 Email one-time passcode is available in Teams (common endpoint)
  articles/active-directory/external-identities/one-time-passcode.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2B/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111646 Improvements to grammar and creation of end-links
  articles/azure-maps/map-add-line-layer.md
  articles/azure-maps/map-add-pin.md
  articles/azure-maps/map-add-popup.md
  articles/azure-maps/map-add-shape.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#111715 Update disks-prem-v2-limitations.md
  includes/disks-prem-v2-limitations.md
Labels: Change sent to author, ready-to-merge, storage/svc, aq-pr-triaged, qualifies-for-auto-merge

#110431 Update MSDocs for ACS Web UI Library teams interops file-sharing
  articles/communication-services/concepts/ui-library/includes/web-ui-use-cases.md
  articles/communication-services/tutorials/file-sharing-tutorial.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, needs-human-review

#111188 Fix service name (Services->Search)
  articles/cognitive-services/openai/concepts/use-your-data.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#111163 Update kerberos-authentication-portal.md
  articles/bastion/kerberos-authentication-portal.md
Labels: Change sent to author, do-not-merge, bastion/svc, aq-pr-triaged

#110920 Change ADAL package to MSAL
  articles/cdn/cdn-app-dev-net.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cdn/svc, qualifies-for-auto-merge

#110120 Update expressroute-troubleshooting-network-performance.md
  articles/expressroute/expressroute-troubleshooting-network-performance.md
Labels: Change sent to author, expressroute/svc, do-not-merge, aq-pr-triaged

#111731 Update storage-quickstart-blobs-cli.md
  articles/storage/blobs/storage-quickstart-blobs-cli.md
Labels: Change sent to author, ready-to-merge, storage/svc, blobs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110875 Update application-gateway-backend-health-troubleshooting.md
  articles/application-gateway/application-gateway-backend-health-troubleshooting.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#110861 Update http-response-codes.md
  articles/application-gateway/http-response-codes.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged

#110986 Update application-gateway-troubleshooting-502.md
  articles/application-gateway/application-gateway-troubleshooting-502.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#111001 Update tutorial-multiple-sites-cli.md
  articles/application-gateway/tutorial-multiple-sites-cli.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#111018 Update tutorial-multiple-sites-cli.md
  articles/application-gateway/tutorial-multiple-sites-cli.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#111020 Update tutorial-multiple-sites-cli.md
  articles/application-gateway/tutorial-multiple-sites-cli.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#111434 Fix link.
  articles/active-directory/develop/identity-platform-integration-checklist.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#110887 Update v2-protocols-oidc.md
  articles/active-directory/develop/v2-protocols-oidc.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111194 Update howto-mfa-nps-extension.md
  articles/active-directory/authentication/howto-mfa-nps-extension.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111312 Update concept-authentication-methods.md
  articles/active-directory/authentication/concept-authentication-methods.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111383 Update concept-mfa-licensing.md - Fixed to include SMS and phone supp… #111374
  articles/active-directory/authentication/concept-mfa-licensing.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111484 Update tutorial-enable-cloud-sync-sspr-writeback.md
  articles/active-directory/authentication/tutorial-enable-cloud-sync-sspr-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111771 Version for runtime changed from 3 to 4
  articles/azure-functions/create-first-function-cli-powershell.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#111807 Update stream-analytics-parallelization.md
  articles/stream-analytics/stream-analytics-parallelization.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge

#111812 Update how-to-deploy-online-endpoints.md
  articles/machine-learning/how-to-deploy-online-endpoints.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, qualifies-for-auto-merge, inferencing/subsvc

#111727 Updating Boot Requirements for Windows VMs
  articles/migrate/migrate-support-matrix-vmware-migration.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#111775 Update instruction for clarity
  articles/active-directory/external-identities/customers/tutorial-desktop-app-maui-sign-in-prepare-app.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, aq-pr-triaged, qualifies-for-auto-merge, ciam/subsvc

#111800 Json is wrong for this template
  articles/openshift/quickstart-openshift-arm-bicep-template.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#111842 Clarify per subscription aspect in quota limit
  articles/cognitive-services/openai/quotas-limits.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, openai/subsvc, qualifies-for-auto-merge

#111823 fix long text of abbreviation CNCF
  articles/azure-monitor/essentials/prometheus-metrics-overview.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#111553 Update javascript.md
  articles/cognitive-services/Speech-Service/includes/quickstarts/text-to-speech-basics/javascript.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, speech-service/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111843 Clarify quota limit is per model, region, and subscription
  articles/cognitive-services/openai/how-to/quota.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#107232 CMK GA on Ephemeral disk
  includes/virtual-machines-disks-encryption-at-host-restrictions.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, qualifies-for-auto-merge

#107803 Update temp disk to include stopping the vm
  articles/virtual-machines/managed-disks-overview.md
Labels: Change sent to author, storage/svc, do-not-merge, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111723 Update troubleshoot-rhc.md
  articles/load-balancer/troubleshoot-rhc.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, aq-pr-triaged, qualifies-for-auto-merge

#111124 Update document-summarization.md and fix sample code
  articles/cognitive-services/language-service/summarization/how-to/document-summarization.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, language-service/subsvc, qualifies-for-auto-merge

#111860 fix(vercel-integration): Correct link syntax
  articles/cosmos-db/vercel-integration.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#111384 Update remediate-resources.md #111374
  articles/governance/policy/how-to/remediate-resources.md
Labels: Change sent to author, azure-policy/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#111796 Delete PRT using company portal
  articles/active-directory/devices/troubleshoot-mac-sso-extension-plugin.md
Labels: Change sent to author, active-directory/svc, do-not-merge, devices/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111892 Update howto-authentication-temporary-access-pass.md
  articles/active-directory/authentication/howto-authentication-temporary-access-pass.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, qualifies-for-auto-merge

#111891 Update how-to-develop-a-standard-flow.md
  articles/machine-learning/prompt-flow/how-to-develop-a-standard-flow.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#110704 Update whats-new.md
  articles/virtual-wan/whats-new.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc, aq-pr-triaged

#111634 updated deprecated affinity labels deprecation warning
  articles/aks/csi-migrate-in-tree-volumes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#111848 Typo "Azure OpenAI service"→"Azure OpenAI Service"
  articles/cognitive-services/openai/faq.yml
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, openai/subsvc, needs-human-review

#109738 Added Alias record set information for CNAME record for custom domain in static web app
  articles/static-web-apps/custom-domain-azure-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#111896 Typo "Azure OpenAI service"→"Azure OpenAI Service"
  articles/cognitive-services/openai/includes/prompt-chat-completion.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, qualifies-for-auto-merge

#110299 Update create-self-hosted-integration-runtime.md
  articles/data-factory/create-self-hosted-integration-runtime.md
Labels: Change sent to author, ready-to-merge, data-factory/svc, aq-pr-triaged, integration-runtime/subsvc, qualifies-for-auto-merge

#111269 Correcting information about Remote LAW usage for Continuous Export
  articles/defender-for-cloud/continuous-export.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#111930 Spelling of resources
  articles/azure-vmware/configure-port-mirroring-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, azure-vmware/svc, qualifies-for-auto-merge

#111913 Removed 2 duplicate entries
  articles/active-directory/enterprise-users/licensing-service-plan-reference.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, enterprise-users/subsvc, qualifies-for-auto-merge

#111637 Update service-fabric-manage-application-in-visual-studio.md
  articles/service-fabric/service-fabric-manage-application-in-visual-studio.md
Labels: Change sent to author, service-fabric/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#111948 Typo fix in index-add-language-analyzers.md
  articles/search/index-add-language-analyzers.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#111810 Update maintenance-notifications-portal.md
  articles/virtual-machines/maintenance-notifications-portal.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, maintenance/subsvc, qualifies-for-auto-merge

#111963 Fix: Add missing comma in json example
  articles/batch/simplified-node-communication-pool-no-public-ip.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#111640 Update how-to-connect-sync-feature-directory-extensions.md
  articles/active-directory/hybrid/connect/how-to-connect-sync-feature-directory-extensions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111976 Fix typo in introduction.md
  articles/cosmos-db/introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#111665 Clarify the meaning of the attestation report
  articles/container-instances/container-instances-tutorial-deploy-confidential-container-default-portal.md
  articles/container-instances/container-instances-tutorial-deploy-confidential-containers-cce-arm.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, aq-pr-triaged, qualifies-for-auto-merge

#109139 Added "modifyTime" to file properties section
  articles/synapse-analytics/spark/microsoft-spark-utilities.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#111638 Update azure-monitor-agent-windows-client.md
  articles/azure-monitor/agents/azure-monitor-agent-windows-client.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#111917 Typo "Azure OpenAI service"→"Azure OpenAI Service"
  articles/cognitive-services/openai/how-to/integrate-synapseml.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#111999 Update machine-learning-public-internet-access.md
  articles/machine-learning/includes/machine-learning-public-internet-access.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, qualifies-for-auto-merge

#111984 Update service-tags-overview.md
  articles/virtual-network/service-tags-overview.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, qualifies-for-auto-merge

#111953 Add note for gpt-35-turbo-16k quota
  articles/cognitive-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#111988 Update api-server-vnet-integration.md
  articles/aks/api-server-vnet-integration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#111813 SAS Token going from preview to GA.
  articles/azure-maps/authentication-best-practices.md
  articles/azure-maps/azure-maps-authentication.md
  articles/azure-maps/geographic-scope.md
  articles/azure-maps/how-to-secure-sas-app.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge

#111876 Update what-is-discovery.md
  articles/external-attack-surface-management/what-is-discovery.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, defender-easm/svc

#110126 Update hierarchical-partition-keys.md by adding the full partition key path
  articles/cosmos-db/hierarchical-partition-keys.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#111508 Update throughput-serverless.md
  articles/cosmos-db/throughput-serverless.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#111714 Update managed-disks-ultra-disks-GA-scope-and-limitations.md
  includes/managed-disks-ultra-disks-GA-scope-and-limitations.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, qualifies-for-auto-merge

#111746 Update api-management-howto-app-insights.md
  articles/api-management/api-management-howto-app-insights.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#111709 Clarified Server version and accessibility .NET version
  articles/active-directory/hybrid/connect/how-to-connect-install-prerequisites.md
Labels: Change sent to author, active-directory/svc, do-not-merge, hybrid/subsvc, aq-pr-triaged, ATCP

#111712 Updated check sync tool link
  articles/active-directory/hybrid/connect/whatis-azure-ad-connect-v2.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#111986 Update workload-identity-deploy-cluster.md
  articles/aks/workload-identity-deploy-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#111538 Update quickstart-powershell.md
  articles/attestation/quickstart-powershell.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, attestation/svc, qualifies-for-auto-merge

#111910 Update ClaimTypeReferenceId
  articles/active-directory-b2c/partner-xid.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111346 remove preview for workspaces-based applications
  articles/azure-monitor/best-practices-data-collection.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, general/subsvc, qualifies-for-auto-merge

#111987 Update tutorial-log-alert.md
  articles/azure-monitor/alerts/media/tutorial-log-alert/alert-rule-condition-2.png
  articles/azure-monitor/alerts/tutorial-log-alert.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, needs-human-review

#111738 Include clarification about registration interruption/prompt
  articles/active-directory/authentication/tutorial-enable-sspr.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#111755 Bastion linux native client should refer to bastion cli extension
  articles/bastion/connect-vm-native-client-linux.md
Labels: Change sent to author, ready-to-merge, bastion/svc, aq-pr-triaged, qualifies-for-auto-merge

#111324 Update concepts-audit.md
  articles/postgresql/single-server/concepts-audit.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#110697 Update 1-design-performance-migration.md
  articles/synapse-analytics/migration-guides/oracle/1-design-performance-migration.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#112037 Fix grammar
  articles/azure-resource-manager/bicep/bicep-functions-parameters-file.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc, qualifies-for-auto-merge

#111792 outage
  articles/postgresql/flexible-server/concepts-business-continuity.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#112075 Update cost-logs.md
  articles/azure-monitor/logs/cost-logs.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#111568 Update storage-use-azcopy-files.md
  articles/storage/common/storage-use-azcopy-files.md
Labels: Change sent to author, storage/svc, do-not-merge, common/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#112095 Update prometheus-metrics-enable.md
  articles/azure-monitor/essentials/prometheus-metrics-enable.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#112088 Update cli-manage.md
  articles/virtual-machines/linux/cli-manage.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, qualifies-for-auto-merge

#107107 Update chat-hero-sample.md server type
  articles/communication-services/samples/chat-hero-sample.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, chat/subsvc, qualifies-for-auto-merge

#109718 Update configure-hybrid-cluster.md
  articles/managed-instance-apache-cassandra/configure-hybrid-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, managed-instance-apache-cassandra/svc, qualifies-for-auto-merge

#112067 Update understanding-billable-assets.md
  articles/external-attack-surface-management/understanding-billable-assets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, defender-easm/svc

#111898 Update azure-cni-overlay.md
  articles/aks/azure-cni-overlay.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#112108 Update best-practices-analysis.md
  articles/azure-monitor/best-practices-analysis.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, general/subsvc, qualifies-for-auto-merge

#112027 Clarify how to allowlist extensions
  articles/postgresql/migrate/common-errors-and-special-scenarios-fms.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#111751 Update raw-media-access-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/raw-media/raw-media-access-javascript.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#111993 Update concepts-version-policy.md
  articles/mysql/concepts-version-policy.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#112106 Fix spacing mistake
  articles/active-directory-b2c/custom-policies-series-hello-world.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#112046 Add files via upload
  articles/iot-hub-device-update/media/import-update/device-twin-ppr.png
Labels: Change sent to author, do-not-merge, aq-pr-triaged, iot-hub-device-update/svc, needs-human-review

#112151 Fix typo; some Markdown linting
  articles/virtual-machines/extensions/key-vault-linux.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, extensions/subsvc, qualifies-for-auto-merge

#112112 Improve grammar, spelling, title in handling map events article
  articles/azure-maps/map-events.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#110867 Update tutorial-use-disks-powershell.md
  articles/virtual-machine-scale-sets/tutorial-use-disks-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#112142 includes/logic-apps-resource-environment-differences-table.md ISE Deprication
  includes/logic-apps-resource-environment-differences-table.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged, qualifies-for-auto-merge

#112148 Update what-is-deprecated.md
  articles/active-directory/fundamentals/what-is-deprecated.md
Labels: Change sent to author, active-directory/svc, do-not-merge, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#112175 Update howto-create-service-principal.md
  articles/openshift/howto-create-service-principal.md
Labels: Change sent to author, do-not-merge, azure-redhat-openshift/svc

#112129 Fix for small typo in vector-search-overview.md
  articles/search/vector-search-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cognitive-search/svc, qualifies-for-auto-merge

#111760 Azure Maps add a new page about npm package
  articles/azure-maps/how-to-use-npm-package.md
  articles/azure-maps/media/how-to-use-npm-package/map-of-seattle.png
  articles/azure-maps/media/how-to-use-npm-package/map-of-the-world.png
  articles/azure-maps/toc.yml
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#111309 Update faq.yml
  articles/cognitive-services/openai/faq.yml
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, openai/subsvc, needs-human-review

#112123 Use kubectl rollout restart for zero downtime update
  articles/aks/coredns-custom.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#112184 Grammar and end-links: map-show-traffic.md
  articles/azure-maps/map-show-traffic.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#112179 Map get shape data
  articles/azure-maps/map-get-shape-data.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#112178 Article: Add a polygon extrusion layer to the map: Grammar and end-links.
  articles/azure-maps/map-extruded-polygon.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#112194 Sorted lists in alphabetical order. No changes to list items
  articles/load-balancer/cross-region-overview.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, qualifies-for-auto-merge

#111884 Update convert-unmanaged-to-managed-disks.md
  articles/virtual-machines/windows/convert-unmanaged-to-managed-disks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-disk-storage/svc

#112228 Fix typo
  articles/storage/common/storage-account-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc

#112199 Update table formatting for howto-shared-private-endpoints-key-vault.md
  articles/azure-signalr/howto-shared-private-endpoints-key-vault.md
Labels: Change sent to author, do-not-merge, signalr/svc, qualifies-for-auto-merge

#112206 Update service-fabric-cluster-upgrade-os.md
  articles/service-fabric/service-fabric-cluster-upgrade-os.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, qualifies-for-auto-merge

#112229 Update tshoot-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/connect/tshoot-connect-password-hash-synchronization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, qualifies-for-auto-merge

#112242 Update how-to-managed-network.md
  articles/machine-learning/how-to-managed-network.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, enterprise-readiness/subsvc, qualifies-for-auto-merge

#112239 Update access-tokens.md
  articles/active-directory/develop/access-tokens.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, qualifies-for-auto-merge

#112237 Grammar improvements in power-bi-visual-add-3d-column-layer.md
  articles/azure-maps/power-bi-visual-add-3d-column-layer.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, qualifies-for-auto-merge

#112138 update how-to-create-manage-runtime to add timeout tsg
  articles/machine-learning/prompt-flow/how-to-create-manage-runtime.md
  articles/machine-learning/prompt-flow/media/how-to-create-manage-runtime/ci-runtime-request-timeout.png
  articles/machine-learning/prompt-flow/media/how-to-create-manage-runtime/mir-runtime-request-timeout.png
  articles/machine-learning/prompt-flow/media/how-to-create-manage-runtime/runtime-timeout-by-llm-timeout.png
  articles/machine-learning/prompt-flow/media/how-to-create-manage-runtime/runtime-timeout-running-for-long-time.png
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged, needs-human-review

#112221 Clarify Ingress secretName value requirement in web application routing docs
  articles/aks/app-routing.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#110579 Update monitor-instances-health-check.md
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#112246 Update search-get-started-vector.md
  articles/search/search-get-started-vector.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cognitive-search/svc, qualifies-for-auto-merge

#112094 updated reference to AddDownstreamWebApi to AddDownstreamApi in Entra ID "Call your own Downstream Api" page
  articles/active-directory/develop/scenario-web-api-call-api-call-api.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#112120 Remove provider types from resource provider table
  articles/machine-learning/includes/machine-learning-resource-provider.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, qualifies-for-auto-merge

#112266 Typo "Azure Container Service" to "Azure Kubernetes Service"
  articles/aks/use-byo-cni.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#111950 Update azure-csi-files-storage-provision.md
  articles/aks/azure-csi-files-storage-provision.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#112259 Typo "MySQL Flexible server"→"MySQL Flexible Server"
  articles/mysql/flexible-server/concepts-data-in-replication.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#112291 Update deploy-dynamics-365-finance-operations-solution.md
  articles/sentinel/dynamics-365/deploy-dynamics-365-finance-operations-solution.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#112164 6 hour recurrent window change added
  articles/virtual-machines/maintenance-configurations.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, maintenance/subsvc, qualifies-for-auto-merge

#110226 Update operator-best-practices-cluster-security.md
  articles/aks/operator-best-practices-cluster-security.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#112311 removing square brackets from data testing function instruction
  articles/sentinel/normalization-develop-parsers.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#112324 Update product-rule-based-anomalies.md
  articles/active-directory/cloud-infrastructure-entitlement-management/product-rule-based-anomalies.md
Labels: Change sent to author, active-directory/svc, do-not-merge, ciem/subsvc

#112312 Updating container insights docs with Managed Identity updates
  articles/aks/learn/quick-kubernetes-deploy-cli.md
  articles/azure-monitor/containers/container-insights-cost-config.md
  articles/azure-monitor/containers/container-insights-enable-aks.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#112327 Grammar and end links in article: Add a heat map layer
  articles/azure-maps/power-bi-visual-add-heat-map-layer.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#112343 Update normalization-about-schemas.md
  articles/sentinel/normalization-about-schemas.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#112361 Update private-link-configure.md
  articles/azure-monitor/logs/private-link-configure.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#112360 Update load-balancer-multiple-virtual-machine-scale-set.md
  articles/load-balancer/load-balancer-multiple-virtual-machine-scale-set.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, qualifies-for-auto-merge

#112350 Update protect-api-hosted-apim-by-waf.md - fixing a typo
  articles/web-application-firewall/afds/protect-api-hosted-apim-by-waf.md
Labels: Change sent to author, do-not-merge, web-application-firewall/svc, qualifies-for-auto-merge

#112349 Update deployment-stacks.md - fixing a capitalization issue
  articles/azure-resource-manager/bicep/deployment-stacks.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge
