Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-11, with the labels that each got.

#116633 Added Clarity About Using Member AAD Account
  articles/api-management/developer-portal-extend-custom-functionality.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#116603 Update Syslog documents to mention omfwd instead of omuxsock
  articles/azure-monitor/agents/azure-monitor-agent-troubleshoot-linux-vm-rsyslog.md
  articles/azure-monitor/agents/data-collection-syslog.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, needs-human-review

#116650 Update private-link.md (Small typo fixed))
  articles/key-vault/managed-hsm/private-link.md
Labels: Change sent to author, key-vault/svc, do-not-merge, managed-hsm/subsvc, qualifies-for-auto-merge

#116651 Update tutorial-rotation-dual.md
  articles/key-vault/secrets/tutorial-rotation-dual.md
Labels: Change sent to author, key-vault/svc, do-not-merge, secrets/subsvc, qualifies-for-auto-merge

#116670 Typo "a Azure"→"an Azure"
  articles/postgresql/single-server/concepts-data-access-and-security-private-link.md
Labels: Change sent to author, postgresql/svc, do-not-merge, single-server/subsvc, qualifies-for-auto-merge

#116668 Update azure-monitor-agent-availability.md
  articles/defender-for-cloud/includes/azure-monitor-agent-availability.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#116641 Update encryption-atrest.md
  articles/security/fundamentals/encryption-atrest.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc, qualifies-for-auto-merge

#116661 Update object-replication-overview.md
  articles/storage/blobs/object-replication-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#116647 fix: correct typo
  articles/aks/availability-zones.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#116706 Typo "a Azure"→"an Azure"
  articles/mariadb/concepts-data-access-security-private-link.md
Labels: Change sent to author, do-not-merge, mariadb/svc, qualifies-for-auto-merge

#116704 Update private-endpoint-dns.md
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#116695 Minor AOSM Docs Update
  articles/operator-service-manager/quickstart-containerized-network-function-create-site-network-service.md
  articles/operator-service-manager/quickstart-publish-containerized-network-function-definition.md
  articles/operator-service-manager/quickstart-virtualized-network-function-create-site-network-service.md
  articles/operator-service-manager/quickstart-virtualized-network-function-operator.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-service-manager/svc

#116469 Update av1-series-retirement.md
  articles/virtual-machines/av1-series-retirement.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#116597 removed retired resourcetype Microsoft.Resources/tagnamespaces/
  articles/role-based-access-control/includes/resource-provider-operations/management-and-governance.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#116525 Update reference to UI elements by their current names
  articles/storage/blobs/object-replication-configure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#116629 Update best-practices.md
  articles/ai-services/language-service/conversational-language-understanding/concepts/best-practices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#116711 Update plan-defender-for-servers.md
  articles/defender-for-cloud/plan-defender-for-servers.md
Labels: Change sent to author, do-not-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#116713 Update event-hubs-tier-features.md
  articles/event-hubs/includes/event-hubs-tier-features.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#116026 Add AI service to fitness store quickstart
  articles/spring-apps/media/quickstart-fitness-store-azure-open-ai/fitassistQ01.png
  articles/spring-apps/media/quickstart-fitness-store-azure-open-ai/homepage.png
  articles/spring-apps/media/quickstart-sample-app-acme-fitness-store-introduction/architecture.png
  articles/spring-apps/quickstart-automate-deployments-github-actions-enterprise.md
  articles/spring-apps/quickstart-deploy-apps-enterprise.md
  articles/spring-apps/quickstart-fitness-store-azure-open-ai.md
  articles/spring-apps/quickstart-integrate-azure-database-and-redis-enterprise.md
  articles/spring-apps/quickstart-key-vault-enterprise.md
  articles/spring-apps/quickstart-monitor-end-to-end-enterprise.md
  articles/spring-apps/quickstart-sample-app-acme-fitness-store-introduction.md
  articles/spring-apps/quickstart-set-request-rate-limits-enterprise.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, spring-apps/svc

#116735 Update jwt-issuer-technical-profile.md
  articles/active-directory-b2c/jwt-issuer-technical-profile.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#115996 Tiktoken function needs to be upgraded to support v0613
  articles/ai-services/openai/includes/chat-completion.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#115746 Update api-management-multi-region-concepts.md
  includes/api-management-multi-region-concepts.md
Labels: Change sent to author, api-management/svc, do-not-merge, aq-pr-triaged, needs-human-review

#116698 Update manage-logs-tables.md
  articles/azure-monitor/logs/manage-logs-tables.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#116335 Typo "Azure Database for MySQL service"→"～MySQL Service"
  articles/mysql/single-server/concepts-connect-to-a-gateway-node.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#116572 Update concepts-high-availability.md
  articles/mysql/flexible-server/concepts-high-availability.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#116773 Typo "a Azure"→"an Azure"
  articles/mariadb/howto-configure-privatelink-cli.md
Labels: Change sent to author, do-not-merge, mariadb/svc, qualifies-for-auto-merge

#116787 Fix typo 'Certificats'
  articles/cosmos-db/how-to-develop-emulator.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#116778 Update concepts-faq-scalability-availability.md
  articles/iot-central/core/concepts-faq-scalability-availability.md
Labels: Change sent to author, ready-to-merge, iot-central/svc, aq-pr-triaged, qualifies-for-auto-merge

#116646 Update create-single-tenant-workflows-visual-studio-code.md
  articles/logic-apps/create-single-tenant-workflows-visual-studio-code.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged, qualifies-for-auto-merge

#116741 Remove unsupported operations in Azure Cache for Redis service
  articles/role-based-access-control/includes/resource-provider-operations/databases.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#116809 introduction doc error fix
  articles/cosmos-db/introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#116805 Fix syslog dataflow diagram
  articles/azure-monitor/agents/media/azure-monitor-agent/linux-agent-syslog-communication.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#116777 Fix typo on azure-kubernetes-service-cluster-manage-backups.md
  articles/backup/azure-kubernetes-service-cluster-manage-backups.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#116690 Add instruction on how to migrate runbook action from "Run as account" to "run as managed identity"
  articles/azure-monitor/alerts/action-groups.md
  articles/azure-monitor/alerts/media/action-groups/action-group-runbook-add.png
  articles/azure-monitor/alerts/media/action-groups/action-group-runbook-configure.png
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, needs-human-review

#116838 Typo "a Azure"→"an Azure"
  articles/virtual-desktop/configure-host-pool-load-balancing.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#116836 Update configure-vmware-hcx.md
  articles/azure-vmware/configure-vmware-hcx.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc, qualifies-for-auto-merge

#116691 Update azure-virtual-network-limits.md
  includes/azure-virtual-network-limits.md
Labels: Change sent to author, ready-to-merge, networking/svc, aq-pr-triaged, qualifies-for-auto-merge

#116100 more MW input
  articles/azure-vmware/migrate-sql-server-always-on-availability-group.md
  articles/azure-vmware/migrate-sql-server-failover-cluster.md
  articles/azure-vmware/migrate-sql-server-standalone-cluster.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#116844 replaces duplicated code block with example for remediation task
  articles/openshift/howto-tag-resources.md
Labels: Change sent to author, ready-to-merge, azure-redhat-openshift/svc, qualifies-for-auto-merge

#116849 Remove outdated deployment disclaimer
  articles/virtual-machines/instance-metadata-service.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, qualifies-for-auto-merge

#116887 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/virtual-desktop-fall-2019/environment-setup-2019.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#115834 Update storage-introduction.md
  articles/storage/common/storage-introduction.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, azure-storage/svc, storage-common-concepts/subsvc

#116902 Grammar update on articles/cosmos-db/concepts-limits.md
  articles/cosmos-db/concepts-limits.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116911 Update how-to-test-attack-path-and-security-explorer-with-vulnerable-…
  articles/defender-for-cloud/how-to-test-attack-path-and-security-explorer-with-vulnerable-container-image.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116930 Update overview.md
  articles/governance/machine-configuration/overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, machine-configuration/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116924 Mention 3rd party frameworks for using Azure Service Bus in .net
  articles/service-bus-messaging/service-bus-messaging-overview.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116916 Fixed type in trouble shooting command
  articles/virtual-machines/extensions/oms-linux.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, extensions/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116944 Update virtual-network/virtual-network-tcpip-performance-tuning document
  articles/virtual-network/virtual-network-tcpip-performance-tuning.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116925 Add a section for "Using scheduled messages with workflows"
  articles/service-bus-messaging/message-sequencing.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116954 Updating AV64 regions
  articles/azure-vmware/includes/disk-capabilities-of-the-host.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116856 Audit whitelist for Cassandra 4 and later
  articles/managed-instance-apache-cassandra/monitor-clusters.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, managed-instance-apache-cassandra/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116979 Update app-insights-azure-ad-api.md
  articles/azure-monitor/app/app-insights-azure-ad-api.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#115078 pgaudit
  articles/postgresql/flexible-server/concepts-audit.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#115641 Update concepts-data-encryption.md
  articles/postgresql/flexible-server/concepts-data-encryption.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116822 Update use-key-vault-references-dotnet-core.md
  articles/azure-app-configuration/use-key-vault-references-dotnet-core.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#114356 Fixed mv command syntax under Synapse Spark Utilities
  articles/synapse-analytics/spark/microsoft-spark-utilities.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117007 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/set-up-customize-master-image.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117000 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/virtual-desktop-fall-2019/create-host-pools-azure-marketplace-2019.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117016 Update plan-evaluate-on-azure-virtual-machine.md
  articles/azure-arc/servers/plan-evaluate-on-azure-virtual-machine.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117029 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/virtual-desktop-fall-2019/tenant-setup-azure-active-directory.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117001 Updating error message
  articles/ai-services/openai/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, event-triaged-to-10AM, missed-content-complete, azure-ai-openai/svc

#117009 Update storage-blob-static-website-host.md
  articles/storage/blobs/storage-blob-static-website-host.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, azure-blob-storage/svc

#117031 Refine `az provider show` output
  articles/azure-arc/servers/ssh-arc-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117060 Update advisor-how-to-improve-reliability.md
  articles/advisor/advisor-how-to-improve-reliability.md
Labels: Change sent to author, ready-to-merge, advisor/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117062 Use proper name of permission
  articles/service-bus-messaging/service-bus-sas.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#117069 Update defender-for-sql-usage.md
  articles/defender-for-cloud/defender-for-sql-usage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#116960 Adds examples for the Nexus storage classes
  articles/operator-nexus/concepts-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, event-triaged-to-10AM, missed-content-complete, azure-operator-nexus/svc

#117073 Fix public key installation command for SSH into Windows VM
  articles/virtual-machines/windows/connect-ssh.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, needs-human-review

#116610 Update trino-jvm-configuration.md
  articles/hdinsight-aks/trino/trino-jvm-configuration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, hdinsight-aks/svc

#117079 ContainerLogV2 default schema
  articles/azure-monitor/containers/container-insights-agent-config.md
  articles/azure-monitor/containers/container-insights-enable-aks.md
  articles/azure-monitor/containers/container-insights-logging-v2.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#116857 Updating documentation for CTE responses
  articles/frontdoor/front-door-caching.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#116988 New PR for mini r wi-fi deprecation notices
  articles/databox-online/azure-stack-edge-mini-r-deploy-configure-network-compute-web-proxy.md
  articles/databox-online/azure-stack-edge-mini-r-deploy-install.md
  articles/databox-online/azure-stack-edge-mini-r-manage-wifi.md
  articles/databox-online/azure-stack-edge-mini-r-technical-specifications-compliance.md
  articles/databox-online/azure-stack-edge-mini-r-use-wifi-profiles.md
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, aq-pr-triaged, needs-human-review

#115091 Update cache-best-practices-kubernetes.md
  articles/azure-cache-for-redis/cache-best-practices-kubernetes.md
Labels: Change sent to author, cache/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#117053 Adding examples for python V2 Durable entities
  articles/azure-functions/durable/durable-functions-entities.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#117092 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/agent-overview.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#117065 output file limit hint and align with resource files
  articles/batch/batch-task-output-files.md
  articles/batch/managed-identity-pools.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#116921 Change incorrect log analytics table from SecurityEvents to SecurityEvent
  articles/sentinel/data-connectors/windows-security-events-via-ama.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#116946 [OSDOCS-8698] Addressing issues and updating ARO restrict egress traffic doc
  articles/openshift/howto-restrict-egress.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#116974 Update health-probes.md
  articles/container-apps/health-probes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#117103 Update private-endpoint-dns.md for Purview
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#116948 Update azure-for-network-engineers.md
  articles/networking/azure-for-network-engineers.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#117100 Fix typo in overview.md
  articles/azure-boost/overview.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#117110 Fix typo in start-serverless-containers.md
  articles/container-apps/start-serverless-containers.md
Labels: Change sent to author, do-not-merge, container-apps/svc, qualifies-for-auto-merge

#116648 Update retry-policy.md
  articles/api-management/retry-policy.md
Labels: Change sent to author, api-management/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#117142 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/virtual-desktop-fall-2019/troubleshoot-set-up-overview-2019.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#117116 Added currency symbol
  articles/cost-management-billing/reservations/reservation-exchange-policy-changes.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#117136 Update configure-ssl-certificate-in-code.md
  articles/app-service/configure-ssl-certificate-in-code.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#117143 Changed AuthId to AuthKey in json example
  articles/service-bus-messaging/monitor-service-bus-reference.md
Labels: Change sent to author, ready-to-merge, service-bus-messaging/svc, aq-pr-triaged, qualifies-for-auto-merge

#117125 Fix DALL-E 3 request url
  articles/ai-services/openai/reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#117039 Clarify about replica endpoints in private endpoint
  articles/azure-app-configuration/concept-private-endpoint.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge

#117148 Update Azure Boost overview.md
  articles/azure-boost/overview.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, qualifies-for-auto-merge

#117119 Update concepts-high-availability.md
  articles/mysql/flexible-server/concepts-high-availability.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#116443 Update retired postgres versions
  articles/postgresql/single-server/concepts-version-policy.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#117102 Update concepts-storage.md
  articles/operator-nexus/concepts-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#117104 Update azure-boost-series.md
  articles/azure-boost/includes/azure-boost-series.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#116945 Link to relevant architectural style
  articles/storage/queues/storage-queues-introduction.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-queue-storage/svc

#117061 Fixed --tag-filter syntax
  articles/storage/blobs/storage-blob-index-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#117075 Update machine-learning-udf.md
  articles/stream-analytics/machine-learning-udf.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge, aq-pr-triaged

#115936 Update dns-private-resolver-get-started-powershell.md
  articles/dns/dns-private-resolver-get-started-powershell.md
Labels: Change sent to author, ready-to-merge, dns/svc, aq-pr-triaged, qualifies-for-auto-merge

#115958 Update private-resolver-endpoints-rulesets.md
  articles/dns/private-resolver-endpoints-rulesets.md
Labels: Change sent to author, ready-to-merge, dns/svc, aq-pr-triaged, qualifies-for-auto-merge

#117196 Update configure-customer-managed-key.md
  articles/service-bus-messaging/configure-customer-managed-key.md
Labels: Change sent to author, service-bus-messaging/svc, do-not-merge

#117199 Use official cmdlet casing
  articles/storage/blobs/data-lake-storage-acl-powershell.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-data-lake-storage/svc

#117105 Update v3-rest-api.md
  articles/ai-services/document-intelligence/quickstarts/includes/v3-rest-api.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-document-intelligence/svc

#117181 Update azure-monitor-agent-send-data-to-event-hubs-and-storage.md
  articles/azure-monitor/agents/azure-monitor-agent-send-data-to-event-hubs-and-storage.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#117151 Update workbooks-getting-started.md
  articles/azure-monitor/visualize/workbooks-getting-started.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, visualizations/subsvc, qualifies-for-auto-merge

#117209 Update usage-flows.md
  articles/azure-monitor/app/usage-flows.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#117244 Update howto-targetingfilter-aspnet-core.md
  articles/azure-app-configuration/howto-targetingfilter-aspnet-core.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#117247 Update overview.md
  articles/ai-services/content-safety/overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-content-safety/svc

#117219 Update overview.md
  articles/key-vault/general/overview.md
Labels: Change sent to author, key-vault/svc, do-not-merge, general/subsvc, qualifies-for-auto-merge

#117228 Typo "a Azure Virtual Desktop"→"an Azure～"
  articles/virtual-desktop/virtual-desktop-fall-2019/customize-rdp-properties-2019.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, qualifies-for-auto-merge

#117257 Update quickstart-java.md
  articles/managed-ccf/quickstart-java.md
Labels: Change sent to author, do-not-merge, confidential-ledger/svc, qualifies-for-auto-merge

#117207 Update create-pool-extensions.md example to use Azure Linux
  articles/batch/create-pool-extensions.md
Labels: Change sent to author, ready-to-merge, batch/svc, aq-pr-triaged, qualifies-for-auto-merge

#117239 Update search-howto-index-cosmosdb.md
  articles/search/search-howto-index-cosmosdb.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cognitive-search/svc, docs-editor-pilot, qualifies-for-auto-merge

#116552 Adding comments to powershell (ln 51-66) script Update diagnostics.md
  articles/application-gateway/for-containers/diagnostics.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, appgw-for-containers/subsvc

#117260 Update vm-applications-how-to.md
  articles/virtual-machines/vm-applications-how-to.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, gallery/subsvc, qualifies-for-auto-merge

#115018 Update backup-azure-immutable-vault-concept.md
  articles/backup/backup-azure-immutable-vault-concept.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#117275 Update go.md to fix the CompletionsOptions struct
  articles/ai-services/openai/includes/go.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#117120 Update concepts-high-availability.md
  articles/mysql/flexible-server/concepts-high-availability.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#117291 Fixed spelling error
  articles/data-factory/whats-new.md
Labels: Change sent to author, data-factory/svc, do-not-merge, concepts/subsvc, qualifies-for-auto-merge

#117298 Typo "a Azure AI Search"→"an Azure AI Search"
  articles/machine-learning/v1/how-to-deploy-model-cognitive-search.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#117059 Update install-office-on-wvd-master-image.md
  articles/virtual-desktop/install-office-on-wvd-master-image.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#114560 FixingLimits
  articles/postgresql/flexible-server/concepts-limits.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#117300 Update quickstart-openshift-arm-bicep-template.md
  articles/openshift/quickstart-openshift-arm-bicep-template.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#117308 Update functions-container-apps-hosting.md
  articles/azure-functions/functions-container-apps-hosting.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#117188 Update confidential-containers-overview.md
  articles/aks/confidential-containers-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#117256 Update tutorial-define-gateway-device-type.md
  articles/iot-central/core/tutorial-define-gateway-device-type.md
Labels: Change sent to author, ready-to-merge, iot-central/svc, aq-pr-triaged, qualifies-for-auto-merge

#117329 Update manage-subscriptions-enterprise.md
  articles/defender-for-iot/organizations/manage-subscriptions-enterprise.md
Labels: Change sent to author, do-not-merge, defender-for-iot/svc, qualifies-for-auto-merge

#117337 Update logging.md
  articles/key-vault/managed-hsm/logging.md
Labels: Change sent to author, key-vault/svc, do-not-merge, managed-hsm/subsvc, qualifies-for-auto-merge

#117338 Fix permission typo
  articles/backup/restore-sql-database-azure-vm.md
Labels: Change sent to author, backup/svc, do-not-merge

#117210 Update get-started-visual-studio.md
  articles/synapse-analytics/sql/get-started-visual-studio.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc

#117296 Minor text fixes
  articles/azure-functions/dotnet-isolated-process-guide.md
  articles/azure-monitor/app/asp-net-trace-logs.md
  articles/azure-monitor/app/migrate-from-instrumentation-keys-to-connection-strings.md
  articles/azure-monitor/includes/azure-monitor-app-insights-opentelemetry-faqs.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc, qualifies-for-auto-merge

#117351 Typo "a Azure AI Search"→"an Azure AI Search"
  articles/search/knowledge-store-concept-intro.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#116364 Update how-to-troubleshoot-replication-latency.md
  articles/mysql/how-to-troubleshoot-replication-latency.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#117320 Update concepts-data-in-replication.md
  articles/mysql/flexible-server/concepts-data-in-replication.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#117361 Update deploy-confidential-containers-default-policy.md
  articles/aks/deploy-confidential-containers-default-policy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#117390 Typo "a _Azure AI services_"→"an _Azure AI services_"
  articles/ai-services/LUIS/luis-container-configuration.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-language/svc, azure-ai-luis/subsvc

#117393 Typo fix
  articles/search/vector-search-integrated-vectorization.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#116820 Update manage-update-settings.md
  articles/update-manager/manage-update-settings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-update-manager/svc

#117238 Update configure-wu-agent.md
  articles/update-manager/configure-wu-agent.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-update-manager/svc

#117364 openai: keep text consistent with UI
  articles/ai-services/openai/includes/python.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#117387 Update bicep-import.md
  articles/azure-resource-manager/bicep/bicep-import.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#117204 Update bicep-functions-string.md
  articles/azure-resource-manager/bicep/bicep-functions-string.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#114897 Update runbook-input-parameters.md - Added input type table #114895
  articles/automation/runbook-input-parameters.md
Labels: Change sent to author, automation/svc, do-not-merge, process-automation/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#117071 Update deployment-script-bicep.md
  articles/azure-resource-manager/bicep/deployment-script-bicep.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#116909 Adding bicep linter rule explicit loc param
  articles/azure-resource-manager/bicep/bicep-config-linter.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#117399 Add Tunnelmole as an open source tunnelling option
  articles/search/cognitive-search-how-to-debug-skillset.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cognitive-search/svc, qualifies-for-auto-merge

#117417 Typo "a _Azure AI services_"→"an _Azure AI services_"
  articles/ai-services/LUIS/luis-container-howto.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-language/svc, azure-ai-luis/subsvc

#117428 Typo "a _Azure AI services_"→"an _Azure AI services_"
  articles/ai-services/computer-vision/computer-vision-resource-container-config.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-vision/svc

#117448 Typo "[Create a Azure Managed Prometheus workspace]"→"[Create an Azure～"
  articles/hdinsight-aks/monitor-with-prometheus-grafana.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, hdinsight-aks/svc

#116585 Update how-to-stop-start-server-cli.md
  articles/postgresql/flexible-server/how-to-stop-start-server-cli.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge
