Repository MicrosoftDocs/azure-docs, pull requests merged in 2023-03, with the labels that each got.

#105771 Update cache-best-practices-connection.md
  articles/azure-cache-for-redis/cache-best-practices-connection.md
Labels: Change sent to author, cache/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#105634 Update oauth2-technical-profile.md
  articles/active-directory-b2c/oauth2-technical-profile.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#105954 Update understanding-lifecycle-workflows.md
  articles/active-directory/governance/understanding-lifecycle-workflows.md
Labels: Change sent to author, active-directory/svc, do-not-merge, compliance/subsvc, qualifies-for-auto-merge

#105994 Typo "Azure DB"→"Azure Database"
  articles/dms/tutorial-azure-postgresql-to-azure-postgresql-online-portal.md
Labels: Change sent to author, dms/svc, do-not-merge, qualifies-for-auto-merge

#105989 Fixed invalid code tab in azure-durable-function-overview
  articles/azure-functions/durable/durable-functions-overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#105961 Update utilization-cost-reports.md
  articles/cost-management-billing/savings-plan/utilization-cost-reports.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, qualifies-for-auto-merge, savings-plan/subsvc

#105960 updated forecast horizon image
  articles/machine-learning/media/how-to-understand-automated-ml/forecast-horizon.png
Labels: Change sent to author, machine-learning/svc, do-not-merge, review-team-triage, aq-pr-triaged, automl/subsvc, needs-human-review

#106001 [Service Bus] Adjust Lifetime Guidance
  articles/service-bus-messaging/service-bus-performance-improvements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#105911 Update connect-ssh.md
  articles/virtual-machines/windows/connect-ssh.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, qualifies-for-auto-merge

#105710 Update how-to-connect-password-hash-synchronization.md
  articles/active-directory/hybrid/how-to-connect-password-hash-synchronization.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, hybrid/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105449 Typo fix when calling const
  articles/applied-ai-services/form-recognizer/quickstarts/includes/v3-javascript-sdk.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, forms-recognizer/subsvc, applied-ai-services/svc, qualifies-for-auto-merge

#106004 minor typo (missing space)
  articles/active-directory/conditional-access/plan-conditional-access.md
Labels: Change sent to author, active-directory/svc, do-not-merge, conditional-access/subsvc, qualifies-for-auto-merge

#106015 'Drawing package' should be 'drawing package' since it is not a proper noun.
  articles/azure-maps/about-azure-maps.md
  articles/azure-maps/creator-indoor-maps.md
  articles/azure-maps/drawing-conversion-error-codes.md
  articles/azure-maps/drawing-error-visualizer.md
  articles/azure-maps/drawing-package-guide.md
  articles/azure-maps/drawing-requirements.md
  articles/azure-maps/how-to-dataset-geojson.md
  articles/azure-maps/indoor-map-dynamic-styling.md
  articles/azure-maps/tutorial-creator-indoor-maps.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, qualifies-for-auto-merge

#104065 Update manage-application-permissions.md
  articles/active-directory/manage-apps/manage-application-permissions.md
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105906 Update how-to-customize-devbox-azure-image-builder.md
  articles/dev-box/how-to-customize-devbox-azure-image-builder.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-box/svc, qualifies-for-auto-merge

#90248 Update prereqs
  articles/dms/pre-reqs.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged

#105988 Adding private link scope
  articles/private-link/private-endpoint-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#106013 Mistakes in the psql parameters
  articles/postgresql/migrate/how-to-migrate-from-oracle.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, migration-guide/subsvc, qualifies-for-auto-merge

#82796 Update howto-sql-server-to-azure-sql-powershell.md
  articles/dms/howto-sql-server-to-azure-sql-powershell.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#78652 Update howto-sql-server-to-azure-sql-powershell.md
  articles/dms/howto-sql-server-to-azure-sql-powershell.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged, inactive, qualifies-for-auto-merge

#106055 Update how-to-test-private-endpoint.md
  articles/load-testing/how-to-test-private-endpoint.md
Labels: Change sent to author, ready-to-merge, load-testing/svc, qualifies-for-auto-merge

#106056 Update partial-document-update-getting-started.md
  articles/cosmos-db/partial-document-update-getting-started.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge, nosql/subsvc

#106045 More guidance on transaction processing + cross-link
  articles/service-bus-messaging/service-bus-transactions.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106053 Updated powershell parameters
  articles/cosmos-db/free-tier.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#106069 Update how-to-enable-private-link-web-app.md
  articles/frontdoor/standard-premium/how-to-enable-private-link-web-app.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#106068 Update how-to-enable-private-link-storage-account.md
  articles/frontdoor/standard-premium/how-to-enable-private-link-storage-account.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#106071 Add Plan type: Consumption
  articles/logic-apps/tutorial-process-mailing-list-subscriptions-workflow.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#106078 Cross-link
  articles/service-bus-messaging/service-bus-throttling.md
Labels: Change sent to author, do-not-merge

#106077 Adding some cross-links
  articles/service-bus-messaging/service-bus-async-messaging.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106087 Update IoT Edge
  articles/public-multi-access-edge-compute-mec/overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, public-multi-access-edge-compute-mec/svc, qualifies-for-auto-merge

#105120 Update AML Private DNS Zone Name (Gov)
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#106125 Typo "Azure database for PostgreSQL"→"Azure Database for PostgreSQL"
  articles/data-factory/connector-azure-database-for-postgresql.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-movement/subsvc, qualifies-for-auto-merge

#106124 Update link to current react sample app
  articles/azure-monitor/app/javascript-framework-extensions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#106126 Update faq-energy-data-services.yml
  articles/energy-data-services/faq-energy-data-services.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#106098 Update video-effects-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-effects/video-effects-javascript.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc

#106146 Event Hub capture charges "Monthly" in standard tier
  articles/event-hubs/event-hubs-capture-overview.md
Labels: Change sent to author, do-not-merge

#106138 Creator how to toc updates
  .openpublishing.redirection.json
  articles/azure-maps/how-to-creator-feature-stateset.md
  articles/azure-maps/how-to-creator-wayfinding.md
  articles/azure-maps/how-to-creator-wfs.md
  articles/azure-maps/how-to-dataset-geojson.md
  articles/azure-maps/indoor-map-dynamic-styling.md
  articles/azure-maps/toc.yml
  articles/azure-maps/tutorial-creator-feature-stateset.md
  articles/azure-maps/tutorial-creator-indoor-maps.md
  articles/azure-maps/tutorial-creator-wfs.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review

#106172 Typo "Azure DB"→"Azure Database"
  articles/postgresql/flexible-server/quickstart-create-server-bicep.md
Labels: Change sent to author, postgresql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#106163 Update chaos-studio-private-networking.md
  articles/chaos-studio/chaos-studio-private-networking.md
Labels: Change sent to author, do-not-merge, chaos-studio/svc, qualifies-for-auto-merge

#106205 Minor updates for BMM
  articles/operator-nexus/howto-baremetal-functions.md
Labels: Change sent to author, azure/svc, do-not-merge, qualifies-for-auto-merge

#106213 Fix small typos
  articles/confidential-computing/confidential-vm-faq-amd.yml
Labels: Change sent to author, do-not-merge, needs-human-review

#106195 Update blob-inventory.md
  articles/storage/blobs/blob-inventory.md
Labels: Change sent to author, storage/svc, do-not-merge, blobs/subsvc, qualifies-for-auto-merge

#106188 Add namespace option to verifying command for pull secret
  articles/openshift/howto-add-update-pull-secret.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#106196 Typo: include 'than' on line 32
  articles/azure-resource-manager/bicep/child-resource-name-type.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106157 Sample code enhancements
  articles/virtual-machines/maintenance-notifications-powershell.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, maintenance/subsvc, needs-human-review

#105686 Compatibility issue between older version of Az CLI and the latest Az…
  articles/machine-learning/how-to-configure-cli.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105745 Update concepts-query-store.md
  articles/mysql/single-server/concepts-query-store.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, single-server/subsvc, qualifies-for-auto-merge

#106221 Fix typos
  articles/data-factory/data-movement-security-considerations.md
  articles/data-factory/whats-new.md
Labels: Change sent to author, data-factory/svc, do-not-merge, concepts/subsvc, qualifies-for-auto-merge

#104777 Minor tweaks to align with overall Azure guidance on AZs
  articles/reliability/migrate-app-service.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#106194 updated event hub capture billing details
  articles/event-hubs/event-hubs-faq.yml
Labels: Change sent to author, event-hubs/svc, do-not-merge, aq-pr-triaged, needs-human-review

#105873 Clarify protected users note
  articles/active-directory/authentication/concept-sspr-writeback.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#96744 Update connect-native-client-windows.md
  articles/bastion/connect-native-client-windows.md
Labels: Change sent to author, do-not-merge, bastion/svc, aq-pr-triaged

#105487 Per subscription per region limit
  includes/azure-virtual-machine-scale-sets-limits.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, qualifies-for-auto-merge

#105731 Removing confusion on diagnostic logs source
  articles/active-directory/authentication/howto-authentication-passwordless-troubleshoot.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#90249 Update reqs
  articles/dms/tutorial-sql-server-to-managed-instance.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#106227 Making hyperlinks consistent
  articles/azure-maps/about-azure-maps.md
  articles/azure-maps/add-tile-layer-map-ios.md
  articles/azure-maps/azure-maps-authentication.md
  articles/azure-maps/azure-maps-qps-rate-limits.md
  articles/azure-maps/creator-facility-ontology.md
  articles/azure-maps/creator-indoor-maps.md
  articles/azure-maps/drawing-requirements.md
  articles/azure-maps/drawing-tools-events.md
  articles/azure-maps/geocoding-coverage.md
  articles/azure-maps/geofence-geojson.md
  articles/azure-maps/how-to-create-custom-styles.md
  articles/azure-maps/how-to-create-data-registries.md
  articles/azure-maps/how-to-creator-wayfinding.md
  articles/azure-maps/how-to-dataset-geojson.md
  articles/azure-maps/how-to-dev-guide-csharp-sdk.md
  articles/azure-maps/how-to-dev-guide-java-sdk.md
  articles/azure-maps/how-to-dev-guide-js-sdk.md
  articles/azure-maps/how-to-dev-guide-py-sdk.md
  articles/azure-maps/how-to-render-custom-data.md
  articles/azure-maps/how-to-request-weather-data.md
  articles/azure-maps/how-to-search-for-address.md
  articles/azure-maps/how-to-secure-sas-app.md
  articles/azure-maps/how-to-show-attribution.md
  articles/azure-maps/how-to-use-best-practices-for-routing.md
  articles/azure-maps/how-to-use-best-practices-for-search.md
  articles/azure-maps/map-get-information-from-coordinate.md
  articles/azure-maps/map-route.md
  articles/azure-maps/map-search-location.md
  articles/azure-maps/migrate-from-bing-maps-web-services.md
  articles/azure-maps/rest-sdk-developer-guide.md
  articles/azure-maps/supported-languages.md
  articles/azure-maps/traffic-coverage.md
  articles/azure-maps/tutorial-create-store-locator.md
  articles/azure-maps/tutorial-creator-indoor-maps.md
  articles/azure-maps/tutorial-prioritized-routes.md
  articles/azure-maps/tutorial-search-location.md
  articles/azure-maps/weather-coverage.md
  articles/azure-maps/weather-service-tutorial.md
Labels: Change sent to author, do-not-merge, azure-maps/svc

#105650 Release new confluence SSO plugin version 6.3.9
  articles/active-directory/saas-apps/ms-confluence-jira-plugin-adminguide.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105561 Update howto-query-with-rest-api.md
  articles/iot-central/core/howto-query-with-rest-api.md
Labels: Change sent to author, ready-to-merge, iot-central/svc, aq-pr-triaged, qualifies-for-auto-merge

#106193 EphemeralDiskUpdate
  articles/virtual-machines/dcasv5-dcadsv5-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#106192 Ephemeral OS disks update
  articles/virtual-machines/ecasv5-ecadsv5-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#106199 Update data-collection-text-log.md
  articles/azure-monitor/agents/data-collection-text-log.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#102767 Update prerequisites-for-deploying-sap-continuous-threat-monitoring.md
  articles/sentinel/sap/prerequisites-for-deploying-sap-continuous-threat-monitoring.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#106107 Updates the UWP tutorial to use Microsoft Graph .NET SDK v5
  articles/active-directory/develop/tutorial-v2-windows-uwp.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106276 Update usage-analytics-active-resources.md
  articles/active-directory/cloud-infrastructure-entitlement-management/usage-analytics-active-resources.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, ciem/subsvc, qualifies-for-auto-merge

#98547 Minor typo fixes
  articles/container-apps/metrics.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#106294 Correction to next steps section in how-to-creator-wfs and updated links in tutorial
  articles/azure-maps/how-to-creator-wfs.md
  articles/azure-maps/tutorial-creator-indoor-maps.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, qualifies-for-auto-merge

#105997 Update manage-vms-programmatically.md
  articles/update-center/manage-vms-programmatically.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, update-management-center/svc, qualifies-for-auto-merge

#95983 Update how-to-migrate-using-dump-and-restore.md
  articles/postgresql/migrate/how-to-migrate-using-dump-and-restore.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, migration-guide/subsvc

#105973 query strings are stripped if wildcards match hits
  articles/active-directory/develop/reply-url.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, develop/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106322 Update utilization-cost-reports.md
  articles/cost-management-billing/savings-plan/utilization-cost-reports.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, qualifies-for-auto-merge, savings-plan/subsvc

#106323 Update choose-commitment-amount.md
  articles/cost-management-billing/savings-plan/choose-commitment-amount.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, needs-human-review, savings-plan/subsvc

#106332 Typo "Azure DB for MySQL"→"Azure Database for MySQL"
  articles/mysql/quickstart-create-mysql-server-database-using-bicep.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, qualifies-for-auto-merge

#106006 Adding a link to certificate issue article
  articles/virtual-machines/workloads/redhat/redhat-rhui.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, redhat/subsvc, qualifies-for-auto-merge

#106311 Broken link NSGS
  articles/aks/azure-cni-overlay.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, aks-networking/subsvc

#106139 Added soft delete section to Persistence FAQ
  articles/azure-cache-for-redis/cache-how-to-premium-persistence.md
Labels: Change sent to author, ready-to-merge, cache/svc, aq-pr-triaged, qualifies-for-auto-merge

#103818 Next Steps links always point to Classic versions
  articles/frontdoor/front-door-wildcard-domain.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#106178 device.devicePhysicalIds should be device.physicalIds
  articles/active-directory/conditional-access/concept-condition-filters-for-devices.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, conditional-access/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106373 Update how-to-create-iot-edge-device.md
  articles/iot-edge/how-to-create-iot-edge-device.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged, qualifies-for-auto-merge

#106367 Added File extension information for Leak
  articles/active-directory/identity-protection/howto-identity-protection-simulate-risk.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, identity-protection/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106360 Fix incorrect default port number for proxy sidecar
  articles/aks/workload-identity-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#105074 Update publisher-verification-overview.md
  articles/active-directory/develop/publisher-verification-overview.md
Labels: Change sent to author, active-directory/svc, do-not-merge, develop/subsvc, aq-pr-triaged

#105932 Add requirement for matching Redis server versions
  articles/azure-cache-for-redis/cache-how-to-geo-replication.md
Labels: Change sent to author, ready-to-merge, cache/svc, aq-pr-triaged, qualifies-for-auto-merge

#105410 Update upgrade-cluster.md
  articles/aks/upgrade-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#106398 Change branding from Facebook Work Accounts to Meta Work Accounts
  articles/active-directory/saas-apps/facebook-work-accounts-provisioning-tutorial.md
Labels: Change sent to author, active-directory/svc, do-not-merge, saas-app-tutorial/subsvc, needs-human-review

#106407 add blog post and minor changes to whatsnew
  articles/cognitive-services/Computer-vision/whats-new.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, computer-vision/subsvc

#106404 Update toc.yml
  articles/azure-maps/toc.yml
Labels: Change sent to author, do-not-merge, needs-human-review

#106409 Update introduction.md
  articles/data-factory/introduction.md
Labels: Change sent to author, data-factory/svc, do-not-merge, tutorials/subsvc, qualifies-for-auto-merge

#106417 Spelling error
  articles/azure-monitor/containers/container-insights-agent-config.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106418 Spelling of Trusted
  articles/api-management/api-management-howto-use-managed-service-identity.md
Labels: Change sent to author, api-management/svc, do-not-merge, qualifies-for-auto-merge

#105375 Update marketplace-images.md
  articles/virtual-machines/marketplace-images.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, gallery/subsvc

#106061 Update privacy.md to include the ACS Email Service
  articles/communication-services/concepts/privacy.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, needs-human-review

#104573 Make documentation consistent.
  articles/spring-apps/how-to-configure-ingress.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, spring-apps/svc, qualifies-for-auto-merge

#106238 Update availability.md
  articles/private-link/availability.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#106437 Add Python 3.10 GA
  articles/static-web-apps/apis-functions.md
  includes/static-web-apps-languages-runtimes.md
Labels: Change sent to author, ready-to-merge, static-web-apps/svc, qualifies-for-auto-merge

#106434 Update azure-event-hubs-kafka-overview.md
  articles/event-hubs/azure-event-hubs-kafka-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106442 fixed comment in schema reference acs recording
  articles/communication-services/concepts/voice-video-calling/call-recording.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#106430 Update prepare-dataset.md
  articles/cognitive-services/openai/how-to/prepare-dataset.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#106343 Update stream-analytics-compatibility-level.md
  articles/stream-analytics/stream-analytics-compatibility-level.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc, aq-pr-triaged, qualifies-for-auto-merge

#99798 Improve clarity of Azure Fluid Relay docs
  articles/azure-fluid-relay/how-tos/azure-function-token-provider.md
  articles/azure-fluid-relay/quickstarts/quickstart-dice-roll.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-fluid/svc, qualifies-for-auto-merge

#106340 Output binding must be "$return" instead of "res"
  articles/azure-signalr/signalr-quickstart-azure-functions-python.md
Labels: Change sent to author, ready-to-merge, signalr/svc, aq-pr-triaged, qualifies-for-auto-merge

#106064 Update container-instances-application-gateway.md
  articles/container-instances/container-instances-application-gateway.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, aq-pr-triaged, qualifies-for-auto-merge

#104052 Update cluster-configuration.md
  articles/aks/cluster-configuration.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#106278 Update deploy-s4hana.md
  articles/sap/center-sap-solutions/deploy-s4hana.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, center-sap-solutions/subsvc

#103113 Spell mistake on line 88
  articles/aks/learn/quick-kubernetes-deploy-bicep.md
Labels: Change sent to author, container-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#102959 Fix `kured` installation instructions
  articles/aks/node-updates-kured.md
Labels: Change sent to author, ready-to-merge, container-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#106438 Highlight the 100Mb constraint
  articles/static-web-apps/deploy-nextjs-hybrid.md
  includes/static-web-apps-nextjs-unsupported.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, needs-human-review

#105434 BL recovery setting for user default permissions
  articles/active-directory/devices/device-management-azure-portal.md
  articles/active-directory/devices/media/device-management-azure-portal/device-settings-azure-portal.png
  articles/active-directory/fundamentals/users-default-permissions.md
  articles/active-directory/fundamentals/whats-new-archive.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, needs-human-review

#106131 Update managed-identity.md
  articles/cognitive-services/openai/how-to/managed-identity.md
Labels: Change sent to author, cognitive-services/svc, do-not-merge, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#106526 Correction to Vnet
  articles/aks/use-managed-identity.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#106532 Correction to VNet naming
  articles/expressroute/expressroute-for-cloud-solution-providers.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, qualifies-for-auto-merge

#106525 Correction to Vnet
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, qualifies-for-auto-merge

#106466 Typo "Azure database for MySQL"→"Azure Database for MySQL"
  articles/mysql/flexible-server/tutorial-logic-apps-with-mysql.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#106482 Typo "Azure DB for MySQL"→"Azure Database for MySQL"
  articles/mysql/flexible-server/quickstart-create-arm-template.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#106485 Fixed the YAML
  articles/aks/ingress-basic.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, aks-networking/subsvc

#106527 Update azure-netapp-files-create-volumes.md
  articles/azure-netapp-files/azure-netapp-files-create-volumes.md
Labels: Change sent to author, ready-to-merge, azure-netapp-files/svc, qualifies-for-auto-merge

#106537 Maven is build system Spring is web framework
  articles/active-directory-b2c/tutorial-register-applications.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#106515 Update logic-apps-azure-functions.md
  articles/logic-apps/logic-apps-azure-functions.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge

#106500 Fix the "Deploy a PHP web app" link
  articles/app-service/index.yml
Labels: Change sent to author, do-not-merge, needs-human-review

#106506 Fix typo
  articles/sentinel/data-connectors-reference.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106518 Fix typo
  articles/azure-monitor/essentials/collect-custom-metrics-linux-telegraf.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106519 Fix typo
  articles/backup/backup-azure-integrate-microsoft-defender-using-logic-apps.md
Labels: Change sent to author, backup/svc, do-not-merge, qualifies-for-auto-merge

#106521 Fix typo
  articles/virtual-desktop/app-attach.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106520 Fix typo
  articles/defender-for-cloud/custom-dashboards-azure-workbooks.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge

#106517 Fix typo
  articles/sentinel/data-connectors/github-using-webhooks-using-azure-function.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#106455 Update provider-ha-pacemaker-cluster.md
  articles/sap/monitor/provider-ha-pacemaker-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-monitor/subsvc

#106565 Update model name for embed-ada-002
  articles/cognitive-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#106598 Adding - to -deployment-name
  articles/cognitive-services/openai/includes/create-resource-cli.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, aq-pr-triaged, openai/subsvc, qualifies-for-auto-merge

#106588 Update public-ip-address-prefix.md
  articles/virtual-network/ip-services/public-ip-address-prefix.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged, ip-services/subsvc, qualifies-for-auto-merge

#102808 Remove extraneous character
  articles/security/develop/threat-modeling-tool-sensitive-data.md
Labels: Change sent to author, information-protection/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, aiplabels/subsvc

#106504 Correct Ubuntu server version
  articles/virtual-machines/generation-2.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#104357 Update calling-sdk-features.md
  articles/communication-services/concepts/voice-video-calling/calling-sdk-features.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#104535 Update cognitive-search-skill-entity-recognition-v3.md
  articles/search/cognitive-search-skill-entity-recognition-v3.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cognitive-search/svc, qualifies-for-auto-merge

#105679 Indicating path to the execution folder
  articles/machine-learning/how-to-train-model.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged

#106289 Update subscription verbiage
  articles/active-directory/fundamentals/users-default-permissions.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105689 Obsolete model reference type, that breaks the code for SDK v.2
  articles/machine-learning/how-to-train-model.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106396 Documented requirement for Cache Storage accounts
  articles/site-recovery/azure-to-azure-support-matrix.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, aq-pr-triaged, qualifies-for-auto-merge

#106176 Update concept-system-preferred-multifactor-authentication.md
  articles/active-directory/authentication/concept-system-preferred-multifactor-authentication.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, authentication/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106106 docs(shgw): Provide docs on default TLS ciphers in API Management
  articles/api-management/self-hosted-gateway-settings-reference.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#106152 Update Confluence build version 8.1.0
  articles/active-directory/saas-apps/confluencemicrosoft-tutorial.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, saas-app-tutorial/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#106590 Specify an example id for cost management export
  articles/cost-management-billing/costs/tutorial-export-acm-data.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#103439 Changed admin consent workflow to reflect new location
  articles/active-directory/manage-apps/configure-admin-consent-workflow.md
  articles/active-directory/manage-apps/media/configure-admin-consent-workflow/enable-admin-consent-workflow.png
Labels: Change sent to author, active-directory/svc, do-not-merge, app-mgmt/subsvc, aq-pr-triaged, needs-human-review

#106589 Update file-sync-resource-move.md
  articles/storage/file-sync/file-sync-resource-move.md
Labels: Change sent to author, ready-to-merge, storage/svc, files/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#98045 Update user-facing-diagnostics.md
  articles/communication-services/concepts/voice-video-calling/user-facing-diagnostics.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc

#100873 Fix typo in error values
  articles/communication-services/concepts/troubleshooting-info.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#101903 Update create-communication-resource.md
  articles/communication-services/quickstarts/create-communication-resource.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, arm/subsvc, qualifies-for-auto-merge

#106416 minor edits
  articles/cognitive-services/Computer-vision/concept-describe-images-40.md
Labels: Change sent to author, ready-to-merge, cognitive-services/svc, computer-vision/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#105857 Updates with new ESN0 field
  articles/orbital/receive-real-time-telemetry.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, orbital/svc, qualifies-for-auto-merge

#105417 Updating time to connect for clarity
  articles/virtual-desktop/insights-glossary.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#106493 typo in filename example
  articles/iot-dps/how-to-send-additional-data.md
Labels: Change sent to author, ready-to-merge, iot-dps/svc, aq-pr-triaged, qualifies-for-auto-merge

#91656 Fix functionAggregation in the table
  articles/search/index-add-scoring-profiles.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cognitive-search/svc
