Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-10, with the labels that each got.

#124528 Add Java preview detections
  articles/sentinel/sap/sap-solution-security-content.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#124526 Update configure-authentication-oauth-tokens.md
  articles/app-service/configure-authentication-oauth-tokens.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#124530 Update front-door-route-matching.md
  articles/frontdoor/front-door-route-matching.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-frontdoor/svc

#124524 Update high-availability-guide-suse-nfs.md
  articles/sap/workloads/high-availability-guide-suse-nfs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#124533 Remove unexpected character on Update log-audit.md
  articles/security/fundamentals/log-audit.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc, qualifies-for-auto-merge

#124536 Update cross-tenant-vnet.md
  articles/virtual-wan/cross-tenant-vnet.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-wan/svc

#124539 Added link for CDC
  articles/expressroute/expressroute-locations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#124542 WEBSITE_LOAD_CERTIFICATES not supported
  articles/azure-functions/flex-consumption-plan.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124538 Update oracle-database-troubleshoot.md
  articles/oracle/oracle-db/oracle-database-troubleshoot.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#124553 Update storage-redundancy.md
  articles/storage/common/storage-redundancy.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#124554 Update create-custom-policy-definition.md
  articles/governance/policy/tutorials/create-custom-policy-definition.md
Labels: Change sent to author, azure-policy/svc, do-not-merge, qualifies-for-auto-merge

#124551 Update troubleshoot-known-issues.md
  articles/modeling-simulation-workbench/troubleshoot-known-issues.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, modeling-simulation-workbench/svc

#124555 minor edit
  articles/application-gateway/configuration-http-settings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#124560 Update provision-manage-oracle-resources.md
  articles/oracle/oracle-db/provision-manage-oracle-resources.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, oracle-on-azure/svc

#124556 Update plan-deployment.md
  articles/sap/automation/plan-deployment.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-automation/subsvc

#124541 Update resource-supported-azure-resource-types.md
  articles/load-testing/resource-supported-azure-resource-types.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-load-testing/svc

#124565 Add missing link for ASimAuthenticationEventLogs
  articles/sentinel/data-transformation.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#123900 Update migrate-cache-redis.md
  articles/reliability/migrate-cache-redis.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#124578 Update configure-single-sign-on.md
  articles/virtual-desktop/configure-single-sign-on.md
Labels: Change sent to author, do-not-merge, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124576 Update add-session-hosts-host-pool.md for the powershell sample part
  articles/virtual-desktop/add-session-hosts-host-pool.md
Labels: Change sent to author, ready-to-merge, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124574 Typo in fqdn fetch
  articles/application-gateway/for-containers/how-to-multiple-site-hosting-ingress-api.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, appgw-for-containers/subsvc, azure-application-gateway/svc

#124571 Update requests with authorization header caching behavior documentation
  articles/frontdoor/front-door-caching.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-frontdoor/svc

#124581 Update vmware-software-versions.md
  articles/azure-vmware/includes/vmware-software-versions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#124570 Update enable-tag-inheritance.md
  articles/cost-management-billing/costs/enable-tag-inheritance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#124585 fix typo in azure-kubernetes-service-backup-overview.md
  articles/backup/azure-kubernetes-service-backup-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-backup/svc

#124587 Fix: Update configuration-infrastructure.md
  articles/application-gateway/configuration-infrastructure.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-application-gateway/svc

#124568 DNJSON should be NDJSON (i.e. Newline Delimited)
  articles/healthcare-apis/fhir/fhir-best-practices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, fhir/subsvc, qualifies-for-auto-merge, azure-health-data-services/svc

#124577 Updated region list on elastic-san-regions.md to be in alphabetical order
  includes/elastic-san-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-storage/svc

#124523 Update FAQ section to have ### for each question so that deep-links can be used elsewhere
  articles/azure-resource-manager/management/move-resource-group-and-subscription.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#124529 add missing forward slash in cli code
  articles/azure-resource-manager/bicep/deployment-stacks.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#124527 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#124525 Duplicate text
  articles/azure-resource-manager/templates/template-tutorial-create-first-template.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, templates/subsvc, qualifies-for-auto-merge

#124595 add missing "s"
  articles/storage/blobs/storage-blob-change-feed.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-blob-storage/svc

#124594 remove extraneous period
  articles/storage/blobs/lifecycle-management-overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-blob-storage/svc

#124596 Fix typo
  articles/azure-app-configuration/howto-import-export-data.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#124600 Update troubleshoot-nat-connectivity.md
  articles/nat-gateway/troubleshoot-nat-connectivity.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, nat-gateway/svc

#124603 Update app-service-plan-manage.md
  articles/app-service/app-service-plan-manage.md
Labels: Change sent to author, qualifies-for-auto-merge, azure-app-service/svc

#124604 minor text corrections
  articles/event-grid/end-point-validation-event-grid-events-schema.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-grid/svc

#124605 capitalize "azure"
  articles/event-grid/handler-functions.md
Labels: Change sent to author, do-not-merge, azure-event-grid/svc

#124606 add missing word
  articles/event-grid/handler-functions.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-grid/svc

#124607 Fixed typo - `hange` to `change`
  articles/azure-functions/run-functions-from-deployment-package.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, qualifies-for-auto-merge

#124608 Fix spelling error
  articles/cost-management-billing/costs/allocate-costs.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#124610 Fix typo
  articles/iot-operations/manage-layered-network/howto-configure-aks-edge-essentials-layered-network.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, iot-operations/svc, layered-network-management/subsvc

#124609 Fix typo
  articles/iot-operations/deploy-iot-ops/howto-prepare-cluster.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, iot-operations/svc

#124611 remove apostrophe
  articles/azure-functions/functions-infrastructure-as-code.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#123985 Update webjobs-create.md
  articles/app-service/webjobs-create.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#124423 Describe approach for encrypting only certain properties of messages rather than everything
  articles/service-bus-messaging/configure-customer-managed-key.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-service-bus/svc

#124618 add missing period
  articles/sentinel/overview.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#124619 Add case when a has no element at index to operator-safe-dereference.md
  articles/azure-resource-manager/bicep/operator-safe-dereference.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#124624 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#124636 Update how-to-discover-sql-existing-project.md
  articles/migrate/how-to-discover-sql-existing-project.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, qualifies-for-auto-merge

#124633 Remove preview designation for AZ support in ACI
  articles/reliability/reliability-containers.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-instances/svc

#123334 Fix: MyEventType has an additional curly brace at the end
  articles/azure-functions/functions-bindings-event-grid-trigger.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124632 Update architecture-private-clouds.md
  articles/azure-vmware/architecture-private-clouds.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#124638 Update migrate-support-matrix-vmware.md
  articles/migrate/vmware/migrate-support-matrix-vmware.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged

#124647 Update direct-ea-administration.md
  articles/cost-management-billing/manage/direct-ea-administration.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, enterprise/subsvc, qualifies-for-auto-merge

#124646 Update Maximum Supported OS Disk Size
  articles/site-recovery/azure-to-azure-support-matrix.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-site-recovery/svc

#124645 Update save-share-views.md
  articles/cost-management-billing/costs/save-share-views.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#124625 Update monitor-firewall-reference.md
  articles/firewall/monitor-firewall-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-firewall/svc

#124378 Update api-management-howto-properties.md
  articles/api-management/api-management-howto-properties.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-api-management/svc

#124496 Update virtual-network-injection-resources.md
  articles/api-management/virtual-network-injection-resources.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#124660 Fixed Typo in SAP_PSE_Password
  articles/logic-apps/connectors/sap.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-logic-apps/svc

#124665 Update batch-linux-nodes.md
  articles/batch/batch-linux-nodes.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-batch/svc

#123966 Update App Service configure-common.md for AlwaysOn response requirements
  articles/app-service/configure-common.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#124146 Fix a typo in the App Service Deployment Slots documentation
  articles/app-service/deploy-staging-slots.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#124381 bump azure/login@v2
  articles/app-service/deploy-github-actions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#124163 Key Vault references should not contain a trailing slash
  articles/app-service/app-service-key-vault-references.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#124379 Update to rule processing example
  articles/firewall/rule-processing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-firewall/svc

#124623 Add details on outbound SNAT
  articles/firewall/firewall-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-firewall/svc

#124662 Added Flow Trace section header
  articles/firewall/monitor-firewall-reference.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-firewall/svc

#124653 fix code highlighting in concepts-models.md
  articles/digital-twins/concepts-models.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-digital-twins/svc

#124673 Event Hubs sample: Fixing some syntax/compile time errors.
  articles/event-hubs/event-hubs-go-get-started-send.md
Labels: Change sent to author, ready-to-merge, needs-human-review, azure-event-hubs/svc

#124654 Update tutorial-migrate-physical-virtual-machines.md
  articles/migrate/tutorial-migrate-physical-virtual-machines.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#124674 Update architecture.md
  articles/baremetal-infrastructure/workloads/nc2-on-azure/architecture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, baremetal-nutanix/subsvc, azure-baremetal-infrastructure/svc

#124675 Update event-schema-blob-storage.md
  articles/event-grid/event-schema-blob-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#124277 Update cdn-map-content-to-custom-domain.md
  articles/cdn/cdn-map-content-to-custom-domain.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cdn/svc, qualifies-for-auto-merge

#124274 Update front-door-diagnostics.md
  articles/frontdoor/front-door-diagnostics.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-frontdoor/svc

#123898 Update expressroute-connectivity-models.md
  articles/expressroute/expressroute-connectivity-models.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#107286 Update durable-functions-external-events.md
  articles/azure-functions/durable/durable-functions-external-events.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#124676 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, oracle-on-azure/svc

#124680 Consistency updates of string and array empty() function
  articles/azure-resource-manager/bicep/bicep-functions-array.md
  articles/azure-resource-manager/bicep/bicep-functions-string.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#124350 Update quickstart-mssql.md
  articles/azure-functions/durable/quickstart-mssql.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc

#124663 Update azure-vmware-solution-known-issues.md
  articles/azure-vmware/azure-vmware-solution-known-issues.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#124651 Update cors.md
  articles/container-apps/cors.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#124652 Update user-defined-routes.md
  articles/container-apps/user-defined-routes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#124261 Update expressroute-troubleshooting-arp-classic.md
  articles/expressroute/expressroute-troubleshooting-arp-classic.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#124672 Update customer-lockbox-overview.md
  articles/security/fundamentals/customer-lockbox-overview.md
Labels: Change sent to author, ready-to-merge, information-protection/svc, aq-pr-triaged, qualifies-for-auto-merge

#124695 Update customer-lockbox-overview to add a statement in exclusions.
  articles/security/fundamentals/customer-lockbox-overview.md
Labels: Change sent to author, ready-to-merge, information-protection/svc, qualifies-for-auto-merge

#124617 Accelnet custom image information
  articles/virtual-network/accelerated-networking-overview.md
  articles/virtual-network/create-vm-accelerated-networking-cli.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#124486 Update tutorial-using-functions.md
  articles/update-manager/tutorial-using-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-update-manager/svc

#124701 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#124696 Update quickstart-terraform.md
  articles/api-management/quickstart-terraform.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#124679 Update blob-storage-estimate-costs.md
  articles/storage/blobs/blob-storage-estimate-costs.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#124476 Update sql-data-warehouse-manage-monitor.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql-dw/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#124411 Remove recommendation to configure dotnet settings
  articles/azure-resource-manager/bicep/installation-troubleshoot.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, needs-human-review

#124719 Update application-gateway-backend-health-troubleshooting.md
  articles/application-gateway/application-gateway-backend-health-troubleshooting.md
Labels: Change sent to author, do-not-merge, azure-application-gateway/svc

#124717 Trivial update: add missing closing quote on --resource-group
  articles/communication-services/quickstarts/includes/create-resource-az-cli.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#124726 Update enable-dynamic-configuration-aspnet-core.md
  articles/azure-app-configuration/enable-dynamic-configuration-aspnet-core.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#124725 Update set-up-golden-image.md
  articles/virtual-desktop/set-up-golden-image.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124374 Update routine-maintenance.md
  articles/app-service/routine-maintenance.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#124731 fix formatting
  articles/virtual-network/accelerated-networking-overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-virtual-network/svc

#124687 Simplify Azure Maps PMTiles example
  articles/azure-maps/add-custom-protocol-pmtiles.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, web-sdk/subsvc

#124641 Update move-resource-group-and-subscription.md
  articles/azure-resource-manager/management/move-resource-group-and-subscription.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, management/subsvc, aq-pr-triaged

#124737 Update handler-event-grid-namespace-topic.md
  articles/event-grid/handler-event-grid-namespace-topic.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-event-grid/svc

#124736 Update concept-dev-box-network-requirements.md
  articles/dev-box/concept-dev-box-network-requirements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-box/svc, qualifies-for-auto-merge

#124733 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#124738 Update tutorial-monitor-with-workbooks.md to reflect Azure portal
  articles/iot-edge/tutorial-monitor-with-workbooks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot-edge/svc

#124740 Update schema-registry-concepts.md
  articles/event-hubs/schema-registry-concepts.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-hubs/svc

#124741 ACA Resiliency feature learn doc update
  articles/container-apps/TOC.yml
  articles/container-apps/dapr-component-resiliency.md
  articles/container-apps/service-discovery-resiliency.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-container-apps/svc

#124692 Update variables.md
  articles/automation/shared-resources/variables.md
Labels: Change sent to author, ready-to-merge, shared-capabilities/subsvc, aq-pr-triaged, qualifies-for-auto-merge, azure-automation/svc

#124739 Patch 5
  articles/virtual-desktop/host-pool-management-approaches.md
  articles/virtual-desktop/session-host-update-diagnostics.md
  articles/virtual-desktop/session-host-update.md
  articles/virtual-desktop/troubleshoot-session-host-update.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124749 Update tag-support.md
  articles/azure-resource-manager/management/tag-support.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#123778 Update the recommended udev rules for Linux
  articles/virtual-network/accelerated-networking-overview.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, review-team-triage, aq-pr-triaged, qualifies-for-auto-merge

#124765 Update concepts-lake-database.md to clarify common error messages
  articles/synapse-analytics/database-designer/concepts-lake-database.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, database-editor/subsvc, azure-synapse-analytics/svc
