Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-11, with the labels that each got.

#124770 Add BYOCA
  articles/iot-operations/secure-iot-ops/concept-default-root-ca.md
Labels: Change sent to author, ready-to-merge, needs-human-review, azure-iot-operations/svc, azure-mqtt-broker/subsvc

#124639 Update configure-vnet-integration-routing.md
  articles/app-service/configure-vnet-integration-routing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#124708 Correct incorrect value in `functions-reference-python.md`: Replace `null` with `None`
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124782 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: do-not-merge

#124785 Update openid-connect.md
  articles/active-directory-b2c/openid-connect.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#124795 Update known-limitations.md
  articles/managed-grafana/known-limitations.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-managed-grafana/svc

#124802 fix: typos
  articles/event-hubs/event-processor-balance-partition-load.md
Labels: Change sent to author, do-not-merge, azure-event-hubs/svc

#124799 Update storage-how-to-create-file-share.md
  articles/storage/files/storage-how-to-create-file-share.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-file-storage/svc

#124801 Update azure-network-latency.md
  articles/networking/azure-network-latency.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#124807 Update threat-intelligence-integration.md
  articles/sentinel/threat-intelligence-integration.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#124759 ARO VNet also needs to be updated in the MachineSet YAML manifest
  articles/openshift/howto-infrastructure-nodes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, docs-editor-pilot, qualifies-for-auto-merge

#124356 Apim cli backup restore example
  articles/api-management/api-management-howto-disaster-recovery-backup-restore.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#124704 CSS-Networking: added fw app rules for resource downloads_Update prot…
  articles/firewall/protect-azure-kubernetes-service.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-firewall/svc

#124809 fix typo in tutorial-prepare-azure.md
  articles/site-recovery/tutorial-prepare-azure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-site-recovery/svc

#124817 Update elastic-san-scale-targets.md
  articles/storage/elastic-san/elastic-san-scale-targets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-elastic-san-storage/svc

#124824 Minor fixes as per ABRS KM project review.
  articles/migrate/migrate-servers-to-azure-using-private-link.md
  articles/migrate/vmware/prepare-for-agentless-migration.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, qualifies-for-auto-merge

#124823 Exchange non-premium storage for a premium storage or vice versa
  articles/cost-management-billing/reservations/exchange-and-refund-azure-reservations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc

#124856 Update architecture.md
  articles/baremetal-infrastructure/workloads/nc2-on-azure/architecture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, baremetal-nutanix/subsvc, azure-baremetal-infrastructure/svc

#124827 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, oracle-on-azure/svc

#124744 Update ip-address-change-ssl.md
  articles/app-service/ip-address-change-ssl.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, azure-app-service/svc

#124842 fix resgitered typo
  articles/service-connector/how-to-use-service-connector-in-aks.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, service-connector/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#124836 Revert "ACA Resiliency feature learn doc update"
  articles/container-apps/TOC.yml
  articles/container-apps/dapr-component-resiliency.md
  articles/container-apps/service-discovery-resiliency.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, event-triaged-to-10AM, missed-content-complete, azure-container-apps/svc

#124863 Fix for missing link
  articles/azure-functions/functions-monitoring.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#124877 Fix typo
  includes/storage-dev-guides/storage-dev-guide-next-steps-javascript.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, azure-blob-storage/svc

#124870 Fixed typo
  articles/azure-functions/functions-scale.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#124873 Fix typo
  articles/sentinel/data-connectors/cribl.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#124875 Fix typo
  articles/communication-services/how-tos/calling-sdk/closed-captions-teams-interop-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete

#124874 Fix typo
  articles/azure-maps/rest-sdk-developer-guide.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, rest-sdk/subsvc

#124876 Fix typo
  articles/communication-services/quickstarts/call-automation/quickstart-make-an-outbound-call.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, call-automation/subsvc

#124878 Fixes a typo in the word article
  articles/event-grid/concepts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, azure-event-grid/svc

#124881 Update message-expiration.md
  articles/service-bus-messaging/message-expiration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, event-triaged-to-10AM, missed-content-complete, azure-service-bus/svc

#124885 Default scope of reservation transfer to a tenant
  articles/cost-management-billing/reservations/troubleshoot-reservation-transfers-between-tenants.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#124826 Update troubleshoot-session-host-update.md
  articles/virtual-desktop/troubleshoot-session-host-update.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124895 Update grant-access-to-create-subscription.md
  articles/cost-management-billing/manage/grant-access-to-create-subscription.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#124896 Update storage-sas-overview.md
  articles/storage/common/storage-sas-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-storage/svc, storage-common-concepts/subsvc

#124901 fix issues in example
  articles/azure-resource-manager/bicep/operator-null-forgiving.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#124907 Update network-security-perimeter-concepts.md
  articles/private-link/network-security-perimeter-concepts.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-private-link/svc

#124911 Fix formatting in cache-web-app-aspnet-core-howto.md
  articles/azure-cache-for-redis/cache-web-app-aspnet-core-howto.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-cache-redis/svc

#124612 Update notebooks-hunt.md
  articles/sentinel/notebooks-hunt.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#124131 Update unified-connector-cef-device.md
  articles/sentinel/unified-connector-cef-device.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#124916 Update event-hubs-capture-enable-through-portal.md
  articles/event-hubs/event-hubs-capture-enable-through-portal.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-hubs/svc

#124917 Fix next step in concept-key-value.md
  articles/azure-app-configuration/concept-key-value.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#124591 Remove references to MQ in Cloud Broker docs
  articles/event-grid/mqtt-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, mqtt/subsvc, azure-event-grid/svc

#124669 Update cache-private-link.md
  articles/azure-cache-for-redis/cache-private-link.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-cache-redis/svc

#124919 Update security-awareness-ubuntu-support.md
  articles/update-manager/security-awareness-ubuntu-support.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-update-manager/svc

#124918 Update schema-registry-concepts.md
  articles/event-hubs/schema-registry-concepts.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-event-hubs/svc

#124931 Update message-transfers-locks-settlement.md
  articles/service-bus-messaging/message-transfers-locks-settlement.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-service-bus/svc

#124934 Fix incorrect page link
  articles/private-link/network-security-perimeter-concepts.md
  articles/private-link/network-security-perimeter-diagnostic-logs.md
  articles/private-link/network-security-perimeter-role-based-access-control-requirements.md
  articles/private-link/network-security-perimeter-transition.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#124922 Update durable-functions-azure-storage-provider.md
  articles/azure-functions/durable/durable-functions-azure-storage-provider.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#124925 [Azure Maps] Remove deprecated properties
  articles/azure-maps/power-bi-visual-add-bubble-layer.md
  articles/azure-maps/power-bi-visual-understanding-layers.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, power-bi-visual/subsvc

#124841 CSS-Networking: Update create-custom-ip-address-prefix-ipv6-portal.md
  articles/virtual-network/ip-services/create-custom-ip-address-prefix-ipv6-portal.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, ip-services/subsvc, qualifies-for-auto-merge, azure-virtual-network/svc

#124941 Update the appropriate URLs
  articles/governance/policy/concepts/policy-for-kubernetes.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#124946 Update signalr-concept-performance.md
  articles/azure-signalr/signalr-concept-performance.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-signalr-service/svc

#124958 Added new line
  includes/azure-storage-account-limits-standard.md
Labels: do-not-merge, review-team-triage

#124965 Corrected grammar in Functions-overview
  articles/azure-functions/functions-overview.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge
