Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-02, with the labels that each got.

#119088 Update data-platform-metrics.md
  articles/azure-monitor/essentials/data-platform-metrics.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#119097 Update Mtls details for customizing config
  articles/azure-monitor/containers/prometheus-metrics-scrape-configuration.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#119396 Fix the tutorial to delete an ARO cluster
  articles/openshift/tutorial-delete-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#119404 Update how-to-test-private-endpoint.md
  articles/load-testing/how-to-test-private-endpoint.md
Labels: Change sent to author, ready-to-merge, load-testing/svc, qualifies-for-auto-merge

#119371 Update network-requirements.md
  articles/azure-arc/servers/includes/network-requirements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#119419 Typo "a Azure Database"→"an Azure Database"
  articles/mysql/flexible-server/how-to-connect-tls-ssl.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#119414 Fix syntax errors
  articles/aks/operator-best-practices-network.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#119384 Update how-to-create-azure-support-request.md
  articles/azure-portal/supportability/how-to-create-azure-support-request.md
Labels: Change sent to author, ready-to-merge, azure-supportability/svc, aq-pr-triaged, qualifies-for-auto-merge

#118189 Update manage-create-arc-environment.md
  articles/app-service/manage-create-arc-environment.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#119356 Update assign-roles-microsoft-graph.md
  articles/static-web-apps/assign-roles-microsoft-graph.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#118304 Update user-defined-routes.md
  articles/container-apps/user-defined-routes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#117840 Update artifact-streaming.md
  articles/aks/artifact-streaming.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#117270 Update partitioning-overview.md
  articles/cosmos-db/partitioning-overview.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#119452 Update crowdstrike-falcon-data-replicator-v2-using-azure-functions.md
  articles/sentinel/data-connectors/crowdstrike-falcon-data-replicator-v2-using-azure-functions.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#119433 Clarify restrictions on data replication
  articles/governance/policy/concepts/policy-for-kubernetes.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#119453 API Versions update (missing items and retirement announcement)
  articles/ai-services/openai/reference.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#119457 Correct nuget package number
  articles/event-grid/cloudevents-schema.md
Labels: Change sent to author, event-grid/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#119458 Upgrade to nuget 3.3.1
  articles/event-grid/cloudevents-schema.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged, qualifies-for-auto-merge

#117973 Update faq.yml on permissions to DI studio
  articles/ai-services/document-intelligence/faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-ai-document-intelligence/svc

#119467 Update deploy-azure-pipelines.md Fix typo
  articles/app-service/deploy-azure-pipelines.md
Labels: Change sent to author, app-service/svc, do-not-merge, qualifies-for-auto-merge

#119475 Typo "a Azure Database"→"an Azure Database"
  articles/mysql/flexible-server/concepts-backup-restore.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#119473 CSS NETWORKING - Added TLS 1.3 to Edgio SKUs
  articles/cdn/cdn-features.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cdn/svc, qualifies-for-auto-merge

#119096 Update application-gateway-faq.yml | Can I change the virtual network or subnet for an existing application gateway?
  articles/application-gateway/application-gateway-faq.yml
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, needs-human-review

#118966 Fixed indentation of response body properties
  articles/ai-services/translator/reference/v3-0-translate.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-translator/svc

#119486 Update edit-app-settings-host-settings.md
  articles/logic-apps/edit-app-settings-host-settings.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, qualifies-for-auto-merge

#119499 Update tutorial-import-vmware-using-rvtools-xlsx.md
  articles/migrate/tutorial-import-vmware-using-rvtools-xlsx.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, qualifies-for-auto-merge

#119459 Update container-insights-prometheus-logs.md
  articles/azure-monitor/containers/container-insights-prometheus-logs.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#119491 Typo "a Azure Database"→"an Azure Database"
  articles/postgresql/single-server/how-to-configure-privatelink-cli.md
Labels: Change sent to author, postgresql/svc, do-not-merge, single-server/subsvc, qualifies-for-auto-merge

#119518 Typo "a Azure Database"→"an Azure Database"
  articles/mysql/flexible-server/how-to-manage-firewall-cli.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#118764 Fix table duplicate
  articles/ai-services/translator/reference/v3-0-translate.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-translator/svc

#119500 Creating a lb with a zonal IP requires zones to be defined
  articles/load-balancer/quickstart-load-balancer-standard-public-cli.md
Labels: Change sent to author, ready-to-merge, load-balancer/svc, aq-pr-triaged, qualifies-for-auto-merge

#118442 Update secure network setting for DI Studio
  articles/ai-services/document-intelligence/managed-identities-secured-access.md
  articles/ai-services/document-intelligence/media/managed-identities/default-config-di.png
  articles/ai-services/document-intelligence/media/managed-identities/secure-config-di.png
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-ai-document-intelligence/svc

#119530 Fix typo in template-specs.md
  articles/azure-resource-manager/templates/template-specs.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, templates/subsvc, qualifies-for-auto-merge

#119524 Update storage-ref-azcopy-list.md
  articles/storage/common/storage-ref-azcopy-list.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#116883 Update info about temp disk encryption for encryption at host
  articles/virtual-machines/disk-encryption-overview.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, disks/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#119553 Enhance for devtest ESE clarity
  articles/azure-arc/servers/deliver-extended-security-updates.md
Labels: Change sent to author, do-not-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#115536 Feedback on quick-create-cli.md
  articles/key-vault/managed-hsm/quick-create-cli.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, managed-hsm/subsvc, qualifies-for-auto-merge

#119335 Update workspace-data-exfiltration-protection.md
  articles/synapse-analytics/security/workspace-data-exfiltration-protection.md
Labels: Change sent to author, ready-to-merge, security/subsvc, aq-pr-triaged, synapse-analytics/svc, qualifies-for-auto-merge

#118130 Update trusted-hardware-identity-management.md
  articles/security/fundamentals/trusted-hardware-identity-management.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc, qualifies-for-auto-merge

#118743 Update DMS MySQL privilege requirements
  articles/dms/tutorial-mysql-azure-external-to-flex-online-portal.md
  articles/dms/tutorial-mysql-azure-mysql-offline-portal.md
  articles/dms/tutorial-mysql-azure-single-to-flex-offline-portal.md
  articles/dms/tutorial-mysql-azure-single-to-flex-online-portal.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#119468 Update Device Streams regions
  articles/iot-hub/iot-hub-device-streams-overview.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#119172 Correct references to placeholders in the script
  articles/machine-learning/how-to-r-interactive-development.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118756 For Sub Domain verification the domain verification token needs to be added to the root domain.
  articles/app-service/configure-ssl-app-service-certificate.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#119324 Correct Python Quickstart link
  articles/key-vault/secrets/index.yml
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, certificates/subsvc, needs-human-review

#117504 Update the correct certificate type
  articles/key-vault/certificates/faq.yml
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, certificates/subsvc, needs-human-review

#119422 Update migrate-stv1-to-stv2.md
  articles/api-management/migrate-stv1-to-stv2.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#119575 Update custom-policies-series-validate-user-input.md
  articles/active-directory-b2c/custom-policies-series-validate-user-input.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, qualifies-for-auto-merge

#119543 Add TSG for Form Recognizer Not Found error
  articles/ai-services/document-intelligence/faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-ai-document-intelligence/svc

#119291 Update deploy-cli.md
  articles/firewall/deploy-cli.md
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge

#119584 Typo and syntax error.
  articles/synapse-analytics/spark/apache-spark-24-runtime.md
  articles/synapse-analytics/spark/apache-spark-3-runtime.md
Labels: Change sent to author, ready-to-merge, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#119579 Update models.md
  articles/ai-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#119606 Typo "Azure Open AI"→"Azure OpenAI"
  articles/postgresql/flexible-server/generative-ai-azure-openai.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, flexible-server/subsvc, qualifies-for-auto-merge

#119607 Update shared-responsibility.md
  articles/security/fundamentals/shared-responsibility.md
Labels: Change sent to author, security/svc, do-not-merge, security-fundamentals/subsvc, qualifies-for-auto-merge

#119586 Update microsoft-spark-utilities.md
  articles/synapse-analytics/spark/microsoft-spark-utilities.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#119582 Update validation-program.md
  articles/azure-arc/data/validation-program.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-data/subsvc, qualifies-for-auto-merge

#119593 Update kubernetes-monitoring-disable.md
  articles/azure-monitor/containers/kubernetes-monitoring-disable.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#118033 Update ingress-controller-install-existing.md
  articles/application-gateway/ingress-controller-install-existing.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#118956 Update ingress-controller-install-new.md
  articles/application-gateway/ingress-controller-install-new.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#119540 Update stream-analytics-resource-model.md
  articles/stream-analytics/stream-analytics-resource-model.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc, aq-pr-triaged, qualifies-for-auto-merge

#119616 Fixed next step link's title on service-fabric-how-to-specify-environment-variables.md
  articles/service-fabric/service-fabric-how-to-specify-environment-variables.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, qualifies-for-auto-merge

#119623 Fix typos (SingalR -> SignalR)
  articles/azure-signalr/signalr-tutorial-build-blazor-server-chat-app.md
Labels: Change sent to author, do-not-merge, signalr/svc, qualifies-for-auto-merge

#119611 Update oracle-database-network-plan.md
  articles/oracle/oracle-db/oracle-database-network-plan.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, oracle/subsvc, qualifies-for-auto-merge

#119450 When conditionVersion is accidentially set to 1.0: "The given role assignment condition is invalid."
  articles/role-based-access-control/conditions-troubleshoot.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, conditions/subsvc, qualifies-for-auto-merge

#119615 Adding new FrontDoor reliability recommendation
  articles/advisor/advisor-reference-reliability-recommendations.md
Labels: Change sent to author, advisor/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#119628 Update search-language-support.md
  articles/search/search-language-support.md
Labels: Change sent to author, ready-to-merge, cognitive-search/svc, qualifies-for-auto-merge

#119631 Update reliability-traffic-manager.md
  articles/reliability/reliability-traffic-manager.md
Labels: Change sent to author, ready-to-merge, traffic-manager/svc, qualifies-for-auto-merge

#119653 Typo "Azure Open AI"→"Azure OpenAI"
  articles/communication-services/samples/includes/call-automation-ai-javascript.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#119654 CSS Networking - Removed sentence re creating a DNS record
  articles/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#119637 Update scope.md
  articles/governance/policy/concepts/scope.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#119203 Update accelerated-networking-overview.md to clarify driver update
  articles/virtual-network/accelerated-networking-overview.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged

#119629 Update create-vm-accelerated-networking-cli.md
  articles/virtual-network/create-vm-accelerated-networking-cli.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, aq-pr-triaged

#119669 simplify manual upgrade instructions
  articles/azure-arc/resource-bridge/upgrade.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, qualifies-for-auto-merge

#119613 Update direct-routing-sip-specification.md
  articles/communication-services/concepts/telephony/direct-routing-sip-specification.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#119710 Update run-command.md
  articles/azure-arc/servers/run-command.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#119430 Defender for IoT Sample CLI SPAN port configuration (Cisco 2960) command fix
  articles/defender-for-iot/organizations/traffic-mirroring/configure-mirror-span.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-iot/svc, qualifies-for-auto-merge

#119617 Update monitor-app-configuration-reference.md
  articles/azure-app-configuration/monitor-app-configuration-reference.md
  articles/azure-app-configuration/monitor-app-configuration.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge

#119652 Update azure-monitor-workspace-overview.md
  articles/azure-monitor/essentials/azure-monitor-workspace-overview.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#119753 Fix typo in documentation
  articles/container-apps/service-discovery-resiliency.md
Labels: Change sent to author, do-not-merge, container-apps/svc, qualifies-for-auto-merge

#119725 Update tutorial-create-managed-app-with-custom-provider.md
  articles/azure-resource-manager/managed-applications/tutorial-create-managed-app-with-custom-provider.md
Labels: Change sent to author, ready-to-merge, managed-applications/svc, qualifies-for-auto-merge

#119754 Typo "Azure Open AI"→"Azure OpenAI"
  articles/ai-studio/how-to/prompt-flow-tools/prompt-flow-tools-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-studio/svc

#119755 Update send-email-smtp-smtpclient.md
  articles/communication-services/quickstarts/email/send-email-smtp/includes/send-email-smtp-smtpclient.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#119686 Adding estimating costs section
  articles/storage/files/storage-files-migration-robocopy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-file-storage/svc

#118949 Correcting Storage resource provider
  articles/machine-learning/how-to-setup-customer-managed-keys.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#119514 docs: kubenet to overlay upgrade
  articles/aks/azure-cni-overlay.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#119737 Update howto-configure-tls-manual.md - server chain
  articles/iot-operations/manage-mqtt-connectivity/howto-configure-tls-manual.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, mq/subsvc

#118344 Add note of health probe in ingress-basic.md
  articles/aks/ingress-basic.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#118323 updated spelling
  articles/virtual-network/virtual-network-peering-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#119769 Update platform-logs-overview.md
  articles/azure-monitor/essentials/platform-logs-overview.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#119784 Add guideline to avoid dispose or cancel committing transaction.
  articles/service-fabric/service-fabric-reliable-services-reliable-collections-guidelines.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, qualifies-for-auto-merge

#119778 Adding troubleshooting info for policy for k8s addon docs
  articles/governance/policy/concepts/policy-for-kubernetes.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, qualifies-for-auto-merge

#119773 Clarified cities
  includes/front-door-edge-locations.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#119780 Add parameter usage warning for NFS in azure-files-csi.md
  articles/aks/azure-files-csi.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#119562 Update read-editions.md to indicate 4.0 GA
  articles/ai-services/computer-vision/includes/read-editions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-vision/svc

#119685 Update kubernetes-monitoring-enable.md
  articles/azure-monitor/containers/kubernetes-monitoring-enable.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, containers/subsvc, qualifies-for-auto-merge

#119633 Add missing backslash
  articles/container-apps/ingress-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#119517 docs: kubenet dual-stack limitations
  articles/aks/configure-kubenet-dual-stack.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#119812 Policy Addon 1.3 changelog
  articles/governance/policy/concepts/policy-for-kubernetes.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#119632 Fix protocol value used in Microsoft.ApiManagement/service/backends
  articles/api-management/backends.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#119696 Fix feature name for ASR monitor alerting
  articles/site-recovery/site-recovery-monitor-and-troubleshoot.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, aq-pr-triaged, qualifies-for-auto-merge

#119743 Update support-matrix-defender-for-containers.md
  articles/defender-for-cloud/support-matrix-defender-for-containers.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#119819 Fix broken links
  CONTRIBUTING.md
Labels: do-not-merge, review-team-triage, docs-editor-pilot, needs-human-review

#119842 fix: Missing markup for code example
  articles/virtual-machines/extensions/custom-script-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, extensions/subsvc, qualifies-for-auto-merge

#119850 Typo "Azure Open AI"→"Azure OpenAI"
  articles/azure-cache-for-redis/cache-tutorial-vector-similarity.md
Labels: Change sent to author, cache/svc, do-not-merge, qualifies-for-auto-merge

#119815 Fix typo in scope-overview.md
  articles/role-based-access-control/scope-overview.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#119849 Update high-availability-guide-suse-pacemaker.md
  articles/sap/workloads/high-availability-guide-suse-pacemaker.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#115966 pollingIntervalInS; where S means String
  articles/virtual-machines/extensions/key-vault-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, extensions/subsvc, qualifies-for-auto-merge

#119512 Updating Key vault certificate user role information
  articles/key-vault/general/rbac-guide.md
Labels: Change sent to author, key-vault/svc, do-not-merge, aq-pr-triaged, general/subsvc, qualifies-for-auto-merge

#119873 Fixed typo
  articles/cosmos-db/get-started-change-data-capture.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#119871 Renamed Serverless360 to Turbo360 due to product re branding
  articles/logic-apps/biztalk-server-azure-integration-services-migration-approaches.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged, qualifies-for-auto-merge

#119765 Update create-waf-policy-ag.md
  articles/web-application-firewall/ag/create-waf-policy-ag.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, qualifies-for-auto-merge

#119880 Fix 119795 - remove CentOS EOL banner
  articles/openshift/howto-restrict-egress.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, needs-human-review

#119809 improve CMK documentation of microsoft sentinel
  articles/sentinel/customer-managed-keys.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, needs-human-review

#119576 Update faq.md
  articles/aks/faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118041 Update basv2.md
  articles/virtual-machines/basv2.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#119614 Update call-automation.md
  articles/communication-services/concepts/call-automation/call-automation.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, call-automation/subsvc

#119603 Update rule-processing.md
  articles/firewall/rule-processing.md
Labels: Change sent to author, do-not-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge

#118371 Add note and fix links in manage-azure-rbac.md
  articles/aks/manage-azure-rbac.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-kubernetes-service/svc

#119887 Typo "Azure Open AI"→"Azure OpenAI"
  articles/postgresql/flexible-server/generative-ai-azure-overview.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, flexible-server/subsvc, qualifies-for-auto-merge

#119890 Update end-to-end-tls.md
  articles/frontdoor/end-to-end-tls.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, qualifies-for-auto-merge

#119892 Update note on rotation limitation
  articles/machine-learning/how-to-setup-customer-managed-keys.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, enterprise-readiness/subsvc, qualifies-for-auto-merge

#119904 Update assistants-reference-threads.md
  articles/ai-services/openai/assistants-reference-threads.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#119763 Update dataset-gatk-resource-bundle.md
  articles/open-datasets/dataset-gatk-resource-bundle.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, open-datasets/svc, qualifies-for-auto-merge

#119764 Update dataset-human-reference-genomes.md
  articles/open-datasets/dataset-human-reference-genomes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, open-datasets/svc

#119899 Update 404 link to Azure OpenAI reference
  articles/ai-services/openai/reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#119573 Update concept-read.md mention of Image Analysis 4.0 to GA
  articles/ai-services/document-intelligence/concept-read.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-document-intelligence/svc

#119933 Remove preview wording from template specs doc
  articles/azure-resource-manager/templates/linked-templates.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, templates/subsvc, qualifies-for-auto-merge

#119942 Update dev-tunnels-service-limits.md
  includes/dev-tunnels/dev-tunnels-service-limits.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-dev-tunnels/svc

#119896 Fix identifier param name
  articles/azure-monitor/agents/azure-monitor-agent-send-data-to-event-hubs-and-storage.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc, qualifies-for-auto-merge

#119919 mig1
  articles/postgresql/migrate/how-to-migrate-single-to-flexible-cli.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, qualifies-for-auto-merge

#119951 Update image-factory-create.md
  articles/devtest-labs/image-factory-create.md
Labels: Change sent to author, devtest-lab/svc, do-not-merge, qualifies-for-auto-merge

#119959 Typo "Azure Open AI"→"Azure OpenAI"
  articles/ai-studio/how-to/quota.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-studio/svc

#119968 Typo "[Azure Open AI]"→"[Azure OpenAI]"
  articles/machine-learning/prompt-flow/concept-connections.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#119886 Update configure-private-link.md - call out azure ai and azure ai search resources to remain public
  articles/ai-studio/how-to/configure-private-link.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-studio/svc

#119651 Update storage-use-azurite.md
  articles/storage/common/storage-use-azurite.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#119417 Update site-recovery-limits.md
  includes/site-recovery-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, site recovery/svc, qualifies-for-auto-merge

#119950 Add docs for Update-IdentitySourceCertificates in Runcommand
  articles/azure-vmware/configure-identity-source-vcenter.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#119954 Add a paragraph on storage lockdown
  articles/openshift/concepts-egress-lockdown.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#119429 Update find-help-open-support-ticket.md
  articles/active-directory-b2c/find-help-open-support-ticket.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#119990 Add GIG LA endpoint to AMA network requirements page
  articles/azure-monitor/agents/azure-monitor-agent-data-collection-endpoint.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, agents/subsvc, qualifies-for-auto-merge

#119993 Update how-to-setup-rbac.md
  articles/cosmos-db/how-to-setup-rbac.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#119901 Remove deprecated az aks --docker-bridge-address option
  articles/aks/private-clusters.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#119479 Update versioning-overview.md
  articles/storage/blobs/versioning-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#120063 Remove redundant string
  articles/machine-learning/prompt-flow/concept-model-monitoring-generative-ai-evaluation-metrics.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc, qualifies-for-auto-merge

#120065 Typo "Azure Open AI"→"Azure OpenAI"
  articles/ai-studio/concepts/content-filtering.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-studio/svc

#120052 appid claim should be lowercase
  articles/healthcare-apis/fhir/configure-identity-providers.md
  articles/healthcare-apis/fhir/troubleshoot-identity-provider-configuration.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged, fhir/subsvc, qualifies-for-auto-merge

#119719 Fix wrong command in container-registry-transfer-prerequisites.md
  articles/container-registry/container-registry-transfer-prerequisites.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged, qualifies-for-auto-merge

#119718 Format and link fix in container-registry-transfer-images.md
  articles/container-registry/container-registry-transfer-images.md
Labels: Change sent to author, ready-to-merge, container-registry/svc, aq-pr-triaged, qualifies-for-auto-merge

#119855 Update migrate.md
  articles/ai-services/language-service/concepts/migrate.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#119935 docs(work-with-threat-indicators.md): Remove redundant "P" for platforms
  articles/sentinel/work-with-threat-indicators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#120035 Update virtual-wan-faq.md
  articles/virtual-wan/virtual-wan-faq.md
Labels: Change sent to author, ready-to-merge, virtual-wan/svc, aq-pr-triaged, qualifies-for-auto-merge
