Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-09, with the labels that each got.

#124299 deleted bullet - Jordi
  articles/application-gateway/quick-create-portal.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#124285 ANP CSS_Update dns-protect-private-zones-recordsets.md
  articles/dns/dns-protect-private-zones-recordsets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-dns/svc

#124294 Update ingress-controller-annotations.md to cover all current annotations
  articles/application-gateway/ingress-controller-annotations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-application-gateway/svc

#123543 Added clarification about exportable private key
  articles/application-gateway/key-vault-certs.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, qualifies-for-auto-merge

#123643 Update dns-faq-private.yml
  articles/dns/dns-faq-private.yml
Labels: Change sent to author, dns/svc, do-not-merge, aq-pr-triaged, needs-human-review

#123536 Add section of modifying appGw settings in application-gateway-faq.yml
  articles/application-gateway/application-gateway-faq.yml
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged, needs-human-review

#123010 Update azure-to-azure-how-to-reprotect.md
  articles/site-recovery/azure-to-azure-how-to-reprotect.md
Labels: Change sent to author, site-recovery/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#124312 Update app-attach-overview.md
  articles/virtual-desktop/app-attach-overview.md
Labels: Change sent to author, ready-to-merge, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124303 fix warning syntax
  articles/container-registry/container-registry-tasks-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-container-registry/svc

#124313 Update types-of-attacks.md
  articles/ddos-protection/types-of-attacks.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ddos-protection/svc

#124314 Update public-ip-basic-upgrade-guidance.md
  articles/virtual-network/ip-services/public-ip-basic-upgrade-guidance.md
Labels: Change sent to author, do-not-merge, ip-services/subsvc, qualifies-for-auto-merge, azure-virtual-network/svc

#123792 Update ingress-controller-troubleshoot.md
  articles/application-gateway/ingress-controller-troubleshoot.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#124315 Update ddos-protection-overview.md
  articles/ddos-protection/ddos-protection-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ddos-protection/svc

#124112 Update customer-lockbox-faq.yml
  articles/security/fundamentals/customer-lockbox-faq.yml
Labels: Change sent to author, ready-to-merge, information-protection/svc, aq-pr-triaged, needs-human-review

#124325 Update overview.md
  articles/azure-resource-manager/bicep/overview.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc, qualifies-for-auto-merge

#124326 Update functions-create-maven-intellij.md to have correct line number
  articles/azure-functions/functions-create-maven-intellij.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#123426 fix format when building image
  articles/app-service/includes/quickstart-custom-container/quickstart-custom-container-linux-visual-studio-code-pivot.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#123692 Update deploy-run-package.md
  articles/app-service/deploy-run-package.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#123491 Update backup-azure-restore-key-secret.md
  articles/backup/backup-azure-restore-key-secret.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#124329 Update functions-create-maven-intellij.md
  articles/azure-functions/functions-create-maven-intellij.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, qualifies-for-auto-merge

#124335 Informational
  README.md
Labels: do-not-merge, review-team-triage, needs-human-review

#124201 Update create-bgp-peering-hub-powershell.md
  articles/virtual-wan/create-bgp-peering-hub-powershell.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-wan/svc

#124330 Update how-to-url-redirect-gateway-api.md
  articles/application-gateway/for-containers/how-to-url-redirect-gateway-api.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, appgw-for-containers/subsvc, azure-application-gateway/svc

#124331 Update how-to-url-rewrite-gateway-api.md
  articles/application-gateway/for-containers/how-to-url-rewrite-gateway-api.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, appgw-for-containers/subsvc, azure-application-gateway/svc

#124339 Adding M23 release notes and OSDU EDS documentation Link
  articles/energy-data-services/how-to-register-external-data-sources.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, energy-data-services/svc

#124219 Update how-to-enable-external-data-sources.md
  articles/energy-data-services/how-to-enable-external-data-sources.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, energy-data-services/svc

#124344 Update accelerated-networking-overview.md
  articles/virtual-network/accelerated-networking-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-network/svc

#124345 Update virtual-machine-network-throughput.md
  articles/virtual-network/virtual-machine-network-throughput.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-network/svc

#124355 Update virtual-network-bandwidth-testing.md
  articles/virtual-network/virtual-network-bandwidth-testing.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-network/svc

#124308 Updating EDS Dags with RDM and PDM
  articles/energy-data-services/osdu-services-on-adme.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, energy-data-services/svc

#123831 Update application-gateway-crs-rulegroups-rules.md
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, web-application-firewall/svc, qualifies-for-auto-merge

#123859 ANP CSS-Networking-dns-settings.md
  articles/firewall/dns-settings.md
Labels: Change sent to author, do-not-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge

#124222 Update elastic-san-regions.md
  includes/elastic-san-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc

#124337 Replaced Internet Explorer with Microsoft Edge Browser
  articles/load-balancer/egress-only.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-load-balancer/svc

#124353 Update prerequisites.md
  articles/azure-arc/servers/prerequisites.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#124187 Application Gateway WAF policy (DRS 2.1) missing rule 942130 added to documentation.
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-web-application-firewall/svc

#124323 Update load-balancer-outbound-connections.md
  articles/load-balancer/load-balancer-outbound-connections.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-load-balancer/svc

#124357 fix: updating azure container storage premium v2 storagepool example
  articles/storage/container-storage/use-container-storage-with-managed-disks.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-container-storage/svc

#124361 ANP CSS_private-resolver-hybrid-dns.md_update_images_for_compliance
  articles/dns/private-resolver-hybrid-dns.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-dns/svc

#124362 ANP_CSS_Update dns-operations-recordsets-portal.md_Update_Screenshot
  articles/dns/dns-operations-recordsets-portal.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-dns/svc

#124359 Remove Five9 from the list of unsupported SFTP clients for Azure Blob Storage
  articles/storage/blobs/secure-file-transfer-protocol-known-issues.md
  articles/storage/blobs/secure-file-transfer-protocol-support.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#124366 Add missing space before links
  articles/automation/automation-disaster-recovery.md
  articles/automation/automation-scenario-aws-deployment.md
  articles/container-registry/container-registry-manage-artifact.md
  articles/dns/dns-faq-private.yml
  articles/event-grid/authenticate-with-entra-id-namespaces.md
  articles/event-grid/authenticate-with-microsoft-entra-id.md
  articles/frontdoor/classic-retirement-faq.md
  articles/hdinsight/hadoop/apache-hadoop-use-hive-visual-studio.md
  articles/iot/concepts-modeling-guide.md
  articles/notification-hubs/notification-hubs-push-bing-spatial-data-geofencing-notification.md
  articles/oracle/oracle-db/faq-oracle-database-azure.md
  articles/reliability/reliability-event-grid.md
  articles/storage/blobs/storage-blob-containers-list-go.md
  articles/storage/blobs/storage-blob-lease-javascript.md
  articles/virtual-desktop/prerequisites.md
  articles/virtual-desktop/private-link-setup.md
  articles/virtual-network-manager/overview.md
  articles/virtual-network/ip-services/virtual-network-public-ip-address.md
Labels: Change sent to author, do-not-merge, ip-services/subsvc, needs-human-review, azure-virtual-network/svc

#124368 Update create-management-group-azure-cli.md
  articles/governance/management-groups/create-management-group-azure-cli.md
Labels: Change sent to author, do-not-merge, governance/svc, qualifies-for-auto-merge

#124348 Update synapse-workspace-managed-private-endpoints.md
  articles/synapse-analytics/security/synapse-workspace-managed-private-endpoints.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, needs-human-review, azure-synapse-analytics/svc

#124370 Update troubleshooting.md
  articles/role-based-access-control/troubleshooting.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#124364 Update from Azure AD to Microsoft Entra
  articles/role-based-access-control/role-definitions.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#124383 Update submit an issue to the team link on functions-bindings-event-grid-trigger.md
  articles/azure-functions/functions-bindings-event-grid-trigger.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124399 Update Lighthouse restriction
  articles/dns/dns-private-resolver-overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-dns/svc

#124398 Update communication-services-chat-events.md
  articles/event-grid/communication-services-chat-events.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#124338 Update source-control.md
  articles/data-factory/source-control.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, ci-cd/subsvc, qualifies-for-auto-merge, azure-data-factory/svc

#124404 Update nsg-flow-logs-overview.md
  articles/network-watcher/nsg-flow-logs-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-network-watcher/svc

#123998 Explain Postgres Flexible Server doesn't support IPv6
  articles/virtual-network/ip-services/ipv6-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#124249 Update ipv6-add-to-existing-vnet-cli.md
  articles/load-balancer/ipv6-add-to-existing-vnet-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-load-balancer/svc

#124280 Update how-to-configure-endpoints.md
  articles/frontdoor/how-to-configure-endpoints.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-frontdoor/svc

#124282 Update expressroute-workflows.md
  articles/expressroute/expressroute-workflows.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#124393 Update tutorial-enrich-ip-information.md
  articles/sentinel/tutorial-enrich-ip-information.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#124428 Link to library that emits OpenTelemetry traces over Azure Service Bus
  articles/service-bus-messaging/service-bus-end-to-end-tracing.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-service-bus/svc

#124424 Additional useful metric for scaling
  articles/service-bus-messaging/message-counters.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-service-bus/svc

#124395 Update extensions-release.md
  articles/azure-arc/kubernetes/extensions-release.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-kubernetes/subsvc, qualifies-for-auto-merge

#124419 Update azure-rbac.md
  articles/azure-arc/kubernetes/azure-rbac.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-arc/svc, azure-arc-kubernetes/subsvc, qualifies-for-auto-merge

#124427 Link to the message bridge pattern
  articles/service-bus-messaging/service-bus-integrate-with-rabbitmq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-service-bus/svc

#124417 Update create-cluster.md
  articles/openshift/create-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#123706 Update data-box-deploy-export-ordered.md
  articles/databox/data-box-deploy-export-ordered.md
Labels: Change sent to author, ready-to-merge, databox/svc, pod/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#124430 Update logic-apps-pricing.md
  articles/logic-apps/logic-apps-pricing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-logic-apps/svc

#124433 Update migrate Common questions
  articles/migrate/common-questions-server-migration.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, qualifies-for-auto-merge

#124445 Correcting links in dns-overview.md
  articles/dns/dns-overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-dns/svc

#124431 Fix Wording on Variant Override
  articles/azure-app-configuration/feature-management-dotnet-reference.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged, qualifies-for-auto-merge

#124451 Capitalization matters
  articles/azure-functions/functions-dotnet-class-library.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124005 Update containers.md for AKS Contributor role changes
  articles/role-based-access-control/built-in-roles/containers.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#124457 fix duplicated description
  articles/role-based-access-control/built-in-roles/containers.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#122800 Update backup-azure-mars-troubleshoot.md
  articles/backup/backup-azure-mars-troubleshoot.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#123905 Replace narrow non-breaking space with normal space
  articles/trusted-signing/how-to-signing-integrations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, trusted-signing/svc

#123284 Update backup-azure-delete-vault.md
  articles/backup/backup-azure-delete-vault.md
Labels: Change sent to author, backup/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123437 Update calling-sdk-features.md
  articles/communication-services/concepts/voice-video-calling/calling-sdk-features.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#124056 Update on TD and Synnex merge.md
  articles/azure-government/documentation-government-csp-list.md
Labels: Change sent to author, ready-to-merge, azure-government/svc, aq-pr-triaged, qualifies-for-auto-merge

#124468 Update outlook-events.md
  articles/event-grid/outlook-events.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#124471 Update how-to-configure-azure-ssis-ir-custom-setup.md version
  articles/data-factory/how-to-configure-azure-ssis-ir-custom-setup.md
Labels: Change sent to author, ready-to-merge, integration-services/subsvc, qualifies-for-auto-merge, azure-data-factory/svc

#124474 Corrected latest version 1.2.5704 links - Update include-whats-new-client-windows-remote-desktop-msi.md
  articles/virtual-desktop/includes/include-whats-new-client-windows-remote-desktop-msi.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124475 Update skr-flow-confidential-containers-azure-container-instance.md
  articles/confidential-computing/skr-flow-confidential-containers-azure-container-instance.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-machines/svc, azure-confidential-computing/subsvc

#124263 Update change-tracking.md
  articles/automation/troubleshoot/change-tracking.md
Labels: Change sent to author, ready-to-merge, change-inventory-management/subsvc, aq-pr-triaged, qualifies-for-auto-merge, azure-automation/svc

#124478 Update apache-kafka-developer-guide.md
  articles/event-hubs/apache-kafka-developer-guide.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-hubs/svc

#124380 Update upgrade-to-data-lake-storage-gen2-how-to.md
  articles/storage/blobs/upgrade-to-data-lake-storage-gen2-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#124488 Update autoscale-create-assign-scaling-plan.md
  articles/virtual-desktop/autoscale-create-assign-scaling-plan.md
Labels: Change sent to author, ready-to-merge, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124490 Update configure-rdp-shortpath.md
  articles/virtual-desktop/configure-rdp-shortpath.md
Labels: Change sent to author, ready-to-merge, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124493 fix typos in compare-template-syntax.md
  articles/azure-resource-manager/bicep/compare-template-syntax.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#124246 CSS-Networking: Append certificate and RADIUS authentication
  articles/virtual-wan/virtual-wan-point-to-site-portal.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-wan/svc

#124225 Update packet-capture.md
  articles/vpn-gateway/packet-capture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-vpn-gateway/svc

#124226 Update packet-capture.md
  articles/vpn-gateway/packet-capture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-vpn-gateway/svc

#124499 Added a link to GH repo where customers can leverage ADE's Extensibil…
  articles/deployment-environments/how-to-configure-extensibility-terraform-container-image.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-deployment-environments/svc

#124501 Update index.yml
  articles/dev-box/index.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-box/svc, needs-human-review

#124401 Update cross-region-overview.md
  articles/load-balancer/cross-region-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-load-balancer/svc

#124508 Added SNAT related error codes to load-balancer-common-deployment-errors.md
  articles/load-balancer/load-balancer-common-deployment-errors.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-load-balancer/svc

#124142 Update functions-bindings-timer.md CRON
  articles/azure-functions/functions-bindings-timer.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124342 Update functions-app-settings.md
  articles/azure-functions/functions-app-settings.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#124275 [operator-nexus] Update overview.md
  articles/operator-nexus/overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sign-off, qualifies-for-auto-merge, azure-operator-nexus/svc

#124510 Update network-watcher-nsg-flow-logs-retirement.md
  includes/network-watcher-nsg-flow-logs-retirement.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-network-watcher/svc

#124351 Synapse External Hive Metasotre: Update the support matrix for Spark/Hive versions
  articles/synapse-analytics/spark/apache-spark-external-metastore.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, spark/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc
