Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-01, with the labels that each got.

#117992 Fix allowable characters for AML workspace name.
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118240 Update dapr-component-resiliency.md; remove invalid commas from bicep examples
  articles/container-apps/dapr-component-resiliency.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#116381 SF aad sfx changes
  articles/service-fabric/service-fabric-cluster-creation-setup-aad.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, qualifies-for-auto-merge

#114232 Update Service Fabric Extension Docs
  articles/service-fabric/service-fabric-cluster-nodetypes.md
  articles/service-fabric/service-fabric-tutorial-create-vnet-and-linux-cluster.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, aq-pr-triaged, qualifies-for-auto-merge

#118422 Using non-deprecated version of Application Insights
  articles/azure-monitor/app/worker-service.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#118424 Updated CosmosDB `introduction.md` (redundant `;`)
  articles/cosmos-db/introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge

#118428 Typo "a Azure Files"→"an Azure Files"
  articles/azure-functions/storage-considerations.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#118436 Correct precede typo
  articles/azure-resource-manager/bicep/user-defined-data-types.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, bicep/subsvc, qualifies-for-auto-merge

#118419 Add Python 3.7 EOL notice
  articles/machine-learning/v1/azure-machine-learning-release-notes.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118454 Typo "a Azure Stack"→"an Azure Stack"
  articles/databox-online/azure-stack-edge-gpu-manage-shares.md
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, qualifies-for-auto-merge

#118164 Update lifecycle-management-overview.md
  articles/storage/blobs/lifecycle-management-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#118255 webpage work-smarter-edge; Fixed bold content
  articles/copilot/work-smarter-edge.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, copilot-for-azure/svc

#118400 Fix wrong URL in Azure OpenAI Service - Azure OpenAI document
  articles/ai-services/openai/concepts/use-your-data.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#118076 Update roles-for-resource-and-storage.md
  articles/ai-services/language-service/custom-text-classification/includes/roles-for-resource-and-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#118183 Fix incorrect text encoding
  articles/iot-hub/quickstart-bicep-route-messages.md
Labels: Change sent to author, ready-to-merge, iot-hub/svc, aq-pr-triaged, qualifies-for-auto-merge

#118458 Update tutorial-logs-ingestion-portal.md
  articles/azure-monitor/logs/tutorial-logs-ingestion-portal.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, logs/subsvc, qualifies-for-auto-merge

#118464 Add SF linux to automatic-extension-upgrade.md
  articles/virtual-machines/automatic-extension-upgrade.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, extensions/subsvc, qualifies-for-auto-merge

#118469 Revert "Add SF linux to automatic-extension-upgrade.md"
  articles/virtual-machines/automatic-extension-upgrade.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, extensions/subsvc, qualifies-for-auto-merge

#118411 Typo "with a Azure Communication Service"→"with Azure～"
  articles/communication-services/quickstarts/email/add-azure-managed-domains.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#118450 Update tutorial-export-acm-data.md
  articles/cost-management-billing/costs/tutorial-export-acm-data.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#118407 Update shelf-modify-images.md
  articles/ai-services/computer-vision/how-to/shelf-modify-images.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-vision/svc

#118120 Alternative way to enable server logs
  articles/postgresql/flexible-server/how-to-server-logs-portal.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#118490 Unify number formats in documents.
  articles/ai-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#118495 Update legacy-models.md
  articles/ai-services/openai/concepts/legacy-models.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#118494 Typo "a Azure Stack Edge"→"an Azure Stack Edge"
  includes/azure-stack-edge-gateway-service-limits.md
Labels: Change sent to author, do-not-merge, databox/svc, qualifies-for-auto-merge

#118471 Update policy definition name
  articles/governance/policy/samples/built-in-packages.md
Labels: Change sent to author, ready-to-merge, azure-policy/svc, aq-pr-triaged, qualifies-for-auto-merge

#118309 Fix the url by adding double quotes
  articles/ai-services/openai/reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#118360 Added Key Vault Crypto Service Release User
  articles/role-based-access-control/built-in-roles.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#118144 Fix link to JS samples
  articles/ai-services/openai/supported-languages.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#118457 Adding 3 new Front Door Advisor recommendations
  articles/advisor/advisor-reference-reliability-recommendations.md
Labels: Change sent to author, ready-to-merge, advisor/svc, aq-pr-triaged, qualifies-for-auto-merge

#118493 pgpartman
  articles/postgresql/flexible-server/concepts-major-version-upgrade.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#118514 Updated python.md code example for OpenAI Python 1.x
  articles/ai-services/openai/includes/python.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#118530 Typo "a Azure Stack Edge"→"an Azure Stack Edge"
  articles/databox-online/azure-stack-edge-manage-shares.md
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, qualifies-for-auto-merge

#118518 Spelling Corrections
  articles/backup/backup-sql-server-azure-troubleshoot.md
Labels: Change sent to author, backup/svc, do-not-merge, qualifies-for-auto-merge

#117978 adding outdated image version query
  articles/machine-learning/how-to-manage-compute-instance.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, qualifies-for-auto-merge, compute/subsvc

#118546 Updated with Microsoft.management
  articles/azure-resource-manager/management/resource-name-rules.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118566 Updated reference.md to fix typo in the example of Completions extensions
  articles/ai-services/openai/reference.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#118548 Update start-containers.md - removed word duplication
  articles/container-apps/start-containers.md
Labels: Change sent to author, do-not-merge, container-apps/svc, qualifies-for-auto-merge

#118549 Update copy-activity-overview.md
  articles/data-factory/copy-activity-overview.md
Labels: Change sent to author, data-factory/svc, do-not-merge, data-movement/subsvc, qualifies-for-auto-merge

#118553 Spelling Correction
  articles/machine-learning/how-to-access-azureml-behind-firewall.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, enterprise-readiness/subsvc, qualifies-for-auto-merge

#118569 Typo "a Azure Stack Edge"→"an Azure Stack Edge"
  articles/databox-online/azure-stack-edge-gpu-deploy-add-shares.md
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, qualifies-for-auto-merge

#117540 Update inspect-traffic-with-azure-firewall.md
  articles/private-link/inspect-traffic-with-azure-firewall.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, private-link/svc, qualifies-for-auto-merge

#117709 Fix Intel OPL example in trusted-hardware-identity-management.md
  articles/security/fundamentals/trusted-hardware-identity-management.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc, qualifies-for-auto-merge

#116926 Update expressroute-locations.md
  articles/expressroute/expressroute-locations.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#118580 Update event-hubs-capture-python.md
  articles/event-hubs/event-hubs-capture-python.md
Labels: Change sent to author, ready-to-merge, event-hubs/svc, qualifies-for-auto-merge

#118562 Update batch-sig-images.md
  articles/batch/batch-sig-images.md
Labels: Change sent to author, batch/svc, do-not-merge, aq-pr-triaged

#117589 Fixing Typo for "Contributor"
  articles/dms/pre-reqs.md
Labels: Change sent to author, dms/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#118396 Add Create Snapshot Requirement for ASR VMWare Permissions - #118395
  articles/site-recovery/vmware-azure-tutorial-prepare-on-premises.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, aq-pr-triaged, qualifies-for-auto-merge

#118612 {AzureFunction} Incorrect variable name in "Passing multiple parameters"
  articles/azure-functions/durable/durable-functions-orchestrations.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, durable/subsvc, qualifies-for-auto-merge

#118480 Update license requirements and add links in access-control-managed-azure-ad.md
  articles/aks/access-control-managed-azure-ad.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118588 Missing space - replicationin -> replication in
  articles/container-registry/container-registry-troubleshoot-access.md
Labels: Change sent to author, container-registry/svc, do-not-merge, qualifies-for-auto-merge

#118403 fix wrong capacity , Update azure-csi-files-storage-provision.md
  articles/aks/azure-csi-files-storage-provision.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118409 Correct the syntax in azure-ad-rbac.md
  articles/aks/azure-ad-rbac.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118610 Update functions-reference.md
  articles/azure-functions/functions-reference.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#118402 remove extra volumeMounts
  articles/aks/azure-csi-disk-storage-provision.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118328 Fix powershell cmdlet for container app fqdn
  includes/container-apps-get-fully-qualified-domain-name.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#118173 Fix sentence so it makes better sense.
  articles/azure-functions/functions-scale.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#118156 AIO - Manage Secrets - adding preconfigure service principal and key vault policies
  articles/iot-operations/deploy-iot-ops/howto-manage-secrets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, iot-operations/svc

#118336 Update concepts-network.md
  articles/aks/concepts-network.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118631 Update docs to account for changes to the AOSM CLI
  articles/operator-service-manager/publisher-resource-preview-management.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-operator-service-manager/svc

#118248 Updating docs for Unified Job Submission
  articles/machine-learning/how-to-train-with-ui.md
  articles/machine-learning/media/how-to-train-with-ui/unified-job-submission-home.png
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, needs-human-review, training/subsvc

#118635 Adding "ID" to Microsoft Entra reference
  articles/ai-services/openai/how-to/switching-endpoints.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#118483 Update concept-retrieval-augumented-generation.md
  articles/ai-services/document-intelligence/concept-retrieval-augumented-generation.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-document-intelligence/svc

#117330 Added details to embedding code
  articles/ai-services/openai/how-to/migration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#118660 Update faq.yml
  articles/ai-services/document-intelligence/faq.yml
Labels: Change sent to author, ready-to-merge, needs-human-review, azure-ai-document-intelligence/svc

#118482 Update design-guidance-for-replicated-tables.md
  articles/synapse-analytics/sql-data-warehouse/design-guidance-for-replicated-tables.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#118522 added MaxBack backup option to dbms-guide-maxdb.md
  articles/sap/workloads/dbms-guide-maxdb.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#118438 Update how-to-use-automated-ml-for-ml-models.md
  articles/machine-learning/how-to-use-automated-ml-for-ml-models.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#118578 Update azure metrics command
  articles/azure-monitor/essentials/azure-monitor-workspace-manage.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#118470 Update automatic-extension-upgrade.md
  articles/virtual-machines/automatic-extension-upgrade.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, extensions/subsvc, qualifies-for-auto-merge

#118162 Fix route maps dashboard guidance to open dashboard
  articles/virtual-wan/route-maps-dashboard.md
Labels: Change sent to author, ready-to-merge, virtual-wan/svc, aq-pr-triaged, qualifies-for-auto-merge

#118437 Update how-to-use-automated-ml-for-ml-models.md
  articles/machine-learning/how-to-use-automated-ml-for-ml-models.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, automl/subsvc, qualifies-for-auto-merge

#118644 update datalake table name
  articles/iot-operations/connect-to-cloud/howto-configure-data-lake.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, mq/subsvc

#118669 Update authentication.md
  articles/ai-services/authentication.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-services/svc

#118433 Update csi-secrets-store-nginx-tls.md
  articles/aks/csi-secrets-store-nginx-tls.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118513 fix `az role assignment` using Object (principal) ID
  articles/aks/csi-secrets-store-identity-access.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118653 Add missing NC 100 v4-series GPUs
  articles/virtual-machines/sizes-gpu.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#118474 Update use-your-data-dotnet.md
  articles/ai-services/openai/includes/use-your-data-dotnet.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#118694 Call out an IPoIB bug in old agent versions
  articles/virtual-machines/extensions/enable-infiniband.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, hpc/subsvc, qualifies-for-auto-merge

#118505 Clarify timeout or failed to connect
  articles/virtual-machines/instance-metadata-service.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, qualifies-for-auto-merge

#118384 Update the list of App Service plans that support Private Endpoint
  articles/app-service/scripts/terraform-secure-backend-frontend.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#118383 Update how-to-access-data-interactive.md
  articles/machine-learning/how-to-access-data-interactive.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, core/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118642 Update site-recovery-faq.yml
  articles/site-recovery/site-recovery-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review

#118700 Update move-azure-VMs-AVset-Azone.md
  articles/site-recovery/move-azure-VMs-AVset-Azone.md
Labels: Change sent to author, ready-to-merge, site-recovery/svc, qualifies-for-auto-merge

#118676 Update faq-defender-for-servers.yml
  articles/defender-for-cloud/faq-defender-for-servers.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, defender-for-cloud/svc, needs-human-review

#118711 Spelling Correction
  articles/azure-monitor/app/java-standalone-telemetry-processors.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#117466 Update monitor-instances-health-check.md
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#118726 Update azure-cni-overlay.md
  articles/aks/azure-cni-overlay.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#118710 Update maintenance-scheduling.md
  articles/synapse-analytics/sql-data-warehouse/maintenance-scheduling.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#117893 [Containerapp] Change the hello-world image to mcr.microsoft.com/k8se/quickstart:latest
  articles/container-apps/azure-arc-create-container-app.md
  articles/container-apps/get-started-existing-container-image.md
  articles/container-apps/get-started.md
  articles/container-apps/managed-identity-image-pull.md
  articles/container-apps/revisions-manage.md
  articles/container-apps/tutorial-deploy-first-app-cli.md
  articles/container-apps/tutorial-scaling.md
  articles/container-apps/workload-profiles-manage-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#118646 Update cluster-autoscaler.md
  articles/aks/cluster-autoscaler.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#116508 Only custom domains of length up to 64 characters
  articles/app-service/configure-ssl-certificate.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#118742 Update provisioned-throughput.md
  articles/ai-services/openai/concepts/provisioned-throughput.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#118583 Fix typo
  articles/azure-resource-manager/bicep/user-defined-data-types.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#118701 Link to experimental features documentation, clarify config resolution
  articles/azure-resource-manager/bicep/bicep-config.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, needs-human-review

#118683 Updated permission list for newuser to access Custom DB
  articles/hdinsight/hdinsight-custom-ambari-db.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#118751 Fix a typo in virtual-machine-scale-sets-automatic-upgrade.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, automatic-os-upgrade/subsvc, qualifies-for-auto-merge

#118766 Update search-indexer-overview.md
  articles/search/search-indexer-overview.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#118754 Set AZCOPY_AUTO_LOGIN_TYPE as environment variable
  articles/storage/common/storage-use-azcopy-authorize-azure-active-directory.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#118638 Update UDF limitation in file.md
  articles/azure-resource-manager/bicep/file.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#118783 Update example powershell for app attach package objects
  articles/virtual-desktop/app-attach-setup.md
Labels: Change sent to author, ready-to-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#118795 Update workbooks-jsonpath.md - s/covert/convert
  articles/azure-monitor/visualize/workbooks-jsonpath.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, visualizations/subsvc, qualifies-for-auto-merge

#118801 Update subnet-extension.md
  articles/virtual-network/subnet-extension.md
Labels: Change sent to author, virtual-network/svc, do-not-merge, qualifies-for-auto-merge

#118818 Update export-modify-registrations-bulk.md
  articles/notification-hubs/export-modify-registrations-bulk.md
Labels: Change sent to author, ready-to-merge, notification-hubs/svc, aq-pr-triaged, qualifies-for-auto-merge

#118782 Update migrate-stv1-to-stv2.md
  articles/api-management/migrate-stv1-to-stv2.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#118673 Fix missing trailing letter in GUID
  articles/defender-for-cloud/release-notes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#118841 Update how-to-data-source-plugins-managed-identity.md
  articles/managed-grafana/how-to-data-source-plugins-managed-identity.md
Labels: Change sent to author, ready-to-merge, managed-grafana/svc, qualifies-for-auto-merge

#118833 Fixing broken link
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, ready-to-merge, app-service/svc, qualifies-for-auto-merge

#118856 Update tag-support.md
  articles/azure-resource-manager/management/tag-support.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#118829 Update release-notes.md
  articles/defender-for-cloud/release-notes.md
Labels: Change sent to author, do-not-merge, defender-for-cloud/svc, qualifies-for-auto-merge

#118845 Typo "a [Azure free account]"→"an [Azure free account]"
  articles/cost-management-billing/manage/upgrade-azure-subscription.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#118870 Typo "a Azure Database for MySQL"→"an Azure Database for MySQL"
  articles/mysql/flexible-server/quickstart-create-server-cli.md
Labels: Change sent to author, mysql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#118835 Add NoSQL data plane entra ID support information
  articles/cosmos-db/how-to-restrict-user-data.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#118859 Update how-to-grafana-enterprise.md
  articles/managed-grafana/how-to-grafana-enterprise.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, managed-grafana/svc, qualifies-for-auto-merge

#118874 Update delete-activity.md
  articles/data-factory/delete-activity.md
Labels: Change sent to author, data-factory/svc, do-not-merge, orchestration/subsvc, qualifies-for-auto-merge

#118903 Typo "a Azure load balancer"→"an Azure load balancer"
  articles/load-balancer/configure-vm-scale-set-portal.md
Labels: Change sent to author, load-balancer/svc, do-not-merge, qualifies-for-auto-merge

#118878 Fix a code example
  articles/governance/resource-graph/paginate-powershell.md
Labels: Change sent to author, ready-to-merge, resource-graph/svc, aq-pr-triaged, qualifies-for-auto-merge

#117784 Synapse: Add links to package dependencies
  articles/synapse-analytics/spark/microsoft-spark-utilities.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#118834 Update switching-endpoints.md
  articles/ai-services/openai/how-to/switching-endpoints.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#117955 Update the name of the H100 size.
  articles/virtual-machines/nd-h100-v5-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#118625 Update immutable-storage-overview.md
  articles/storage/blobs/immutable-storage-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-blob-storage/svc

#117892 Fix file parameter in az ml workspace update
  articles/machine-learning/how-to-secure-training-vnet.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#118543 Update use-blocklists.md
  articles/ai-services/openai/how-to/use-blocklists.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-ai-openai/svc

#118793 specify HTTP method PUT explicitly
  articles/ai-services/computer-vision/how-to/shelf-analyze.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-vision/svc

#118865 Update azure-portal-dashboards-create-programmatically.md
  articles/azure-portal/azure-portal-dashboards-create-programmatically.md
Labels: Change sent to author, ready-to-merge, azure-portal/svc, aq-pr-triaged, qualifies-for-auto-merge

#118909 Adjust role names for SMB share-level permissions
  articles/storage/files/storage-files-identity-auth-domain-services-enable.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-file-storage/svc

#118681 DNS Integration is immutable for MySql Flexible Server
  articles/mysql/flexible-server/concepts-networking-vnet.md
Labels: Change sent to author, ready-to-merge, mysql/svc, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#117941 Update relay-token-python.md
  articles/communication-services/quickstarts/includes/relay-token-python.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, azure-communication-services/subsvc, qualifies-for-auto-merge

#118881 Fix a error responses example
  articles/active-directory-b2c/openid-connect.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118842 Fix missing parts and refine in workload-identity-deploy-cluster.md
  articles/aks/workload-identity-deploy-cluster.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-kubernetes-service/svc

#118940 Typo "a [Azure Machine Learning pipeline]"→"an [Azure ～"
  articles/machine-learning/how-to-use-pipeline-component.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc, qualifies-for-auto-merge

#118942 Update convert-classic-resource.md
  articles/azure-monitor/app/convert-classic-resource.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#118087 Update local-testing-event-grid.md
  articles/communication-services/how-tos/event-grid/local-testing-event-grid.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#115217 Update service-limits.md
  articles/communication-services/concepts/service-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, data/subsvc, qualifies-for-auto-merge

#118787 Add information for health checks to data lake documentation
  articles/healthcare-apis/dicom/dicom-data-lake.md
Labels: Change sent to author, ready-to-merge, healthcare-apis/svc, aq-pr-triaged, qualifies-for-auto-merge, dicom/subsvc

#118618 Update regional-availability.md
  articles/ai-services/language-service/summarization/includes/regional-availability.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#118914 Update azure-netapp-files-smb.md
  articles/aks/azure-netapp-files-smb.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118947 Fix: Typo in functions-develop-vs-code.md. Corrected "baswed" to "based"
  articles/azure-functions/functions-develop-vs-code.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, qualifies-for-auto-merge

#118955 Update move-resource-group-and-subscription.md
  articles/azure-resource-manager/management/move-resource-group-and-subscription.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#117661 Update latest postgres version in concepts-single-to-flexible
  articles/postgresql/migrate/concepts-single-to-flexible.md
Labels: Change sent to author, ready-to-merge, postgresql/svc, aq-pr-triaged, qualifies-for-auto-merge

#118957 Update outbound-rules-control-egress.md
  articles/aks/outbound-rules-control-egress.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#118946 VMSS Flexible instance protection parity gap closed
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-protection.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, instance-protection/subsvc, qualifies-for-auto-merge

#118969 Update manage-ssh-node-access.md
  articles/aks/manage-ssh-node-access.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-kubernetes-service/svc

#118952 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118953 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#118961 Fixed typo partner-eid-me.md
  articles/active-directory-b2c/partner-eid-me.md
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, qualifies-for-auto-merge

#118963 Fix grammar and format in deploy-confidential-containers-default-policy.md
  articles/aks/deploy-confidential-containers-default-policy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#117206 Update how-to-connect-with-managed-identity.md
  articles/postgresql/flexible-server/how-to-connect-with-managed-identity.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#118977 Update lsblk command on how-to-resize-encrypted-lvm.md
  articles/virtual-machines/linux/how-to-resize-encrypted-lvm.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, disks/subsvc, qualifies-for-auto-merge

#117700 Durable functions - return value as string
  articles/azure-functions/durable/quickstart-python-vscode.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge
