Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-03, with the labels that each got.

#120333 Remove "but" to avoid link with previous statement
  articles/ai-studio/how-to/create-manage-compute.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-studio/svc

#120347 XML code has been aligned with the text
  articles/active-directory-b2c/custom-policies-series-store-user.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#120349 Fixed typo: AAD-UserUpdate -> AAD-UserRead
  articles/active-directory-b2c/custom-policies-series-sign-up-or-sign-in-federation.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#120339 Update Azure ML tutorial screenshot
  articles/machine-learning/media/tutorial-azure-ml-in-a-day/find-credentials.png
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#120375 Typo "Azure Open AI"→"Azure OpenAI"
  articles/machine-learning/prompt-flow/transparency-note.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, qualifies-for-auto-merge, prompt-flow/subsvc

#120316 Update fhir-service-resource-manager-template.md: There are 2 issues …
  articles/healthcare-apis/fhir/fhir-service-resource-manager-template.md
Labels: Change sent to author, do-not-merge, healthcare-apis/svc, aq-pr-triaged, qualifies-for-auto-merge

#120404 What PNA stands for
  articles/ai-studio/how-to/create-azure-ai-resource.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-studio/svc

#120390 Typo "Azure Open AI"→"Azure OpenAI"
  articles/logic-apps/workflow-assistant-standard.md
Labels: Change sent to author, logic-apps/svc, do-not-merge, qualifies-for-auto-merge

#120412 Update concept-managed-airflow.md to fix grammar
  articles/data-factory/concept-managed-airflow.md
Labels: Change sent to author, data-factory/svc, do-not-merge, qualifies-for-auto-merge

#120393 Removing reference to VNet for Azure AI Studio's compute instances
  articles/ai-studio/how-to/create-manage-compute.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-studio/svc

#120394 Updating limitation details, as per the original reference in AML docs
  articles/ai-studio/how-to/configure-managed-network.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-studio/svc

#120399 Typo "Azure Open AI"→"Azure OpenAI"
  articles/machine-learning/how-to-use-retrieval-augmented-generation.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#120424 Typo "Azure Open AI"→"Azure OpenAI"
  articles/data-manager-for-agri/concepts-llm-apis.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, data-manager-for-agri/svc

#120437 Add span processor configuration to monitor distro
  articles/azure-monitor/app/opentelemetry-add-modify.md
  articles/azure-monitor/app/opentelemetry-enable.md
  articles/azure-monitor/includes/azure-monitor-app-insights-opentelemetry-faqs.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, application-insights/subsvc

#120411 Update expressroute-introduction.md
  articles/expressroute/expressroute-introduction.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#120410 Update expressroute-howto-circuit-portal-resource-manager.md
  articles/expressroute/expressroute-howto-circuit-portal-resource-manager.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#120409 Update expressroute-howto-linkvnet-portal-resource-manager.md
  articles/expressroute/expressroute-howto-linkvnet-portal-resource-manager.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#120433 Update understand-embeddings.md
  articles/ai-services/openai/concepts/understand-embeddings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#120431 Update embeddings.md
  articles/ai-services/openai/tutorials/embeddings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#120442 Update availability-standard-tests.md
  articles/azure-monitor/app/availability-standard-tests.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#120467 Typo "Azure Open AI"→"Azure OpenAI"
  articles/connectors/built-in.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, qualifies-for-auto-merge

#120454 Update tutorial-spark-pool-filesystem-spec.md
  articles/synapse-analytics/spark/tutorial-spark-pool-filesystem-spec.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#119841 Update whisper-quickstart.md
  articles/ai-services/openai/whisper-quickstart.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#120018 Typo "Azure Open AI"→"Azure OpenAI"
  articles/ai-studio/how-to/generate-data-qa.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-studio/svc

#120061 Update azure-kubernetes-recipe.md
  articles/ai-services/containers/azure-kubernetes-recipe.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#120373 Update reference-collation-types.md
  articles/synapse-analytics/sql/reference-collation-types.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql/subsvc, qualifies-for-auto-merge

#120231 Update set-up-zone-redundancy-availability-zones.md
  articles/logic-apps/set-up-zone-redundancy-availability-zones.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, aq-pr-triaged, qualifies-for-auto-merge

#120299 Security risk - changed internal-contoso.com to internal.contoso.com
  articles/app-service/environment/app-service-app-service-environment-create-ilb-ase-resourcemanager.md
  articles/app-service/environment/certificates.md
  articles/app-service/environment/create-from-template.md
  articles/app-service/environment/how-to-custom-domain-suffix.md
  articles/app-service/environment/how-to-migrate.md
  articles/app-service/environment/how-to-side-by-side-migrate.md
  articles/app-service/environment/overview-certificates.md
  articles/app-service/environment/version-comparison.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#120507 Typo "Azure Open AI"→"Azure OpenAI"
  articles/machine-learning/how-to-secure-rag-workflows.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#120509 Adds missing word in dotnet-isolated-process-guide.md
  articles/azure-functions/dotnet-isolated-process-guide.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#120511 Removed acronym MITS from article about Managed Identities with Service Fabric
  articles/service-fabric/how-to-managed-cluster-application-managed-identity.md
  articles/service-fabric/toc.yml
Labels: Change sent to author, ready-to-merge, service-fabric/svc, needs-human-review

#119665 Remove ! (not) from if statement
  articles/azure-functions/durable/durable-functions-error-handling.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#120517 Update functions-reference-node.md
  articles/azure-functions/functions-reference-node.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, qualifies-for-auto-merge

#120518 Chore/mistral deployment cleaning
  articles/ai-studio/how-to/deploy-models-mistral.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-studio/svc

#119952 Update run-command-managed.md
  articles/virtual-machines/windows/run-command-managed.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#120531 updateNotebookCellLimitation
  articles/synapse-analytics/troubleshoot/troubleshoot-synapse-studio.md
Labels: Change sent to author, ready-to-merge, synapse-analytics/svc, troubleshooting/subsvc, qualifies-for-auto-merge

#120561 Typo "Azure Open AI"→"Azure OpenAI"
  articles/spring-apps/enterprise/quickstart-automate-deployments-github-actions-enterprise.md
Labels: Change sent to author, ready-to-merge, spring-apps/svc, qualifies-for-auto-merge

#120485 Update save-compute-costs-reservations.md
  articles/cost-management-billing/reservations/save-compute-costs-reservations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#120562 Update nva-accelerated-connections.md
  articles/networking/nva-accelerated-connections.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#120306 Update scenario-bgp-peering-hub.md
  articles/virtual-wan/scenario-bgp-peering-hub.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc, aq-pr-triaged

#120266 Update sync frequency for dataset-encode.md
  articles/open-datasets/dataset-encode.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, open-datasets/svc, qualifies-for-auto-merge

#120575 Update os-disk-swap.md
  articles/virtual-machines/linux/os-disk-swap.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-disk-storage/svc

#120535 Missing table heading for additional service provider connectivity
  articles/expressroute/expressroute-locations-providers.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#120572 Update virtual-wan-global-transit-network-architecture.md
  articles/virtual-wan/virtual-wan-global-transit-network-architecture.md
Labels: Change sent to author, do-not-merge, virtual-wan/svc, qualifies-for-auto-merge

#120579 Fixed inconsistency in virtual-networks-udr-overview.md
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#120600 Update index.yml (Typo "Azure OpenAI"→"Azure Open AI")
  articles/frontdoor/index.yml
Labels: Change sent to author, do-not-merge, frontdoor/svc, needs-human-review

#120607 Update how-to-restore-cluster.md
  articles/cosmos-db/mongodb/vcore/how-to-restore-cluster.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge, mongodb-vcore/subsvc

#120629 Typo "[Azure Open AI built-in connector reference]"→"[Azure OpenAI ～"
  articles/logic-apps/connectors/azure-ai.md
Labels: Change sent to author, ready-to-merge, logic-apps/svc, qualifies-for-auto-merge

#120623 Typo "Azure Open AI"→"Azure OpenAI"
  articles/spring-apps/enterprise/quickstart-deploy-apps-enterprise.md
Labels: Change sent to author, do-not-merge, spring-apps/svc, qualifies-for-auto-merge

#120657 Typo "Azure Open AI"→"Azure OpenAI"
  articles/machine-learning/how-to-use-pipelines-prompt-flow.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, core/subsvc, qualifies-for-auto-merge

#120660 Added details about log location
  articles/azure-monitor/agents/azure-monitor-agent-troubleshoot-linux-vm-rsyslog.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, agents/subsvc

#120664 Update link to custom authentication API
  articles/iot-operations/manage-mqtt-connectivity/howto-configure-authentication.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, mq/subsvc

#120635 Fix missing and wrong default values in cluster-autoscaler.md
  articles/aks/cluster-autoscaler.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#120663 Update ai-toolchain-operator.md
  articles/aks/ai-toolchain-operator.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#120613 Updates for Feb release for AIO CLI
  articles/iot-operations/connect-to-cloud/tutorial-connect-event-grid.md
  articles/iot-operations/deploy-iot-ops/howto-deploy-iot-operations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, iot-operations/svc

#120671 Update studio-overview to remove repeated sentences
  articles/ai-services/document-intelligence/studio-overview.md
Labels: Change sent to author, do-not-merge, azure-ai-document-intelligence/svc

#120701 Typo "Azure Open AI"→"Azure OpenAI"
  articles/machine-learning/how-to-managed-network.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, enterprise-readiness/subsvc, qualifies-for-auto-merge

#120668 Update fasv6-falsv6-series.md
  articles/virtual-machines/fasv6-falsv6-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#120667 Update easv6-eadsv6-series.md
  articles/virtual-machines/easv6-eadsv6-series.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, sizes/subsvc, qualifies-for-auto-merge

#120465 [ACS][PhoneNumbers] Update get phone numbers quickstart
  articles/communication-services/quickstarts/telephony/get-phone-number.md
  articles/communication-services/quickstarts/telephony/includes/phone-numbers-az-cli.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#120713 Update role-based-access-control.md
  articles/cosmos-db/role-based-access-control.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, qualifies-for-auto-merge

#120583 Fixed mismatch between instruction and the actual code
  articles/ai-services/speech-service/includes/how-to/recognize-speech/csharp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-speech/svc

#120581 Enhance the Linux environment variables section
  articles/ai-services/speech-service/includes/common/environment-variables.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-speech/svc

#120704 Update licensing.md
  articles/virtual-desktop/licensing.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#120716 Add missing Azure products to availability-zones-migration-overview.md
  articles/reliability/availability-zones-migration-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, reliability/svc, availability-zones/subsvc

#120751 Fixed spelling mistake in IoT hub documentation
  articles/iot-hub/iot-hub-devguide-messaging.md
Labels: Change sent to author, iot-hub/svc, do-not-merge, qualifies-for-auto-merge

#120738 Replace invisible character in network-observability-managed-cli.md
  articles/aks/network-observability-managed-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#119233 upgradepg16
  articles/postgresql/flexible-server/concepts-major-version-upgrade.md
Labels: Change sent to author, postgresql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc, qualifies-for-auto-merge

#120749 Clarify the 120 nodes limit cluster type in ARO FAQ
  articles/openshift/openshift-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-redhat-openshift/svc, needs-human-review

#120741 Fixing permissions in the sample code
  articles/defender-for-cloud/github-action.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, defender-for-cloud/svc, qualifies-for-auto-merge

#119783 Fix: ILogger in code example
  articles/azure-functions/durable/durable-functions-dotnet-isolated-overview.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#118869 Add 'user' property to Dall-E 3 docs
  articles/ai-services/openai/reference.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#120762 Update run-command.md
  articles/azure-arc/servers/run-command.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#120756 Grammar fix for standard-metrics.md
  articles/azure-monitor/app/standard-metrics.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#120757 Update whisper-quickstart.md
  articles/ai-services/openai/whisper-quickstart.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#120681 Update apache-spark-autoscale.md
  articles/synapse-analytics/spark/apache-spark-autoscale.md
Labels: Change sent to author, ready-to-merge, review-team-triage, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#120786 Update play-action.md
  articles/communication-services/concepts/call-automation/play-action.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#120787 Update recognize-action.md
  articles/communication-services/concepts/call-automation/recognize-action.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#120792 Updating Shared scope description
  articles/cost-management-billing/savings-plan/scope-savings-plan.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, qualifies-for-auto-merge, savings-plan/subsvc

#120694 Update trusted-launch-faq.md
  articles/virtual-machines/trusted-launch-faq.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, trusted-launch/subsvc, qualifies-for-auto-merge

#120799 Update provisioned-throughput.md - extra word
  articles/ai-services/openai/concepts/provisioned-throughput.md
Labels: Change sent to author, do-not-merge, azure-ai-openai/svc

#120797 Remove jargon
  articles/azure-monitor/agents/agents-overview.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, agents/subsvc, qualifies-for-auto-merge

#120807 Improve legibility in backup-azure-restore-files-from-vm.md
  articles/backup/backup-azure-restore-files-from-vm.md
Labels: Change sent to author, backup/svc, do-not-merge, qualifies-for-auto-merge

#120808 Added missing colon to improve consistency in the content.
  articles/application-gateway/overview-v2.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, qualifies-for-auto-merge

#120811 Update integrate-ibmi-apps-distributed-program-calls.md
  articles/connectors/integrate-ibmi-apps-distributed-program-calls.md
Labels: Change sent to author, logic-apps/svc, do-not-merge, qualifies-for-auto-merge

#120825 Update assign-azure-role-data-access.md
  articles/storage/blobs/assign-azure-role-data-access.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#120838 Update vminsights-overview.md
  articles/azure-monitor/vm/vminsights-overview.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, virtual-machines/subsvc, qualifies-for-auto-merge

#120650 Updating Dhcp schema name from 'Dhcp' to 'DhcpEvent'
  articles/sentinel/normalization-schema-dhcp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#120685 Update Username to User for consistency with other schemas
  articles/sentinel/normalization-schema-dhcp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#120348 Corrected command for Granting extension identity permissions to Storage account
  articles/backup/azure-kubernetes-service-cluster-manage-backups.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#120863 Update rbac-guide.md
  articles/key-vault/general/rbac-guide.md
Labels: Change sent to author, key-vault/svc, do-not-merge, general/subsvc, qualifies-for-auto-merge

#120868 Update overview.md
  articles/azure-arc/servers/overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#120735 Update synapse-workspace-synapse-rbac-roles.md
  articles/synapse-analytics/security/synapse-workspace-synapse-rbac-roles.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, synapse-analytics/svc, qualifies-for-auto-merge

#120810 Fix wrong HTTP Method
  articles/ai-services/openai/includes/fine-tuning-rest.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#120889 Add subnet value specification for the NetworkSettings class when VNet is created under different resource group
  articles/machine-learning/how-to-secure-training-vnet.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, enterprise-readiness/subsvc, qualifies-for-auto-merge

#120883 Update upgrade-hcx-azure-vmware-solutions.md
  articles/azure-vmware/upgrade-hcx-azure-vmware-solutions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#120833 Update deploy-sap-btp-solution.md
  articles/sentinel/sap/deploy-sap-btp-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, needs-human-review

#120689 Add ExpressRoute to KV Trusted Services List
  articles/key-vault/general/overview-vnet-service-endpoints.md
Labels: Change sent to author, ready-to-merge, key-vault/svc, aq-pr-triaged, general/subsvc, qualifies-for-auto-merge

#119994 Update node-autoprovision.md limitations
  articles/aks/node-autoprovision.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-kubernetes-service/svc

#120435 Updating App Service unused plans
  articles/advisor/advisor-reference-cost-recommendations.md
Labels: Change sent to author, advisor/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#120775 Update network-bandwidth.md
  articles/cosmos-db/network-bandwidth.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge

#120907 (Minor) Update search-indexer-howto-access-private.md
  articles/search/search-indexer-howto-access-private.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#120929 Update backup-azure-vms-agentless-multi-disk-crash-consistent-overvie…
  articles/backup/backup-azure-vms-agentless-multi-disk-crash-consistent-overview.md
Labels: Change sent to author, backup/svc, do-not-merge, qualifies-for-auto-merge

#119673 Minor fixes to AML environment customization docs
  articles/machine-learning/prompt-flow/how-to-customize-environment-runtime.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, prompt-flow/subsvc

#120926 Update storage-task-quickstart-portal.md
  articles/storage-actions/storage-tasks/storage-task-quickstart-portal.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage-actions/svc

#120346 bicepparam usage in azure pipelines
  articles/azure-resource-manager/bicep/add-template-to-azure-pipelines.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, aq-pr-triaged, bicep/subsvc, needs-human-review

#120503 Fix service naming from postgre to kafka
  articles/container-apps/tutorial-dev-services-kafka.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#120982 Update deploy-disaster-recovery-using-vmware-hcx.md
  articles/azure-vmware/deploy-disaster-recovery-using-vmware-hcx.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#120980 Update rotate-cloudadmin-credentials.md
  articles/azure-vmware/rotate-cloudadmin-credentials.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#120983 Update enable-public-ip-nsx-edge.md
  articles/azure-vmware/enable-public-ip-nsx-edge.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#120960 Update introduction.md
  articles/azure-vmware/introduction.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#120477 fix typo change "databaseaccount" to "mongocluster"
  articles/cosmos-db/mongodb/vcore/quickstart-bicep.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, mongodb-vcore/subsvc

#120406 Update Azure Cosmos DB Emulator instructions for python
  articles/cosmos-db/emulator.md
  articles/cosmos-db/how-to-develop-emulator.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#120893 Update azure-services-in-fedramp-auditscope.md
  articles/azure-government/compliance/azure-services-in-fedramp-auditscope.md
Labels: Change sent to author, azure-government/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#120950 Update sentinel onboarding documentation
  articles/sentinel/quickstart-onboard.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#120961 Update azure-vmware-solution-platform-updates.md
  articles/azure-vmware/azure-vmware-solution-platform-updates.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#120962 Update faq.yml
  articles/azure-vmware/faq.yml
Labels: Change sent to author, do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#120956 Add warning about moving NIC subnet is not supported.
  articles/dev-box/concept-dev-box-network-requirements.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, dev-box/svc

#120953 Update custom-domain.md to remove flawed sample and replace with inst…
  articles/active-directory-b2c/custom-domain.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#120580 Improve legibility in XML code samples with proper formatting
  articles/ai-services/speech-service/speech-synthesis-markup-pronunciation.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-speech/svc

#120943 Update api-management-subscriptions.md
  articles/api-management/api-management-subscriptions.md
Labels: Change sent to author, api-management/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#120985 Update known-issues-all-browser.md
  articles/communication-services/concepts/voice-video-calling/includes/known-issues/known-issues-all-browser.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#120614 Update service-limits.md to handle new limits for email azure managed domains
  articles/communication-services/concepts/service-limits.md
  articles/communication-services/quickstarts/email/add-azure-managed-domains.md
  articles/communication-services/quickstarts/email/add-custom-verified-domains.md
  articles/communication-services/quickstarts/email/enable-user-engagement-tracking.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, data/subsvc, needs-human-review

#120964 Update buy-savings-plan.md
  articles/cost-management-billing/savings-plan/buy-savings-plan.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, qualifies-for-auto-merge, savings-plan/subsvc

#121014 Edit grammar/punctuation in models.md
  articles/ai-services/openai/concepts/models.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#121013 Update customer-lockbox-overview.md
  articles/security/fundamentals/customer-lockbox-overview.md
Labels: Change sent to author, information-protection/svc, do-not-merge, qualifies-for-auto-merge

#121018 Updated benefit scope ordering
  articles/cost-management-billing/savings-plan/scope-savings-plan.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, qualifies-for-auto-merge, savings-plan/subsvc

#120540 Update disks-metrics.md
  articles/virtual-machines/disks-metrics.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-disk-storage/svc

#121041 Fix broken alerts
  articles/ai-services/language-service/custom-named-entity-recognition/includes/roles-for-resource-and-storage.md
  articles/ai-services/language-service/includes/custom/roles-for-resource-and-storage.md
  articles/ai-services/language-service/question-answering/how-to/encrypt-data-at-rest.md
  articles/app-service/configure-authentication-provider-google.md
  articles/backup/backup-azure-dataprotection-use-rest-api-backup-blobs.md
  articles/backup/backup-mabs-whats-new-mabs.md
  articles/cloud-services-extended-support/enable-rdp.md
  articles/cosmos-db/nosql/query/computed-properties.md
  articles/hpc-cache/hpc-region-recovery.md
  articles/virtual-machines/extensions/key-vault-linux.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, extensions/subsvc, qualifies-for-auto-merge

#121044 Add missing comma
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, qualifies-for-auto-merge

#120997 Updates per comments from Jia.
  articles/databox-online/azure-stack-edge-gpu-clustering-overview.md
Labels: Change sent to author, do-not-merge, databox/svc, edge/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#121020 Clarify .NET SDK version needed for Azure Migrate application and code assessment for .NET
  articles/migrate/appcat/dotnet.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#120675 Improve legibility of "When to add synonyms to a project" section
  articles/ai-services/language-service/question-answering/concepts/best-practices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#120676 Enhance "Import file" section for better clarity
  articles/ai-services/language-service/question-answering/tutorials/active-learning.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-language/svc

#120948 Add AddFileAction Size Limitation
  articles/stream-analytics/write-to-delta-lake.md
Labels: Change sent to author, ready-to-merge, stream-analytics/svc, aq-pr-triaged, qualifies-for-auto-merge

#121063 Update virtual-machine-scale-sets-automatic-upgrade.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, automatic-os-upgrade/subsvc, qualifies-for-auto-merge

#121067 Update howto-configure-availability-scale.md to describe workers field
  articles/iot-operations/manage-mqtt-connectivity/howto-configure-availability-scale.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, mq/subsvc

#120722 Update machine-learning-udf.md to add warning about ml endpoint calls from portal query editor
  articles/stream-analytics/machine-learning-udf.md
Labels: Change sent to author, stream-analytics/svc, do-not-merge, review-team-triage, aq-pr-triaged, qualifies-for-auto-merge

#121074 Update nva10v5-series.md (typo)
  articles/virtual-machines/nva10v5-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, sizes/subsvc, qualifies-for-auto-merge

#121085 Fix format in use-network-policies.md
  articles/aks/use-network-policies.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-kubernetes-service/svc

#121093 Fix necessary typos
  articles/azure-vmware/vulnerability-management.md
  articles/frontdoor/standard-premium/how-to-add-custom-domain.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, qualifies-for-auto-merge

#121099 Fixed Release date of version 10.20.18076.0
  articles/virtual-machines/extensions/oms-windows.md
Labels: Change sent to author, ready-to-merge, virtual-machines/svc, aq-pr-triaged, extensions/subsvc, qualifies-for-auto-merge

#121109 Update download-savings-plan-price-sheet.md
  articles/cost-management-billing/savings-plan/download-savings-plan-price-sheet.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, qualifies-for-auto-merge, savings-plan/subsvc

#120733 Remove outdated steps in tutorial-ingress-controller-add-on-existing.md and ingress-controller-migration.md
  articles/application-gateway/ingress-controller-migration.md
  articles/application-gateway/media/tutorial-ingress-controller-add-on-existing/portal-ingress-controller-add-on.png
  articles/application-gateway/tutorial-ingress-controller-add-on-existing.md
Labels: Change sent to author, ready-to-merge, application-gateway/svc, aq-pr-triaged, needs-human-review

#120648 Rename dataSources to data_sources in gpt-with-vision.md
  articles/ai-services/openai/how-to/gpt-with-vision.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#121111 Update monitor-instances-health-check.md
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, app-service/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#120730 Update try-document-intelligence-studio.md about key-based authentication
  articles/ai-services/document-intelligence/quickstarts/try-document-intelligence-studio.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-document-intelligence/svc

#120941 Update hdinsight-administer-use-portal-linux.md
  articles/hdinsight/hdinsight-administer-use-portal-linux.md
Labels: Change sent to author, ready-to-merge, hdinsight/svc, aq-pr-triaged, qualifies-for-auto-merge

#120892 Update faq.yml to make note for permissions
  articles/ai-services/document-intelligence/faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-ai-document-intelligence/svc

#121128 Update the required role assignment.
  articles/programmable-connectivity/azure-programmable-connectivity-using-network-apis.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-programmable-connectivity/svc
