Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-06, with the labels that each got.

#122956 Update private-link-faq.yml
  articles/private-link/private-link-faq.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, private-link/svc, needs-human-review

#122948 Update sql-data-warehouse-tables-index.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-index.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, sql-dw/subsvc, qualifies-for-auto-merge

#123011 Update overview.md
  articles/ai-services/content-safety/overview.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-content-safety/svc

#123021 Update event-schema-resources.md to remove the "preview" tag for ARN …
  articles/event-grid/event-schema-resources.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged, qualifies-for-auto-merge

#122992 Update mqtt-publish-and-subscribe-cli.md
  articles/event-grid/mqtt-publish-and-subscribe-cli.md
Labels: Change sent to author, ready-to-merge, event-grid/svc, aq-pr-triaged, mqtt/subsvc

#122511 Update data-loss-prevention with API changes
  articles/communication-services/how-tos/chat-sdk/data-loss-prevention.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, chat/subsvc, qualifies-for-auto-merge

#122994 Update file-search.md Typo in assistant instruction corrected
  articles/ai-services/openai/how-to/file-search.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#119693 Update nd-h100-v5-series.md
  articles/virtual-machines/nd-h100-v5-series.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#122955 Update dns-limits.md
  includes/dns-limits.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, qualifies-for-auto-merge

#123057 Update vminsights-troubleshoot.md
  articles/azure-monitor/vm/vminsights-troubleshoot.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, virtual-machines/subsvc, qualifies-for-auto-merge

#122980 Update availability-zones-overview.md
  articles/reliability/availability-zones-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, reliability/svc, availability-zones/subsvc

#123062 Update using-cloud-init.md
  articles/virtual-machines/linux/using-cloud-init.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, extensions/subsvc

#123063 Fix syntax error and make documentation clearer in functions-bindings-event-grid-output.md
  articles/azure-functions/functions-bindings-event-grid-output.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged

#123033 Update rule-set-server-variables.md
  articles/frontdoor/rule-set-server-variables.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#122915 Add the link for DDoS protection in the front-door-ddos.md
  articles/frontdoor/front-door-ddos.md
Labels: Change sent to author, do-not-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#122916 Update references
  articles/virtual-machines/vm-support-help.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123036 Update run-functions-from-deployment-package.md
  articles/azure-functions/run-functions-from-deployment-package.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#123065 Update use-your-data.md
  articles/ai-services/openai/concepts/use-your-data.md
Labels: Change sent to author, do-not-merge, azure-ai-openai/svc

#122836 Fix comma in bicep file
  articles/iot-operations/deploy-custom/howto-helm.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, orchestrator/subsvc

#122876 Update send-email-with-attachments.md
  articles/communication-services/quickstarts/email/send-email-advanced/send-email-with-attachments.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#123067 Update vector-search.md
  articles/cosmos-db/nosql/vector-search.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, nosql/subsvc

#122793 Update resource-manager-lock-resources.md
  includes/resource-manager-lock-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, qualifies-for-auto-merge

#123078 Update concepts-quotas-limits.md
  articles/iot-central/core/concepts-quotas-limits.md
Labels: Change sent to author, ready-to-merge, iot-central/svc

#123081 avnm-limits
  articles/azure-resource-manager/management/azure-subscription-service-limits.md
  includes/azure-virtual-network-manager-limits.md
Labels: Change sent to author, ready-to-merge, networking/svc, management/subsvc

#123083 Update how-to-dotnet-vector-index-query.md
  articles/cosmos-db/nosql/how-to-dotnet-vector-index-query.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, qualifies-for-auto-merge, nosql/subsvc

#122812 Update greynoise-threat-intelligence.md
  articles/sentinel/data-connectors/greynoise-threat-intelligence.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#122873 Proposal to fix the script errors for customizing Tomcat
  articles/app-service/configure-language-java.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#122196 Update documentation for new SDK
  articles/ai-services/computer-vision/how-to/find-similar-faces.md
  articles/ai-services/computer-vision/includes/quickstarts-sdk/identity-javascript-sdk.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-vision/svc, azure-ai-face/subsvc

#123003 Update firewall-faq.yml
  articles/firewall/firewall-faq.yml
Labels: Change sent to author, ready-to-merge, firewall/svc, aq-pr-triaged

#123134 Added backslashes to break markdown formatting removing the Underscore which isn't useful for reading the documentation correctly.
  articles/lab-services/administrator-guide.md
Labels: Change sent to author, ready-to-merge, lab-services/svc, aq-pr-triaged, qualifies-for-auto-merge

#123061 Removed extra dashes
  articles/aks/vertical-pod-autoscaler.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc

#123143 Update concepts-networking-private-link.md
  articles/postgresql/flexible-server/concepts-networking-private-link.md
Labels: Change sent to author, postgresql/svc, do-not-merge, flexible-server/subsvc, qualifies-for-auto-merge

#123147 Update batch-delete.md
  articles/service-bus-messaging/batch-delete.md
Labels: Change sent to author, service-bus-messaging/svc, do-not-merge, qualifies-for-auto-merge

#123155 Changed Egress IP support statement
  articles/openshift/concepts-networking.md
Labels: Change sent to author, ready-to-merge, azure-redhat-openshift/svc, qualifies-for-auto-merge

#123108 Update gateway-migration.md
  articles/expressroute/gateway-migration.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#123126 Update cdn-storage-custom-domain-https.md
  articles/cdn/cdn-storage-custom-domain-https.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-cdn/svc, qualifies-for-auto-merge

#123127 Update cdn-create-a-storage-account-with-cdn.md
  articles/cdn/cdn-create-a-storage-account-with-cdn.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-cdn/svc, qualifies-for-auto-merge

#123177 Fix spelling errors
  articles/web-application-firewall/ag/create-custom-waf-rules.md
Labels: Change sent to author, do-not-merge, web-application-firewall/svc, qualifies-for-auto-merge

#122794 Update authentication-managed-identity-policy.md
  articles/api-management/authentication-managed-identity-policy.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#123153 RBAC / Web+Mobile: Remove internal-only resources
  articles/role-based-access-control/permissions/web-and-mobile.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#123111 Deprecating MQTT 5
  articles/iot/iot-mqtt-5-preview-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot/svc

#123071 Deprecating MQTT 5
  articles/iot/iot-mqtt-5-preview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, iot/svc

#123160 Clarified that Logic Apps can only be hosted on ASEv3 in supported regions
  articles/app-service/environment/overview.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#123138 Update action-groups.md
  articles/azure-monitor/alerts/action-groups.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#123162 Update action-groups.md
  articles/azure-monitor/alerts/action-groups.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#123195 Insert image DCR - Private Link ingestion.md
  articles/azure-monitor/essentials/private-link-data-ingestion.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, essentials/subsvc, qualifies-for-auto-merge

#123192 Fix example JQ output (shows wrong humidity value)
  articles/iot-operations/process-data/concept-jq-expression.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, iot-operations/svc, data-processor/subsvc

#123191 Update howto-deploy-iot-operations.md
  articles/iot-operations/deploy-iot-ops/howto-deploy-iot-operations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, orchestrator/subsvc

#123187 Fixed Formatting issues to How to configure Azure Database for MySQL - Flexible Server data-in replication
  articles/mysql/flexible-server/how-to-data-in-replication.md
Labels: Change sent to author, mysql/svc, do-not-merge, aq-pr-triaged, flexible-server/subsvc

#122785 Update how-to-secure-workspace-vnet.md
  articles/machine-learning/how-to-secure-workspace-vnet.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#123122 Fix format and missing link in configure-azure-cni-static-block-allocation.md
  articles/aks/configure-azure-cni-static-block-allocation.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#123222 Update vector-search-how-to-index-binary-data.md
  articles/search/vector-search-how-to-index-binary-data.md
Labels: Change sent to author, do-not-merge, cognitive-search/svc, qualifies-for-auto-merge

#123185 update UserMessageIfIncorrectOTPCodeEntered
  articles/active-directory-b2c/localization-string-ids.md
Labels: Change sent to author, ready-to-merge, active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#122464 Enhance clarity for workaround with unsupported Connection String Types
  articles/app-service/configure-common.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged, qualifies-for-auto-merge

#123131 Added "168.63.129.16 isn't resolved by reverse DNS lookup" on what-is…
  articles/virtual-network/what-is-ip-address-168-63-129-16.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#123169 Fix invalid JSON example in api-management-howto-api-inspector.md
  articles/api-management/api-management-howto-api-inspector.md
Labels: Change sent to author, ready-to-merge, api-management/svc, aq-pr-triaged, qualifies-for-auto-merge

#123124 Update authorize-data-access.md
  articles/storage/common/authorize-data-access.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#123230 Update AKS observability sample queries to the right link with queries
  articles/aks/monitor-aks-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-monitoring/subsvc

#123248 Update lifecycle-management-policy-configure.md
  articles/storage/blobs/lifecycle-management-policy-configure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#123263 Update program-requirements-edge-secured-core.md
  articles/certification/program-requirements-edge-secured-core.md
Labels: Change sent to author, do-not-merge, certification/svc

#123271 Update overview.md
  articles/service-health/overview.md
Labels: Change sent to author, ready-to-merge, service-health/svc, qualifies-for-auto-merge

#119091 Update virtual-machine-scale-sets-automatic-upgrade.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, automatic-os-upgrade/subsvc, qualifies-for-auto-merge

#121185 Update alternative container tool feature in container-registry-authentication.md
  articles/container-registry/container-registry-authentication.md
Labels: Change sent to author, container-registry/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123298 Fixed typo of 'dataabse'
  articles/data-factory/tutorial-bulk-copy.md
Labels: Change sent to author, data-factory/svc, do-not-merge, tutorials/subsvc, qualifies-for-auto-merge

#123290 Update whats-new.md
  articles/ai-services/openai/whats-new.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-ai-openai/svc

#123278 Add caution message to acu.md
  articles/virtual-machines/acu.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, sizes/subsvc

#123266 Update using-cloud-init.md
  articles/virtual-machines/linux/using-cloud-init.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, aq-pr-triaged, extensions/subsvc, qualifies-for-auto-merge

#123282 Update network-watcher-create.md
  articles/network-watcher/network-watcher-create.md
Labels: Change sent to author, network-watcher/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123283 Update network-watcher-overview.md
  articles/network-watcher/network-watcher-overview.md
Labels: Change sent to author, network-watcher/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123306 Update about-fastpath.md
  articles/expressroute/about-fastpath.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#123310 Update allocate-costs.md
  articles/cost-management-billing/costs/allocate-costs.md
Labels: Change sent to author, ready-to-merge, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#123318 Fix typo in key-vault-linux.md
  articles/virtual-machines/extensions/key-vault-linux.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, extensions/subsvc, qualifies-for-auto-merge

#123321 Update reliability-backup.md
  articles/reliability/reliability-backup.md
Labels: Change sent to author, backup/svc, do-not-merge, qualifies-for-auto-merge

#121144 Update devTunnel instruction per request
  articles/communication-services/quickstarts/call-automation/includes/quickstart-make-an-outbound-call-using-callautomation-csharp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge, call-automation/subsvc

#123324 fixing migration-to-fabric.md with adx 2nd option in note
  articles/time-series-insights/migration-to-fabric.md
Labels: Change sent to author, ready-to-merge, time-series-insights/svc, aq-pr-triaged, qualifies-for-auto-merge

#122688 Update how-to-configure-coexisting-gateway-portal.md
  articles/expressroute/how-to-configure-coexisting-gateway-portal.md
Labels: Change sent to author, ready-to-merge, expressroute/svc, aq-pr-triaged, qualifies-for-auto-merge

#121366 Update front-door-cdn-comparison.md
  articles/frontdoor/front-door-cdn-comparison.md
Labels: Change sent to author, ready-to-merge, frontdoor/svc, aq-pr-triaged, qualifies-for-auto-merge

#123330 Update how-to-import-data-assets.md
  articles/machine-learning/how-to-import-data-assets.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mldata/subsvc, qualifies-for-auto-merge

#123094 Update how to managed network
  articles/machine-learning/how-to-managed-network.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, enterprise-readiness/subsvc, qualifies-for-auto-merge

#123342 Update tag-support.md
  articles/azure-resource-manager/management/tag-support.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#123211 Update oracle-reference-architecture.md
  articles/virtual-machines/workloads/oracle/oracle-reference-architecture.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#123369 Update live-stream.md to call out OTel asp.net is not supported
  articles/azure-monitor/app/live-stream.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, application-insights/subsvc, qualifies-for-auto-merge

#123373 Fix spelling error
  articles/container-apps/tutorial-dev-services-postgresql.md
Labels: Change sent to author, do-not-merge, container-apps/svc, qualifies-for-auto-merge

#123257 Update jobs-get-started-cli.md
  articles/container-apps/jobs-get-started-cli.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc

#123332 Update azure-monitor-limits-alerts.md
  includes/azure-monitor-limits-alerts.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#122310 Update networking.md
  articles/role-based-access-control/built-in-roles/networking.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#123199 Update custom-roles.md
  articles/role-based-access-control/custom-roles.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#123341 Update prerequisites.md
  articles/azure-arc/servers/prerequisites.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#123375 Update howto-configure-opcua-authentication-options.md
  articles/iot-operations/manage-devices-assets/howto-configure-opcua-authentication-options.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, opcua-broker/subsvc

#123399 Remove extra space in data source path
  articles/synapse-analytics/sql/develop-openrowset.md
Labels: Change sent to author, do-not-merge, synapse-analytics/svc, sql/subsvc, qualifies-for-auto-merge

#123406 Update ea-portal-vm-reservations.md
  articles/cost-management-billing/manage/ea-portal-vm-reservations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, enterprise/subsvc

#123163 Fix wrong model and version name
  articles/ai-services/openai/concepts/use-your-data.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-openai/svc

#123411 Update overview-v2.md
  articles/application-gateway/overview-v2.md
Labels: Change sent to author, application-gateway/svc, do-not-merge, aq-pr-triaged

#122178 Update virtual-networks-udr-overview.md
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#122175 Update network-security-groups-overview.md
  articles/virtual-network/network-security-groups-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#123415 Update mqtt-client-groups.md
  articles/event-grid/mqtt-client-groups.md
Labels: Change sent to author, event-grid/svc, do-not-merge, qualifies-for-auto-merge, mqtt/subsvc

#123393 Update overview.md
  articles/azure-resource-manager/templates/overview.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, templates/subsvc, qualifies-for-auto-merge

#120165 Update virtual-machine-scale-sets-scale-in-policy.md
  articles/virtual-machine-scale-sets/virtual-machine-scale-sets-scale-in-policy.md
Labels: Change sent to author, ready-to-merge, virtual-machine-scale-sets/svc, aq-pr-triaged, scale-in-policy/subsvc, qualifies-for-auto-merge

#123404 Update container-instances-managed-identity.md
  articles/container-instances/container-instances-managed-identity.md
Labels: Change sent to author, ready-to-merge, container-instances/svc, aq-pr-triaged, qualifies-for-auto-merge

#123414 Update apache-spark-34-runtime.md
  articles/synapse-analytics/spark/apache-spark-34-runtime.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-analytics/svc, spark/subsvc, qualifies-for-auto-merge

#123343 Update howto-manage-secrets.md
  articles/iot-operations/deploy-iot-ops/howto-manage-secrets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, iot-operations/svc, orchestrator/subsvc

#123421 Update onboard-multicloud-vms-arc.md
  articles/azure-arc/multicloud-connector/onboard-multicloud-vms-arc.md
Labels: Change sent to author, ready-to-merge, azure-arc/svc, qualifies-for-auto-merge

#123319 Update migrate-to-policy.md
  articles/firewall-manager/migrate-to-policy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, firewall-manager/svc, qualifies-for-auto-merge

#123374 update docs about merge to indicate hidden merge steps do not run
  articles/azure-monitor/visualize/workbooks-data-sources.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, visualizations/subsvc, qualifies-for-auto-merge

#122380 Update backup-azure-diagnostic-events.md
  articles/backup/backup-azure-diagnostic-events.md
Labels: Change sent to author, ready-to-merge, backup/svc, aq-pr-triaged, qualifies-for-auto-merge

#122378 Update backup-azure-diagnostic-events.md
  articles/backup/backup-azure-diagnostic-events.md
Labels: Change sent to author, backup/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#122173 AKS backup related update
  articles/backup/azure-kubernetes-service-cluster-backup-concept.md
Labels: Change sent to author, backup/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123412 Fix DCR ingestion example code
  articles/azure-monitor/logs/tutorial-logs-ingestion-code.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#123434 Update create-portal-availability-zone.md (Typo "a Azure"→"an Azure")
  articles/virtual-machines/create-portal-availability-zone.md
Labels: Change sent to author, virtual-machines/svc, do-not-merge, qualifies-for-auto-merge

#119902 Imrove WeChat Documentation with Steps
  articles/active-directory-b2c/identity-provider-wechat.md
  articles/active-directory-b2c/media/identity-provider-azure-ad-b2c/link-wechat-identity-provider.png
  articles/active-directory-b2c/media/identity-provider-azure-ad-b2c/wechat-client-configuration.png
Labels: Change sent to author, active-directory/svc, do-not-merge, B2C/subsvc, aq-pr-triaged, needs-human-review

#123435 Update whats-happening-to-mariadb.md
  articles/mariadb/whats-happening-to-mariadb.md
Labels: Change sent to author, do-not-merge, mariadb/svc, aq-pr-triaged, qualifies-for-auto-merge

#123333 Update how-to-configure-authentication.md
  articles/cosmos-db/postgresql/how-to-configure-authentication.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, postgresql/subsvc

#123235 Unnecessary Initialization of Log Array
  articles/azure-monitor/essentials/create-diagnostic-settings.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, aq-pr-triaged, essentials/subsvc, qualifies-for-auto-merge

#123425 add some more of the limitations documented elsewhere to this page as well
  articles/azure-monitor/visualize/workbooks-bring-your-own-storage.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, aq-pr-triaged, visualizations/subsvc, qualifies-for-auto-merge

#123448 Update wiz.md
  articles/sentinel/data-connectors/wiz.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#123458 Update automation-create-standalone-account.md (Typo "a Azure"→"an Az…
  articles/automation/automation-create-standalone-account.md
Labels: Change sent to author, automation/svc, do-not-merge, process-automation/subsvc, qualifies-for-auto-merge

#123442 Update virtual-networks-udr-overview.md
  articles/virtual-network/virtual-networks-udr-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#123417 Identity and update to latest NServiceBus
  articles/service-bus-messaging/build-message-driven-apps-nservicebus.md
Labels: Change sent to author, service-bus-messaging/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123457 Update troubleshoot-extended-security-updates.md
  articles/azure-arc/servers/troubleshoot-extended-security-updates.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-arc/svc, azure-arc-servers/subsvc, qualifies-for-auto-merge

#123460 Add .NET 8 to Supported .NET runtimes for 10.1 CU3
  articles/service-fabric/service-fabric-versions.md
Labels: Change sent to author, ready-to-merge, service-fabric/svc, qualifies-for-auto-merge

#123186 Remove inter-zone charge in firewall doc due to new announcement
  articles/firewall/features.md
Labels: Change sent to author, do-not-merge, firewall/svc, aq-pr-triaged, qualifies-for-auto-merge

#122119 Fix typo: Batch endpoint job output must be of type URI_FILE
  articles/machine-learning/how-to-access-data-batch-endpoints-jobs.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, inferencing/subsvc

#123454 fix: clarify between top, k and maxTextRecallSize parameters
  articles/search/hybrid-search-how-to-query.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cognitive-search/svc, qualifies-for-auto-merge

#123473 Update tutorial-use-custom-image-cli.md (Typo "A Azure"→"An Azure" )
  articles/virtual-machine-scale-sets/tutorial-use-custom-image-cli.md
Labels: Change sent to author, do-not-merge, virtual-machine-scale-sets/svc, shared-image-gallery/subsvc, qualifies-for-auto-merge

#121894 Change in the private endpoint for global sub-resource for AVD
  articles/virtual-desktop/private-link-overview.md
Labels: Change sent to author, do-not-merge, virtual-desktop/svc, aq-pr-triaged, qualifies-for-auto-merge

#123453 fix type of `threshold` from "string" to "int"
  articles/azure-monitor/alerts/resource-manager-alerts-log.md
  articles/azure-monitor/alerts/resource-manager-alerts-metric.md
Labels: Change sent to author, ready-to-merge, Azure-Monitor/svc, alerts/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#123472 Added additional instructions for conditional forwarders
  articles/azure-monitor/logs/private-link-configure.md
Labels: Change sent to author, do-not-merge, Azure-Monitor/svc, logs/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#123484 CPU should be capitalized
  articles/azure-sql-edge/overview.md
Labels: Change sent to author, ready-to-merge, sql-edge/svc, qualifies-for-auto-merge

#123485 Update how-to-share-data-across-workspaces-with-registries.md (Typo "…
  articles/machine-learning/how-to-share-data-across-workspaces-with-registries.md
Labels: Change sent to author, machine-learning/svc, do-not-merge, mlops/subsvc, qualifies-for-auto-merge

#123486 Update use-psa.md
  articles/aks/use-psa.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-kubernetes-service/svc

#123459 Update custom-categories-rapid.md
  articles/ai-services/content-safety/how-to/custom-categories-rapid.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-ai-content-safety/svc

#123495 Update container-recovery.md
  articles/azure-fluid-relay/how-tos/container-recovery.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-fluid/svc, needs-human-review

#123510 Remove Extra Letter on App Service Environment Overview
  articles/app-service/environment/overview.md
Labels: Change sent to author, app-service/svc, do-not-merge, qualifies-for-auto-merge

#123508 Major clarifications and improvements
  articles/openshift/support-lifecycle.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-redhat-openshift/svc, needs-human-review

#123511 Fix syntax bug vector-search.md
  articles/cosmos-db/mongodb/vcore/vector-search.md
Labels: Change sent to author, ready-to-merge, cosmos-db/svc, aq-pr-triaged, qualifies-for-auto-merge, mongodb-vcore/subsvc

#123523 Update lock-resources.md
  articles/azure-resource-manager/management/lock-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#123518 Simple format fix in azure-kubernetes-service-backup-overview.md
  articles/backup/azure-kubernetes-service-backup-overview.md
Labels: Change sent to author, backup/svc, do-not-merge, qualifies-for-auto-merge

#123527 Update deploy-template.md (Typo "a Azure"→"an Azure")
  articles/cloud-services-extended-support/deploy-template.md
Labels: Change sent to author, do-not-merge, cloud-services-extended-support/svc, qualifies-for-auto-merge

#122869 Microsoft has the Static Webapp settings menu. This change is updating the steps and screenshot.
  articles/static-web-apps/application-settings.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, needs-human-review

#122863 Updated typos in opentelemetry-agents.md
  articles/container-apps/opentelemetry-agents.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#123253 Update apex-domain-external.md
  articles/static-web-apps/apex-domain-external.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#123256 Update tutorial-event-driven-jobs.md
  articles/container-apps/tutorial-event-driven-jobs.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc

#123087 Update concept-compute-target.md
  articles/machine-learning/concept-compute-target.md
Labels: Change sent to author, ready-to-merge, machine-learning/svc, aq-pr-triaged, qualifies-for-auto-merge, compute/subsvc

#123277 Update continuous-backup-restore-introduction.md
  articles/cosmos-db/continuous-backup-restore-introduction.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#123129 Update how-to-private-link.md
  articles/cosmos-db/mongodb/vcore/how-to-private-link.md
Labels: Change sent to author, cosmos-db/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, mongodb-vcore/subsvc

#122281 Fix broken link in app-routing-nginx-configuration.md
  articles/aks/app-routing-nginx-configuration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-networking/subsvc

#121948 Fix wrong command in monitor-aks.md
  articles/aks/monitor-aks.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-monitoring/subsvc

#122373 Adding Finastra Customer Story
  articles/aks/media/windows-aks-customer-stories/finastra.png
  articles/aks/windows-aks-customer-stories.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-kubernetes-service/svc

#122930 Patch 20
  articles/aks/use-kms-etcd-encryption.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-kubernetes-service/svc, aks-security/subsvc

#123416 Update prerequisites for Content Safety Studio
  articles/ai-services/content-safety/studio-quickstart.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-ai-content-safety/svc
