Repository MicrosoftDocs/azure-docs, pull requests merged in 2024-12, with the labels that each got.

#124975 Fix typo in FUNCTIONS_EXTENSION_VERSION setting for logic apps
  articles/logic-apps/edit-app-settings-host-settings.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-logic-apps/svc

#124966 Update private-endpoint-dns.md - Azure Web PubSub Service
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#124992 Fix typo
  articles/communication-services/how-tos/call-automation/audio-streaming-quickstart.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#124991 Fix typo
  articles/communication-services/quickstarts/email/send-email-advanced/includes/inline-attachments-js.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#124995 Fix typo
  articles/load-testing/how-to-define-test-criteria.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-load-testing/svc

#124994 Fix typo
  articles/azure-functions/functions-bindings-azure-mysql-output.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#124990 Fix typo
  articles/azure-app-configuration/overview.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#124978 Update azure-local-overview.md
  articles/virtual-desktop/azure-local-overview.md
Labels: Change sent to author, ready-to-merge, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124980 Update object-replication-overview.md
  articles/storage/blobs/object-replication-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#125000 Update network-file-system-protocol-support-how-to.md
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#124982 Spelling Fixes - Wave 2
  articles/analysis-services/analysis-services-addservprinc-admins.md
  articles/analysis-services/analysis-services-database-users.md
  articles/analysis-services/analysis-services-scale-out.md
  articles/api-center/manage-apis-azure-cli.md
  articles/api-management/api-management-howto-api-inspector.md
  articles/api-management/developer-portal-wordpress-plugin.md
  articles/api-management/http-data-source-policy.md
  articles/api-management/private-endpoint.md
  articles/api-management/validate-jwt-policy.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-api-management/svc

#124494 Update how-to-create-test-certificates.md
  articles/iot-edge/how-to-create-test-certificates.md
Labels: Change sent to author, ready-to-merge, iot-edge/svc, aq-pr-triaged, qualifies-for-auto-merge

#124910 Update faq.yml
  articles/azure-vmware/faq.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#125010 Remove locale from MS Learn link
  articles/service-bus-messaging/test-locally-with-service-bus-emulator.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-service-bus/svc

#124985 Spelling Fixes - Wave 5
  articles/automanage/virtual-machines-custom-profile.md
  articles/automation/automation-create-alert-triggered-runbook.md
  articles/automation/automation-hrw-run-runbooks.md
  articles/automation/automation-webhooks.md
  articles/automation/change-tracking/manage-change-tracking-monitoring-agent.md
  articles/automation/context-switching.md
  articles/automation/migrate-run-as-accounts-managed-identity.md
  articles/automation/python-3-packages.md
  articles/automation/troubleshoot/runbooks.md
  articles/automation/tutorial-configure-servers-desired-state.md
  articles/automation/update-management/pre-post-scripts.md
Labels: Change sent to author, do-not-merge, update-management/subsvc, needs-human-review, azure-automation/svc

#124986 Spelling Fixes - Wave 6
  articles/azure-app-configuration/concept-customer-managed-keys.md
  articles/azure-app-configuration/concept-enable-rbac.md
  articles/azure-app-configuration/feature-management-dotnet-reference.md
  articles/azure-app-configuration/feature-management-python-reference.md
  articles/azure-app-configuration/howto-feature-filters.md
  articles/azure-app-configuration/push-kv-github-action.md
  articles/azure-app-configuration/rest-api-authorization-azure-ad.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#124984 Spelling Fixes - Wave 4
  articles/application-gateway/application-gateway-private-deployment.md
  articles/application-gateway/application-gateway-troubleshooting-502.md
  articles/application-gateway/configure-application-gateway-with-private-frontend-ip.md
  articles/application-gateway/create-url-route-portal.md
  articles/application-gateway/deploy-basic-portal.md
  articles/application-gateway/for-containers/custom-health-probe.md
  articles/application-gateway/for-containers/how-to-header-rewrite-gateway-api.md
  articles/application-gateway/for-containers/how-to-header-rewrite-ingress-api.md
  articles/application-gateway/for-containers/migrate-from-agic-to-agc.md
  articles/application-gateway/for-containers/prometheus-grafana.md
  articles/application-gateway/for-containers/tls-policy.md
  articles/application-gateway/ingress-controller-troubleshoot.md
  articles/application-gateway/redirect-external-site-cli.md
  articles/application-gateway/redirect-internal-site-cli.md
  articles/application-gateway/resource-health-overview.md
  articles/application-gateway/rewrite-http-headers-url.md
  articles/application-gateway/ssl-certificate-management.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-application-gateway/svc

#124983 Spelling Fixes - Wave 3
  articles/app-service/app-service-web-configure-tls-mutual-auth.md
  articles/app-service/configure-basic-auth-disable.md
  articles/app-service/configure-error-pages.md
  articles/app-service/configure-language-java-data-sources.md
  articles/app-service/configure-language-java-deploy-run.md
  articles/app-service/configure-ssl-app-service-certificate.md
  articles/app-service/environment/migrate.md
  articles/app-service/environment/side-by-side-migrate.md
  articles/app-service/includes/deploy-intelligent-apps/deploy-intelligent-apps-linux-dotnet-pivot.md
  articles/app-service/includes/deploy-intelligent-apps/deploy-intelligent-apps-linux-java-pivot.md
  articles/app-service/includes/deploy-intelligent-apps/deploy-intelligent-apps-linux-node-pivot.md
  articles/app-service/includes/deploy-intelligent-apps/deploy-intelligent-apps-linux-python-pivot.md
  articles/app-service/includes/tutorial-set-up-app-service-authentication/after.md
  articles/app-service/ip-address-change-ssl.md
  articles/app-service/manage-create-arc-environment.md
  articles/app-service/quickstart-nodejs.md
  articles/app-service/tutorial-connect-msi-azure-database.md
  articles/app-service/tutorial-dotnetcore-sqldb-app.md
  articles/app-service/tutorial-java-jboss-mysql-app.md
  articles/app-service/tutorial-java-spring-cosmosdb.md
  articles/app-service/tutorial-java-tomcat-mysql-app.md
  articles/app-service/tutorial-nodejs-mongodb-app.md
  articles/app-service/tutorial-troubleshoot-monitor.md
  articles/app-service/webjobs-create.md
Labels: Change sent to author, do-not-merge, needs-human-review, web-apps/subsvc, azure-app-service/svc

#124588 Updated instructions for the Nok Nok Labs integration with Azure B2C
  articles/active-directory-b2c/media/partner-nok-nok/nok-nok-architecture-diagram.png
  articles/active-directory-b2c/partner-nok-nok.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, needs-human-review

#125001 Update network-file-system-protocol-support-how-to.md
  articles/storage/blobs/network-file-system-protocol-support-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#125009 Add a note that EST only supported for DPS CA-based provisioning
  articles/iot-edge/tutorial-configure-est-server.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot-edge/svc

#125013 Spelling Fixes - Wave 11
  articles/azure-signalr/howto-enable-geo-replication.md
  articles/azure-signalr/howto-use-managed-identity.md
  articles/azure-signalr/scripts/signalr-cli-create-with-app-service-github-oauth.md
  articles/azure-signalr/signalr-concept-authenticate-oauth.md
  articles/azure-signalr/signalr-concept-disaster-recovery.md
  articles/azure-signalr/signalr-howto-configure-application-firewall.md
  articles/azure-signalr/signalr-howto-diagnostic-logs.md
  articles/azure-signalr/signalr-howto-event-grid-integration.md
  articles/azure-signalr/signalr-howto-troubleshoot-method.md
  articles/azure-signalr/signalr-howto-work-with-apim.md
  articles/azure-signalr/signalr-howto-work-with-app-gateway.md
  articles/azure-signalr/signalr-quickstart-azure-functions-python.md
  articles/azure-signalr/signalr-tutorial-build-blazor-server-chat-app.md
  articles/azure-signalr/signalr-tutorial-group-chat-with-openai.md
Labels: Change sent to author, ready-to-merge, needs-human-review, azure-signalr-service/svc

#125015 Spelling Fixes - Wave 12
  articles/azure-web-pubsub/howto-configure-application-firewall.md
  articles/azure-web-pubsub/howto-enable-geo-replication.md
  articles/azure-web-pubsub/howto-generate-client-access-url.md
  articles/azure-web-pubsub/howto-integrate-app-gateway.md
  articles/azure-web-pubsub/howto-integrate-app-service.md
  articles/azure-web-pubsub/howto-scale-manual-scale.md
  articles/azure-web-pubsub/howto-web-pubsub-tunnel-tool.md
  articles/azure-web-pubsub/quickstarts-push-messages-from-server.md
  articles/azure-web-pubsub/reference-client-sdk-javascript.md
  articles/azure-web-pubsub/socket-io-howto-integrate-web-app.md
  articles/azure-web-pubsub/socket-io-serverless-function-binding.md
  articles/azure-web-pubsub/socketio-troubleshoot-common-issues.md
  articles/azure-web-pubsub/tutorial-build-chat.md
  articles/azure-web-pubsub/tutorial-pub-sub-messages.md
  articles/azure-web-pubsub/tutorial-serverless-notification.md
  articles/azure-web-pubsub/tutorial-subprotocol.md
Labels: Change sent to author, ready-to-merge, azure-web-pubsub/svc, needs-human-review

#125031 Fix typo
  articles/communication-services/toc.yml
Labels: do-not-merge, review-team-triage, needs-human-review

#125034 Fix typo
  includes/iot-dps-sdks-device.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc, azure-iot-hub-dps/subsvc

#125035 Fix typo
  includes/iot-hub-sdks-device.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc

#125028 Fix typo
  articles/app-service/deploy-container-github-action.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#125027 Fix typo
  articles/api-management/developer-portal-extend-custom-functionality.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-api-management/svc

#125030 Fix typo
  articles/azure-web-pubsub/tutorial-upstream-auth-mqtt-client.md
Labels: Change sent to author, do-not-merge, azure-web-pubsub/svc, qualifies-for-auto-merge

#125033 Fix typo
  articles/security/develop/threat-modeling-tool-authentication.md
Labels: Change sent to author, information-protection/svc, do-not-merge, qualifies-for-auto-merge, aiplabels/subsvc

#125023 Update handler-functions.md
  articles/event-grid/handler-functions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#124940 Fast path unsupported on VWan ER GW
  articles/expressroute/about-fastpath.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-expressroute/svc

#125036 Updated to explicitly call out no support for LACP or MLAG
  articles/expressroute/expressroute-erdirect-about.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#125008 Update faq-azure-hybrid-benefit-scope.yml
  articles/cost-management-billing/scope-level/faq-azure-hybrid-benefit-scope.yml
Labels: Change sent to author, ready-to-merge, cost-management-billing/svc, ahb/subsvc, needs-human-review

#125018 Spelling Fixes - Wave 13
  articles/backup/azure-kubernetes-service-backup-overview.md
  articles/backup/azure-kubernetes-service-cluster-backup-support-matrix.md
  articles/backup/azure-kubernetes-service-cluster-backup-using-cli.md
  articles/backup/azure-kubernetes-service-cluster-backup-using-powershell.md
  articles/backup/azure-kubernetes-service-cluster-restore.md
  articles/backup/back-up-azure-stack-hyperconverged-infrastructure-virtual-machines.md
  articles/backup/backup-azure-about-mars.md
  articles/backup/backup-azure-dataprotection-use-rest-api-restore-disks.md
  articles/backup/backup-azure-diagnostic-events.md
  articles/backup/backup-azure-files.md
  articles/backup/backup-azure-manage-mars.md
  articles/backup/backup-azure-sql-vm-rest-api.md
  articles/backup/backup-azure-vms-agentless-multi-disk-crash-consistent.md
  articles/backup/backup-azure-vms-automation.md
  articles/backup/backup-client-automation.md
  articles/backup/backup-instant-restore-capability.md
  articles/backup/backup-mabs-add-storage.md
  articles/backup/backup-mabs-system-state-and-bmr.md
  articles/backup/backup-managed-disks-policy.md
  articles/backup/backup-support-matrix-iaas.md
  articles/backup/enable-multi-user-authorization-quickstart.md
  articles/backup/manage-afs-backup.md
  articles/backup/manage-monitor-sql-database-backup.md
  articles/backup/metrics-overview.md
  articles/backup/move-to-azure-monitor-alerts.md
  articles/backup/offline-backup-azure-data-box-dpm-mabs.md
  articles/backup/private-endpoints.md
  articles/backup/quick-backup-postgresql-flexible-server-arm.md
  articles/backup/quick-backup-postgresql-flexible-server-bicep.md
  articles/backup/quick-backup-postgresql-flexible-server-cli.md
  articles/backup/quick-backup-postgresql-flexible-server-portal.md
  articles/backup/quick-backup-postgresql-flexible-server-powershell.md
  articles/backup/quick-backup-postgresql-flexible-server-terraform.md
  articles/backup/quick-backup-vm-portal.md
  articles/backup/quick-secondary-region-restore-postgresql-powershell.md
  articles/backup/restore-afs.md
  articles/backup/sap-hana-database-manage.md
  articles/backup/scripts/delete-recovery-services-vault.md
  articles/backup/scripts/microsoft-azure-recovery-services-powershell-all.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-backup/svc

#125011 Spelling Fixes - Wave 10
  articles/azure-netapp-files/azacsnap-configure-storage.md
  articles/azure-netapp-files/azure-netapp-files-smb-performance.md
  articles/azure-netapp-files/includes/oracle-dnfs.md
  articles/azure-netapp-files/network-attached-storage-permissions.md
  articles/azure-resource-manager/bicep/bicep-core-diagnostics.md
  articles/azure-resource-manager/bicep/diagnostics/bcp037.md
  articles/azure-resource-manager/bicep/diagnostics/bcp071.md
  articles/azure-resource-manager/bicep/linter.md
  articles/azure-resource-manager/bicep/operator-spread.md
  articles/azure-resource-manager/bicep/operators-access.md
  articles/azure-resource-manager/bicep/resource-dependencies.md
  articles/azure-resource-manager/managed-applications/deploy-bicep-definition.md
  articles/azure-resource-manager/templates/all-files-test-cases.md
  articles/azure-resource-manager/templates/template-functions-comparison.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc, needs-human-review

#124989 Spelling Fixes - Wave 8
  articles/azure-functions/container-concepts.md
  articles/azure-functions/dedicated-plan.md
  articles/azure-functions/durable/durable-functions-dotnet-isolated-overview.md
  articles/azure-functions/durable/durable-functions-packages.md
  articles/azure-functions/flex-consumption-how-to.md
  articles/azure-functions/functions-add-openai-text-completion.md
  articles/azure-functions/functions-bindings-cache-trigger-redispubsub.md
  articles/azure-functions/functions-bindings-dapr-input-secret.md
  articles/azure-functions/functions-bindings-dapr-input-state.md
  articles/azure-functions/functions-bindings-dapr-output.md
  articles/azure-functions/functions-bindings-service-bus-output.md
  articles/azure-functions/functions-bindings-web-pubsub-input.md
  articles/azure-functions/functions-continuous-deployment.md
  articles/azure-functions/functions-core-tools-reference.md
  articles/azure-functions/functions-create-first-java-gradle.md
  articles/azure-functions/functions-create-vnet.md
  articles/azure-functions/functions-how-to-custom-container.md
  articles/azure-functions/functions-reference-java.md
  articles/azure-functions/functions-reference.md
  articles/azure-functions/legacy-proxies.md
  articles/azure-functions/monitor-functions-reference.md
  articles/azure-functions/opentelemetry-howto.md
  articles/azure-functions/start-stop-vms/deploy.md
  articles/azure-functions/start-stop-vms/manage.md
  articles/azure-functions/storage-considerations.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, start-stop-vms/subsvc, needs-human-review

#125029 Fix typo
  articles/azure-functions/configure-monitoring.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#125017 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#125055 Fix typo how-to-use-image-templates-web-sdk.md
  articles/azure-maps/how-to-use-image-templates-web-sdk.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review, web-sdk/subsvc

#124302 Grammar and minor content updates to virtual-network-tcpip-performanc…
  articles/virtual-network/virtual-network-tcpip-performance-tuning.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#125043 Update azure-CA-details.md
  articles/security/fundamentals/azure-CA-details.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc, qualifies-for-auto-merge

#125056 Added example 8b for rest connector copy activity
  articles/data-factory/connector-rest.md
  articles/data-factory/media/connector-rest/pagination-rule-example-8b.png
Labels: Change sent to author, do-not-merge, data-movement/subsvc, needs-human-review, azure-data-factory/svc

#125026 Update logic-apps-overview.md
  articles/logic-apps/logic-apps-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-logic-apps/svc

#125060 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, oracle-on-azure/svc

#125057 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#125058 Update support.md
  articles/iot-hub-device-update/support.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc, device-update/subsvc

#124814 Update supported Ubuntu versions in 1-set-up-authoring-environment.md
  articles/governance/machine-configuration/how-to/develop-custom-package/1-set-up-authoring-environment.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, machine-configuration/svc, qualifies-for-auto-merge

#124798 Update resources-self-help-sql-on-demand.md
  articles/synapse-analytics/sql/resources-self-help-sql-on-demand.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql/subsvc, azure-synapse-analytics/svc

#125064 Update exchange-and-refund-azure-reservations.md
  articles/cost-management-billing/reservations/exchange-and-refund-azure-reservations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#124363 Update to enterprise ca certificate requirements for Azure Premium Firewall
  articles/firewall/media/premium-deploy-certificates-enterprise-ca/certificate-template-key-usage-extension.png
  articles/firewall/premium-deploy-certificates-enterprise-ca.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-firewall/svc

#124973 backup-vault-overview.md to exclude preview for ZRS storage
  articles/backup/backup-vault-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-backup/svc

#124403 fix typo in backup-azure-troubleshoot-blob-backup.md
  articles/backup/backup-azure-troubleshoot-blob-backup.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-backup/svc

#124217 fix typos? in backup-sql-server-azure-troubleshoot.md
  articles/backup/backup-sql-server-azure-troubleshoot.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-backup/svc

#125072 Update uri-scheme.md
  articles/virtual-desktop/uri-scheme.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124713 Update automation-manage-send-joblogs-log-analytics.md
  articles/automation/automation-manage-send-joblogs-log-analytics.md
Labels: Change sent to author, ready-to-merge, process-automation/subsvc, aq-pr-triaged, needs-human-review, azure-automation/svc

#124643 Update code example in pre-post-events-schedule-maintenance-configuration.md
  articles/update-manager/pre-post-events-schedule-maintenance-configuration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-update-manager/svc

#124592 Update deploy-manage-updates-using-updates-view.md
  articles/update-manager/deploy-manage-updates-using-updates-view.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-update-manager/svc

#124811 Update backup-azure-security-feature-cloud.md
  articles/backup/backup-azure-security-feature-cloud.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-backup/svc

#124697 Update business-continuity-center-overview.md
  articles/business-continuity-center/business-continuity-center-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-business-continuity-Center/svc

#124532 Update troubleshoot-vm-configuration.md
  articles/virtual-desktop/troubleshoot-vm-configuration.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#124987 Spelling Fixes - Wave 7
  articles/azure-cache-for-redis/cache-how-to-scale.md
  articles/azure-cache-for-redis/cache-how-to-upgrade.md
  articles/azure-cache-for-redis/cache-insights-overview.md
  articles/azure-cache-for-redis/cache-monitor-diagnostic-settings.md
  articles/azure-cache-for-redis/cache-private-link.md
  articles/azure-cache-for-redis/cache-remove-tls-10-11.md
  articles/azure-cache-for-redis/cache-tutorial-vector-similarity.md
  articles/azure-cache-for-redis/cache-web-app-arm-with-redis-cache-provision.md
  articles/azure-cache-for-redis/cache-whats-new.md
  articles/azure-cache-for-redis/includes/managed-redis-create.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-how-to-active-geo-replication.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-how-to-persistence.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-how-to-scale.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-how-to-upgrade.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-monitor-diagnostic-settings.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-overview.md
  articles/azure-cache-for-redis/managed-redis/managed-redis-private-link.md
  articles/azure-cache-for-redis/monitor-cache.md
  articles/azure-cache-for-redis/scripts/create-manage-cache.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-cache-redis/svc

#123962 Update Python web app tutorial to complete connection settings steps for Flask apps
  articles/app-service/tutorial-python-postgresql-app.md
Labels: Change sent to author, ready-to-merge, app-service/svc, aq-pr-triaged

#125071 Update architecture.md
  articles/baremetal-infrastructure/workloads/nc2-on-azure/architecture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, baremetal-nutanix/subsvc, azure-baremetal-infrastructure/svc

#124920 Update migrate-cache-redis.md
  articles/reliability/migrate-cache-redis.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#125076 Update move-support-resources.md
  articles/azure-resource-manager/management/move-support-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, qualifies-for-auto-merge

#125077 Update storage-network-security.md
  articles/storage/common/storage-network-security.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#125079 [operator-nexus] Update quickstarts-virtual-machine-deployment-bicep.md
  articles/operator-nexus/quickstarts-virtual-machine-deployment-bicep.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#125078 [operator-nexus] Update quickstarts-virtual-machine-deployment-arm.md
  articles/operator-nexus/quickstarts-virtual-machine-deployment-arm.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#125080 [operator-nexus] Update quickstarts-virtual-machine-deployment-ps.md
  articles/operator-nexus/quickstarts-virtual-machine-deployment-ps.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#125073 Update immutable-storage-overview.md
  articles/storage/blobs/immutable-storage-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#125093 Spelling Fixes
  articles/event-hubs/event-hubs-data-explorer.md
  articles/event-hubs/event-hubs-dotnet-standard-getstarted-send.md
  articles/event-hubs/event-hubs-kafka-connect-debezium.md
  articles/event-hubs/event-hubs-resource-manager-namespace-event-hub-enable-capture.md
  articles/event-hubs/geo-replication.md
  articles/event-hubs/resource-governance-with-app-groups.md
  articles/event-hubs/test-locally-with-event-hub-emulator.md
  articles/event-hubs/use-geo-replication.md
  articles/expressroute/circuit-placement-api.md
  articles/expressroute/cross-connections-api-development.md
  articles/expressroute/expressroute-faqs.md
  articles/expressroute/expressroute-troubleshooting-expressroute-overview.md
  articles/expressroute/site-to-site-vpn-over-microsoft-peering.md
  articles/external-attack-surface-management/understanding-dashboards.md
  articles/firewall-manager/secure-cloud-network-powershell.md
  articles/firewall/deploy-rules-powershell.md
  articles/firewall/firewall-copilot.md
  articles/firewall/monitor-firewall-reference.md
  articles/firewall/premium-deploy.md
  articles/firewall/snat-private-range.md
Labels: Change sent to author, ready-to-merge, needs-human-review, azure-firewall/svc

#125103 Spelling Fixes
  articles/load-balancer/basic/quickstart-basic-internal-load-balancer-portal.md
  articles/load-balancer/create-custom-http-health-probe-howto.md
  articles/load-balancer/inbound-nat-rules.md
  articles/load-balancer/ipv6-add-to-existing-vnet-powershell.md
  articles/load-balancer/load-balancer-common-deployment-errors.md
  articles/load-balancer/load-balancer-manage-health-status.md
  articles/load-balancer/load-balancer-monitor-metrics-cli.md
  articles/load-balancer/load-balancer-nat-pool-migration.md
  articles/load-balancer/load-balancer-outbound-connections.md
  articles/load-balancer/manage-admin-state-how-to.md
  articles/load-balancer/manage.md
  articles/load-balancer/quickstart-load-balancer-standard-internal-terraform.md
  articles/load-balancer/quickstart-load-balancer-standard-public-terraform.md
  articles/load-balancer/tutorial-load-balancer-ip-backend-portal.md
Labels: Change sent to author, ready-to-merge, needs-human-review, azure-load-balancer/svc

#124185 Update tag limitations to include that a resource may have its specif…
  articles/azure-resource-manager/management/tag-resources.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, needs-human-review

#125083 Spelling Fixes
  articles/bastion/connect-vm-native-client-linux.md
  articles/bastion/diagnostic-logs.md
  articles/batch/batch-pool-compute-intensive-sizes.md
  articles/batch/pool-endpoint-configuration.md
  articles/batch/quick-create-cli.md
  articles/batch/resource-files.md
  articles/batch/tutorial-parallel-dotnet.md
  articles/business-continuity-center/tutorial-monitor-alerts-metrics.md
  articles/business-process-tracking/create-business-process.md
  articles/communication-services/concepts/analytics/logs/email-logs.md
  articles/communication-services/concepts/analytics/logs/voice-and-video-logs.md
  articles/communication-services/concepts/call-automation/azure-communication-services-azure-cognitive-services-integration.md
  articles/communication-services/concepts/call-automation/real-time-transcription.md
  articles/communication-services/concepts/email-metrics.md
  articles/communication-services/concepts/includes/enable-interoperability-for-teams-tenant.md
  articles/communication-services/concepts/includes/identifiers/identifiers-android.md
  articles/communication-services/concepts/includes/identifiers/identifiers-java.md
  articles/communication-services/concepts/interop/guest/teams-administration.md
  articles/communication-services/concepts/notifications.md
  articles/communication-services/concepts/sms/sms-faq.md
  articles/communication-services/concepts/telephony/emergency-calling-concept.md
  articles/communication-services/concepts/telephony/trial-phone-numbers-faq.md
  articles/communication-services/concepts/voice-video-calling/about-call-types.md
  articles/communication-services/concepts/voice-video-calling/calling-sdk-features.md
  articles/communication-services/concepts/voice-video-calling/includes/media-stats/media-stats-android.md
  articles/communication-services/concepts/voice-video-calling/includes/media-stats/media-stats-web.md
  articles/communication-services/concepts/voice-video-calling/pre-call-diagnostics.md
  articles/communication-services/resources/troubleshooting/voice-video-calling/general-troubleshooting-strategies/includes/webjs-client-code-subcode.md
  articles/communication-services/resources/troubleshooting/voice-video-calling/includes/codes/calling-sdk.md
  articles/communication-services/resources/troubleshooting/voice-video-calling/references/ufd/camera-permission-denied.md
  articles/communication-services/resources/troubleshooting/voice-video-calling/references/ufd/network-receive-quality.md
  articles/communication-services/samples/email-detect-sensitive-content.md
  articles/communication-services/samples/includes/android-calling-hero.md
  articles/communication-services/tutorials/add-chat-push-notifications.md
  articles/communication-services/tutorials/audio-quality-enhancements/add-noise-supression.md
  articles/communication-services/tutorials/call-readiness/call-readiness-tutorial-part-1-browser-support.md
  articles/communication-services/tutorials/call-readiness/call-readiness-tutorial-part-2-requesting-device-access.md
  articles/communication-services/tutorials/calling-widget/calling-widget-tutorial.md
  articles/communication-services/tutorials/file-sharing-tutorial-acs-chat.md
  articles/communication-services/tutorials/includes/end-of-call-survey-web.md
  articles/communication-services/tutorials/includes/hmac-header-csharp.md
  articles/communication-services/tutorials/includes/twilio-to-acs-chat-java-tutorial.md
  articles/communication-services/tutorials/includes/twilio-to-acs-video-ios-tutorial.md
  articles/communication-services/tutorials/includes/twilio-to-acs-video-webjs-tutorial.md
  articles/communication-services/tutorials/includes/url-shortener-csharp.md
  articles/communication-services/tutorials/includes/url-shortener-js.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, calling/subsvc, needs-human-review

#125096 Fix typo
  articles/service-connector/includes/code-postgres-me-id.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, service-connector/svc, qualifies-for-auto-merge

#125110 [ACA] Edit private endpoint tutorial to note TCP not supported.
  articles/container-apps/how-to-use-private-endpoint.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-container-apps/svc

#125118 Update migrate-services-overview.md
  articles/migrate/migrate-services-overview.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, qualifies-for-auto-merge

#124996 Update cache-configure.md
  articles/azure-cache-for-redis/cache-configure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-cache-redis/svc

#124912 Update cache-best-practices-performance.md
  articles/azure-cache-for-redis/cache-best-practices-performance.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cache-redis/svc

#125109 [ACA] [310519] Convert tutorial-event-driven-jobs to use managed identity.
  articles/container-apps/managed-identity-image-pull.md
  articles/container-apps/tutorial-event-driven-jobs.md
  includes/container-apps-create-cli-steps-jobs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125123 Update sql-data-warehouse-manage-monitor.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor.md
Labels: Change sent to author, ready-to-merge, sql-dw/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125090 Spelling Fixes
  articles/data-share/share-your-data-arm.md
  articles/databox-gateway/data-box-gateway-deploy-prep.md
  articles/databox-online/azure-stack-edge-deploy-connect-setup-activate.md
  articles/databox-online/azure-stack-edge-gpu-deploy-set-up-device-update-time.md
  articles/databox-online/azure-stack-edge-mini-r-deploy-configure-network-compute-web-proxy.md
  articles/databox-online/azure-stack-edge-mini-r-deploy-connect.md
  articles/databox-online/azure-stack-edge-pro-2-deploy-configure-network-compute-web-proxy.md
  articles/databox-online/azure-stack-edge-pro-r-deploy-configure-network-compute-web-proxy.md
  articles/databox/data-box-disk-deploy-copy-data.md
  articles/databox/data-box-heavy-deploy-copy-data-via-nfs.md
  articles/ddos-protection/manage-ddos-protection.md
  articles/defender-for-iot/device-builders/concept-agent-based-security-alerts.md
  articles/defender-for-iot/organizations/alert-engine-messages.md
  articles/defender-for-iot/organizations/best-practices/certificate-requirements.md
  articles/defender-for-iot/organizations/best-practices/traffic-mirroring-methods.md
  articles/defender-for-iot/organizations/cli-ot-sensor.md
  articles/defender-for-iot/organizations/device-inventory.md
  articles/defender-for-iot/organizations/legacy-central-management/manage-users-on-premises-management-console.md
  articles/defender-for-iot/organizations/ot-deploy/update-device-inventory.md
Labels: Change sent to author, do-not-merge, defender-for-iot/svc, needs-human-review, device-builders/subsvc

#125126 This article only applies to SMS: communication-services-telephony-sms-events.md
  articles/event-grid/communication-services-telephony-sms-events.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#125059 Add Sporadic System Extension Failure to Known Issues
  articles/iot-operations/troubleshoot/known-issues.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot-operations/svc

#125098 Spelling FIxes
  articles/healthcare-apis/azure-api-for-fhir/how-to-run-a-reindex.md
  articles/healthcare-apis/azure-api-for-fhir/register-service-azure-ad-client-app.md
  articles/healthcare-apis/azure-api-for-fhir/release-notes.md
  articles/healthcare-apis/configure-private-link.md
  articles/healthcare-apis/dicom/dicom-services-conformance-statement-v2.md
  articles/healthcare-apis/fhir/azure-ad-b2c-setup.md
  articles/healthcare-apis/fhir/convert-data-configuration.md
  articles/healthcare-apis/fhir/fhir-service-resource-manager-template.md
  articles/healthcare-apis/release-notes-2021.md
Labels: Change sent to author, do-not-merge, workspace/subsvc, qualifies-for-auto-merge, azure-health-data-services/svc

#125085 Spelling Fixes
  articles/communication-services/quickstarts/call-automation/includes/quickstart-make-an-outbound-call-using-callautomation-csharp.md
  articles/communication-services/quickstarts/chat/includes/chat-swift.md
  articles/communication-services/quickstarts/chat/includes/meeting-interop-windows.md
  articles/communication-services/quickstarts/email/add-azure-managed-domains.md
  articles/communication-services/quickstarts/email/add-custom-verified-domains.md
  articles/communication-services/quickstarts/email/includes/manage-suppression-list-net.md
  articles/communication-services/quickstarts/email/includes/send-email-java.md
  articles/communication-services/quickstarts/email/includes/try-send-email.md
  articles/communication-services/quickstarts/events/includes/create-event-subscription-net.md
  articles/communication-services/quickstarts/rooms/includes/rooms-quickstart-call-ios.md
  articles/communication-services/quickstarts/rooms/includes/rooms-quickstart-call-web.md
  articles/communication-services/quickstarts/rooms/manage-rooms-call.md
  articles/communication-services/quickstarts/sms/includes/send-sms-az-cli.md
  articles/communication-services/quickstarts/voice-video-calling/get-started-teams-interop-group-calls.md
  articles/communication-services/quickstarts/voice-video-calling/includes/closed-captions/closed-captions-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/custom-teams-endpoint/voice-video-calling-cte-ios.md
  articles/communication-services/quickstarts/voice-video-calling/includes/custom-teams-endpoint/voice-video-calling-cte-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/data-channel/data-channel-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/teams-auto-attendant/teams-auto-attendant-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/teams-call-queue/teams-call-queue-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/teams-interop/teams-interop-windows.md
  articles/communication-services/quickstarts/voice-video-calling/includes/teams-user/teams-user-ios.md
  articles/communication-services/quickstarts/voice-video-calling/includes/teams-user/teams-user-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-calling/video-calling-ios.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-calling/video-calling-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-calling/video-calling-windows.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-constraints/video-constraints-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-effects/video-effects-android.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-effects/video-effects-javascript.md
  articles/communication-services/quickstarts/voice-video-calling/includes/video-effects/video-effects-windows.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, calling/subsvc, needs-human-review

#125088 Spelling Fixes
  articles/data-factory/compute-linked-services.md
  articles/data-factory/concepts-data-flow-flowlet.md
  articles/data-factory/concepts-workflow-orchestration-manager.md
  articles/data-factory/connector-amazon-rds-for-oracle.md
  articles/data-factory/connector-azure-databricks-delta-lake.md
  articles/data-factory/connector-azure-search.md
  articles/data-factory/connector-marketo.md
  articles/data-factory/connector-netezza.md
  articles/data-factory/connector-oracle.md
  articles/data-factory/connector-postgresql.md
  articles/data-factory/connector-sap-business-warehouse-open-hub.md
  articles/data-factory/connector-sap-change-data-capture.md
  articles/data-factory/connector-sap-table.md
  articles/data-factory/connector-square.md
  articles/data-factory/connector-troubleshoot-azure-cosmos-db.md
  articles/data-factory/connector-troubleshoot-dynamics-dataverse.md
  articles/data-factory/connector-troubleshoot-mongodb.md
  articles/data-factory/connector-zoho.md
  articles/data-factory/continuous-integration-delivery-improvements.md
  articles/data-factory/control-flow-execute-pipeline-activity.md
  articles/data-factory/control-flow-web-activity.md
  articles/data-factory/create-self-hosted-integration-runtime.md
  articles/data-factory/data-factory-troubleshoot-guide.md
  articles/data-factory/data-flow-cast.md
  articles/data-factory/data-flow-troubleshoot-guide.md
  articles/data-factory/deactivate-activity.md
  articles/data-factory/format-parquet.md
  articles/data-factory/how-to-invoke-ssis-package-stored-procedure-activity.md
  articles/data-factory/how-to-send-notifications-to-teams.md
  articles/data-factory/join-azure-ssis-integration-runtime-virtual-network-ui.md
  articles/data-factory/load-azure-data-lake-storage-gen2-from-gen1.md
  articles/data-factory/load-office-365-data.md
  articles/data-factory/monitor-integration-runtime.md
  articles/data-factory/monitor-visually.md
  articles/data-factory/quickstart-create-data-factory-python.md
  articles/data-factory/solution-template-delta-copy-with-control-table.md
  articles/data-factory/solution-template-extract-data-from-pdf.md
  articles/data-factory/supported-file-formats-and-compression-codecs-legacy.md
  articles/data-factory/transform-data-using-hadoop-hive.md
  articles/data-factory/transform-data-using-hadoop-pig.md
  articles/data-factory/transform-data-using-script.md
  articles/data-factory/transform-data-using-stored-procedure.md
  articles/data-factory/tutorial-push-lineage-to-purview.md
  articles/data-factory/wrangling-functions.md
Labels: Change sent to author, do-not-merge, data-flows/subsvc, needs-human-review, azure-data-factory/svc

#125102 Spelling Fixes
  articles/iot-hub-device-update/device-update-configuration-file.md
  articles/iot-hub-device-update/device-update-simulator.md
  articles/iot-hub/iot-hub-devguide-quotas-throttling.md
  articles/iot-hub/iot-hub-ip-filtering.md
  articles/iot-hub/iot-hub-scaling.md
  articles/iot-hub/tutorial-connectivity.md
  articles/iot-operations/connect-to-cloud/howto-configure-adlsv2-endpoint.md
  articles/iot-operations/connect-to-cloud/howto-configure-kafka-endpoint.md
  articles/iot-operations/connect-to-cloud/howto-configure-mqtt-endpoint.md
  articles/iot-operations/create-edge-apps/concept-about-state-store-protocol.md
  articles/iot-operations/deploy-iot-ops/howto-deploy-iot-operations.md
  articles/iot-operations/manage-layered-network/howto-configure-l3-cluster-layered-network.md
  articles/iot-operations/manage-layered-network/howto-configure-l4-cluster-layered-network.md
  articles/iot-operations/manage-layered-network/howto-configure-layered-network.md
  articles/iot-operations/troubleshoot/known-issues.md
Labels: Change sent to author, do-not-merge, needs-human-review, layered-network-management/subsvc, azure-iot-operations/svc

#125132 HIPPA -> HIPAA
  articles/security/fundamentals/key-management-choose.md
Labels: Change sent to author, security/svc, do-not-merge, qualifies-for-auto-merge

#125101 Spelling Fixes
  articles/iot-central/core/concepts-device-implementation.md
  articles/iot-central/core/howto-integrate-with-devops.md
  articles/iot-central/core/howto-manage-deployment-manifests-with-rest-api.md
  articles/iot-central/core/howto-manage-organizations-with-rest-api.md
  articles/iot-central/core/howto-transform-data.md
  articles/iot-dps/concepts-device-oem-security-practices.md
  articles/iot-edge/how-to-monitor-module-twins.md
  articles/iot-edge/how-to-provision-devices-at-scale-linux-tpm.md
  articles/iot-edge/iot-edge-for-linux-on-windows-networking.md
  articles/iot-edge/nested-virtualization.md
  articles/iot-edge/reference-iot-edge-for-linux-on-windows-functions.md
  articles/iot-edge/tutorial-configure-est-server.md
  articles/iot-edge/tutorial-develop-for-linux.md
  articles/iot-edge/tutorial-nested-iot-edge-for-linux-on-windows.md
  articles/iot-edge/tutorial-store-data-sql-server.md
  articles/iot/howto-connect-on-premises-sap-to-azure.md
  articles/iot/tutorial-iot-industrial-solution-architecture.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-iot-hub-dps/subsvc, azure-iot/svc

#125100 Spelling Fixes
  articles/frontdoor/compare-cdn-front-door-price.md
  articles/frontdoor/front-door-caching.md
  articles/frontdoor/front-door-diagnostics.md
  articles/frontdoor/front-door-tutorial-rules-engine.md
  articles/frontdoor/front-door-wildcard-domain.md
  articles/frontdoor/refstring.md
  articles/hpc-cache/hpc-cache-prerequisites.md
  articles/import-export/storage-import-export-service.md
  articles/integration-environments/create-application-group.md
  articles/integration-environments/create-integration-environment.md
Labels: Change sent to author, azure/svc, do-not-merge, qualifies-for-auto-merge, azure-integration-environments/subsvc

#125125 Update subscription-transfer - Corrected the name of the Microsoft Online Services Program (MOSP) for accuracy.
  articles/cost-management-billing/manage/subscription-transfer.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#125087 Spelling Fixes
  articles/confidential-computing/confidential-containers-on-aks-preview.md
  articles/confidential-computing/skr-flow-confidential-containers-azure-container-instance.md
  articles/confidential-computing/vmss-deployment-from-hardened-linux-image.md
  articles/connectors/connectors-create-api-cosmos-db.md
  articles/connectors/connectors-create-api-servicebus.md
  articles/connectors/connectors-native-reqres.md
  articles/connectors/connectors-native-webhook.md
  articles/container-apps/blue-green-deployment.md
  articles/container-apps/enable-dapr.md
  articles/container-apps/environment-variables.md
  articles/container-apps/ingress-how-to.md
  articles/container-apps/java-eureka-server.md
  articles/container-apps/java-gateway-for-spring.md
  articles/container-apps/microservices-dapr-bindings.md
  articles/cost-management-billing/automate/migrate-ea-reserved-instance-usage-details-api.md
  articles/cost-management-billing/automate/understand-usage-details-fields.md
  articles/cost-management-billing/costs/tutorial-acm-create-budgets.md
  articles/cost-management-billing/manage/direct-ea-administration.md
  articles/cost-management-billing/manage/mca-role-migration.md
  articles/cost-management-billing/manage/review-subscription-billing.md
  articles/cost-management-billing/reservations/view-purchase-refunds.md
  articles/cost-management-billing/savings-plan/choose-commitment-amount.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, needs-human-review, savings-plan/subsvc

#124872 Update waf-new-threat-detection.md
  articles/web-application-firewall/waf-new-threat-detection.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-web-application-firewall/svc

#124752 Use correct name for per-uri policy
  articles/web-application-firewall/ag/per-site-policies.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-web-application-firewall/svc

#125130 Update scenarios-monitoring.md
  articles/azure-resource-manager/bicep/scenarios-monitoring.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#125135 Update event-hubs-diagnostic-log-schema.md
  articles/event-hubs/includes/event-hubs-diagnostic-log-schema.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-hubs/svc

#125097 Spelling Fixes
  articles/hdinsight-aks/control-egress-traffic-from-hdinsight-on-aks-clusters.md
  articles/hdinsight-aks/create-cluster-error-dictionary.md
  articles/hdinsight-aks/flink/azure-service-bus-demo.md
  articles/hdinsight-aks/flink/change-data-capture-connectors-for-apache-flink.md
  articles/hdinsight-aks/flink/flink-job-orchestration.md
  articles/hdinsight-aks/flink/sink-sql-server-table-using-flink-sql.md
  articles/hdinsight-aks/spark/azure-hdinsight-spark-on-aks-delta-lake.md
  articles/hdinsight-aks/spark/create-spark-cluster.md
  articles/hdinsight-aks/spark/library-management.md
  articles/hdinsight-aks/trino/trino-airflow.md
  articles/hdinsight-aks/trino/trino-fault-tolerance.md
  articles/hdinsight-aks/trino/trino-superset.md
  articles/hdinsight/apache-ambari-email.md
  articles/hdinsight/configure-azure-blob-storage.md
  articles/hdinsight/hadoop/apache-hadoop-connect-excel-hive-odbc-driver.md
  articles/hdinsight/hdinsight-release-notes-archive.md
  articles/hdinsight/interactive-query/apache-hive-query-odbc-driver-powershell.md
  articles/hdinsight/interactive-query/hive-warehouse-connector-apis.md
  articles/hdinsight/interactive-query/hive-warehouse-connector-v2-apis.md
  articles/hdinsight/interactive-query/llap-schedule-based-autoscale-best-practices.md
  articles/hdinsight/optimize-hive-ambari.md
  articles/hdinsight/spark/apache-spark-intellij-tool-debug-remotely-through-ssh.md
  articles/hdinsight/spark/apache-spark-intellij-tool-failure-debug.md
  articles/hdinsight/spark/apache-spark-load-data-run-query.md
  articles/hdinsight/spark/apache-spark-troubleshoot-event-log-requestbodytoolarge.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-hdinsight/svc

#125068 Update reference-collation-types.md
  articles/synapse-analytics/sql/reference-collation-types.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125141 Spelling Fixes
  articles/managed-ccf/includes/proposal-prerequisites.md
  articles/managed-ccf/includes/register-provider.md
  articles/managed-ccf/includes/submit-vote.md
  articles/managed-ccf/includes/view-members.md
  articles/managed-ccf/quickstart-java.md
  articles/managed-grafana/find-help-open-support-ticket.md
  articles/migrate/azure-monitor-agent-migration.md
  articles/migrate/how-to-set-up-appliance-hyper-v.md
  articles/migrate/migrate-support-matrix-hyper-v.md
  articles/migrate/troubleshoot-appliance.md
  articles/migrate/tutorial-migrate-aws-virtual-machines.md
  articles/migrate/vmware/how-to-set-up-appliance-vmware.md
  articles/migrate/vmware/prepare-for-agentless-migration.md
  articles/migrate/vmware/tutorial-assess-vmware-azure-vmware-solution.md
  articles/migrate/vmware/tutorial-discover-vmware.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, needs-human-review

#125143 Update overview.md
  articles/service-connector/overview.md
Labels: Change sent to author, do-not-merge, service-connector/svc, qualifies-for-auto-merge

#125148 Spelling Fixes
  articles/partner-solutions/apache-kafka-confluent-cloud/add-connectors.md
  articles/private-5g-core/ran-insights-create-resource.md
  articles/private-5g-core/ran-insights-monitor-with-correlated-metrics-concepts.md
  articles/programmable-connectivity/azure-programmable-connectivity-overview.md
  articles/reliability/reliability-dns.md
  articles/reliability/reliability-microsoft-purview.md
  articles/reliability/reliability-notification-hubs.md
  articles/remote-rendering/how-tos/authentication.md
  articles/role-based-access-control/built-in-roles/ai-machine-learning.md
  articles/role-based-access-control/built-in-roles/analytics.md
  articles/role-based-access-control/built-in-roles/compute.md
  articles/role-based-access-control/built-in-roles/storage.md
  articles/role-based-access-control/scope-overview.md
  articles/role-based-access-control/tutorial-custom-role-powershell.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc, confluent/subsvc, needs-human-review

#125145 Update faq-oracle-database-azure.md
  articles/oracle/oracle-db/faq-oracle-database-azure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, oracle-on-azure/svc

#123608 Update opentelemetry-agents.md
  articles/container-apps/opentelemetry-agents.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc, qualifies-for-auto-merge

#124951 added steps for SKU
  articles/openshift/howto-gpu-workloads.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-redhat-openshift/svc, qualifies-for-auto-merge

#125154 Update 'Run After' Section & Add 'Scope With Run After' Section
  articles/logic-apps/error-exception-handling.md
  articles/logic-apps/media/error-exception-handling/add-actions-into-scope.png
  articles/logic-apps/media/error-exception-handling/change-run-after-status-standard.png
  articles/logic-apps/media/error-exception-handling/change-run-after-status.png
  articles/logic-apps/media/error-exception-handling/configure-run-after-consumption.png
  articles/logic-apps/media/error-exception-handling/configure-run-after-standard.png
  articles/logic-apps/media/error-exception-handling/configure-run-after.png
  articles/logic-apps/media/error-exception-handling/default-run-after-status-consumption.png
  articles/logic-apps/media/error-exception-handling/failed-run-after-status-consumption.png
  articles/logic-apps/media/error-exception-handling/failed-run-after-status-standard.png
  articles/logic-apps/media/error-exception-handling/failed-run-after-status.png
  articles/logic-apps/media/error-exception-handling/multiple-predecessor-actions-standard.png
  articles/logic-apps/media/error-exception-handling/multiple-predecessor-actions.png
  articles/logic-apps/media/error-exception-handling/predecessor-action-consumption.png
  articles/logic-apps/media/error-exception-handling/predecessor-action-standard.png
  articles/logic-apps/media/error-exception-handling/run-after-multiple-statuses-consumption.png
  articles/logic-apps/media/error-exception-handling/run-after-multiple-statuses-standard.png
  articles/logic-apps/media/error-exception-handling/run-after-multiple-statuses.png
  articles/logic-apps/media/error-exception-handling/set-run-after-in-scope.png
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, azure-logic-apps/svc

#125187 Update bicep-extension.md
  articles/azure-resource-manager/bicep/bicep-extension.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, bicep/subsvc, qualifies-for-auto-merge

#125161 Fix typo
  articles/cloud-services/cloud-services-troubleshoot-common-issues-which-cause-roles-recycle.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-cloud-services-classic/svc

#125162 Fix typo
  articles/cost-management-billing/automate/tutorial-seed-historical-cost-dataset-exports-api.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#125164 Fix typo
  articles/cost-management-billing/manage/cancel-azure-subscription.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#125169 Fix typo
  articles/stream-analytics/develop-locally.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stream-analytics/svc

#125165 Fix typo
  articles/cost-management-billing/manage/cost-management-budget-scenario.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, cost-management/subsvc, qualifies-for-auto-merge

#125167 Fix typo
  articles/cost-management-billing/understand/download-azure-invoice.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#125163 Fix typo
  articles/cost-management-billing/manage/assign-roles-azure-service-principals.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#125170 Closed </sup> tag so page renders correctly
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-private-link/svc

#125176 Removed duplication under "Create environment variables" section
  articles/container-apps/quickstart-code-to-cloud.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-container-apps/svc

#125157 Spelling Fixes
  articles/sentinel/data-connectors/microsoft-exchange-message-tracking-logs.md
  articles/sentinel/data-connectors/mimecast-audit-authentication.md
  articles/sentinel/data-connectors/mimecast-intelligence-for-microsoft-microsoft-sentinel.md
  articles/sentinel/data-connectors/mimecast-secure-email-gateway.md
  articles/sentinel/data-connectors/mimecast-targeted-threat-protection.md
  articles/sentinel/data-connectors/mulesoft-cloudhub.md
  articles/sentinel/data-connectors/netclean-proactive-incidents.md
  articles/sentinel/data-connectors/netskope.md
  articles/sentinel/data-connectors/nxlog-aix-audit.md
  articles/sentinel/data-connectors/oracle-cloud-infrastructure.md
  articles/sentinel/data-connectors/proofpoint-on-demand-email-security.md
  articles/sentinel/data-connectors/qualys-vulnerability-management.md
  articles/sentinel/data-connectors/sentinelone.md
  articles/sentinel/data-connectors/slack-audit.md
  articles/sentinel/data-connectors/thehive-project-thehive.md
  articles/sentinel/data-connectors/transmit-security-connector.md
  articles/sentinel/data-connectors/trend-vision-one.md
  articles/sentinel/data-connectors/vmware-carbon-black-cloud.md
  articles/sentinel/data-connectors/wiz.md
  articles/sentinel/data-connectors/workplace-from-facebook.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, needs-human-review

#124849 Update api-management-service-limits.md
  includes/api-management-service-limits.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125171 Spelling Fixes
  articles/storage/blobs/blob-upload-function-trigger-javascript.md
  articles/storage/blobs/data-lake-storage-migrate-on-premises-HDFS-cluster.md
  articles/storage/blobs/data-lake-storage-use-databricks-spark.md
  articles/storage/blobs/monitor-blob-storage.md
  articles/storage/blobs/secure-file-transfer-protocol-support.md
  articles/storage/blobs/storage-performance-checklist.md
  articles/storage/blobs/storage-quickstart-static-website-terraform.md
  articles/storage/common/redundancy-migration.md
  articles/storage/common/storage-explorer-emulators.md
  articles/storage/common/storage-use-azcopy-blobs-upload.md
  articles/storage/elastic-san/elastic-san-configure-customer-managed-keys.md
  articles/storage/files/files-monitoring-alerts.md
  articles/storage/files/nfs-root-squash.md
  articles/storage/files/storage-files-identity-mount-file-share.md
  articles/storage/files/storage-files-migration-nas-cloud-databox.md
  articles/storage/files/storage-files-migration-robocopy.md
  articles/storage/files/storage-how-to-create-file-share.md
  articles/storage/files/understand-performance.md
  articles/storage/queues/monitor-queue-storage.md
  articles/storage/solution-integration/validated-partners/data-management/migration-tools-comparison.md
  articles/storage/tables/monitor-table-storage.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-table-storage/svc, storage-partner-integration/subsvc

#125174 Spelling Fixes
  articles/time-series-insights/how-to-tsi-gen2-migration.md
  articles/trusted-signing/concept-trusted-signing-resources-roles.md
  articles/trusted-signing/how-to-renew-identity-validation.md
  articles/trusted-signing/how-to-signing-integrations.md
  articles/trusted-signing/quickstart.md
  articles/update-manager/manage-pre-post-events.md
  articles/update-manager/troubleshoot.md
  articles/update-manager/whats-new.md
  articles/virtual-desktop/redirection-configure-location.md
  articles/virtual-desktop/session-host-update-configure.md
  articles/virtual-desktop/windows-11-language-packs.md
  articles/virtual-network-manager/create-virtual-network-manager-bicep.md
  articles/virtual-network/create-peering-different-subscriptions-service-principal.md
  articles/virtual-network/ip-services/manage-custom-ip-address-prefix.md
  articles/virtual-network/virtual-network-tap-overview.md
  articles/virtual-wan/disaster-recovery-design.md
  articles/virtual-wan/how-to-forced-tunnel.md
  articles/virtual-wan/how-to-palo-alto-cloud-ngfw.md
  articles/virtual-wan/how-to-routing-policies.md
  articles/virtual-wan/how-to-virtual-hub-routing-powershell.md
  articles/virtual-wan/third-party-integrations.md
  articles/virtual-wan/virtual-wan-locations-partners.md
  articles/virtual-wan/whats-new.md
Labels: Change sent to author, do-not-merge, ip-services/subsvc, needs-human-review, azure-virtual-wan/svc

#125172 Spelling Fixes
  articles/spring-apps/basic-standard/includes/application-observability/application-observability-with-basic-standard-plan.md
  articles/static-web-apps/database-postgresql.md
  articles/storage-mover/endpoint-manage.md
  articles/stream-analytics/no-code-power-bi-tutorial.md
  articles/stream-analytics/no-code-stream-processing.md
  articles/stream-analytics/power-bi-output.md
  articles/stream-analytics/powerbi-output-managed-identity.md
  articles/stream-analytics/sql-database-output-managed-identity.md
  articles/stream-analytics/sql-reference-data.md
  articles/stream-analytics/start-job.md
  articles/stream-analytics/stream-analytics-documentdb-output.md
  articles/stream-analytics/stream-analytics-dotnet-management-sdk.md
  articles/stream-analytics/stream-analytics-javascript-user-defined-aggregates.md
  articles/stream-analytics/stream-analytics-javascript-user-defined-functions.md
  articles/stream-analytics/stream-analytics-stream-analytics-query-patterns.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-stream-analytics/svc

#125175 Spelling Fixes
  articles/nat-gateway/troubleshoot-nat-connectivity.md
  articles/network-watcher/network-watcher-visualize-nsg-flow-logs-open-source-tools.md
  articles/network-watcher/nsg-flow-logs-policy-portal.md
  articles/network-watcher/traffic-analytics-schema.md
  articles/networking/create-zero-trust-network-web-apps.md
  articles/openshift/howto-bring-nsg.md
  articles/openshift/quickstart-openshift-arm-bicep-template.md
  articles/operational-excellence/relocation-automation.md
  articles/operational-excellence/relocation-firewall.md
  articles/vpn-gateway/azure-vpn-client-prerequisites-check.md
  articles/vpn-gateway/bgp-how-to-cli.md
  articles/vpn-gateway/point-to-site-certificate-client-linux-azure-vpn-client.md
  articles/web-application-firewall/ag/rate-limiting-configure.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-web-application-firewall/svc

#125191 Update provision-resource-terraform.md added 'depends_on' so webapp w…
  articles/app-service/provision-resource-terraform.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-app-service/svc

#125173 Spelling Fixes
  articles/synapse-analytics/backuprestore/restore-sql-pool.md
  articles/synapse-analytics/how-to-move-workspace-from-one-region-to-another.md
  articles/synapse-analytics/machine-learning/overview-cognitive-services.md
  articles/synapse-analytics/machine-learning/tutorial-build-applications-use-mmlspark.md
  articles/synapse-analytics/machine-learning/tutorial-computer-vision-use-mmlspark.md
  articles/synapse-analytics/spark/apache-spark-gpu-concept.md
  articles/synapse-analytics/spark/apache-spark-troubleshoot-library-errors.md
  articles/synapse-analytics/spark/optimize-write-for-apache-spark.md
  articles/synapse-analytics/sql-data-warehouse/single-region-residency.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-integrate-azure-stream-analytics.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-manage-monitor.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-restore-active-paused-dw.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-table-constraints.md
  articles/synapse-analytics/sql/develop-materialized-view-performance-tuning.md
  articles/synapse-analytics/sql/mfa-authentication.md
  articles/synapse-analytics/sql/query-delta-lake-format.md
  articles/synapse-analytics/sql/query-parquet-files.md
  articles/synapse-analytics/sql/query-parquet-nested-types.md
  articles/synapse-analytics/sql/query-single-csv-file.md
  articles/synapse-analytics/sql/tutorial-connect-power-bi-desktop.md
  articles/synapse-analytics/synapse-link/concept-synapse-link-cosmos-db-support.md
  articles/synapse-analytics/synapse-link/connect-synapse-link-sql-server-2022.md
Labels: Change sent to author, do-not-merge, synapse-link/subsvc, needs-human-review, azure-synapse-analytics/svc

#125159 Spelling Fixes
  articles/service-bus-messaging/deprecate-service-bus-management.md
  articles/service-bus-messaging/disable-local-authentication.md
  articles/service-bus-messaging/message-expiration.md
  articles/service-bus-messaging/service-bus-dotnet-multi-tier-app-using-service-bus-queues.md
  articles/service-bus-messaging/service-bus-geo-replication.md
  articles/service-bus-messaging/service-bus-messaging-exceptions-latest.md
  articles/service-bus-messaging/service-bus-messaging-sql-rule-action.md
  articles/service-connector/how-to-build-connections-with-iac-tools.md
  articles/service-connector/how-to-use-service-connector-in-aks.md
  articles/service-connector/includes/code-cosmoscassandra-me-id.md
  articles/service-connector/includes/code-cosmoscassandra-secret.md
  articles/service-connector/includes/code-cosmosgremlin-me-id.md
  articles/service-connector/includes/code-cosmosmongo-me-id.md
  articles/service-connector/includes/code-cosmostable-me-id.md
  articles/service-connector/quickstart-cli-functions-connection.md
  articles/service-connector/tutorial-python-functions-storage-blob-as-input.md
  articles/service-connector/tutorial-python-functions-storage-queue-as-trigger.md
  articles/service-connector/tutorial-python-functions-storage-table-as-output.md
Labels: Change sent to author, do-not-merge, service-connector/svc, needs-human-review

#125190 Update private-endpoint-dns.md for AI Services
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#125111 Add Purview platform DNS zone and fix typo
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#124822 Update backup-azure-diagnostic-events.md
  articles/backup/backup-azure-diagnostic-events.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-backup/svc

#125201 Update oracle-database-network-plan.md
  articles/oracle/oracle-db/oracle-database-network-plan.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, oracle-on-azure/svc

#125199 Update configuration-infrastructure.md
  articles/application-gateway/configuration-infrastructure.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-application-gateway/svc

#125202 Update azure-netapp-files-network-topologies.md
  articles/azure-netapp-files/azure-netapp-files-network-topologies.md
Labels: Change sent to author, do-not-merge, azure-netapp-files/svc, qualifies-for-auto-merge

#125206 Update prepare-for-agentless-migration.md
  articles/migrate/vmware/prepare-for-agentless-migration.md
Labels: Change sent to author, do-not-merge, azure-migrate/svc, qualifies-for-auto-merge

#125213 Update get-started-analyze-sql-pool.md
  articles/synapse-analytics/get-started-analyze-sql-pool.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sql/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125210 Update introduction.md - Updated soon to be retired VMware links
  articles/azure-vmware/introduction.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#125158 Spelling Fixes
  articles/sentinel/cef-name-mapping.md
  articles/sentinel/ci-cd-custom-content.md
  articles/sentinel/connect-data-sources.md
  articles/sentinel/customer-managed-keys.md
  articles/sentinel/dynamics-365/dynamics-365-finance-operations-security-content.md
  articles/sentinel/entities-reference.md
  articles/sentinel/entities.md
  articles/sentinel/investigate-with-ueba.md
  articles/sentinel/migration-arcsight-detection-rules.md
  articles/sentinel/migration-qradar-historical-data.md
  articles/sentinel/migration-security-operations-center-processes.md
  articles/sentinel/normalization-develop-parsers.md
  articles/sentinel/normalization-parsers-list.md
  articles/sentinel/normalization-schema-audit.md
  articles/sentinel/normalization-schema-authentication.md
  articles/sentinel/normalization-schema-dns.md
  articles/sentinel/normalization-schema-user-management.md
  articles/sentinel/normalization-schema-v1.md
  articles/sentinel/notebook-get-started.md
  articles/sentinel/notebooks-msticpy-advanced.md
  articles/sentinel/publish-sentinel-solutions.md
  articles/sentinel/resource-context-rbac.md
  articles/sentinel/sap/sap-solution-function-reference.md
  articles/sentinel/sap/sap-solution-log-reference.md
  articles/sentinel/summary-rules.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, needs-human-review

#123165 Update runtime versions in apis-functions.md
  articles/static-web-apps/apis-functions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, static-web-apps/svc

#125117 Fix typos in 'Set up server side rendering' section
  articles/static-web-apps/deploy-nextjs-hybrid.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-static-web-apps/svc

#123251 Update custom-domain.md
  articles/static-web-apps/custom-domain.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#125207 Update migrate-support-matrix-hyper-v-migration.md
  articles/migrate/migrate-support-matrix-hyper-v-migration.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#125200 fix one typo and one markdown formatting
  articles/site-recovery/vmware-azure-troubleshoot-replication.md
  articles/site-recovery/vmware-physical-azure-support-matrix.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-site-recovery/svc

#125204 Update common-questions-server-migration.md
  articles/migrate/common-questions-server-migration.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#125227 Fix typo
  articles/azure-functions/functions-machine-learning-tensorflow.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#125229 Fix typo
  articles/communication-services/concepts/voice-video-calling/includes/known-issues/known-issues-safari-browser.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#125234 Fix typo
  articles/hdinsight/spark/apache-spark-intellij-tool-debug-remotely-through-ssh.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125232 Fix typo
  articles/hdinsight/hadoop/hdinsight-use-mapreduce.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125240 Fix typo
  includes/vpn-gateway-faq-p2s-all-include.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-vpn-gateway/svc

#125236 Fix typo
  articles/sentinel/migration-ingestion-tool.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#125233 Fix typo
  articles/hdinsight/kafka/apache-kafka-connect-vpn-gateway.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125235 Fix typo
  articles/logic-apps/create-single-tenant-workflows-visual-studio-code.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-logic-apps/svc
