Repository MicrosoftDocs/azure-docs, pull requests merged in 2025-04, with the labels that each got.

#126346 Fix typo
  articles/app-service/troubleshoot-domain-ssl-certificates.md
Labels: Change sent to author, do-not-merge, azure-app-service/svc

#126342 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, oracle-on-azure/svc

#126351 Update quick-kubernetes-backup-cli.md
  articles/backup/quick-kubernetes-backup-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-backup/svc

#126362 Fix URL
  articles/event-grid/auth0-log-stream-blob-storage.md
Labels: Change sent to author, ready-to-merge, azure-event-grid/svc

#126356 Update quick-acm-cost-analysis.md
  articles/cost-management-billing/costs/quick-acm-cost-analysis.md
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, cost-management/subsvc

#126357 Fix URL
  articles/active-directory-b2c/custom-policies-series-call-rest-api.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc

#126360 Fix URL
  articles/cdn/cdn-manage-powershell.md
Labels: Change sent to author, do-not-merge, azure-cdn/svc

#126358 Fix URL
  articles/automation/python-3-packages.md
Labels: Change sent to author, do-not-merge, process-automation/subsvc, azure-automation/svc

#126359 Fix URL
  articles/azure-resource-manager/bicep/scenarios-rbac.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, bicep/subsvc

#126355 Fixed subscription-key string replacement issue in code samples
  articles/azure-maps/weather-service-tutorial.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, weather/subsvc

#126325 Update service-limits.md to add more high fraud regions to opt-in list
  articles/active-directory-b2c/service-limits.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, needs-human-review

#126350 Adding Activator to AZ supported Fabric products
  articles/reliability/reliability-fabric.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, fabric/svc, admin/subsvc

#126373 Update configure-customer-managed-key.md
  articles/service-bus-messaging/configure-customer-managed-key.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-service-bus/svc

#126251 Add note regarding expected failed SecretGet audit event in KV backed config for network protected vaults
  articles/app-service/app-service-key-vault-references.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-app-service/svc

#126372 Updating api collection and env files to M23 variants
  articles/energy-data-services/how-to-register-external-data-sources.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-data-manager-energy/svc

#126368 Fix RSS trigger failure issue in Logic Apps Quickstart guide
  articles/logic-apps/quickstart-create-example-consumption-workflow.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-logic-apps/svc

#126106 Update reference-app-settings.md
  articles/app-service/reference-app-settings.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-app-service/svc

#126028 Fix typo
  articles/app-service/configure-authentication-provider-apple.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#126029 Fix typo
  articles/app-service/tutorial-auth-aad.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#126030 Fix typo
  articles/app-service/tutorial-connect-app-access-sql-database-as-user-dotnet.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#126103 Update overview-authentication-authorization.md
  articles/app-service/overview-authentication-authorization.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-app-service/svc

#125893 Update reference-app-settings.md
  articles/app-service/reference-app-settings.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-app-service/svc

#126327 Updated The Render service example requests to use the latest api-version (2024-04-01)
  articles/azure-maps/how-to-show-attribution.md
  articles/azure-maps/power-bi-visual-add-tile-layer.md
  articles/azure-maps/tutorial-ev-routing.md
  articles/azure-maps/weather-service-tutorial.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, weather/subsvc

#126380 Fix typo
  articles/azure-vmware/configure-azure-elastic-san.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc

#126381 Fix typo
  articles/azure-vmware/configure-identity-source-vcenter.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc

#126382 Fix typo
  articles/backup/manage-backup-vault.md
Labels: Change sent to author, do-not-merge, azure-backup/svc

#125796 Update notebooks-hunt.md
  articles/sentinel/notebooks-hunt.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#125984 Fix typo
  articles/event-grid/authenticate-with-namespaces-using-json-web-tokens.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#125745 Update power-bi-visual-get-started.md
  articles/azure-maps/power-bi-visual-get-started.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, power-bi-visual/subsvc

#126416 Update reference.md
  articles/communication-services/concepts/reference.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc

#125844 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, oracle-on-azure/svc

#125979 Fix typo
  articles/container-apps/azure-arc-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#126065 Add configurationParameter example in assignments.md
  articles/governance/machine-configuration/concepts/assignments.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, machine-configuration/svc

#125887 Update faq-oracle-database-azure.md
  articles/oracle/oracle-db/faq-oracle-database-azure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#125977 Fix typo
  articles/azure-vmware/deploy-arc-for-azure-vmware-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#125744 Container Apps default health probe not enabled for GPU apps
  articles/container-apps/health-probes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#126393 Update understand-usage.md
  articles/cost-management-billing/understand/understand-usage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc

#126391 Update troubleshoot-threshold-billing.md
  articles/cost-management-billing/troubleshoot-billing/troubleshoot-threshold-billing.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc

#126390 Update subscription-states.md
  articles/cost-management-billing/manage/subscription-states.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc

#126389 Update avoid-unused-subscriptions.md
  articles/cost-management-billing/manage/avoid-unused-subscriptions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc

#125252 Fix container app quota doc
  articles/container-apps/quotas.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, container-apps/svc

#126423 Fix typo
  articles/data-factory/connector-postgresql.md
Labels: Change sent to author, do-not-merge, data-movement/subsvc, azure-data-factory/svc

#126421 Fix typo
  articles/cloud-shell/features.md
Labels: Change sent to author, do-not-merge, azure-cloud-shell/svc

#126023 Fix typo
  articles/api-management/api-management-key-concepts-experiment.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#126024 Fix typo
  articles/api-management/api-management-policy-expressions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#126427 Update network-watcher-agent-update.md
  articles/network-watcher/network-watcher-agent-update.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-network-watcher/svc

#126426 Update network-watcher-agent-version.md
  includes/network-watcher-agent-version.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-network-watcher/svc

#126409 Fix typo
  articles/backup/manage-backup-vault.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126410 Fix typo
  articles/backup/restore-postgresql-database-use-rest-api.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126399 Fix typo
  articles/backup/backup-azure-backup-server-vmware.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126404 Fix typo
  articles/backup/backup-azure-data-protection-use-rest-api-backup-postgresql.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126405 Fix typo
  articles/backup/backup-azure-data-protection-use-rest-api-create-update-postgresql-policy.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126406 Fix typo
  articles/backup/backup-azure-database-postgresql-flex-use-rest-api-create-update-policy.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126428 Fix typo
  articles/backup/restore-azure-database-postgresql-flex.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126412 Fix typo
  articles/backup/backup-azure-data-protection-use-rest-api-create-update-postgresql-policy.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126411 Fix typo
  articles/backup/tutorial-cross-region-restore.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#125976 Fix typo
  articles/azure-maps/migrate-get-traffic-incidents.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge, traffic/subsvc

#126430 Update storage-files-active-directory-overview.md
  articles/storage/files/storage-files-active-directory-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-file-storage/svc

#124446 Fix KQL for Trace Errors/Warnings
  articles/azure-functions/durable/durable-functions-troubleshooting-guide.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#126324 Update api-connectors-overview.md for RESTful timeout update
  articles/active-directory-b2c/api-connectors-overview.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged

#126378 Update health-probes.md
  articles/container-apps/health-probes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-container-apps/svc

#126431 Update native-network-connectivity.md
  articles/azure-vmware/native-network-connectivity.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#126438 Changed GeoJson to GeoJSON
  articles/azure-maps/creator-facility-ontology.md
  articles/azure-maps/how-to-dataset-geojson.md
Labels: Change sent to author, ready-to-merge, azure-maps/svc, creator/subsvc

#126436 Removing comments about participant pane
  articles/communication-services/samples/chat-hero-sample.md
  articles/communication-services/samples/media/chat/main-app.png
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, chat/subsvc, needs-human-review

#126434 Update to the default value of duplicate detection window size
  articles/service-bus-messaging/duplicate-detection.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, review-in-progress, azure-service-bus/svc

#126440 Update vmware-cloud-foundations-license-portability.md
  articles/azure-vmware/vmware-cloud-foundations-license-portability.md
Labels: Change sent to author, do-not-merge, azure-vmware/svc

#125986 Fix typo
  articles/operator-nexus/howto-cluster-manager.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#126448 Updated reviewers and authors
  articles/cost-management-billing/azure-hybrid-benefits/index.yml
  articles/cost-management-billing/manage/index.yml
  articles/cost-management-billing/manage/transfer-subscriptions-subscribers-csp.yml
Labels: Change sent to author, do-not-merge, cost-management-billing/svc, billing/subsvc, needs-human-review

#124960 Update service-limits.md
  articles/communication-services/concepts/service-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, data/subsvc, qualifies-for-auto-merge

#125978 Fix typo
  articles/azure-web-pubsub/reference-mqtt-cross-protocol-communication.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-web-pubsub/svc

#126442 Rest API service name capitalization
  articles/azure-maps/azure-maps-authentication.md
  articles/azure-maps/create-data-source-web-sdk.md
  articles/azure-maps/how-to-dev-guide-js-sdk.md
  articles/azure-maps/map-search-location.md
  articles/azure-maps/migrate-from-bing-maps-web-app.md
  articles/azure-maps/migrate-from-google-maps-web-services.md
  articles/azure-maps/migrate-sds-data-source-management.md
  articles/azure-maps/quick-demo-map-app.md
  articles/azure-maps/render-coverage.md
  articles/azure-maps/routing-coverage.md
  articles/azure-maps/traffic-coverage.md
  articles/azure-maps/tutorial-create-store-locator.md
  articles/azure-maps/weather-coverage.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, weather/subsvc

#126441 Fixed capitalization on 'Azure Maps'
  articles/azure-maps/consent-management.md
  articles/azure-maps/how-to-dev-guide-java-sdk.md
  articles/azure-maps/how-to-use-map-control.md
  articles/azure-maps/migrate-calculate-route.md
  articles/azure-maps/migrate-calculate-truck-route.md
  articles/azure-maps/migrate-from-bing-maps-web-app.md
  articles/azure-maps/open-source-projects.md
  articles/azure-maps/weather-service-tutorial.md
  articles/azure-maps/web-sdk-best-practices.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, web-sdk/subsvc

#126439 Changed json to JSON
  articles/azure-maps/how-to-search-for-address.md
  articles/azure-maps/itinerary-optimization-service.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, routing/subsvc

#126449 Change 'web SDK' to 'Web SDK'
  articles/azure-maps/elevation-data-services.md
  articles/azure-maps/how-to-render-custom-data.md
  articles/azure-maps/how-to-use-image-templates-web-sdk.md
  articles/azure-maps/itinerary-optimization-service.md
  articles/azure-maps/map-add-custom-html.md
  articles/azure-maps/map-add-line-layer.md
  articles/azure-maps/map-add-pin.md
  articles/azure-maps/map-add-shape.md
  articles/azure-maps/migrate-from-bing-maps-web-app.md
  articles/azure-maps/migrate-from-google-maps-web-app.md
  articles/azure-maps/migrate-from-google-maps.md
  articles/azure-maps/spatial-io-connect-wfs-service.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, web-sdk/subsvc

#125544 accelerated-networking-overview.md: Add Flatcar Linux
  articles/virtual-network/accelerated-networking-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#126455 Changed 'Client Id' to 'Client ID'.
  articles/azure-maps/how-to-use-map-control.md
  articles/azure-maps/how-to-use-services-module.md
  articles/azure-maps/how-to-use-ts-rest-sdk.md
  articles/azure-maps/map-get-information-from-coordinate.md
  articles/azure-maps/map-route.md
  articles/azure-maps/map-search-location.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review, web-sdk/subsvc

#125537 AMQP Web Sockets is not supported with ServiceBus or EventHubs Emulat…
  articles/service-bus-messaging/overview-emulator.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-service-bus/svc

#125814 Update known-issues-native.md
  articles/communication-services/concepts/voice-video-calling/known-issues-native.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-communication-services/svc, qualifies-for-auto-merge

#125733 Update register-existing-system.md
  articles/sap/center-sap-solutions/register-existing-system.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sap-on-azure/svc, center-sap-solutions/subsvc

#125906 Fix typo
  articles/azure-maps/migrate-from-bing-maps-web-app.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge, web-sdk/subsvc

#125907 Fix typo
  articles/azure-maps/migrate-from-google-maps-web-app.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, qualifies-for-auto-merge, web-sdk/subsvc

#126482 Fix typo
  includes/iot-central-connect-device-c.md
Labels: Change sent to author, ready-to-merge, azure-iot/svc

#126476 Fix typo
  articles/iot/concepts-iot-device-development.md
Labels: Change sent to author, ready-to-merge, azure-iot/svc

#126465 Fix typo
  articles/healthcare-apis/iot/deploy-choose-method.md
Labels: Change sent to author, do-not-merge, azure-health-data-services/svc, medtech-service/subsvc

#126471 Fix typo
  articles/iot-hub/iot-hub-event-grid-routing-comparison.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc

#126478 Fix typo
  articles/security/develop/threat-modeling-tool-authorization.md
Labels: Change sent to author, information-protection/svc, do-not-merge, aiplabels/subsvc

#126474 Fix typo
  articles/iot-hub/quickstart-send-telemetry-cli.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc

#126470 Fix typo
  articles/iot-hub-device-update/import-schema.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc, device-update/subsvc

#126467 Fix typo
  articles/iot-dps/iot-dps-ip-filtering.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc, azure-iot-hub-dps/subsvc

#126469 Fix typo
  articles/iot-hub-device-update/create-device-update-account.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc, device-update/subsvc

#126468 Fix typo
  articles/iot-dps/quick-setup-auto-provision-rm.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc, azure-iot-hub-dps/subsvc

#126466 Fix typo
  articles/iot-dps/how-to-troubleshoot-dps.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc, azure-iot-hub-dps/subsvc

#126462 Update cross-tenant-vnet.md
  articles/virtual-wan/cross-tenant-vnet.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-wan/svc

#126456 Changed 'Rest API' to 'REST API'
  articles/azure-maps/creator-indoor-maps.md
  articles/azure-maps/how-to-create-custom-styles.md
  articles/azure-maps/how-to-dev-guide-csharp-sdk.md
  articles/azure-maps/how-to-use-indoor-module.md
  articles/azure-maps/map-search-location.md
  articles/azure-maps/rest-api-azure-maps.md
  articles/azure-maps/rest-api-creator.md
  articles/azure-maps/rest-sdk-developer-guide.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, rest-sdk/subsvc

#123929 Add link to existing documentation for using Azure portal to upload c…
  articles/storage/blobs/storage-blob-static-website.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#123632 Update storage-choose-data-transfer-solution.md
  articles/storage/common/storage-choose-data-transfer-solution.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#124467 Update troubleshooting.md
  articles/storage-mover/troubleshooting.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage-mover/svc

#123988 Update storage-blob-static-website.md
  articles/storage/blobs/storage-blob-static-website.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-blob-storage/svc

#126484 Fix typo
  includes/iot-hub-howto-cloud-to-device-messaging-java.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc

#126481 Fix typo
  articles/synapse-analytics/guidance/proof-of-concept-playbook-data-explorer-pool.md
Labels: Change sent to author, do-not-merge, azure-synapse-analytics/svc

#126485 Fix typo
  includes/iot-hub-howto-device-management-python.md
Labels: Change sent to author, iot-hub/svc, do-not-merge

#126483 Fix typo
  includes/iot-hub-diagnostics-error-codes.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc

#126480 Fix typo
  articles/stream-analytics/stream-analytics-machine-learning-anomaly-detection.md
Labels: Change sent to author, do-not-merge, azure-stream-analytics/svc

#126473 Fix typo
  articles/iot-hub/monitor-iot-hub-reference.md
Labels: Change sent to author, do-not-merge, azure-iot-hub/svc

#126477 Fix typo
  articles/role-based-access-control/permissions/internet-of-things.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc

#126450 Changing "Weather services" to "Weather service"
  articles/azure-maps/how-to-request-weather-data.md
  articles/azure-maps/toc.yml
  articles/azure-maps/weather-coverage.md
  articles/azure-maps/weather-service-tutorial.md
  articles/azure-maps/weather-services-concepts.md
  articles/azure-maps/weather-services-faq.yml
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, weather/subsvc

#126252 Update route-server-note-nva-peering.md
  includes/route-server-note-nva-peering.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-route-server/svc

#126493 Updated the zip file limits in the run load test with jmeter script doc
  articles/load-testing/how-to-create-and-run-load-test-with-jmeter-script.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-load-testing/svc

#126492 Update resource-limits info for Azure load testing service
  articles/load-testing/resource-limits-quotas-capacity.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-load-testing/svc

#126499 Fix typo
  articles/remote-rendering/tutorials/modeling/maya-material-setup.md
Labels: Change sent to author, do-not-merge, azure-remote-rendering/svc

#126509 Fix typo
  articles/databox-online/azure-stack-edge-gpu-create-iot-edge-module.md
Labels: Change sent to author, do-not-merge, azure-stack-edge/svc

#126503 Fix typo
  articles/azure-resource-manager/templates/definitions.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc

#126502 Fix typo
  articles/azure-resource-manager/bicep/parameters.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, bicep/subsvc

#126504 Fix typo
  articles/azure-resource-manager/templates/parameters.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc

#126506 Fix typo
  articles/azure-resource-manager/templates/resource-declaration.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc

#126507 Fix typo
  articles/azure-resource-manager/templates/syntax.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, templates/subsvc

#126513 Fix typo
  articles/sentinel/data-connectors/crowdstrike-falcon-data-replicator-v2.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126508 Fix typo
  articles/azure-web-pubsub/quickstart-use-sdk.md
Labels: Change sent to author, do-not-merge, azure-web-pubsub/svc

#126511 Fix typo
  articles/hdinsight/hdinsight-troubleshoot-guide.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126510 Fix typo
  articles/hdinsight/hdinsight-migrate-granular-access-cluster-configurations.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126514 Fix typo
  articles/sentinel/data-connectors/illumio-saas.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126516 Fix typo
  articles/stream-analytics/visual-studio-code-explore-jobs.md
Labels: Change sent to author, do-not-merge, azure-stream-analytics/svc

#126447 Use lowercase when specifying version # using 'v'
  articles/azure-maps/creator-long-running-operation-v2.md
  articles/azure-maps/how-to-dev-guide-csharp-sdk.md
  articles/azure-maps/how-to-dev-guide-js-sdk.md
  articles/azure-maps/how-to-dev-guide-py-sdk.md
  articles/azure-maps/migrate-from-google-maps-web-app.md
  articles/azure-maps/migrate-route-v1-api.md
  articles/azure-maps/release-notes-map-control.md
  articles/azure-maps/rest-api-creator.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, creator/subsvc

#126445 Updated note about pixel tile size difference
  articles/azure-maps/migrate-from-google-maps-web-app.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, web-sdk/subsvc

#125966 Update tag-support.md
  articles/azure-resource-manager/management/tag-support.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, management/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126518 Corrected typo in logic-apps-workflow-actions-triggers.md
  articles/logic-apps/logic-apps-workflow-actions-triggers.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-logic-apps/svc

#125510 Update faq.yml
  articles/nat-gateway/faq.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#126495 Update add-api-connector.md
  articles/active-directory-b2c/add-api-connector.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged

#126501 Update storage-redundancy.md
  articles/storage/common/storage-redundancy.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-storage/svc, storage-common-concepts/subsvc

#126458 Update support.md
  articles/partner-solutions/new-relic/support.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, partner-services/svc, new-relic/subsvc

#126521 Update plans.md
  articles/static-web-apps/plans.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-static-web-apps/svc

#126524 Update release-notes-2025.md
  articles/healthcare-apis/release-notes-2025.md
Labels: Change sent to author, ready-to-merge, workspace/subsvc, azure-health-data-services/svc

#126552 Fix typo
  articles/sentinel/data-connectors/google-cloud-platform-iam.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126569 Update api-management-howto-api-inspector.md
  articles/api-management/api-management-howto-api-inspector.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-api-management/svc

#126527 Fix typo
  articles/automation/automation-runbook-types.md
Labels: Change sent to author, do-not-merge, process-automation/subsvc, azure-automation/svc

#126526 Fix typo
  articles/automation/automation-runbook-authoring.md
Labels: Change sent to author, do-not-merge, process-automation/subsvc, azure-automation/svc

#126500 Type Error on virtual-network-reference.md
  articles/api-management/virtual-network-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-api-management/svc

#126528 Fix typo
  articles/automation/whats-new.md
Labels: Change sent to author, do-not-merge, azure-automation/svc

#126530 Fix typo
  articles/sentinel/data-connectors/alicloud.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126533 Fix typo
  articles/sentinel/data-connectors/armis-alerts.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126534 Fix typo
  articles/sentinel/data-connectors/armis-devices.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126529 Fix typo
  articles/sentinel/data-connectors/abnormalsecurity.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126532 Fix typo
  articles/sentinel/data-connectors/armis-alerts-activities.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126531 Fix typo
  articles/sentinel/data-connectors/armis-activities.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126535 Fix typo
  articles/sentinel/data-connectors/armorblox.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126542 Fix typo
  articles/sentinel/data-connectors/cloudflare.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126571 Update network-security-perimeter-concepts.md
  articles/private-link/network-security-perimeter-concepts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-private-link/svc

#126538 Fix typo
  articles/sentinel/data-connectors/auth0-access-management.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126537 Fix typo
  articles/sentinel/data-connectors/atlassian-jira-audit.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126548 Fix typo
  articles/sentinel/data-connectors/dataminr-pulse-alerts-data-connector.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc
