Repository MicrosoftDocs/azure-docs, pull requests merged in 2025-02, with the labels that each got.

#125610 Removed duplicate sentence in AKS backup how-to guide
  articles/backup/azure-kubernetes-service-cluster-backup.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-backup/svc

#125674 [Docs] [Storage] Omit `Set Blob Properties` from list of supported APIs for CPK
  articles/storage/blobs/encryption-customer-provided-keys.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#125673 [Docs] [Storage] Add `Append Blob Seal` to list of APIs not supported by ADLS Gen2
  articles/storage/blobs/data-lake-storage-known-issues.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-data-lake-storage/svc

#125679 Isn't the plural 's' unnecessary for 'Link' in 'Azure Private Link Hub'?
  articles/synapse-analytics/security/synapse-private-link-hubs.md
Labels: Change sent to author, do-not-merge, security/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125678 Update how-to-manage-authentication.md (Typo "flexible server"→"Flexi…
  articles/service-connector/how-to-manage-authentication.md
Labels: Change sent to author, do-not-merge, service-connector/svc, qualifies-for-auto-merge

#125675 Fixes to article about deploying AI app to Azure App Service
  articles/app-service/includes/deploy-intelligent-apps/deploy-intelligent-apps-linux-python-pivot.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-app-service/svc

#125684 Update release-notes.md
  articles/storage-mover/release-notes.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage-mover/svc

#125682 Update release-notes-2025.md
  articles/healthcare-apis/release-notes-2025.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, workspace/subsvc, qualifies-for-auto-merge, azure-health-data-services/svc

#125681 Update overview-vnet-integration.md
  articles/app-service/overview-vnet-integration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125688 Fix typo
  articles/azure-sql-edge/onnx-overview.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, qualifies-for-auto-merge, azure-sql-edge/svc

#125694 Fix typo
  articles/synapse-analytics/spark/apache-spark-machine-learning-training.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125689 Fix typo
  articles/iot-edge/tutorial-deploy-custom-vision.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-edge/svc

#125690 Fix typo
  articles/synapse-analytics/machine-learning/concept-deep-learning.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125693 Fix typo
  articles/synapse-analytics/spark/apache-spark-gpu-concept.md
Labels: Change sent to author, do-not-merge, spark/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125691 Fix typo
  articles/synapse-analytics/machine-learning/tutorial-horovod-pytorch.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125695 Fix typo
  articles/app-service/configure-basic-auth-disable.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#125700 Fix typo
  articles/spring-apps/enterprise/how-to-use-accelerator.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-spring-apps/svc

#125696 Fix typo
  articles/app-service/deploy-best-practices.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#125699 Fix typo
  articles/data-factory/rest-apis-for-airflow-integrated-runtime.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-data-factory/svc

#125698 Fix typo
  articles/data-factory/airflow-sync-github-repository.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-data-factory/svc

#125701 Fix typo
  articles/synapse-analytics/spark/apache-spark-manage-session-packages.md
Labels: Change sent to author, do-not-merge, spark/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125703 Fix typo
  includes/api-management-developer-portal-editor.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-api-management/svc

#125702 Fix typo
  articles/app-service/migrate-wordpress.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc, wordpress/subsvc

#125704 Fix typo
  includes/api-management-developer-portal-wordpress.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-api-management/svc

#125706 Fix typo
  articles/iot-dps/tutorial-custom-hsm-enrollment-group-x509.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc, azure-iot-hub-dps/subsvc

#125726 Fix typo
  articles/openshift/howto-use-lockbox.md
Labels: Change sent to author, ready-to-merge, azure-redhat-openshift/svc, qualifies-for-auto-merge

#125714 Fix typo
  articles/storage/solution-integration/validated-partners/backup-archive-disaster-recovery/datadobi/datadobi-solution-guide.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc, storage-partner-integration/subsvc

#125713 Fix typo
  articles/storage/solution-integration/validated-partners/backup-archive-disaster-recovery/commvault/commvault-solution-guide.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc, storage-partner-integration/subsvc

#125720 Fix typo
  articles/communication-services/tutorials/includes/twilio-to-acs-chat-ios-tutorial.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, chat/subsvc, qualifies-for-auto-merge

#125722 Fix typo
  articles/notification-hubs/ios-sdk-current.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-notification-hubs/svc

#125721 Fix typo
  articles/communication-services/tutorials/includes/twilio-to-acs-video-ios-tutorial.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, calling/subsvc, qualifies-for-auto-merge

#125731 Fix typo
  articles/storage/blobs/storage-how-to-mount-container-linux.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-blob-storage/svc

#125724 Fix typo
  articles/azure-netapp-files/performance-linux-filesystem-cache.md
Labels: Change sent to author, do-not-merge, azure-netapp-files/svc, qualifies-for-auto-merge

#125725 Fix typo
  articles/azure-netapp-files/performance-linux-mount-options.md
Labels: Change sent to author, do-not-merge, azure-netapp-files/svc, qualifies-for-auto-merge

#125729 Fix typo
  articles/site-recovery/site-recovery-whats-new-archive.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-site-recovery/svc

#125727 Fix typo
  articles/sap/center-sap-solutions/faq.yml
Labels: Change sent to author, do-not-merge, needs-human-review, sap-on-azure/svc, center-sap-solutions/subsvc

#125728 Fix typo
  articles/sap/center-sap-solutions/get-quality-checks-insights.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, sap-on-azure/svc, center-sap-solutions/subsvc

#125723 Fix typo
  articles/automation/update-management/overview.md
Labels: Change sent to author, do-not-merge, update-management/subsvc, qualifies-for-auto-merge, azure-automation/svc

#125730 Fix typo
  articles/storage/blobs/blobfuse2-how-to-deploy.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-blob-storage/svc

#125683 [ACA] [294521] Normalize tabs and code fences.
  articles/container-apps/azure-arc-create-container-app.md
  articles/container-apps/azure-arc-enable-cluster.md
  articles/container-apps/communicate-between-microservices.md
  articles/container-apps/container-console.md
  articles/container-apps/deploy-artifact.md
  articles/container-apps/environment-variables.md
  articles/container-apps/get-started-existing-container-image.md
  articles/container-apps/get-started.md
  articles/container-apps/github-actions-cli.md
  articles/container-apps/github-actions.md
  articles/container-apps/how-to-integrate-with-azure-front-door.md
  articles/container-apps/how-to-use-private-endpoint.md
  articles/container-apps/java-application-performance-management-config.md
  articles/container-apps/java-memory-fit.md
  articles/container-apps/log-streaming.md
  articles/container-apps/manage-secrets.md
  articles/container-apps/managed-identity-image-pull.md
  articles/container-apps/microservices-dapr-azure-resource-manager.md
  articles/container-apps/microservices-dapr.md
  articles/container-apps/quickstart-repo-to-cloud.md
  articles/container-apps/revisions-manage.md
  articles/container-apps/scale-app.md
  articles/container-apps/service-connector.md
  articles/container-apps/storage-mounts-azure-files.md
  articles/container-apps/troubleshooting.md
  articles/container-apps/tutorial-ci-cd-runners-jobs.md
  articles/container-apps/tutorial-code-to-cloud.md
  articles/container-apps/tutorial-deploy-first-app-cli.md
  articles/container-apps/tutorial-java-quarkus-connect-managed-identity-postgresql-database.md
  articles/container-apps/tutorial-scaling.md
  articles/container-apps/vnet-custom.md
  includes/container-apps-code-to-cloud-setup.md
  includes/container-apps-create-cli-steps.md
  includes/container-apps-create-environment.md
  includes/container-apps-create-resource-group.md
  includes/container-apps-set-environment-variables.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-container-apps/svc

#125737 Update network-security-perimeter-concepts.md
  articles/private-link/network-security-perimeter-concepts.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-private-link/svc

#125670 Update example in C# on monitor-instances-health-check.md
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125740 Update dev box connectivity troubleshooting guide
  articles/dev-box/how-to-troubleshoot-remote-desktop-connectivity.md
Labels: Change sent to author, do-not-merge, dev-box/svc, qualifies-for-auto-merge

#125115 Update service-tags-overview.md
  articles/virtual-network/service-tags-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#125530 Update tutorial-create-user-flows.md to add step
  articles/active-directory-b2c/tutorial-create-user-flows.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#125719 Fix typo
  articles/operator-nexus/troubleshoot-bare-metal-machine-provisioning.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#125752 Update toc.yml in AGC docs to valid SO tag URL
  articles/application-gateway/for-containers/toc.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#125751 added a list of tools for error management
  articles/service-bus-messaging/service-bus-dead-letter-queues.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-service-bus/svc

#125280 Fix typo
  articles/virtual-network/virtual-network-tcpip-performance-tuning.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#125279 Fix typo
  articles/virtual-network/virtual-network-manage-peering.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-network/svc

#125705 Fix typo
  articles/role-based-access-control/permissions/integration.md
Labels: Change sent to author, ready-to-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#125760 Fix double colon in Sentinel SAP systemconfig file structure
  articles/sentinel/sap/reference-systemconfig-json.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#125533 Update transfer table to include resource locks transfer incompatibility
  articles/role-based-access-control/transfer-subscription.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#125763 Fix Azure Monitor Logs markdown link
  articles/reliability/availability-zones-service-support.md
Labels: Change sent to author, azure/svc, do-not-merge, qualifies-for-auto-merge, azure-availability-zones/subsvc

#125762 numbering
  articles/frontdoor/how-to-enable-private-link-application-gateway.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-frontdoor/svc

#125613 Update rewrite-http-headers-url.md
  articles/application-gateway/rewrite-http-headers-url.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#125570 Need to add "read" permission for create/update WAF policy
  articles/application-gateway/configuration-infrastructure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#125749 Update network-security-perimeter-concepts.md
  articles/private-link/network-security-perimeter-concepts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#125755 [ACA] [357253] Add note that App Insights must allow local auth for OTel
  articles/container-apps/opentelemetry-agents.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125766 Update durable-functions-perf-and-scale.md
  articles/azure-functions/durable/durable-functions-perf-and-scale.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#125764 [ACA] Add preview tag to max inactive revisions section.
  articles/container-apps/revisions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125455 Add "Locks Contributor" Built-in Role to Security
  articles/role-based-access-control/built-in-roles.md
  articles/role-based-access-control/built-in-roles/security.md
Labels: Change sent to author, do-not-merge, role-based-access-control/svc, aq-pr-triaged, qualifies-for-auto-merge

#125567 Improve clarity of semantic caching instructions
  articles/api-management/azure-openai-enable-semantic-caching.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125489 Update set-up-api-center.md
  articles/api-center/set-up-api-center.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-center/svc

#124088 Update api-management-api-import-restrictions.md
  articles/api-management/api-management-api-import-restrictions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#124806 Authorization URL is updated with default value
  includes/api-management-authorization-azure-ad-provider.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125580 Fix service tags
  includes/api-management-recommended-nsg-rules.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#124755 Adding a reference of quickstart for Create a Backend Pool in Azure
  articles/api-management/backends.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125772 Fix typo
  articles/hdinsight/msi-support-to-access-azure-services.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#124711 Update api-management-howto-protect-backend-with-aad.md
  articles/api-management/api-management-howto-protect-backend-with-aad.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125788 Update high-availability-guide-suse.md
  articles/sap/workloads/high-availability-guide-suse.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125790 Update high-availability-guide-suse-nfs-azure-files.md
  articles/sap/workloads/high-availability-guide-suse-nfs-azure-files.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125791 Update high-availability-guide-suse-netapp-files.md
  articles/sap/workloads/high-availability-guide-suse-netapp-files.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125792 Update high-availability-guide-suse-multi-sid.md
  articles/sap/workloads/high-availability-guide-suse-multi-sid.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125793 Update high-availability-guide-suse-nfs-simple-mount.md
  articles/sap/workloads/high-availability-guide-suse-nfs-simple-mount.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125770 Fix typo
  articles/synapse-analytics/spark/apache-spark-machine-learning-concept.md
Labels: Change sent to author, do-not-merge, machine-learning/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125773 Fix typo
  articles/data-factory/whats-new.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-data-factory/svc

#125775 Fix typo
  articles/app-service/troubleshoot-intermittent-outbound-connection-errors.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#125774 Fix typo
  articles/api-management/api-management-howto-setup-delegation.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-api-management/svc

#125779 Fix typo
  articles/iot-hub/iot-hub-device-streams-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc

#125777 Fix typo
  articles/iot-dps/tls-support.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc, azure-iot-hub-dps/subsvc

#125783 Fix typo
  articles/spring-apps/enterprise/quickstart-monitor-end-to-end-enterprise.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-spring-apps/svc

#125784 Fix typo
  articles/spring-apps/enterprise/quickstart-sample-app-acme-fitness-store-introduction.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-spring-apps/svc

#125780 Fix typo
  articles/iot-hub/iot-hub-tls-support.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-hub/svc

#125776 Fix typo
  articles/azure-web-pubsub/tutorial-upstream-auth-mqtt-client.md
Labels: Change sent to author, do-not-merge, azure-web-pubsub/svc, qualifies-for-auto-merge

#125786 Fix typo
  articles/spring-apps/migration/migrate-to-azure-container-apps-build-buildpacks.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-spring-apps/svc

#125785 Fix typo
  articles/spring-apps/enterprise/whats-new.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-spring-apps/svc

#125782 Fix typo
  articles/spring-apps/enterprise/how-to-enterprise-configure-apm-integration-and-ca-certificates.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-spring-apps/svc

#125781 Fix typo
  articles/spring-apps/basic-standard/concept-app-customer-responsibilities.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-spring-apps/svc

#125778 Fix typo
  articles/iot-edge/how-to-connect-downstream-device.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot-edge/svc

#125768 Fix typo
  articles/reliability/reliability-defender-devops.md
Labels: Change sent to author, azure/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#125559 Fix typo
  articles/azure-web-pubsub/toc.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#125807 Update high-availability-guide-suse.md
  articles/sap/workloads/high-availability-guide-suse.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125806 Update high-availability-guide-suse-netapp-files.md
  articles/sap/workloads/high-availability-guide-suse-netapp-files.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125805 Update high-availability-guide-suse-nfs-azure-files.md
  articles/sap/workloads/high-availability-guide-suse-nfs-azure-files.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125808 Update subscription-disabled.md
  articles/cost-management-billing/manage/subscription-disabled.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc, qualifies-for-auto-merge

#125671 Update azure-CA-details.md - Entrust Root CA URL
  articles/security/fundamentals/azure-CA-details.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc, qualifies-for-auto-merge

#125589 Update azure-CA-details.md
  articles/security/fundamentals/azure-CA-details.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc, qualifies-for-auto-merge

#125809 Update how-to-deploy-blob.md with less cluttered ads-filled website
  articles/iot-edge/how-to-deploy-blob.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot-edge/svc

#125819 Add SKU availability command for Linux plans
  articles/app-service/app-service-configure-premium-tier.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125761 Updated remote storage setting and added new settings
  articles/app-service/reference-app-settings.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125836 Minor edits for sidecars
  articles/app-service/configure-custom-container.md
  articles/app-service/tutorial-custom-container-sidecar.md
  articles/app-service/tutorial-sidecar.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#125831 Fix typo
  articles/energy-data-services/how-to-integrate-elastic-logs-with-azure-monitor.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-data-manager-energy/svc

#125832 Fix typo
  articles/external-attack-surface-management/understanding-asset-details.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, defender-easm/svc

#125833 Fix typo
  articles/network-watcher/network-watcher-nsg-grafana.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-network-watcher/svc

#125828 fix: remove unnecesary space
  articles/azure-functions/durable/durable-functions-configure-managed-identity.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#125842 Update classic.md
  articles/cloud-shell/get-started/classic.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-cloud-shell/svc

#125841 Update secure-file-transfer-protocol-support-authorize-access.md
  articles/storage/blobs/secure-file-transfer-protocol-support-authorize-access.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-blob-storage/svc

#125281 Fix typo
  articles/virtual-wan/connect-virtual-network-gateway-vwan.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-wan/svc

#125282 Fix typo
  articles/virtual-wan/monitor-virtual-wan-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-virtual-wan/svc

#125406 Fix typo
  includes/azure-stack-edge-iot-troubleshoot-compute-error-detail.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-databox/svc

#125826 Update configure-ssl-certificate.md
  articles/app-service/configure-ssl-certificate.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125823 Update session-host-update.md
  articles/virtual-desktop/session-host-update.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#125835 Extra Quotation mark is throwing error
  articles/api-management/api-management-howto-api-inspector.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125846 [ACA] [347774] Remove unneeded paragraph.
  articles/container-apps/communicate-between-microservices.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125850 Fix typo
  articles/azure-app-configuration/concept-config-file.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#125855 Fix typo
  articles/managed-grafana/how-to-data-source-plugins-managed-identity.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-managed-grafana/svc

#125851 Fix typo
  articles/azure-app-configuration/howto-import-export-data.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, qualifies-for-auto-merge

#125857 Update how-to-connect-synapse-link-cosmos-db.md
  articles/synapse-analytics/synapse-link/how-to-connect-synapse-link-cosmos-db.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, synapse-link/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125845 Update error-storage-account-name.md
  articles/azure-resource-manager/troubleshooting/error-storage-account-name.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, aq-pr-triaged, troubleshooting/subsvc, qualifies-for-auto-merge

#125856 Update how-to-configure-intune-conditional-access-policies.md
  articles/dev-box/how-to-configure-intune-conditional-access-policies.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, dev-box/svc, qualifies-for-auto-merge

#125854 Fix typo
  articles/frontdoor/standard-premium/how-to-logs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-frontdoor/svc

#125266 Fix typo
  articles/expressroute/expressroute-howto-ipsec-transport-private-windows.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#125816 Update redundancy-migration.md
  articles/storage/common/redundancy-migration.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#125852 Fix typo
  articles/sentinel/normalization-develop-parsers.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#125858 Update refresh interval reference
  articles/azure-app-configuration/howto-best-practices.md
Labels: Change sent to author, ready-to-merge, azure-app-configuration/svc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#125862 Removing rogue backslash from link to method docs
  articles/service-bus-messaging/service-bus-messages-payloads.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-service-bus/svc

#125288 Fix typo
  articles/vpn-gateway/vpn-gateway-troubleshoot-site-to-site-error-codes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-vpn-gateway/svc

#124869 Update durable-functions-dotnet-isolated-overview.md
  articles/azure-functions/durable/durable-functions-dotnet-isolated-overview.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#125274 Fix typo
  articles/security/develop/threat-modeling-tool-feature-overview.md
Labels: Change sent to author, information-protection/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#125847 Update cross-subscription-patching.md
  articles/update-manager/cross-subscription-patching.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-update-manager/svc

#125870 Fix typo
  articles/sentinel/normalization-schema-file-event.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc, qualifies-for-auto-merge

#125867 Fix typo
  articles/notification-hubs/uwp-react.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-notification-hubs/svc

#125873 Update database-overview.md
  articles/oracle/oracle-db/database-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#125243 Update bgp-communities.md
  articles/expressroute/bgp-communities.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#125244 Update how-to-configure-custom-bgp-communities.md
  articles/expressroute/how-to-configure-custom-bgp-communities.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#125878 Updated automatic install script for Azure Mobility
  articles/site-recovery/vmware-azure-mobility-install-configuration-mgr.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-site-recovery/svc

#125349 Fix typo
  articles/active-directory-b2c/localization-string-ids.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#125884 Resolve invalid use of "then"/"than"
  articles/sap/workloads/high-availability-guide-suse-pacemaker.md
  articles/security/develop/threat-modeling-tool-input-validation.md
  articles/synapse-analytics/sql/overview-features.md
Labels: Change sent to author, do-not-merge, sql/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125886 Azure Document intelligence service missing
  articles/reliability/availability-zones-service-support.md
Labels: Change sent to author, azure/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-availability-zones/subsvc

#125797 Update cache-how-to-premium-persistence.md
  articles/azure-cache-for-redis/cache-how-to-premium-persistence.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-cache-redis/svc

#125798 Update cache-how-to-premium-persistence.md
  articles/azure-cache-for-redis/cache-how-to-premium-persistence.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-cache-redis/svc

#125415 Fix typo
  articles/azure-health-insights/includes/example-inference-complete-order-discrepancy-json-request.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-health-insights/svc

#125839 Update cache-how-to-redis-cli-tool.md
  articles/azure-cache-for-redis/cache-how-to-redis-cli-tool.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-cache-redis/svc

#125021 Update backends.md
  articles/api-management/backends.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-management/svc

#125477 CSS-Networking: Bastion Document Update troubleshoot.md
  articles/bastion/troubleshoot.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-bastion/svc

#125864 clarify
  articles/iot-operations/connect-to-cloud/howto-configure-fabric-real-time-intelligence.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-data-flows/subsvc, azure-iot-operations/svc

#125834 Update iot-edge-install-linux.md
  articles/iot-edge/includes/iot-edge-install-linux.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot-edge/svc

#125899 Update functions-deployment-technologies.md
  articles/azure-functions/functions-deployment-technologies.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#125903 Update how-to-multiple-prefixes-subnet.md
  articles/virtual-network/how-to-multiple-prefixes-subnet.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-virtual-network/svc
