Repository MicrosoftDocs/azure-docs, pull requests merged in 2025-03, with the labels that each got.

#125970 Update hyper-v-deployment-planner-overview.md
  articles/site-recovery/hyper-v-deployment-planner-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-site-recovery/svc

#125973 Resolve malformed images
  articles/app-service/tutorial-dotnetcore-sqldb-app.md
  articles/app-service/tutorial-nodejs-mongodb-app.md
  articles/app-service/tutorial-php-mysql-app.md
  articles/app-service/tutorial-python-postgresql-app-django.md
  articles/app-service/tutorial-python-postgresql-app-fastapi.md
  articles/app-service/tutorial-python-postgresql-app-flask.md
  articles/azure-cache-for-redis/cache-tutorial-functions-getting-started.md
  articles/spring-apps/basic-standard/concept-metrics.md
  includes/data-box-order-portal.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, databox/subsvc, azure-databox/svc

#125980 Fix typo
  articles/data-factory/connector-azure-file-storage.md
Labels: Change sent to author, do-not-merge, data-movement/subsvc, qualifies-for-auto-merge, azure-data-factory/svc

#125985 Fix typo
  articles/hdinsight/hadoop/apache-hadoop-on-premises-migration-motivation.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125830 Update available regions for Azure App Configuration
  articles/private-link/availability.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#125739 fix: updating spelling in subresource for managedEnvironments
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#125955 Update private-endpoint-dns.md
  articles/private-link/private-endpoint-dns.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#125975 Fix typo
  articles/azure-maps/migrate-get-imagery-metadata.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, qualifies-for-auto-merge, render/subsvc

#125987 Fix typo
  articles/stream-analytics/data-errors.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-stream-analytics/svc

#125840 Add instruction about installing 'amg' CLI extension.
  articles/managed-grafana/quickstart-managed-grafana-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-managed-grafana/svc

#126051 Fix typo
  articles/event-hubs/event-hubs-features.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-event-hubs/svc

#126039 Fix typo
  articles/azure-web-pubsub/reference-rest-api-data-plane.md
Labels: Change sent to author, ready-to-merge, azure-web-pubsub/svc, qualifies-for-auto-merge

#126034 Fix typo
  articles/azure-signalr/signalr-howto-troubleshoot-guide.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-signalr-service/svc

#126036 Fix typo
  articles/azure-web-pubsub/concept-client-protocols.md
Labels: Change sent to author, ready-to-merge, azure-web-pubsub/svc, qualifies-for-auto-merge

#126041 Fix typo
  articles/azure-web-pubsub/tutorial-pub-sub-messages.md
Labels: Change sent to author, ready-to-merge, azure-web-pubsub/svc, qualifies-for-auto-merge

#125989 Update app-service-undelete.md
  articles/app-service/app-service-undelete.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-app-service/svc

#125991 Update howto-configure-fabric-real-time-intelligence.md
  articles/iot-operations/connect-to-cloud/howto-configure-fabric-real-time-intelligence.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-data-flows/subsvc, azure-iot-operations/svc

#125997 Fix typo
  articles/sentinel/data-connector-connection-rules-reference.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc

#126056 Update tutorial-spark-pool-filesystem-spec.md
  articles/synapse-analytics/spark/tutorial-spark-pool-filesystem-spec.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, spark/subsvc, azure-synapse-analytics/svc

#125992 Update static-web-apps/front-door-manual
  articles/static-web-apps/front-door-manual.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, static-web-apps/svc, qualifies-for-auto-merge

#125184 Add missing download build artifact step
  articles/azure-functions/functions-how-to-azure-devops.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#126038 Fix typo
  articles/azure-web-pubsub/howto-connect-mqtt-websocket-client.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-web-pubsub/svc, qualifies-for-auto-merge

#126021 Fix typo
  articles/active-directory-b2c/troubleshoot.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126019 Fix typo
  articles/active-directory-b2c/session-behavior.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126033 Fix typo
  articles/azure-signalr/signalr-concept-internals.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-signalr-service/svc

#126035 Fix typo
  articles/azure-signalr/signalr-reference-data-plane-rest-api.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-signalr-service/svc

#124866 Update monitor-instances-health-check.md
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#126011 Fix typo
  articles/active-directory-b2c/identity-provider-apple-id.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126037 Fix typo
  articles/azure-web-pubsub/concept-service-internals.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-web-pubsub/svc

#125019 Update shared-query-azure-cli.md
  articles/governance/resource-graph/shared-query-azure-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-resource-graph/svc

#125538 Add the UserMessageIfVerificationControlClaimsHaveChanged StringId for the DisplayControl
  articles/active-directory-b2c/localization-string-ids.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126020 Fix typo
  articles/active-directory-b2c/technicalprofiles.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126018 Fix typo
  articles/active-directory-b2c/relyingparty.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126016 Fix typo
  articles/active-directory-b2c/partner-jumio.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126014 Fix typo
  articles/active-directory-b2c/openid-connect-technical-profile.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126008 Fix typo
  articles/active-directory-b2c/custom-policies-series-validate-user-input.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126005 Fix typo
  articles/active-directory-b2c/custom-policies-series-sign-up-or-sign-in-federation.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126015 Fix typo
  articles/active-directory-b2c/openid-connect.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#125998 Fix typo
  articles/active-directory-b2c/custom-policies-series-collect-user-input.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126001 Fix typo
  articles/active-directory-b2c/custom-policies-series-branch-user-journey.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126004 Fix typo
  articles/active-directory-b2c/custom-policies-series-overview.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126003 Fix typo
  articles/active-directory-b2c/custom-policies-series-hello-world.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126006 Fix typo
  articles/active-directory-b2c/custom-policies-series-sign-up-or-sign-in.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126010 Fix typo
  articles/active-directory-b2c/id-token-hint.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126002 Fix typo
  articles/active-directory-b2c/custom-policies-series-call-rest-api.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126013 Fix typo
  articles/active-directory-b2c/oauth2-technical-profile.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126007 Fix typo
  articles/active-directory-b2c/custom-policies-series-store-user.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126009 Fix typo
  articles/active-directory-b2c/custom-policy-reference-sso.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126040 Fix typo
  articles/azure-web-pubsub/socketio-authentication.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-web-pubsub/svc, qualifies-for-auto-merge

#125611 Clarify that certificate renewals change both key parts
  articles/app-service/configure-ssl-certificate.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125995 Add troubleshooting section to `concept-private-endpoint.md`
  articles/azure-app-configuration/concept-private-endpoint.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged

#126080 Adding more error codes & recommended actions
  articles/azure-vmware/architecture-private-clouds.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc

#125891 Azure Maps Search service version 2025-01-01
  articles/azure-maps/migrate-geodata.md
  articles/azure-maps/rest-api-azure-maps.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, aq-pr-triaged, needs-human-review, rest-api/subsvc

#125960 Update faq-oracle-database-azure.md
  articles/oracle/oracle-db/faq-oracle-database-azure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, oracle-on-azure/svc

#125888 Update oracle-database-groups-roles.md
  articles/oracle/oracle-db/oracle-database-groups-roles.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, oracle-on-azure/svc

#126085 Correct userStateChangedOn superscript
  articles/active-directory-b2c/user-profile-attributes.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged

#125493 Overwrite disclaimer
  articles/container-apps/ingress-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#126064 Update overview.md
  articles/governance/machine-configuration/overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, machine-configuration/svc

#126087 Set syntax highlighting language to Bash
  articles/operational-excellence/relocation-postgresql-flexible-server.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-database-postgresql/svc

#125372 Fix typo
  articles/deployment-environments/concept-environment-yaml.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-deployment-environments/svc

#126079 Updated lifecycle-management-overview.md
  articles/storage/blobs/lifecycle-management-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-blob-storage/svc

#124810 [vSAN Data-In-Transit Encryption] Documentation for Running Scripting Commands to enable/disable the feature.
  articles/azure-vmware/configure-vsan.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-vmware/svc

#125260 Fix typo
  articles/azure-vmware/configure-vmware-hcx.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-vmware/svc, qualifies-for-auto-merge

#126104 Minor tweaks for ExpressRoute Cross-network connectivity
  articles/expressroute/cross-network-connectivity.md
Labels: Change sent to author, do-not-merge, azure-expressroute/svc

#126096 Fix typo
  articles/api-management/api-management-howto-disaster-recovery-backup-restore.md
Labels: Change sent to author, do-not-merge, azure-api-management/svc

#126095 Fix typo
  articles/active-directory-b2c/openid-connect-technical-profile.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc

#126097 Fix typo
  articles/api-management/soft-delete.md
Labels: Change sent to author, do-not-merge, azure-api-management/svc

#126102 Fix typo
  articles/app-service/deploy-ftp.md
Labels: Change sent to author, do-not-merge, azure-app-service/svc

#125664 Enhance Encryption Coverage and Consistency in Security Recommendations
  articles/storage/blobs/security-recommendations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#126107 Update secure-single-tenant-workflow-virtual-network-private-endpoint.md
  articles/logic-apps/secure-single-tenant-workflow-virtual-network-private-endpoint.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-logic-apps/svc

#126130 Fix typo
  articles/confidential-computing/quick-create-confidential-vm-arm.md
Labels: Change sent to author, ready-to-merge, azure-virtual-machines/svc, azure-confidential-computing/subsvc

#126148 Fix typo
  articles/iot-operations/deploy-iot-ops/howto-enable-secure-settings.md
Labels: Change sent to author, ready-to-merge, azure-iot-operations/svc

#126177 Fix typo
  articles/storage/common/customer-managed-keys-configure-new-account.md
Labels: Change sent to author, ready-to-merge, azure-storage/svc, storage-common-concepts/subsvc

#126160 Fix typo
  articles/private-link/create-network-security-perimeter-cli.md
Labels: Change sent to author, ready-to-merge, azure-private-link/svc

#126162 Fix typo
  articles/private-link/create-network-security-perimeter-powershell.md
Labels: Change sent to author, ready-to-merge, azure-private-link/svc

#126116 Fix typo
  articles/azure-cache-for-redis/cache-how-to-encryption.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-cache-redis/svc

#126183 Update list of enterprise plugins - March 2025.md
  articles/managed-grafana/how-to-grafana-enterprise.md
Labels: Change sent to author, ready-to-merge, azure-managed-grafana/svc

#126186 Clarify Workload Profiles
  articles/container-apps/workload-profiles-overview.md
Labels: Change sent to author, ready-to-merge, azure-container-apps/svc

#126142 Fix typo
  articles/devtest-labs/devtest-lab-store-secrets-in-key-vault.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-devtest-labs/svc

#126172 Fix typo
  articles/sentinel/sap/sap-deploy-troubleshoot.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc

#126168 Fix typo
  articles/sap/automation/tutorial.md
Labels: Change sent to author, do-not-merge, sap-on-azure/svc, sap-automation/subsvc

#126164 Fix typo
  articles/sap/automation/configure-system.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, sap-on-azure/svc, sap-automation/subsvc

#126155 Fix typo
  articles/logic-apps/authenticate-with-managed-identity.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-logic-apps/svc

#126118 Fix typo
  articles/azure-maps/how-to-secure-sas-app.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, authentication/subsvc, aq-pr-triaged

#126091 Update iaas.md
  articles/security/fundamentals/iaas.md
Labels: Change sent to author, ready-to-merge, security/svc, aq-pr-triaged, security-fundamentals/subsvc

#126117 Fix typo
  articles/azure-cache-for-redis/managed-redis/managed-redis-how-to-encryption.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-managed-redis/svc

#126109 Update buy-vm-software-reservation.md
  articles/cost-management-billing/reservations/buy-vm-software-reservation.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc

#126179 Fix typo
  articles/storage/elastic-san/elastic-san-configure-customer-managed-keys.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-elastic-san-storage/svc

#126196 Updated: Spelling mistake for Subscribe to Event Grid
  articles/communication-services/quickstarts/advanced-messaging/whatsapp/handle-advanced-messaging-events.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, advanced-messaging/subsvc

#125514 CSS-Networking: Work with a virtual network TAP using the Azure CLI W…
  articles/virtual-network/tutorial-tap-virtual-network-cli.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-network/svc

#126072 Update accelerated-networking-mana-overview.md
  articles/virtual-network/accelerated-networking-mana-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-network/svc

#126190 added the exact time it takes for migration for this as i worked on this with a cx
  articles/expressroute/expressroute-howto-gateway-migration-portal.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-expressroute/svc

#125969 Update parameter-files.md
  articles/azure-resource-manager/bicep/parameter-files.md
Labels: Change sent to author, azure-resource-manager/svc, do-not-merge, aq-pr-triaged, bicep/subsvc

#126143 Fix typo
  articles/hdinsight/disk-encryption.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-hdinsight/svc

#126200 CSS-Networking: Azure firewall-SNAT private IP (update ips)
  articles/firewall/snat-private-range.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-firewall/svc

#126208 Update application-gateway-crs-rulegroups-rules.md
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, ready-to-merge, azure-web-application-firewall/svc

#126212 Update brokered connection example in event-hubs-tier-limits.md
  articles/event-hubs/includes/event-hubs-tier-limits.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-event-hubs/svc

#126213 Route v1 link
  articles/azure-maps/rest-api-azure-maps.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, rest-api/subsvc

#126124 Fix typo
  articles/backup/backup-postgresql-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-backup/svc

#126122 Fix typo
  articles/backup/backup-azure-data-protection-use-rest-api-backup-postgresql.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-backup/svc

#126127 Fix typo
  articles/backup/tutorial-postgresql-backup.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-backup/svc

#126210 Corrections for Service Connector -> MongoDB C# example
  articles/service-connector/includes/code-cosmosmongo-me-id.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, service-connector/svc

#126050 Fix typo
  articles/event-grid/mqtt-client-microsoft-entra-token-and-rbac.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, mqtt/subsvc, azure-event-grid/svc

#126049 Fix typo
  articles/event-grid/mqtt-client-custom-jwt.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, mqtt/subsvc, azure-event-grid/svc

#126048 Fix typo
  articles/event-grid/authenticate-with-namespaces-using-json-web-tokens.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-grid/svc

#126126 Fix typo
  articles/backup/install-mars-agent.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126100 (AzureCXP) fixes MicrosoftDocs/azure-docs#371214
  articles/backup/backup-azure-immutable-vault-how-to-manage.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126123 Fix typo
  articles/backup/backup-azure-database-postgresql-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126222 Fix typo
  articles/azure-signalr/signalr-howto-work-with-app-gateway.md
Labels: Change sent to author, ready-to-merge, azure-signalr-service/svc

#126232 Fix typo
  articles/service-bus-messaging/service-bus-sas.md
Labels: Change sent to author, ready-to-merge, azure-service-bus/svc

#126226 Fix typo
  articles/event-hubs/authorize-access-shared-access-signature.md
Labels: Change sent to author, ready-to-merge, azure-event-hubs/svc

#126067 Update functions-scale.md
  articles/azure-functions/functions-scale.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged

#126230 Fix typo
  articles/sentinel/create-custom-connector.md
Labels: Change sent to author, ready-to-merge, microsoft-sentinel/svc

#126218 Update batch-technical-overview.md
  articles/batch/batch-technical-overview.md
Labels: Change sent to author, do-not-merge, azure-batch/svc

#126219 Update quick-create-portal.md
  articles/batch/quick-create-portal.md
Labels: Change sent to author, do-not-merge, azure-batch/svc

#126225 Fix typo
  articles/event-grid/kubernetes/event-handlers.md
Labels: Change sent to author, do-not-merge, kubernetes/subsvc, azure-event-grid/svc

#126224 Fix typo
  articles/cyclecloud/how-to/running-behind-proxy.md
Labels: Change sent to author, do-not-merge, azure-cyclecloud/svc

#126227 Fix typo
  articles/load-balancer/manage-probes-how-to.md
Labels: Change sent to author, do-not-merge, azure-load-balancer/svc

#126221 Fix typo
  articles/application-gateway/for-containers/how-to-url-redirect-ingress-api.md
Labels: Change sent to author, do-not-merge, azure-appgw-for-containers/svc

#126228 Fix typo
  articles/networking/network-monitoring-overview.md
Labels: Change sent to author, do-not-merge, azure-virtual-network/svc

#126229 Fix typo
  articles/sap/workloads/disaster-recovery-overview-guide.md
Labels: Change sent to author, do-not-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#126231 Fix typo
  articles/sentinel/data-connectors/darktrace-connector-for-microsoft-sentinel-rest-api.md
Labels: Change sent to author, do-not-merge, microsoft-sentinel/svc

#126223 Fix typo
  articles/azure-web-pubsub/howto-integrate-app-gateway.md
Labels: Change sent to author, do-not-merge, azure-web-pubsub/svc

#125687 Update database-overview.md
  articles/oracle/oracle-db/database-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, oracle-on-azure/svc

#126192 Grammar fix in logic-apps-overview.md
  articles/logic-apps/logic-apps-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-logic-apps/svc

#126243 Update whats-new-sxs.md
  articles/virtual-desktop/whats-new-sxs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-desktop/svc

#126207 Update routine-maintenance.md
  articles/app-service/routine-maintenance.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-app-service/svc

#126255 Update manage-backup.md - custom domain during custom backup restore
  articles/app-service/manage-backup.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-app-service/svc

#126257 Update application-gateway-crs-rulegroups-rules.md
  articles/web-application-firewall/ag/application-gateway-crs-rulegroups-rules.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-web-application-firewall/svc

#125086 Spelling Fixes
  articles/communication-services/how-tos/call-automation/actions-for-call-control.md
  articles/communication-services/how-tos/call-automation/control-mid-call-media-actions.md
  articles/communication-services/how-tos/call-automation/custom-context.md
  articles/communication-services/how-tos/call-automation/handle-events-with-event-processor.md
  articles/communication-services/how-tos/call-automation/includes/play-audio-how-to-js.md
  articles/communication-services/how-tos/call-automation/includes/play-audio-how-to-python.md
  articles/communication-services/how-tos/call-automation/includes/play-audio-quickstart-csharp.md
  articles/communication-services/how-tos/call-automation/includes/play-audio-quickstart-java.md
  articles/communication-services/how-tos/call-automation/includes/recognize-action-quickstart-csharp.md
  articles/communication-services/how-tos/call-automation/includes/recognize-ai-action-how-to-csharp.md
  articles/communication-services/how-tos/call-automation/includes/recognize-ai-action-how-to-java.md
  articles/communication-services/how-tos/call-automation/includes/secure-webhook-endpoint-csharp.md
  articles/communication-services/how-tos/call-automation/play-action.md
  articles/communication-services/how-tos/call-automation/real-time-transcription-tutorial.md
  articles/communication-services/how-tos/call-automation/secure-webhook-endpoint.md
  articles/communication-services/how-tos/calling-sdk/callkit-integration.md
  articles/communication-services/how-tos/calling-sdk/includes/breakoutrooms/breakoutrooms-web.md
  articles/communication-services/how-tos/calling-sdk/includes/call-context/call-context-web.md
  articles/communication-services/how-tos/calling-sdk/includes/closed-captions/closed-captions-teams-interop-web.md
  articles/communication-services/how-tos/calling-sdk/includes/events/events-web.md
  articles/communication-services/how-tos/calling-sdk/includes/install-sdk/install-sdk-web.md
  articles/communication-services/how-tos/calling-sdk/includes/lobby/lobby-android.md
  articles/communication-services/how-tos/calling-sdk/includes/manage-video/manage-video-web.md
  articles/communication-services/how-tos/calling-sdk/includes/manage-video/manage-video-windows.md
  articles/communication-services/how-tos/calling-sdk/includes/spotlight/spotlight-android.md
  articles/communication-services/how-tos/calling-sdk/includes/spotlight/spotlight-ios.md
  articles/communication-services/how-tos/calling-sdk/includes/spotlight/spotlight-web.md
  articles/communication-services/how-tos/calling-sdk/includes/spotlight/spotlight-windows.md
  articles/communication-services/how-tos/cte-calling-sdk/includes/manage-calls/manage-calls-web.md
  articles/communication-services/how-tos/managed-identity.md
  articles/communication-services/how-tos/ui-library-sdk/includes/button-injection/android.md
  articles/communication-services/how-tos/ui-library-sdk/includes/button-injection/ios.md
  articles/communication-services/how-tos/ui-library-sdk/includes/pip/ios.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-communication-services/svc, calling/subsvc, needs-human-review

#126258 Update Managed Grafana Supported data sources privately.md
  articles/managed-grafana/how-to-connect-to-data-source-privately.md
Labels: Change sent to author, ready-to-merge, azure-managed-grafana/svc

#125863 Align documentation with new manifest type "Microsoft Graph App Manifest (New)" #2
  articles/active-directory-b2c/tutorial-create-user-flows.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#126263 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, oracle-on-azure/svc

#126264 Update waf-copilot.md
  articles/web-application-firewall/waf-copilot.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-web-application-firewall/svc

#126267 CSS- Networking updating NW Documentation
  articles/network-watcher/packet-capture-overview.md
Labels: Change sent to author, ready-to-merge, azure-network-watcher/svc

#126268 [ACA] .NET Aspire Dashboard -> Aspire Dashboard
  articles/container-apps/aspire-dashboard.md
  articles/container-apps/dotnet-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-container-apps/svc

#126246 Update static-web-apps-languages-runtimes.md
  includes/static-web-apps-languages-runtimes.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-static-web-apps/svc

#125890 [ACA] Add link to Azure Front Door supported regions.
  articles/container-apps/how-to-integrate-with-azure-front-door.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#126270 Typo fix
  articles/backup/backup-azure-database-postgresql.md
Labels: Change sent to author, do-not-merge, azure-backup/svc

#126274 Update oracle-database-regions.md
  articles/oracle/oracle-db/oracle-database-regions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, oracle-on-azure/svc

#126250 Added updated Service Health images
  articles/app-service/media/routine-maintenance/routine-maintenance-first-page.png
  articles/app-service/media/routine-maintenance/routine-maintenance-more.png
  articles/app-service/routine-maintenance.md
Labels: Change sent to author, ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review, app-service

#126195 Update azure-kubernetes-service-backup-troubleshoot.md
  articles/backup/azure-kubernetes-service-backup-troubleshoot.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-backup/svc

#126290 Remove extra bracket in create-private-endpoint-cli.md
  articles/private-link/create-private-endpoint-cli.md
Labels: Change sent to author, do-not-merge, azure-private-link/svc

#126284 Fix typo
  articles/storage/blobs/storage-blob-block-blob-premium.md
Labels: Change sent to author, do-not-merge, azure-blob-storage/svc

#126285 Fix typo
  articles/hdinsight/hbase/apache-hbase-migrate-hdinsight-5-1.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126282 Fix typo
  articles/hdinsight/hdinsight-hadoop-create-linux-clusters-with-secure-transfer-storage.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126281 Fix typo
  articles/hdinsight/hbase/apache-hbase-migrate-hdinsight-5-1-new-storage-account.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126283 Fix typo
  articles/hdinsight/selective-logging-analysis.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126287 Fix typo
  articles/hdinsight/selective-logging-analysis-azure-logs.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc

#126288 Fix typo
  articles/hdinsight/component-version-validation-error-arm-templates.md
Labels: Change sent to author, do-not-merge, azure-hdinsight/svc
