Repository MicrosoftDocs/azure-docs, pull requests merged in 2025-01, with the labels that each got.

#125433 fix: Update rbac.md
  articles/virtual-desktop/rbac.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#125426 Add explanation in storage-files-file-share-management-concepts.md
  includes/storage-files-file-share-management-concepts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-file-storage/svc

#125438 Fix location to use param in example
  articles/azure-resource-manager/bicep/quickstart-create-bicep-use-visual-studio-code.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, bicep/subsvc, qualifies-for-auto-merge

#125452 Fixed typo - added space after full stop.
  articles/load-balancer/load-balancer-floating-ip.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-load-balancer/svc

#125209 Update secure-file-transfer-protocol-support.md
  articles/storage/blobs/secure-file-transfer-protocol-support.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-blob-storage/svc

#125139 Update firewall-limits.md
  includes/firewall-limits.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-firewall/svc

#125185 Update waf-engine.md
  articles/web-application-firewall/ag/waf-engine.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-web-application-firewall/svc

#125402 Fix typo
  articles/load-balancer/troubleshoot-load-balancer-imds.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-load-balancer/svc

#125465 Update test-locally-with-service-bus-emulator.md
  articles/service-bus-messaging/test-locally-with-service-bus-emulator.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-service-bus/svc

#125430 Update understanding-billing.md
  articles/storage/files/understanding-billing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-file-storage/svc

#125461 Changed URL at tutorial-azure-hybrid-benefits-sql
  articles/cost-management-billing/scope-level/tutorial-azure-hybrid-benefits-sql.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, ahb/subsvc, qualifies-for-auto-merge

#125089 Update build-register-apis-vscode-extension.md
  articles/api-center/build-register-apis-vscode-extension.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-api-center/svc

#125470 docs: Typo fix
  articles/nat-gateway/nat-gateway-resource.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-nat-gateway/svc

#125460 Update hana-vm-operations.md
  articles/sap/workloads/hana-vm-operations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125466 The terminology(SQL/Hive) should be unified
  articles/synapse-analytics/overview-what-is.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, overview/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125425 Update Active Directory to Microsoft Entra at articles/private-link/private-link-service-overview.md
  articles/private-link/private-link-service-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-private-link/svc

#125469 Update signalr-howto-authorize-managed-identity.md
  articles/azure-signalr/signalr-howto-authorize-managed-identity.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-signalr-service/svc

#125180 Spelling Fixes
  includes/business-continuity-center-view-fired-alerts.md
  includes/cdn-classic-retirement.md
  includes/container-apps/sessions-tutorial-deploy-autogen.md
  includes/container-apps/sessions-tutorial-deploy.md
  includes/cost-management-billing-transform-data-before-using-large-usage-files.md
  includes/data-box-shares.md
  includes/functions-create-container-prereq.md
  includes/functions-monitor-metrics-consumption.md
  includes/iot-central-data-export-setup.md
  includes/iot-hub-howto-cloud-to-device-messaging-dotnet.md
  includes/iot-pnp-device-devguide-csharp.md
  includes/iot-pnp-multiple-components-csharp.md
  includes/iot-pnp-multiple-components-java.md
  includes/load-balancer-cross-subscription-add-nic.md
  includes/notification-hubs-enable-firebase-cloud-messaging-xamarin.md
  includes/storage-files-migration-robocopy-optimize.md
  includes/storsimple-upgrade-sharepoint-adapter.md
  includes/vpn-gateway-custom-audience.md
  includes/vpn-gateway-vwan-azure-ad-tenant.md
  includes/vpn-gateway-vwan-vpn-profile-download.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, billing/subsvc, needs-human-review, azure-vpn-gateway/svc

#125472 Update custom-policies-series-collect-user-input.md
  articles/active-directory-b2c/custom-policies-series-collect-user-input.md
Labels: Change sent to author, ready-to-merge, azure-active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#125475 'mssparktuils' is probably a typo for 'mssparkutils' again.
  articles/synapse-analytics/spark/synapse-file-mount-api.md
Labels: Change sent to author, do-not-merge, spark/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125476 'mssparktuils' is probably a typo for 'mssparkutils'.
  articles/synapse-analytics/overview-faq.yml
Labels: Change sent to author, do-not-merge, overview/subsvc, needs-human-review, azure-synapse-analytics/svc

#125468 Update storage-explorer-network.md
  articles/storage/common/storage-explorer-network.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#124718 Updated tutorial-autoscale-ps.md and redirect-external-site-cli.md
  articles/application-gateway/redirect-external-site-cli.md
  articles/application-gateway/tutorial-autoscale-ps.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#124630 Incorrect indentation on metadata
  articles/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#124629 Update solver section for ingress
  articles/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#124628 Update version of cert manager
  articles/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#124567 CSS-Networking Update configuration-listeners.md
  articles/application-gateway/configuration-listeners.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-application-gateway/svc

#124484 Update application-gateway-probe-overview.md
  articles/application-gateway/application-gateway-probe-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-application-gateway/svc

#125404 Fix typo
  articles/traffic-manager/traffic-manager-configure-weighted-routing-method.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-traffic-manager/svc

#125075 Fix generation of storage account name
  articles/dns/dns-traffic-log-how-to.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-dns/svc

#125136 Update dns-limits.md
  includes/dns-limits.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, qualifies-for-auto-merge

#125137 Update dns-limits.md
  includes/dns-limits.md
Labels: Change sent to author, ready-to-merge, azure-resource-manager/svc, aq-pr-triaged, qualifies-for-auto-merge

#125211 Update ingress-controller-letsencrypt-certificate-application-gateway.md
  articles/application-gateway/ingress-controller-letsencrypt-certificate-application-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-application-gateway/svc

#125298 Update language-customization.md
  articles/active-directory-b2c/language-customization.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#124853 Removed erroneous `)`
  articles/active-directory-b2c/tutorial-create-user-flows.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, ATCP, qualifies-for-auto-merge

#125487 Update integration-get-started.md (Typo "Azure OpenAI service"→"Azure…
  articles/sap/workloads/integration-get-started.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, sap-on-azure/svc, sap-vm-workloads/subsvc

#125271 Fix typo
  articles/iot/iot-security-architecture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot/svc

#124503 Update /MicrosoftAzureFluidRelay service tag docs
  articles/virtual-network/service-tags-overview.md
Labels: Change sent to author, ready-to-merge, virtual-network/svc, aq-pr-triaged, qualifies-for-auto-merge

#125492 Fix grammatical error
  articles/iot-operations/deploy-iot-ops/howto-prepare-cluster.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-iot-operations/svc

#125498 fixing a typo in functions-networking-options.md
  articles/azure-functions/functions-networking-options.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, qualifies-for-auto-merge

#125503 Fix typo
  articles/azure-maps/set-drawing-options.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review, web-sdk/subsvc

#125499 Fix typo
  articles/azure-fluid-relay/how-tos/test-automation.md
Labels: Change sent to author, do-not-merge, azure-fluid/svc, qualifies-for-auto-merge

#125500 Fix typo
  articles/azure-fluid-relay/how-tos/use-audience-in-fluid.md
Labels: Change sent to author, do-not-merge, azure-fluid/svc, qualifies-for-auto-merge

#125505 Fix typo
  articles/communication-services/quickstarts/rooms/includes/rooms-quickstart-call-web.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#125507 Fix typo
  articles/communication-services/quickstarts/voice-video-calling/includes/video-calling/video-calling-javascript.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#125506 Fix typo
  articles/communication-services/quickstarts/voice-video-calling/includes/get-started/get-started-javascript.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#125501 Fix typo
  articles/azure-maps/how-to-use-indoor-module.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, qualifies-for-auto-merge

#125504 Fix typo
  articles/communication-services/quickstarts/chat/includes/meeting-interop-javascript.md
Labels: Change sent to author, do-not-merge, azure-communication-services/svc, qualifies-for-auto-merge

#125502 Fix typo
  articles/azure-maps/how-to-use-npm-package.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, qualifies-for-auto-merge, web-sdk/subsvc

#125497 Update MOSP (pay-as-you-go) to EA Product transfer support Notes
  articles/cost-management-billing/manage/subscription-transfer.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, billing/subsvc

#125467 Update quickstart-feature-flag-spring-boot.md
  articles/azure-app-configuration/quickstart-feature-flag-spring-boot.md
Labels: Change sent to author, do-not-merge, azure-app-configuration/svc, aq-pr-triaged

#125516 Update high-traffic-support.md
  articles/application-gateway/high-traffic-support.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-application-gateway/svc

#125517 Update application-gateway-autoscaling-zone-redundant.md
  articles/application-gateway/application-gateway-autoscaling-zone-redundant.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-application-gateway/svc

#124981 Spelling Fixes - Wave 1
  articles/active-directory-b2c/api-connectors-overview.md
  articles/active-directory-b2c/claimsschema.md
  articles/active-directory-b2c/configure-authentication-sample-angular-spa-app.md
  articles/active-directory-b2c/custom-policy-overview.md
  articles/active-directory-b2c/custom-policy-reference-sso.md
  articles/active-directory-b2c/json-transformations.md
  articles/active-directory-b2c/jwt-issuer-technical-profile.md
  articles/active-directory-b2c/localization.md
  articles/active-directory-b2c/partner-dynamics-365-fraud-protection.md
  articles/active-directory-b2c/partner-transmit-security.md
  articles/active-directory-b2c/partner-whoiam-rampart.md
  articles/active-directory-b2c/relyingparty.md
  articles/active-directory-b2c/saml-issuer-technical-profile.md
  articles/active-directory-b2c/string-transformations.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, aq-pr-triaged, needs-human-review

#125515 [ACA] [DRAFT] Freshness pass on manage-secrets.md.
  articles/container-apps/manage-secrets.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125309 Spelling Fixes
  articles/event-grid/assign-custom-domain-name.md
  articles/event-grid/authenticate-with-namespaces-using-json-web-tokens.md
  articles/event-grid/custom-event-quickstart-portal.md
  articles/event-grid/monitor-mqtt-delivery-reference.md
  articles/event-grid/monitor-virtual-machine-changes-logic-app.md
  articles/event-hubs/event-hubs-dotnet-standard-getstarted-send.md
  articles/event-hubs/schema-registry-dotnet-send-receive-quickstart.md
  articles/external-attack-surface-management/modifying-inventory-assets.md
  articles/firewall/monitor-firewall-reference.md
  articles/firewall/premium-migrate.md
  articles/firewall/protect-azure-kubernetes-service.md
  articles/frontdoor/how-to-enable-private-link-application-gateway.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, mqtt/subsvc, azure-frontdoor/svc

#125519 [ACA] Update private endpoint how-to
  articles/container-apps/how-to-use-private-endpoint.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125521 Update expressroute-howto-circuit-portal-resource-manager.md
  articles/expressroute/expressroute-howto-circuit-portal-resource-manager.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-expressroute/svc

#125522 Update expressroute-howto-circuit-arm.md
  articles/expressroute/expressroute-howto-circuit-arm.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-expressroute/svc

#125523 Update howto-circuit-cli.md
  articles/expressroute/howto-circuit-cli.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-expressroute/svc

#125216 Update storage-account-overview.md with workload config table
  articles/storage/common/storage-account-overview.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#125534 Replacement PR: Spelling Fixes #125147
  articles/modeling-simulation-workbench/how-to-guide-private-network.md
  articles/operator-service-manager/best-practices-onboard-deploy.md
  articles/operator-service-manager/get-started-with-cluster-registry.md
  articles/operator-service-manager/get-started-with-private-link.md
  articles/operator-service-manager/manage-network-function-operator.md
  articles/operator-service-manager/quickstart-publish-containerized-network-function-definition.md
  articles/operator-service-manager/quickstart-publish-virtualized-network-function-definition.md
  articles/operator-service-manager/safe-upgrades-nf-level-rollback.md
  articles/oracle/oracle-db/oracle-database-delegated-subnet-limits.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, oracle-on-azure/svc

#125528 updated docs regarding upn enforcement
  articles/operator-nexus/howto-baremetal-bmc-ssh.md
  articles/operator-nexus/howto-baremetal-bmm-ssh.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-operator-nexus/svc

#125518 [ACA] [328214] Freshness pass on portal instructions for .NET Aspire …
  articles/container-apps/aspire-dashboard.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125490 Adding Executech and Peraton to AOSG Partners
  articles/azure-government/documentation-government-csp-list.md
Labels: Change sent to author, azure-government/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#125094 Fix typo
  articles/app-service/tutorial-connect-msi-azure-database.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125540 Update functions-bindings-error-pages.md
  articles/azure-functions/functions-bindings-error-pages.md
Labels: Change sent to author, do-not-merge, azure-functions/svc

#125486 Improved grammar and clarity.
  articles/azure-cache-for-redis/cache-overview-vector-similarity.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-cache-redis/svc

#125548 Update regions-paired.md
  articles/reliability/regions-paired.md
Labels: Change sent to author, ready-to-merge, azure/svc, qualifies-for-auto-merge, azure-availability-zones/subsvc

#125458 run-from-package update considerations
  articles/azure-functions/run-functions-from-deployment-package.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#125545 Update firebase-migration-rest.md
  articles/notification-hubs/firebase-migration-rest.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-notification-hubs/svc

#124997 Update expressroute-faqs.md
  articles/expressroute/expressroute-faqs.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-expressroute/svc

#125542 Update iot-mqtt-connect-to-iot-hub.md
  articles/iot/iot-mqtt-connect-to-iot-hub.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-iot/svc

#125553 Fix typo
  articles/active-directory-b2c/partner-trusona.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#125551 Fix typo
  articles/active-directory-b2c/partner-asignio.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#125555 Fix typo
  articles/azure-government/connect-with-azure-pipelines.md
Labels: Change sent to author, azure-government/svc, do-not-merge, qualifies-for-auto-merge

#125556 Fix typo
  articles/azure-government/documentation-government-ase-disa-cap.md
Labels: Change sent to author, azure-government/svc, do-not-merge, qualifies-for-auto-merge

#125557 Fix typo
  articles/azure-government/documentation-government-developer-guide.md
Labels: Change sent to author, azure-government/svc, do-not-merge, qualifies-for-auto-merge

#125546 Update migrate-replication-appliance.md
  articles/migrate/migrate-replication-appliance.md
Labels: Change sent to author, ready-to-merge, azure-migrate/svc, aq-pr-triaged, qualifies-for-auto-merge

#125454 Update associate-public-ip-address-vm.md
  articles/virtual-network/ip-services/associate-public-ip-address-vm.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, ip-services/subsvc, qualifies-for-auto-merge, azure-virtual-network/svc

#125561 Updated index.yml with ROBOTS: NOINDEX
  articles/hdinsight-aks/index.yml
Labels: Change sent to author, do-not-merge, aq-pr-triaged, needs-human-review, azure-hdinsight-on-aks/svc

#125488 Clean up superfluous semicolon in code snippets
  articles/active-directory-b2c/enable-authentication-angular-spa-app-options.md
  articles/azure-relay/includes/relay-hybrid-connections-node-get-started-client.md
  articles/remote-rendering/overview/features/cut-planes.md
  articles/service-bus-messaging/build-message-driven-apps-nservicebus.md
  articles/service-bus-messaging/jms-developer-guide.md
Labels: Change sent to author, do-not-merge, B2C/subsvc, aq-pr-triaged, qualifies-for-auto-merge, azure-service-bus/svc

#125549 Update dapr-component-connection.md
  articles/container-apps/dapr-component-connection.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125564 master > main
  articles/app-service/provision-resource-terraform.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-app-service/svc

#125558 Fix typo
  articles/azure-signalr/TOC.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#125491 Update about-nc2-on-azure.md
  articles/baremetal-infrastructure/workloads/nc2-on-azure/about-nc2-on-azure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, baremetal-nutanix/subsvc, azure-baremetal-infrastructure/svc

#125575 Update save-compute-costs-reservations.md
  articles/cost-management-billing/reservations/save-compute-costs-reservations.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc

#125568 Portal editing is supported in both v1 and v2 programming models
  articles/azure-functions/functions-reference-python.md
Labels: Change sent to author, ready-to-merge, azure-functions/svc, aq-pr-triaged, qualifies-for-auto-merge

#125578 [ACA] [354086] Add env vars to example ARM and YAML.
  articles/container-apps/azure-resource-manager-api-spec.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-container-apps/svc

#125577 Update provision-resource-terraform.md
  articles/app-service/provision-resource-terraform.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125574 Update session-host-update-configure.md
  articles/virtual-desktop/session-host-update-configure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#125569 AVD shc add Key Vault firewall requirement for AD domain join
  articles/virtual-desktop/session-host-update-configure.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-desktop/svc

#125573 Update session-host-update.md
  articles/virtual-desktop/session-host-update.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, azure-virtual-desktop/svc, qualifies-for-auto-merge

#125579 docs: clarify ARM support
  articles/storage/container-storage/container-storage-faq.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-storage/svc

#125583 Azure Programmable Connectivity: add full command root for az account get-access-token
  articles/programmable-connectivity/azure-programmable-connectivity-using-network-apis.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-programmable-connectivity/svc

#124891 Update solution-overview.md
  articles/sentinel/sap/solution-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, microsoft-sentinel/svc, qualifies-for-auto-merge

#125276 Fix typo
  articles/site-recovery/hyper-v-azure-common-questions.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-site-recovery/svc

#125588 Consistency updates and clarifications on application/x-www-form-urlencoded handling
  articles/logic-apps/ai-resources.md
  articles/logic-apps/handle-throttling-problems-429-errors.md
  articles/logic-apps/logic-apps-author-definitions.md
  articles/logic-apps/logic-apps-azure-resource-manager-templates-overview.md
  articles/logic-apps/logic-apps-content-type.md
  articles/logic-apps/logic-apps-control-flow-branches.md
  articles/logic-apps/logic-apps-control-flow-conditional-statement.md
  articles/logic-apps/logic-apps-control-flow-loops.md
  articles/logic-apps/logic-apps-control-flow-switch-statement.md
  articles/logic-apps/logic-apps-create-api-app.md
  articles/logic-apps/logic-apps-create-azure-resource-manager-templates.md
  articles/logic-apps/logic-apps-create-variables-store-values.md
Labels: ready-to-merge, review-team-triage, needs-human-review

#125586 Update backup-azure-mysql-flexible-server-about.md (Typo "flexible se…
  articles/backup/backup-azure-mysql-flexible-server-about.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-backup/svc

#125590 Fix grammar in storage-service-encryption.md
  articles/storage/common/storage-service-encryption.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-storage/svc, storage-common-concepts/subsvc

#125246 Update sql-data-warehouse-service-capacity-limits.md
  articles/synapse-analytics/sql-data-warehouse/sql-data-warehouse-service-capacity-limits.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, sql-dw/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125587 [ACA] [357344] Add note about support for NetApp and Blob storage.
  articles/container-apps/storage-mounts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-container-apps/svc

#125152 Update extension-based-hybrid-runbook-worker.md
  articles/automation/troubleshoot/extension-based-hybrid-runbook-worker.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-automation/svc

#125594 Update troubleshoot-vm-connectivity.md
  articles/virtual-network/troubleshoot-vm-connectivity.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-virtual-network/svc

#125566 Update default-outbound-access.md
  articles/virtual-network/ip-services/default-outbound-access.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, ip-services/subsvc, needs-human-review, azure-virtual-network/svc

#125116 Update quickstart-python-vscode.md
  articles/azure-functions/durable/quickstart-python-vscode.md
Labels: Change sent to author, do-not-merge, azure-functions/svc, aq-pr-triaged, durable/subsvc, qualifies-for-auto-merge

#125597 Fix typo
  articles/hdinsight/spark/apache-spark-intellij-tool-debug-remotely-through-ssh.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125596 Fix typo
  articles/hdinsight/hdinsight-hadoop-windows-tools.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125600 Fix typo
  articles/spring-apps/basic-standard/includes/quickstart/clean-up-resources.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-spring-apps/svc

#125601 Fix typo
  articles/spring-apps/basic-standard/quickstart-deploy-apps.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-spring-apps/svc

#125602 Fix typo
  articles/synapse-analytics/spark/intellij-tool-synapse.md
Labels: Change sent to author, do-not-merge, spark/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125599 Fix typo
  articles/service-connector/overview.md
Labels: Change sent to author, do-not-merge, service-connector/svc, qualifies-for-auto-merge

#125612 Update tutorial-php-mysql-app.md (Typo "flexible server"→"Flexible Se…
  articles/app-service/tutorial-php-mysql-app.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-app-service/svc

#125605 Clarify Throughput Unit Sharing
  articles/event-hubs/event-hubs-scalability.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-event-hubs/svc

#125616 Fix typo in "Show traffic on the map" article (Azure Maps docs)
  articles/azure-maps/map-show-traffic.md
Labels: Change sent to author, do-not-merge, azure-maps/svc, needs-human-review, web-sdk/subsvc

#125615 Update exchange-and-refund-azure-reservations.md
  articles/cost-management-billing/reservations/exchange-and-refund-azure-reservations.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, cost-management-billing/svc, reservations/subsvc, qualifies-for-auto-merge

#125621 Fix typo
  articles/databox-online/TOC.yml
Labels: do-not-merge, review-team-triage, needs-human-review

#125624 Fix typo
  articles/databox-online/azure-stack-edge-gpu-connect-powershell-interface.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125629 Fix typo
  articles/databox-online/azure-stack-edge-gpu-deploy-kubernetes-gpu-sharing.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125628 Fix typo
  articles/databox-online/azure-stack-edge-gpu-deploy-iot-edge-linux-vm.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125620 Fix typo
  articles/azure-compute-fleet/attribute-based-vm-selection.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-compute-fleet/svc

#125627 Fix typo
  articles/databox-online/azure-stack-edge-gpu-deploy-iot-edge-gpu-sharing.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125622 Fix typo
  articles/databox-online/azure-stack-edge-deploy-nvidia-deepstream-module.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125630 Fix typo
  articles/databox-online/azure-stack-edge-gpu-deploy-virtual-machine-install-gpu-extension.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125634 Fix typo
  articles/databox-online/azure-stack-edge-migrate-fpga-gpu.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125643 Fixed typo in the yaml for secret definition
  articles/iot-operations/discover-manage-assets/howto-use-media-connector.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-iot-operations/svc

#125637 Fix typo
  articles/iot/concepts-iot-device-selection.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-iot/svc

#125625 Fix typo
  articles/databox-online/azure-stack-edge-gpu-deploy-compute-acceleration.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125636 Fix typo
  articles/databox-online/azure-stack-edge-pro-r-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125632 Fix typo
  articles/databox-online/azure-stack-edge-gpu-sharing.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125638 Fix typo
  articles/openshift/howto-gpu-workloads.md
Labels: Change sent to author, do-not-merge, azure-redhat-openshift/svc, qualifies-for-auto-merge

#125635 Fix typo
  articles/databox-online/azure-stack-edge-pro-2-technical-specifications-compliance.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125623 Fix typo
  articles/databox-online/azure-stack-edge-gpu-configure-gpu-modules.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125633 Fix typo
  articles/databox-online/azure-stack-edge-gpu-troubleshoot-virtual-machine-gpu-extension-installation.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125639 Fix typo
  articles/virtual-network/accelerated-networking-overview.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-network/svc

#125631 Fix typo
  articles/databox-online/azure-stack-edge-gpu-overview-gpu-virtual-machines.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125644 Update max queue storage size
  articles/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-service-bus/svc

#125584 Clarifying Health Check Status metric behavior
  articles/app-service/monitor-instances-health-check.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-app-service/svc

#125592 'this spark pool' is a duplicate
  articles/synapse-analytics/get-started-analyze-storage.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, workspace/subsvc, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125560 Fix typo
  articles/hdinsight/hdinsight-release-notes-archive.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-hdinsight/svc

#125608 Update workspace-data-exfiltration-protection.md
  articles/synapse-analytics/security/workspace-data-exfiltration-protection.md
Labels: Change sent to author, do-not-merge, security/subsvc, aq-pr-triaged, qualifies-for-auto-merge, azure-synapse-analytics/svc

#125659 Fix typo
  articles/hdinsight/hdinsight-linux-ambari-ssh-tunnel.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-hdinsight/svc

#125647 Fix typo
  articles/databox-online/azure-stack-edge-gpu-configure-gpu-modules.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125648 Fix typo
  articles/databox-online/azure-stack-edge-gpu-technical-specifications-compliance.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-stack-edge/svc

#125654 Fix typo
  articles/active-directory-b2c/identity-provider-generic-saml-options.md
Labels: Change sent to author, do-not-merge, azure-active-directory/svc, B2C/subsvc, qualifies-for-auto-merge

#125652 Fix typo
  articles/vpn-gateway/point-to-site-vpn-client-certificate-openvpn-ios.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-vpn-gateway/svc

#125650 Fix typo
  articles/virtual-wan/point-to-site-vpn-client-cert-mac.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-wan/svc

#125653 Fix typo
  includes/vpn-gateway-vwan-config-openvpn-ios.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-vpn-gateway/svc

#125651 Fix typo
  articles/virtual-wan/point-to-site-vpn-client-certificate-openvpn-ios.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-virtual-wan/svc

#125661 Fix typo
  includes/azure-stack-edge-gateway-supported-browsers.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-databox/svc
